{% extends "base.html" %}
{% block title %}Приватность профиля{% endblock %}
{% block content %}

<div class="mt-4 main-container">
    <div class="row">
        <div class="col-md-9 order-1">
                <div class="card mb-3">
                    <div class="card-header border-bottom">
                        <h5 class="content-color-primary mb-0">Приватность профиля</h5>
                    </div>
                    <div class="card-body">
                      <div class="row mb-1 form_group_flex">
                          <label class="col-md-6">Кто видит сообщества</label>
                          <span class="col-md-6">
                            {% if private.can_see_community == 1 %}
                            <a class="menu_drop_2 pointer">Все пользователи</a>
                            <span class="collector"></span>

                            {% elif private.can_see_community == 4 %}
                            <a class="menu_drop_2 pointer">Друзья</a>
                            <span class="collector"></span>

                            {% elif private.can_see_community == 5 %}
                            <a class="menu_drop_2 pointer">Друзья и друзья друзей</a>
                            <span class="collector"></span>

                            {% elif private.can_see_community == 6 %}
                            <a class="menu_drop_2 pointer">Только я</a>
                            <span class="collector"></span>

                            {% elif private.can_see_community == 17 %}
                            <a class="menu_drop_2 pointer underline">Друзья, кроме</a>
                            <span class="collector">:
                              {% for object in request.user.get_can_see_community_include_users %}
                                <a href="{{ object.get_link }}" target="_blank">{{ object.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                              {% endfor %}
                            </span>

                            {% elif private.can_see_community == 18 %}
                            <a class="menu_drop_2 pointer underline">Некоторые друзья</a>
                            <span class="collector">:
                              {% for object in request.user..get_can_see_community_include_users %}
                                <a href="{{ object.get_link }}" target="_blank">{{ object.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                            {% endif %}
                            <div class="dropdown-menu" data-action="can_see_community" style="top: 30px;">
                              {% include 'users/settings/perm/user_perm_drop.html' %}
                            </div>
                          </span>
                      </div>

                    </div>
                </div>
        </div>

        <div class="col-md-3 order-2 left_menu">
            {% include 'desctop/users/settings/menu.html' %}
        </div>

    </div>
</div>

{% endblock %}
