{% if photo_list.is_not_empty %}
<div class="card mb-3">
    <div class="p-1">
      <a href="{% url 'community_gallery' pk=community.pk %}" class="ajax">
        <div class="media">
            <div class="media-body">
                <h6 class="content-color-primary mb-0">Фото </h6>
            </div>
            {{ community.community_info.photos }}
        </div>
      </a>
    </div>
    <div class="card-body p-1">
        <div class="row no-gutters">
          {% for object in photo_list.get_6_items %}
            <div style="flex: 0 0 33.33333%;max-width:33.33333%;padding:5px;" class="detail_photo pointer" photo-pk="{{ object.pk }}">
              <img class="image_fit_70" src="{{ object.file.url }}" alt="">
            </div>
          {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="card mb-3">
    <div class="card-header">
        <div class="media centered">
            <a href="{% url 'community_gallery' pk=community.pk %}" class="ajax">
                <div class="media-body">
                    <h6 class="content-color-primary mb-0">Добавьте фото</h6>
                </div>
            </a>
        </div>
    </div>
</div>
{% endif %}
