{% if docs_list.list_6 %}
<div class="card mb-3">
    <div class="p-1">
      <a href="{% url 'community_docs' pk=community.pk %}" class="ajax">
        <div class="media">
            <div class="media-body">
                <h4 class="content-color-primary mb-0">Документы</h4>
            </div>
            {{ docs_list.count_items }}
        </div>
      </a>
    </div>

    {% for object in docs_list.list_6 %}
    <div class="card border-top">
        <div class="card-body" style="padding:7px;">
            <div class="media">
              <svg fill="currentColor" class="svg_default" style="width:45px;margin: 0;" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none"/><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/>
              </svg>
                <div class="media-body">
                    <a href="{{ object.file.url }}" target="_blank" rel="nofollow">{{ object.title }}</a>
                    <p class="small">{{ object.file.size|filesizeformat }} | {{ object.get_mime_type }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="card mb-3">
    <div class="card-header">
        <div class="media centered">
            <a href="{% url 'community_docs' pk=community.pk %}" class="ajax">
                <div class="media-body">
                    <h4 class="content-color-primary mb-0">Добавьте документы</h4>
                </div>
            </a>
        </div>
    </div>
</div>
{% endif %}
