
{% if common_friends %}
<div class="card mb-3" style="">
    <div class="card-header">
        <div class="media">
          <a href="{% url 'community_friends' pk=community.pk %}" class="ajax">
            <div class="media-body">
                <h4 class="content-color-primary mb-0">Друзья в группе  </h4>
            </div>
          </a>
        </div>
    </div>

    {% for user in common_friends %}
    <div class="card border-top">
      <div class="card-body" style="padding:7px;">
      <div class="media">
        {% include 'desctop/generic/user/figure.html' %}
        <div class="media-body">
          {% include 'desctop/generic/user/user.html' %}
        </div>
      </div>
  </div>
    </div>
    {% endfor %}
</div>
{% endif %}
