{% extends "base.html" %}
{% block title %}Фотографии {{ user.get_full_name_genitive }}{% endblock %}
{% block content %}

<div class="container-fluid mt-3">
{% if albums_list %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="mt-1">Альбомы 
              <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=user.pk %}">
                {{ user.get_full_name_genitive }}
              </a>
            </h5>
        </div>
        <div class="col-12 col-md-4"></div>
    </div>
</div>
<div class="container mt-4">
  {% include 'user_gallery/albums.html' %}
</div>
{% else %}
<div class="container-fluid mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ album.uuid }}">
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="mt-1">У {{ user.get_full_name_genitive }} нет альбомов</h5>
        </div>
        <div class="col-12 col-md-4"></div>
    </div>
</div>
{% endif %}

  <div class="container-fluid mt-3">
      <div class="row">
          <div class="col-12">
              <h5 class="mt-1">Фотографии
                  <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=user.pk %}">
                    {{ user.get_full_name_genitive }}
                  </a>
              </h5>
              Фото: {{ album.count_photo }}
          </div>
      </div>
  </div>

  <div class="container mt-4">
        <div id="photo_load" data-link="/gallery/user/photos/{{ user.uuid }}/"></div>
  </div>
</div>
{% endblock %}
