{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %} Рекомендованные друзья{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-8">
        <br><br><br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск по возможным друзьям" aria-label="Recipient's username">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1">Рекомендованные друзья</h5>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-body px-0 py-0">

                <span id="possible_list"></span>

            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <br><br><br>


    </div>
</div>
<script>
$(document).ready(function(){
  $('#possible_list').html('').load("/users/detail/possible/" + "{{ request.user.uuid }}");
});
</script>
{% endblock %}
