{% extends "base.html" %}
{% block title %}Все пользователи{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-8">
        <br><br><br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск людей" aria-label="Recipient's username">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1">Все пользователи</h5>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-body px-0 py-0">
              <span id="all_users_load"></span>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <br><br><br>

    </div>
</div>

<script>
  ready(() => {
    var link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link.open( 'GET', '/users/detail/all_users_list/', true );
    link.onreadystatechange = function () {
      if ( link.readyState == 4 ) {
          if ( link.status == 200 ) {
              var all_users_load = document.getElementById("all_users_load");
              all_users_load.innerHTML = link.responseText;
          }
      }
  };
  link.send( null );

  var page = 2;
  var loaded = false;

  onscroll = function(){
    height = document.documentElement.clientHeight-1;
    if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
      if (loaded){return};
      var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_3.open( 'GET', '/users/detail/all_users_list/?page=' + page++, true );
      link_3.onload = function(e) {
        if (this.status == 404) {loaded = true}
    };
    link_3.send()
      link_3.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        var elem2 = document.createElement('div');
        var friends_load = document.getElementById("all-users-container");
        elem2.innerHTML = link_3.responseText;
        if(elem2.getElementsByClassName('infinite-item').length < 8){
          loaded = true
        };
        friends_load.append(elem2);
        }
      }
    }
  };

});
</script>

{% endblock %}
