{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}Все пользователи{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-8">
        <br><br><br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск людей" aria-label="Recipient's username">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1">Все пользователи</h5>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-body px-0 py-0">
              <span id="all_users_load"></span>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <br><br><br>

    </div>
</div>

<script>
$(document).ready(function(){
  $('#all_users_load').html('').load("/users/detail/all_users_list/");
});

</script>
{% endblock %}
