{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Изменение профиля{% endblock %}
{% block content %}
<div class="container mt-4 main-container">
  <div class="row">
        <div class="col-lg-7 col-md-8 col-sm-12 order-1">
            <div class="card mb-4">
                <div class="card-header border-bottom">
                    <h5 class="content-color-primary mb-0">Главная информация</h5>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-10 ">
                            <div class="form-group row">
                                <div class="col-lg-12 col-md-12">
                                    <label>Имя</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12 col-md-12">
                                    <label>Фамилия</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12 col-md-12">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12 col-md-12">
                                    <label>Телефон</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12 col-md-12">
                                    <label>Кратко о себе</label>
                                    <textarea class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label>Ссылка на Twitter</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                            </div>
                            <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label>Ссылка на VK</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                            </div>
                            <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label>Ссылка на Facebook</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                            </div>
                            <div class="form-group row">
                                        <div class="col-lg-12">
                                            <label>Ссылка на Instargam</label>
                                            <input type="text" class="form-control" placeholder="">
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-secondary">Отмена</button>
                    <button class="btn btn-success float-right">Сохранить</button>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12 order-2">
          <ul style="list-style-type:none">
            <li><a href="">Мои контакты</a></li>
            <li><a href="">Обо мне</a></li>
            <li><a href="">Внешний вид</a></li>
          </ul>
        </div>

      </div>
  </div>
{% endblock %}
