{% load staticfiles humanize %}

{% if object_list %}

<div class="infinite-container">
  <div class="stream-update">
    <a href=""><span class="new-posts"></span> Загрузить новые записи</a>
  </div>

  <span class="stream">

    <div class="card mb-4 item_fullscreen" style="display:none">
      <div id="item_loader" style="margin-top:30px"></div>
    </div>

    {% if object.article %}
        {% include 'generic/article.html' with article=article %}
    {% endif %}

    {% if object.post %}
      {% include 'generic/post.html' with post=post  %}
    {% endif %}

    {% for object in object_list %}

      {% if object.article %}
          {% include 'generic/article.html' with article=article  %}
      {% endif %}

      {% if object.post %}
          {% include 'generic/post.html' with post=post  %}
      {% endif %}

    {% endfor %}
    <div class="load col-12 col-md-12" >
      {% if page_obj.has_next %}
        <a style="display:flex;justify-content:center;" class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">
          <img src="{% static 'images/loading.gif' %}">
        </a>
      {% endif %}

    </div>

  </span>
</div>
{% else %}
<h6>  Пока ничего нет...</h6>
{% endif %}

<script src="{% static 'scripts/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/infinite.min.js' %}" type="text/javascript"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function() {
            $('.load').show();
        },
        onAfterPageLoad: function($items) {
            $('.load').hide();
        }
    });
</script>

<!--  ОТКРЫВАЕМ ОКНО И ГРУЗИМ ТУДА ОТДЕЛЬНУЮ ЗАПИСЬ ИЛИ СТАТЬЮ-->
<script>
$('.stream').on('click', '.item_fullscreen', function () {
	 var item = $(this);
	 var item_id = good.data("id");
	 $('#item_loader').item('').load("/users/item/" + item_id)
	 $('.item_fullscreen').show();
});
</script>
