{% load staticfiles humanize %}

{% if object_list %}

<div class="infinite-container">
  <div class="stream-update">
    <a href=""><span class="new-posts"></span> Загрузить новые записи</a>
  </div>

  <span class="stream">

    <div class="card mb-4 item_fullscreen" style="display:none">
      <div id="item_loader" style="margin-top:30px"></div>
    </div>

    {% if object.article %}
        {% include 'generic/article.html' with article=article %}
    {% endif %}

    {% if object.post %}
      {% include 'generic/post.html' with post=post  %}
    {% endif %}

    {% for object in object_list %}

      {% if object.article %}
          {% include 'generic/article.html' with article=article  %}
      {% endif %}

      {% if object.post %}
          {% include 'generic/post.html' with post=post  %}
      {% endif %}

    {% endfor %}
    <div class="load col-12 col-md-12" >
      {% if page_obj.has_next %}
        <a style="display:flex;justify-content:center;" class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">
          <img src="{% static 'images/loading.gif' %}">
        </a>
      {% endif %}

    </div>

  </span>
</div>
{% else %}
<h6>  Пока ничего нет...</h6>
{% endif %}

<script src="{% static 'scripts/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/infinite.min.js' %}" type="text/javascript"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function() {
            $('.load').show();
        },
        onAfterPageLoad: function($items) {
            $('.load').hide();
        }
    });
</script>

<!--  ОТКРЫВАЕМ ОТДЕЛЬНУЮ СТАТЬЮ -->
<script>
$('.stream').on('click', '.article_detail', function (e) {
	e.preventDefault();
	 var item = $(this);
	 var item_id = item.data("id");
	 $('#article_loader').html('').load("/article/detail/" + item_id)
	 $('.article_fullscreen').show();
});
</script>

<!--  ОТКРЫВАЕМ ОКНО СЛАЙДЕР ОТДЕЛЬНЫХ ЗАПИСЕЙ ИЛИ СТАТЕЙ -->
<script>
$('.stream').on('click', '.fullscreen', function () {
	 var item = $(this);
	 var item_id = item.data("id");
	 $('#item_loader').html('').load("/users/item/" + item_id)
	 $('.item_fullscreen').show();
});
</script>

<!--  ПОДГРУЖАЕМ КОММЕНТАРИИ К ЗАПИСЯМ И СТАТЬЯМ ЛЕНТЫ ПОЛЬЗОВАТЕЛЯ -->
<script>
$(".comment").on("click", function () {
	var item = $(this).closest(".infinite-item").attr("item-id");
	var url = $(this).parents(".infinite-item");
	$.ajax({
			url: '{% url "get_comment" %}',
			data: {'item': item},
			cache: false,
			beforeSend: function () {
					url.find(".load_comments").html("<span style='display:flex;justify-content: center;'><img src='/static/images/loading.gif'></span>");
			},
			success: function (data) {
				url.find(".load_comments").html(data.comments);
			}
	});
	return false;
});
</script>

<script src="/static/scripts/cockie.js" type="text/javascript"></script>
<script>
	function react() {
			var react = $(this);
			var item = $('.infinite-item').attr("item-id");
			var pk = react.data('id');
			var action  = react.data('action');
			console.log(item);
			console.log(pk);
			payload = {
					'item': item,
					'csrf_token': csrftoken
				}
			$.ajax({
					url: "{% url 'post_react' %}",
					type: 'POST',
					cache: false,
					data: payload,
					success: function(data) {
							react.find("[data-count='react']").text(data.react_count);
							$(react).addClass("text-success");
							$(react).siblings('.react_window').html('').load("/main/react_window/" + pk + "/");
					}
			});
			return false;
	}
	function un_react() {
			var un_react = $(this);
			var item = $('.infinite-item').attr("item-id");
			var pk = un_react.data('id');
			var action = un_react.data('action');
			payload = {
					'item': item,
					'csrf_token': csrftoken
				}
			$.ajax({
					url: "/main/un_react/" + pk + "/",
					type: 'POST',
					cache: false,
					data: payload,
					success: function(data) {
							un_react.find("[data-count='dislike']").text(data.react_count);
							$(un_react).addClass("text-danger");
							$(like).siblings('.react_window').html('').load("/main/react_window/" + pk + "/");
					}
			});
			return false;
	}
	// Подключение обработчиков

	$('[data-action="react"]').click(react);
	$('[data-action="un_react"]').click(un_react);
</script>
