{% extends "base.html" %}
{% load staticfiles humanize %}

{% block title %}{{ user.get_full_name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="dvizhenie.tv" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="{% if user.profile.avatar %}http://xn--b1afgj5al1e.xn--p1acf/{{ user.profile.avatar }}{% else %}{% static 'images/user.png' %}{% endif %}"/>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-12 order-1">

        {% include 'profile/card_profile.html' %}

        {% include 'profile/frends.html' %}

        {% include 'profile/communities.html' %}

        {% include 'profile/gallery.html' %}

    </div>
    <div class="col-lg-8 col-md-7 col-sm-12 order-2 ">
        <div class="card mb-4" style="padding:10px">
            <h3 class="mb-0">{{ user.get_full_name }}</h3>
            {% if user.get_online %}
              <i class="text-success">Онлайн</i>
            {% else %}
              <i style="color:#888888">Был(а) {{ user.last_activity|naturaltime }}</i>
            {% endif %}
            <br><br>
        </div>

        <div id="stat_reload"></div>

        {% include 'profile/new_post.html' %}

        <div id="lenta_reload"></div>


        </div>
    </div>
</div>

{% include 'user_scripts.html' %}

{% endblock %}
