{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Изменение профиля - главная информация{% endblock %}
{% block content %}
<div class="container mt-4 main-container">
  <div class="row">
        <div class="col-lg-7 col-md-8 col-sm-12 order-1">
          <form action="" method="post" class="contact-form">
            {% csrf_token %}
            <div class="card mb-4">
                <div class="card-header border-bottom">
                    <h5 class="content-color-primary mb-0">Главная информация</h5>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-10 ">
                          <div class="form-group row">
                              <div class="col-lg-12 col-md-12">
                                  <label>Имя</label>
                                  <input type="text"
                                         value="{{ user.first_name }}"
                                         name="first_name"
                                         id="id_first_name"
                                         class="form-control"
                                         placeholder="">
                              </div>
                          </div>
                          <div class="form-group row">
                              <div class="col-lg-12 col-md-12">
                                  <label>Фамилия</label>
                                  <input  type="text"
                                          value="{{ user.last_name }}"
                                          name="last_name"
                                          id="id_last_name"
                                          class="form-control"
                                          placeholder="">
                              </div>
                          </div>
                            <div class="form-group row">
                                <div class="col-lg-12 col-md-12">
                                    <label>Родной город</label>
                                    <input  type="text"
                                            value="{{ user.profile.sity }}"
                                            name="sity"
                                            id="id_sity"
                                            class="form-control"
                                            placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12 col-md-12">
                                    <label>Телефон</label>
                                    <input  type="numder"
                                            value="{{ user.profile.phone }}"
                                            name="phone"
                                            id="id_phone"
                                            class="form-control"
                                            placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12 col-md-12">
                                    <label>Аккаунт VK</label>
                                    <input  type="text"
                                            value="{{ user.profile.vk_url }}"
                                            name="vk_url"
                                            id="id_vk_url"
                                            class="form-control"
                                            placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12 col-md-12">
                                    <label>Аккаунт youtube</label>
                                    <input  type="text"
                                            value="{{ user.profile.youtube_url }}"
                                            name="youtube_url"
                                            id="id_youtube_url"
                                            class="form-control"
                                            placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12 col-md-12">
                                    <label>Аккаунт facebook</label>
                                    <input  type="text"
                                            value="{{ user.profile.facebook_url }}"
                                            name="facebook_url"
                                            id="id_facebook_url"
                                            class="form-control"
                                            placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12 col-md-12">
                                    <label>Аккаунт instagram</label>
                                    <input  type="text"
                                            value="{{ user.profile.instagram_url }}"
                                            name="instagram_url"
                                            id="id_instagram_url"
                                            class="form-control"
                                            placeholder="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-12 col-md-12">
                                    <label>Аккаунт twitter</label>
                                    <input  type="text"
                                            value="{{ user.profile.twitter_url }}"
                                            name="twitter_url"
                                            id="id_twitter_url"
                                            class="form-control"
                                            placeholder="">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary">Отмена</a>
                    <button type="submit" class="btn btn-success float-right">Сохранить</button>
                </div>
            </div>
          </form>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12 order-2">
          <ul style="list-style-type:none">
            <li><a href="{% url 'user_general_form' pk=request.user.id %}">Мои контакты</a></li>
            <li><a href="{% url 'user_about_form' pk=request.user.id %}">Обо мне</a></li>
            <li><a href="{% url 'user_design' pk=request.user.id %}">Внешний вид</a></li>
          </ul>
        </div>

      </div>
  </div>
{% endblock %}
