{% load staticfiles humanize liked_user %}

{% if object.post %}
<div class="card mb-4 infinite-item" item-id="{{ object.uuid }}">
  <span class="text-hide-xs">
    {% if object.get_previous_by_created %}
      <span class="prev_item">
        <img style="width: 50px;" src="{% static 'images/icons/right-24px.svg' %}" />
      </span>
    {% endif %}
    {% if object.get_next_by_created %}
      <span class="next_item">
        <img style="width: 50px;" src="{% static 'images/icons/left-24px.svg' %}" />
      </span>
    {% endif %}
  </span>
  <span class="activefullscreen_hide">Х</span>

  {% include 'generic/post.html' with post=post  %}

</div>
{% endif %}

{% if object.article %}
<div class="card mb-4 infinite-item" item-id="{{ object.uuid }}">
  <span class="text-hide-xs">
    {% if object.get_previous_by_created %}
      <span class="prev_item">
        <img style="width: 50px;" src="{% static 'images/icons/right-24px.svg' %}" />
      </span>
    {% endif %}
    {% if object.get_next_by_created %}
      <span class="next_item">
        <img style="width: 50px;" src="{% static 'images/icons/left-24px.svg' %}" />
      </span>
    {% endif %}
  </span>
  <span class="activefullscreen_hide">Х</span>

    {% include 'generic/article.html' with article=article  %}

</div>

{% endif %}

<div class="">
  {% if object.get_previous_by_created %}
    <script>
    	$('.prev_item').on('click', function () {
    		 $('#item_loader').html('').load("{% url 'user_item' pk=object.get_previous_by_created.pk %}");
    	});
    </script>

   {% endif %}
   {% if object.get_next_by_created %}

    <script>
      $('.next_item').on('click', function () {
    		 $('#item_loader').html('').load("{% url 'user_item' pk=object.get_next_by_created.pk %}");
    	});
    </script>
    {% endif %}
</div>
<script>
  $('.activefullscreen_hide').on('click', function () {
  	 $('.activefullscreen').hide();
  	 $('#item_loader').empty();
  });
</script>


<script>
$('.article_detail').on('click', function (e) {
	e.preventDefault();
	 var item = $(this);
	 var item_id = item.data("id");
	 $('#article_loader').html('').load("/article/detail/" + item_id)
	 $('.activefullscreen2').show();
});
</script>

{% include 'generic/script.html' %}
