

{% if user == request.user %}
<script>
  $( "#post_hard" ).click(function(){
    $('#post_create').html('').load("{% url 'post_add_hard_user' %}");
  })
</script>
<script>
  $( "#post_medium" ).click(function(){
    $('#post_create').html('').load("{% url 'post_add_medium_user' %}");
  })
</script>
<script>
  $( "#post_lite" ).click(function(){
    $('#post_create').html('').load("{% url 'post_add_lite_user' %}");
  });
</script>
{% endif %}

<script>
    function like() {
        var like = $(this);
        var type = like.data('type');
        var pk = like.data('id');
        var action  = like.data('action');
        var dislike = like.next();
        console.log(pk);
        $.ajax({
            pk: 10,
            url: "{% url 'post_like' 10 %}",
            type: 'POST',
            data: {
                'obj': pk
            },
            success: function(json) {
                like.find("[data-count='like']").text(json.like_count);
                dislike.find("[data-count='dislike']").text(json.dislike_count);
                $(".like").addClass("text-success");
                $(".dislike").removeClass("text-danger");
            }
        });
        return false;
    }
    function dislike() {
        var dislike = $(this);
        var type = dislike.data('type');
        var pk = dislike.data('id');
        var action = dislike.data('action');
        var like = dislike.prev();
        $.ajax({
            url: "{% url 'post_dislike' pk %}",
            type: 'POST',
            data: {
                'obj': pk
            },
            success: function(json) {
                dislike.find("[data-count='dislike']").text(json.dislike_count);
                like.find("[data-count='like']").text(json.like_count);
                $(".dislike").addClass("text-danger");
                $(".like").removeClass("text-success");
            }
        });
        return false;
    }
    // Подключение обработчиков
    $('[data-action="like"]').click(like);
    $('[data-action="dislike"]').click(dislike);
</script>
