{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="dvizhenie.tv" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://http://xn--b1afgj5al1e.xn--p1acf/{% static 'images/I.jpg' %}" />
{% endblock %}
{% block content %}{% block content2 %}
<style>
.card-body  img{
    width:100% !important;
    height:auto !important;
  }
iframe{
  width:100% !important;
}
</style>

<span class="d-sm-none">
<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4 order-1 order-lg-1">

            {% include 'profile/card_profile.html' %}

            {% include 'profile/gallery.html' %}

            {% include 'profile/frends.html' %}
        </div>
        <div class="col-12 col-md-12 col-lg-8 order-2 order-lg-2">
          <span id="post_link">
            <div class="dropdown d-inline-block">
                <a href="javascript:void(0)" class="icon-circle icon-30 dropdown-toggle caret-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons ">add</i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a id="post_lite" style="cursor:pointer" class="dropdown-item">Легкий пост</a>
                    <a id="post_medium" style="cursor:pointer" class="dropdown-item">Средний пост</a>
                    <a id="post_hard" style="cursor:pointer" class="dropdown-item">Сложный пост</a>
                </div>
            </div>
           </span>
            <div class="card mb-4">
              <span id="post_create"></span>
            </div>

            {% include 'profile/posts.html' %}


            </div>
        </div>
      </div>
</span>

<span class="container col-12 col-md-12 main-container d-none d-sm-block">
  <div class="row">
  <div class="col-lg-3 order-1"> fgf fdgety5ey54 54y 45 y4</div>

  <div class="col-lg-9">

          <div class="col-12 col-md-12 col-lg-4 order-2 order-lg-1">

              {% include 'profile/card_profile.html' %}

              {% include 'profile/gallery.html' %}

              {% include 'profile/frends.html' %}
          </div>
          <div class="col-12 col-md-12 col-lg-8 order-2 order-lg-2">
            <span id="post_link">
              <div class="dropdown d-inline-block">
                  <a href="javascript:void(0)" class="icon-circle icon-30 dropdown-toggle caret-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="material-icons ">add</i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                      <a id="post_lite" style="cursor:pointer" class="dropdown-item">Легкий пост</a>
                      <a id="post_medium" style="cursor:pointer" class="dropdown-item">Средний пост</a>
                      <a id="post_hard" style="cursor:pointer" class="dropdown-item">Сложный пост</a>
                  </div>
              </div>
             </span>
              <div class="card mb-4">
                <span id="post_create"></span>
              </div>

              {% include 'profile/posts.html' %}


              </div>
          </div>
        </div>
</span>
<script>
  $( "#post_hard" ).click(function(){
    $('#post_create').html('').load("{% url 'post_add_hard_user' %}");
  })
</script>
<script>
  $( "#post_medium" ).click(function(){
    $('#post_create').html('').load("{% url 'post_add_medium_user' %}");
  })
</script>
<script>
  $( "#post_lite" ).click(function(){
    $('#post_create').html('').load("{% url 'post_add_lite_user' %}");
  });

</script>

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}{% endblock %}
