{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="dvizhenie.tv" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://http://xn--b1afgj5al1e.xn--p1acf/{% static 'images/I.jpg' %}" />
{% endblock %}
{% block content %}
<style>
    .card-body img {
        width: 100% !important;
        height: auto !important;
    }

    iframe {
        width: 100% !important;
    }

    .stream-update {
        text-align: center;
        border-bottom: 1px solid #eeeeee;
        display: none;
    }

    .like_window,
    .dislike_window {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 25px;
        margin-bottom: 10px;
        display: flex;
        transition: 0.5s;
    }
    .comment_like_window,
    .comment_dislike_window {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        margin-bottom: 10px;
        display: flex;
        transition: 0.5s;
    }

    .like_window:hover,
    .dislike_window:hover {
        z-index: 10;
        opacity: 1;
        visibility: visible;
        background: #D6DAE1;
        color: black;
    }
    .comment_like_window:hover,
    .comment_dislike_window:hover {
        z-index: 10;
        opacity: 1;
        visibility: visible;
        background: #D6DAE1;
        color: black;
    }

    .like:hover~.like_window,
    .dislike:hover~.dislike_window{
        z-index: 10;
        opacity: 1;
        visibility: visible;
        background: #D6DAE1;
        color: black;
    }
    .like2:hover~.comment_like_window,
    .dislike2:hover~.comment_dislike_window{
        z-index: 10;
        opacity: 1;
        visibility: visible;
        background: #D6DAE1;
        color: black;
    }
</style>

<div class="row">
    <div class="col-lg-4 col-md-5 col-sm-12 order-1">

        {% include 'profile/card_profile.html' %}

        {% include 'profile/frends.html' %}

        {% include 'profile/communities.html' %}

        {% include 'profile/gallery.html' %}

    </div>
    <div class="col-lg-8 col-md-7 col-sm-12 order-2 ">
        <div class="card mb-4" style="padding:10px">
            <h3 class="mb-0">{{ user.first_name }} {{ user.last_name }}</h3>
            {% if user.profile.status %}
            <p>{{ user.profile.status }}</p>
            {% else %}
            <p>Статус не указан</p>
            {% endif %}
            <br><br>
        </div>

        {% include 'profile/stat.html' %}

        <div id="post-reload">
            {% include 'profile/post_list.html' %}
        </div>
    </div>
</div>


<script src="{% static 'scripts/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/infinite.min.js' %}" type="text/javascript"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function() {
            $('.load').show();
        },
        onAfterPageLoad: function($items) {
            $('.load').hide();
        }
    });
</script>
{% include 'user_scripts.html' %}
{% endblock %}
