{% load staticfiles %}
<script>
  var textarea = document.querySelector('.id_text');
textarea.addEventListener('keyup', function(){
  if(this.scrollTop > 0){
    this.style.height = this.scrollHeight + "px";
  }
});
</script>

<!-- ГРУЗИМ
						СТЕНУ,
						КНОПКИ ДОБАВИТЬ,
						СЧЕТЧИКИ СТАТИСТИКИ
																	ПРИ ЗАГРУЗКЕ СТРАНИЦЕ ПРОФИЛЯ-->
<script>
$(document).ready(function(){
	$('#lenta_reload').html('').load("/users/list/" + {{ user.pk }});
	$('#button_reload').html('').load("/users/profile_button/" + {{ user.pk }});
	$('#stat_reload').html('').load("/users/profile_stat/" + {{ user.pk }});
});
</script>

{% if request.user == user and  request.user.is_authenticated %}

<script>
function avatar_change_popap(avatar_change) {
	if ($(".wrapper").length == 0){
		$(avatar_change).wrapInner("<div class='wrapper'></div>");
	}
	$(avatar_change).show();
	$(avatar_change).click(function(e) {
		if ( e.target == this ) {
			if ($(avatar_change).is(':visible')) {
				$(avatar_change).hide();
			}
		}
	});
	$(avatar_change).find("button[name=avatar_close]").on("click", function() {
		if ($(".formElementError").is(':visible')) {
			$(".formElementError").remove();
		}
		$(avatar_change).hide();
	});
}
$(document).ready(function () {
	$("[data-js=avatar_change]").on("click", function() {
		avatar_change_popap($(".avatar_change"));
	});
});
</script>

<script>
var frm10 = $('#AVATAR-FORM');
frm10.submit(function () {
		$.ajax({
				type: frm10.attr('method'),
				url: "{% url 'user_avatar_form' pk=request.user.pk %}",
				data: new FormData($('form')[0]),
				contentType: false,
				cache: false,
				processData:false,
				success: function (data) {
					console.log("Все ОК")
				},
				error: function(data) {
						console.log("Все не ОК")
				}
		});
		return false;
});
</script>
{% endif %}

<script>
function new_message_popap(new_message) {
	if ($(".wrapper").length == 0){
		$(new_message).wrapInner("<div class='wrapper'></div>");
	}
	$(new_message).show();
	$(new_message).click(function(e) {
		if ( e.target == this ) {
			if ($(new_message).is(':visible')) {
				$(new_message).hide();
			}
		}
	});
	$(new_message).find("button[name=message_close]").on("click", function() {
		if ($(".formElementError").is(':visible')) {
			$(".formElementError").remove();
		}
		$(new_message).hide();
	});
}
$(document).ready(function () {
	$("[data-js=new_message]").on("click", function() {
		new_message_popap($(".new_message"));
	});
});
</script>

<script>
$('.stream').on('click', '.comment', function () {
	var item = $(this).closest(".infinite-item").attr("item-id");
	var url = $(this).parents(".infinite-item");
	$.ajax({
			url: "/main/comment/" + item + "/",
			data: {'item': item},
			cache: false,
			beforeSend: function () {
					url.find(".load_comments").html("<span style='display:flex;justify-content: center;'><img src='/static/images/loading.gif'></span>");
			},
			success: function (data) {
				url.find(".load_comments").html(data.comments);
			}
	});
	return false;
});
</script>

<script>
	$('.stream').on('click', '.repost', function () {
		var repost = $(this);
		var pk = repost.data('id');
		$.ajax({
			url: "/main/repost/" + pk + "/",
			type: 'post',
			success: function (data) {

				$.toast({
					heading: '{{ request.user.first_name }}',
					text: 'Репост выполнен успешно!',
					showHideTransition: 'fade',
					icon: 'info'
				})
			},
			error: function(data) {
				console.log("Что то пошло не так");
			}
		});
	});
</script>

<script>
function remove() {
var remove = $(this);
var pk = remove.data('id');
$.ajax({
	url: "/users/delete/" + pk + "/",
	success: function (data) {
		$(remove).parents('.card').hide();
    $('.activefullscreen').hide();
		$.toast({
				heading: '{{ request.user.first_name }}',
				text: 'статья успешно удалена!',
				showHideTransition: 'fade',
				icon: 'error'
		})
	},
	error: function(data) {
	}
});
};
$('[data-action="remove"]').click(remove);
</script>

<script>
$('.stream').on('click', '.article_detail', function (e) {
	e.preventDefault();
	 var item = $(this);
	 var item_id = item.data("id");
	 $('#article_loader').html('').load("/article/detail/" + item_id)
	 $('.article_fullscreen').show();
});
</script>

<script>
$('.stream').on('click', '.fullscreen', function () {
	 var item = $(this);
	 var item_id = item.data("id");
	 $('#item_loader').html('').load("/users/item/" + item_id)
	 $('.item_fullscreen').show();
});
</script>

<script>
function fixed() {
var fixed = $(this);
var pk = fixed.parent().data('id');
$.ajax({
	url: "/users/fixed/" + pk + "/",
	success: function (data) {
		fixed.parent().html("<span data-action='item_unfixed' style='cursor:pointer' class='dropdown-item'>Открепить</span>");
		$.toast({
				heading: '{{ request.user.first_name }}',
				text: 'Вы успешно закрепили элемент!',
				showHideTransition: 'fade',
				icon: 'info'
		})
	},
	error: function(data) {
		console.log("Что то пошло не так");
	}
});
};

function unfixed() {
var unfixed = $(this);
var pk = unfixed.parent().data('id');
$.ajax({
	url: "/users/unfixed/" + pk + "/",
	success: function (data) {
		unfixed.parent().html("<span data-action='item_fixed' style='cursor:pointer' class='dropdown-item'>Закрепить</span>");
		$.toast({
				heading: '{{ request.user.first_name }}',
				text: 'Вы успешно открепили элемент!',
				showHideTransition: 'fade',
				icon: 'info'
		})
	},
	error: function(data) {
		console.log("Что то пошло не так");
	}
});
};
$('[data-action="item_fixed"]').click(fixed);
$('[data-action="item_unfixed"]').click(unfixed);
</script>

<script>
	function react() {
			var react = $(this);
			var item = $('.infinite-item').attr("item-id");
			var pk = react.data('id');
			var action  = react.data('action');
			console.log(item);
			console.log(pk);
			payload = {
					'item': item,
					'csrf_token': csrftoken
				}
			$.ajax({
					url: "{% url 'post_react' %}",
					type: 'POST',
					cache: false,
					data: payload,
					success: function(data) {
							react.find("[data-count='react']").text(data.react_count);
							$(react).addClass("text-success");
							$(react).siblings('.react_window').html('').load("/main/react_window/" + pk + "/");
					}
			});
			return false;
	}
	function un_react() {
			var un_react = $(this);
			var item = $('.infinite-item').attr("item-id");
			var pk = un_react.data('id');
			var action = un_react.data('action');
			payload = {
					'item': item,
					'csrf_token': csrftoken
				}
			$.ajax({
					url: "/main/un_react/" + pk + "/",
					type: 'POST',
					cache: false,
					data: payload,
					success: function(data) {
							un_react.find("[data-count='dislike']").text(data.react_count);
							$(un_react).addClass("text-danger");
							$(like).siblings('.react_window').html('').load("/main/react_window/" + pk + "/");
					}
			});
			return false;
	}
	// Подключение обработчиков

	$('[data-action="react"]').click(react);
	$('[data-action="un_react"]').click(un_react);
</script>

<script>
  $('.item_fullscreen_hide').on('click', function () {
  	 $('.item_fullscreen').hide();
  	 $('#item_loader').empty();
  });
</script>

<script>
  $('.stream').on('click', '.itemComment', function () {
  button1 = $(this);
  form1 = button1.parent().parent().parent();
        $.ajax({
            url: '{% url "post_comment" %}',
            data: form1.serialize(),
            type: 'POST',
            cache: false,
            success: function(data) {
                $(".form-control-rounded").val("");
                $(".stream_comments").append(data);
            },
            error: function(data) {
              $.toast({
                  heading: '{{ request.user.first_name }}',
                  text: 'Для публикации комментария нужно написать что-нибудь и/или вставить изображение(ия)',
                  showHideTransition: 'fade',
                  icon: 'error'
              })
            },
        });
        return false;
    });
</script>
<script>
  $('.stream').on('click', '.replyComment', function () {
  button = $(this);
  form = button.parent().parent().parent().parent();
        $.ajax({
            url: '{% url "reply_comment" %}',
            data: form.serialize(),
            type: 'POST',
            cache: false,
            success: function(data) {
                $(".form-control-rounded").val("");
                $(".stream_reply_comments").append(data);
                $.toast({
                    heading: '{{ request.user.first_name }}',
                    text: 'Ответ успешно создан!',
                    showHideTransition: 'fade',
                    icon: 'link'
                })
            },
            error: function(data) {
              $.toast({
                  heading: '{{ request.user.first_name }}',
                  text: 'Для публикации ответа нужно написать что-нибудь и/или вставить изображение(ия)',
                  showHideTransition: 'fade',
                  icon: 'error'
              })
            },
        });
        return false;
    });
</script>
<script>
  $('.stream').on('click', '.replyParentComment', function () {
  button = $(this);
  form = button.parent().parent().parent().parent();
        $.ajax({
            url: '{% url "reply_comment" %}',
            data: form.serialize(),
            type: 'POST',
            cache: false,
            success: function(data) {
                $(".form-control-rounded").val("");
                $(".stream_reply_comments").append(data);
                $.toast({
                    heading: '{{ request.user.first_name }}',
                    text: 'Ответ успешно создан!',
                    showHideTransition: 'fade',
                    icon: 'link'
                })
            },
            error: function(data) {
              $.toast({
                  heading: '{{ request.user.first_name }}',
                  text: 'Для публикации ответа нужно написать что-нибудь и/или вставить изображение(ия)',
                  showHideTransition: 'fade',
                  icon: 'error'
              })
            },
        });
        return false;
    });
</script>
<script>
	$( ".stream" ).on('click', '.reply_comment', function () {
    var reply_comment_form = $(this);
    var objectUser = reply_comment_form.prev().text().trim();
    var form = reply_comment_form.next().find(".text-comment");
    form.val(objectUser + ', ');
		reply_comment_form.next().show();
    form.focus();
	})
</script>
