{% extends "base_mobile.html" %}
{% block title %}Мои фотографии{% endblock %}
{% block content %}

<div class="container main-container mt-3 pk_saver user_gallery_container" data-pk="{{ user.pk }}">

{% include 'mobile/users/photos/main_list/my_lists.html' %}

<span class="load_block">
  <div class="media mt-3" style="padding-left: 7px;">
    <form id="add_photos" class="uuid_saver" data-uuid="{{ list.uuid }}">
      {% csrf_token %}
    <h5 class="mt-1">
      {{ list.name }} ({{ list.count_items }})

        <input type="file" id="u_gallery_photo_add" name="file" style="display:none" multiple="multiple">
        <span class="pointer badge badge-light-success previous_click">Добавить фото</span>
    </h5>
    </form>
  </div>

<div class="row is_block_paginate no-gutters drag_container" id="photos_container" data-link="/gallery/user/photos/{{ user.pk }}/"></div>
</span>
</div>

{% endblock %}
