{% extends "base_mobile.html" %}
{% block title %}Мои фотографии{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/users/{{ user.pk }}/photos/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Фотографии {{ user.get_full_name_genitive }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ user.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="container main-container mt-3 pk_saver" data-pk="{{ user.pk }}" data-type="user_photos">
{% if is_user_can_see_photo_section %}
    {% include 'mobile/users/photos/main_list/lists.html' %}

<span class="load_block">
  <div class="media mt-3" style="padding-left: 7px;">
    <form class="uuid_saver" data-uuid="{{ list.uuid }}" data-pk="{{ list.pk }}">
      {% csrf_token %}
    <h5 class="mt-1">
      {{ list.name }} ({{ list.count_items }})
      {% if request.user.pk == list.creator.pk %}
        <input type="file" accept="image/*" class="add_photos_in_list" name="file" style="display:none" multiple="multiple">
        <span class="pointer badge badge-light-success previous_click">Добавить фото</span>
        <span class="pointer badge badge-light-secondary u_photo_list_edit">Изменить список</span>
      {% endif %}
      <span class="pointer badge badge-light-success u_photo_list_add">Создать список</span>
    </h5>
    </form>
  </div>

<div class="row is_paginate is_block_paginate no-gutters drag_container" id="photos_container" data-link="/gallery/user/photos/{{ user.pk }}/"></div>
</span>
{% else %}
  {% include 'desctop/generic/centered/private_page.html' %}
{% endif %}
</div>

{% endblock %}
