{% load humanize %}

  <div class="blog-header-img">
    {% if object.image %}
      <img style="width: 100%;object-fit: cover;height: 200px;" class="lazyload" data-src="{{ object.image.url }}" alt="">
    {% else %}
      <svg class="svg_default" style="width: 100%;object-fit: cover;height: 200px;" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
    {% endif %}
  </div>
  <div class="card-body">
    <h5 class="text-truncate w-100">{{ object.title }}</h5>
    <span class="small">{{ object.created|naturaltime }} | {{ object.all_visits_count }}</span>
  </div>
