{% extends "base_mobile.html" %}
{% block title %}{{ album.title }} - мой альбом{% endblock %}
{% block content %}

<div class="container mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ album.uuid }}">
  <div class="card-header p-0">
    <div class="row no-gutters">
      <div style="flex: 0 0 50%;max-width:50%;padding:5px;">
        <a class="btn btn-sm btn-warning warning-gradient ajax" href="{% url 'user_gallery' pk=user.pk %}" style="width: -webkit-fill-available;">Моя галерея</a>
      </div>
      <div style="flex: 0 0 50%;max-width:50%;padding:5px;">
        <form id="add_photos" method="post">
          {% csrf_token %}
          <input type="file" id="u_gallery_album_photo_add" name="file" style="display:none" multiple="multiple">
          <span class="btn btn-sm btn-warning warning-gradient" id="u_add_multi_photos" style="width: -webkit-fill-available;">Добавить фото</span>
        </form>
      </div>
    </div>
  </div>

  <div class="media mt-3" style="display:flex;align-items: flex-start">
    <h5 class="mt-1" style="flex: 1;">{{ album.title }}</h5>
    <span>Фото: {{ album.count_photo }}</span>
  </div>

<div id="album_photo_load" data-link="/gallery/user/album_photos/{{ user.pk }}/{{ album.uuid }}/"></div>
</div>

{% endblock %}
