{% extends "base_anon.html" %}
{% load liked_user thumbnail %}
{% block title %}Сообщества {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}
{% block content %}

<div class="row">
    <div class="col-12 col-md-8">
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск сообществ">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body"><h5 class="mt-1">Сообщества {{ user.first_name|gent }} {{ user.last_name|gent }}</h5></div>
                </div>
            </div>

            <div class="card-body px-0 py-0">
              {% if object_list %}

              <ul class="list-group" id="communities_container">
                  {% for object in object_list %}
                  <li class="list-group-item">
                      <div class="media">
                          <a href="{% url 'community_detail' pk=object.pk %}" class="ajax" data-html="#ajax">
                              <figure>
                                {% if object.get_avatar %}
                                  <img src="{{ object.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius:50px;width:50px;" alt="image">
                                {% else %}
                                  <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
                                {% endif %}
                              </figure>
                          </a>
                          <div class="media-body">
                              <a href="{% url 'community_detail' pk=object.pk %}" class="ajax">
                                  <h6 class="my-0 mt-1">{{ object.name }}
                                  </h6>
                              </a>
                              <p class="small">{{ object.count_members }} {{ object.count_members|rupluralize:"подписчик,подписчика,подписчиков" }}</p>
                          </div>
                      </div>
                  </li>
                  {% endfor %}
              </ul>

              {% else %}
              <div class="card post_empty centered">
                <div class="card-body">
                <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
                </div>
                <h6 style="margin: 20px;text-align: center;"> Пока сообществ нет...</h6>
              </div>
              {% endif %}
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <br>
        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body"><h5 class="mt-1"><a href="{% url 'all_communities' %}" class="ajax">Все группы</a></h5></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  ready(() => {
    var link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link.open( 'GET', '/users/detail/communities/{{ user.uuid }}', true );
    link.onreadystatechange = function () {
      if ( link.readyState == 4 ) {
          if ( link.status == 200 ) {
              var load_cat_list = document.getElementById("load_cat_list");
              load_cat_list.innerHTML = link.responseText;
          }
      }
  };
  link.send( null );
  });

  var page = 2;
  var loaded = false;
  onscroll = function(){
    try{
    var items = document.getElementById("communities_container");

    if(items.getElementsByClassName('list-group-item').length === (page-1)*30){
    var height = document.documentElement.clientHeight-1;
    if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
      if (loaded){return};
      var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_3.open( 'GET', '/users/{{ user.pk }}/communities/?page=' + page++, true );
      link_3.send();
      link_3.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        var elem = document.createElement('span');
        elem.innerHTML = link_3.responseText;
        if(elem.getElementsByClassName('list-group-item').length < 30){loaded = true;};
        items.append(elem);
        }
      }
    }}
  }catch{return}
  }
</script>
{% endblock %}
