{% extends "base.html" %}
{% load staticfiles humanize thumbnail liked_user %}
{% block title %}Сообщества {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}
{% block content %}

<div class="row">
    <div class="col-12 col-md-8">
        <br><br><br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск сообществ" aria-label="Recipient's username">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body"><h5 class="mt-1">Сообщества {{ user.first_name|gent }} {{ user.last_name|gent }}</h5></div>
                </div>
            </div>
            <br><br>
            <div class="card-body px-0 py-0">

              <span id="load_cat_list"></span>

            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <br><br><br>
        <button id="community_add" class="btn btn-outline-success" style="margin-bottom:15px;width:100%;" type="button">Создать сообщество</button>
        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body"><h5 class="mt-1">Популярные группы</h5></div>
                </div>
            </div>

        </div>
        <br><br><br>
        <div class="card mb-2">
        <div class="media-body">
          <a href="{% url 'all_communities' %}" class="ajax"><h5 class="mt-1">Все группы</h5></a>
        </div>
        <br><br>
        </div>
    </div>
</div>

<div class="card mb-4 community_fullscreen" style="display:none">
    <span class="community_fullscreen_hide">
      <svg class="svg_default svg_default_30" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </span>
    <div id="community_loader" style="margin-top:30px">

    </div>
</div>
<script>
    $("#community_add").click(function() {
        $('#community_loader').html('').load("/communities/add/");
        $('.community_fullscreen').show();
    })
</script>
<script>
    $('.community_fullscreen_hide').on('click', function() {
        $('.community_fullscreen').hide();
        $('#community_loader').empty();
    });
</script>
{% endblock %}
