{% extends "base.html" %}
{% block title %}Мои сообщества{% endblock %}
{% load liked_user %}
{% block content %}

<div class="row">
        <div class="col-12 col-md-8">
          <br>
          <div class="card-header p-0">
              <ul class="nav nav-tabs justify-content-center">
                  <li class="nav-item">
                      <a class="nav-link ajax" href="{% url 'communities' pk=request.user.pk %}">
                          Мои сообщества
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active show">
                          Управление
                      </a>
                  </li>
              </ul>
          </div>
          <div class="card mb-2">
                <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade active show">
                                      <div class="media-body">
                                          <h5 class="mt-1">Управление</h5>
                                      </div>
                                      <br>
                                      <div class="input-group mb-3">
                                          <input type="text" class="form-control" placeholder="Поиск по сообществам">
                                          <div class="input-group-append">
                                              <button class="btn btn-outline-link" type="button">Искать</button>
                                          </div>
                                      </div>

                                      {% if object_list %}

                                      <ul class="list-group profile_block_paginate" id="communities_container">
                                          {% for object in object_list %}
                                          <li class="list-group-item pag {% if forloop.last %}last{% endif %}">
                                              <div class="media">
                                                  <a href="{% url 'community_detail' pk=object.pk %}" class="ajax" data-html="#ajax">
                                                      <figure>
                                                        {% if object.get_avatar %}
                                                          <img src="{{ object.get_avatar }}" style="border-radius:50px;width:50px;" alt="image">
                                                        {% else %}
                                                          <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
                                                        {% endif %}
                                                      </figure>
                                                  </a>
                                                  <div class="media-body">
                                                      <a href="{% url 'community_detail' pk=object.pk %}" class="ajax">
                                                          <h6 class="my-0 mt-1">{{ object.name }}
                                                          </h6>
                                                      </a>
                                                      <p class="small">{{ object.count_members }} {{ object.count_members|rupluralize:"подписчик,подписчика,подписчиков" }}</p>
                                                  </div>
                                              </div>
                                          </li>
                                          {% endfor %}
                                      </ul>

                                      {% else %}
                                      <div class="card post_empty centered">
                                        <div class="card-body">
                                        <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
                                        </div>
                                        <h6 style="margin: 20px;text-align: center;"> Пока сообществ нет...</h6>
                                      </div>
                                      {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
    </div>

    <div class="col-12 col-md-4">
        <br>
          <button class="btn btn-outline-success user_community_create_window" style="margin-bottom:15px;width:100%;" data-pk="{{ user.pk }}">Создать сообщество</button>

          <br>
          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="{% url 'all_communities' %}" class="ajax">Все сообщества</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
          {% if user.get_visited_communities %}
          <div class="card mb-2">
              <div class="card-header">
                  <div class="media">
                      <div class="media-body">
                          <h5 class="mt-1">Последние визиты</h5>
                      </div>
                      <a class="ajax" href="{% url 'visit_communities' pk=user.pk %}" data-html="#ajax">
                          все
                      </a>
                  </div>
              </div>
              <div class="card-body px-0 py-0">
                  <ul id="staff_communities_container" data-link="/users/{{ user.pk }}/staff_communities">
                      {% for object in user.get_visited_communities %}
                      <li class="list-group-item">
                          <div class="media">
                            <a href="{% url 'community_detail' pk=object.pk %}" class="ajax">
                              <figure>
                                {% if object.get_avatar %}
                                  <img src="{{ object.get_avatar }}" style="border-radius:50px;width:50px;" alt="image">
                                {% else %}
                                  <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
                                {% endif %}
                              </figure>
                            </a>
                            <div class="media-body">
                                <a href="{% url 'community_detail' pk=object.pk %}" class="ajax">
                                    <h6 class="my-0 mt-1">{{ object.name }}</h6>
                                </a>
                                <p class="small">{{ object.count_members }} {{ object.count_members|rupluralize:"подписчик,подписчика,подписчиков" }}</p>
                            </div>
                          </div>
                      </li>
                      {% endfor %}
                  </ul>
              </div>
          </div>
          {% endif %}
    </div>
</div>

{% endblock %}
