{% load staticfiles humanize %}
<style>
.reaction_window {
  opacity: 0;
visibility: hidden;
position: absolute;
bottom: 25px;
margin-bottom: 10px;
display: flex;
transition: 0.5s;
}
.reaction_window:hover {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    background: #D6DAE1;
    color: black;
}
.react_btn:hover~.reaction_window{
    z-index: 10;
    opacity: 1;
    visibility: visible;
    background: #D6DAE1;
    color: black;
}
</style>

{% if object_list %}

<div class="infinite-container">
  <div class="stream-update">
    <a href=""><span class="new-posts"></span> Загрузить новые записи</a>
  </div>

  <span class="stream">
    <div class="card mb-4 item_fullscreen" style="display:none">
      <div id="item_loader" style="margin-top:30px;position: relative;"></div>
    </div>

    {% if object.article %}
        {% include 'generic/posts/article.html' with article=article %}
    {% endif %}

    {% if object.post %}
      {% include 'generic/posts/post.html' with post=post  %}
    {% endif %}

    {% for object in object_list %}

      {% if object.article %}
          {% include 'generic/posts/article.html' with article=article  %}
      {% endif %}

      {% if object.post %}
          {% include 'generic/posts/post.html' with post=post  %}
      {% endif %}

    {% endfor %}
    <div class="load col-12 col-md-12" >
      {% if page_obj.has_next %}
        <a style="display:flex;justify-content:center;" class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">
          <img src="{% static 'images/loading.gif' %}">
        </a>
      {% endif %}

    </div>

  </span>
</div>
{% else %}
<h6>  Пока ничего нет...</h6>
{% endif %}

<script src="{% static 'scripts/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/infinite.min.js' %}" type="text/javascript"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function() {
            $('.load').show();
        },
        onAfterPageLoad: function($items) {
            $('.load').hide();
        }
    });
</script>
{% include 'lenta/lenta_script.html' %}
