
<span class="text-hide-xs">
  {% if prev %}
    <span class="prev_item">
      <svg class="svg_default" style="width:50px;height:50px;" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
    </span>
  {% endif %}
  {% if next %}
    <span class="next_item">
      <svg class="svg_default" style="width:50px;height:50px;" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
    </span>
  {% endif %}
</span>

{% if object.post %}
  {% include 'item_user/my_post_detail.html' with post=post %}
{% endif %}

{% if object.article %}
    {% include 'item_user/my_article.html' with article=article  %}
{% endif %}

<script>
  class Listen {
    static prevLink() {document.body.querySelectorAll('.prev_item').forEach( prev => prev.addEventListener('click', Index.prev_url) );}
    static nextLink() {document.body.querySelectorAll('.next_item').forEach( prev => prev.addEventListener('click', Index.next_url) );}

    static prevLink(event){

        var url = this.getAttribute('href')
        var prev_link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
        prev_link.open( 'GET', this.getAttribute('href'), true );
        prev_link.send();
        prev_link.onreadystatechange = function () {
          if ( this.readyState == 4 && this.status == 200 ) {
            var loader = document.getElementById('item_loader');
            var elem_ = document.createElement('span');
            elem_.innerHTML = prev_link.responseText;
            loader.innerHTML = '';
            loader.append(elem_);
            Listen.prevLink();
            window.history.pushState({route: url}, "network", url);
          }
        }
    };
    static nextLink(e){

        var url = this.getAttribute('href')
        var prev_link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
        prev_link.open( 'GET', this.getAttribute('href'), true );
        prev_link.send();
        prev_link.onreadystatechange = function () {
          if ( this.readyState == 4 && this.status == 200 ) {
            var loader = document.getElementById('item_loader');
            var elem_ = document.createElement('span');
            elem_.innerHTML = prev_link.responseText;
            loader.innerHTML = '';
            loader.append(elem_);
            Listen.nextLink();
            window.history.pushState({route: url}, "network", url);
          }
        }
    }
  }

Listen.prevLink();Listen.nextLink();
</script>
<!--
{% if prev %}
  <script>
    $('.prev_item').on('click', function () {$('#item_loader').html('').load("{% url 'user_item' uuid=prev.uuid pk=user.pk %}");});
  </script>
 {% endif %}

 {% if next %}
  <script>
    $('.next_item').on('click', function () { $('#item_loader').html('').load("{% url 'user_item' uuid=next.uuid pk=user.pk %}");});
  </script>
  {% endif %}
-->
