{% load staticfiles humanize liked_user %}

<span class="text-hide-xs">
  {% if prev %}
    <span class="prev_item">
      <svg class="svg_default" style="width:50px" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
    </span>
  {% endif %}
  {% if next %}
    <span class="next_item" style="">
      <img style="width: 50px;" src="{% static 'images/icons/left-24px.svg' %}" />
    </span>
  {% endif %}
</span>

{% if object.post %}
<div class="mb-4 infinite-item" item-id="{{ object.uuid }}">
  {% include 'item_user/my_post_detail.html' %}
</div>
{% endif %}

{% if object.article %}
<div class="mb-4 infinite-item" item-id="{{ object.uuid }}">
    {% include 'item_user/my_article.html' with article=article  %}
</div>
{% endif %}

  {% if prev %}
    <script>
    	$('.prev_item').on('click', function () {$('#item_loader').html('').load("{% url 'user_item' pk=prev.pk uuid=user.uuid %}");});
    </script>
   {% endif %}

   {% if next %}
    <script>
      $('.next_item').on('click', function () { $('#item_loader').html('').load("{% url 'user_item' pk=next.pk uuid=user.uuid %}");});
    </script>
    {% endif %}
