
<span class="text-hide-xs">
  {% if prev %}
    <span class="prev_item">
      <svg class="svg_default" style="width:50px;height:50px;" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
    </span>
  {% endif %}
  {% if next %}
    <span class="next_item">
      <svg class="svg_default" style="width:50px;height:50px;" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
    </span>
  {% endif %}
</span>

{% if object.post %}
  {% include 'item_user/my_post_detail.html' %}
{% endif %}

{% if object.article %}
    {% include 'item_user/my_article.html' with article=article  %}
{% endif %}

{% if prev %}
  <script>
    on('#item_loader', 'click', '.prev_item', function() {
      var link_ = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_.open( 'GET', '{% url "user_item" uuid=prev.uuid pk=user.pk %}', true );
      link_.send();
      link_.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        loader = document.getElementById("item_loader");
        loader.innerHTML = link_.responseText;
      }
  }});
  </script>
 {% endif %}

 {% if next %}
  <script>
    on('#item_loader', 'click', '.next_item', function() {
      var link_2 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_2.open( 'GET', '{% url "user_item" uuid=next.uuid pk=user.pk %}', true );
      link_2.send();
      link_2.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        loader = document.getElementById("item_loader");
        loader.innerHTML = link_2.responseText;
      }
  }});
  </script>
  {% endif %}
