{% extends "base.html" %}
{% block title %}Моя музыка - {{ list.name }}{% endblock %}
{% load get_key %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/users/{{ user.pk }}/music_list/{{ list.uuid }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Музыка {{ user.get_full_name_genitive }} - {{ list.name }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ user.get_b_avatar }}"/>
{% endblock %}
{% block content %}
<div class="main-container mt-3" data-pk="{{ list.pk }}" data-type="user_music_list">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск музыки">
            <div class="input-group-append">
              <button class="btn border" type="button">Искать</button>
            </div>
          </div>
          <div class="card mb-2">
              <div class="card-body" style="padding: 10px;padding-bottom: 0;">
                <div style="display:flex">
                  {% if user.s_avatar %}
                    <img src="{{ user.s_avatar.url }}" style="width: 50px;height: 50px;border-radius:50px" alt="image">
                  {% else %}
                    <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 6H3v2h12V6zm0 4H3v2h12v-2zM3 16h8v-2H3v2zM17 6v8.18c-.31-.11-.65-.18-1-.18-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3V8h3V6h-5z"/></svg>
                  {% endif %}
                  <div class="media-body" style="margin-left: 10px;">
                    <h6 class="my-0 mt-1">Основной плейлист ({{ list.count_items }})</h6>
                    <p class="">Музыка
                    {% include 'desctop/generic/user/user_gen.html' %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <span class="load_block pk_saver" data-pk="{{ user.pk }}">
              <div class="media mt-3 uuid_saver" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
                <h5 class="mt-1">
                  <span class="second_list_name" data-name="{{ list.name }}">{{ list.name }}</span> ({{ list.count_items }})
                  <span class="pointer badge badge-light-success u_track_add">Добавить аудиозапись</span>
                  {% if request.user.pk == list.creator.pk and not list.is_main %}
                    <span class="pointer badge badge-light-secondary u_playlist_edit">Изменить список</span>
                    <span class="pointer badge badge-light-danger u_playlist_remove">Удалить список</span>
                  {% endif %}
                </h5>
              </div>
          <div class="card mb-2">
              <div class="card-body">
                {% if object_list %}
                    <ul data-pk="{{ list.pk }}" class="is_paginate drag_container" owner-pk="{{ user.pk }}">
                      {% for object in object_list %}
                        {% include 'desctop/users/music/track.html' %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <div class="load centered m-1 next_page_list" data-link="{% url 'user_music_list' pk=user.pk uuid=list.uuid %}?page={{ page_obj.next_page_number }}">
                          <img src="/static/images/preloader.gif">
                      </div>
                      {% endif %}
                    </ul>
                {% else %}
                <div class="card centered">
                  <div class="card-body" style="margin-top: 10%;">
                  <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'><path fill='none' d='M0 0h24v24H0z'/><path d='M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z'/></svg>
                  </div>
                  <h6 style="margin: 20px;text-align: center;">В плейлисте нет музыки. <a href="{% url 'all_music' %}" class="ajax underline">Перейдите в каталог</a> музыкальных композиций и выбирайте из сотен тысяч треков</h6>
                </div>
                {% endif %}
              </div>
          </div>
        </span>
          <script>
            {% if user|is_user_list:list.pk %}
              document.querySelector("body").classList.add('list_' + {{ list.pk }});
            {% endif %}
          </script>
</div>

{% endblock %}
