{% extends "base.html" %}
{% load get_key %}
{% block title %}{{ list.name }} - музыка {{ user.get_full_name_genitive }}{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/users/{{ user.pk }}/music_list/{{ list.uuid }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Музыка {{ user.get_full_name_genitive }} - {{ list.name }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ user.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="main-container mt-3" data-pk="{{ list.pk }}" data-type="user_music_list">
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="Поиск треков">
            <div class="input-group-append">
              <button class="btn btn-sm border" type="button">Искать</button>
            </div>
          </div>
          <div class="card mb-2">
              <div class="card-body" style="padding: 10px;padding-bottom: 0;">
                <div style="display:flex">
                  {% if user.s_avatar %}
                    <img src="{{ user.s_avatar.url }}" style="width: 50px;height: 50px;border-radius:50px" alt="image">
                  {% else %}
                    <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 6H3v2h12V6zm0 4H3v2h12v-2zM3 16h8v-2H3v2zM17 6v8.18c-.31-.11-.65-.18-1-.18-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3V8h3V6h-5z"/></svg>
                  {% endif %}
                  <div class="media-body" style="margin-left: 10px;">
                    <h6 class="my-0 mt-1">Основной плейлист ({{ list.count_items }})</h6>
                    <p class="">Музыка
                    {% include 'desctop/generic/user/user_gen.html' %}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <span class="load_block">

            <div class="media mt-3 uuid_saver" data-pk="{{ list.pk }}" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
              <h5 class="mt-1">
                {{ list.name }} ({{ list.count_items }})

                {% if list|is_user_can_add_list:request.user.pk %}
                  <span class="pointer badge badge-light-success copy_user_music_list">Добавить список в коллекцию</span>
                {% elif request.user.pk in list.get_users_ids %}
                  <span class="pointer badge badge-light-danger uncopy_user_music_list">Удалить список из коллекции</span>
                {% endif %}
                <span class="pointer badge badge-light-warning u_close_playlist">Закрыть список</span>
              </h5>
            </div>
          <div class="card mb-2">
              <div class="card-body">
                {% if object_list %}
                    <ul data-pk="{{ list.pk }}" class="is_paginate is_stat_list" data-pk="{{ list.pk }}" data-type="{% if list.community %}community{% else %}user{% endif %}_music_list">
                      {% for object in object_list %}
                      <li class="pag" style="padding-bottom:10px">
                          <div class="media" music-counter="{{ forloop.counter0|add:page_obj.start_index }}" style="align-items: unset;position: relative;">
                              <figure>
                                <a class="pointer music_list_item">
                                  {% if object.image %}
                                    <img style="width:40px;heigth:auto" src="{{ object.image.url }}" />
                                  {% else %}
                                    <svg fill="currentColor" style="width:40px;heigth:40px" class='svg_default' viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"/></svg>
                                  {% endif %}
                                </a>
                              </figure>
                              <div class="media-body" style="line-height: 0.4;">
                                  <h6 class="music_list_item pointer" style="width: 84%;overflow: hidden;"><a>{{ object.title }}</a></h6>
                                  {% if object.genre %}
                                  <a class="ajax" href="{% url 'genre_music' pk=object.genre.pk %}">{{ object.genre }}</a>
                                  {% endif %}
                                    <span class='span_btn' style="float:right;margin-top: -25px;display:flex" data-pk="{{ object.pk }}">
                                      {% include 'desctop/generic/music/add_drop.html' %}
                                      <div class="dropdown" style="position: inherit;">
                                        <a class="btn_default drop pointer">
                                          <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
                                        </a>
                                          <div class="dropdown-menu dropdown-menu-right" style="top: 25px;">
                                              <span class="dropdown-item u_ucm_track_repost">Поделиться</span>
                                              <span class="dropdown-item track_close">Закрыть</span>
                                              <span class="dropdown-item copy_link">Копировать ссылку</span>
                                          </div>
                                      </div>
                                    </span>
                              </div>
                          </div>
                      </li>
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <div class="load centered m-1 next_page_list" data-link="{% url 'user_music_list' pk=user.pk uuid=list.uuid %}?page={{ page_obj.next_page_number }}">
                          <img src="/static/images/preloader.gif">
                      </div>
                      {% endif %}
                    </ul>

                {% else %}
                  {% include 'desctop/users/music/main_list/no_tracks.html' %}
                {% endif %}
              </div>
          </div>
        </span>
          <script>
            {% if user|is_user_list:list.pk %}
              document.querySelector("body").classList.add('list_' + {{ list.pk }});
            {% endif %}
          </script>
</div>

{% endblock %}
