{% extends "base.html" %}
{% load staticfiles humanize thumbnail liked_user %}

{% block title %}Все сообщества{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-8">
        <br><br><br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск сообществ" aria-label="Recipient's username">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1">Все сообщества</h5>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-body px-0 py-0">
                <ul class="list-group border-top border-bottom list-group-flush">
                    {% for object in object_list %}
                    <li class="list-group-item">
                        <div class="media">
                            <figure>
                                {% if object.get_avatar %}
                                <img src="{{ object.get_avatar|thumbnail_url:'avatar' }}" style="border-radius:50px;width:50px;" alt="image">
                                {% else %}
                                <img class="thumb" src="{% static 'images/icons/group-24px.svg' %}" />
                                {% endif %}
                            </figure>
                            <div class="media-body">
                                <a href="{% url 'community_detail' pk=object.pk %}" class="ajax">
                                    <h6 class="my-0 mt-1">{{ object.name }}
                                    </h6>
                                </a>
                                <p class="small">{{ object.count_members }} {{ object.count_members|rupluralize:"подписчик,подписчика,подписчиков" }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <br><br><br>
        {% if request.user.is_authenticated %}
        <button id="community_add" class="btn btn-outline-success" style="margin-bottom:15px;width:100%;" type="button">
            Создать сообщество
        </button>
        {% endif %}
        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1">Популярные группы</h5>
                    </div>
                </div>
            </div>
            <br><br>
        </div>

    </div>
</div>

<div class="card mb-4 community_fullscreen" style="display:none">
    <span class="community_fullscreen_hide">
        <img style="width:35px" src="{% static 'images/icons/close-24px.svg' %}" />
    </span>
    <div id="community_loader" style="margin-top:30px">

    </div>
</div>
<script>
    $("#community_add").click(function() {
        $('#community_loader').html('').load("/communities/add/");
        $('.community_fullscreen').show();
    })
</script>
<script>
    $('.community_fullscreen_hide').on('click', function() {
        $('.community_fullscreen').hide();
        $('#community_loader').empty();
    });
</script>
{% endblock %}
