

{% if member %}
<div class="btn-group">
    <button type="button" class="btn btn-sm btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Вы подписаны
    </button>
    <div class="dropdown-menu" x-placement="bottom-start">
        <a href="#" class="dropdown-item member_delete" href="">Отписаться</a>
    </div>
</div>
{% endif %}

{% if object.is_public and not member %}
<a href="#" class="btn btn-success success-gradient ml-2 member_create">Подписаться</a>
{% endif %}

{% if object.is_closed and not member %}
<a class="btn btn-primary primary-gradient ml-2">Подать заявку</a>
{% endif %}


<script>
  $('.member_create').on('click', function() {
    console.log("clicked!");
  $.ajax({
      url: '{% url "add_community_member" object.pk %}',
      success: function () {
        $('#ajax').html('').load("{% url 'community_detail_reload' object.pk %}");
        $('title').text('{{ object.name }}');
      }
  });
  });
</script>
<script>
  $('.member_delete').on('click', function() {
    console.log("clicked!");
  $.ajax({
      url: '{% url "delete_community_member" object.pk %}',
      success: function () {
        $('#ajax').html('').load("{% url 'community_detail_reload' object.pk %}");
        $('title').text('{{ object.name }}');
      }
  });
  });
</script>
