{% extends "base.html" %}
{% load staticfiles humanize %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}

{% include 'community/navbar.html' %}

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">

          {% include 'community/info.html' %}

          {% if not object.is_private or request.user.is_member_of_communities %}
            {% include 'community/new_post.html' %}

            <div id="lenta_load"></div>

          {% else %}
            Только подписчики сообщества могут просматривать записи
          {% endif %}
        </div>
        <div class="col-12 col-md-12 col-lg-4">

            {% if membersheeps %}
            {% include 'community/membersheeps.html' %}
            {% endif %}

            {% include 'community/forum.html' %}

        </div>
    </div>

</div>

<script>
    $(document).ready(function() {
        $('#lenta_load').html('').load("/communities/list/" + {{ community.pk }});

        //  $('#button_load').html('').load("/communities/button/" + {{ community.pk }});
        //  	$('#stat_load').html('').load("/communities/profile_stat/" + {{ community.pk }});
    });
</script>
{% endblock %}
