{% extends "base.html" %}
{% load staticfiles humanize %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
<div class="container-fluid">
            <div class="row align-items-center has-background-img min-height-300">
                <figure class="background-img pink-gradient">
                  {% if object.cover %}
                    <img src="{{ object.cover.url }}" alt="" class="">
                  {% else %}
                    <img src="{% static 'images/news_small1.jpg' %}" alt="" class="">
                  {% endif %}
                </figure>
                <div class="container">
                    <div class="row align-items-center ">
                        <div class="col-12 col-sm-auto text-center">
                            <a href="profile.html ">
                                <figure class="avatar avatar-150 mx-auto my-3">
                                  {% if object.avatar %}
                                    <img src="{{ object.avatar.url }}" alt="" class="">
                                  {% else %}
                                    <img src="{% static 'images/no_img.png' %}" alt="" class="">
                                  {% endif %}
                                </figure>
                            </a>
                        </div>
                        <div class="col-12 col-sm text-center text-sm-left text-white">
                            <h3 class="mb-0">{{ object.name }}</h3>
                            <p class="">текст</p>
                            <p class="small"> +0 0000 0000 0000 <span class="mx-2">|</span> info@maxartkiller.in</p>
                        </div>
                        <div class="text-center text-sm-right col-12 col-sm-auto mb-3">
                            <a class="btn btn-success success-gradient">Подписаться</a>
                            <a class="btn btn-primary primary-gradient ml-2">Подать заявку</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container mt-4 main-container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8">
                    <div class="card mb-4">
                        <div class="card-header border-bottom">
                            <div class="media">
                                <div class="icon-circle icon-40 bg-light-primary mr-3">
                                  <img style="width:22px;" src="{% static 'images/icons/chat-24px.svg' %}" />
                                </div>
                                <div class="media-body">
                                    <h6 class="my-0 content-color-primary">Skills</h6>
                                    <p class="small mb-0">Head of User Experience design</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush w-100">
                                <li class="list-group-item px-0">
                                    <div class="media experience">
                                        <div class="icon-circle icon-40 bg-light-secondary mr-3">
                                          <img style="width:22px;" src="{% static 'images/icons/chat-24px.svg' %}" />
                                        </div>
                                        <div class="media-body">
                                            <h6 class="my-0 content-color-primary">User experience Design</h6>
                                            <p class="mb-2"><small class="content-color-secondary">Master in interaction design</small></p>
                                            <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item px-0">
                                    <div class="media experience">
                                        <div class="icon-circle icon-40 bg-light-secondary mr-3">
                                          <img style="width:22px;" src="{% static 'images/icons/chat-24px.svg' %}" />
                                        </div>
                                        <div class="media-body">
                                            <h6 class="my-0 content-color-primary">UI design</h6>
                                            <p class="mb-2"><small class="content-color-secondary">Bechlore from Standform Univercity</small></p>
                                            <p>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    {% include 'lnk/new_post.html' %}
                </div>
                <div class="col-12 col-md-12 col-lg-4">

                    <div class="media">
                        <div class="media-body">
                            <h4 class="content-color-primary mb-0">Подписчики </h4>
                        </div>
                        <a href="javascript:void(0);" class="">
                            Все
                        </a>
                    </div>
                    <br>

                    {% if membersheeps %}
                      {% include 'lnk/membersheeps.html' %}
                    {% endif %}

                    <div class="card mb-4 mt-4">
                        <div class="card-header">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="content-color-primary mb-0">Latest Upcomming </h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-center">
                            <div class="row align-items-center no-gutters">
                                <a href="profile.html " class="col">
                                    <figure class="avatar avatar-120 mx-auto mb-3">
                                        <img src="img/user1.png" alt="">
                                    </figure>
                                </a>
                            </div>

                            <h5 class="card-title mb-2 header-color-primary text-center">John McMohan</h5>
                            <h6 class="card-subtitle mb-3 header-color-secondary text-center">South Africa</h6>
                            <a class="btn btn-sm btn-success success-gradient">+ Friend</a><a class="btn btn-sm btn-warning warning-gradient ml-2">Follow</a>
                        </div>
                    </div>
                    <div class="media mt-4">
                        <div class="media-body">
                            <h4 class="content-color-primary mb-0">Upcomming Events </h4>
                        </div>
                        <a href="javascript:void(0);" class="">
                            View All
                        </a>
                    </div>
                    <br>
                    <ul class="list-group border-bottom list-group-flush">
                        <li class="list-group-item link-media">
                            <a href="" class="media">
                                <div class="icon-circle icon-40 bg-light-primary mr-3">
                                    <i class="material-icons">date_range</i>
                                </div>
                                <div class="media-body">
                                    <h6 class="my-0 content-color-primary">20-11-2018</h6>
                                    <p class="small mb-2">New York, US</p>
                                    <p>Musical night festival seasons, Drama and comedy cultural family show.</p>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item link-media">
                            <a href="" class="media">
                                <div class="icon-circle icon-40 bg-light-primary mr-3">
                                    <i class="material-icons">date_range</i>
                                </div>
                                <div class="media-body">
                                    <h6 class="my-0 content-color-primary">20-11-2018</h6>
                                    <p class="small mb-2">New York, US</p>
                                    <p>Musical night festival seasons, Drama and comedy cultural family show.</p>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item link-media">
                            <a href="" class="media">
                                <div class="icon-circle icon-40 bg-light-primary mr-3">
                                    <i class="material-icons">date_range</i>
                                </div>
                                <div class="media-body">
                                    <h6 class="my-0 content-color-primary">20-11-2018</h6>
                                    <p class="small mb-2">New York, US</p>
                                    <p>Musical night festival seasons, Drama and comedy cultural family show.</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- content page ends -->

        </div>

{% endblock %}
