{% load staticfiles %}

<span class="community_fullscreen_hide">
  <img style="width:35px" src="{% static 'images/icons/close-24px.svg' %}" />
</span>

<div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
  <form action="" id="FORM-COMMUNITY" method="post">
                    <div class="card mb-4">
                        <div class="card-header border-bottom">
                            <h5 class="content-color-primary mb-0">Создание сообщества</h5>
                        </div>
                        <div class="card-body">
                            <br>
                            <hr>
                            <div class="row ">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group ">
                                        <label>Название</label>
                                        <input type="text" name="name" class="form-control" id="id_name">
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group ">
                                      <label>Категория</label>
                                      <select class="form-control" id="sub_category" data-live-search="true" tabindex="-1" aria-hidden="true">
                                        {% for object in categories %}
                                        <option value="">Выберите категорию</option>
                                        <option data-order="{{ object.order }}" value="{{ object.order }}">{{ object.name }}</option>
                                        {% endfor %}
                                      </select>
                                      <div id="subcat"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group ">
                                        <label>Тип открытости</label>
                                        <select class="form-control" id="id_type" name="type" data-live-search="true" tabindex="-1" aria-hidden="true">
                                          <option value="P">Публичное</option>
                                          <option value="T">Частное</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <button class="btn btn-secondary remove_form">Отмена</button>
                            <button class="btn btn-success float-right">Создать</button>
                        </div>
                    </div>
                  </form>

                </div>

<script>
    var frm_com = $('#FORM-COMMUNITY');
    $('#FORM-COMMUNITY').submit(function(e) {
        e.preventDefault();
        $.ajax({
            type: frm_com.attr('method'),
            url: "{% url 'add_community' %}",
            data: frm_com.serialize(),
            success: function(data) {
                    $('.community_fullscreen').hide();
                    $('#community_loader').empty();
                    $('#ajax').html('').load("/communities/gygyg/");
            },
            error: function(data) {
              $.toast({
                  heading: '{{ request.user.first_name }}',
                  text: 'Для создания сообщества нужно заполнить название, категорию и тип открытости будущего сообщества',
                  showHideTransition: 'fade',
                  icon: 'error'
              })
            }
        });
        return false;
    });
</script>
<script>
  $('#sub_category').change(function(){
    var val = $(this).val();
    if (val == ''){
      $('#subcat').empty();
    }else{
    $('#subcat').html('').load("/communities/cat/" + val + "/");
  };
  })
</script>
<script>
    $(".remove_form").click(function() {
        $('.community_fullscreen').hide();
        $('#community_loader').empty();
    });
</script>
<script>
    $('.community_fullscreen_hide').on('click', function() {
        $('.community_fullscreen').hide();
        $('#community_loader').empty();
    });
</script>
