{% extends "base.html" %}
{% load staticfiles humanize %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}

{% if not object.is_private or member %}
{% include 'community/navbar.html' %}

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">

          {% if object.is_public or member %}
            {% include 'community/new_post.html' %}

            <div id="lenta_load"></div>

          {% else %}
            Только подписчики сообщества могут просматривать записи
          {% endif %}
        </div>
        <div class="col-12 col-md-12 col-lg-4">

            {% if membersheeps %}
            {% include 'community/membersheeps.html' %}
            {% endif %}

            {% include 'community/forum.html' %}

        </div>

    </div>
</div>
{% else %}
<div class="container mt-4 main-container">
    <div class="row" style="margin-top: 100px;">
      <p style="text-align: center;">Это приватное сообщество.</p>
      <br>
      <p style="text-align: center;">Доступ возможен только по приглашению администрации сообщества.</p>
    </div>
</div>
{% endif %}

<script>
    $(document).ready(function() {
        $('#lenta_load').html('').load("/communities/list/" + {{ community.pk }});

        //  $('#button_load').html('').load("/communities/button/" + {{ community.pk }});
        //  	$('#stat_load').html('').load("/communities/profile_stat/" + {{ community.pk }});
    });
</script>
{% endblock %}
