{% extends "base_reload.html" %}
{% load staticfiles humanize %}

{% block title %}{{ object.name }}{% endblock %}

<div class="container-fluid">
    <div class="row align-items-center has-background-img min-height-300">
        <figure class="background-img pink-gradient">
            {% if object.cover %}
            <img src="{{ object.cover.url }}" alt="" class="">
            {% else %}
            <img src="{% static 'images/news_small1.jpg' %}" alt="" class="">
            {% endif %}
        </figure>
        <div class="container">
            <div class="row align-items-center ">
                <div class="col-12 col-sm-auto text-center">
                    <a>
                        <figure>
                            {% if object.avatar %}
                            <img style="width:50px;border-radius:50px;" src="{{ object.avatar.url }}" alt="" class="">
                            {% else %}
                            <img style="width:50px;border-radius:50px;" src="{% static 'images/icons/group-24px.svg' %}" />
                            {% endif %}
                        </figure>
                    </a>
                </div>
                <div class="col-12 col-sm text-center text-sm-left text-white">
                    <h3 class="mb-0">{{ object.name }}</h3>
                    <p class="">текст</p>
                    <p class="small"> +0 0000 0000 0000 <span class="mx-2">|</span> info@maxartkiller.in</p>
                </div>
                <div class="text-center text-sm-right col-12 col-sm-auto mb-3">
                    <a class="btn btn-success success-gradient">Подписаться</a>
                    <a class="btn btn-primary primary-gradient ml-2">Подать заявку</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
            <div class="card mb-4">
                <div class="card-header border-bottom">
                    <div class="media">
                        <div class="icon-circle icon-40 bg-light-primary mr-3">
                            <img style="width:22px;" src="{% static 'images/icons/chat-24px.svg' %}" />
                        </div>
                        <div class="media-body">
                            <h6 class="my-0 content-color-primary">Статус</h6>
                            <p>
                                {% if object.status %}
                                {{ object.status }}
                                {% else %}
                                Добавьте статус сообщества
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush w-100">
                        <li class="list-group-item px-0">
                            <div class="media experience">
                                <div class="icon-circle icon-40 bg-light-secondary mr-3">
                                    <img style="width:22px;" src="{% static 'images/icons/chat-24px.svg' %}" />
                                </div>
                                <div class="media-body">
                                    <h6 class="my-0 content-color-primary">Описание</h6>
                                    <p>
                                        {% if object.description %}
                                        {{ object.description }}
                                        {% else %}
                                        Добавьте описание сообщества
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item px-0">
                            <div class="media experience">
                                <div class="icon-circle icon-40 bg-light-secondary mr-3">
                                    <img style="width:22px;" src="{% static 'images/icons/chat-24px.svg' %}" />
                                </div>
                                <div class="media-body">
                                    <h6 class="my-0 content-color-primary">Правила</h6>
                                    <p>
                                        {% if object.rules %}
                                        {{ object.rules }}
                                        {% else %}
                                        Добавьте правила сообщетсва
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            {% include 'lnk/new_post.html' %}

            <div id="lenta_load"></div>

        </div>
        <div class="col-12 col-md-12 col-lg-4">

            {% if membersheeps %}
            {% include 'lnk/membersheeps.html' %}
            {% endif %}
            <div class="media mt-4">
                <div class="media-body">
                    <h4 class="content-color-primary mb-0">Обсуждения </h4>
                </div>
                <a href="" class="">
                    Все
                </a>
            </div>
            <br>
            <ul class="list-group border-bottom list-group-flush">
                <li class="list-group-item link-media">
                    <a href="" class="media">
                        <div class="media-body">
                            <h6 class="my-0 content-color-primary">20-11-2018</h6>
                            <p class="small mb-2">New York, US</p>
                            <p>Musical night festival seasons, Drama and comedy cultural family show.</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>

<script>
    $(document).ready(function() {
        $('#lenta_load').html('').load("/communities/list/" + {{ community.pk }});

        //  $('#button_load').html('').load("/communities/button/" + {{ community.pk }});
        //  	$('#stat_load').html('').load("/communities/profile_stat/" + {{ community.pk }});
    });
</script>
