
<div class="col-md-8 col-lg-6 col-xl-5 mx-auto" style="display: flex; flex-flow: column nowrap; align-items: center; align-content: center; justify-content: center; margin-top: 70px;">
  <svg class="svg_info svg_big" style="margin-bottom:5px" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>

  <br><br><br>
  <p style="font-size: 25px;">Группа создаётся...</p>
  <br>

</div>

<script>
  var link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
  link.open( 'GET', "/communities/reload/" + {{ new_url }} + "/", true );
  link.onreadystatechange = function () {
    if ( link.readyState == 4 ) {
        if ( link.status == 200 ) {
            var com_load = document.getElementById("ajax");
            com_load.innerHTML = link.responseText;
        }
    }
};

</script>
