{% extends "base_reload.html" %}
{% load staticfiles humanize %}
{% block title %}Общество создается{% endblock %}


<div class="col-md-8 col-lg-6 col-xl-5 mx-auto" style="display: flex;
                                                       flex-flow: column nowrap;
                                                       align-items: center;
                                                       align-content: center;
                                                       justify-content: center;
                                                       margin-top: 70px;">

  <img style="width:120px;margin-bottom:5px" src="{% static 'images/icons/group-24px.svg' %}" />

  <br><br><br>
  <p style="font-size: 25px;">Группа создаётся...</p>
  <br>

</div>


<script>
function Stells() {
  $('#ajax').html('').load("/communities/reload/" + {{ new_url }} + "/");
}
setTimeout(Stells, 3000);
</script>
