{% extends "base.html" %}
{% load staticfiles humanize %}

{% block title %}Подписчики сообщества "{{ community.name }}"{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-8">
        <br><br><br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск подписчиков" aria-label="Recipient's username">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1">Подписчики сообщества
                                         <a class="ajax" href="{% url 'community_detail' pk=community.pk %}">
                                           {{ community.name }}
                                         </a>
                        </h5>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-body px-0 py-0">
                <ul class="list-group border-top border-bottom list-group-flush">
                    {% for object in object_list %}
                    <li class="list-group-item">
                        <div class="media">
                            <figure>
                                {% if object.user.profile.avatar %}
                                  <img src="{{ object.user.profile.avatar.url }}" style="border-radius:50px;width:50px;" alt="image">
                                {% else %}
                                  <img style="border:#6C757D solid 1px;border-radius:50px;padding:5px;width:50px;" src="{% static 'images/icons/person-24px.svg' %}" />
                                {% endif %}
                            </figure>
                            <div class="media-body">
                                <a href="{% url 'user' pk=object.user.pk %}" class="ajax">
                                    <h6 class="my-0 mt-1">{{ object.user.get_full_name }}</h6>
                                </a>
                                <a href="" class="small">Принять заявку</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
      {% if request.user.communities_memberships.is_administrator %}
        <br><br><br>
        <div class="card mb-2">
            <div class="card-header">
                <div class="media">

                    <div class="media-body">
                        <h5 class="mt-1">Администраторы</h5>
                    </div>
                    <a href="" class="">
                        все
                    </a>
                </div>
            </div>
            <div class="card-body px-0 py-0">
                <ul class="list-group border-top border-bottom list-group-flush">
                    {% for object in all_user %}
                    <li class="list-group-item">
                        <div class="media">
                            <figure>
                                {% if object.profile.avatar %}
                                  <img src="{{ object.profile.avatar.url }}" style="border-radius:50px;width:50px;" alt="image">
                                {% else %}
                                  <img style="border:#6C757D solid 1px;border-radius:50px;padding:5px;width:50px;" src="{% static 'images/icons/person-24px.svg' %}" />
                                {% endif %}
                            </figure>
                            <div class="media-body">
                                <a href="{% url 'user' pk=object.pk %}">
                                    <h6 class="my-0 mt-1">{{ object.get_full_name }}</h6>
                                </a>
                                <a href="" class="small">Написать сообщение</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <br><br>
        </div>

        <div class="card mb-2">
            <div class="card-header">
                <div class="media">

                    <div class="media-body">
                        <h5 class="mt-1">Модераторы</h5>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
      {% endif %}
    </div>
</div>
{% endblock %}
