{% extends "base_anon_mobile.html" %}
{% block title %}"{{ community.name }}" - подписчики сообщества{% endblock %}
{% block meta %}
<meta property="og:url" content="http://xn--b1afgj5al1e.xn--p1acf/members/{{ community.get_link }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ community.name }} - подписчики сообщества" />
<meta property="og:image" content="http://xn--b1afgj5al1e.xn--p1acf/{{ community.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="container main-container mt-3" data-type="community_members">
    <div class="card-header p-0">
      <div class="row no-gutters">
        <div style="flex: 0 0 20%;max-width:20%;padding:5px;">
          {% include 'mobile/generic/community/back.html' %}
        </div>
        <div style="flex: 0 0 80%;max-width:80%;padding:5px;">
          <span class="btn btn-sm border" style="width: -webkit-fill-available;">
            Подписчики сообщества
          </span>
        </div>
      </div>
    </div>
    <div class="card mb-2">
        <div class="card">
            <div class="card-body">
                <div class="input-group mb-3" style="display:flex">
                    <input type="text" class="form-control" placeholder="Поиск подписчиков">
                    <div class="input-group-append">
                        <button class="btn border" type="button">Искать</button>
                    </div>
                </div>
                <ul class="list-group is_paginate">
                    {% if object_list %}
                    {% for object in object_list %}
                    <li class="list-group-item border-top">
                        {% include 'mobile/generic/user/card_go_user.html' %}
                    </li>
                    {% endfor %}

                    {% else %}
                    <div class="card centered">
                        <div class="card-body">
                            <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24">
                                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                                <path d="M0 0h24v24H0z" fill="none" /></svg>
                        </div>
                        <h6 style="margin: 20px;text-align: center;"> Подписчиков сообщества нет.</h6>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
