<div class="px-0 card no-shadow" chat-pk="{{ chat.pk }}">
    <div class="card-header">
      <span class="header_title">Выбор собеседников<span>
    </div>
    <div class="card-body">
        <div class="is_block_paginate">
          {% if object_list %}
          {% for object in object_list %}
          <div class="media pointer add_member_chat_toggle border-bottom" data-pk="{{ object.pk }}" style="position:relative;margin-bottom: 5px;padding-bottom: 5px;">
            <figure style="width:30px;">
              {% if object.s_avatar %}
                <img src="{{ object.s_avatar.url }}" style="width:40px;border-radius:40px;" alt="image">
              {% else %}
                <svg fill="currentColor" class="svg_default svg_default_40" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              {% endif %}
            </figure>
            <div class="media-body">
              <h6 class="mb-0" style="padding-top: 10px;">
                {{ object.get_full_name }}
              </h6>
            </div>
            <span class="item_attach_circle friends_chat_load_several" tooltip="Выбрать друга" flow="up">
              <svg fill="currentColor" viewBox="0 0 24 24">
                <path d="M24 24H0V0h24v24z" fill="none"></path><circle cx="12" cy="12" r="8"></circle>
              </svg>
          </span>
          </div>
          {% endfor %}

          {% else %}
          <div class="items_empty mb-3">
            <div class="card-body"></div>
            <h6 style="margin: 20px;text-align: center;">
               Выбирать не из кого.
            </h6>
          </div>
          {% endif %}

        </div>
    </div>
    <div class="card-footer border-top">
      <button class="btn btn-sm border" disabled id="append_friends_to_chat_btn" style="float: right;">
        Выберите пользователей
      </button>
    </div>
</div>
