{% extends "base.html" %}
{% block title %}Обращения в техподдержку{% endblock %}
{% load message %}
{% block content %}

<div class="container main-container mt-3" data-pk="{{ request.user.pk }}" data-type="closed_chat_list">
<div class="row">
    <div class="col-md-8 chat_list_container" data-pk="{{ request.user.pk }}" style="min-height: 800px;">
        <div class="card">
            <div class="card-body px-0 py-0">
              {% if object_list %}

              <ul class="list-group is_paginate">
                {% for object in object_list %}
                  <li class="list-group-item" data-pk="{{ object.pk }}">
                    <a class="chat_ajax" href="{% url 'chat_detail' pk=object.pk %}">
                      {{ object|get_preview_message:request.user.pk|safe }}
                    </a>
                  </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <div class="load centered m-1 next_page_list" data-link="/chat/closed_support_chats/?page={{ page_obj.next_page_number }}">
                    <img src="/static/images/preloader.gif">
                </div>
                {% endif %}
              </ul>

              {% else %}
              <div class="card message_empty centered mb-3">
                <h6 style="margin: 20px;text-align: center;">
                   Пока обращений в техподдержку нет.
                </h6>
              </div>
              {% endif %}
            </div>
        </div>
    </div>

    {% include 'desctop/chat/chat/detail/right_panel.html' %}
</div>
</div>
{% endblock %}
