
    <form id="add_chat_form" class="main-container" data-pk="{{ user.pk }}" data-type="create_user_chat">
      {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header">
                <div id="chat_members">
                  <div data-pk="{{ member.pk }}" tooltip="{{ member.get_full_name }}" flow="up" style="display: inline-block; margin: 5px;">
                    <input type="hidden" class="chat" name="chat_items" value="{{ member.pk }}">
                      <figure>
                        {% if member.s_avatar %}
                          <img src="{{ member.s_avatar.url }}" style="border-radius:50px;width:50px;" alt="image">
                        {% else %}
                          <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"/></svg>
                        {% endif %}
                      </figure>
                  </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Название</label>
                    <input type="text" name="name" class="form-control" id="id_name" placeholder="Необязательно">
                </div>

                <div class="form-group centered">
                  У Вас пока нет друзей, поэтому Вы можете только писать другим пользователям и создавать чаты без участников.
                </div>

            </div>
            <div class="card-footer">
                <button class="btn border this_fullscreen_hide">Отмена</button>
                <button type="button" class="btn btn-success float-right" data-pk="{{ user.pk }}" id="add_chat_btn">Создать</button>
            </div>
        </div>
    </form>
