{% extends "base.html" %}
{% block title %}Сообщения{% endblock %}
{% load message %}
{% block content %}

<div class="container main-container mt-3" data-pk="{{ request.user.pk }}" data-type="user_chat_list">
<div class="row">
    <div class="col-md-8 chat_list_container" data-pk="{{ request.user.pk }}">
        <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="Поиск сообщений">
            <div class="input-group-append">
                <button class="btn btn-sm border" type="button">Искать</button>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-body px-0 py-0">
              {% if object_list %}

              <ul class="list-group is_paginate">
                {% for object in object_list %}
                  <li class="list-group-item" data-pk="{{ object.pk }}">
                    <a class="chat_ajax" href="{% url 'chat_detail' pk=object.pk %}">
                      {{ object|get_preview_message:request.user.pk|safe }}
                    </a>
                  </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <div class="load centered m-1 next_page_list" data-link="{% url 'chats_list' %}?page={{ page_obj.next_page_number }}">
                    <img src="/static/images/preloader.gif">
                </div>
                {% endif %}
              </ul>

              {% else %}
              <div class="card message_empty centered mb-3">
                <div class="card-body"></div>
                <h6 style="margin: 20px;text-align: center;">
                   Пока сообщений нет. Вы можете
                <br>
                <span class="user_create_chat pointer underline" data-pk="{{ user.pk }}">создать чат</span></h6>
              </div>
              {% endif %}
            </div>
        </div>
    </div>

    {% include 'desctop/chat/chat/detail/right_panel.html' %}
</div>
</div>
{% endblock %}
