{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Подтверждение почты - подтверждение{% endblock %}
{% block content %}


<script type="text/javascript">
  var error_response = function(data){
    $('.api-response').html("Что-то пошло не так... ");
  }
  var susccess_response = function(data){
    window.location = "{% url 'profile-home' %}";
  }
  $().ready(function(){
    $('form.ajax-post button[type=submit]').click(function(){
      var form = $('form.ajax-post');
      $.post(form.attr('action'), form.serialize())
      .fail(function(data){error_response(data);})
      .done(function(data){susccess_response(data);});
      return false;
    });
  });
</script>
<script type="text/javascript">
        var url_elements = window.location.pathname.split('/');
        if (url_elements.length == 6){
            var uid = url_elements[url_elements.length - 3];
            if (uid !== undefined){
                $('input[name=uid]').val(uid);
            }
            var token = url_elements[url_elements.length - 2];
            if (token !== undefined){
                $('input[name=token]').val(token);
            }
        }
    </script>
{% endblock %}
