{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}


<script type="text/javascript">
  var error_response = function(data){
    $('.api-response').html("Что-то пошло не так... ");
  }
  var susccess_response = function(data){
    window.location = "{% url 'profile-home' %}";
  }
  $().ready(function(){
    $('form.ajax-post button[type=submit]').click(function(){
      var form = $('form.ajax-post');
      $.post(form.attr('action'), form.serialize())
      .fail(function(data){error_response(data);})
      .done(function(data){susccess_response(data);});
      return false;
    });
  });
</script>
{% endblock %}
