{% extends "base.html" %}
{% block title %}Мои товары{% endblock %}
{% block content %}

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск по товарам" aria-label="Recipient's username">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <button id="good_add" class="btn btn-outline-success" style="margin-bottom:15px;width:100%;" type="button">
            Создать товар
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск по товарам" aria-label="Recipient's username">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
              <div class="media">
                <div class="media-body">
                    <h5 class="mt-1">Мои товары
                      <small class="content-color-secondary float-right mr-2 mt-1">Всего {{ user.get_music.count }}</small>
                    </h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <span id="goods_load" class="music_script_check"></span>
            </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        
      </div>
    </div>
</div>

<script>
  ready(() => {
    var link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link.open( 'GET', '/goods/user/goods/' + '{{ user.pk }}', true );
    link.onreadystatechange = function () {
      if ( link.readyState == 4 ) {
          if ( link.status == 200 ) {
              var goods_load = document.getElementById("goods_load");
              goods_load.innerHTML = link.responseText;
          }
      }
  };
  link.send( null );
  });
</script>

{% endblock %}
