{% extends "base.html" %}
{% block title %}Треки жанра {{ genre.name }}{% endblock %}

{% block content %}

<div class="container mt-3 main-container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
          <br>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск по {{ genre.name }}">
            <div class="input-group-append">
              <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
          </div>
          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                  <div class="media-body">
                      <h5 class="mt-1">Треки жанра {{ genre.name }}
                        <small class="content-color-secondary float-right mr-2 mt-1">Всего {{ genre.get_tracks_count }}</small>
                      </h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <span id="genre_tracks_load"></span>
              </div>
          </div>

        </div>
        <div class="col-12 col-md-4">
          <br>
          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="{% url 'all_music' %}" data-html="#ajax" class="ajax">Вернуться в каталог музыки</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>

<script>
  var ready = (callback) => {
  if (document.readyState != "loading") callback();
  else document.addEventListener("DOMContentLoaded", callback);
  }
ready(() => {
  var link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
  link.open( 'GET', '/music/list/genre_list/' + '{{ genre.pk }}', true );
  link.onreadystatechange = function () {
    if ( link.readyState == 4 ) {
        if ( link.status == 200 ) {
            var genre_tracks_load = document.getElementById("genre_tracks_load");
            genre_tracks_load.innerHTML = link.responseText;
        }
    }
};
link.send( null );

  {% if user.is_genre_playlist %}
    playlist_block = document.querySelector(".music-dropdown");
    playlist_block.classList.add('genre_{{ genre.pk }}');
  {% endif %}
});

var page = 2;
var loaded = false;
onscroll = function(){
  try{
  var items = document.querySelector(".ul_track_list");

  if(items.getElementsByClassName('list-group-item').length === (page-1)*30){
  var height = document.documentElement.clientHeight-1;
  if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
    if (loaded){return};
    var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link_3.open( 'GET', '/music/list/genre_list/{{ genre.pk }}/?page=' + page++, true );
    link_3.send();
    link_3.onreadystatechange = function () {
    if ( this.readyState == 4 && this.status == 200 ) {
      var elem = document.createElement('span');
      elem.innerHTML = link_3.responseText;
      if(elem.getElementsByClassName('list-group-item').length < 30){loaded = true;};
      items.append(elem);
    }
  }
}}
}catch{return}
}
</script>
{% endblock %}
