{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}Треки тега {{ tag.name }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-8">
        <br><br><br>
        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1">Треки тега {{ tag.name }}</h5>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-body px-0 py-0">
              <span id="tag_tracks_load"></span>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <br><br><br>
        <div class="card mb-2">
            <div class="card-header">
              <div class="media">
                  <div class="media-body">
                    <h5 class="mt-1">
                      <a href="{% url 'tags_music' pk=tag.symbol.pk %}" data-html="#ajax" class="ajax">Вернуться к списку тегов буквы {{ tag.symbol.name }}</a>
                    </h5>
                  </div>
              </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
              <div class="media">
                  <div class="media-body">
                    <h5 class="mt-1">
                      <a href="{% url 'all_music' %}" data-html="#ajax" class="ajax">Вернуться в каталог музыки</a>
                    </h5>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
  $('#tag_tracks_load').html('').load("/music/list/all_tag_list/" + {{ tag.pk }});
  $('body').find('.music-dropdown').addClass('tag_' + tag_pk);
});
</script>
{% endblock %}
