{% extends "base.html" %}
{% block title %}Треки тега {{ tag.name }}{% endblock %}

{% block content %}

<div class="container mt-3 main-container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
          <br>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск треков по тегу {{ tag.name }}" aria-label="Recipient's username">
            <div class="input-group-append">
              <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
          </div>
          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                  <div class="media-body">
                      <h5 class="mt-1">Треки тега {{ tag.name }}
                        <small class="content-color-secondary float-right mr-2 mt-1">Всего {{ tag.get_tracks_count }}</small>
                      </h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <span id="tag_tracks_load"></span>
              </div>
          </div>

        </div>
        <div class="col-12 col-md-4">
          <br><br>
          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="{% url 'tags_music' pk=tag.symbol.pk %}" data-html="#ajax" class="ajax">Вернуться к списку тегов буквы {{ tag.symbol.name }}</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="{% url 'all_music' %}" data-html="#ajax" class="ajax">Вернуться в каталог музыки</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>

<script>

      ready(() => {
      var link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link.open( 'GET', '/music/list/all_tag_list/' + '{{ tag.pk }}', true );
      link.onreadystatechange = function () {
        if ( link.readyState == 4 ) {
            if ( link.status == 200 ) {
                var tag_tracks_load = document.getElementById("tag_tracks_load");
                tag_tracks_load.innerHTML = link.responseText;
            }
        }
      };
      link.send( null );
      {% if user.is_tag_playlist %}
      playlist_block = document.querySelector(".music-dropdown");
      playlist_block.classList.add('user_{{ user.pk }}');
      {% endif %}
})

</script>
{% endblock %}
