{% load staticfiles thumbnail %}


<div class="jp-playlist all-music-container">
    <ul>
        <li></li>
    </ul>
</div>

<script>
  $(document).ready(function(){
      var cssSelector = {
          
          cssSelectorAncestor: "#ajax"
      };
      var playlist = {{ tag.get_json_playlist }};

      var options = {
          swfPath: "/static/jquery.jplayer.swf",
          supplied: "oga, mp3",
          wmode: "window",
          smoothPlayBar: false,
          keyEnabled: true
      };
      new jPlayerPlaylist(cssSelector, playlist, options);
  });
</script>
