{% load staticfiles thumbnail %}


<div class="jp-playlist all-music-container">
    <ul>
        <li></li>
    </ul>
</div>



<script>
  $('#ajax.track_item_li').on('click', function() {
    var cssSelector = {
        jPlayer: "#jquery_jplayer_1",
        cssSelectorAncestor: "#ajax"
    };
    var playlist = {{ tag.get_json_playlist }};

    var options = {
        swfPath: "/static/jquery.jplayer.swf",
        supplied: "oga, mp3",
        wmode: "window",
        smoothPlayBar: false,
        keyEnabled: true
    };
    var myPlaylist = new jPlayerPlaylist(cssSelector, options);
    myPlaylist.setPlaylist(playlist)
  });
</script>
