{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}Теги буквы {{ symbol.name }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-8">
        <br><br><br>
        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1">Теги буквы {{ symbol.name }}</h5>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-body px-0 py-0">
              {% for object in tags %}
                <a href="{% url 'tag_all_music' pk=object.pk %}">{{ object.name }}</a>
              {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <br><br><br>

    </div>
</div>

{% endblock %}
