{% extends "base.html" %}
{% block title %}Теги буквы {{ symbol.name }}{% endblock %}

{% block content %}

<div class="container mt-3 main-container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
          <br>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск по {{ symbol.name }}" aria-label="Recipient's username">
            <div class="input-group-append">
              <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
          </div>
          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                  <div class="media-body">
                      <h5 class="mt-1">Теги буквы {{ symbol.name }}
                        <small class="content-color-secondary float-right mr-2 mt-1">Всего {{ symbol.get_tags_count }}</small>
                      </h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <span id="tags_list_load"></span>
              </div>
          </div>

        </div>
        <div class="col-12 col-md-4">
            <br>
            <div class="card mb-2">
                <div class="card-header">
                  <div class="media">
                      <div class="media-body">
                        <h5 class="mt-1">
                          <a href="{% url 'all_music' %}" data-html="#ajax" class="ajax">Вернуться в каталог музыки</a>
                        </h5>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
ready(() => {
var link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
link.open( 'GET', '/music/list/tag_list/' + '{{ symbol.pk }}', true );
link.onreadystatechange = function () {
  if ( link.readyState == 4 ) {
      if ( link.status == 200 ) {
          var tags_list_load = document.getElementById("tags_list_load");
          tags_list_load.innerHTML = link.responseText;
      }
  }
};
link.send( null );

});

var page = 2;
var loaded = false;
onscroll = function(){
  try{
  var items = document.getElementById("tags_container");

  if(items.getElementsByClassName('infinite-item').length === (page-1)*30){
  var height = document.documentElement.clientHeight-1;
  if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
    if (loaded){return};
    var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link_3.open( 'GET', '/music/list/tag_list/{{ symbol.pk }}/?page=' + page++, true );
    link_3.send();
    link_3.onreadystatechange = function () {
    if ( this.readyState == 4 && this.status == 200 ) {
      var elem = document.createElement('span');
      elem.innerHTML = link_3.responseText;
      if(elem.getElementsByClassName('infinite-item').length < 30){loaded = true;};
      items.append(elem);
    }
  }
}}
}catch{return}
}
</script>
{% endblock %}
