{% load staticfiles %}

{% if tag_list %}

<div class="row overflow-x-auto no-gutters pb-2 mb-3 tags-container">
{% for object in tag_list %}
<div class="col-12 col-md-6 infinite-item">
  <div class="card mb-4">
      <div class="card-body">
          <div class="media">
              <div class="media-body">
                  <p class=" mb-0">{{ object.get_genres }}</p>
                  <h4 class="mb-0">{{ object.name }}</h4>
              </div>
          </div>
      </div>
  </div>
</div>
{% endfor %}

<div class="tags_load col-12 col-md-12">
    {% if tag_list.has_next %}
    <a style="display:flex;justify-content:center;" class="infinite-more-link" href="/music/list/tag_list/{{ symbol.pk }}/?page={{ tag_list.next_page_number }}">
        <img style="width: 30px;" src="{% static 'images/loading.gif' %}">
    </a>
    {% endif %}
</div>
</div>

<script>
  var tags_infinite = new Waypoint.Infinite({element: $('.tags-container')[0], onBeforePageLoad: function() { $('.tags_load').show(); }, onAfterPageLoad: function($items) { $('.tags_load').hide(); }});
</script>


{% endif %}
