
{% if tags_list %}

<div class="" id="tags_container">
{% for object in tags_list %}
<div class="col-12 infinite-item">
  <div class="card mb-4">
      <div class="card-body">
          <div class="media">
              <div class="media-body">
                  <p class="mb-0">{% for genre in object.get_genres %}{{ genre.name }}{% if not forloop.last%}, {% endif %}&nbsp;{% endfor %}</p>
                  <h4 class="mb-0">
                    <a class="ajax" href="{% url 'tag_all_music' pk=object.pk %}" data-html="#ajax">
                       {{ object.name }}
                    </a>
                  </h4>
              </div>
          </div>
      </div>
  </div>
</div>
{% endfor %}

</div>
{% endif %}
