{% load staticfiles %}

<li class="list-group-item infinite-item">
    <div class="media">
        <figure>
          {% if object.artwork_url %}
            <img style="width:30px;heigth:auto" src="{{ object.artwork_url }}" />
            {% else %}
              <img style="width:30px;heigth:30px" src="{% static 'images/icons/person-24px.svg' %}" />
            {% endif %}
        </figure>
        <div class="media-body">
            <h6 class="my-0 mt-1">{{ object.title }}</h6>
            <a href="" class="small ajax">{{ object.genre }} - {{ object.duration }}</a>
        </div>
    </div>
</li>
