<div class="card mb-3" style="flex-basis: 100%;">
  <input type="hidden" name="video_list" value="{{ album.pk }}">
  <div class="card-body" style="padding: 8px;padding-bottom: 0;">
    <div style="display:flex">
      <figure>
        <a class="ajax" href="{% url 'user_video_list' pk=album.creator.pk uuid=album.uuid %}">
        <svg fill="currentColor" class="svg_default border" style="width:60x;height:70px;" viewBox="0 0 24 24">
          <path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        </a>
      </figure>
      <div class="media-body" style="margin-left:10px">
        <h6 class="my-0 mt-1">{{ album.title }}</h6>
        <p class="">
          Видеоальбом
          <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=album.creator.pk %}">
            {{ album.creator.get_full_name_genitive }}
          </a>
          <br>
          Всего: {{ album.count_video }}
        </p>
      </div>
      <span flow="up" tooltip="Открепить" class="video_attach_album_remove btn_default pointer" style="margin-right: 14px;">
        <svg class="svg_default svg_default_30" fill="currentColor" viewBox="0 0 24 24">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </span>
    </div>
  </div>
<div class="row" style="margin-left: 0;margin-right: 0;">
  {% for video in album.get_2_videos %}
  <div class="video">
      <img class="image_fit lazyload" data-src="{{ video.image.url }}" alt="img">
      <div class="video_icon_play_v2 u_post_video" data-pk="{{ video.creator.pk }}" video-pk="{{ video.pk }}" data-uuid="{{ object.uuid }}" video-counter="{{ forloop.counter }}"></div>
  </div>
  {% endfor %}
</div>
</div>
