{% extends "base.html" %}
{% block title %}{{ album.title }} : Видеоролики {{ user.get_full_name_genitive }}{% endblock %}
{% block content %}

<div class="container mt-3 main-container pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ album.uuid }}">
    <div class="row">
        <div class="col-md-8 mt-3">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск видео">
            <div class="input-group-append">
              <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
          </div>
          <div class="card mb-2">
              <div class="card-body" style="padding: 10px;padding-bottom: 0;">
                <div style="display:flex">
                  {% if user.get_avatar %}
                    <img src="{{ user.get_avatar }}" style="width: 50px;height: 50px;border-radius:50px" alt="image">
                  {% else %}
                    <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 6H3v2h12V6zm0 4H3v2h12v-2zM3 16h8v-2H3v2zM17 6v8.18c-.31-.11-.65-.18-1-.18-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3V8h3V6h-5z"/></svg>
                  {% endif %}
                  <div class="media-body" style="margin-left: 10px;">
                    <h6 class="my-0 mt-1">{{ album.title }} ({{ album.count_video }})</h6>
                    <p class="">Видеоролики
                    <a href="{% url 'user' pk=user.pk %}" class="ajax" style="text-decoration:underline;">
                      {{ user.get_full_name_genitive }}
                    </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>

          <div class="card mb-2">
              <div class="card-body uuid_saver vk_saver">
                <div class="video_playlist" id="movies_container">
                  <div class="row movies_list_in_list profile_block_paginate" id="user_video_container" data-list="/users/{{ user.pk }}/video">
                    {% if object_list %}
                      {% for object in object_list %}
                        {% include 'user_video/video.html' %}
                      {% endfor %}
                      {% else %}
                      <div class="card video_none centered">
                        <div class="card-body" style="margin-top: 10%;">
                        <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'>
                          <path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                        </div>
                        <h6 style="margin: 20px;text-align: center;">В списке пока нет видео. <a href="" style="text-decoration:underline;" class="ajax">Перейдите в видео каталог</a> и выбирайте из сотен тысяч роликов</h6>
                      </div>
                      {% endif %}
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card mb-3 mt-3">
              <div class="card-body">
                <a href="{% url 'user' pk=user.pk %}" class="ajax">
                  <div class="media">
                      <figure style="width:50px;">
                        {% if user.get_avatar %}
                          <img src="{{ user.get_avatar }}" style="border-radius:50px" alt="image">
                        {% else %}
                          <svg fill="currentColor" class="svg_default svg_default_30" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                        {% endif %}
                      </figure>
                    <div class="media-body">
                        <h6 class="my-0 mt-1">{{ user.get_full_name }}</h6>
                        <p class="small">Видеозаписи</p>
                    </div>
                  </div>
                </a>
              </div>
          </div>
          <div class="card mb-3">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="" class="ajax">Видеокаталог</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
          <div class="card">
            <div class="card-header">
              <div class="media">
                  <div class="media-body">
                    <h5 class="mt-1">
                      <p>Списки</p>
                    </h5>
                  </div>
              </div>
            </div>
            <div class="card-body">
              <div class="nav flex-column nav-pills faqnav">
                {% for object in user.get_my_video_albums %}
                  <a class="ajax" href="{% url 'user_video_list' pk=user.pk uuid=object.uuid %}">
                    {{ object.title }}
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


{% endblock %}
