{% extends "base.html" %}
{% load liked_user get_key %}
{% block title %}Видеоролики {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}

{% block content %}
<div class="container mt-3 main-container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
          <br>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск видео">
            <div class="input-group-append">
              <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
          </div>

          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                  <div class="media-body">
                      <h5 class="mt-1">Видеоролики {{ user.first_name|gent }} {{ user.last_name|gent }}
                        <small class="content-color-secondary float-right mr-2 mt-1">Всего {{ user.get_video_count }}</small>
                      </h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                {% if object_list %}

                <div class="video_playlist" id="movies_container" data-pk="">
                  <div class="row">
                      {% for object in object_list %}
                      <div class="col-sm-12 col-md-6 col-lg-4 u_video_detail" style="cursor:pointer" data-pk="{{ object.pk }}">
                          <div class="card rounded-0 border-0 mb-4">
                            {% if object.image %}
                              <img style="width: 100%;object-fit: cover;height: 200px;" class="lazyload" data-src="{{ object.image.url }}" alt="">
                            {% else %}
                              <svg class="svg_default" style="width: 100%;object-fit: cover;height: 200px;" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                            {% endif %}

                            <div class="card-footer border-top py-2">
                              {{ object.description }}
                            </div>
                          </div>
                      </div>
                      {% endfor %}
                  </div>
                </div>

                {% else %}
                <div class="card" style="align-items: center;justify-content:center;">
                  <div class="card-body" style="margin-top: 10%;">
                  <svg class='svg_default thumb_big' fill='currentColor' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='none' d='M0 0h24v24H0z'/><path d='M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z'/></svg>
                  </div>
                  <h6 style="margin: 20px;text-align: center;">У Вас пока нет музыки. <a href="{% url 'all_music' %}" style="text-decoration:underline;" class="ajax">Перейдите в каталог</a> музыкальных композиций и выбирайте из сотен тысяч треков</h6>
                </div>
                {% endif %}
              </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <br>
          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="{% url 'all_music' %}" class="ajax">Каталог музыки</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
