{% extends "base.html" %}
{% load humanize liked_user %}
{% block title %}{{ album.title }} : Видеоролики {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}
{% block content %}

<div class="container mt-3 main-container">
    <div class="row">
        <div class="col-12 col-md-9 col-lg-9">
          <br>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск видео">
            <div class="input-group-append">
              <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
          </div>

          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                  <div class="media-body">
                      <h5 class="mt-1">{{ album.title }} : Видеоролики
                        <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=user.pk %}">
                            {{ user.first_name|gent }} {{ user.last_name|gent }}
                        </a>
                        <small class="content-color-secondary float-right mr-2 mt-1">Всего {{ album.get_my_video_count }}</small>
                      </h5>
                  </div>
                </div>
              </div>
              <div class="card-body uuid_saver vk_saver" album-uuid="{{ album.uuid }}" data-pk="{{ user.pk }}">

                <div class="video_playlist" id="movies_container" data-pk="{{ album.pk }}" data-uuid="{{ user.uuid }}">
                  <div class="row movies_list_in_list">
                      {% for object in object_list %}
                      <div class="col-12 col-md-6 u_video_list_detail" style="cursor:pointer" data-counter="{{ forloop.counter0 }}">
                        <div class="blog-header-img">
                          {% if object.image %}
                            <img style="width: 100%;object-fit: cover;height: 200px;" class="lazyload" data-src="{{ object.image.url }}" alt="">
                          {% else %}
                            <svg class="svg_default" style="width: 100%;object-fit: cover;height: 200px;" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                          {% endif %}
                        </div>
                        <div class="card-body">
                          <h5 class="text-truncate w-100">{{ object.title }}</h5>
                          <span class="small">{{ object.created|naturaltime }} | {{ object.all_visits_count }}</span>
                        </div>
                    </div>
                      {% empty %}
                      <div class="card video_none" style="align-items: center;justify-content:center;">
                        <div class="card-body" style="margin-top: 10%;">
                        <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'>
                          <path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                        </div>
                        <h6 style="margin: 20px;text-align: center;">У списке пока нет видео. <a href="" style="text-decoration:underline;" class="ajax">Перейдите в видео каталог</a> и выбирайте из сотен тысяч роликов</h6>
                      </div>
                      {% endfor %}
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-12 col-mb-3 col-lg-3">
          <br>
          <div class="card mb-3">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="#" class="user_video_list_create" data-pk="{{ album.pk }}" data-uuid="{{ user.uuid }}">Добавить видео</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
          <div class="card mb-3">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="#" class="user_video_list_create_window" data-pk="{{ user.pk }}">Создать список</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
          <div class="card mb-3">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="" class="ajax">Видеокаталог</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
          <div class="card">
            <div class="card-header">
              <div class="media">
                  <div class="media-body">
                    <h5 class="mt-1">
                      <p>Списки</p>
                    </h5>
                  </div>
              </div>
            </div>
            <div class="card-body">
              <div class="nav flex-column nav-pills faqnav">
                {% for object in user.get_my_video_albums %}
                  <a class="ajax" href="{% url 'user_video_list' pk=user.pk uuid=object.uuid %}">
                    {{ object.title }}
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


{% endblock %}
