{% extends "base.html" %}
{% block title %}{{ album.title }} : Мои видеоролики{% endblock %}
{% block content %}

<div class="container main-container pk_saver mt-3" data-pk="{{ user.pk }}" data-uuid="{{ album.uuid }}">
    <div class="row">
        <div class="col-md-8 mt-3">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск видео">
            <div class="input-group-append">
              <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
          </div>

          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                  <div class="media-body">
                      <h5 class="mt-1">{{ album.title }} : Мои видеоролики
                        <small class="content-color-secondary float-right mr-2 mt-1">Всего {{ album.get_my_video_count }}</small>
                      </h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="video_playlist" id="movies_container">
                  <div class="row profile_block_paginate" id="user_video_container" data-list="/users/{{ user.pk }}/video">
                    {% if object_list %}
                      {% for object in object_list %}
                        {% include 'user_video/video.html' %}
                      {% endfor %}
                      {% else %}
                      <div class="card video_none centered">
                        <div class="card-body" style="margin-top: 10%;">
                        <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'>
                          <path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                        </div>
                        <h6 style="margin: 20px;text-align: center;">В списке пока нет видео. <a href="" style="text-decoration:underline;" class="ajax">Перейдите в видео каталог</a> и выбирайте из сотен тысяч роликов</h6>
                      </div>
                      {% endif %}
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          {% include 'user_video_list/my_sidebar.html' %}
        </div>
    </div>
</div>

{% endblock %}
