{% extends "base.html" %}
{% load get_key %}
{% block title %}Товары {{ user.get_full_name_genitive }}{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/users/{{ user.pk }}/goods/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Товары {{ user.get_full_name_genitive }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ user.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="main-container mt-3 pk_saver" data-pk="{{ user.pk }}" data-type="user_goods">
  {% if is_user_can_see_good_section %}
        <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="Поиск по товарам">
            <div class="input-group-append">
                <button class="btn btn-sm border" type="button">Искать</button>
            </div>
        </div>

        {% include 'desctop/users/goods/main_list/lists.html' %}

        <span class="load_block">

        <div class="media mt-3 uuid_saver" data-pk="{{ list.pk }}" data-uuid="{{ list.uuid }}" style="padding-left: 7px">
          <h5 class="mt-1">
            {{ list.name }} ({{ list.count_items }})

            {% if list|is_user_can_add_list:request.user.pk %}
              <span class="pointer badge badge-light-success copy_user_video_list">Добавить список в коллекцию</span>
            {% elif request.user.pk in list.get_users_ids %}
              <span class="pointer badge badge-light-danger uncopy_user_video_list">Удалить список из коллекции</span>
            {% endif %}
            <span class="pointer badge badge-light-warning u_video_list_claim">Пожаловаться</span>
          </h5>
        </div>
        <div class="card mb-2">
            <div class="card-body">
            <div class="row is_paginate is_stat_list" data-pk="{{ list.pk }}" data-type="{% if list.community %}community{% else %}user{% endif %}_good_list">
              {% if object_list %}

              {% for object in object_list %}
                {% include 'desctop/users/goods/main_list/good.html' %}
              {% endfor %}
              {% if page_obj.has_next %}
              <div class="load centered m-1 next_page_list" data-link="{% url 'user_good' pk=user.pk %}?page={{ page_obj.next_page_number }}">
                  <img src="/static/images/preloader.gif">
              </div>
              {% endif %}

              {% else %}
                {% include 'desctop/users/goods/main_list/no_goods.html' %}
              {% endif %}
              </div>
            </div>
        </div>
    </span>
    {% else %}
      {% include 'desctop/generic/centered/private_page.html' %}
    {% endif %}
</div>

{% endblock %}
