{% extends "base.html" %}
{% block title %}Сообщения{% endblock %}
{% load message %}
{% block content %}

<div class="container main-container pk_saver chat_container" data-pk="{{ chat.pk }}" chat-pk="{{ chat.pk }}" user-pk="{{ request.user.pk }}" data-type="page_chat">
<div class="row">
    <div class="col-md-8 mt-1">
      <div class="card-header border-bottom" style="padding-top: 5px;padding-bottom: 5px;">
          <div class="chat_header media w-100">
            {{ chat|get_header_private_chat:request.user.pk|safe }}
              <div class="dropdown d-inline-block">
                <a style="cursor:pointer" class="icon-circle icon-30 btn_default drop">
                  <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
                </a>
                <div class="dropdown-menu dropdown-menu-right" style="top: 29px; width: 100%;">
                    <a class="dropdown-item chat_search pointer">Поиск сообщений</a>
                    <a class="dropdown-item add_member_in_chat pointer">Добавить в чат</a>
                    <a class="dropdown-item show_attach_files pointer">Показать вложения</a>
                    <span>
                    {% if not is_muted %}
                      <a class="dropdown-item on_full_chat_notify pointer">Вкл. уведомления</a>
                    {% else %}
                      <a class="dropdown-item off_full_chat_notify pointer">Откл. уведомления</a>
                    {% endif %}
                    </span>
                    <a class="dropdown-item u_clean_chat_messages pointer">Очистить историю</a>
                    <a class="dropdown-item u_delete_chat pointer">Удалить чат</a>
                </div>
              </div>
          </div>
          {% include 'desctop/chat/chat/search.html' %}
      </div>
<div class="px-0 card no-shadow" chat-pk="{{ chat.pk }}">
  <div class="fixed_messages">
    {% if fix_message %}
      {% include 'desctop/chat/chat/fixed_message.html' %}
    {% endif %}
  </div>
    <div class="card-body chatview" id="chatcontent" style="height: 540px;
    position: fixed;
    display: contents;">
        <ul class="chatlist app is_paginate">
          {% if page_obj.has_next %}
          <div class="load centered m-1 next_page_list" data-link="{% url 'chat_detail' pk=chat.pk %}?page={{ page_obj.next_page_number }}">
              <img src="/static/images/preloader.gif">
          </div>
          {% endif %}

          {% if object_list %}
          {% for object in object_list reversed %}
            {% include 'desctop/chat/message/message.html' %}
          {% endfor %}
          <span id="scrolled"></span>
          {% else %}
          <div class="items_empty mb-3">
            <div class="card-body"></div>
            <h6 style="margin: 20px;text-align: center;">
               Пока сообщений нет.
            </h6>
          </div>
          {% endif %}
          <span class="edit_form_box"></span>
        </ul>

    </div>
    <div class="card-footer border-top" style="position: relative">
      {% include 'desctop/chat/chat/form.html' %}
    </div>
</div>
</div>

<div class="col-12 col-md-4">
  <div class="card mb-3 mt-3">
      <div class="card-body">
        {% include 'desctop/generic/user/card_go_user.html' %}
      </div>
      </div>
    <button class="btn btn-sm border user_create_chat" data-pk="{{ user.pk }}" style="margin-bottom:15px;width:100%;">Создать чат</button>
    <br>
    <div class="card mb-2">
        <div class="card-header">
          <div class="media">
              <div class="media-body">
                <h6 class="mt-1">
                  <a class="ajax pointer">Избранное</a>
                </h6>
              </div>
          </div>
        </div>
      </div>
</div>
</div>
</div>
{% endblock %}
