<div class="col-12 col-md-4">
  <div class="card mb-3 mt-3">
      <div class="card-body">
        {% include 'desctop/generic/user/card_go_user.html' %}
      </div>
      </div>
    <button class="btn btn-sm border user_create_chat" data-pk="{{ user.pk }}" style="margin-bottom:15px;width:100%;">Создать чат</button>
    <div class="card mt-2">
      <div class="card-header">
        <div class="media">
          {% if favourite_messages_count %}
            <a class="ajax pointer">Избранное ({{ favourite_messages_count }})</a>
          {% endif %}
        </div>
      </div>
    </div>
</div>
