<div class="col-12 col-md-4">
  <div class="pos_sticky">
    <div class="card mb-3">
      <div class="p-1">
        {% include 'desctop/generic/user/card_go_user.html' %}
      </div>
    </div>
    <button class="btn btn-sm mb-2 border user_create_chat" data-pk="{{ user.pk }}" style="width:100%;">Создать чат</button>
    <div class="card mt-2 {% if not favourite_messages_count %}hidden{% endif %}">
      <div class="card-header">
        <div class="media favourite_block">
          <a class="favourite_messages_list pointer">Избранное (<span class="favourite_messages_count">{{ favourite_messages_count }}</span>)</a>
        </div>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header">
        <div class="media">
          <a href="/chat/{{ request.user.get_or_create_support_chat_pk }}/" class="ajax">Задать вопрос</a>
        </div>
      </div>
    </div>
    {% if request.user.is_have_deleted_support_chats %}
    <div class="card mt-2">
      <div class="card-header">
        <div class="media">
          <a href="/chat/closed_support_chats/" class="ajax">Чаты с техподдержкой</a>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
