{% load humanize staticfiles liked_user thumbnail %}
<style>
  .comment_photo1,.comment_photo2{
      border: 2px dashed #FF0000;
      color: rgba(0, 0, 0, 0.8);
      padding: 10px;
      text-align: center;
      margin: 20px;
      cursor:pointer;
      width: 85%;
      min-width: 85%;
}
  .comment_photo1 img, .comment_photo2 img{
    width: 85%;
    height: auto;
  }
</style>


<span class="stream_comments infinite-container bg-light-secondary">
  <div></div>
  {% for comment in comment_list %}
  {% include 'item_user/parent_comment.html' with comment=comment  %}
  <br>
  {% endfor %}

</span>
<div class="load col-12 col-md-12">
    {% if comment_list.has_next %}
    <a style="display:flex;justify-content:center;" class="infinite-more-link" href="/user/comment/{{ parent.uuid }}/{{ user.pk }}/?page={{ comment_list.next_page_number }}">
        <img src="{% static 'images/loading.gif' %}">
    </a>
    {% endif %}
</div>

{% if request_user.is_authenticated %}
<div class="border-top" style="margin-top:10px">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row img_block" style="margin:10px"></div>

        <div class="row no-gutters">

          <button class="btn btn-link content-color-secondary upload_photo" type="button">
            <img style="margin-top: -10px;" src="{% static 'images/icons/attach_file-24px.svg' %}" />
          </button>
            <div class="col">
              <input type="hidden" name="item" value="{{ parent.uuid }}">
              <input type="hidden" name="id" value="{{ parent.creator.pk }}">
                <div class="input-group input-group-sm">
                  {{ form_comment.text }}
                </div>
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-primary btn-rounded btn-sm ml-2 u_itemComment" type="button">
                  <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                </button>
            </div>
        </div>
    </form>
</div>
{% endif %}

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    var csrftoken = getCookie('csrftoken');
    var page_title = $(document).attr("title");
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function() {
            $('.load').show();
        },
        onAfterPageLoad: function($items) {
            $('.load').hide();
        }
    });
</script>
