{% load humanize staticfiles liked_user thumbnail %}
<style>
  .comment_photo1,.comment_photo2{
      border: 2px dashed #FF0000;
      color: rgba(0, 0, 0, 0.8);
      padding: 10px;
      text-align: center;
      margin: 20px;
      cursor:pointer;
      width: 85%;
      min-width: 85%;
}
  .comment_photo1 img, .comment_photo2 img{
    width: 85%;
    height: auto;
  }
</style>


<span class="stream_comments bg-light-secondary">
  <div></div>
  {% if comment.commenter.get_avatar %}
    <img src="{{ comment.commenter.get_avatar.file|thumbnail_url:'small_avatar' }}" class="pull-left">
  {% endif %}
    {% for comment in comments %}
    {% include 'item_user/parent_comment.html' with comment=comment  %}
    {% endfor %}
</span>

{% if request_user.is_authenticated %}
<div class="border-top" style="margin-top:10px">
    <form action="" method="post" class="itemComment_form" enctype="multipart/form-data">
        {% csrf_token %}

        <div style="display:none;margin:10px">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <br>
              <div class="hide_image">{{ form_comment.item_comment_photo }}</div>
              <div class="comment_photo1">
                <h4 style="font-weight:bold;font-size:30px;color:#CECECE">1</h4>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <br>
              <div class="hide_image">{{ form_comment.item_comment_photo2 }}</div>
              <div class="comment_photo2">
                <h4 style="font-weight:bold;font-size:30px;color:#CECECE">2</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="row no-gutters">

          <button class="btn btn-link content-color-secondary comment_photo" type="button">
            <img style="margin-top: -10px;" src="{% static 'images/icons/attach_file-24px.svg' %}" />
          </button>
            <div class="col">
                <div class="input-group input-group-sm">
                    <textarea name="text" id="id_text" class="form-control text-comment form-control-rounded"></textarea>
                </div>
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-primary btn-rounded btn-sm ml-2 u_itemComment" data-pk="{{ user.pk }}" data-uuid="{{ parent.uuid }}" type="button">
                    <img style="width:22px" src="{% static 'images/icons/send-24px.svg' %}" />
                </button>
            </div>
        </div>
    </form>
</div>
{% endif %}
<script>
    $('.comment_photo').on('click', function() {
      btn = $(this);
      btn.parent().prev().show();
    });
    $('.comment_good').on('click', function() {
        $('#for_comment_good').show();
    });
    $('.comment_article').on('click', function() {
        $('#for_comment_article').show();
    });

</script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    var csrftoken = getCookie('csrftoken');
    var page_title = $(document).attr("title");
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
<script>
    var imageLoader = document.getElementById("id_item_comment_photo");
    var entrou = false;
    $(".comment_photo1").on("click", function() {
        $("#id_item_comment_photo").click();
    });

    $("#id_item_comment_photo").on("change", function() {
        if (!entrou) {
            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf(".") + 1).toLowerCase();

            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof FileReader != "undefined") {
                    var image_holder = $(".comment_photo1");
                    image_holder.empty();

                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $img = $("<img />", {
                            id: "targetImageCrop",
                            src: e.target.result,
                            class: "thumb-image"
                        }).appendTo(image_holder);
                    };

                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                }
            } else {
                this.value = null;
            }
        }
        entrou = true;
        setTimeout(function() {
            entrou = false;
        }, 1000);
    });
</script>

<script>
    var imageLoader = document.getElementById("id_item_comment_photo2");
    var entrou = false;
    $(".comment_photo2").on("click", function() {
        $("#id_item_comment_photo2").click();
    });

    $("#id_item_comment_photo2").on("change", function() {
        if (!entrou) {
            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf(".") + 1).toLowerCase();

            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof FileReader != "undefined") {
                    var image_holder = $(".comment_photo2");
                    image_holder.empty();

                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $img = $("<img />", {
                            id: "targetImageCrop",
                            src: e.target.result,
                            class: "thumb-image"
                        }).appendTo(image_holder);
                    };

                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                }
            } else {
                this.value = null;
            }
        }
        entrou = true;
        setTimeout(function() {
            entrou = false;
        }, 1000);
    });
</script>
