{% load liked_user staticfiles thumbnail %}

<div class="card-footer border-top py-2">

    <div class="row">
        <div class="col interaction" id="interaction">
        <span>
          {% if comment.likes|user_in:request_user %}
          <span class="u_like_active" data-id="{{ object.id }}" data-uuid="{{ object.creator.uuid }}" title="Нравится">
            <img style="width:22px" src="{% static 'images/icons/thumb_up_success.svg' %}" />
            <span style="color:#41cd52" data-count="like">{{ comment.likes.count }}</span>
          </span>
          <span class="u_like" style="display:none" data-id="{{ object.id }}" data-uuid="{{ object.creator.uuid }}" title="Нравится">
            <img style="width:22px" src="{% static 'images/icons/thumb_up_success.svg' %}" />
            <span style="color:#41cd52" data-count="like">{{ comment.likes.count }}</span>
          </span>
          {% else %}
          <span class="u_like" data-id="{{ object.id }}" data-uuid="{{ object.creator.uuid }}" title="Нравится">
            <img style="width:22px" src="{% static 'images/icons/thumb_up.svg' %}" />
            <span style="color:#41cd52" data-count="like">{{ comment.likes.count }}</span>
          </span>
          <span class="u_like_active" style="display:none" data-id="{{ object.id }}" data-uuid="{{ object.creator.uuid }}" title="Нравится">
            <img style="width:22px" src="{% static 'images/icons/thumb_up_success.svg' %}" />
            <span style="color:#41cd52" data-count="like">{{ comment.likes.count }}</span>
          </span>
          {% endif %}
        </span>

          <span class="like_window">
            {% if object.likes %}
          <div class="like_pop" style="margin:15px">
            <span>Оценили: {{ object.likes.count }} {{ object.likes.count|rupluralize:"человек,человека,людей" }}</span>
            <br><br>
            <span style="display: flex;">
              {% for heart in object.likes %}
              <a href="{% url 'user' pk=heart.user.pk %}" class="ajax" style="padding-right:10px">
                <figure style="margin: 0;">
                  {% if heart.user.get_avatar %}
                    <img src="{{ heart.user.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius: 50px;width:50px;" alt="image">
                    {% else %}
                    <img class="thumb" src="{% static 'images/icons/person-24px.svg' %}" />
                    {% endif %}
                </figure>
                {{ heart.user.first_name }}
              </a>
              {% endfor %}
            </span>
          </div>
          {% endif %}
        </span>

        &nbsp;&nbsp;
        <span class="u_dislike"
              data-id="{{ object.id }}"
              data-uuid="{{ object.creator.uuid }}"
              title="Не нравится">
              {% if object.dislikes|user_in:request_user %}
              <img class="dislike_act" style="width:22px" src="{% static 'images/icons/thumb_down_danger.svg' %}" />
              <img class="dislike" style="width:22px;display:none" src="{% static 'images/icons/thumb_down_danger.svg' %}" />
              <span style="color:#FF0000" data-count="dislike">{% if object.dislikes %}{{ object.dislikes.count }}{% endif %}</span>
              {% else %}
              <img class="dislike_act" style="width:22px;display:none" src="{% static 'images/icons/thumb_down_danger.svg' %}" />
              <img class="dislike" style="width:22px" src="{% static 'images/icons/thumb_down.svg' %}" />
              <span data-count="dislike">{% if object.dislikes %}{{ object.dislikes.count }}{% endif %}</span>
              {% endif %}

        </span>

        <span class="dislike_window">
          {% if object.dislikes %}
        <div class="dislike_pop" style="margin:15px">
          <span>Не оценили: {{ object.dislikes.count }} {{ object.dislikes.count|rupluralize:"человек,человека,людей" }}</span>
          <br><br>
          <span style="display: flex;">
            {% for sheet in object.dislikes %}
            <a href="{% url 'user' pk=sheet.user.pk %}" class="ajax" style="padding-right:10px">
              <figure style="margin: 0;">
                {% if sheet.user.get_avatar %}
                  <img src="{{ sheet.user.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius: 50px;width:50px;" alt="image">
                {% else %}
                  <img class="thumb" src="{% static 'images/icons/person-24px.svg' %}" />
                {% endif %}
                </figure>
                {{ sheet.user.first_name }}
              </a>
              {% endfor %}
          </span>
        </div>
        {% endif %}

      </span>
            {% if object.comments_enabled %}
            &nbsp;&nbsp;
            <span title="Комментарий" class="u_comment" style="cursor:pointer" data-pk="{{ user.pk }}">
                <img style="width:22px;" src="{% static 'images/icons/chat-24px.svg' %}" />
                <span class="comment-count">
                    {% if object.count_comments %}
                    {{ object.count_comments }}
                    {% endif %}
                </span>
            </span>
            {% endif %}
            {% if request.user.is_authenticated %}
            &nbsp;&nbsp;
            <span title="Поделиться" data-toggle="modal" data-target="#user_repost" style="cursor:pointer">
                <img style="width:20px" src="{% static 'images/icons/share-24px.svg' %}" />
                <span class="repost-count">
                    {% if object.count_thread %}
                    {{ object.count_thread }}
                    {% endif %}
                </span>
            </span>
            {% endif %}

        </div>
        <span class="col-auto" title="Просмотры" style="font-size:12px">
            <img style="width:17px" src="{% static 'images/icons/remove_red_eye-24px.svg' %}" />
            {{ object.views }}
        </span>
    </div>

    <div class="load_comments" style="margin-top:25px"></div>
</div>
