{% load liked_user staticfiles thumbnail %}

<div class="card-footer border-top py-2">
    <div class="row">
        <div class="col interaction" id="interaction">

          <span class="u_like" data-id="{{ object.id }}" data-uuid="{{ object.creator.uuid }}" title="Нравится">
            <svg class="svg_default {% if object.likes|user_in:request_user %}svg_success{% endif %}" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="none" d="M0 0h24v24H0V0z"/><path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/>
            </svg>
            <span class="likes_count {% if object.likes|user_in:request_user %}svg_success{% endif %}" data-count="like">
              {% if object.likes.count %}{{ object.likes.count }}{% endif %}
            </span>
          </span>

          <span class="like_window">
            {% if object.likes %}
          <div class="like_pop" style="margin:15px">
            <span>Оценили: {{ object.likes.count }} {{ object.likes.count|rupluralize:"человек,человека,людей" }}</span>
            <br><br>
            <span style="display: flex;">
              {% for heart in object.likes %}
              <a href="{% url 'user' pk=heart.user.pk %}" class="ajax" style="padding-right:10px">
                <figure style="margin: 0;" title="{{ heart.user.get_full_name }}">
                  {% if heart.user.get_avatar %}
                    <img src="{{ heart.user.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius: 50px;width:50px;" alt="image">
                    {% else %}
                    <img class="thumb" src="{% static 'images/icons/person-24px.svg' %}" />
                    {% endif %}
                </figure>
              </a>
              {% endfor %}
            </span>
          </div>
          {% endif %}
        </span>

        &nbsp;&nbsp;
        <span class="u_dislike"
              data-id="{{ object.id }}"
              data-uuid="{{ object.creator.uuid }}"
              title="Не нравится">
              <svg class="svg_default {% if object.dislikes|user_in:request_user %}svg_danger{% endif %}" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"/></svg>
              <span class="dislikes_count {% if object.dislikes|user_in:request_user %}svg_danger{% endif %}" data-count="dislike">{% if object.dislikes.count %}{{ object.dislikes.count }}{% endif %}</span>

        </span>

        <span class="dislike_window">
          {% if object.dislikes %}
        <div class="dislike_pop" style="margin:15px">
          <span>Не оценили: {{ object.dislikes.count }} {{ object.dislikes.count|rupluralize:"человек,человека,людей" }}</span>
          <br><br>
          <span style="display: flex;">
            {% for sheet in object.dislikes %}
            <a href="{% url 'user' pk=sheet.user.pk %}" class="ajax" style="padding-right:10px">
              <figure style="margin: 0;" title="{{ sheet.user.get_full_name }}">
                {% if sheet.user.get_avatar %}
                  <img src="{{ sheet.user.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius: 50px;width:50px;" alt="image">
                {% else %}
                  <img class="thumb" src="{% static 'images/icons/person-24px.svg' %}" />
                {% endif %}
                </figure>
              </a>
              {% endfor %}
          </span>
        </div>
        {% endif %}

      </span>
            {% if object.comments_enabled %}
            &nbsp;&nbsp;
            <span title="Комментарий" class="u_comment comments_close" style="cursor:pointer" data-uuid="{{ object.uuid }}" data-pk="{{ object.creator.pk }}">
                <img style="width:22px;" src="{% static 'images/icons/chat-24px.svg' %}" />
                <span class="comment-count">
                    {% if object.count_comments %}
                    {{ object.count_comments }}
                    {% endif %}
                </span>
            </span>
            {% endif %}
            {% if request.user.is_authenticated %}
            &nbsp;&nbsp;
            <span title="Поделиться" data-toggle="modal" data-target="#user_repost" style="cursor:pointer">
                <img style="width:20px" src="{% static 'images/icons/share-24px.svg' %}" />
                <span class="repost-count">
                    {% if object.count_thread %}
                    {{ object.count_thread }}
                    {% endif %}
                </span>
            </span>
            {% endif %}

        </div>
        <span class="col-auto" title="Просмотры" style="font-size:12px">
            <img style="width:17px" src="{% static 'images/icons/remove_red_eye-24px.svg' %}" />
            {{ object.views }}
        </span>
    </div>

    <div class="load_comments" style="margin-top:25px"></div>
</div>
