{% load thumbnail humanize %}

<div class="card-header">
    <div class="media">
      <a href="{% url 'user' pk=object.creator.pk %}" class="ajax">
        <figure>
          {% if object.creator.get_avatar %}
            <img src="{{ object.creator.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius:50px;width:50px;" alt="image">
          {% else %}
            <svg fill="currentColor" class="svg_default svg_default_50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
          {% endif %}
        </figure>
      </a>
        <div class="media-body">
            <h6 class="mb-0">
              <a href="{% url 'user' pk=object.creator.pk %}" class="ajax">
                {{ object.creator.get_full_name }} &nbsp;
              </a>
              <span class="is_fixed" style="color: #888888;font-size: 13px;{% if not object.is_fixed %}display:none;{% endif %}">закреплено</span>
            </h6>
            <p class="mb-0">{{ object.created|naturaltime }}</p>
        </div>

        <div class="dropdown d-inline-block">
            <a style="cursor:pointer" class="btn_default drop">
              <svg class="svg_info" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
            </a>
            <div class="dropdown-menu">
                <span class="dropdown-item item_user_remove">Удалить запись</span>
                <span class="dropdown-item">Редактировать</span>
                {% if object.is_fixed %}
                  <span class="dropdown-item item_user_unfixed">Открепить</span>
                {% else %}
                  <span class="dropdown-item item_user_unfixed">Закрепить</span>
                {% endif %}
                <span>
                  {% if object.comments_enabled %}
                    <span class="dropdown-item item_user_off_comment">Выключить комментарии</span>
                  {% else %}
                    <span class="dropdown-item item_user_on_comment">Включить комментарии</span>
                  {% endif %}
                </span>
                <span class="dropdown-item js-textareacopybtn">Скопировать ссылку
                  <textarea style="opacity: 0;height:1px;width:1px" class="js-copytextarea">http://трезвый.рус{% url 'user_item_detail' uuid=object.uuid %}</textarea>
                </span>
                <span class="dropdown-item item_stat_f">Статистика записи</span>
            </div>
        </div>
    </div>
</div>
