<div class="card mb-4" item-uuid="{{ object.uuid }}" item-pk="{{ object.pk }}">
  {% include 'item_user/my_card_header.html' %}

    <div class="card-body fullscreen" style="cursor:pointer;margin-top: -30px;">
      {% if object.post.text %}
        <p class="">{{ object.post.text|linebreaks }}</p>
      {% endif %}
      {% if object.post.image %}
        <p class="">{{ object.post.image.url }}</p>
      {% endif %}
      {% if object.post.doc %}
        <p class="">{{ object.post.doc }}</p>
      {% endif %}
    </div>

    {% if object.is_repost %}
      {% include 'item_user/repost.html' %}
    {% endif %}

    {% include 'item_user/info.html' %}
</div>
