<div class="card mb-4" item-uuid="{{ object.uuid }}">
  {% include 'item_user/my_card_header.html' %}

    <div class="card-body fullscreen" style="cursor:pointer;margin-top: -30px;">
      {% if object.post.text %}
        <p class="">{{ object.post.text|linebreaks }}</p>
      {% endif %}
    </div>
    {% if object.get_attach_count in [3,6,9] %}
      {% include 'generic/attach/post_attach_3.html' %}
    {% if object.get_attach_count == 1 or object.get_attach_count == 4 or object.get_attach_count == 7 %}
      {% include 'generic/attach/post_attach_1.html' %}
    {% if object.get_attach_count == 2 or object.get_attach_count == 4 or object.get_attach_count == 6 %}
      {% include 'generic/attach/post_attach_2.html' %}
    {% endif %}

    {% if object.is_repost %}
      {% include 'item_user/repost.html' %}
    {% endif %}

    {% include 'item_user/info.html' %}
</div>
