{% load staticfiles humanize liked_user thumbnail %}
<style>
  .comment_photo1,.comment_photo2{
      border: 2px dashed #FF0000;
      color: rgba(0, 0, 0, 0.8);
      padding: 10px;
      text-align: center;
      margin: 20px;
      cursor:pointer;
      width: 85%;
      min-width: 85%;
}
  .comment_photo1 img, .comment_photo2 img{
    width: 85%;
    height: auto;
  }
  .stream_reply_comments{
    display:none;

  }
  .stream_reply_comments.replies_open{
    display:block;
  }
</style>
<div class="media" comment-id="{{ comment.id }}">
    <figure>
        {% if comment.commenter.get_avatar %}
          <img src="{{ comment.commenter.get_avatar.file|thumbnail_url:'small_avatar' }}" class="pull-left" style="border-radius:50%;width:30px;" alt="User Image" class="user-image">
        {% else %}
          <img class="pull-left thumb_small" src="{% static 'images/icons/person-24px.svg' %}" />
        {% endif %}
    </figure>
    <div class="media-body">
        <h5 class="mt-0"><span class="commenter_first_name">{{ comment.commenter.first_name }}</span> {{ comment.commenter.last_name }}
            <small class="text-muted float-right">{{ comment.created|naturaltime }}</small>
        </h5>
        <p>{{ comment.text|safe }}</p>

        {% if comment.item_comment_photo or comment.item_comment_photo2 %}
        <br>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            {% if comment.item_comment_photo %}
              <img style="width:100%;object-fit:cover;height:200px;" src="{{ comment.item_comment_photo.url }}" alt="">
            {% endif %}
          </div>
          <div class="col-lg-6 col-md-6">
            {% if comment.item_comment_photo2 %}
              <img style="width:100%;object-fit:cover;height:200px;" src="{{ comment.item_comment_photo2.url }}" alt="">
            {% endif %}
          </div>
        </div>
        {% endif %}

        <div class="border-top py-2">
            <div class="row">
                <div class="col">
                  <span class="u_like2" data-id="{{ comment.id }}" data-uuid="{{ comment.commenter.uuid }}" title="Нравится">
                    <svg {% if comment.likes|user_in:request_user %}class="svg_success"{% else %}class="svg_success"{% endif %} fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path fill="none" d="M0 0h24v24H0V0z"/><path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/>
                    </svg>
                    <span {% if comment.likes|user_in:request_user %}style="color:#41cd52"{% endif %} data-count="like">{% if comment.likes.count %}{{ comment.likes.count }}{% endif %}</span>
                  </span>
                    <span class="comment_like_window">
                        {% if comment.likes %}
                        <div class="comment_like_pop" style="margin:15px">
                            <span>Оценили: {{ comment.likes.count }} {{ comment.likes.count|rupluralize:"человек,человека,людей" }}</span>
                            <br><br>
                            <span style="display: flex;">
                                {% for heart in comment.likes %}
                                <a href="{% url 'user' pk=heart.user.pk %}" class="ajax" style="padding-right:10px">
                                    <figure style="margin: 0;">
                                      {% if heart.user.get_avatar %}
                                        <img src="{{ heart.user.get_avatar.file|thumbnail_url:'small_avatar' }}" style="border-radius: 50px;width:50px;" alt="image">
                                      {% else %}
                                        <img class="thumb_small" src="{% static 'images/icons/person-24px.svg' %}" />
                                      {% endif %}
                                    </figure>
                                    {{ heart.user.first_name }}
                                </a>
                                {% endfor %}
                            </span>
                        </div>
                        {% endif %}
                    </span>
                    &nbsp;
                    <span class="u_dislike2"
                          data-id="{{ comment.id }}"
                          data-uuid="{{ comment.commenter.uuid }}"
                          title="Не нравится">
                        {% if comment.dislikes|user_in:request_user %}
                          <img style="width:22px" src="{% static 'images/icons/thumb_down_danger.svg' %}" />
                          <span style="color:#41cd52" data-count="dislike">{{ comment.dislikes.count }}</span>
                        {% else %}
                          <img style="width:22px" src="{% static 'images/icons/thumb_down.svg' %}" />
                          <span data-count="dislike">{{ comment.dislikes.count }}</span>
                        {% endif %}
                    </span>

                      <span class="comment_dislike_window">
                          {% if comment.dislike %}
                          <div class="comment_dislike_pop" style="margin:15px">
                              <span>Не оценили: {{ comment.dislikes.count }} {{ comment.dislikes.count|rupluralize:"человек,человека,людей" }}</span>
                              <br><br>
                              <span style="display: flex;">
                                  {% for sheet in comment.dislikes %}
                                  <a href="{% url 'user' pk=sheet.user.pk %}" class="ajax" style="padding-right:10px">
                                      <figure style="margin: 0;">
                                        {% if sheet.user.profile.avatar %}
                                          <img src="{{ sheet.user.get_avatar.file|thumbnail_url:'small_avatar' }}" style="border-radius: 50px;width:50px;" alt="image">
                                        {% else %}
                                          <img class="thumb_small" src="{% static 'images/icons/person-24px.svg' %}" />
                                        {% endif %}
                                      </figure>
                                      {{ sheet.user.first_name }}
                                  </a>
                                  {% endfor %}
                              </span>
                          </div>
                          {% endif %}
                      </span>

                    &nbsp;&nbsp;
                    <span class="commenter_first_name" style="display:none">{{ comment.commenter.first_name }}</span>
                    <span class="content-color-secondary reply_comment" style="font-size:15px;cursor:pointer">
                        ответить
                    </span>

                    {% if request_user.is_authenticated %}
                    <div class="border-top reply_comment_form" style="margin-top:10px;display:none;margin-left: -10px;">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div style="display:none;margin:10px">
                              <div class="row">
                                <div class="col-lg-6 col-md-6">
                                  <br>
                                  <div class="hide_image">{{ form_comment.item_comment_photo }}</div>
                                  <div class="comment_photo1">
                                    <h4 style="font-weight:bold;font-size:30px;color:#CECECE">1</h4>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                  <br>
                                  <div class="hide_image">{{ form_comment.item_comment_photo2 }}</div>
                                  <div class="comment_photo2">
                                    <h4 style="font-weight:bold;font-size:30px;color:#CECECE">2</h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col">
                                    <div class="input-group input-group-sm">
                                            <button class="btn btn-link content-color-secondary" type="button">
                                              <img style="margin-top: -10px;" src="{% static 'images/icons/attach_file-24px.svg' %}" />
                                            </button>
                                        <textarea id="id_text" name="text" class="form-control text-comment form-control-rounded"></textarea>
                                        <button data-uuid="{{ user.uuid }}" data-pk="{{ comment.pk }}" class="btn btn-outline-primary btn-rounded btn-sm ml-2 u_replyComment" type="button">
                                          <img style="width:25px" src="{% static 'images/icons/send-24px.svg' %}" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}

                    <br><br>
                    {% if comment.count_replies %}
                    <span style="cursor:pointer" class="show_replies content-color-primary mb-0">
                      {{ comment.count_replies }} {{ comment.count_replies|rupluralize:"ответ,ответа,ответов" }}
                    </span>
                    <br><br>
                    <span class="stream_reply_comments">
                      {% for reply in comment.get_replies %}
                        {% include 'item_user/reply_comment.html' with reply=reply  %}
                      {% endfor %}
                    </span>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
