<div class="card mb-4" item-uuid="{{ object.uuid }}" item-pk="{{ object.pk }}" user-pk="{{ user.pk }}">
    {% include 'item_user/card_header.html' %}

    {% if object.is_repost %}
    {% include 'item_user/repost.html' %}
    {% endif %}

    <div class="card-body fullscreen" style="cursor:pointer">

      {% if object.post.text %}
        <p class="">{{ object.post.text|linebreaks }}</p>
      {% endif %}
      {% if object.post.image %}
        <p class="">{{ object.post.image.url }}</p>
      {% endif %}
      {% if object.post.doc %}
        <p class="">{{ object.post.doc }}</p>
      {% endif %}
    </div>

    {% include 'item_user/info.html' %}
</div>
