{% load staticfiles humanize liked_user %}

<div class="media " reply-id="{{ reply.id }}">
    <figure>
      {% if reply.commenter.get_avatar %}
        <img src="{{ reply.commenter.get_avatar.file.url }}" class="pull-left" style="border-radius:50px;width:30px;" alt="User Image" class="user-image">
      {% else %}
        <img class="pull-left" style="width:50px;border:#6C757D solid 1px;border-radius:50px;padding:5px;" src="{% static 'images/icons/person-24px.svg' %}" />
      {% endif %}
    </figure>
    <div class="media-body">
        <h5 class="mt-0"><span class="commenter_first_name">{{ reply.commenter.first_name }}</span> {{ reply.commenter.last_name }}
            <small class="text-muted float-right">{{ reply.created|naturaltime }}</small>
        </h5>
        <p>{{ reply.text|safe }}</p>

        <div class="border-top py-2">
            <div class="row">
                <div class="col">
                  <span class="u_like2"
                        data-id="{{ reply.id }}"
                        data-uuid="{{ reply.commenter.uuid }}"
                        title="Нравится">

                  {% if reply.likes|user_in:request_user %}
                    <img style="width:22px" src="{% static 'images/icons/thumb_up_success.svg' %}" />
                    <span style="color:#41cd52" data-count="like">{{ reply.likes.count }}</span>
                  {% else %}
                    <img style="width:22px" src="{% static 'images/icons/thumb_up.svg' %}" />
                    <span data-count="like">{{ reply.likes.count }}</span>
                  {% endif %}
                  </span>
                  <span class="comment_like_window">
                      {% if reply.likes.all %}
                      <div class="comment_like_pop" style="margin:15px">
                          <span>Оценили: {{ reply.likes.count }} {{ reply.likes.count|rupluralize:"человек,человека,людей" }}</span>
                          <br><br>
                          <span style="display: flex;">
                              {% for heart in reply.likes.all %}
                              <a href="{% url 'user' pk=heart.user.pk %}" class="ajax" style="padding-right:10px">
                                  <figure style="margin: 0;">
                                      {% if heart.user.get_avatar %}
                                      <img src="{{ heart.user.get_avatar.file.url }}" style="border-radius: 50px;width:50px;" alt="image">
                                      {% else %}
                                      <img style="width:50px;border:#6C757D solid 1px;border-radius:50px;padding:5px;" src="{% static 'images/icons/person-24px.svg' %}" />
                                      {% endif %}

                                  </figure>
                                  {{ heart.user.first_name }}
                              </a>
                              {% endfor %}
                          </span>
                      </div>
                      {% endif %}
                  </span>
                    &nbsp;
                    <span class="u_dislike2 {% if reply.dislikes|user_in:request_user %}text-success {% endif %}"
                          data-id="{{ reply.id }}"
                          data-uuid="{{ reply.commenter.uuid }}"
                          title="Не нравится">

                          {% if comment.dislikes|user_in:request_user %}
                            <img style="width:22px" src="{% static 'images/icons/thumb_down_danger.svg' %}" />
                            <span style="color:#41cd52" data-count="dislike">{{ comment.dislikes.count }}</span>
                          {% else %}
                            <img style="width:22px" src="{% static 'images/icons/thumb_down.svg' %}" />
                            <span data-count="dislike">{{ comment.dislikes.count }}</span>
                          {% endif %}
                    </span>

                    <span class="comment_dislike_window">
                        {% if reply.dislike.all %}
                        <div class="comment_dislike_pop" style="margin:15px">
                            <span>Не оценили: {{ reply.dislikes.count }} {{ reply.dislikes.count|rupluralize:"человек,человека,людей" }}</span>
                            <br><br>
                            <span style="display: flex;">
                                {% for sheet in reply.dislikes.all %}
                                <a href="{% url 'user' pk=sheet.user.pk %}" class="ajax" style="padding-right:10px">
                                    <figure style="margin: 0;">
                                      {% if sheet.user.get_avatar %}
                                        <img src="{{ sheet.user.get_avatar.file.url }}" style="border-radius: 50px;width:50px;" alt="image">
                                      {% else %}
                                        <img style="width:50px;border:#6C757D solid 1px;border-radius:50px;padding:5px;" src="{% static 'images/icons/person-24px.svg' %}" />
                                      {% endif %}

                                    </figure>
                                    {{ sheet.user.first_name }}
                                </a>
                                {% endfor %}
                            </span>
                        </div>
                        {% endif %}
                    </span>

                    &nbsp;&nbsp;
                    <span class="commenter_first_name" style="display:none">{{ reply.commenter.first_name }}</span>
                    <span class="content-color-secondary reply_comment" data-id="{{ reply.id }}" style="font-size:15px;cursor:pointer">
                        ответить
                    </span>

                    {% if request.user.is_authenticated %}
                    <div class="border-top reply_comment_form" style="margin-top:10px;display:none;margin-left:-50px;">
                        <form action="" method="post" class="replyParentComment_button">
                            {% csrf_token %}

                            <div class="row no-gutters">
                              <button class="btn btn-link content-color-secondary comment_photo" type="button">
                                <img style="margin-top: -10px;" src="{% static 'images/icons/attach_file-24px.svg' %}" />
                              </button>
                                <input type="hidden" name="comment" value="{{ comment.id }}">
                                <input type="hidden" name="parent" value="{{ parent.id }}">
                                <div class="col" style="left: -30px;">
                                    <div class="input-group input-group-sm" style="width: 105%;">
                                        <textarea id="id_text" name="text" class="form-control text-comment form-control-rounded"></textarea>
                                        <button class="btn btn-outline-primary btn-rounded btn-sm ml-2 replyParentComment" type="button">
                                          <img style="width:22px" src="{% static 'images/icons/send-24px.svg' %}" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
