{% extends "base_mobile.html" %}
{% block title %}Заявки в сообщество - {{ community.name }}{% endblock %}
{% block content %}

<div class="container mt-3">

  {% include 'mob_manage/menu.html' %}

      <div class="card mb-2">
          <div class="card-header" style="padding-bottom: 0em;">
            <div class="input-group mb-3" style="display:flex">
              <input type="text" class="form-control" placeholder="Поиск админов">
              <div class="input-group-append">
                  <button class="btn btn-outline-link" type="button">Искать</button>
              </div>
            </div>
          </div>
            <div class="card-body px-0 py-0">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1">Заявки на вступление -
                            <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=community.pk %}">
                                {{ community.name }}
                            </a>
                        </h5>
                    </div>
                </div>
              {% if object_list %}
                <ul class="list-group" id="follows-container">
                    {% for object in object_list %}
                    <li class="list-group-item pag {% if forloop.last %}last{% endif %} li_{{object.pk }}" data-uuid="{{ object.user.uuid }}" data-pk="{{ community.pk }}">
                        <div class="media">
                          <a href="{% url 'user' pk=object.user.pk %}" class="ajax">
                            <figure>
                              {% if object.user.get_avatar %}
                                <img src="{{ object.user.get_avatar }}" style="border-radius:50px;width:50px;" alt="image">
                              {% else %}
                                <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                              {% endif %}
                            </figure>
                          </a>
                          <div class="media-body">
                              <a href="{% url 'user' pk=object.user.pk %}" class="ajax">
                                  <h6 class="my-0 mt-1">{{ object.user.get_full_name }}</h6>
                              </a>
                              <span class="small">
                                <span class="community_member_create" style="cursor:pointer">Одобрить</span> | <span class="community_follow_delete" style="cursor:pointer">Отклонить</span>
                              </span>
                          </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <div class="col-12">
                  <div class="card" style="align-items: center;justify-content:center;">
                    <div class="card-body">
                      <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    </div>
                    <h6 style="margin: 20px;text-align: center;">Заявок на вступление в сообщество нет</h6>
                  </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
 ready(() => {
  var page = 2;
  var loaded = false;

  onscroll = function(){
 try{
    var follows = document.getElementById("follows-container");
    if(follows.getElementsByClassName('list-group-item').length === (page-1)*30){
    var height = document.documentElement.clientHeight-1;
    if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
      if (loaded){return};
      var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_3.open( 'GET', '/communities/manage/follows/' + '{{ community.pk }}/?page=' + page++, true );
      link_3.send();
      link_3.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        var elem = document.createElement('span');
        elem.innerHTML = link_3.responseText;
        var follows_list = elem.querySelector(".list-group");
        if(follows_list.getElementsByClassName('list-group-item').length < 30){loaded = true;};
        follows.append(follows_list);
        }
      }
    }}
  }catch{return}
}
});
</script>
{% endblock %}
