{% extends "base_mobile.html" %}
{% block title %}Настройки уведомлений - {{ community.name }}{% endblock %}
{% block content %}
<style>
  #notify_form p{
    line-height: 18px;
  }
</style>
<div class="container mt-3">

  {% include 'mob_manage/menu.html' %}


            <form id="notify_form" action="" method="post" class="contact-form">
                {% csrf_token %}
                <div class="card mb-3">
                    <div class="card-header border-bottom">
                        <h5 class="content-color-primary mb-0">Настройки уведомлений -
                            <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=community.pk %}">
                              {{ community.name }}
                            </a>
                        </h5>
                    </div>
                    <div class="card-body">
                      {% if community.is_closed %}
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Заявки в группу
                            <input type="checkbox" {% if notify_settings.connection_request_notifications %} checked {% endif %} name="connection_request_notifications" id="id_connection_request_notifications" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_connection_request_notifications" class="bg_success mb-2 border float-right"></label>
                        </p>
                      {% endif %}
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Репосты записей
                            <input type="checkbox" {% if notify_settings.repost_notifications %} checked {% endif %} name="repost_notifications" id="id_repost_notifications" class="switch switch-sm">
                            <label style="float: right;" for="id_repost_notifications" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Комментарии к записям
                            <input type="checkbox" {% if notify_settings.comment_notifications %} checked {% endif %} name="comment_notifications" id="id_comment_notifications" class="switch switch-sm">
                            <label style="float: right;" for="id_comment_notifications" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Реакции на записи
                            <input type="checkbox" {% if notify_settings.react_notifications %} checked {% endif %} name="react_notifications" id="id_react_notifications" class="switch switch-sm">
                            <label style="float: right;" for="id_react_notifications" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Реакции на комментарии
                            <input type="checkbox" {% if notify_settings.comment_react_notifications %} checked {% endif %} name="comment_react_notifications" id="id_comment_react_notifications" class="switch switch-sm">
                            <label style="float: right;" for="id_comment_react_notifications" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Ответы на комментарии
                            <input type="checkbox" {% if notify_settings.comment_reply_notifications %} checked {% endif %} name="comment_reply_notifications" id="id_comment_reply_notifications" class="switch switch-sm">
                            <label style="float: right;" for="id_comment_reply_notifications" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Реакции на ответы
                            <input type="checkbox" {% if notify_settings.comment_reply_react_notifications %} checked {% endif %} name="comment_reply_react_notifications" id="id_comment_reply_react_notifications" class="switch switch-sm">
                            <label style="float: right;" for="id_comment_reply_react_notifications" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Упоминания в записях
                            <input type="checkbox" {% if notify_settings.user_mention_notifications %} checked {% endif %} name="user_mention_notifications" id="id_user_mention_notifications" class="switch switch-sm">
                            <label style="float: right;" for="id_user_mention_notifications" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Упоминания в комменариях
                            <input type="checkbox" {% if notify_settings.comment_user_mention_notifications %} checked {% endif %} name="comment_user_mention_notifications" id="id_comment_user_mention_notifications" class="switch switch-sm">
                            <label style="float: right;" for="id_comment_user_mention_notifications" class="bg_success mb-2 border float-right"></label>
                        </p>

                    </div>
                    <div class="card-footer">
                        <button type="button" id="notify_button" class="mb-2 btn btn-sm btn-success float-right">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}
