{% extends "base_mobile.html" %}
{% block title %}Приватность - {{ community.name }}{% endblock %}
{% block content %}
<style>
  #private_form p{
    line-height: 18px;
  }
</style>
<div class="container mt-3">

  {% include 'mob_manage/menu.html' %}

            <form id="private_form" action="" method="post" class="contact-form">
                {% csrf_token %}
                <div class="card mb-3">
                    <div class="card-header border-bottom">
                        <h5 class="content-color-primary mb-0">Настройки приватности -
                            <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=community.pk %}">
                              {{ community.name }}
                            </a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Фото открыты всем
                            <input type="checkbox" {% if private_settings.photo_visible_all %} checked {% endif %} name="photo_visible_all" id="id_photo_visible_all" class="switch switch-sm">
                            <label style="float: right;" for="id_photo_visible_all" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Фото открыты друзьям
                            <input type="checkbox" {% if private_settings.photo_visible_member %} checked {% endif %} name="photo_visible_member" id="id_photo_visible_member" class="switch switch-sm">
                            <label style="float: right;" for="id_photo_visible_member" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Комментарии пишут все
                            <input type="checkbox" {% if private_settings.can_comments %} checked {% endif %} name="can_comments" id="id_can_comments" class="switch switch-sm">
                            <label style="float: right;" for="id_can_comments" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Записи пишут все
                            <input type="checkbox" {% if private_settings.can_add_post %} checked {% endif %} name="can_add_post" id="id_can_add_post" class="switch switch-sm">
                            <label style="float: right;" for="id_can_add_post" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Статьи пишут все
                            <input type="checkbox" {% if private_settings.can_add_article %} checked {% endif %} name="can_add_article" id="id_can_add_article" class="switch switch-sm">
                            <label style="float: right;" for="id_can_add_article" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Товары добавляют все
                            <input type="checkbox" {% if private_settings.can_add_good %} checked {% endif %} name="can_add_good" id="id_can_add_good" class="switch switch-sm">
                            <label style="float: right;" for="id_can_add_good" class="bg_success mb-2 border float-right"></label>
                        </p>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="private_button" class="mb-2 btn btn-sm btn-success float-right">Сохранить</button>
                    </div>
                </div>
            </form>
</div>

{% endblock %}
