
<style>
  .id_g_image input { display: none; }
  #holder_article_image {border: 2px dashed #FF0000;color: rgba(0, 0, 0, 0.8);padding: 10px;text-align: center;margin: 10px;}
  #holder_article_image:hover {cursor: pointer;margin: 9px;}
  #holder_article_image img {height: auto;width: 100%;}
</style>

<h5 class="m-0">Добавление статьи</h5>
<br><br>

<form action="" id="user_article_form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label>Название статьи (обязательно)</label>
        <input type="text" name="title" class="form-control" id="id_title">
    </div>
    <br>
    <div class="form-group">
      <span>
        <div class="hide_image">{{ form.g_image }}</div>
      </span>
        <div id="holder_article_image">
            <h4 style="font-weight:bold;font-size:70px;color:#CECECE">обложка</h4>
            <p>Нажмите, чтобы добавить</p>

            <i style="">(обязательно)</i>

        </div>
    </div>
    <br>
    <div class="form-group">
        {{ form.content }}
    </div>
    <br>
    <div class="form-group ">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="comments_enabled2" checked class="custom-control-input" name="comments_enabled">
            <label class="custom-control-label" for="comments_enabled2">Разрешить комментарии</label>
        </div>
    </div>
    <div class="respons_article"></div>
    <div class="card-footer">
        <button class="btn btn-secondary remove_form">Отмена</button>
        <button type="button" id="article_post" class="btn btn-success float-right">Опубликовать</button>
    </div>
</form>
