django
djangorestframework
django-imagekit
pip install -U channels
easy_thumbnails
django-allauth
django-rest-auth
jwt
six
soundcloud
pymorphy2
channels_redis[cryptography]
psycopg2-binary
asgiref==3.2.0
pandas
python-magic
apt install redis-server
python -m pip install django-redis
BeautifulSoup4
lxml

pip install django-celery
pip install -U "celery[redis]"

sudo add-apt-repository ppa:savoury1/ffmpeg4
sudo apt-get update
sudo apt-get install ffmpeg
