django
djangorestframework
django-imagekit
pip install -U channels
easy_thumbnails
django-allauth
django-rest-auth
jwt
six
soundcloud
pymorphy2
channels_redis[cryptography]
psycopg2-binary
asgiref==3.2.0
pandas
python-magic
apt install redis-server
python -m pip install django-redis
BeautifulSoup4
lxml

Мы остановились на формировании программ при сохранении объектов, добавляя создание экземляра Wall и экземпляров Notify
