

<div class="media mt-4">
    <div class="media-body">
        <h4 class="content-color-primary mb-0">Обсуждения </h4>
    </div>
    <a href="" class="">
        Все
    </a>
</div>
<br>
<ul class="list-group border-bottom list-group-flush">
    <li class="list-group-item link-media">
        <a href="" class="media">
            <div class="media-body">
                <h6 class="my-0 content-color-primary">20-11-2018</h6>
                <p class="small mb-2">New York, US</p>
                <p>Musical night festival seasons, Drama and comedy cultural family show.</p>
            </div>
        </a>
    </li>
</ul>
