{% load staticfiles %}

<div class="card mb-4">
    <div class="card-body">
        <ul class="list-group list-group-flush w-100">
            <li class="list-group-item px-0">
                <div class="media experience">
                    <div class="icon-circle icon-40 bg-light-secondary mr-3">
                        <img style="width:22px;" src="{% static 'images/icons/chat-24px.svg' %}" />
                    </div>
                    <div class="media-body">
                        <h6 class="my-0 content-color-primary">Описание</h6>
                        <p>
                            {% if object.description %}
                              {{ object.description }}
                            {% else %}
                              {% if request.user.communities_memberships.is_administrator %}
                                Добавьте описание сообщества
                              {% else %}
                                Нет описания сообщества
                              {% endif %}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </li>
            <li class="list-group-item px-0">
                <div class="media experience">
                    <div class="icon-circle icon-40 bg-light-secondary mr-3">
                        <img style="width:22px;" src="{% static 'images/icons/chat-24px.svg' %}" />
                    </div>
                    <div class="media-body">
                        <h6 class="my-0 content-color-primary">Правила</h6>
                        <p>
                            {% if object.rules %}
                              {{ object.rules }}
                            {% else %}
                              {% if request.user.communities_memberships.is_administrator %}
                                Добавьте правила сообщетсва
                              {% else %}
                                Правил сообщества нет
                              {% endif %}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
