{% extends "base_mobile.html" %}

{% block title %}Изменение основной информации{% endblock %}
{% block content %}

<div class="main-container container mt-3 pk_saver" data-pk="{{ user.pk }}">

  {% include 'mobile/users/settings/menu.html' %}

  <form id="info_user_form" class="contact-form">
      {% csrf_token %}
      <div class="card mb-3">
          <div class="card-header border-bottom">
              <h5 class="content-color-primary mb-0">Основная информация</h5>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>Город</label>
              <input type="text" value="{{ user.sity }}" name="sity" class="form-control">
            </div>
            <div class="form-group">
              <label>Статус</label>
              <input type="text" value="{{ user.status }}" name="status" class="form-control">
            </div>
          </div>
          <div class="card-footer">
              <button type="button" class="btn btn-sm btn-success float-right" id="info_user_btn">Сохранить</button>
          </div>
      </div>
  </form>
</div>

{% endblock %}
