<div class="col-md-10 col-lg-10 col-xl-8 mx-auto">
    <form class="page_message_form" style="position:relative">
      {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header border-bottom">
                <h5 class="content-color-primary mb-0">Написать {{ member.get_full_name_datv }}</h5>
            </div>
            <div class="card-body">
              {% include 'desctop/generic/repost/form.html' %}
            </div>
            <div class="card-footer">
                <button class="btn border this_mob_fullscreen_hide">Отмена</button>
                <button type="button" class="btn btn-success float-right" id="send_page_message_btn" data-pk="{{ member.pk }}"">Отправить</button>
            </div>
        </div>
    </form>
</div>
