{% load message %}
    <figure>
      <a href="{{ object.creator.get_link }}" class="ajax">
        <img src="{{ object.creator.get_avatar }}" style="border-radius:40px;width:40px;" alt="image">
      </a>
    </figure>
    <div class="media-body">
      <h5 class="time-title mb-0">
        <a href="{{ object.creator.get_link }}" class="ajax creator_link"><span class="creator_name">{{ object.creator.get_full_name }}</span></a>
        <small class="float-right text-muted">{{ object.get_created }}</small>
      </h5>

      {% if object.parent %}
        {{ object.get_parent_message|safe }}
      {% endif %}

      {% if object.voice %}
        <audio class="audio" src="{{ object.voice.url }}"></audio>
      {% elif object.sticker %}
      <div class="message_sticker mt-1">
        <img src="{{ object.sticker.image.url }}" style="width: 128px;" tooltip="{{ object.sticker.category.name }}" flow="up">
      </div>
      {% else %}

        <div class="pointer toggle_message">
          <span class="text">{{ object.text|safe }}</span>
        </div>

      {% if object.attach %}
        {{ object|get_attach:request.user|safe }}
      {% endif %}

      {% if object.repost %}
        <span style="margin-left: 5%;" data-uuid="{{ object.parent.uuid }}">
          {% if object.repost.community %}
            {% include object.get_c_repost_items_desctop %}
          {% else %}
            {% include object.get_u_repost_items_desctop %}
          {% endif %}
        </span>
      {% endif %}

      {% endif %}
    </div>
