{% load staticfiles humanize liked_user %}


<div class="card mb-4 infinite-item" post-id="{{ object.uuid }}" style="cursor:pointer">

    {% include 'generic/card_header.html' %}

    <div class="card-body">
      {% if object.post.text %}
        <p class="">{{ object.post.text|linebreaks }}</p>
      {% endif %}
      {% if object.post.image %}
        <p class="">{{ object.post.image.url }}</p>
      {% endif %}
      {% if object.post.doc %}
        <p class="">{{ object.post.doc }}</p>
      {% endif %}
    </div>

    {% include 'generic/info.html' %}
</div>

<script src="/static/scripts/cockie.js" type="text/javascript"></script>
<script>
	function like() {
			var like = $(this);
			var item = $('.infinite-item').attr("item-id");
			var type = like.data('type');
			var pk = like.data('id');
			var action  = like.data('action');
			var dislike = like.next().next();
			payload = {
					'item': item,
					'csrf_token': csrftoken
				}
			$.ajax({
					url: "/main/like/" + pk + "/",
					type: 'POST',
					cache: false,
					data: payload,
					success: function(data) {
							like.find("[data-count='like']").text(data.like_count);
							dislike.find("[data-count='dislike']").text(data.dislike_count);
							$(like).addClass("text-success");
							$(dislike).removeClass("text-danger");
							$(like).siblings('.like_window').html('').load("/main/like_window/" + pk + "/");
							$(dislike).siblings('.dislike_window').html('').load("/main/dislike_window/" + pk + "/")
					}
			});
			return false;
	}
	function dislike() {
			var dislike = $(this);
			var item = $('.infinite-item').attr("item-id");
			var type = dislike.data('type');
			var pk = dislike.data('id');
			var action = dislike.data('action');
			var like = dislike.prev().prev();
			payload = {
					'item': item,
					'csrf_token': csrftoken
				}
			$.ajax({
					url: "/main/dislike/" + pk + "/",
					type: 'POST',
					cache: false,
					data: payload,
					success: function(data) {
							dislike.find("[data-count='dislike']").text(data.dislike_count);
							like.find("[data-count='like']").text(data.like_count);
							$(dislike).addClass("text-danger");
							$(like).removeClass("text-success");
							$(like).siblings('.like_window').html('').load("/main/like_window/" + pk + "/");
							$(dislike).siblings('.dislike_window').html('').load("/main/dislike_window/" + pk + "/")
					}
			});
			return false;
	}
	// Подключение обработчиков
	$('[data-action="post_like"]').click(post_like);
	$('[data-action="post_dislike"]').click(post_dislike);
</script>

<script>
$(".comment").on("click", function () {
	var item = $(this).closest(".infinite-item").attr("item-id");
	var url = $(this).parents(".infinite-item");
	$.ajax({
			url: '{% url "get_comment" %}',
			data: {'item': item},
			cache: false,
			beforeSend: function () {
					url.find(".load_comments").html("<span style='display:flex;justify-content: center;'><img src='/static/images/loading.gif'></span>");
			},
			success: function (data) {
				url.find(".load_comments").html(data.comments);
			}
	});
	return false;
});
</script>

<script>
function remove() {
var remove = $(this);
var pk = remove.data('id');
$.ajax({
	url: "/posts/delete/" + pk + "/",
	success: function (data) {
		$(remove).parents('.card').hide();
		$.toast({
				heading: '{{ request.user.first_name }}',
				text: 'Запись успешно удалена!',
				showHideTransition: 'fade',
				icon: 'error'
		})
	},
	error: function(data) {
	}
});
};
$('[data-action="post_remove"]').click(remove);
</script>
