{% load staticfiles %}

<form action="" id="FORM-POST2" method="post">
  {% csrf_token %}

    {{ form.content_lite }}

    <div class="card-footer">
      <button class="btn btn-secondary remove_form">Отмена</button>
      <button type="submit" class="btn btn-success float-right">Опубликовать</button>
   </div>
</form>

<script type="text/javascript">
    var frm = $('#FORM-POST2');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: "{% url 'post_add_lite_user' %}",
            data: frm2.serialize(),
            success: function (data) {

            },
            error: function(data) {
                $("#hack").html("Возникла непредвидинная ошибка!!");
            }
        });
        return false;
    });
</script>

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
