{% load staticfiles %}

<form action="" id="FORM-POST1" method="post" style="margin-top:20px">
  {% csrf_token %}
    {{ form.content_hard }}
    <button type="submit" class="btn btn-round btn-b">Добавить</button>
</form>

<script type="text/javascript">
    var frm = $('#FORM-POST1');
    frm.submit(function () {
        $.ajax({
            type: frm.attr('method'),
            url: "{% url 'post_add_hard_user' %}",
            data: frm2.serialize(),
            success: function (data) {

            },
            error: function(data) {
                $("#hack").html("Возникла непредвидинная ошибка!!");
            }
        });
        return false;
    });
</script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
