{% load liked_user staticfiles %}

{% if post_dislike.votes.dislikes.all %}
<div class="dislike_pop" style="margin:15px">
  <span>Не оценили: {{ post_dislike.votes.likes.count }} {{ post_dislike.votes.dislikes.count|rupluralize:"человек,человека,людей" }}</span>
  <br><br>
  <span style="display: flex;">
    {% for sheet in post_dislike.votes.dislikes.all %}
    <a href="{% url 'user' pk=sheet.user.pk %}" class="ajax" style="padding-right:10px">
      <figure style="margin: 0;">
        {% if sheet.user.profile.avatar %}
          <img src="{{ sheet.user.profile.avatar.url }}" style="border-radius: 50px;width:50px;" alt="image">
          {% else %}
          <img src="{% static 'images/user.png' %}" alt="image" style="border-radius: 50px;width:50px;">
          {% endif %}

        </figure>
        {{ sheet.user.first_name }}
      </a>
      {% endfor %}
  </span>

</div>
{% endif %}
