{% load staticfiles %}
<form action="" id="FORM-POST3" method="post">
  {% csrf_token %}

    <br>

    {{ form }}

    <br>
    <button type="submit" class="btn btn-round btn-b">Добавить</button>
</form>


<script type="text/javascript">
    var frm2 = $('#FORM-POST3');
    frm2.submit(function () {
        $.ajax({
            type: frm2.attr('method'),
            url: "{% url 'post_add_medium_user' pk=request.user.pk %}",
            data: frm2.serialize(),
            success: function (data) {

            },
            error: function(data) {
                $("#hack").html("Возникла непредвидинная ошибка!!");
            }
        });
        return false;
    });
</script>
<script>

</script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
