{% load liked_user staticfiles %}

{% if post_like.votes.likes.all %}
<div class="like_pop">
  <span>Лайков: {{ post_like.votes.likes.count }}</span>
  <br><br>
  <span style="display: flex;">
    {% for heart in post_like.votes.likes.all %}
    <a href="{% url 'user' pk=heart.user.pk %}" style="padding-right:10px">
      <figure style="margin: 0;">
        {% if heart.user.profile.avatar %}
          <img src="{{ heart.user.profile.avatar.url }}" style="border-radius: 50px;width:50px;" alt="image">
          {% else %}
          <img src="{% static 'images/user.png' %}" alt="image" style="border-radius: 50px;width:50px;">
          {% endif %}
      </figure>
      {{ heart.user.first_name }}
    </a>
    {% endfor %}
  </span>
</div>
{% endif %}
