a:hover{
  color: #ffffff !important;
}
a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.mt-0 a, .mt-0 p, .media-body p, .card-body p{color: rgba(255, 255, 255, 0.6) !important;}

.form-control::placeholder{color: rgba(255, 255, 255, 0.6);font-style: italic;}
.border{
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
}
body {
  background-color: #065fb7;
  font-size: 1em;
  line-height: 1.4em;
  color: #ffffff;
}
.header-color-primary {
  color: #ffffff;
}
.media p {
  color: rgba(255, 255, 255, 0.7) !important;
}
.header-color-secondary {
  color: rgba(255, 255, 255, 0.7);
}
.text-muted,
.text-secondary {
  color: rgba(255, 255, 255, 0.4) !important;
}
.boxed-page .wrapper {
  background-color: #0664c1;
}
.bg-light-opac {
  background-color: #0667c6;
}
.content-color-primary {
  color: #ffffff;
}
.content-color-secondary {
  color: rgba(255, 255, 255, 0.7);
}
.list-group-item.new {
  background-color: rgba(121, 121, 255, 0.05);
}
.list-group-item.link-media .media:hover {
  background-color: rgba(121, 121, 255, 0.05);
}
.popover.tour-tour .popover-title {
  background-color: #7979ff;
  color: #fff;
}
.card .card-footer.bg-light-secondary,
.bg-light-secondary {
  background-color: rgba(255, 255, 255, 0.06) !important;
  color: rgba(255, 255, 255, 0.7);
}
.loader {
  background: #065fb7;
}
.main-header {
  background-color: #3c99f5;
}
.search-header .input-group .form-control {
  background-color: rgba(6, 95, 183, 0.5);
}
.sidebar {
  background: #2382e0;
  color: #ffffff;
}
.sidebar.sidebar-right > div::-webkit-scrollbar-track {
  background: #2382e0;
}
.sidebar.sidebar-right > div::-webkit-scrollbar-thumb {
  background: #bfdbf6;
}
.sidebar.sidebar-right .close-sidebar {
  background: #2382e0;
  color: #ffffff;
}
.sidebar .nav {
  background: rgba(35, 130, 224, 0.65);
}
.sidebar .nav .nav-item .nav-link:hover {
  background: #398fe3;
}
.sidebar .nav .nav-item .nav-link.active.dropdwown-toggle, .sidebar .nav .nav-item .nav-link.router-link-active.dropdwown-toggle {
  color: #ffffff;
  background: #398fe3;
}
.sidebar::-webkit-scrollbar-track {
  background: #2382e0;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #bfdbf6;
}
.iconsibarbar .sidebar-left .nav .nav-item .nav-link.dropdwown-toggle + .nav {
  background: #1d75cd;
}
.card {
  background-color: #0774df;
}
.staked {
  border: 2px solid #2b92f8;
}
a.media:hover {
  background-color: rgba(6, 95, 183, 0.4);
}
.switch + label {
  background-color: #05529e;
}
.switch:not(:checked) + label {
  background-color: #05529e !important;
}
.form-control {
  background-color: #0667c6;
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.form-control:focus {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: #0879e8;
  color: rgba(255, 255, 255, 0.6);
}
.line-control-menu-bar, .line-control-status-bar {
  background: #065fb7;
}
.close-setting-sidebar {
  background: #0879e8;
}
.chat-window .card .card-body {
  background: #065fb7;
}
.chatlist li .media .media-body {
  background: #076cd0;
}
.chatlist li .media .media-body:before {
  background: #076cd0;
}
.wizard-1.nav-tabs .nav-item:after {
  border-right: 20px solid #0664c1;
}
.wizard-1.nav-tabs .nav-item:before {
  border-right: 20px solid #0664c1;
}
.wizard-1.nav-tabs .nav-item a.nav-link {
  background-color: #0664c1;
}

.wizard-1.nav-tabs .nav-item a.nav-link.active:before {
  background-color: #0664c1;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:after {
  background-color: #0664c1;
}

.wizard-1.nav-tabs .nav-item a.nav-link.active span {
  color: #ffffff;
}

.btn_default svg, .btn_default span{
  color: rgba(255, 255, 255, 0.6) !important;
}
.btn_default button{
  background-color: #167CE1 !important;
}
.btn_default {
  cursor:pointer
}

.svg_default{color: rgba(255, 255, 255, 0.6)}
.btn_default svg:hover, .svg_default span:hover, .svg_default_30:hover{
  color: rgba(255, 255, 255, 0.8) !important;
}
.btn_success svg, .btn_success span{ color:#41cd52 !important;}
.btn_danger svg, .btn_danger span{ color:#FF0000 !important}
.svg_default_30 {border: rgba(255, 255, 255, 0.6) solid 1px;}
.svg_default_40 {border: rgba(255, 255, 255, 0.6) solid 1px;}
.svg_default_50 {border: rgba(255, 255, 255, 0.6) solid 1px;}
.dropdown-menu{color:rgba(255, 255, 255, 0.6) !important; background-color: #167CE1 !important}
.dropdown-menu .dropdown-item:hover {
    background-color: #065FB7 !important;
    color: rgba(255, 255, 255, 0.6) !important;
}

.like_window:hover, .dislike_window:hover, .repost_window:hover {background: #065FB7; color:rgba(255, 255, 255, 0.8) !important;}
.comment_like_window:hover, .comment_dislike_window:hover {background: #065FB7; color: rgba(255, 255, 255, 0.8) !important;}
.c_like:hover~.like_window, .c_dislike:hover~.dislike_window, .c_repost:hover~.repost_window, .u_like:hover~.like_window, .u_dislike:hover~.dislike_window, .u_repost:hover~.repost_window{background: #065FB7; color: rgba(255, 255, 255, 0.8) !important;}
.c_like2:hover~.comment_like_window, .c_dislike2:hover~.comment_dislike_window, .u_like2:hover~.comment_like_window,  .u_dislike2:hover~.comment_dislike_window{background:#065FB7; color: rgba(255, 255, 255, 0.8) !important;}
.thumb{
border:rgba(255, 255, 255, 0.8) solid 1px;
}
.thumb_small{
  border:rgba(255, 255, 255, 0.8) solid 1px;
}
