::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5) !important;
}
a:hover{
  color: #ffffff !important;
}
a {
  color: rgba(255, 255, 255, 0.9) !important;
}
.csslider > .arrows label {
  box-shadow: inset 2px -2px 0 1px rgba(255, 255, 255, 0.9) !important;
}
.csslider > .arrows label:hover {
box-shadow: inset 2px -2px 0 1px #ffffff !important;
}
.progress_line {
  background-color: rgba(255, 255, 255, 0.9) !important
}
.mt-0 a, .mt-0 p, .media-body p, .card-body p{color: rgba(255, 255, 255, 0.9) !important;}

.form-control::placeholder{color: rgba(255, 255, 255, 0.6);font-style: italic;}

.border{
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
}
.border-left {
  border-left: 1px solid rgba(255, 255, 255, 0.7) !important;
}
.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important;
}
.text_support a, .i_link {
  color: #73B9F5 !important;
  font-weight: 400;
}
.text_support a:hover {
  border-bottom: 1px solid #73B9F5 !important;
  color: #73B9F5 !important;
}
.i_link :hover {
  color: #73B9F5 !important;
}

body {
  background-color: #67473c;
  font-size: 1em;
  line-height: 1.4em;
  color: rgba(255, 255, 255, 0.7) !important;
}
.header-color-primary {
  color: #ffffff;
}
.media p, .media span {
  color: rgba(255, 255, 255, 0.7) !important;
}
.header-color-secondary {
  color: rgba(255, 255, 255, 0.7);
}
.text-muted,
.text-secondary {
  color: rgba(255, 255, 255, 0.4) !important;
}
.boxed-page .wrapper {
  background-color: #6d4b40;
}
.bg-light-opac {
  background-color: #714e42;
}
.content-color-primary {
  color: #ffffff;
}
.content-color-secondary {
  color: rgba(255, 255, 255, 0.7);
}

.card .card-footer.bg-light-secondary,
.bg-light-secondary {
  background-color: rgba(255, 255, 255, 0.06) !important;
  color: rgba(255, 255, 255, 0.7);
}

.main-header {
  background-color: #956c5d;
}
.search-header .input-group .form-control {
  background-color: rgba(103, 71, 60, 0.5);
}
.card, .mobile_naw, .card_fullscreen {
  background-color: #81594b;
}

a.media:hover {
  background-color: rgba(103, 71, 60, 0.4);
}
.switch + label {
  background-color: #573c33;
}
.switch:not(:checked) + label {
  background-color: #573c33 !important;
}
.form-control, select {
  background-color: #714e42;
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.form-control:focus, select:focus {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: #875d4f;
  color: rgba(255, 255, 255, 0.6);
}
.line-control-menu-bar, .line-control-status-bar {
  background: #67473c;
}

.chat-window .card .card-body {
  background: #67473c;
}
.chatlist li .media .media-body {
  background: #775245;
}
.chatlist li .media .media-body:before {
  background: #775245;
}
.wizard-1.nav-tabs .nav-item:after {
  border-right: 20px solid #6d4b40;
}
.wizard-1.nav-tabs .nav-item:before {
  border-right: 20px solid #6d4b40;
}
.wizard-1.nav-tabs .nav-item a.nav-link {
  background-color: #6d4b40;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:after {
  border-left: 20px solid #6d4b40;
}

.wizard-1.nav-tabs .nav-item a.nav-link.active:before {
  border-left: 20px solid #6d4b40;
}

.btn_default svg{
  color: rgba(255, 255, 255, 0.7) !important;
}
.btn_default .active{
  color: rgba(255, 255, 255, 1) !important;
}
.btn_default span{
  color: rgba(255, 255, 255, 0.9) !important;
}
.btn_default button{
  background-color: #886356 !important;
}
.svg_default {color: rgba(255, 255, 255, 0.8) !important}
.btn_default svg:hover, .svg_default span:hover, .svg_default_30:hover{
  color: rgba(255, 255, 255, 0.8) !important;
}
.btn_success svg, .btn_success span{ color:#41cd52 !important;}
.btn_danger svg, .btn_danger span{ color:#FF0000 !important}
.svg_default_30, .svg_default_40, .svg_default_50, .svg_default_80{border: rgba(255, 255, 255, 0.7) solid 1px;}
.dropdown-menu, .lite_color{color:rgba(255, 255, 255, 0.9) !important; background-color: #886356 !important}
.dropdown-menu .dropdown-item:hover {
    background-color: #67473C !important;
    color: rgba(255, 255, 255, 0.9) !important;
}

.progress2:before{
  background-color: #67473C !important;
}

.like_window, .dislike_window, .repost_window,
.comment_like_window, .comment_dislike_window, .custom_color {
  background: #6d4b40 !important; color: rgba(255, 255, 255, 0.9) !important;
}
.thumb{
border: rgba(255, 255, 255, 0.9) solid 1px;
}
.thumb_small{
  border:rgba(255, 255, 255, 0.9) solid 1px;
}
