a:hover{
  color: #ffffff !important;
}

a {
  color: rgba(255, 255, 255, 0.7) !important
}
.mt-0 a, .mt-0 p, .media-body p, .card-body p{color: rgba(255, 255, 255, 0.6) !important;}

.form-control::placeholder{color: rgba(255, 255, 255, 0.6);font-style: italic;}
.border{
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
}
body {
background-color: #271531;
  font-size: 1em;
  line-height: 1.4em;
  color: #ffffff;
}
.header-color-primary {
  color: #ffffff;
}
.header-color-secondary {
  color: rgba(255, 255, 255, 0.65);
}
.text-muted,
.text-secondary {
  color: rgba(255, 255, 255, 0.4) !important;
}
.boxed-page .wrapper {
  background-color: #2d1838;
}
.bg-light-opac {
  background-color: #301a3c;
}
.content-color-primary {
  color: #ffffff;
}
.media p {
  color: rgba(255, 255, 255, 0.7) !important;
}
.content-color-secondary {
  color: rgba(255, 255, 255, 0.65);
}
.list-group-item.new {
  background-color: rgba(121, 121, 255, 0.05);
}
.list-group-item.link-media .media:hover {
  background-color: rgba(121, 121, 255, 0.05);
}
.popover.tour-tour .popover-title {
  background-color: #7979ff;
  color: #fff;
}
.card .card-footer.bg-light-secondary,
.bg-light-secondary {
  background-color: rgba(255, 255, 255, 0.06) !important;
  color: rgba(255, 255, 255, 0.65);
}
.loader {
  background: #271531;
}
.main-header {
  background-color: #582a72;
}
.search-header .input-group .form-control {
  background-color: rgba(39, 21, 49, 0.5);
}
.sidebar {
  background: #432753;
  color: #ffffff;
}
.sidebar.sidebar-right > div::-webkit-scrollbar-track {
  background: #432753;
}
.sidebar.sidebar-right > div::-webkit-scrollbar-thumb {
  background: #a170bc;
}
.sidebar.sidebar-right .close-sidebar {
  background: #432753;
  color: #ffffff;
}
.sidebar .nav {
  background: rgba(67, 39, 83, 0.65);
}
.sidebar .nav .nav-item .nav-link:hover {
  background: #512f64;
}
.sidebar .nav .nav-item .nav-link.active.dropdwown-toggle, .sidebar .nav .nav-item .nav-link.router-link-active.dropdwown-toggle {
  color: #ffffff;
  background: #512f64;
}
.sidebar::-webkit-scrollbar-track {
  background: #432753;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #a170bc;
}
.iconsibarbar .sidebar-left .nav .nav-item .nav-link.dropdwown-toggle + .nav {
  background: #351f42;
}
.card {
  background-color: #3e214e;
}
.staked {
  border: 2px solid #603478;
}
a.media:hover {
  background-color: rgba(39, 21, 49, 0.4);
}
.switch + label {
  background-color: #190d1f;
}
.switch:not(:checked) + label {
  background-color: #190d1f !important;
}
.checkbox-user-check.active {
  background: #7979ff;
}
.form-control {
  background-color: #301a3c;
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.form-control:focus {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: #432455;
  color: rgba(255, 255, 255, 0.6);
}
.line-control-menu-bar, .line-control-status-bar {
  background: #271531;
}
.close-setting-sidebar {
  background: #432455;
}
.chat-window .card .card-body {
  background: #271531;
}
.chatlist li .media .media-body {
  background: #351d43;
}
.chatlist li .media .media-body:before {
  background: #351d43;
}
.wizard-1.nav-tabs .nav-item:after {
  border-right: 20px solid #2d1838;
}
.wizard-1.nav-tabs .nav-item:before {
  border-right: 20px solid #2d1838;
}
.wizard-1.nav-tabs .nav-item a.nav-link {
  background-color: #2d1838;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:after {
  border-left: 20px solid #2d1838;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:before {
  border-left: 20px solid #2d1838;
}

.btn_default svg, .btn_default span{
  color: rgba(255, 255, 255, 0.6) !important;
}
.btn_default button{
  background-color: #492E58 !important;
}
.svg_default{color: rgba(255, 255, 255, 0.6)}
.btn_default svg:hover, .svg_default span:hover, .svg_default_30:hover{
  color: rgba(255, 255, 255, 0.8) !important;
}
.btn_success svg, .btn_success span{ color:#41cd52 !important;}
.btn_danger svg, .btn_danger span{ color:#FF0000 !important}
.svg_default_30 {border: rgba(255, 255, 255, 0.6) solid 1px;}
.svg_default_40 {border: rgba(255, 255, 255, 0.6) solid 1px;}
.svg_default_50 {border: rgba(255, 255, 255, 0.6) solid 1px;}
.dropdown-menu{color:rgba(255, 255, 255, 0.6) !important; background-color: #582A72 !important}
.dropdown-menu .dropdown-item:hover {
    background-color: #271531 !important;
    color: rgba(255, 255, 255, 0.6) !important;
}
.like_window, .dislike_window, .repost_window,
.comment_like_window, .comment_dislike_window {
  background: #2d1838; color: rgba(255, 255, 255, 0.6) !important;
}
.thumb{
border:rgba(255, 255, 255, 0.6) solid 1px;
}
.thumb_small{
  border:rgba(255, 255, 255, 0.6) solid 1px;
}
