::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5) !important;
}
a:hover{
  color: #ffffff !important;
}
a {
  color: rgba(255, 255, 255, 0.7) !important
}
.slides_arrows label {
  box-shadow: inset 2px -2px 0 1px rgba(255, 255, 255, 0.7) !important;
}
.slides_arrows label:hover {
box-shadow: inset 2px -2px 0 1px #ffffff !important;
}
.mt-0 a, .mt-0 p, .media-body p, .card-body p{color: rgba(255, 255, 255, 0.6) !important;}

a:hover{
  color:#ffffff !important;
}
.form-control::placeholder{color: rgba(255, 255, 255, 0.6);font-style: italic;}
.border{
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
}
.border-left {
  border-left: 1px solid rgba(255, 255, 255, 0.7) !important;
}
.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important;
}
.text_support a, .i_link {
  color: #73B9F5 !important;
  font-weight: 400;
}
.text_support a:hover {
  border-bottom: 1px solid #73B9F5 !important;
  color: #73B9F5 !important;
}
.i_link :hover {
  color: #73B9F5 !important;
}

body {
  background-color: #0f152f;
  color: rgba(255, 255, 255, 0.8) !important;
}
.header-color-primary {
  color: #ffffff;
}
.header-color-secondary {
  color: rgba(255, 255, 255, 0.7);
}
.media p, .media span {
  color: rgba(255, 255, 255, 0.7) !important;
}
.text-muted,
.text-secondary {
  color: rgba(255, 255, 255, 0.4) !important;
}

.content-color-primary {
  color: #ffffff;
}
.content-color-secondary {
  color: rgba(255, 255, 255, 0.7);
}
.card .card-footer.bg-light-secondary,
.bg-light-secondary {
  background-color: rgba(255, 255, 255, 0.06) !important;
  color: rgba(255, 255, 255, 0.7);
}
.main-header {
  background-color: #233160;
}
.search-header .input-group .form-control {
  background-color: rgba(15, 21, 47, 0.5);
}
.card, .mobile_naw, .card_fullscreen {
  background-color: #19234e;
}

a.media:hover {
  background-color: rgba(15, 21, 47, 0.4);
}
.switch + label {
  background-color: #090c1c;
}
.switch:not(:checked) + label {
  background-color: #090c1c !important;
}
.checkbox-user-check.active {
  background: #7979ff;
}
.form-control, select {
  background-color: #131a3b;
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.form-control:focus, select:focus {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: #1b2656;
  color: rgba(255, 255, 255, 0.6);
}
.line-control-menu-bar, .line-control-status-bar {
  background: #0f152f;
}

.chat-window .card .card-body {
  background: #0f152f;
}
.chatlist li .media .media-body {
  background: #151e42;
}
.chatlist li .media .media-body:before {
  background: #151e42;
}

.btn_default svg, .btn_default span{
  color: rgba(255, 255, 255, 0.6) !important;
}
.btn_default .active{
  color: rgba(255, 255, 255, 1) !important;
}
.btn_default button{
  background-color: #273058 !important;
}
.svg_default {color: rgba(255, 255, 255, 0.6) !important}
.btn_default svg:hover, .svg_default span:hover, .svg_default_30:hover{
  color: rgba(255, 255, 255, 0.8) !important;
}
.btn_success svg, .btn_success span{ color:#41cd52 !important;}
.btn_danger svg, .btn_danger span{ color:#FF0000 !important}

.svg_default_30, .svg_default_40, .svg_default_50, .svg_default_80{border: rgba(255, 255, 255, 0.6) solid 1px;}
.dropdown-menu, .lite_color{color:rgba(255, 255, 255, 0.6) !important; background-color: #111837 !important}
.dropdown-menu .dropdown-item:hover {
    background-color: #233160 !important;
    color: rgba(255, 255, 255, 0.6) !important;
}
.progress2:before{
  background-color: #233160 !important;
}
.like_window, .dislike_window, .repost_window,
.comment_like_window, .comment_dislike_window, .custom_color {
  background: #111837 !important; color: rgba(255, 255, 255, 0.6) !important;
}

.thumb{
border:rgba(255, 255, 255, 0.6) solid 1px;
}
.thumb_small{
  border:rgba(255, 255, 255, 0.6) solid 1px;
}
