a:hover{
  color: #ffffff !important;
}
a {
  color: rgba(255, 255, 255, 0.9) !important;
}
.mt-0 a, .mt-0 p, .media-body p, .card-body p{color: rgba(255, 255, 255, 0.9) !important;}

.form-control::placeholder{color: rgba(255, 255, 255, 0.6);font-style: italic;}
.border{
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
}
body {
  background-color: #e87e13;
  font-size: 1em;
  line-height: 1.4em;
  color: #ffffff;
}
.header-color-primary {
  color: #ffffff;
}
.header-color-secondary {
  color: rgba(255, 255, 255, 0.7);
}
.text-muted,
.text-secondary {
  color: rgba(255, 255, 255, 0.4) !important;
}
.boxed-page .wrapper {
  background-color: #ec8319;
}
.media p {
  color: rgba(255, 255, 255, 0.7) !important;
}
.bg-light-opac {
  background-color: #ed861e;
}
.content-color-primary {
  color: #ffffff;
}
.content-color-secondary {
  color: rgba(255, 255, 255, 0.7);
}
.list-group-item.new {
  background-color: rgba(121, 121, 255, 0.05);
}
.list-group-item.link-media .media:hover {
  background-color: rgba(121, 121, 255, 0.05);
}
.popover.tour-tour .popover-title {
  background-color: #7979ff;
  color: #fff;
}
.card .card-footer.bg-light-secondary,
.bg-light-secondary {
  background-color: rgba(255, 255, 255, 0.06) !important;
  color: rgba(255, 255, 255, 0.7);
}
.loader {
  background: #e87e13;
}
.main-header {
  background-color: #fda600;
}
.search-header .input-group .form-control {
  background-color: rgba(232, 126, 19, 0.5);
}
.sidebar {
  background: #ff9300;
  color: #ffffff;
}
.sidebar.sidebar-right > div::-webkit-scrollbar-track {
  background: #ff9300;
}
.sidebar.sidebar-right > div::-webkit-scrollbar-thumb {
  background: #ffdfb3;
}
.sidebar.sidebar-right .close-sidebar {
  background: #ff9300;
  color: #ffffff;
}
.sidebar .nav {
  background: rgba(255, 147, 0, 0.65);
}
.sidebar .nav .nav-item .nav-link:hover {
  background: #ff9e1a;
}
.sidebar .nav .nav-item .nav-link.active.dropdwown-toggle, .sidebar .nav .nav-item .nav-link.router-link-active.dropdwown-toggle {
  color: #ffffff;
  background: #ff9e1a;
}
.sidebar::-webkit-scrollbar-track {
  background: #ff9300;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #ffdfb3;
}
.iconsibarbar .sidebar-left .nav .nav-item .nav-link.dropdwown-toggle + .nav {
  background: #e68400;
}
.card {
  background-color: #ee9235;
}
.staked {
  border: 2px solid #f3b16e;
}
a.media:hover {
  background-color: rgba(232, 126, 19, 0.4);
}
.switch + label {
  background-color: #d07111;
}
.switch:not(:checked) + label {
  background-color: #d07111 !important;
}
.checkbox-user-check.active {
  background: #7979ff;
}
.form-control, select {
  background-color: #ed861e;
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.form-control:focus, select:focus {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: #ef973f;
  color: rgba(255, 255, 255, 0.6);
}
.line-control-menu-bar, .line-control-status-bar {
  background: #e87e13;
}
.close-setting-sidebar {
  background: #ef973f;
}
.chat-window .card .card-body {
  background: #e87e13;
}
.chatlist li .media .media-body {
  background: #ed8b27;
}
.chatlist li .media .media-body:before {
  background: #ed8b27;
}
.wizard-1.nav-tabs .nav-item:after {
  border-right: 20px solid #ec8319;
}
.wizard-1.nav-tabs .nav-item:before {
  border-right: 20px solid #ec8319;
}
.wizard-1.nav-tabs .nav-item a.nav-link {
  background-color: #ec8319;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:after {
  border-left: 20px solid #ec8319;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:before {
  border-left: 20px solid #ec8319;
}
.btn_default svg{
  color: rgba(255, 255, 255, 0.7) !important;
}
.btn_default span{
  color: rgba(255, 255, 255, 0.9) !important;
}
.btn_default button{
  background-color: #EF9841 !important;
}
.svg_default{color: rgba(255, 255, 255, 0.8)}
.btn_default svg:hover, .svg_default span:hover, .svg_default_30:hover{
  color: rgba(255, 255, 255, 0.8) !important;
}
.btn_success svg, .btn_success span{ color:#41cd52 !important;}
.btn_danger svg, .btn_danger span{ color:#FF0000 !important}
.svg_default_30 {border: rgba(255, 255, 255, 0.7) solid 1px;}
.svg_default_40 {border: rgba(255, 255, 255, 0.7) solid 1px;}
.svg_default_50 {border: rgba(255, 255, 255, 0.7) solid 1px;}
.dropdown-menu{color:rgba(255, 255, 255, 0.9) !important; background-color: #EE9235 !important}
.dropdown-menu .dropdown-item:hover {
    background-color: #E87E13 !important;
    color: rgba(255, 255, 255, 0.9) !important;
}
.like_window, .dislike_window, .repost_window,
.comment_like_window, .comment_dislike_window {
  background: #ec8319; color: rgba(255, 255, 255, 0.9) !important;
}
.thumb{
border: rgba(255, 255, 255, 0.9) solid 1px;
}
.thumb_small{
  border:rgba(255, 255, 255, 0.9) solid 1px;
}
