::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5) !important;
}
a:hover{
  color: #ffffff !important;
}
a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.mt-0 a, .mt-0 p, .media-body p, .card-body p{color: rgba(255, 255, 255, 0.6) !important;}

.form-control::placeholder{color: rgba(255, 255, 255, 0.6);font-style: italic;}
.border{
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
}
body {
  background-color: #492786;
  font-size: 1em;
  line-height: 1.4em;
  color: #ffffff;
}
.header-color-primary {
  color: #ffffff;
}
.header-color-secondary {
  color: rgba(255, 255, 255, 0.7);
}
.text-muted,
.text-secondary {
  color: rgba(255, 255, 255, 0.4) !important;
}
.boxed-page .wrapper {
  background-color: #4d298e;
}
.media p {
  color: rgba(255, 255, 255, 0.7) !important;
}
.bg-light-opac {
  background-color: #4f2a92;
}
.content-color-primary {
  color: #ffffff;
}
.content-color-secondary {
  color: rgba(255, 255, 255, 0.7);
}
.list-group-item.new {
  background-color: rgba(121, 121, 255, 0.05);
}
.list-group-item.link-media .media:hover {
  background-color: rgba(121, 121, 255, 0.05);
}
.popover.tour-tour .popover-title {
  background-color: #7979ff;
  color: #fff;
}
.card .card-footer.bg-light-secondary,
.bg-light-secondary {
  background-color: rgba(255, 255, 255, 0.06) !important;
  color: rgba(255, 255, 255, 0.7);
}
.loader {
  background: #492786;
}
.main-header {
  background-color: #7e3eef;
}
.search-header .input-group .form-control {
  background-color: rgba(73, 39, 134, 0.5);
}
.sidebar {
  background: #5d2cb4;
  color: #ffffff;
}
.sidebar.sidebar-right > div::-webkit-scrollbar-track {
  background: #5d2cb4;
}
.sidebar.sidebar-right > div::-webkit-scrollbar-thumb {
  background: #c0a9ea;
}
.sidebar.sidebar-right .close-sidebar {
  background: #5d2cb4;
  color: #ffffff;
}
.sidebar .nav {
  background: rgba(93, 44, 180, 0.65);
}
.sidebar .nav .nav-item .nav-link:hover {
  background: #6831c8;
}
.sidebar .nav .nav-item .nav-link.active.dropdwown-toggle, .sidebar .nav .nav-item .nav-link.router-link-active.dropdwown-toggle {
  color: #ffffff;
  background: #6831c8;
}
.sidebar::-webkit-scrollbar-track {
  background: #5d2cb4;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #c0a9ea;
}
.iconsibarbar .sidebar-left .nav .nav-item .nav-link.dropdwown-toggle + .nav {
  background: #5227a0;
}
.card {
  background-color: #5a30a6;
}
.staked {
  border: 2px solid #7749ca;
}
a.media:hover {
  background-color: rgba(73, 39, 134, 0.4);
}
.switch + label {
  background-color: #3e2172;
}
.switch:not(:checked) + label {
  background-color: #3e2172 !important;
}
.checkbox-user-check.active {
  background: #7979ff;
}
.form-control, select {
  background-color: #4f2a92;
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.form-control:focus, select:focus {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: #5f32ae;
  color: rgba(255, 255, 255, 0.6);
}
.line-control-menu-bar, .line-control-status-bar {
  background: #492786;
}
.close-setting-sidebar {
  background: #5f32ae;
}
.chat-window .card .card-body {
  background: #492786;
}
.chatlist li .media .media-body {
  background: #542d9a;
}
.chatlist li .media .media-body:before {
  background: #542d9a;
}
.wizard-1.nav-tabs .nav-item:after {
  border-right: 20px solid #4d298e;
}
.wizard-1.nav-tabs .nav-item:before {
  border-right: 20px solid #4d298e;
}
.wizard-1.nav-tabs .nav-item a.nav-link {
  background-color: #4d298e;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:after {
  border-left: 20px solid #4d298e;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:before {
  border-left: 20px solid #4d298e;
}

.btn_default svg, .btn_default span{
  color: rgba(255, 255, 255, 0.6) !important;
}
.btn_default button{
  background-color: #643CAB !important;
}
.svg_default{color: rgba(255, 255, 255, 0.6)}
.btn_default svg:hover, .svg_default span:hover, .svg_default_30:hover{
  color: rgba(255, 255, 255, 0.8) !important;
}
.btn_success svg, .btn_success span{ color:#41cd52 !important;}
.btn_danger svg, .btn_danger span{ color:#FF0000 !important}
.svg_default_30 {border: rgba(255, 255, 255, 0.6) solid 1px;}
.svg_default_40 {border: rgba(255, 255, 255, 0.6) solid 1px;}
.svg_default_50 {border: rgba(255, 255, 255, 0.6) solid 1px;}
.dropdown-menu{color:rgba(255, 255, 255, 0.6) !important; background-color: #643CAB !important}
.dropdown-menu .dropdown-item:hover {
    background-color: #492786 !important;
    color: rgba(255, 255, 255, 0.6) !important;
}
.like_window, .dislike_window, .repost_window,
.comment_like_window, .comment_dislike_window {
  background: #4d298e; color: rgba(255, 255, 255, 0.6) !important;
}
.thumb{
border:rgba(255, 255, 255, 0.6) solid 1px;
}
.thumb_small{
  border:rgba(255, 255, 255, 0.6) solid 1px;
}
