a:hover{
  color: #ffffff !important;
}
a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.mt-0 a, .mt-0 p, .media-body p, .card-body p{color: rgba(255, 255, 255, 0.6) !important;}

.form-control::placeholder{color: rgba(255, 255, 255, 0.6);font-style: italic;}
.border{
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
}
body {
  background-color: #d32c2c;
  font-size: 1em;
  line-height: 1.4em;
  color: #ffffff;
}
.header-color-primary {
  color: #ffffff;
}
.header-color-secondary {
  color: rgba(255, 255, 255, 0.7);
}
.text-muted,
.text-secondary {
  color: rgba(255, 255, 255, 0.4) !important;
}
.boxed-page .wrapper {
  background-color: #d53434;
}
.media p {
  color: rgba(255, 255, 255, 0.7) !important;
}
.bg-light-opac {
  background-color: #d63939;
}
.content-color-primary {
  color: #ffffff;
}
.content-color-secondary {
  color: rgba(255, 255, 255, 0.7);
}
.list-group-item.new {
  background-color: rgba(121, 121, 255, 0.05);
}
.list-group-item.link-media .media:hover {
  background-color: rgba(121, 121, 255, 0.05);
}
.popover.tour-tour .popover-title {
  background-color: #7979ff;
  color: #fff;
}
.card .card-footer.bg-light-secondary,
.bg-light-secondary {
  background-color: rgba(255, 255, 255, 0.06) !important;
  color: rgba(255, 255, 255, 0.7);
}
.loader {
  background: #d32c2c;
}
.main-header {
  background-color: #f84a58;
}
.search-header .input-group .form-control {
  background-color: rgba(211, 44, 44, 0.5);
}
.sidebar {
  background: #e83939;
  color: #ffffff;
}
.sidebar.sidebar-right > div::-webkit-scrollbar-track {
  background: #e83939;
}
.sidebar.sidebar-right > div::-webkit-scrollbar-thumb {
  background: #fbd9d9;
}
.sidebar.sidebar-right .close-sidebar {
  background: #e83939;
  color: #ffffff;
}
.sidebar .nav {
  background: rgba(232, 57, 57, 0.65);
}
.sidebar .nav .nav-item .nav-link:hover {
  background: #eb5050;
}
.sidebar .nav .nav-item .nav-link.active.dropdwown-toggle, .sidebar .nav .nav-item .nav-link.router-link-active.dropdwown-toggle {
  color: #ffffff;
  background: #eb5050;
}
.sidebar::-webkit-scrollbar-track {
  background: #e83939;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #fbd9d9;
}
.iconsibarbar .sidebar-left .nav .nav-item .nav-link.dropdwown-toggle + .nav {
  background: #e52222;
}
.card {
  background-color: #da4e4e;
}
.staked {
  border: 2px solid #e58080;
}
a.media:hover {
  background-color: rgba(211, 44, 44, 0.4);
}
.switch + label {
  background-color: #be2828;
}
.switch:not(:checked) + label {
  background-color: #be2828 !important;
}
.checkbox-user-check.active {
  background: #7979ff;
}
.form-control {
  background-color: #d63939;
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.form-control:focus {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: #dc5656;
  color: rgba(255, 255, 255, 0.6);
}
.line-control-menu-bar, .line-control-status-bar {
  background: #d32c2c;
}
.close-setting-sidebar {
  background: #dc5656;
}
.chat-window .card .card-body {
  background: #d32c2c;
}
.chatlist li .media .media-body {
  background: #d74141;
}
.chatlist li .media .media-body:before {
  background: #d74141;
}
.wizard-1.nav-tabs .nav-item:after {
  border-right: 20px solid #d53434;
}
.wizard-1.nav-tabs .nav-item:before {
  border-right: 20px solid #d53434;
}
.wizard-1.nav-tabs .nav-item a.nav-link {
  background-color: #d53434;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:after {
  border-left: 20px solid #d53434;
}

.wizard-1.nav-tabs .nav-item a.nav-link.active:before {
  border-left: 20px solid #d53434;
}

.btn_default svg, .btn_default span{
  color: rgba(255, 255, 255, 0.6) !important;
}
.btn_default button{
  background-color: #DC5858 !important;
}
.svg_default{color: rgba(255, 255, 255, 0.6)}
.btn_default svg:hover, .svg_default span:hover, .svg_default_30:hover{
  color: rgba(255, 255, 255, 0.8) !important;
}
.btn_success svg, .btn_success span{ color:#41cd52 !important;}
.btn_danger svg, .btn_danger span{ color:#FF0000 !important}
.svg_default_30 {border: rgba(255, 255, 255, 0.6) solid 1px;}
.svg_default_40 {border: rgba(255, 255, 255, 0.6) solid 1px;}
.svg_default_50 {border: rgba(255, 255, 255, 0.6) solid 1px;}
.dropdown-menu{color:rgba(255, 255, 255, 0.6) !important; background-color: #DC5858 !important}
.dropdown-menu .dropdown-item:hover {
    background-color: #D32C2C !important;
    color: rgba(255, 255, 255, 0.6) !important;
}

.like_window:hover, .dislike_window:hover, .repost_window:hover {background: #d53434; color: rgba(255, 255, 255, 0.6) !important;}
.comment_like_window:hover, .comment_dislike_window:hover {background: #d53434; color: rgba(255, 255, 255, 0.6) !important;}
.c_like:hover~.like_window, .c_dislike:hover~.dislike_window, .c_repost:hover~.repost_window, .u_like:hover~.like_window, .u_dislike:hover~.dislike_window, .u_repost:hover~.repost_window{background: #d53434; color: rgba(255, 255, 255, 0.6) !important;}
.c_like2:hover~.comment_like_window, .c_dislike2:hover~.comment_dislike_window, .u_like2:hover~.comment_like_window,  .u_dislike2:hover~.comment_dislike_window{background:#d53434; color: rgba(255, 255, 255, 0.6) !important;}
.thumb{
border:rgba(255, 255, 255, 0.6) solid 1px;
}
.thumb_small{
  border:rgba(255, 255, 255, 0.6) solid 1px;
}
