::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5) !important;
}
a:hover{
  color: #ffffff !important;
}
a {
  color: rgba(255, 255, 255, 0.9) !important;
}
.mt-0 a, .mt-0 p, .media-body p, .card-body p{color: rgba(255, 255, 255, 0.9) !important;}

.form-control::placeholder{color: rgba(255, 255, 255, 0.6);font-style: italic;}

body {
  background-color: #0094cb;
  font-size: 1em;
  line-height: 1.4em;
  color: #ffffff;
}
.header-color-primary {
  color: #ffffff;
}
.header-color-secondary {
  color: rgba(255, 255, 255, 0.9);
}
.text-muted,
.text-secondary {
  color: rgba(255, 255, 255, 0.4) !important;
}
.boxed-page .wrapper {
  background-color: #009bd5;
}
.media p {
  color: rgba(255, 255, 255, 0.9) !important;
}
.border{
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
}
.bg-light-opac {
  background-color: #009fda;
}
.content-color-primary {
  color: #ffffff;
}
.content-color-secondary {
  color: rgba(255, 255, 255, 0.9);
}
.list-group-item.new {
  background-color: rgba(121, 121, 255, 0.05);
}
.list-group-item.link-media .media:hover {
  background-color: rgba(121, 121, 255, 0.05);
}
.popover.tour-tour .popover-title {
  background-color: #7979ff;
  color: #fff;
}
.card .card-footer.bg-light-secondary,
.bg-light-secondary {
  background-color: rgba(255, 255, 255, 0.06) !important;
  color: rgba(255, 255, 255, 0.9);
}
.loader {
  background: #0094cb;
}
.main-header {
  background-color: #19b8ff;
}
.search-header .input-group .form-control {
  background-color: rgba(0, 148, 203, 0.5);
}
.sidebar {
  background: #13abf0;
  color: #ffffff;
}
.sidebar.sidebar-right > div::-webkit-scrollbar-track {
  background: #13abf0;
}
.sidebar.sidebar-right > div::-webkit-scrollbar-thumb {
  background: #bbe7fb;
}
.sidebar.sidebar-right .close-sidebar {
  background: #13abf0;
  color: #ffffff;
}
.sidebar .nav {
  background: rgba(19, 171, 240, 0.65);
}
.sidebar .nav .nav-item .nav-link:hover {
  background: #2bb4f2;
}
.sidebar .nav .nav-item .nav-link.active.dropdwown-toggle, .sidebar .nav .nav-item .nav-link.router-link-active.dropdwown-toggle {
  color: #ffffff;
  background: #2bb4f2;
}
.sidebar::-webkit-scrollbar-track {
  background: #13abf0;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #bbe7fb;
}
.iconsibarbar .sidebar-left .nav .nav-item .nav-link.dropdwown-toggle + .nav {
  background: #0e9bdc;
}
.card {
  background-color: #00b2f4;
}
.staked {
  border: 2px solid #32c7ff;
}
a.media:hover {
  background-color: rgba(0, 148, 203, 0.4);
}
.switch + label {
  background-color: #0081b2;
}
.switch:not(:checked) + label {
  background-color: #0081b2 !important;
}
.checkbox-user-check.active {
  background: #7979ff;
}
.form-control, select {
  background-color: #009fda;
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.form-control:focus, select:focus {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: #00b9fe;
  color: rgba(255, 255, 255, 0.6);
}
.line-control-menu-bar, .line-control-status-bar {
  background: #0094cb;
}
.close-setting-sidebar {
  background: #00b9fe;
}
.chat-window .card .card-body {
  background: #0094cb;
}
.chatlist li .media .media-body {
  background: #00a7e5;
}
.chatlist li .media .media-body:before {
  background: #00a7e5;
}
.wizard-1.nav-tabs .nav-item:after {
  border-right: 20px solid #009bd5;
}
.wizard-1.nav-tabs .nav-item:before {
  border-right: 20px solid #009bd5;
}
.wizard-1.nav-tabs .nav-item a.nav-link {
  background-color: #009bd5;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:after {
  border-left: 20px solid #009bd5;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:before {
  border-left: 20px solid #009bd5;
}

.btn_default svg{
  color: rgba(255, 255, 255, 0.7) !important;
}
.btn_default span{
  color: rgba(255, 255, 255, 0.9) !important;
}
.btn_default button{
  background-color: #0FB7F5 !important;
}
.svg_default{color: rgba(255, 255, 255, 0.8)}
.btn_default svg:hover, .svg_default span:hover, .svg_default_30:hover{
  color: rgba(255, 255, 255, 0.8) !important;
}
.btn_success svg, .btn_success span{ color:#41cd52 !important;}
.btn_danger svg, .btn_danger span{ color:#FF0000 !important}
.svg_default_30 {border: rgba(255, 255, 255, 0.7) solid 1px;}
.svg_default_40 {border: rgba(255, 255, 255, 0.7) solid 1px;}
.svg_default_50 {border: rgba(255, 255, 255, 0.7) solid 1px;}
.dropdown-menu{color:rgba(255, 255, 255, 0.9) !important; background-color: #0FB7F5 !important}
.dropdown-menu .dropdown-item:hover {
    background-color: #0094CB !important;
    color: rgba(255, 255, 255, 0.9) !important;
}
.like_window, .dislike_window, .repost_window,
.comment_like_window, .comment_dislike_window {
  background: #009bd5; color: rgba(255, 255, 255, 0.9) !important;
}
.thumb{
border: rgba(255, 255, 255, 0.9) solid 1px;
}
.thumb_small{
  border:rgba(255, 255, 255, 0.9) solid 1px;
}
