::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5) !important;
}

a:hover{
  color: #ffffff !important;
}
a {
  color: rgba(255, 255, 255, 0.9) !important;
}
.csslider > .arrows label {
  box-shadow: inset 2px -2px 0 1px rgba(255, 255, 255, 0.9) !important;
}
.csslider > .arrows label:hover {
box-shadow: inset 2px -2px 0 1px #ffffff !important;
}
.mt-0 a, .mt-0 p, .media-body p, .card-body p{color: rgba(255, 255, 255, 0.9) !important;}

.form-control::placeholder{color: rgba(255, 255, 255, 0.6);font-style: italic;}

body {
  background-color: #0095a8;
  font-size: 1em;
  line-height: 1.4em;
  color: rgba(255, 255, 255, 0.7) !important;
}
.header-color-primary {
  color: #ffffff;
}
.header-color-secondary {
  color: rgba(255, 255, 255, 0.7);
}
.text-muted,
.text-secondary {
  color: rgba(255, 255, 255, 0.4) !important;
}
.media p, .media span {
  color: rgba(255, 255, 255, 0.7) !important;
}
.boxed-page .wrapper {
  background-color: #009eb2;
}
.bg-light-opac {
  background-color: #00a3b7;
}
.content-color-primary {
  color: #ffffff;
}
.content-color-secondary {
  color: rgba(255, 255, 255, 0.7);
}
.border{
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
}
.border-left {
  border-left: 1px solid rgba(255, 255, 255, 0.7) !important;
}
.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important;
}
.text_support a, .i_link {
  color: #282C34 !important;
  font-weight: 400;
}
.text_support a:hover {
  border-bottom: 1px solid #282C34 !important;
  color: #282C34 !important;
}
.i_link :hover {
  color: #282C34 !important;
}

.card .card-footer.bg-light-secondary,
.bg-light-secondary {
  background-color: rgba(255, 255, 255, 0.06) !important;
  color: rgba(255, 255, 255, 0.7);
}

.main-header {
  background-color: #00bcd4;
}
.search-header .input-group .form-control {
  background-color: rgba(0, 149, 168, 0.5);
}
.card, .mobile_naw, .card_fullscreen {
  background-color: #00b9d1;
}

a.media:hover {
  background-color: rgba(0, 149, 168, 0.4);
}
.switch + label {
  background-color: #007e8f;
}
.switch:not(:checked) + label {
  background-color: #007e8f !important;
}
.checkbox-user-check.active {
  background: #7979ff;
}
.form-control, select {
  background-color: #00a3b7;
  border-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
.form-control:focus, select:focus {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: #00c2db;
  color: rgba(255, 255, 255, 0.6);
}
.line-control-menu-bar, .line-control-status-bar {
  background: #0095a8;
}

.chat-window .card .card-body {
  background: #0095a8;
}
.chatlist li .media .media-body {
  background: #00acc2;
}
.chatlist li .media .media-body:before {
  background: #00acc2;
}
.wizard-1.nav-tabs .nav-item:after {
  border-right: 20px solid #009eb2;
}
.wizard-1.nav-tabs .nav-item:before {
  border-right: 20px solid #009eb2;
}
.wizard-1.nav-tabs .nav-item a.nav-link {
  background-color: #009eb2;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:after {
  border-left: 20px solid #009eb2;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:before {
  border-left: 20px solid #009eb2;
}

.btn_default svg{
  color: rgba(255, 255, 255, 0.7) !important;
}
.btn_default .active{
  color: rgba(255, 255, 255, 1) !important;
}
.btn_default span{
  color: rgba(255, 255, 255, 0.9) !important;
}
.btn_default button{
  background-color: #0FBDD4 !important;
}
.svg_default {color: rgba(255, 255, 255, 0.8) !important}
.btn_default svg:hover, .svg_default span:hover, .svg_default_30:hover{
  color: rgba(255, 255, 255, 0.8) !important;
}
.btn_success svg, .btn_success span{ color:#41cd52 !important;}
.btn_danger svg, .btn_danger span{ color:#FF0000 !important}

.svg_default_30, .svg_default_40, .svg_default_50, .svg_default_80{border: rgba(255, 255, 255, 0.7) solid 1px;}
.dropdown-menu, .lite_color{color:rgba(255, 255, 255, 0.9) !important; background-color: #0FBDD4 !important}
.dropdown-menu .dropdown-item:hover {
    background-color: #0095A8 !important;
    color: rgba(255, 255, 255, 0.9) !important;
}
.progress2:before{
  background-color: #0095A8 !important;
}
.like_window, .dislike_window, .repost_window,
.comment_like_window, .comment_dislike_window, .custom_color {
  background: #009eb2 !important; color: rgba(255, 255, 255, 0.9) !important;
}
.thumb{
border: rgba(255, 255, 255, 0.9) solid 1px;
}
.thumb_small{
  border:rgba(255, 255, 255, 0.9) solid 1px;
}
