a:hover{
  color: black !important;
}
a {
  color: rgba(0, 0, 0, 0.8) !important
}
.border-top {
    border-top: 1px solid rgba(127,127,127, 0.7) !important;
}
.border{
  border: 1px solid rgba(127,127,127, 0.7) !important;
}
.form-control::placeholder{color:rgba(0, 0, 0, 0.6);font-style: italic;}

body {
  background-color: #f0f2f6;
  font-size: 1em;
  line-height: 1.4em;
  color: #000000;
}
.header-color-primary {
  color: #000000;
}
.header-color-secondary {
  color: #888888;
}
.media p {
  color: black !important;
}
.text-muted,
.text-secondary {
  color: rgba(0, 0, 0, 0.4) !important;
}
.boxed-page .wrapper {
  background-color: #f6f8fa;
}
.bg-light-opac {
  background-color: #fafafc;
}
.content-color-primary {
  color: rgba(0, 0, 0, 0.7);
}
.content-color-secondary {
  color: rgba(0, 0, 0, 0.7);
}
.list-group-item.new {
  background-color: rgba(121, 121, 255, 0.05);
}
.list-group-item.link-media .media:hover {
  background-color: rgba(121, 121, 255, 0.05);
}
.popover.tour-tour .popover-title {
  background-color: #7979ff;
  color: #fff;
}
.card .card-footer.bg-light-secondary,
.bg-light-secondary {
  background-color: rgba(0, 0, 0, 0.06) !important;
  color: #888888;
}
.loader {
  background: #f0f2f6;
}
.main-header {
  background-color: #ffffff;
}
.search-header .input-group .form-control {
  background-color: rgba(240, 242, 246, 0.5);
}
.sidebar {
  background: #ffffff;
  color: #000000;
}
.sidebar.sidebar-right > div::-webkit-scrollbar-track {
  background: #ffffff;
}
.sidebar.sidebar-right > div::-webkit-scrollbar-thumb {
  background: white;
}
.sidebar.sidebar-right .close-sidebar {
  background: #ffffff;
  color: #000000;
}
.sidebar .nav {
  background: rgba(255, 255, 255, 0.65);
}
.sidebar .nav .nav-item .nav-link:hover {
  background: white;
}
.sidebar .nav .nav-item .nav-link.active.dropdwown-toggle, .sidebar .nav .nav-item .nav-link.router-link-active.dropdwown-toggle {
  color: #000000;
  background: white;
}
.sidebar::-webkit-scrollbar-track {
  background: #ffffff;
}
.sidebar::-webkit-scrollbar-thumb {
  background: white;
}
.iconsibarbar .sidebar-left .nav .nav-item .nav-link.dropdwown-toggle + .nav {
  background: #f2f2f2;
}
.card {
  background-color: white;
}
.staked {
  border: 2px solid white;
}
a.media:hover {
  background-color: rgba(240, 242, 246, 0.4);
}
.switch + label {
  background-color: #e0e4ec;
}
.switch:not(:checked) + label {
  background-color: #e0e4ec !important;
}
.checkbox-user-check.active {
  background: #7979ff;
}
.form-control, select {
  background-color: #fafafc;
  border-color: rgba(0, 0, 0, 0.2);
  color: #000000;
}
.form-control:focus, select:focus {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
}
.line-control-menu-bar, .line-control-status-bar {
  background: #f0f2f6;
}
.close-setting-sidebar {
  background: white;
}
.chat-window .card .card-body {
  background: #f0f2f6;
}
.chatlist li .media .media-body {
  background: white;
}
.chatlist li .media .media-body:before {
  background: white;
}
.wizard-1.nav-tabs .nav-item:after{
  border-right: 20px solid #f6f8fa;
}
.wizard-1.nav-tabs .nav-item:before {
  border-right: 20px solid #f6f8fa;
}
.wizard-1.nav-tabs .nav-item a.nav-link {
  background-color: #f6f8fa;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:after {
  border-left: 20px solid #f6f8fa;
}
.wizard-1.nav-tabs .nav-item a.nav-link.active:before {
  border-left: 20px solid #f6f8fa;
}

.svg_default {color:rgba(0, 0, 0, 0.5)}
.btn_default svg{color:rgba(0, 0, 0, 0.5) !important}
.btn_default span{color:rgba(0, 0, 0, 0.8) !important}
.btn_default button{background-color: #F0F0F0 !important;}
.btn_default svg:hover, .svg_default span:hover, .svg_default_30:hover{color: rgba(0, 0, 0, 0.7) !important;}
.btn_success svg, .btn_success span{ color:#41cd52}
.btn_danger svg, .btn_danger span{ color:#FF0000}

.svg_default_30 {border: #6C757D solid 1px;}
.svg_default_40 {border: #6C757D solid 1px;}
.svg_default_50 {border: #6C757D solid 1px;}
.like_window, .dislike_window, .repost_window,
.comment_like_window, .comment_dislike_window {
  background: #D6DAE1; color: rgba(0, 0, 0, 0.8) !important;
}
.thumb{border:#6C757D solid 1px;}
.thumb_small{border:#6C757D solid 1px;}
.dropdown-menu{color:rgba(0, 0, 0, 0.9) !important; background-color: rgba(255, 255, 255) !important}
.dropdown-menu .dropdown-item:hover{
    background-color: #F0F2F6 !important;
    color: rgba(0, 0, 0) !important;
}
.mt-0 a, .mt-0 p, .media-body p, .card-body p{color: rgba(0, 0, 0, 0.9) !important;}
