{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{% if request.user %}
Мои подписчики
{% else %}
Подписчики пользователя "{{ user.get_full_name }}"
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
<div class="col-12 col-md-8">
<br><br><br>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Поиск людей" aria-label="Recipient's username">
  <div class="input-group-append">
    <button class="btn btn-outline-link" type="button">Искать</button>
  </div>
</div>
  <div class="card mb-2">
        <div class="card-header">
            <div class="media">
                <div class="icon-circle icon-30 bg-light-danger mr-3">
                    <i class="material-icons">person</i>
                </div>
                <div class="media-body">
                    <h5 class="mt-1">{% if request.user %}
                                     Мои подписчики
                                     {% else %}
                                     Подписчики пользователя {{ user.get_full_name }}
                                     {% endif %}
                    </h5>
                </div>
            </div>
        </div>
        <br><br>
        <div class="card-body px-0 py-0">
            <ul class="list-group border-top border-bottom list-group-flush">
              {% for object in followeds_user %}
                <li class="list-group-item">
                    <div class="media">
                      <figure>
                        {% if object.user.profile.avatar %}
                          <img src="{{ object.user.profile.avatar.url }}" style="border-radius:50px;width:50px;" alt="image">
                        {% else %}
                          <img src="{% static 'images/user.png' %}" alt="image" style="border-radius:50px;width:50px;">
                        {% endif %}
                      </figure>
                        <div class="media-body">
                          <a href="{% url 'user' pk=object.user.pk %}">
                            <h6 class="my-0 mt-1">{{ object.user.get_full_name }}</h6>
                          </a>
                          <a href="" class="small">Принять заявку</a>
                        </div>
                    </div>
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="col-12 col-md-4">
  <br><br><br>
  <div class="card mb-2">
        <div class="card-header">
            <div class="media">
                <div class="icon-circle icon-30 bg-light-danger mr-3">
                    <i class="material-icons">tag_faces</i>
                </div>
                <div class="media-body">
                    <h5 class="mt-1">Возможные друзья</h5>
                </div>
                <a href="{% url 'all_users' %}" class="">
                     все
                </a>
            </div>
        </div>
        <div class="card-body px-0 py-0">
          <ul class="list-group border-top border-bottom list-group-flush">
            {% for object in all_user %}
              <li class="list-group-item">
                  <div class="media">
                    <figure>
                      {% if object.profile.avatar %}
                        <img src="{{ object.profile.avatar.url }}" style="border-radius:50px;width:50px;" alt="image">
                      {% else %}
                        <img src="{% static 'images/user.png' %}" alt="image" style="border-radius:50px;width:50px;">
                      {% endif %}
                    </figure>
                      <div class="media-body">
                        <a href="{% url 'user' pk=object.pk %}">
                          <h6 class="my-0 mt-1">{{ object.get_full_name }}</h6>
                        </a>
                        <a href="" class="small">Написать сообщение</a>
                      </div>
                  </div>
              </li>
            {% endfor %}
          </ul>
        </div>
        <br><br>
  </div>

  <div class="card mb-2">
        <div class="card-header">
            <div class="media">
                <div class="icon-circle icon-30 bg-light-danger mr-3">
                    <i class="material-icons">search</i>
                </div>
                <div class="media-body">
                    <h5 class="mt-1">Поиск людей</h5>
                </div>
            </div>
        </div>
        <br><br>
  </div>
</div>
</div>
{% endblock %}
