
<style>
    .albom_description {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 25px;
        margin-bottom: 10px;
        display: flex;
        transition: 0.5s;
    }

    .albom_description:hover {
        z-index: 10;
        opacity: 1;
        visibility: visible;
        background: #D6DAE1;
        color: black;
    }

    .cover_block:hover .albom_description {
        z-index: 10;
        opacity: 1;
        visibility: visible;
        background: #D6DAE1;
        color: black;
    }
</style>

{% if albums_list %}
<div style="margin-left: 0;margin-right: 0;display: flex;flex-wrap: wrap;">
    {% for object in albums_list %}
        <div class="card rounded-0 border-0" style="flex: 0 0 50%;max-width:50%;padding:5px;">
            <div class="media">
                <div class="media-body" style="white-space:nowrap;overflow:hidden;">
                    <h6 class="mb-0">{{ object.title }}</h6>
                </div>
                {% if object.is_user_album and object.creator == request.user %}
                <div class="dropdown d-inline-block" style="position:absolute;right:10px;top: -5px;">
                    <a style="cursor:pointer" class="icon-circle icon-30 dropdown-toggle caret-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <svg class="svg_default" style="width:20px;height:20px;" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="" class="dropdown-item">Изменить</a>
                        <a href="" class="dropdown-item">Удалить</a>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="card-body">
              <a href="{% url 'user_album' pk=user.pk uuid=object.uuid %}" class="ajax">
                {% if object.pk == avatars_album.pk %}
                  {% if object.get_cover_photo_for_avatars %}
                    <img style="width: 100%;object-fit: cover;height: 100px;" src="{{ object.get_cover_photo_for_avatars.file.url }}" />
                  {% else %}
                    <img style="width: 100%;object-fit: cover;height: 100px;" src="/static/images/no_album_photo.png" />
                  {% endif %}
                {% else %}
                  {% if object.get_cover_photo %}
                    <img style="width: 100%;object-fit: cover;height: 100px;" src="{{ object.get_cover_photo.file.url }}" />
                  {% else %}
                    <img style="width: 100%;object-fit: cover;height: 100px;" src="/static/images/no_album_photo.png" />
                  {% endif %}
                {% endif %}
                <p class="mb-0 content-color-secondary f-sm albom_description">{{ object.description }}</p>
              </a>
            </div>
        </div>
    {% endfor %}
  </div>
{% endif %}
