{% extends "base_mobile.html" %}
{% block title %}Фотографии {{ user.get_full_name_genitive }}{% endblock %}
{% block content %}

<div class="container mt-3">
  <div class="card-header p-0" style="margin-bottom:30px">
    <div class="dropdown">
        <button type="button" class="btn btn-secondary" style="width:100%;">
            Галерея {{ user.get_full_name_genitive }}
        </button>
    </div>
  </div>

{% include 'mob_gallery_user/albums.html' %}

<div class="media mt-3" style="display:flex;align-items: flex-start">
  <h5 class="mt-1" style="flex: 1;">Мои фото</h5>
  <span>Фото: {{ user.count_photos }}</span>
</div>

<div id="photo_load" data-link="/gallery/user/photos/{{ user.uuid }}/"></div>

</div>

{% endblock %}
