
<div class="col-md-8 col-lg-8 col-xl-6 mx-auto">
    <form id="add_chat_form">
      {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header">
                <div id="chat_members">
                  {% if member %}
                  <div data-pk="{{ member.pk }}" class="preview_item_delete pointer" tooltip="{{ member.get_full_name }}" flow="up" style="display: inline-block; margin: 5px;">
                    <input type="hidden" class="community" name="communities" value="{{ member.pk }}">
                      <figure>
                        {% if member.get_avatar %}
                          <img src="{{ member.get_avatar }}" style="border-radius:50px;width:50px;" alt="image">
                        {% else %}
                          <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                        {% endif %}
                      </figure>
                  </div>
                  {% endif %}
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Название</label>
                    <input type="text" name="name" class="form-control" id="id_name" placeholder="Необязательно">
                </div>
                <div class="form-group">
                    <label>Тип открытости</label>
                    <select class="form-control" name="type">
                        <option value="PU">Публичный</option>
                        <option value="PR">Закрытый</option>
                    </select>
                </div>

                <div class="form-group centered">
                  {% if friends %}
                  <span class="user_add_members pointer">Добавить участников</span>
                  <div></div>
                  {% else %}
                  У Вас пока некого добавлять в чат (пока друзей нет).
                  {% endif %}
                </div>

            </div>
            <div class="card-footer">
                <button class="btn btn-secondary create_fullscreen_hide" style="position: relative; top: -10px; left: -10px;">Отмена</button>
                <button type="button" class="btn btn-success float-right" id="add_chat_btn">Создать</button>
            </div>
        </div>
    </form>
</div>
