
<div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
    <form id="add_chat_form">
      {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header border-bottom">
                <h5 class="content-color-primary mb-0">Создание чата</h5>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group ">
                            <label>Название</label>
                            <input type="text" name="name" class="form-control" id="id_name" placeholder="Необязательно">
                        </div>
                    </div>
                </div>
                <div class="form-group" name="type">
                    <div class="custom-control custom-radio">
                        <input value="PU" type="radio" name="radiogroup-1" checked="checked" class="custom-control-input" id="open_chat">
                        <label class="custom-control-label" for="open_chat"><h6>Открытый чат</h6></label>
                        <p style="font-size:15px">Участники могут добавлять людей</p>
                    </div>
                    <div class="custom-control custom-radio">
                        <input value="PR" type="radio" name="radiogroup-1" class="custom-control-input" id="close_chat">
                        <label class="custom-control-label" for="close_chat"><h6>Закрытый чат</h6>
                          <p style="font-size:15px">Админы чата могут добавлять людей</p>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button class="btn btn-secondary create_fullscreen_hide" style="position: relative; top: -10px; left: -10px;">Отмена</button>
                <button type="button" class="btn btn-success float-right" id="add_chat_btn">Создать</button>
            </div>
        </div>
    </form>
</div>
