
<div class="col-md-8 col-lg-8 col-xl-6 mx-auto">
    <form id="add_chat_form">
      {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header">
                <div id="chat_members"></div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Название</label>
                    <input type="text" name="name" class="form-control" id="id_name" placeholder="Необязательно">
                </div>
                <div class="form-group">
                    <label>Тип открытости</label>
                    <select class="form-control" name="type">
                        <option value="PU">Публичный</option>
                        <option value="PR">Закрытый</option>
                    </select>
                </div>

                <div class="form-group centered">
                  <span class="user_add_members pointer">Добавить участников</span>
                  <div></div>
                </div>

            </div>
            <div class="card-footer">
                <button class="btn btn-secondary create_fullscreen_hide" style="position: relative; top: -10px; left: -10px;">Отмена</button>
                <button type="button" class="btn btn-success float-right" data-pk="{{ user.pk }}" id="add_chat_btn">Создать</button>
            </div>
        </div>
    </form>
</div>
