<form>
    {% csrf_token %}
    <div class="row attach_block"></div>
    <div class="row no-gutters">
      <span class="dropdown files_null">
        <a class="btn btn-link btn-sm text-secondary drop" style="margin-top: -2px;">
          <svg fill="currentColor" class="svg_info svg_default"  viewBox="0 0 24 24"><path d="M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v10.5c0 .55-.45 1-1 1s-1-.45-1-1V6H10v9.5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5V5c0-2.21-1.79-4-4-4S7 2.79 7 5v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V6h-1.5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </a>
        <div class="dropdown-menu" style="margin-top:-257px;">
            <a class="dropdown-item u_select_photo">Добавить изображение</a>
            <a class="dropdown-item u_select_video">Добавить видеоролик</a>
            <a class="dropdown-item u_select_music">Добавить аудиозапись</a>
            <a class="dropdown-item u_select_article">Добавить статью</a>
            <a class="dropdown-item u_select_good">Добавить товар</a>
            <a class="dropdown-item u_select_doc">Добавить документ</a>
        </div>
      </span>
        <div class="col">
            <div class="input-group input-group-sm">
              <input type="text" name="text" class="text form-control text-comment form-control-rounded">
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-primary btn-rounded btn-sm ml-2" id="message_post_btn" type="button">
              <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </button>
        </div>
    </div>
</form>
