{% extends "base.html" %}
{% block title %}{{ playlist.title }} - Моя музыка{% endblock %}
{% load get_key %}
{% block content %}
<div class="container main-container pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ playlist.uuid }}">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
          <br>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск музыки">
            <div class="input-group-append">
              <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
          </div>
          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                  <div class="media-body">
                      <h5 class="mt-1">{{ playlist.title }} - Моя музыка
                        <small class="content-color-secondary float-right mr-2 mt-1">Всего {{ playlist.get_music_count }}</small>
                      </h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                {% if object_list %}

                <div class="music_playlist" data-pk="{{ playlist.pk }}">
                    <ul id="user_tracks_list_container" data-link="/users/music_list/{{ user.pk }}/{{ playlist.uuid }}">
                      {% for object in object_list %}
                      <li class="list-group-item pag {% if forloop.last %}last{% endif %}">
                          <div class="media" music-counter="{{ forloop.counter0 }}">
                              <figure style="cursor:pointer">
                                <a class="music_list_item">
                                  {% if object.artwork_url %}
                                    <img style="width:50px;heigth:auto" src="{{ object.artwork_url }}" />
                                  {% else %}
                                    <svg fill="currentColor" style="width:50px;heigth:50px" class='svg_default' viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"/></svg>
                                  {% endif %}
                                </a>
                              </figure>
                              <div class="media-body">
                                  <h6 class="music_list_item" style="cursor:pointer"><a>{{ object.title }}</a></h6>
                                  <a class="small ajax" href="{% url 'tag_all_music' pk=object.tag.pk %}">{{ object.tag }}</a>
                                    <span class='span_btn' style="float:right;" data-pk="{{ object.pk }}">
                                      <span style="cursor:pointer">
                                        <span class='track_remove' title="Удалить">
                                          <svg fill="currentColor" style="width:20px;height:20px;" class='svg_default' viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                                        </span>
                                      </span>
                                      &nbsp;
                                      <span style="cursor:pointer" class='track_repost' title="Поделиться">
                                        <svg class='svg_default' style="width:20px;height:20px;" fill='currentColor' viewBox='0 0 24 24'><path d='M0 0h24v24H0z' fill='none'/><path d='M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z'/></svg>
                                      </span>
                                    </span>
                              </div>
                          </div>
                      </li>
                      {% endfor %}
                    </ul>
                </div>

                {% else %}
                <div class="card centered">
                  <div class="card-body" style="margin-top: 10%;">
                  <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'><path fill='none' d='M0 0h24v24H0z'/><path d='M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z'/></svg>
                  </div>
                  <h6 style="margin: 20px;text-align: center;">В плейлисте нет музыки. <a href="{% url 'all_music' %}" style="text-decoration:underline;" class="ajax">Перейдите в каталог</a> музыкальных композиций и выбирайте из сотен тысяч треков</h6>
                </div>
                {% endif %}
              </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <br>
          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="{% url 'all_music' %}" class="ajax">Каталог музыки</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
          {% if not playlist.is_generic %}
          <div class="card mb-3">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="#" class="">Изменить список</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
          {% endif %}
          <div class="card mb-3">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="#" class="" >Добавить Музыку</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
          {% if user.user_music_playlist_exists %}
          <div class="card">
            <div class="card-header">
              <div class="media">
                  <div class="media-body">
                    <h5 class="mt-1">
                      <p>плейлисты</p>
                    </h5>
                  </div>
              </div>
            </div>
            <div class="card-body">
              <div class="nav flex-column nav-pills faqnav">
                {% for object in user.get_audio_playlists %}
                  <a class="ajax" href="{% url 'user_music_list' pk=user.pk uuid=object.uuid %}">
                    {{ object.name }}
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
        </div>
    </div>
</div>

<script>
  {% if user.is_user_playlist %}
    document.querySelector("body").classList.add('list_' + {{ playlist.pk }});
  {% endif %}
</script>
{% endblock %}
