{% if is_user_can_see_post_section %}

<span class="post_container">

{% if fix_list.count_fix_items > 1 %}
<div class="csslider infinity mt-5" id="slider1">
  <p style="left: 50%;position: absolute;top: -25px;transform: translate(-50%, -50%);">Особые записи</p>
  {% for object in fix_list.get_posts_ids %}
    <input type="radio" name="slides" {% if forloop.first %}checked="checked"{% endif %} id="s_{{ forloop.counter }}"/>
  {% endfor %}
  <ul>
    {% for object in fix_list.get_fix_items %}
    <li class="scrollable">
      {% include 'mobile/users/lenta/fix_post.html' %}
    </li>
    {% endfor %}
  </ul>
  <div class="arrows">
    {% for object in fix_list.get_posts_ids %}
      <label for="s_{{ forloop.counter }}"></label>
    {% endfor %}

    <label class="goto-first" for="s_1"></label>
    <label class="goto-last" for="s_{{ fix_list.count_fix_items }}"></label>
  </div>
</div>
{% elif fix_list.count_fix_items == 1 %}

{% for object in fix_list.get_fix_items %}
  {% include 'mobile/users/lenta/fix_post.html' %}
{% endfor %}

{% endif %}

{% include 'mobile/users/lenta/lists.html' %}
  <span class="span_list_pk" list-pk="{{ list.pk }}">
      <span class="list_pk" data-uuid="{{ list.pk }}">
        <span>
          <a class="close_post_list pointer">Закрыть</a>
            &nbsp;
          {% load get_key %}
          {% if list|is_user_can_add_list:request.user.pk %}
            <a class="copy_user_post_list pointer">Добавить список</a>
          {% elif request.user.pk in list.get_users_ids %}
            <a class="uncopy_user_post_list pointer">Удалить список</a>
          {% endif %}
        </span>

        {% if is_user_can_create_posts %}
          {% include 'mobile/users/profile/new_post.html' %}
        {% elif is_user_can_offer_post %}
          {% include 'mobile/users/profile/new_offer_post.html' %}
        {% endif %}
        <span></span>

        <span class="post_stream is_paginate is_stat_list" data-type="user_post_list" data-pk="{{ list.pk }}">
          {% for object in object_list %}
            {% include 'mobile/posts/post_user/post.html' %}
          {% endfor %}
          {% if page_obj.has_next %}
          <div class="load centered m-1 next_page_list" data-link="{% url 'user_post_list' pk=user.pk list_pk=list.pk %}?page={{ page_obj.next_page_number }}">
              <img src="/static/images/preloader.gif">
          </div>
          {% endif %}

          {% if not object and not object_list %}
          <div class="card mb-3 items_empty centered">
            <div class="card-body">
            <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M22 13h-8v-2h8v2zm0-6h-8v2h8V7zm-8 10h8v-2h-8v2zm-2-8v6c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2zm-1.5 6l-2.25-3-1.75 2.26-1.25-1.51L3.5 15h7z"/></svg>
            </div>
            <h6 style="margin: 20px;">Пока записей нет...</h6>
          </div>
          {% endif %}
        </span>
    </span>
  </span>
</span>
{% endif %}
