
{% if user.is_have_friends %}
<div class="card mb-3">
    <div class="card-header">
      <a href="{% url 'frends' pk=user.pk %}" class="ajax">
        <div class="media">
            <div class="media-body">
                <h6 class="content-color-primary mb-0">Друзья </h6>
            </div>
            {{ user.count_connections }}
        </div>
      </a>
    </div>

    {% for user in user.get_6_friends %}

    <div class="card border-top">
        <div class="card-body" style="padding:7px;">
            <div class="media">
              {% include 'desctop/generic/user/figure.html' %}
              <div class="media-body">
                {% include 'desctop/generic/user/user.html' %}
              </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
