{% if user.is_have_video %}

<div class="card mb-3">
    <div class="p-1">
      <a href="{% url 'user_video' pk=user.pk %}" class="ajax">
        <div class="media">
            <div class="media-body">
                <h6 class="content-color-primary mb-0">Видео </h6>
            </div>
            {{ user.profile.videos }}
        </div>
      </a>
    </div>
    <div class="card-body p-1">
        <div class="row no-gutters" data-uuid="{{ video_list.uuid }}">
          {% for object in user.get_2_videos %}
          <div style="position:relative">
            <img class="image_fit_200" src="{{ object.image.url }}" alt="">
            <div class="video_icon_play_v2 video_list_detail" video-pk="{{ object.pk }}" video-counter="{{ forloop.counter }}"></div>
            <p>{{ object.title }}</p>
          </div>
          {% endfor %}
        </div>
    </div>
</div>

{% else %}
<div class="card mb-3">
    <div class="card-header">
        <div class="media centered">
            <a href="{% url 'user_video' pk=user.pk %}" class="ajax">
                <div class="media-body">
                    <h6 class="content-color-primary mb-0">Добавьте видео</h6>
                </div>
            </a>
        </div>
    </div>
</div>
{% endif %}
