{% load liked_user %}

<div class="row no-gutters mb-3">
  {% if user.count_posts %}
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <a>
         <h4 class="content-color-primary mb-0">{{ user.count_posts }}</h4>
         <p class="content-color-secondary mb-0">{{ user.count_posts|rupluralize:"запись,записи,записей" }}</p>
         </a>
       </div>
     </div>
   </div>
   {% endif %}
  {% if user.count_friends %}
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <a href="{% url 'frends' user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ user.count_friends }}</h4>
         <p class="content-color-secondary mb-0">{{ user.count_friends|rupluralize:"друг,друга,друзей" }}</p>
         </a>
       </div>
     </div>
   </div>
   {% endif %}
   {% if user.count_followers %}
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <a href="{% url 'follows' pk=user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ user.count_followers }}</h4>
         <p class="content-color-secondary mb-0">{{ user.count_followers|rupluralize:"подписчик,подписчика,подписчиков" }}</p>
         </a>
       </div>
     </div>
   </div>
   {% endif %}
   {% if user.count_communities %}
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <a href="{% url 'communities' pk=user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ user.count_communities }}</h4>
         <p class="content-color-secondary mb-0">{{ user.count_communities|rupluralize:"сообщество,сообщества,сообществ" }}</p>
         </a>
       </div>
     </div>
   </div>
  {% endif %}
  {% if user.count_goods %}
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <a href="{% url 'user_goods' pk=user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ user.count_goods }}</h4>
         <p class="content-color-secondary mb-0">{{ user.count_goods|rupluralize:"товар,товара,товаров" }}</p>
         </a>
       </div>
     </div>
   </div>
   {% endif %}
   {% if user.count_photos %}
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <a href="{% url 'user_gallery' pk=user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ user.count_photos }}</h4>
         <p class="content-color-secondary mb-0">{{ user.count_photos|rupluralize:"фотография,фотографии,фотографий" }}</p>
         </a>
       </div>
     </div>
   </div>
   {% endif %}
   {% if user.count_tracks %}
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <a href="{% url 'user_music' pk=user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ user.count_tracks }}</h4>
         <p class="content-color-secondary mb-0">{{ user.count_tracks|rupluralize:"трек,трека,треков" }}</p>
         </a>
       </div>
     </div>
   </div>
   {% endif %}
   {% if user.count_videos %}
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <a href="{% url 'user_video' pk=user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ user.count_videos }}</h4>
         <p class="content-color-secondary mb-0">{{ user.count_videos|rupluralize:"ролик,ролика,роликов" }}</p>
         </a>
       </div>
     </div>
   </div>
   {% endif %}
 </div>
