<div style="width: 100%;">
<div class="card">
    <div class="card-body border-left" style="padding: 8px;padding-bottom: 0;">
      <div style="display:flex" data-pk="{{ list.creator.pk }}" data-uuid="{{ list.uuid }}">
        <figure>
          <a class="ajax" href="{% url 'user_docs_list' pk=list.creator.pk uuid=list.uuid %}">
              <svg fill="currentColor" class="svg_default border" style="width:60px;height:68px;" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none"/><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/>
              </svg>
          </a>
        </figure>
        <div class="media-body" style="margin-left: 10px;">
          <h6 class="my-0 mt-1">{{ list.name }}</h6>
          <p class="">
            Документов: {{ list.count_items }}
            <br>
            <a class="ajax underline" href="{{ list.creator.get_link }}">
              {{ list.creator.get_full_name }}
            </a>
          </p>
        </div>
        {% if request.user.pk != list.creator.pk %}
          <span class='u_doc_list_add btn_default pointer' title="Добавить" style="margin-top: 12px;margin-right: 5px;width:30px">
            <svg fill='currentColor' class='svg_default' viewBox='0 0 24 24'><path d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/><path d='M0 0h24v24H0z' fill='none'/></svg>
          </span>
        {% endif %}
          <span title="Поделиться" class="u_ucm_doc_list_repost btn_default pointer" style="margin-top: 14px;width:25px">
            <svg class="svg_info repost_style_btn" viewBox="0 0 24 24" fill="currentColor"><path d="m0 0h24v24h-24z" fill="none"/><path fill="currentColor" d="m12.1 7.87v-3.47a1.32 1.32 0 0 1 2.17-1l8.94 7.6a1.32 1.32 0 0 1 .15 1.86l-.15.15-8.94 7.6a1.32 1.32 0 0 1 -2.17-1v-3.45c-4.68.11-8 1.09-9.89 2.87a1.15 1.15 0 0 1 -1.9-1.11c1.53-6.36 5.51-9.76 11.79-10.05zm1.8-2.42v4.2h-.9c-5.3 0-8.72 2.25-10.39 6.86 2.45-1.45 5.92-2.16 10.39-2.16h.9v4.2l7.71-6.55z" /></svg>
          </span>
      </div>
    </div>
  </div>
<div class="card">
    <div class="card-body border-left" style="padding-top: 0; padding-left: 8px;">
          <ul data-pk="{{ list.pk }}" style="margin-bottom: 0;">
            {% for object in list.list_30 %}
              {% include 'mobile/users/docs/doc.html' %}
            {% endfor %}
          </ul>
    </div>
</div>
</div>
