<div class="card has-background-img good_detail mb-3 pointer" good-pk="{{ good.pk }}" style="flex-basis: 100%;">
  <figure class="background-img shadow-dark">
    {% if good.image %}
    <img class="image_fit opacity-100" src="{{ good.image.url }}" alt="img">
    {% else %}
    <svg class="image_fit svg_default opacity-100" fill="currentColor" viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none" />
      <path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z" />
    </svg>
    {% endif %}
  </figure>
  <div class="card-header">
    <div class="media">
      <div class="media-body">
        <h4 class="text-white mb-0">{{ good.title }}</h4>
        <p class="mb-0" style="color: rgba(255, 255, 255, 0.7) !important;">{{ good.sub_category.name }}</p>
      </div>
    </div>
  </div>
  <div class="card-body spantshirt"></div>
  <div class="card-footer">
    <h4 class="m-0 text-white"><span class="font-weight-light">{% if good.price %}{{ good.price }} ₽{% else %}Без цены{% endif %}</span></h4>
    <p class="small mb-1 text-success">{{ good.price }} ₽</p>
  </div>
</div>
