{% load staticfiles humanize %}

<div class="card-header">
    <div class="media">
      <a href="{% url 'user' pk=comment.commenter.pk %}" class="ajax">
        <figure>
          {% if comment.commenter.get_avatar %}
            <img src="{{ comment.commenter.get_avatar.file.url }}" style="border-radius: 50px;width:50px;" alt="image">
          {% else %}
            <img style="width:50px;border:#6C757D solid 1px;border-radius:50px;padding:5px;" src="{% static 'images/icons/person-24px.svg' %}" />
          {% endif %}
        </figure>
      </a>
        <div class="media-body">
            <h6 class="mb-0">
              <a href="{% url 'user' pk=comment.commenter.pk %}" class="ajax">
                {{ comment.commenter.get_full_name }} &nbsp;
              </a>
            </h6>
            <p class="mb-0">{{ comment.created|naturaltime }}</p>
        </div>

    </div>
</div>
