{% load staticfiles %}

<a style="cursor:pointer" class="icon-circle icon-30 react">
    оценить
</a>
&nbsp;
<span class="react_window">
<div class="react_pop" style="margin:15px">
  {% if emojies_1 %}
  <span style="display: flex;flex-wrap: wrap;width: 180px;">
    {% for object in emojies_1 %}
    <span data-id="{{ object.id }}" class="emoji" style="padding:6px;cursor:pointer" title="{{ object.keyword }}">
      <figure style="margin: 0;">
        {% if object.image %}
          <img src="{{ object.image.url }}" style="border-radius: 50px;width:23px;" alt="emoji">
          {% endif %}
      </figure>
    </span>
    {% endfor %}
    <br><br><br>

    {% for object in emojies_2 %}
    <span data-id="{{ object.id }}" class="emoji" style="padding:6px;cursor:pointer" title="{{ object.keyword }}">
      <figure style="margin: 0;">
        {% if object.image %}
          <img src="{{ object.image.url }}" style="border-radius: 50px;width:23px;" alt="emoji">
          {% endif %}
      </figure>
    </span>
    {% endfor %}
  </span>
  {% endif %}
</div>

</span>
