{% load staticfiles %}

<div class="dropdown d-inline-block">
    <a style="cursor:pointer" class="dropdown-toggle caret-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        настройки
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      {% if user == object.creator %}
        <span data-id="{{ object.pk }}" data-uuid="{{ object.creator.uuid }}" style="cursor:pointer" class="dropdown-item remove">Удалить</span>
        <span style="cursor:pointer" class="dropdown-item">Редактировать</span>
        <span data-id="{{ object.pk }}" data-uuid="{{ user.uuid }}">
          {% if not object.avatar %}
          <span style="cursor:pointer" class="dropdown-item set_avatar">На аватар</span>
          {% else %}
          <span style="cursor:pointer" class="dropdown-item unset_avatar">Убрать аватар</span>
          {% endif %}
        </span>
        <span style="cursor:pointer" class="dropdown-item off_comment">Выключить комментарии</span>
      {% else %}
        <span class="dropdown-item photo_bad">Пожаловаться</span>
      {% endif %}
    </div>
</div>
