<div class="card" style="flex-basis: 100%;">
  <input type="hidden" name="photo_list" value="{{ album.pk }}">
                        <div class="card-header">
                          <span flow="up" tooltip="Открепить" class="photo_attach_album_remove btn_default pointer" style="position: absolute;right: 15px;">
                            <svg class="svg_default svg_default_30" fill="currentColor" viewBox="0 0 24 24">
                              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/>
                            </svg>
                          </span>
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="mb-0">{{ album.title }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'user_album' pk=album.creator.pk uuid=album.uuid %}" class="ajax">
                                <figure class="avatar avatar-120 mx-auto">
                                  {% if album.get_cover_photo %}
                                    <img class="lazyload" data-src="{{ album.get_cover_photo.file.url }}" />
                                  {% else %}
                                    <img class="lazyload" data-src="/static/images/no_img/album.jpg" />
                                  {% endif %}
                                </figure>
                                <h5 class="mt-2 content-color-primary text-center">{{ album.creator.get_full_name }}</h5>
                            </a>
                        </div>
                        <div class="card-footer border-top">
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="mb-0">Фотографий: {{ album.count_photo }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
