{% extends "base.html" %}
{% block title %}{{ album.title }} - мой альбом{% endblock %}
{% block content %}

<div class="container-fluid mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ album.uuid }}">
  <div class="row mb-3">
      <div class="col-12 col-md-8">
        <h5 class="mt-1">
          <a href="{% url 'user_gallery' pk=user.pk %}" class="ajax" style="text-decoration:underline;">
            Моя галерея
          </a> - {{ album.title }}
        </h5>
        Фото: {{ album.count_photo }}
      </div>
      <div class="col-12 col-md-4">
        {% if album.is_user_album %}
        <form id="add_photos" method="post">
            {% csrf_token %}
              <input type="file" id="u_gallery_album_photo_add" name="file" style="display:none" multiple="multiple">
              <button id="u_add_multi_photos" class="btn btn-outline-success" type="button">
                Добавить фотографии
              </button>
        </form>
        {% endif %}
      </div>
    </div>

  <div id="album_photo_load" data-link="/gallery/user/album_photos/{{ user.pk }}/{{ album.uuid }}/"></div>

</div>

{% endblock %}
