{% extends "base.html" %}
{% block title %}{{ album.title }} - мой альбом{% endblock %}
{% block content %}

<div class="container-fluid mt-3 pk_saver" data-pk="{{ user.pk }}" album-uuid="{{ album.uuid }}">
  <h5 class="mt-1">
    <a href="{% url 'user_gallery' pk=user.pk %}" class="ajax" style="text-decoration:underline;">
      Моя галерея
    </a> - {{ album.title }}
  </h5>
  Фото: {{ album.count_photo }}

  {% if not album.is_generic %}
  <span class="text-right">
    <input type="file" id="u_gallery_album_photo_add" name="file" style="display:none" multiple="multiple">
    <button class="u_add_multi_photos btn btn-outline-success" style="margin-bottom:15px;width:100%" type="button">
      Добавить фотографии
    </button>
  </span>
  {% endif %}
</div>

<div class="container mt-4 main-container">

    <div id="album_photo_load" data-link="/gallery/user/album_photos/{{ user.pk }}/{{ album.uuid }}"></div>

</div>
<script>

  var page = 2;
  var loaded = false;
  onscroll = function(){
    try{
    var photos2 = document.getElementById("photos_container");
    if(photos2.querySelectorAll(".u_album_photo_detail").length === (page-1)*30){
    var height = document.documentElement.clientHeight-1;
    if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
      if (loaded){return};
      var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_3.open( 'GET', '/gallery/user/album_photos/{{ user.pk }}/{{ album.uuid }}/?page=' + page++, true );
      link_3.send();
      link_3.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        var elem = document.createElement('span');
        elem.innerHTML = link_3.responseText;
        if(elem.getElementsByClassName('u_album_photo_detail').length < 30){loaded = true;};
        photos2.append(elem);
        }
      }
    }}
  }catch{return}
  }
</script>
{% endblock %}
