{% extends "base.html" %}
{% block title %}{{ album.title }} - альбом {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}
{% block content %}

<div class="container-fluid mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ album.uuid }}">
  <div class="row mb-3">
      <div class="col-12 col-md-8">
        <h5 class="mt-1">{{ album.title }} - <a class="ajax" href="{% url 'user_gallery' pk=user.pk %}">галерея </a>
          <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=user.pk %}">{{ user.first_name|gent }} {{ user.last_name|gent }}</a>
        </h5>
        Фото: {{ album.count_photo }}
      </div>
      <div class="col-12 col-md-4">
        {% if album.is_user_album %}
        <form id="add_photos" method="post">
            {% csrf_token %}
              <input type="file" id="u_gallery_album_photo_add" name="file" style="display:none" multiple="multiple">
              <button id="u_add_multi_photos" class="btn btn-outline-success" type="button">
                Добавить фотографии
              </button>
        </form>
        {% endif %}
      </div>
    </div>

  <div id="album_photo_load" data-link="/gallery/user/album_photos/{{ user.pk }}/{{ album.uuid }}/"></div>

</div>

{% endblock %}
