
{% if user.get_6_possible_friends %}
<div class="card mb-3">
    <div class="card-header">
      <a href="{% url 'possible_users' %}" class="ajax">
        <div class="media">
            <div class="media-body">
                <h6 class="content-color-primary mb-0">Рекомендации</h6>
            </div>
            {{ user.get_possible_friends_count }}
        </div>
      </a>
    </div>

    {% for user in user.get_6_possible_friends %}

    <div class="card border-top border-bottom">
        <div class="card-body" style="padding:7px;">
            <div class="media">
              {% include 'desctop/generic/user/figure.html' %}
              <div class="media-body">
                {% include 'desctop/generic/user/user.html' %}
              </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
