<div class="card load_pag mb-3 {% if forloop.last %}load_last{% endif %}" style="cursor:pointer;flex: 0 0 100%;">
  <div class="mb-3 border text-center has-background-img position-relative box-shadow" style="padding: 2rem 1rem;border-radius: .3rem;">
      <figure class="background-img">
        {% if object.image %}
          <img src="{{ object.image.url }}" alt="user image">
        {% endif %}
      </figure>
      <span flow="up" tooltip="Открепить" class="survey_attach_remove btn_default pointer" style="margin-top: 14px;width:25px">
        <svg class="svg_default svg_default_30" fill="currentColor" viewBox="0 0 24 24">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </span>
      <div class="container" style="list-style-type:none">
        <i class="figure avatar120 mr-0 fa fa-gift rounded-circle bg-none border-bottom"></i>
        <br>
        <h4 class="">{{ object.title }}</h4>
        <p class="text-secondary underline">{{ object.creator }}</p>
        {% if object.time_end %}
          <p class="text-secondary">До {{ object.time_end }}</p>
        {% endif %}
        <br>
        {% for answer in object.get_answers %}
        <div class="custom_color" style="display:flex">
            <span class="progress_span_r">{{ answer.text }}</span>
            <span class="progress_span_l" style="margin-left: auto;">{{ answer.get_count }}</span>
        </div>
        <span class="progress_line2 mb-3" style="width: {{ answer.get_procent }}%"></span>
        {% endfor %}
        {% if object.is_have_votes %}
          {{ object.get_users }}
        {% else %}
          Пока никто не голосовал. Станьте первым!
        {% endif %}
      </div>
  </div>
</div>
