{% if is_user_can_see_post_section %}

<span class="post_container">
{% if fix_list.count_fix_items > 1 %}
<div class="csslider infinity mt-5" id="slider1">
  <p style="left: 50%;position: absolute;top: -25px;transform: translate(-50%, -50%);">Особые записи</p>
  {% for object in fix_list.get_posts_ids %}
    <input type="radio" name="slides" {% if forloop.first %}checked="checked"{% endif %} id="s_{{ forloop.counter }}"/>
  {% endfor %}
  <ul>
    {% for object in fix_list.get_fix_items %}
    <li class="scrollable">
      {% include 'mobile/communities/lenta/anon_fix_post.html' %}
    </li>
    {% endfor %}
  </ul>
  <div class="arrows">
    {% for object in fix_list.get_posts_ids %}
      <label for="s_{{ forloop.counter }}"></label>
    {% endfor %}

    <label class="goto-first" for="s_1"></label>
    <label class="goto-last" for="s_{{ fix_list.count_fix_items }}"></label>
  </div>
</div>
{% elif fix_list.count_fix_items == 1 %}

{% for object in fix_list.get_fix_items %}
  {% include 'mobile/communities/lenta/anon_fix_post.html' %}
{% endfor %}

{% endif %}

{% include 'mobile/communities/lenta/lists.html' %}
<span class="span_list_pk" list-pk="{{ list.pk }}">
<span class="list_pk" list-pk="{{ list.pk }}" data-uuid="{{ list.pk }}">
  {% if is_user_can_see_post_list %}
    <span class="post_stream is_paginate">
      {% for object in object_list %}
        {% include 'mobile/posts/post_community/anon_post.html' %}
      {% endfor %}
      {% if page_obj.has_next %}
      <div class="load centered m-1 next_page_list" data-link="{% url 'community_post_list' pk=community.pk list_pk=list.pk %}?page={{ page_obj.next_page_number }}">
          <img src="/static/images/preloader.gif">
      </div>
      {% endif %}

      {% if not object and not object_list %}
        {% include 'desctop/communities/lenta/no_posts.html' %}
      {% endif %}
    </span>

    {% else %}
      {% include 'desctop/generic/centered/private_list.html' %}
    {% endif %}
</span>
</span>
</span>
{% else %}
    {% include 'desctop/generic/centered/private_post.html' %}
{% endif %}
