<div class="row mb-1 form_group_flex">
    <label class="col-md-6">Кто видит список</label>
    <span class="col-md-6">
      <input class="input" name="can_see_el" type="hidden" value="1" />
      <a class="menu_drop_2 pointer">Все пользователи</a>
      <span class="collector"></span>

      <div class="dropdown-menu" data-action="can_see_el" style="top: 30px;">
        <span class="dropdown-item select_perm_dropdown" data-value="1">Все пользователи</span>
        <span class="dropdown-item select_perm_dropdown" data-value="6">Подписчики</span>
        <span class="dropdown-item select_perm_dropdown" data-value="8">Администраторы</span>
        <span class="select_perm_dropdown dropdown-item" data-value="7">Владелец сообщества</span>
        <span class="select_perm_dropdown dropdown-item" data-value="9">Подписчики, кроме</span>
        <span class="select_perm_dropdown dropdown-item" data-value="10">Некоторые подписчики</span>
      </div>
    </span>
</div>

<div class="row mb-1 form_group_flex">
    <label class="col-md-6">Кто создает элементы</label>
    <span class="col-md-6">
      <input class="input" name="create_el" type="hidden" value="8" />
      <a class="menu_drop_2 pointer">Администраторы</a>
      <span class="collector"></span>

      <div class="dropdown-menu" data-action="create_el" style="top: 30px;">
        <span class="dropdown-item select_perm_dropdown" data-value="1">Все пользователи</span>
        <span class="dropdown-item select_perm_dropdown" data-value="6">Подписчики</span>
        <span class="dropdown-item select_perm_dropdown" data-value="8">Администраторы</span>
        <span class="select_perm_dropdown dropdown-item" data-value="7">Владелец сообщества</span>
        <span class="select_perm_dropdown dropdown-item" data-value="9">Подписчики, кроме</span>
        <span class="select_perm_dropdown dropdown-item" data-value="10">Некоторые подписчики</span>
      </div>
    </span>
</div>

<div class="row mb-1 form_group_flex">
    <label class="col-md-6">Кто копирует список/элементы</label>
    <span class="col-md-6">
      <input class="input" name="copy_el" type="hidden" value="1" />
      <a class="menu_drop_2 pointer">Все пользователи</a>
      <span class="collector"></span>

      <div class="dropdown-menu" data-action="copy_el" style="top: 30px;">
          <span class="dropdown-item select_perm_dropdown" data-value="1">Все пользователи</span>
          <span class="dropdown-item select_perm_dropdown" data-value="6">Подписчики</span>
          <span class="dropdown-item select_perm_dropdown" data-value="8">Администраторы</span>
          <span class="select_perm_dropdown dropdown-item" data-value="7">Владелец сообщества</span>
          <span class="select_perm_dropdown dropdown-item" data-value="9">Подписчики, кроме</span>
          <span class="select_perm_dropdown dropdown-item" data-value="10">Некоторые подписчики</span>
      </div>
    </span>
</div>
