
<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-12 col-md-6">
            <h5 class="mt-1">{{ album.title }}</h5>
            Фото: {{ album.count_photo }}
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 col-md-6">
                    <a href="{% url 'user_gallery' pk=user.pk %}" class="btn btn-outline-success ajax" style="margin-bottom:15px;width:100%" type="button">
                        Моя галерея
                    </a>
                </div>
                {% if album.album_is_generic %}
                <div class="col-12 col-md-6">
                    <button class="u_photos_add" class="btn btn-outline-success" style="margin-bottom:15px;width:100%" type="button">
                        Добавить фотографии
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 main-container">
    <div id="photos_add_window" style="display:none">
        <form method="post" action="{% url 'photo_album_add_user' album.pk user.uuid %}" class="dropzone">
            {% csrf_token %}
        </form>
        <br><br>
    </div>
    <div id="album_photo_load" style="width: 100%;"></div>
  </div>

<script>
  var ready = (callback) => {
  if (document.readyState != "loading") callback();
  else document.addEventListener("DOMContentLoaded", callback);
  }
  ready(() => {
    var link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link.open( 'GET', '/gallery/user/album_list/' + '{{ user.pk }}' + '{{ album.uuid }}/', true );
    link.onreadystatechange = function () {
      if ( link.readyState == 4 ) {
          if ( link.status == 200 ) {
              var album_photo_load = document.getElementById("album_photo_load");
              album_photo_load.innerHTML = link.responseText;
          }
      }
  };
  link.send( null );
  });
</script>
