{% load staticfiles %}

<div class="tab-pane active" id="tabhome1settings" role="tabpanel" aria-labelledby="tabhome1settings-tab">
    <ul class="list-group list-group-flush" id="chat-list">
        <li class="list-group-item new">
            <div class="media">
                <figure class="avatar avatar-40 mr-3">
                    <img src="{% static 'images/user2.png' %}" alt="Generic placeholder image">
                </figure>
                <div class="media-body">
                    <h6 class="my-0">John Doe <small class="float-right content-color-secondary">7:05 am</small></h6>
                    <p>Hi</p>
                </div>
            </div>
        </li>
        <li class="list-group-item new">
            <div class="media">
                <figure class="avatar avatar-40 mr-3">
                    <img src="{% static 'images/user2.png' %}" alt="Generic placeholder image">
                </figure>
                <div class="media-body">
                    <h6 class="my-0">Alizee TaCkor<small class="float-right content-color-secondary">8:05 am</small></h6>
                    <p>GoTRIis best of everyone else</p>
                </div>
            </div>
        </li>

        <li class="list-group-item">
            <div class="media">
                <figure class="avatar avatar-40 mr-3">
                    <img src="{% static 'images/user2.png' %}" alt="Generic placeholder image">
                </figure>
                <div class="media-body">
                    <h6 class="my-0">Alizee TaCkor<small class="float-right content-color-secondary">8:05 am</small></h6>
                    <p>GoTRIis best of everyone else</p>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <figure class="avatar avatar-40 mr-3">
                    <img src="{% static 'images/user2.png' %}" alt="Generic placeholder image">
                </figure>
                <div class="media-body">
                    <h6 class="my-0">Denial Torry<small class="float-right content-color-secondary">10:05 am</small></h6>
                    <p>How are you?</p>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <figure class="avatar avatar-40 mr-3">
                    <img src="{% static 'images/user2.png' %}" alt="Generic placeholder image">
                </figure>
                <div class="media-body">
                    <h6 class="my-0">John Doe <small class="float-right content-color-secondary">7:05 am</small></h6>
                    <p>Hi</p>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <figure class="avatar avatar-40 mr-3">
                    <img src="{% static 'images/user2.png' %}" alt="Generic placeholder image">
                </figure>
                <div class="media-body">
                    <h6 class="my-0">Alizee TaCkor<small class="float-right content-color-secondary">8:05 am</small></h6>
                    <p>GoTRIis best of everyone else</p>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media">
                <figure class="avatar avatar-40 mr-3">
                    <img src="{% static 'images/user2.png' %}" alt="Generic placeholder image">
                </figure>
                <div class="media-body">
                    <h6 class="my-0">Denial Torry<small class="float-right content-color-secondary">10:05 am</small></h6>
                    <p>How are you?</p>
                </div>
            </div>
        </li>
    </ul>
</div>
