{% if user == request.user %}
<div class="col-auto sidebar-inner position-relative ">
    <br><br>
    <div class="nav flex-column nav-pills faqnav">
        <a class="nav-link pink-gradient-active" href="{% url 'user' pk=request.user.pk %}">
          Моя страница
        </a>
        <a class="nav-link pink-gradient-active" href="{% url 'main' %}">
          Новости
        </a>
        <a class="nav-link pink-gradient-active" href="{% url 'messages_list' %}">
          Сообщения
        </a>
        <a class="nav-link pink-gradient-active" href="{% url 'frends' pk=request.user.pk %}">
          Друзья
        </a>
        <a class="nav-link pink-gradient-active" href="{% url 'communities' pk=request.user.pk %}">
          Сообщества
        </a>
        <a class="nav-link pink-gradient-active" href="#">
          Фотографии
        </a>
    </div>
</div>
{% endif %}
