<div class="col-auto sidebar-inner position-relative ">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="material-icons icon-sm">search</i>
                            </button>
                        </div>
                    </div>
                    <div class="nav flex-column nav-pills faqnav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <div class="text-uppercase my-2"><b>Getting started</b></div>
                        <a class="nav-link pink-gradient-active" id="v-pills-Introduction-tab" data-toggle="pill" href="#v-pills-Introduction" role="tab" aria-controls="v-pills-Introduction" aria-selected="false">Introduction</a>
                        <a class="nav-link pink-gradient-active" id="v-pills-Browsers-tab" data-toggle="pill" href="#v-pills-Browsers" role="tab" aria-controls="v-pills-Browsers" aria-selected="false">Browsers</a>
                        <a class="nav-link pink-gradient-active active show" id="v-pills-Theming-tab" data-toggle="pill" href="#v-pills-Theming" role="tab" aria-controls="v-pills-Theming" aria-selected="true">Theming</a>
                        <a class="nav-link pink-gradient-active" id="v-pills-Scripts-tab" data-toggle="pill" href="#v-pills-Scripts" role="tab" aria-controls="v-pills-Scripts" aria-selected="false">Scripts</a>
                        <div class="text-uppercase my-2"><b>Component</b></div>
                        <a class="nav-link pink-gradient-active" data-toggle="pill" role="tab" aria-selected="false">Introduction</a>
                        <a class="nav-link pink-gradient-active" data-toggle="pill" role="tab" aria-selected="false">Browsers</a>
                        <a class="nav-link pink-gradient-active" data-toggle="pill" role="tab" aria-selected="false">Theming</a>
                        <a class="nav-link pink-gradient-active" data-toggle="pill" role="tab" aria-selected="false">Scripts</a>


                    </div>

                </div>
