{% load staticfiles %}

<div class="col-auto sidebar-inner position-relative ">
    <br>
    <div class="nav flex-column nav-pills faqnav">
      {% if request.user.is_authenticated %}
        <a class="nav-link pink-gradient-active ajax" href="{% url 'user' pk=request.user.pk %}">
          <div class="icon-30">
            <img style="width:22px;margin-bottom:5px" src="{% static 'images/icons/home-24px.svg' %}" />
          </div>
          Моя страница
        </a>
        <a class="nav-link pink-gradient-active ajax" href="{% url 'main' %}">
          <div class="icon-30">
            <img style="width:22px;margin-bottom:5px" src="{% static 'images/icons/public-24px.svg' %}" />
          </div>
          Новости
        </a>
        <a class="nav-link pink-gradient-active ajax" href="{% url 'messages_list' %}">
          <div class="icon-30">
            <img style="width:22px;margin-bottom:5px" src="{% static 'images/icons/chat-24px.svg' %}" />
          </div>
          Сообщения
        </a>

        <a class="nav-link pink-gradient-active ajax" href="{% url 'frends' pk=request.user.pk %}">
        <div class="icon-30">
          <img style="width:22px;margin-bottom:5px" src="{% static 'images/icons/person-24px.svg' %}" />
        </div>
          Друзья
        </a>
        <a class="nav-link pink-gradient-active ajax" href="{% url 'communities' pk=request.user.pk %}">
          <div class="icon-30">
            <img style="width:22px;margin-bottom:5px" src="{% static 'images/icons/group-24px.svg' %}" />
          </div>
          Сообщества
        </a>
        <a class="nav-link pink-gradient-active ajax" href="{% url 'gallery' pk=request.user.pk %}">
          <div class="icon-30">
            <img style="width:22px;margin-bottom:5px" src="{% static 'images/icons/photo-24px.svg' %}" />
          </div>
          Фотографии
        </a>
        <a class="nav-link pink-gradient-active ajax" href="{% url 'goods' pk=request.user.pk %}">
          <div class="icon-30">
            <img style="width:22px;margin-bottom:5px" src="{% static 'images/icons/shop-24px.svg' %}" />
          </div>
          Товары
        </a>
        {% else %}
          Нужно <a href="{% url 'main' %}" style="text-decoration:underline;" class="ajax"> войти </a> или
          <a href="{% url 'main' %}" style="text-decoration:underline;" class="ajax">
            зарегистрироваться
          </a>
          для полного доступа к функциям сайта
        {% endif %}
    </div>
</div>
