
<div class="col-auto sidebar-inner position-relative ">
    <br>
    <div class="nav flex-column nav-pills faqnav">
      {% if request.user.is_authenticated %}
        <a class="nav-link pink-gradient-active ajax" href="{% url 'user' pk=request.user.pk %}">
          <div class="icon-30">
              <img style="width: 50px;" src="{% static 'images/icons/home-24px.svg' %}" />
          </div>
          Моя страница
        </a>
        <a class="nav-link pink-gradient-active ajax" href="{% url 'main' %}">
          <div class="icon-30">
              <i class="material-icons">public</i>
          </div>
          Новости
        </a>
        <a class="nav-link pink-gradient-active ajax" href="{% url 'messages_list' %}">
          <div class="icon-30">
              <i class="material-icons">chat</i>
          </div>
          Сообщения
        </a>

        <a class="nav-link pink-gradient-active ajax" href="{% url 'frends' pk=request.user.pk %}">
        <div class="icon-30">
            <i class="material-icons">person</i>
        </div>
          Друзья
        </a>
        <a class="nav-link pink-gradient-active ajax" href="{% url 'communities' pk=request.user.pk %}">
          <div class="icon-30">
              <i class="material-icons">group</i>
          </div>
          Сообщества
        </a>
        <a class="nav-link pink-gradient-active ajax" href="{% url 'gallery' pk=request.user.pk %}">
          <div class="icon-30">
              <i class="material-icons">photo</i>
          </div>
          Фотографии
        </a>

        {% endif %}
    </div>
</div>
