{% load staticfiles %}

<div class="sidebar style_hide" style="position: fixed;top: 0;left: 0;width: 100%;height: 100%;padding: 5%;overflow: auto;">
    <div class="media w-100 my-3">
        <a href="{% url 'user' pk=request.user.pk %}" class="ajax" data-html="#ajax">
          <figure class="rounded-circle align-self-start">
            {% if request.user.get_avatar %}
              <img src="{{ request.user.get_avatar }}" alt="image" style="border-radius:50px;width:100%;">
            {% else %}
              <svg fill="currentColor" style="width:100%;height:100%;" class="svg_default" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            {% endif %}
          </figure>
        </a>
        <div class="media-body mx-70">
          <a href="{% url 'user' pk=request.user.pk %}" class="ajax">
            <h4 class="time-title mb-0">{{ request.user.get_full_name }}</h4>
          </a>
            {% if request.user.profile.status %}
              <p class="mb-0 text-truncate">{{ request.user.profile.status }}</p>
            {% else %}
              <p class="mb-0 text-truncate">Статус не указан</p>
            {% endif %}
        </div>
    </div>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="{% url 'frends' pk=request.user.pk %}" class="nav-link ajax">
              <svg class="svg_info svg_default" style="margin:10px;" fill="currentColor" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                <span>Друзья</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'communities' pk=request.user.pk %}" class="nav-link ajax">
              <svg class="svg_default" style="margin:10px;" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
                <span>Сообщества</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'user_gallery' pk=request.user.pk %}" class="nav-link ajax">
              <svg class="svg_default" style="margin:10px;" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                <span>Фотографии</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'user_music' pk=request.user.pk %}" class="nav-link ajax">
              <svg class="svg_default" style="margin:10px;" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"/></svg>
              <span>Музыка</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'user_goods' pk=request.user.pk %}" class="nav-link ajax">
              <svg class="svg_default" style="margin:10px;" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 6V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H2v13c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6h-6zm-6-2h4v2h-4V4zM9 18V9l7.5 4L9 18z"/></svg>
                <span>Товары</span>
            </a>
        </li>
        <li class="divider"></li>
        <li class="nav-item">
            <a href="{% url 'user_settings_private' request.user.pk %}" class="nav-link ajax">
              <svg class="svg_default" style="margin:10px;" fill="currentColor" viewBox="0 0 24 24"><path d="M6.21 13.97l1.2 2.07c.08.13.23.18.37.13l1.49-.6c.31.24.64.44 1.01.59l.22 1.59c.03.14.15.25.3.25h2.4c.15 0 .27-.11.3-.26l.22-1.59c.36-.15.7-.35 1.01-.59l1.49.6c.14.05.29 0 .37-.13l1.2-2.07c.08-.13.04-.29-.07-.39l-1.27-.99c.03-.19.04-.39.04-.58 0-.2-.02-.39-.04-.59l1.27-.99c.11-.09.15-.26.07-.39l-1.2-2.07c-.08-.13-.23-.18-.37-.13l-1.49.6c-.31-.24-.64-.44-1.01-.59l-.22-1.59c-.03-.14-.15-.25-.3-.25h-2.4c-.15 0-.27.11-.3.26l-.22 1.59c-.36.15-.71.34-1.01.58l-1.49-.6c-.14-.05-.29 0-.37.13l-1.2 2.07c-.08.13-.04.29.07.39l1.27.99c-.03.2-.05.39-.05.59 0 .2.02.39.04.59l-1.27.99c-.11.1-.14.26-.06.39zM12 10.29c.94 0 1.71.77 1.71 1.71s-.77 1.71-1.71 1.71-1.71-.77-1.71-1.71.77-1.71 1.71-1.71zM19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm0 16H5V5h14v14z"/></svg>
                <span>Настройки</span>
            </a>
        </li>
    </ul>
</div>
