<style>
  nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    background: white;
    z-index:10;
  }

  .icon {
    font-size: 30px;
    background: none;
    border: none;
    color: lightgray;
    position: relative;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    -webkit-animation: show 0.5s;
            animation: show 0.5s;
    padding: 20px 0;
  }
  .icon--selected svg {
    position: absolute;
    background: white;
    border-radius: 50%;
    padding: 18px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    box-shadow: 1px 1px 2px 0 #ababab;
    -webkit-animation: selected .6s forwards;
            animation: selected .6s forwards;
    z-index: 2;
    width: 50px;
    height: 50px;
    outline: none;
  }
  nav .selected-tip {
    width: 30%;
    height: 70%;
    position: absolute;
    top: 0px;
    -webkit-transition: left .3s;
    transition: left .3s;
    z-index: 1;
  }
  nav .selected-tip svg {
    fill: #F0F2F6;
    width: 100%;
    height: 100%;
  }
  @-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes selected {
  0% {
    top: 50px;
    color: white;
  }
  40% {
    color: white;
  }
  50% {
    top: -35px;
  }
  100% {
    top: -35px;
    color: black;
  }
}
@keyframes selected {
  0% {
    top: 50px;
    color: white;
  }
  40% {
    color: white;
  }
  50% {
    top: -35px;
  }
  100% {
    top: -35px;
    color: black;
  }
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
</style>

<div>
  <nav style="position: fixed;width: 100%;">
    <div class="selected-tip">
      <svg viewBox="0 0 25 10" xmlns="http://www.w3.org/2000/svg">
  <path fill="none" stroke="null" stroke-width="null" stroke-opacity="null" id="svg_4" d="m7.48496,18.58474c0.04031,0 0.24202,0.06665 0.45689,0.12094c0.63199,0.15967 1.27354,0.32818 1.80069,0.40314c0.50835,0.07228 0.93325,0.0582 1.27661,0.13438c0.12446,0.02761 0.20157,0.04031 0.32251,0.04031c0.14782,0 0.40294,-0.00672 0.73909,0c0.37619,0.00752 0.86003,-0.02688 1.04816,-0.04031l0.09407,-0.02688l0.02687,-0.01344l0.04032,0"/>
  <polyline fill="none" stroke-width="null" stroke-opacity="null" points="10.521944046020508,19.001314163208008 10.521944046020508,19.001314163208008 " id="svg_5" stroke-linecap="round" stroke="null"/>
  <path stroke="null" stroke-width="null" stroke-opacity="null" fill-opacity="null" d="m0.1245,-0.06166l24.88006,-0.00102c-7.67785,0.81997 -2.46803,10.70528 -12.61897,9.94421c-9.199,0.7032 -4.76893,-9.11017 -12.26109,-9.9432l0,0.00001z" id="svg_9"/>
</svg>
</div>

    <button class="icon icon_v1 icon--selected">
      <svg class="svg_info svg_default" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </button>
    <button class="icon icon_v2">
      <svg class="svg_info svg_default" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </button>
    <button class="icon icon_v3">
      <svg class="svg_info svg_default" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </button>
    <button class="icon icon_v4">
      <svg class="svg_info svg_default" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </button>
    <button class="icon icon_v5">
      <svg class="svg_info svg_default" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </button>
  </nav>

<script>
  ready(() => {
    icon_1 = document.querySelector(".icon_v1");
    icon_2 = document.querySelector(".icon_v2");
    icon_3 = document.querySelector(".icon_v1");
    icon_4 = document.querySelector(".icon_v2");
    icon_5 = document.querySelector(".icon_v1");
    function updateSelected(btnElement) {
      document.querySelectorAll(".icon").forEach(icon => { icon.classList.remove("icon--selected") })
      const button = this;
      button.addClass('icon--selected');
      const tip = $('.selected-tip');
      const tipWidth = tip.width();
      const buttonCenter = btnElement.offsetLeft + button.width() / 2;
      tip.css({left: buttonCenter - (tipWidth / 2)})
    }

  icon_1.addEventListener("click", (e) => {
    updateSelected(icon_1);
  });

  icon_2.addEventListener("click", (e) => {
    updateSelected(icon_2);
  });
  updateSelected(icon_1);
});
</script>
