{% load staticfiles %}

<div class="sidebar sidebar-left">
  {% if user.is_authenticated %}
    <div class="container has-background-img">
        <figure class="background-img pink-gradient">
            <img src="{{ user.profile.avatar.url }}" alt="">
        </figure>
        <div class="media w-100 my-3">
            <figure class="avatar avatar-40 rounded-circle align-self-start ">
                <label class="checkbox-user-check">
                    <input type="checkbox">
                    <i class="material-icons">check</i>
                </label>
                <img src="{% static 'images/user1.png' %}" alt="Generic placeholder image">
            </figure>
            <div class="media-body mx-70">
                <h5 class="time-title mb-0 text-white">{{ user.get_full_name }}</h5>
                {% if user.profile.status %}
                  <p class="mb-0 text-truncate text-white">{{ user.profile.status }}</p>
                {% else %}
                  <p class="mb-0 text-truncate text-white">Статус не указан</p>
                {% endif %}
            </div>
        </div>
    </div>

    <ul class="nav flex-column">

        <li class="nav-item">
            <a href="{% url 'user' pk=request.user.pk %}" class="nav-link dropdwown-toggle">
                <i class="material-icons icon">insert_chart_outlined</i>
                <span>Моя страница</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'main' %}" class="nav-link dropdwown-toggle">
                <i class="material-icons icon">insert_chart_outlined</i>
                <span>Новости</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'messages_list' %}" class="nav-link dropdwown-toggle">
                <i class="material-icons icon">insert_chart_outlined</i>
                <span>Сообщения</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'frends' pk=request.user.pk %}" class="nav-link dropdwown-toggle">
                <i class="material-icons icon">insert_chart_outlined</i>
                <span>Друзья</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'communities' pk=request.user.pk %}" class="nav-link dropdwown-toggle">
                <i class="material-icons icon">insert_chart_outlined</i>
                <span>Сообщества</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gallery' pk=request.user.pk %}" class="nav-link dropdwown-toggle">
                <i class="material-icons icon">insert_chart_outlined</i>
                <span>Фотографии</span>
            </a>
        </li>
    </ul>
    {% else %}
    Нужно войти или зарегистрироваться для полного доступа к функциям сайта
    {% endif %}
</div>
<div class="backdrop"></div>
