<style>
  nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    background: white;
    z-index:10;
  }
  .icon {
    font-size: 30px;
    background: none;
    border: none;
    position: relative;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    -webkit-animation: show 0.5s;
            animation: show 0.5s;
    padding: 10px 0;
  }
  .icon--selected svg {
    position: absolute;
    background: white;
    border-radius: 50%;
    padding: 18px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    box-shadow: 1px 1px 2px 0 #ababab;
    -webkit-animation: selected .6s forwards;
            animation: selected .6s forwards;
    z-index: 2;
    width: 50px;
    height: 50px;
    outline: none;
  }
  nav .selected-tip {
    width: 30%;
    height: 70%;
    position: absolute;
    top: 0px;
    -webkit-transition: left .3s;
    transition: left .3s;
    z-index: 1;
  }
  nav .selected-tip svg {
    fill: #E0E0E0;
    width: 100%;
    height: 100%;
  }
  @-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes selected {
  0% {
    top: 50px;
    color: white;
  }
  40% {
    color: white;
  }
  50% {
    top: -35px;
  }
  100% {
    top: -35px;
    color: black;
  }
}
@keyframes selected {
  0% {
    top: 50px;
    color: white;
  }
  40% {
    color: white;
  }
  50% {
    top: -35px;
  }
  100% {
    top: -35px;
    color: black;
  }
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.style_hide{
  display:none;
}
</style>

  <nav style="position: fixed;width: 100%;">
    <div class="selected-tip">
      <svg viewBox="0 0 25 10">
  <path fill="none" stroke="null" stroke-width="null" stroke-opacity="null" id="svg_4" d="m7.48496,18.58474c0.04031,0 0.24202,0.06665 0.45689,0.12094c0.63199,0.15967 1.27354,0.32818 1.80069,0.40314c0.50835,0.07228 0.93325,0.0582 1.27661,0.13438c0.12446,0.02761 0.20157,0.04031 0.32251,0.04031c0.14782,0 0.40294,-0.00672 0.73909,0c0.37619,0.00752 0.86003,-0.02688 1.04816,-0.04031l0.09407,-0.02688l0.02687,-0.01344l0.04032,0"/>
  <polyline fill="currentColor" stroke-width="null" stroke-opacity="null" points="10.521944046020508,19.001314163208008 10.521944046020508,19.001314163208008 " id="svg_5" stroke-linecap="round" stroke="null"/>
  <path stroke="null" stroke-width="null" stroke-opacity="null" fill-opacity="null" d="m0.1245,-0.06166l24.88006,-0.00102c-7.67785,0.81997 -2.46803,10.70528 -12.61897,9.94421c-9.199,0.7032 -4.76893,-9.11017 -12.26109,-9.9432l0,0.00001z" id="svg_9"/>
</svg>
</div>

    <button class="icon icon_v1 icon--selected">
      <a href="{% url 'post_list' %}" class="ajax">
        <svg class="svg_info svg_default" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.54c-.26-.81-1-1.39-1.9-1.39h-1v-3c0-.55-.45-1-1-1H8v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z"/></svg>
      </a>
    </button>
    <button class="icon icon_v2">
      <svg class="svg_default svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </button>
    <button class="icon icon_v3">
      <svg class="svg_default svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-2 1H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6z"/></svg>
    </button>
    <button class="icon icon_v4">
      <svg class="svg_info svg_default" fill="currentColor" viewBox="0 0 24 24"><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm8 5H6v-2h8v2zm4-6H6V6h12v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </button>
    <button class="icon icon_v5">
      <svg class="svg_default svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </button>
  </nav>
