{% load staticfiles %}

<div class="sidebar sidebar-left">
  {% if user.is_authenticated %}
    <div class="container has-background-img">
        <figure class="background-img pink-gradient">
          {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" alt="image">
            {% else %}
              <img src="{% static 'images/user1.png' %}" alt="image">
            {% endif %}
        </figure>
        <div class="media w-100 my-3">
            <figure class="avatar-40 rounded-circle align-self-start " style="width: 100%;">
                <label class="checkbox-user-check">
                    <input type="checkbox">
                    <i class="material-icons">check</i>
                </label>
                {% if user.profile.avatar %}
                  <img src="{{ user.profile.avatar.url }}" alt="image" style="border-radius:50px;width:100%;">
                {% else %}
                  <img src="{% static 'images/user1.png' %}" alt="image" style="width:100%;width:100%;">
                {% endif %}
            </figure>
            <div class="media-body mx-70">
                <h5 class="time-title mb-0 text-white">{{ user.get_full_name }}</h5>
                {% if user.profile.status %}
                  <p class="mb-0 text-truncate text-white">{{ user.profile.status }}</p>
                {% else %}
                  <p class="mb-0 text-truncate text-white">Статус не указан</p>
                {% endif %}
            </div>
        </div>
    </div>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="{% url 'user' pk=user.pk %}" class="nav-link dropdwown-toggle">
                <i class="material-icons icon">home</i>
                <span>Моя страница</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'main' %}" class="nav-link dropdwown-toggle">
                <i class="material-icons icon">public</i>
                <span>Новости</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'messages_list' %}" class="nav-link dropdwown-toggle">
                <i class="material-icons icon">chat</i>
                <span>Сообщения</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'frends' pk=user.pk %}" class="nav-link dropdwown-toggle">
                <i class="material-icons icon">person</i>
                <span>Друзья</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'communities' pk=user.pk %}" class="nav-link dropdwown-toggle">
                <i class="material-icons icon">group</i>
                <span>Сообщества</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'gallery' pk=user.pk %}" class="nav-link dropdwown-toggle">
                <i class="material-icons icon">photo</i>
                <span>Фотографии</span>
            </a>
        </li>
    </ul>
    {% else %}
    Нужно войти или зарегистрироваться для полного доступа к функциям сайта
    {% endif %}
</div>
<div class="backdrop"></div>
