{% load staticfiles %}

<div class="modalka modal fade" id="user_repost" data-id="{{ object.uuid }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content box-shadow">
            <div class="modal-body text-center pr-4 pl-4">

                <div class="card-body">
                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" id="tabhome123-tab" data-toggle="tab" href="#tabhome123" role="tab" aria-controls="tabhome123" aria-selected="true">
                                Поделиться
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tabhome223-tab" data-toggle="tab" href="#tabhome223" role="tab" aria-controls="tabhome223" aria-selected="false">
                                Экспортировать
                            </a>
                        </li>
                    </ul>
                    <br><br>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="tabhome123" role="tabpanel" aria-labelledby="tabhome123-tab">
                            <div class="form-group ">
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="radiogroup-1" checked="checked" class="custom-control-input" id="repost_wall">
                                    <label class="custom-control-label" for="repost_wall">На своей стене</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="radiogroup-1" class="custom-control-input" id="repost_community">
                                    <label class="custom-control-label" for="repost_community">В сообществе</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="radiogroup-1" class="custom-control-input" id="repost_message">
                                    <label class="custom-control-label" for="repost_message">В сообщении</label>
                                </div>
                            </div>

                            <div class="form card mb-4" style="border:1px solid rgba(0, 0, 0, 0.125);">
                                <span style="display:none" id="user_item_pk"></span>
                                <form action="" id="FORM-REPOST" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="card-body p-0">
                                      <textarea name="text" id="id_text" class="form-control bg-light-secondary border-0" rows="3" placeholder="Добавьте комментарий"></textarea>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabhome223" role="tabpanel" aria-labelledby="tabhome223-tab">
                            б
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.repost_btn').click(function() {
        var frm_repost = $('#FORM-REPOST');
        var uuid = $('.form #user_item_pk').text();
        $.ajax({
            url: "/posts/repost_user_user/" + uuid + "/",
            data: new FormData($(frm_repost)[0]),
            contentType: false,
            cache: false,
            method: "post",
            processData: false,
            success: function(data) {
                $.toast({
                    heading: '{{ request.user.first_name }}',
                    text: 'Репост выполнен успешно!',
                    showHideTransition: 'fade',
                    icon: 'info'
                })
            },
            error: function(data) {
                console.log("Что то пошло не так");
            }
        });

    });
</script>
