{% load staticfiles %}

<div class="modalka modal fade" id="user_repost" data-id="{{ object.uuid }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content box-shadow">
            <div class="modal-body text-center pr-4 pl-4">
                <div class="card-body">
                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" id="tabhome123-tab" data-toggle="tab" href="#tabhome123" role="tab" aria-controls="tabhome123" aria-selected="true">
                                Поделиться
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tabhome223-tab" data-toggle="tab" href="#tabhome223" role="tab" aria-controls="tabhome223" aria-selected="false">
                                Экспортировать
                            </a>
                        </li>
                    </ul>
                    <br><br>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="tabhome123" role="tabpanel" aria-labelledby="tabhome123-tab">
                            <div class="form-group ">
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="radiogroup-1" {% if user == request.user %} disabled="disabled"{% else %}checked="checked"{% endif %} class="custom-control-input" id="repost_radio_wall">
                                    <label class="custom-control-label" for="repost_radio_wall">На своей стене</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="radiogroup-1" class="custom-control-input" id="repost_radio_community">
                                    <label class="custom-control-label" for="repost_radio_community">В сообществе</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="radiogroup-1"{% if user == request.user %} checked="checked"{% endif %} class="custom-control-input" id="repost_radio_message">
                                    <label class="custom-control-label" for="repost_radio_message">В сообщении</label>
                                </div>
                            </div>

                            <div class="form card mb-4" style="border:1px solid rgba(0, 0, 0, 0.125);">
                                <span style="display:none" id="user_item_pk"></span>
                                <form action="" id="FORM-REPOST" method="post" enctype="multipart/form-data">
                                  {% csrf_token %}
                                  <span style="display:none" id="user_item_pk"></span>
                                  <div class="card-body p-0">
                                      <textarea name="text" class="id_text form-control bg-light-secondary border-0" rows="2" placeholder="Что у Вас нового?"></textarea>
                                  </div>
                                  <div class="card-footer border-top btn_default">
                                      <span class="add_board">
                                          <div id="for_images_upload" style="display:none;margin:10px"></div>
                                          <div id="for_gallery" style="display:none;margin:10px">gallery</div>
                                          <div id="for_doc" style="display:none;margin:10px">doc</div>
                                          <div id="for_good" style="display:none;margin:10px">good</div>
                                          <div id="for_question" style="display:none;margin:10px">question</div>
                                          <div id="for_settings" style="display:none;margin:10px">
                                            <span class="add_board_hide">
                                              <svg class="svg_default" fill="currentColor" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                            </span>
                                              <div class="custom-control custom-checkbox">
                                                  <input type="checkbox" checked name="comments_enabled" id="comments_on" class="custom-control-input">
                                                  <label class="custom-control-label" for="comments_on">Комментарии включены</label>
                                              </div>
                                              <div class="custom-control custom-checkbox">
                                                  <input type="checkbox" id="item_not_off" class="custom-control-input">
                                                  <label class="custom-control-label" for="item_not_off">Не отправлять уведомления</label>
                                              </div>
                                              <div class="form-group">
                                                  <label>статус</label>
                                                  <select class="form-control" name="status" data-live-search="true" tabindex="-1" aria-hidden="true">
                                                      <option value="P" checked>Опубликовано</option>
                                                      <option value="D">Отложено</option>
                                                  </select>
                                              </div>
                                          </div>
                                      </span>

                                      <div class="row">
                                          <div class="col" style="display: flex;">
                                              <div class="dropdown">
                                                <a title="Изображение" id="dropdown_image" class="btn btn-link btn-sm text-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <svg class="svg_info svg_default" fill="currentColor" viewBox="0 0 24 24"><circle cx="12" cy="12" r="3.2"/><path d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                                </a>
                                                  <div class="dropdown-menu dropdown-menu-top" aria-labelledby="dropdown_image">
                                                      <a id="images_upload" class="dropdown-item">Загрузить изображение</a>
                                                      <a id="gallery" class="dropdown-item">Мои изображения</a>
                                                      <a id="link" class="dropdown-item">Использовать ссылку</a>
                                                  </div>
                                              </div>
                                              <div class="dropdown">
                                                  <a title="Еще" class="btn btn-link btn-sm text-secondary" id="dropdown_more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <svg class="svg_info svg_default" fill="currentColor" viewBox="0 0 24 24"><path d="M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v10.5c0 .55-.45 1-1 1s-1-.45-1-1V6H10v9.5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5V5c0-2.21-1.79-4-4-4S7 2.79 7 5v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V6h-1.5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                                  </a>
                                                  <div class="dropdown-menu dropdown-menu-top" aria-labelledby="dropdown_more">
                                                      <a id="doc" class="dropdown-item">Документ</a>
                                                      <a id="good" class="dropdown-item">Товар</a>
                                                      <a id="question" class="dropdown-item">Опрос</a>
                                                  </div>
                                              </div>
                                          </div>

                                          <div class="col-auto">
                                            <svg class="svg_info svg_default" fill="currentColor" viewBox="0 0 24 24"><path id="settings" d="M6.21 13.97l1.2 2.07c.08.13.23.18.37.13l1.49-.6c.31.24.64.44 1.01.59l.22 1.59c.03.14.15.25.3.25h2.4c.15 0 .27-.11.3-.26l.22-1.59c.36-.15.7-.35 1.01-.59l1.49.6c.14.05.29 0 .37-.13l1.2-2.07c.08-.13.04-.29-.07-.39l-1.27-.99c.03-.19.04-.39.04-.58 0-.2-.02-.39-.04-.59l1.27-.99c.11-.09.15-.26.07-.39l-1.2-2.07c-.08-.13-.23-.18-.37-.13l-1.49.6c-.31-.24-.64-.44-1.01-.59l-.22-1.59c-.03-.14-.15-.25-.3-.25h-2.4c-.15 0-.27.11-.3.26l-.22 1.59c-.36.15-.71.34-1.01.58l-1.49-.6c-.14-.05-.29 0-.37.13l-1.2 2.07c-.08.13-.04.29.07.39l1.27.99c-.03.2-.05.39-.05.59 0 .2.02.39.04.59l-1.27.99c-.11.1-.14.26-.06.39zM12 10.29c.94 0 1.71.77 1.71 1.71s-.77 1.71-1.71 1.71-1.71-.77-1.71-1.71.77-1.71 1.71-1.71zM19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm0 16H5V5h14v14z"/></svg>
                                              <button type="button" id="user_item_repost" class="btn btn-rounded btn-sm text-uppercase pl-3">
                                                <span class="text-hide-xs">Опубликовать</span>
                                                <svg class="svg_default" fill="currentColor" viewBox="0 0 24 24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                              </button>
                                          </div>
                                      </div>
                                  </div>
                                </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabhome223" role="tabpanel" aria-labelledby="tabhome223-tab">
                            б
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  ready(() => {
    $('#user_item_repost').click(function() {
        var frm_repost = $('#FORM-REPOST'); var uuid = $('.form #user_item_pk').text();

        if (document.getElementById('repost_radio_wall').checked) {
        $.ajax({
            url: "/posts/repost_user_user/" + uuid + "/", data: new FormData($(frm_repost)[0]), contentType: false, cache: false, method: "post", processData: false,
            success: function(data) {$.toast({heading: '{{ request.user.first_name }}',text: 'Репост выполнен успешно!',showHideTransition: 'fade',icon: 'info'})},
            error: function(data) {console.log(data);}
        })
      }else if(document.getElementById('repost_radio_community').checked){

      }
      else if(document.getElementById('repost_radio_message').checked){
      };
    });
});
</script>
