{% load staticfiles humanize %}

<header class="main-header">
    <div class="container-fluid">
        <div class="align-items-center" style="display:flex;flex-wrap:wrap;">
            <div class="col-auto" style="padding-left: 0;">
              {% if user.is_authenticated %}
              <button class="btn pink-gradient btn-icon d-sm-none" id="left-menu"><i class="material-icons">widgets</i></button>
              {% endif %}
                <a href="{% url 'main' %}" class="logo">
                  <img src="{% static 'images/logo-icon.png' %}" alt="">
                  <span style="margin-top:10px;float:left;"class="d-none d-sm-block">ТРЕЗВЫЙ.РУС</span>
                </a>
            </div>

            <div class="col text-right">
              {% if request.user.is_authenticated %}
                <button class="btn btn-search btn-icon header-color-secondary text-hide-xs" type="button">
                  <i class="material-icons">search</i>
                </button>

                <div class="dropdown text-hide-lg d-inline-block">
                    <a class="btn header-color-secondary btn-icon dropdown-toggle caret-none"
                       href="#"
                       role="button"
                       id="dropdownnotification"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                       <i class="material-icons">notifications_none</i>
                       <span class="status-number bg-danger text-white">9+</span>
                    </a>

                    <div class="dropdown-menu notification-dropdown">
                      {% if notifications %}
                        <a href="#" class="media pink-gradient-active">
                            <figure class="avatar avatar-40">
                                <img src="{% static 'images/user.png' %}" alt="Generic placeholder image">
                            </figure>
                            <div class="media-body">
                              {{ notification.get_icon }}
                                <h5 class="mt-0">{{ notification|safe }}</h5>
                                <p>{{ notification.timestamp|naturaltime }}</p>
                            </div>
                        </a>
                        <br>
                        <p class="mt-0" style="display: flex;align-items: center;justify-content: center;">
                          <a href="{% url 'unread' %}">Показать все уведомления</a>
                          <a href="{% url 'mark_all_read' %}">Отметить как прочитанные</a>
                        </p>
                        {% else %}
                          <br>
                          <p class="text-center">Нет непрочитанных уведомлений</p>
                        {% endif %}
                    </div>

                </div>
                <div class="dropdown text-hide-xs d-inline-block">
                    <a class="btn header-color-secondary dropdown-toggle username"
                       href="#"
                       role="button"
                       id="dropdownMenuLink"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                       <figure class="userpic">
                         {% if request.user.profile.avatar %}
                         <img src="{{ user.profile.avatar.url }}" alt="">
                         {% else %}
                         <img src="{% static 'images/user.png' %}" alt="">
                         {% endif %}
                       </figure>
                       <h5 class="text-hide-xs">
                          <span class="header-color-primary">Мой профиль</span>
                       </h5>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item pink-gradient-active" href="">
                            <div class="row align-items-center">
                                <div class="col">
                                    5458 <small class="header-color-secondary font-italic">Пункт меню</small>
                                </div>
                                <div class="col-auto">
                                    <i class="header-color-secondary material-icons vm">local_play</i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider m-0"></div>
                        <a class="dropdown-item pink-gradient-active" href="{% url 'user' pk=request.user.pk %}">
                            <div class="row align-items-center">
                                <div class="col">
                                    Моя страница
                                </div>
                                <div class="col-auto">
                                    <i class="material-icons vm">person</i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-divider m-0"></div>
                        <a class="dropdown-item pink-gradient-active" href="{% url 'logout' %}">
                            <div class="row align-items-center">
                                <div class="col">
                                    Выход
                                </div>
                                <div class="col-auto">
                                    <div class="text-danger ml-2"><i class="material-icons vm">exit_to_app</i></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</header>
