{% load staticfiles %}

<p class="sidebar-color-primary page-sub-title-small "><span class="icon-circle mr-2"><i class="material-icons">ght</i></span> Текстуры на фон</p>
<div class="row">
    <ul class="list-group list-group-flush w-100 mb-4">
        <li class="list-group-item">
            <div class="sidebar-image">
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio14img" name="background-image-sidebar" class="custom-control-input bg-repeat">
                    <label class="custom-control-label " for="customRadio14img" data-title="none"></label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio24img" name="background-image-sidebar" class="custom-control-input bg-repeat">
                    <label class="custom-control-label " for="customRadio24img" data-title="{% static 'images/sidebar-texture1.png' %}">
                        <img src="{% static 'images/pattern-1.png' %}" alt="" class="w-100">
                    </label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio34img" name="background-image-sidebar" class="custom-control-input bg-repeat">
                    <label class="custom-control-label " for="customRadio34img" data-title="{% static 'images/sidebar-texture2.png' %}">
                        <img src="{% static 'images/pattern-2.png' %}" alt="" class="w-100">
                    </label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio44img" name="background-image-sidebar" class="custom-control-input bg-repeat">
                    <label class="custom-control-label " for="customRadio44img" data-title="{% static 'images/sidebar-texture3.png' %}">
                        <img src="{% static 'images/pattern-3.png' %}" alt="" class="w-100">
                    </label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio54img" name="background-image-sidebar" class="custom-control-input bg-repeat">
                    <label class="custom-control-label " for="customRadio54img" data-title="{% static 'images/sidebar-texture4.png' %}">
                        <img src="{% static 'images/pattern-4.png' %}" alt="" class="w-100">
                    </label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio64img" name="background-image-sidebar" class="custom-control-input bg-repeat">
                    <label class="custom-control-label " for="customRadio64img" data-title="{% static 'images/sidebar-texture5.png' %}">
                        <img src="{% static 'images/pattern-5.png' %}" alt="" class="w-100">
                    </label>
                </div>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
</div>
