
	<div class="jplayer" id="jquery_jplayer_{{ player.id }}"></div>

	<div id="player_container_{{ player.id }}" class="cmsplayer">

		<ul id="player_controls_{{ player.id }}" class="controls">
			<li id="player_play_{{ player.id }}" class="play">{% trans "play" %}</li>
			<li id="player_pause_{{ player.id }}" class="pause">{% trans "pause" %}</li>
			<li id="player_stop_{{ player.id }}" class="stop">{% trans "stop" %}</li>
			<li id="player_volume_min_{{ player.id }}" class="volume-min">{% trans "min volume" %}</li>
			<li id="player_volume_max_{{ player.id }}" class="volume-max">{% trans "max volume" %}</li>
			<li id="ctrl_prev_{{ player.id }}" class="prev">{% trans "previous" %}</li>
			<li id="ctrl_next_{{ player.id }}" class="next">{% trans "next" %}</li>
		</ul>

		<div id="play_time_{{ player.id }}" class="playtime"></div>
		<div id="total_time_{{ player.id }}" class="totaltime"></div>

		<div id="player_progress_{{ player.id }}" class="progress">
			<div id="player_progress_load_bar_{{ player.id }}" class="loadbar">
				<div id="player_progress_play_bar_{{ player.id }}" class="playbar"></div>
			</div>
		</div>

		<div id="player_volume_bar_{{ player.id }}" class="volumebar">
			<div id="player_volume_bar_value_{{ player.id }}" class="volumebarvalue"></div>
		</div>
	</div>

	<div id="playlist_list_{{ player.id }}" class="cmsplaylist">
		<ul>
		{% for object in player.playlist %}
			{% include "music/track.html" %}
		{% endfor %}
		</ul>
	</div>

	<script type="text/javascript">
	$(document).ready(function(){
	    var player = $('#jquery_jplayer_{{ player.id }}');
		player.cmsPlayer(
			{
			    playlist: {{ player.get_json_playlist }},
			    autoplay: {{ player.get_json_autoplay }},
			    playerid: "{{ player.id }}",
			    autonext: true,
				cssPrefix: 'jqjp_{{ player.id }}',
				swfPath: 'http://' + window.location.host + {{ player.get_base_path }},
				customCssIds: true
			}
		);
	});
	</script>
