{% extends "base.html" %}
{% block title %}Жалобы на записи{% endblock %}
{% load liked_user humanize %}
{% block content %}

<div class="row">
    <div class="col-md-9 col-lg-8">
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск по списку">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">Жалобы на записи</h5>
                      <small class="content-color-secondary float-right mr-2 mt-1"></small>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 py-0">

              <div id="moderation_post_container" data-link="/managers/moderation_list/post/{{ user.pk }}">
                {% if object_list %}
                  {% for object in object_list %}
                  <div class="list-group-item pag {% if forloop.last %}last{% endif %}" data-uuid="{{ object.post.uuid }}">
                      <div class="media">
                        <div class="media-body">
                          {% if object.post.community %}
                          <div class="card-header">
                              <div class="media">
                                <a href="{% url 'community_detail' pk=object.post.community.pk %}" class="ajax">
                                  <figure>
                                    {% if object.post.community.get_avatar %}
                                      <img src="{{ object.post.community.get_avatar }}" style="border-radius: 50px;width:50px;" alt="image">
                                    {% else %}
                                      <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
                                    {% endif %}
                                  </figure>
                                </a>
                                  <div class="media-body">
                                      <h6 class="mb-0">
                                        <a href="{% url 'community_detail' pk=object.post.community.pk %}" class="ajax">
                                          {{ object.post.community.name }} &nbsp;
                                        </a>
                                        <span class="is_fixed" style="color: #888888;font-size: 13px;{% if not object.is_fixed %}display:none;{% endif %}">закреплено</span>
                                      </h6>
                                      <p class="mb-0">{{ object.post.created|naturaltime }}</p>
                                  </div>
                              </div>
                          </div>
                            {% if object.post.is_repost %}
                              {% include 'post_community/repost.html' %}
                            {% endif %}

                            <div class="card-body"><p class="">{{ object.post.text }}</p></div>

                            <div class="attach_container" data-pk="{{ object.post.community.pk }}">
                              {% for photo in object.post.item_photo.all %}
                              <div class="photo">
                                  <img data-uuid="{{ photo.uuid }}" photo-pk="{{ photo.creator.pk }}" class="c_manage_wall_image image_fit lazyload" style="cursor:pointer" data-src="{{ photo.file.url }}" alt="img">
                              </div>
                              {% endfor %}
                              {% for video in object.post.item_video.all %}
                              <div class="video" album-pk="{{ video.video_album.pk }}">
                                  <img class="image_fit lazyload" data-src="{{ video.image.url }}" alt="img">
                                  <div class="video_icon_play_v2 c_video_list_detail" video-counter="{{ forloop.counter0 }}"></div>
                              </div>
                              {% endfor %}
                              {% for good in object.post.item_good.all %}
                              <div class="c_manage_good_detail good" good-uuid="{{ good.uuid }}" style="cursor:pointer">
                                <span class="badge badge-primary mb-2" style="position:absolute;bottom:-8px;">
                                  <svg style="padding-bottom: 1px" height="13" fill="#FFFFFF" viewBox="0 0 24 24" width="13"><path d="M0 0h24v24H0z" fill="none"/><path d="M17.21 9l-4.38-6.56c-.19-.28-.51-.42-.83-.42-.32 0-.64.14-.83.43L6.79 9H2c-.55 0-1 .45-1 1 0 .09.01.18.04.27l2.54 9.27c.23.84 1 1.46 1.92 1.46h13c.92 0 1.69-.62 1.93-1.46l2.54-9.27L23 10c0-.55-.45-1-1-1h-4.79zM9 9l3-4.4L15 9H9zm3 8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/></svg>
                                  {{ good.title }}
                                </span>
                                {% if good.image %}
                                  <img class="image_fit lazyload" style="width:100%" data-src="{{ good.image.url }}" alt="img">
                                {% else %}
                                  <svg class="image_fit svg_default" style="width:100%;height:auto" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                                {% endif %}
                              </div>
                              {% endfor %}
                              {% for item in object.post.attached_item.all %}
                              <div class="article" data-uuid="{{ item.uuid }}">
                                <span class="badge badge-info mb-2" style="position: absolute;bottom:-8px;">
                                  <svg style="padding-bottom: 1px" height="13" fill="#FFFFFF" viewBox="0 0 24 24" width="13"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z"/></svg>
                                  {{ item.title}}
                                </span>
                                <div class="text-center c_article_detail" style="cursor:pointer">
                                  <div class="align-items-center">
                                      {% if item.g_image %}
                                        <img class="lazyload image_fit" data-src="{{ item.g_image.url }}" alt="img">
                                      {% else %}
                                        <img class="lazyload image_fit" data-src="/static/images/no-image.jpg" />
                                      {% endif %}
                                  </div>
                               </div>
                              </div>
                              {% endfor %}
                              {% for music in object.post.item_music.all %}
                              <div class="col-md-12 music" data-path="{{ music.uri }}" data-duration="{{ music.duration }}" style="flex-basis: 100%;">
                                <div class="media" music-counter="{{ forloop.counter0 }}">
                                    <figure style="cursor:pointer">
                                      <a class="music_list_post music_thumb">
                                        {% if music.artwork_url %}
                                          <img style="width:30px;heigth:auto" data-src="{{ music.artwork_url }}" class="lazyload" alt="img" />
                                        {% else %}
                                          <svg fill="currentColor" style="width:30px;heigth:30px" class='svg_default' viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"/></svg>
                                        {% endif %}
                                      </a>
                                    </figure>
                                    <div class="media-body" style="display: flex;">
                                        <h6 class="music_list_post music_title">
                                          <a>{{ music.title }}</a>
                                        </h6>
                                    </div>
                                </div>
                              </div>
                              {% endfor %}
                            </div>

                          {% else %}

                          <div class="card-header">
                              <div class="media">
                                <a href="{% url 'user' pk=object.post.creator.pk %}" class="ajax">
                                  <figure>
                                    {% if object.post.creator.get_avatar %}
                                      <img src="{{ object.post.creator.get_avatar }}" style="border-radius:50px;width:50px;" alt="image">
                                    {% else %}
                                      <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                    {% endif %}
                                  </figure>
                                </a>
                                  <div class="media-body">
                                      <h6 class="mb-0">
                                        <a href="{% url 'user' pk=object.post.creator.pk %}" class="ajax">
                                          {{ object.post.creator.get_full_name }} &nbsp;
                                        </a>
                                        <span class="is_fixed" style="color: #888888;font-size: 13px;{% if not object.is_fixed %}display:none;{% endif %}">закреплено</span>
                                      </h6>
                                      <p class="mb-0">{{ object.post.created|naturaltime }}</p>
                                  </div>
                              </div>
                          </div>
                            {% if object.post.is_repost %}
                              {% include 'post_user/repost_detail.html' %}
                            {% endif %}

                            <div class="card-body">
                                <p class="">{{ object.post.text }}</p>

                                <div class="attach_container" data-pk="{{ object.post.creator.pk }}">
                                  {% for photo in object.post.item_photo.all %}
                                  <div class="photo">
                                      <img data-uuid="{{ photo.uuid }}" class="u_manage_wall_image image_fit lazyload" style="cursor:pointer" data-src="{{ photo.file.url }}" alt="img">
                                  </div>
                                  {% endfor %}
                                  {% for video in object.post.item_video.all %}
                                  <div class="video" album-pk="{{ video.video_album.pk }}">
                                      <img class="image_fit lazyload" data-src="{{ video.image.url }}" alt="img">
                                      <div class="video_icon_play_v2 u_video_list_detail" video-counter="{{ forloop.counter0 }}"></div>
                                  </div>
                                  {% endfor %}
                                  {% for good in object.post.item_good.all %}
                                  <div class="u_manage_good_detail good" good-uuid="{{ good.uuid }}" style="cursor:pointer">
                                    <span class="badge badge-primary mb-2" style="position:absolute;bottom:-8px;">
                                      <svg style="padding-bottom: 1px" height="13" fill="#FFFFFF" viewBox="0 0 24 24" width="13"><path d="M0 0h24v24H0z" fill="none"/><path d="M17.21 9l-4.38-6.56c-.19-.28-.51-.42-.83-.42-.32 0-.64.14-.83.43L6.79 9H2c-.55 0-1 .45-1 1 0 .09.01.18.04.27l2.54 9.27c.23.84 1 1.46 1.92 1.46h13c.92 0 1.69-.62 1.93-1.46l2.54-9.27L23 10c0-.55-.45-1-1-1h-4.79zM9 9l3-4.4L15 9H9zm3 8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/></svg>
                                      {{ good.title }}
                                    </span>
                                    {% if good.image %}
                                      <img class="image_fit lazyload" data-src="{{ good.image.url }}" alt="img">
                                    {% else %}
                                      <svg class="image_fit svg_default" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                                    {% endif %}
                                  </div>
                                  {% endfor %}
                                  {% for item in object.post.attached_item.all %}
                                  <div class="article" data-uuid="{{ item.uuid }}">
                                    <span class="badge badge-info mb-2" style="position: absolute;bottom:-8px;">
                                      <svg style="padding-bottom: 1px" height="13" fill="#FFFFFF" viewBox="0 0 24 24" width="13"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z"/></svg>
                                      {{ item.title}}
                                    </span>
                                    <div class="text-center u_article_detail" style="cursor:pointer">
                                      <div class="align-items-center">
                                          {% if item.g_image %}
                                            <img class="lazyload image_fit" data-src="{{ item.g_image.url }}" alt="img">
                                          {% else %}
                                            <img class="lazyload image_fit" data-src="/static/images/no-image.jpg" />
                                          {% endif %}
                                      </div>
                                   </div>
                                  </div>
                                  {% endfor %}
                                  {% for music in object.post.item_music.all %}
                                  <div class="col-md-12 music" data-path="{{ music.uri }}" data-duration="{{ music.duration }}" style="flex-basis: 100%;">
                                    <div class="media" music-counter="{{ forloop.counter0 }}">
                                        <figure style="cursor:pointer">
                                          <a class="music_list_post music_thumb">
                                            {% if music.artwork_url %}
                                              <img style="width:30px;heigth:auto" data-src="{{ music.artwork_url }}" class="lazyload" alt="img" />
                                            {% else %}
                                              <svg fill="currentColor" style="width:30px;heigth:30px" class='svg_default' viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"/></svg>
                                            {% endif %}
                                          </a>
                                        </figure>
                                        <div class="media-body" style="display: flex;">
                                            <h6 class="music_list_post music_title">
                                              <a>{{ music.title }}</a>
                                            </h6>
                                        </div>
                                    </div>
                                  </div>
                                  {% endfor %}
                                </div>

                            </div>

                          {% endif %}

                            {% for report in object.post_reports.all %}
                              <p class="mb-1">{{ forloop.counter }}. {{ report.get_type_display }}</p>
                              {% if report.description %}<p class="mb-2">{{ report.description }}</p>{% endif %}
                            {% endfor %}
                              <div class="py-2 border-top btn_console">
                                <a class="btn_default post_delete_window">Удалить</a>
                              | <a class="btn_default post_rejected">Отклонить</a>
                              </div>
                        </div>
                      </div>
                  </div>
                  {% endfor %}
                  {% else %}
                  <div class="card centered">
                    <div class="card-body">
                    <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M22 13h-8v-2h8v2zm0-6h-8v2h8V7zm-8 10h8v-2h-8v2zm-2-8v6c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2zm-1.5 6l-2.25-3-1.75 2.26-1.25-1.51L3.5 15h7z"/></svg>
                    </div>
                    <h6 style="margin: 20px;text-align: center;"> Жалоб пока нет...</h6>
                  </div>
                  {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 col-lg-4"></div>
</div>

{% endblock %}
