{% extends "base.html" %}
{% block title %}Жалобы на пользователей | Модератор{% endblock %}
{% load liked_user %}
{% block content %}

<div class="row">
    <div class="col-12">
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск по списку">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">Жалобы на пользователей | Модератор</h5>
                      <small class="content-color-secondary float-right mr-2 mt-1"></small>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 py-0">

              {% if object_list %}

              <ul class="list-group" id="moderation_users_moderator_container" data-link="/managers/moderation_list/user_admin/{{ user.pk }}">
                  {% for object in object_list %}
                  <li class="list-group-item pag {% if forloop.last %}last{% endif %}" user-pk="{{ object.user.pk }}">
                      <div class="media">
                        <a href="{% url 'user' pk=object.user.pk %}" class="ajax">
                          <figure>
                            {% if object.user.get_avatar %}
                              <img src="{{ object.user.get_avatar }}" style="border-radius:50px;width:50px;" alt="image">
                            {% else %}
                              <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                            {% endif %}
                          </figure>
                        </a>
                        <div class="media-body">
                            <a href="{% url 'user' pk=object.user.pk %}" class="ajax">
                                <h6 class="my-0 mt-1">{{ object.user.get_full_name }} ({{ object.reports_count }} {{ object.reports_count|rupluralize:"жалоба,жалобы,жалоб" }})</h6>
                            </a>
                            {% for report in object.user_reports.all %}
                              <p class="mb-1">{{ forloop.counter }}. {{ report.get_type_display }}</p>
                              <p class="mb-2">{{ report.description }}</p>
                            {% endfor %}
                              <div class="py-2 border-top btn_console">
                                <a href="#" class="user_suspend">Заморозить</a>
                              | <a href="#" class="user_blocker">Заблокировать</a>
                              | <a href="#" class="user_warning_banner">Повесить баннер</a>
                              | <a href="#" class="user_rejected">Отклонить</a>
                              </div>
                        </div>
                      </div>
                  </li>
                  {% endfor %}
              </ul>

              {% else %}
              <div class="card" style="align-items: center;justify-content:center;">
                <div class="card-body">
                <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                </div>
                <h6 style="margin: 20px;text-align: center;"> Жалоб пока нет...</h6>
              </div>

              {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock %}
