<div class="form-group">
    <div class="custom-control custom-radio repost_for_wall" style="margin-bottom:10px">
        <input type="radio" name="radiogroup-1" checked="checked" class="custom-control-input" id="repost_radio_wall">
        <label class="custom-control-label" for="repost_radio_wall">На своей стене</label>
    </div>
    {% if request.user.get_staffed_communities %}
    <div class="custom-control custom-radio repost_for_community" style="margin-bottom:10px">
        <input type="radio" name="radiogroup-1" class="custom-control-input" id="repost_radio_community">
        <label class="custom-control-label" for="repost_radio_community">В сообществе</label>
    </div>
    <div id="show_user_staff_communities" style="display:none">
      <select name="staff_communities" multiple="" id="id_staff_communities" style="height: 100%">
        {% for community in request.user.get_staffed_communities %}
          {% if community.pk != object.community.pk %}
            <option value="{{ community.pk }}">{{ community.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    {% else %}
    <div class="custom-control custom-radio" style="margin-bottom:10px">
        <input type="radio" disabled="disabled" name="radiogroup-1" class="custom-control-input" id="repost_radio_community">
        <label class="custom-control-label" for="repost_radio_community">В сообществе</label>
    </div>
    {% endif %}
    
    {% if request.user.get_all_connection %}
    <div class="custom-control custom-radio repost_for_message" style="margin-bottom:10px">
        <input type="radio" {% if object.creator.pk == request.user.pk %}checked="checked"{% endif %} name="radiogroup-1" class="custom-control-input" id="repost_radio_message">
        <label class="custom-control-label" for="repost_radio_message">В сообщении</label>
    </div>
    <div id="show_user_connections" {% if object.creator.pk != request.user.pk %}style="display:none"{% endif %}>
      <select name="user_connections" multiple="" id="id_user_connections" style="height: 100%;">
        {% for user in request.user.get_all_connection %}
          {% if user.pk != object.creator.pk %}
            <option value="{{ user.pk }}">{{ user.get_full_name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    {% else %}
    <div class="custom-control custom-radio repost_for_message" style="margin-bottom:10px">
        <input type="radio" disabled="disabled" name="radiogroup-1" class="custom-control-input">
        <label class="custom-control-label" for="repost_radio_message">В сообщении</label>
    </div>
    {% endif %}
</div>
