<div class="card">
    <div class="card-body border-left" style="padding: 8px;padding-bottom: 0;">
      <div style="display:flex" data-pk="{{ playlist.creator.pk }}" data-uuid="{{ playlist.uuid }}">
        <figure>
          <a class="ajax" href="{% url 'user_music_list' pk=playlist.creator.pk uuid=playlist.uuid %}">
            {% if playlist.image %}
              <img src="{{ playlist.image }}" style="width:120px;height:120px;" alt="image">
            {% else %}
              <svg fill="currentColor" class="svg_default border" style="width:120px;height:120px;" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 6H3v2h12V6zm0 4H3v2h12v-2zM3 16h8v-2H3v2zM17 6v8.18c-.31-.11-.65-.18-1-.18-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3V8h3V6h-5z"/></svg>
            {% endif %}
          </a>
        </figure>
        <div class="media-body" style="margin-left: 10px;">
          <h6 class="my-0 mt-1">{{ playlist.name }}</h6>
          <p class="">
            Плейлист
            <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=album.creator.pk %}">
              {{ playlist.creator.get_full_name_genitive }}
            </a>
            <br>
            Треков: {{ playlist.count_tracks }}
          </p>
        </div>
        {% if request.user.pk != playlist.creator.pk %}
          <span class='c_music_list_add btn_default pointer' title="Добавить" style="margin-top: 12px;margin-right: 5px;width:30px">
            <svg fill='currentColor' class='svg_default' viewBox='0 0 24 24'><path d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/><path d='M0 0h24v24H0z' fill='none'/></svg>
          </span>
        {% endif %}
          <span title="Поделиться" class="c_ucm_music_list_repost btn_default pointer" style="margin-top: 14px;width:25px">
            <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"/></svg>
          </span>
      </div>
    </div>
  </div>
<div class="card">
    <div class="card-body border-left" style="padding-left: 7px;padding-right: 7px;">
          <ul data-pk="{{ playlist.pk }}" style="margin-bottom: 0">
            {% for music in playlist.playlist_30 %}
              {% include 'generic/items/u_music.html' %}
            {% endfor %}
          </ul>
    </div>
</div>
