{% extends "base_mobile.html" %}
{% block title %}Информация - {{ community.name }} {% endblock %}
{% block content %}
<style>
  .form-group{
    margin-bottom:15px
  }
</style>
<div class="container mt-3">
  {% include 'mobile/communities/manage/menu.html' %}

            <form id="info_form" class="contact-form">
                {% csrf_token %}
                <div class="card mb-3">
                    <div class="card-header border-bottom">
                        <h5 class="content-color-primary mb-0">Изменение информации -
                            <a class="ajax underline" href="{% url 'community_detail' pk=community.pk %}">
                              {{ community.name }}
                            </a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Название</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <label>Описание</label>
                            {{ form.description }}
                        </div>
                        <div class="form-group">
                            <label>Правила</label>
                            {{ form.rules }}
                        </div>
                        <div class="form-group">
                            <label>Статус</label>
                            {{ form.status }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="general_button" class="mb-2 btn btn-sm btn-success float-right">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}
