{% load liked_user thumbnail %}

{% if likes %}
<div class="comment_like_pop" style="margin:15px">
    <span class="с_all_comment_likes" style="cursor:pointer">Оценили: {{ likes.count }} {{ likes.count|rupluralize:"человек,человека,людей" }}</span>
    <br><br>
    <span style="display: flex;">
        {% for heart in likes %}
        <a href="{% url 'user' pk=heart.user.pk %}" class="ajax" style="padding-right:10px">
            <figure style="margin: 0;" title="{{ heart.user.get_full_name }}">
              {% if heart.user.get_avatar %}
                <img src="{{ heart.user.get_avatar.file|thumbnail_url:'small_avatar' }}" style="border-radius: 50px;width:50px;" alt="image">
              {% else %}
                <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              {% endif %}
            </figure>
        </a>
        {% endfor %}
    </span>
</div>
{% endif %}
