{% extends "base_mobile.html" %}
{% load liked_user %}
{% block title %}Друзья {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="card-header p-0">
        <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle drop" style="width:100%;">
                Друзья {{ user.first_name|gent }} {{ user.last_name|gent }} ({{ user.count_connections }})
            </button>
            <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; width: 100%;">
              {% if user.get_online_connection_count %}
                <a class="dropdown-item ajax" href="{% url 'online_frends' pk=user.pk %}">Друзья онлайн ({{ user.get_online_connection_count }})</a>
              {% endif %}
              {% if common_users %}
                <a class="dropdown-item ajax" href="{% url 'common_frends' pk=user.pk %}">Общие друзья</a>
              {% endif %}
              {% if user.count_followers != 0 %}
                <a class="dropdown-item ajax" href="{% url 'follows' pk=user.pk %}">Подписчики ({{ user.count_followers }})</a>
              {% endif %}
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card">
            <div class="card-body">
                <div class="input-group mb-3" style="display:flex">
                    <input type="text" class="form-control" placeholder="Поиск друзей">
                    <div class="input-group-append">
                        <button class="btn btn-outline-link" type="button">Искать</button>
                    </div>
                </div>
                <ul class="list-group profile_block_paginate" id="friends_container" data-link="/friends/{{ user.pk }}/">
                    {% if object_list %}
                    {% for object in object_list %}
                    <li class="list-group-item border-top pag {% if forloop.last %}last{% endif %}">
                        <div class="media">
                            <a href="{% url 'user' pk=object.pk %}" class="ajax">
                                <figure>
                                    {% if object.get_avatar %}
                                    <img src="{{ object.get_avatar }}" style="border-radius:50px;width:50px;" alt="image">
                                    {% else %}
                                    <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24">
                                        <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                                        <path d="M0 0h24v24H0z" fill="none" /></svg>
                                    {% endif %}
                                </figure>
                            </a>
                            <div class="media-body">
                                <a href="{% url 'user' pk=object.pk %}" class="ajax">
                                    <h6 class="my-0 mt-1">{{ object.get_full_name }}</h6>
                                </a>
                                <a href="" class="small">Написать сообщение</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}

                    {% else %}
                    <div class="card" style="align-items: center;justify-content:center;">
                        <div class="card-body">
                            <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24">
                                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                                <path d="M0 0h24v24H0z" fill="none" /></svg>
                        </div>
                        <h6 style="margin: 20px;text-align: center;"> Друзей нет...</h6>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
