{% extends "base.html" %}
{% load liked_user %}
{% block title %}Мои товары{% endblock %}
{% block content %}

<div class="container-fluid mt-3 pk_saver" data-uuid="{{ user.uuid }}" data-pk="{{ user.pk }}">
    <div class="row">
      <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск по товарам">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <button id="u_good_add" class="btn btn-outline-success" style="margin-bottom:15px;width:100%;" type="button">
            Создать товар
        </button>
      </div>
    </div>

      <div class="col-md-8">
        <div class="card mb-2">
            <div class="card-header">
              <div class="media">
                <div class="media-body">
                    <h5 class="mt-1">Мои товары
                      <small class="content-color-secondary float-right mr-2 mt-1">Всего {{ user.count_goods }}</small>
                    </h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row" id="goods_container" style="margin-left: 0;margin-right: 0;">
              {% if object_list %}
              {% for object in object_list %}
              <div class="col-md-6 u_good_detail" good-pk="{{ object.pk }}" style="cursor:pointer">
                      <div class="">
                          <div class="row align-items-center no-gutters">
                              <div class="col">
                                  <div class="swiper-wrapper">
                                      <div class="swiper-slide text-center">
                                        {% if object.image %}
                                          <img style="width:100%" src="{{ object.image.url }}" alt="">
                                        {% else %}
                                          <svg class="svg_default" style="width:100%;height:auto" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                                        {% endif %}
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <h5 class="card-title mb-1 header-color-primary text-center">{{ object.title }}</h5>
                          <h6 class="card-subtitle mb-2 header-color-secondary text-center">{{ object.sub_category }}</h6>
                          <br>
                          <div class="row bg-light-secondary text-center">
                              <div class="col py-3">
                                  <h5 class="content-color-primary mb-0">{{ object.price }}</h5>
                                  <p class="content-color-secondary small mb-0">Цена</p>
                              </div>
                              <div class="col py-3">
                                  <h5 class="content-color-primary mb-0">12</h5>
                                  <p class="content-color-secondary small mb-0">Просмотров</p>
                              </div>
                          </div>
                      </div>
              </div>

              {% endfor %}

              {% else %}
              <div class="card" style="align-items: center;justify-content:center;width:100%;">
                <div class="card-body">
                <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M22 13h-8v-2h8v2zm0-6h-8v2h8V7zm-8 10h8v-2h-8v2zm-2-8v6c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2zm-1.5 6l-2.25-3-1.75 2.26-1.25-1.51L3.5 15h7z"/></svg>
                </div>
                <h6 style="margin: 20px;text-align: center;"> Пока товаров нет...</h6>
              </div>
              {% endif %}

              </div>
            </div>
        </div>
      </div>
      <div class="col-md-4">

      </div>
</div>

<script>

  var page = 2;
  var loaded = false;
      onscroll = function(){
        try{
        var friends = document.getElementById("goods_container");
        if(friends.querySelectorAll('.u_good_detail').length === (page-1)*30){
        var height = document.documentElement.clientHeight-1;
        if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
          if (loaded){return};
          var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
          link_3.open( 'GET', '/goods/user/goods/{{ user.uuid }}/?page=' + page++, true );
          link_3.send();
          link_3.onreadystatechange = function () {
          if ( this.readyState == 4 && this.status == 200 ) {
            var elem = document.createElement('span');
            elem.innerHTML = link_3.responseText;
            if(elem.getElementsByClassName('u_good_detail').length < 30){loaded = true;};
            friends.append(elem);
            }
          }
        }}
      }catch{return}
  }
</script>

{% endblock %}
