{% load liked_user %}
<style>
  .product-info .product-gallery {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

#big_img {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 15px 0;
  cursor: zoom-in;
}

.product-gallery-thumbnails .thumb_list li {
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
}

.thumb_list li img {
  display: block;
  width: 100%;
}
</style>
  {% if prev %}
    <a class="prev_item" href="{% url 'user_good' pk=prev.pk uuid=user.uuid %}">
      <svg class="svg_default" style="width:50px;height:50px;" fill="currentColor" viewBox="0 0 24 24"><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
    </a>
  {% endif %}
  {% if next %}
    <a class="next_item" href="{% url 'user_good' pk=next.pk uuid=user.uuid %}">
      <svg class="svg_default" style="width:50px;height:50px;" fill="currentColor" viewBox="0 0 24 24"><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
    </a>
  {% endif %}
fgetrtrgrt5g
    <div class="card mb-4">
        <div class="card-body py-0">
            <div class="row">
                <div class="col-md-8">
                  <div class="product-gallery">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="product-gallery-thumbnails">
                          <ol class="thumb_list list-unstyled">
                            {% if object.image %}
                            <li><img src="{{ object.image.url }}" class="img-responsive" alt=""></li>
                            {% else %}
                            <img src="/static/images/no_album_photo.png" class="big_img img-responsive" alt="">
                            {% endif %}
                            {% if object.image2 %}
                            <li><img src="{{ object.image2.url }}" alt=""></li>
                            {% endif %}
                            {% if object.image3 %}
                            <li><img src="{{ object.image3.url }}" alt=""></li>
                            {% endif %}
                            {% if object.image4 %}
                            <li><img src="{{ object.image4.url }}" alt=""></li>
                            {% endif %}
                            {% if object.image5 %}
                            <li><img src="{{ object.image5.url }}" alt=""></li>
                            {% endif %}
                          </ol>
                        </div>
                      </div>
                      <div class="col-md-9">
                        <div id="big_img">
                          {% if object.image %}
                          <img src="{{ object.image.url }}" class="big_img img-responsive" alt="">
                          {% else %}
                          <img src="/static/images/no_album_photo.png" class="big_img img-responsive" alt="">
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 border-left pr-0">
                    <div class="card no-shadow h-100">
                        <div class="card-header">
                            <div class="media">
                                <div class="media-body">
                                    <h3 class="mb-2 header-color-primary">{{ object.title }}</h3>
                                    <h6 class="card-subtitle header-color-secondary">{{ object.sub_category }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-body py-0">
                            <h1 class="text-success">{{ object.price }} руб.
                                <small class="text-danger font-weight-light "><s>{{ object.price }} руб.</s></small>
                            </h1>
                            <br>
                            <p class="content-color-secondary">{{ object.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
