{% load liked_user %}

<div class="card mb-3 pag {% if forloop.last %}last{% endif %}" data-uuid="{{ object.uuid }}">
    {% include 'mobile/posts/post_user/anon_card_header.html' %}

      <div class="fullscreen pointer">
        {{ object.text|linebreaks }}
      </div>

      <span class="post_attach_panel">
        {% include object.get_u_attach_items_mobile %}
      </span>

    {% if object.parent %}
      {% include 'mobile/posts/post_user/repost.html' %}
    {% endif %}

    {% include 'mobile/posts/post_user/anon_info.html' %}

</div>
