
<div class="card-header">
    <div class="media">
      {% include 'desctop/generic/user/creator_figure.html' %}
        <div class="media-body">
            <h6 class="mb-0">
              {% include 'desctop/generic/user/creator.html' %}
            </h6>
            <p class="mb-0">{{ object.get_created }}</p>
        </div>

        <div class="dropdown">
            <a style="cursor:pointer" class="btn_default drop">
              <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
            </a>
            <div class="dropdown-menu dropdown-menu-right" data-type="pos{{ object.pk }}">
              {% if request.user.is_moderator %}
                <span class="dropdown-item create_close">Закрыть</span>
              {% else %}
                <span class="dropdown-item create_claim">Пожаловаться</span>
              {% endif %}
                <span class="dropdown-item copy_link">Скопировать ссылку</span>
                <span>
                  <span class="dropdown-item item_likes">Оценили</span>
                  <span class="dropdown-item item_dislikes">Не оценили</span>
                </span>
            </div>
        </div>
    </div>
</div>
