{% extends "base.html" %}
{% block title %}{{ user.get_full_name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="dvizhenie.tv" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="{% if user.profile.avatar %}http://xn--b1afgj5al1e.xn--p1acf/{{ user.profile.avatar }}{% else %}/static/images/user.png{% endif %}"/>
{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'user' pk=object.creator.pk %}" class="ajax">{{ object.creator.get_full_name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Запись на стене</li>
  </ol>
</nav>

{% include 'post_user/post_detail.html' %}

{% endblock %}
