<div class="card mb-3 pag {% if forloop.last %}last{% endif %}" data-pk="{{ object.creator.pk }}" data-uuid="{{ object.uuid }}">
  {% include 'mobile/posts/post_user/my_card_header.html' %}

  <div class="fullscreen pointer">
    {{ object.text|linebreaks }}
  </div>

  {% if object.attach %}
  {% load post %}
  {{ object|get_user_attach:request.user|safe }}
  {% endif %}

    {% if object.parent %}
      {% include 'mobile/posts/post_user/repost.html' %}
    {% endif %}

    {% include 'mobile/posts/post_user/info.html' %}
</div>
