<div class="card mb-3 pag {% if forloop.last %}last{% endif %}" data-pk="{{ object.creator.pk }}" data-uuid="{{ object.uuid }}">
    {% include 'mobile/posts/post_user/card_header.html' %}

    {% if object.text %}
      <div class="fullscreen pointer">
        {{ object.text|linebreaks }}
      </div>
    {% endif %}

    <span class="post_attach_panel">
      {% include 'mobile/generic/attach/u_post_attach.html' %}
    </span>

    {% if object.parent %}
      {% include 'mobile/posts/post_user/repost.html' %}
    {% endif %}

    {% include 'mobile/posts/post_user/info.html' %}
</div>
