<!-- прикрепленные элементы к ответам на комментарии к фотографиям пользователей -->

<div class="row" data-pk="{{ reply.pk }}">
  {% for photo in reply.gallery_comment_photo.all %}
    {% include 'generic/items/u_photo.html' %}
  {% endfor %}

  {% for video in reply.gallery_comment_video.all %}
    {% include 'generic/items/u_video.html' %}
  {% endfor %}

  {% for music in reply.gallery_comment_music.all %}
    {% include 'generic/items/u_music.html' %}
  {% endfor %}
  
  {% for doc in reply.get_attach_docs %}
    {% include 'generic/items/u_doc.html' %}
  {% endfor %}
</div>
