<!-- прикрепленные элементы к ответам на комментарии к фотографиям пользователей -->

<div class="row" data-pk="{{ reply.pk }}">
  {% for object in reply.gallery_comment_photo.all %}
  <div class="col-md-6">
      <img photo-uuid="{{ object.uuid }}" data-pk="{{ object.creator.pk }}" class="u_WA_photo image_fit lazyload" style="cursor:pointer" data-src="{{ object.file.url }}" alt="img">
  </div>
  {% endfor %}
  {% for object in reply.gallery_comment_video.all %}
  <div class="col-md-6">
      <img class="image_fit lazyload" data-src="{{ object.image.url }}" alt="img">
      <div class="video_icon_play_v2 u_video_detail" data-pk="{{ object.creator.pk }}" data-uuid="{{ video.uuid }}" video-counter="{{ forloop.counter0 }}"></div>
  </div>
  {% endfor %}
  {% for music in reply.gallery_comment_music.all %}
    {% include 'generic/attach/u_music.html' %}
  {% endfor %}
</div>
