 <!-- прикрепленные элементы к записям пользователей -->

<div class="attach_container"> 

  {% for photo in object.get_attach_photos %}
    {% include 'generic/attach/u_photo.html' %}
  {% endfor %}
  {% for album in object.get_attach_photo_list %}
    {% include 'generic/attach/u_album.html' %}
  {% endfor %}


  {% for video in object.get_attach_videos %}
  <div class="video">
      <img class="image_fit lazyload" data-src="{{ video.image.url }}" alt="img">
      <div class="video_icon_play_v2 u_video_detail" data-pk="{{ object.creator.pk }}" data-uuid="{{ object.uuid }}" video-counter="{{ forloop.counter0 }}"></div>
  </div>
  {% endfor %}
  {% for good in object.get_attach_goods %}
    {% include 'generic/attach/u_good.html' %}
  {% endfor %}
  {% for item in object.get_attach_articles %}
  <div class="article" data-uuid="{{ item.uuid }}" data-pk="{{ object.creator.pk }}">
    <span class="badge badge-info mb-2" style="position: absolute;bottom:-8px;">
      <svg style="padding-bottom: 1px" height="13" fill="#FFFFFF" viewBox="0 0 24 24" width="13"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z"/></svg>
      {{ item.title}}
    </span>
    <div class="text-center u_article_detail" style="cursor:pointer">
      <div class="align-items-center">
          {% if item.g_image %}
            <img class="lazyload image_fit" data-src="{{ item.g_image.url }}" alt="img">
          {% else %}
            <img class="lazyload image_fit" data-src="/static/images/no-image.jpg" />
          {% endif %}
      </div>
   </div>
  </div>
  {% endfor %}
  {% for music in object.get_attach_tracks %}
    {% include 'generic/attach/u_music.html' %}
  {% endfor %}
</div>
