{% load staticfiles %}
<script src="{% static 'scripts/jquery.js' %}" type="text/javascript"></script>

<span class="activefullscreen_hide2">Х</span>
<form action="" id="FORM-POST1" method="post" enctype="multipart/form-data">
  {% csrf_token %}
<div class="form-group">
    {{ form.title.label }}
    <br>
    {{ form.title }}
</div>
<div class="form-group">
    {{ form.image }}
</div>
<div class="form-group">
    {{ form.content }}
</div>
<div class="form-group">
    {{ form.comments_enabled }}
    {{ form.comments_enabled.label }}
</div>
    <div class="card-footer">
      <button class="btn btn-secondary remove_form">Отмена</button>
      <button type="button" id="article_post" class="btn btn-success float-right">Опубликовать</button>
   </div>
</form>


<script defer src="/static/scripts/jquery.toast.min.js" type="text/javascript"></script>
<script>
    var frm = $('#FORM-POST1');
    $( "#article_post" ).click(function() {
      CKEDITOR.instances.id_content.updateElement();
        $.ajax({
            type: frm.attr('method'),
            url: "{% url 'article_add_user' %}",
            data: new FormData($('frm')[0]),
            contentType: false,
            cache: false,
            processData:false,
            success: function (data) {
              $(".stream").prepend(data);
              $('.activefullscreen2').hide();
              $('#article_loader').empty();
              $.toast({
                  heading: '{{ request.user.first_name }}',
                  text: 'Статья успешно создана!',
                  showHideTransition: 'fade',
                  icon: 'success'
              })
            },
            error: function(data) {
                $("#hack").html("Возникла непредвидинная ошибка!!");
            }
        });
        return false;
    });
</script>
<script>
  $( ".remove_form" ).click(function(){
    $('.activefullscreen2').hide();
    $('#article_loader').empty();
  });
</script>
<script>
  $('.activefullscreen_hide2').on('click', function () {
  	 $('.activefullscreen2').hide();
  	 $('#article_loader').empty();
  });
</script>
<script defer type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script defer type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
