{% load staticfiles humanize liked_user %}

<div class="card mb-4 infinite-item" item-id="{{ object.uuid }}">
    <span class="article_fullscreen_hide">
      <img style="width:35px" src="{% static 'images/icons/close-24px.svg' %}" />
    </span>
    <br>
    {% include 'generic/card_header.html' %}

    <div class="card-body">
        <h2 class="">{{ object.article.title }}</h2>
        <br><br>
        <figure class="">
            {% if object.article.image %}
            <img class="lazyload" src="{{ object.article.image.url }}" alt="">
            {% else %}
            <img class="lazyload" src="{% static 'images/no-image.jpg' %}" />
            {% endif %}
        </figure>
        <div class="container">
            <br><br>
            {{ object.article.content|safe }}

        </div>
    </div>

    {% include 'generic/info.html' %}
</div>

{% include 'generic/script.html' %}

<script>
    $('.article_fullscreen_hide').on('click', function() {
        $('.article_fullscreen').hide();
        $('#article_loader').empty();
    });
</script>
