{% extends "base.html" %}
{% load staticfiles humanize %}
{% block title %}Рады Вас видеть | трезвый.рус{% endblock %}
{% block content %}

<div class="container-fluid h-100 h-sm-auto"">
            <div class="row h-100 h-sm-auto">
                <div class="col-12 col-md-7 h-md-100  h-sm-auto order-1 order-md-1 bg-dark">
                  <div class="carosel swiper-location-carousel h-100 h-sm-auto">
                      <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="0" data-slides-per-view="1" class="swiper-container swiper-init swiper-signin h-100">
                          <div class="swiper-pagination"></div>
                          <div class="swiper-wrapper">
                              <div class="swiper-slide text-center ">
                                  <div class="background-img">
                                    <img src="{% static 'images/banner.png' %}" alt="" class="w-auto float-right">
                                  </div>
                                  <div class="row align-items-center h-100 text-white">
                                      <div class="col-10 col-md-8 col-lg-6 mx-auto my-4">
                                          <h1 class="font-weight-light mb-4">Easy, Unique and Creative multipurpose template</h1>
                                          <p>GoTRI-Mobile is very unique and flexible with large number of customized components. Get this now, share with beautiful world. </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide text-center">
                                  <div class="background-img"><img src="{% static 'images/banner2.png' %}" alt="" class="w-auto"></div>
                                  <div class="row align-items-center h-100 text-white">
                                      <div class="col-10 col-md-8 col-lg-6 mx-auto my-4">
                                          <h1 class="font-weight-light mb-4">Save 1000s hours, Efforts and your own Money</h1>
                                          <p>GoTRI has many more flexible unique component with very creative design you can save much more with this template.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>

                <div class="col-12 col-md-5 h-md-100  h-sm-auto order-2 order-md-2">
                  <form action="{% url 'rest_login' %}" id="login_form" class="row align-items-center h-sm-auto">
                    {% csrf_token %}
                      <div class="col-12">
                          <h1 class="font-weight-light mb-3 mt-4 content-color-secondary text-left">Вход</h1>
                          <div class="card mb-2">
                              <div class="card-body p-0">
                                  <input type="email" name="email" class="form-control form-control-lg border-0" placeholder="Email">
                                  <hr class="my-0">
                                  <input type="password" id="password" name="password" class="form-control form-control-lg border-0" placeholder="Ваш пароль">
                              </div>
                          </div>
                          <small class="form-text text-muted login-response"></small>
                          <div class="text-left mb-4">
                              <button type="submit" class=" btn btn-primary logg pink-gradient">Войти</button>
                              <a href="" style="float:right;padding-top: 9px;">Забыли пароль?</a>
                          </div>
                      </div>
                  </form>
                  <br><br><br>
                  <form action="{% url 'rest_register' %}" id="signup" class="row align-items-center h-sm-auto">
                    {% csrf_token %}
                      <div class="col-12">
                          <h1 class="font-weight-light mb-3 content-color-secondary text-left">Регистрация</h1>
                          <div class="card mb-2">
                            <div class="card-body p-0">
                                  <input type="text" name="first_name" id="id_first_name" class="form-control form-control-lg border-0" placeholder="Имя">
                                  <hr class="my-0">
                                  <input type="text" name="last_name" id="id_last_name" class="form-control form-control-lg border-0" placeholder="Фамилия">
                                  <hr class="my-0">
                                  <input type="email" name="email" class="form-control form-control-lg border-0" placeholder="Email">
                                  <hr class="my-0">
                                  <input type="password" name="password1" id="password1" class="form-control form-control-lg border-0" placeholder="Пароль">
                                  <hr class="my-0">
                                  <input type="password" name="password2" id="password2" class="form-control form-control-lg border-0" placeholder="Повторите пароль">
                              </div>
                          </div>
                          <br>
                              <div class="col">
                                  <div class="custom-control custom-checkbox">
                                      <input type="checkbox" id="register_" checked onchange="document.getElementById('register_ajax').disabled = !this.checked;" class="custom-control-input">
                                      <label class="custom-control-label" for="register_">
                                         Я принимаю<a href=""> Правила сайта</a>.
                                      </label>
                                  </div>
                              </div>
                          <br>
                          <small class="form-text text-muted reg-response"></small>
                          <div class="text-left mb-4">
                              <button type="submit" class=" btn btn-primary pink-gradient" id="register_ajax">Создать аккаунт</button>
                          </div>
                      </div>
                  </form>
                </div>
            </div>
        </div>



        <script type="text/javascript">
          var error_response2 = function(data){
            $('.reg-response').html("Что-то пошло не так... ");
          }
          var susccess_response2 = function(data){

          }
          $().ready(function(){
            $('#register_ajax').click(function(){
              var form2 = $('#signup');
              $.post(form2.attr('action'), form2.serialize())
              .fail(function(data){error_response2(data);})
              .done(function(data) {
                  susccess_response(data);
              });
              return false;
            });
          });
        </script>
        <script type="text/javascript">
            var error_response = function(data) {
                $('.login-response').html("ошибка");
            }
            var susccess_response = function(data) {
              window.location = "{% url 'main' %}";
            }
            $().ready(function() {
                $('.logg').click(function() {
                    var form = $('#login_form');
                    $.post(form.attr('action'), form.serialize())
                        .fail(function(data) {
                            error_response(data);
                            console.log(data);
                        })
                        .done(function(data) {
                            susccess_response(data);
                        });
                    return false;
                });
            });
        </script>
{% endblock %}
