{% extends "base_coming.html" %}
{% load staticfiles humanize %}
{% block title %}Социальначя сеть еще строится{% endblock %}
{% block meta %}
<meta property="og:url" content="http://xn--b1afgj5al1e.xn--p1acf/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://http://xn--b1afgj5al1e.xn--p1acf/{% static 'images/1.jpg' %}?r=qwert" />
{% endblock %}
<style>

</style>
{% block content %}

<div style="padding-bottom: 43px;background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #484847, #090909);
background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;">


        <div class="container main-container h-100 h-sm-auto z-index-1 text-center text-white">
            <div class="row align-items-center h-100">
                <div class="col-12 mx-auto text-center">
                    <h1 class="text-white  mt-5">трезвый.рус</h1>
                    <h3 class="font-weight-light text-white">Будет строиться еще 20-40 дней</h3>

                    <div class="row">
                        <div class="col-12 col-sm-8 col-md-8 col-lg-8 m-auto text-white" style="font-size:25px;line-height:35px;">
                          <br><br>
                          <p>Социальная сеть будет допускать только нравственный, трезвый, добрый контент.
                          Здесь взрослые и дети не будут подвергаться информационному насилию, потреблять
                          деструктивные образы, заниматься деградацией и другими насаждаемыми пороками.
                          трезвый.рус должен будет помочь объединиться хорошим людям, продвигать хорошие товары
                          и достойные услуги, обеспечить нравственное инфопространство на долгое время, с гарантией
                          этого курса развития!
                          <br><br>
                          Это самый важный подход, однако всеми соц сетями он игнорируется.

                          <br><br>
                          Друзья, подписчики, мощная модерация и социальные инструменты, сообщества разного типа,
                          фотоальбомы, товары, статьи, записи, голосования. Лайки, дизлайки, репосты, комментарии и ответы,
                          все в режиме реального времени. Ленты новостей, мгновенные уведомления о событиях, и много сюрпризов.</p>

                            <br>
                            <a href="" class="content-color-secondary mx-2"><img class="border-0 vm" src="img/twitter-w.png" alt=""></a>
                            <a href="" class="content-color-secondary mx-2"><img class="border-0 vm" src="img/facebook-w.png" alt=""></a>
                            <a href="" class="content-color-secondary mx-2"><img class="border-0 vm" src="img/linkedin-w.png" alt=""></a>
                            <a href="" class="content-color-secondary mx-2"><img class="border-0 vm" src="img/pinterest-w.png" alt=""></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
