{% extends "base_mobile.html" %}
{% load staticfiles humanize %}
{% block title %}Новости{% endblock %}
{% block meta %}
<meta property="og:url" content="" />
<link rel="stylesheet" href="{% static 'styles/swiper.min.css' %}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://xn--b1afgj5al1e.xn--p1acf/{% static 'images/I.jpg' %}" />
{% endblock %}
{% block content %}

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-12">
          <div class="stream-update">
            <a href=""><span class="new-posts"></span> Загрузить новые записи</a>
          </div>
          <div id="news_load"></div>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="nav flex-column nav-pills faqnav">
                <a class="ajax" href="/main/" data-html="#ajax">Новости</a>
                <a class="ajax" href="/main/recomended/" data-html="#ajax">Рекомендации</a>
                <a class="ajax" href="/main/like/" data-html="#ajax">Вы одобрили</a>
                <a class="ajax" href="/main/dislike/" data-html="#ajax">Вы не одобрили</a>
                <a class="ajax" href="/main/comments/" data-html="#ajax">Ваши комментарии</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


{% endblock %}
