{% extends "base_mobile.html" %}
{% load staticfiles humanize %}
{% block title %}Новости{% endblock %}
{% block meta %}
<meta property="og:url" content="" />
<link rel="stylesheet" href="{% static 'styles/swiper.min.css' %}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://xn--b1afgj5al1e.xn--p1acf/{% static 'images/I.jpg' %}" />
{% endblock %}
{% block content %}

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-12">
          <div class="stream-update">
            <a href=""><span class="new-posts"></span> Загрузить новые записи</a>
          </div>
          <div class="dropdown">
            <button type="button" class="btn btn-secondary dropdown-toggle mb-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Новости
            </button>
            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" href="#">Рекомендации</a>
                <a class="dropdown-item" href="#">Вы одобрили</a>
                <a class="dropdown-item" href="#">Вы не одобрили</a>
                <a class="dropdown-item" href="#">Ваши комментарии</a>
                <a class="dropdown-item" href="#">Фотографии</a>
            </div>
          </div>
          <div id="news_load" style="margin-top:50px"></div>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="nav flex-column nav-pills faqnav">
                <a class="ajax" href="/main/" data-html="#ajax">Новости</a>
                <a class="ajax" href="/main/recomended/" data-html="#ajax">Рекомендации</a>
                <a class="ajax" href="/main/like/" data-html="#ajax">Вы одобрили</a>
                <a class="ajax" href="/main/dislike/" data-html="#ajax">Вы не одобрили</a>
                <a class="ajax" href="/main/comments/" data-html="#ajax">Ваши комментарии</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<script>
  ready(() => {
    var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link_3.open( 'GET', '/main/news/', true );
    link_3.onreadystatechange = function () {
      if ( link_3.readyState == 4 ) {
          if ( link_3.status == 200 ) {
              var news_load = document.getElementById("news_load");
              news_load.innerHTML = link_3.responseText;
          }
      }
  };
  link_3.send( null );
});

var page = 2;
var loaded = false;
onscroll = function(){
  try{
  if(news_load.querySelectorAll('.infinite-item').length === (page-1)*30){
  height = document.documentElement.clientHeight-1;
  if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
    if (loaded){return};
    var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link_3.open( 'GET', '{% url "news_list" %}?page=' + page++, true );
    if(!loaded){link_3.send()};

    link_3.onreadystatechange = function () {
    if ( this.readyState == 4 && this.status == 200 ) {
      var elem = document.createElement('span');
      elem.innerHTML = link_3.responseText;
      if(elem.getElementsByClassName('infinite-item').length === 30){loaded = true;};
      var stream_load = document.getElementById("stream");
      stream_load.append(elem);
      }
    }
  }
}
}catch{return}
}
//updateSelected(icon_1);
</script>
{% endblock %}
