{% extends "base.html" %}
{% block title %}Новости | Записи{% endblock %}
{% block meta %}
<meta property="og:url" content="http://xn--b1afgj5al1e.xn--p1acf" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://xn--b1afgj5al1e.xn--p1acf/static/images/I.jpg" />
{% endblock %}
{% block content %}

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-8">
          <div class="stream-update">
            <a href=""><span class="new-posts"></span> Загрузить новые записи</a>
          </div>
          <div id="news_load" data-link="/main/news/"></div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="card">
            <div class="card-body">
              <div class="nav flex-column nav-pills faqnav">
                <a class="ajax" href="/main/">Новости</a>
                <a class="ajax" href="{% url 'featured_news_list' %}">Рекомендации</a>
                <a class="ajax" href="/main/like/">Вы одобрили</a>
                <a class="ajax" href="/main/dislike/">Вы не одобрили</a>
                <a class="ajax" href="/main/comments/">Ваши комментарии</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
