{% extends "base.html" %}
{% load staticfiles humanize %}
{% block title %}Новости{% endblock %}
{% block meta %}
<meta property="og:url" content="" />
<link rel="stylesheet" href="{% static 'styles/swiper.min.css' %}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://xn--b1afgj5al1e.xn--p1acf/{% static 'images/I.jpg' %}" />
{% endblock %}
{% block content %}

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
          <div id="news_load"></div>
        </div>
    </div>
</div>

<script>
  var ready = (callback) => {
  if (document.readyState != "loading") callback();
  else document.addEventListener("DOMContentLoaded", callback);
  }
  ready(() => {
    var link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link.open( 'GET', '/main/news/', true );
    link.onreadystatechange = function () {
      if ( link.readyState == 4 ) {
          if ( link.status == 200 ) {
              var news_load = document.getElementById("news_load");
              news_load.innerHTML = link.responseText;
          }
      }
  };
  link.send( null );


});
var page = 2;
var scroll = document.documentElement.clientHeight;
var loaded = false;

onscroll = function(){
  if(!loaded && window.scrollY+1 >= document.documentElement.scrollHeight-scroll){
    console.log("конец прокрутки");
    var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link_3.open( 'GET', '{% url "news_list" %}?page=' + page++, true );
    link_3.send()
    if (link_3.error) {
      loaded = true;
    }
    link_3.onreadystatechange = function () {
    if ( link_3.readyState == 4 ) {
      var elem = document.createElement('span');
      var stream_load = document.getElementById("stream");
      elem.innerHTML = link_3.responseText;
      var load_stream = elem.querySelector(".stream");
      stream_load.append(load_stream);
      }
    }
  console.log(page);
  }
};
</script>
{% endblock %}
