{% extends "base_anon_mobile.html" %}
{% load liked_user %}
{% block title %}Музыка {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}

{% block content %}
<div class="container mt-3 main-container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
          <br>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск музыки" aria-label="Recipient's username">
            <div class="input-group-append">
              <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
          </div>

          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                  <div class="media-body">
                      <h5 class="mt-1">Моя музыка
                        <small class="content-color-secondary float-right mr-2 mt-1">Всего {{ user.get_music.count }}</small>
                      </h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                Музыку слушать и работать с треками могут только авторизованные пользователи. Пожалуйста, войдите в сеть и
                выбирайте из сотен тысяч песен
              </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <br>
          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="{% url 'all_music' %}" class="ajax">Каталог музыки</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
