
    <form class="is_stat_list case_create" data-target="user" data-list="pos{{ list.pk }}" data-pk="{{ list.pk }}" data-type="edit_user_post_list">
      {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header border-bottom">
                <h5 class="content-color-primary mb-0">Изменение списка записей</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Название</label>
                    <input type="text" value="{{ list.name}}" name="name" id="id_name" class="form-control">
                </div>
                <div class="form-group">
                  <label>Описание</label>
                  <input name="description" value="{{ list.description }}" class="form-control">
                </div>

                <div class="row mb-1 form_group_flex">
                    <label class="col-md-6">Кто видит список</label>
                    <span class="col-md-6">
                      {% if list.can_see_el == 1 %}
                      <input class="input" name="can_see_el" type="hidden" value="1" />
                      <a class="menu_drop_2 pointer">Все пользователи</a>
                      <span class="collector"></span>
                      {% elif list.can_see_el == 2 %}
                      <input class="input" name="can_see_el" type="hidden" value="2" />
                      <a class="menu_drop_2 pointer">Друзья</a>
                      <span class="collector"></span>
                      {% elif list.can_see_el == 3 %}
                      <input class="input" name="can_see_el" type="hidden" value="3" />
                      <a class="menu_drop_2 pointer">Друзья и друзья друзей</a>
                      <span class="collector"></span>
                      {% elif list.can_see_el == 7 %}
                      <input class="input" name="can_see_el" type="hidden" value="7" />
                      <a class="menu_drop_2 pointer">Только я</a>
                      <span class="collector"></span>
                      {% elif list.can_see_el == 4 %}
                      <input class="input" name="can_see_el" type="hidden" value="4" />
                      <a class="menu_drop_2 pointer underline">Друзья, кроме</a>
                      <span class="collector">:
                        {% for object in list.get_can_see_el_exclude_users %}
                          <a href="{{ object.get_link }}" target="_blank">{{ object.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      </span>

                      {% elif list.can_see_el == 5 %}
                      <input class="input" name="can_see_el" type="hidden" value="4" />
                      <a class="menu_drop_2 pointer underline">Выбрать друзей</a>
                      <span class="collector">:
                        {% for object in list.get_can_see_el_include_users %}
                          <a href="{{ object.get_link }}" target="_blank">{{ object.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                          {% endfor %}
                      </span>
                      {% endif %}
                      <div class="dropdown-menu" data-action="can_see_el" style="top: 30px;">
                          <span class="dropdown-item select_perm_dropdown" data-value="1">Все пользователи</span>
                          <span class="dropdown-item select_perm_dropdown" data-value="2">Друзья</span>
                          <span class="dropdown-item select_perm_dropdown" data-value="3">Друзья и друзья друзей</span>
                          <span class="dropdown-item select_perm_dropdown" data-value="7">Только я</span>
                          <span class="select_perm_dropdown dropdown-item" data-value="4">Друзья, кроме</span>
                          <span class="select_perm_dropdown dropdown-item" data-value="5">Некторые друзья</span>
                      </div>
                    </span>
                </div>


                <div class="row mb-1 form_group_flex">
                  <label class="col-md-6">Кто видит комментарии</label>
                  <span class="col-md-6">
                    <select name="can_see_comment" data-value="{{ list.can_see_comment }}" data-action="can_see_comment" class="cool_private_select type_user">
                      <option value="1" {% if list.can_see_comment == 1 %}selected=""{% endif %}>Все пользователи</option>
                      <option value="2" {% if list.can_see_comment == 2 %}selected=""{% endif %}>Друзья</option>
                      <option value="3" {% if list.can_see_comment == 3 %}selected=""{% endif %}>Друзья и друзья друзей</option>
                      <option value="7" {% if list.can_see_comment == 7 %}selected=""{% endif %}>Только я</option>
                      <option value="4" {% if list.can_see_comment == 4 %}selected=""{% endif %}>Друзья, кроме:</option>
                      <option value="5" {% if list.can_see_comment == 5 %}selected=""{% endif %}>Выбрать друзей:</option>
                    </select>
                    <div class="collector">
                      {% if list.can_see_comment == 4 %}
                        {% for object in list.get_can_see_comment_exclude_users %}
                          <a href="{{ object.get_link }}" target="_blank">{{ object.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% endif %}

                      {% if list.can_see_comment == 5 %}
                        {% for object in list.get_can_see_comment_include_users %}
                          <a href="{{ object.get_link }}" target="_blank">{{ object.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>
                  </span>
                </div>
                <div class="row mb-1 form_group_flex">
                  <label class="col-md-6">Кто пишет записи</label>
                  <span class="col-md-6">
                    <select name="create_el" data-value="{{ list.create_el }}" data-action="create_el" class="cool_private_select type_user">
                      <option value="1" {% if list.create_el == 1 %}selected=""{% endif %}>Все пользователи</option>
                      <option value="2" {% if list.create_el == 2 %}selected=""{% endif %}>Друзья</option>
                      <option value="3" {% if list.create_el == 3 %}selected=""{% endif %}>Друзья и друзья друзей</option>
                      <option value="7" {% if list.create_el == 7 %}selected=""{% endif %}>Только я</option>
                      <option value="4" {% if list.create_el == 4 %}selected=""{% endif %}>Друзья, кроме:</option>
                      <option value="5" {% if list.create_el == 5 %}selected=""{% endif %}>Выбрать друзей:</option>
                    </select>
                    <div class="collector">
                      {% if list.create_el == 4 %}
                        {% for object in list.get_create_el_exclude_users %}
                          <a href="{{ object.get_link }}" target="_blank">{{ object.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% endif %}

                      {% if list.create_el == 5 %}
                        {% for object in list.get_create_el_include_users %}
                          <a href="{{ object.get_link }}" target="_blank">{{ object.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>
                  </span>
                </div>
                <div class="row mb-1 form_group_flex">
                  <label class="col-md-6">Кто пишет комментарии</label>
                  <span class="col-md-6">
                    <select name="create_comment" data-value="{{ list.create_comment }}" data-action="create_comment" class="cool_private_select type_user">
                      <option value="1" {% if list.create_comment == 1 %}selected=""{% endif %}>Все пользователи</option>
                      <option value="2" {% if list.create_comment == 2 %}selected=""{% endif %}>Друзья</option>
                      <option value="3" {% if list.create_comment == 3 %}selected=""{% endif %}>Друзья и друзья друзей</option>
                      <option value="7" {% if list.create_comment == 7 %}selected=""{% endif %}>Только я</option>
                      <option value="4" {% if list.create_comment == 4 %}selected=""{% endif %}>Друзья, кроме:</option>
                      <option value="5" {% if list.create_comment == 5 %}selected=""{% endif %}>Выбрать друзей:</option>
                    </select>
                    <div class="collector">
                      {% if list.create_comment == 4 %}
                        {% for object in list.get_create_comment_exclude_users %}
                          <a href="{{ object.get_link }}" target="_blank">{{ object.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% endif %}

                      {% if list.create_comment == 5 %}
                        {% for object in list.get_create_comment_include_users %}
                          <a href="{{ object.get_link }}" target="_blank">{{ object.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>
                  </span>
                </div>
                <div class="row mb-1 form_group_flex">
                  <label class="col-md-6">Кто может копировать</label>
                  <span class="col-md-6">
                    <select name="copy_el" data-value="{{ list.copy_el }}" data-action="copy_el" class="cool_private_select type_user">
                      <option value="1" {% if list.copy_el == 1 %}selected=""{% endif %}>Все пользователи</option>
                      <option value="2" {% if list.copy_el == 2 %}selected=""{% endif %}>Друзья</option>
                      <option value="3" {% if list.copy_el == 3 %}selected=""{% endif %}>Друзья и друзья друзей</option>
                      <option value="7" {% if list.copy_el == 7 %}selected=""{% endif %}>Только я</option>
                      <option value="4" {% if list.copy_el == 4 %}selected=""{% endif %}>Друзья, кроме:</option>
                      <option value="5" {% if list.copy_el == 5 %}selected=""{% endif %}>Выбрать друзей:</option>
                    </select>
                    <div class="collector">
                      {% if list.copy_el == 4 %}
                        {% for object in list.get_copy_el_exclude_users %}
                          <a href="{{ object.get_link }}" target="_blank">{{ object.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% endif %}

                      {% if list.copy_el == 5 %}
                        {% for object in list.get_copy_el_include_users %}
                          <a href="{{ object.get_link }}" target="_blank">{{ object.get_full_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>
                  </span>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm border item_fullscreen_hide">Отмена</button>
                <button type="button" class="btn btn-sm btn-success float-right" id="u_edit_post_list_btn">Сохранить</button>
            </div>
        </div>
    </form>
