<div class="card mb-3 u_post pag handle" data-type="user_post" data-pk="{{ object.pk }}">
  <a class="pointer">
    <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
  </a>
    {% include 'desctop/posts/post_user/my_card_header.html' %}
    {% if object.text %}
      <div class="fullscreen pointer text_support">
        {{ object.get_format_text|safe }}
      </div>
    {% endif %}

    {% include 'desctop/generic/items/post.html' %}

    {% include 'desctop/posts/post_user/info.html' %}
</div>
