<div class="card mb-3 post_detail uuid_saver" data-uuid="{{ object.uuid }}">

    {% include 'desctop/posts/post_user/card_header.html' %}

    <div class="text_support">
      Открыто со стены
      {% if owner_wall.gender %}
        {{ owner_wall.get_full_name_genitive }}<br>
      {% elif owner_wall.category %}
        {{ owner_wall.name }}<br>
      {% endif %}
      {{ object.text|safe }}
    </div>

    {% include 'base_block/post.html' %}

    {% include 'desctop/posts/post_user/info.html' %}
</div>
