{% extends "base.html" %}
{% block title %}Фотографии сообщества {{ community.name }}"{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/communities/{{ community.pk }}/photos/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Фотографии сообщества {{ community.name }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ community.get_b_avatar }}"/>
{% endblock %}
{% load get_key %}
{% block content %}

<div class="main-container mt-3 pk_saver" data-pk="{{ community.pk }}" data-type="community_photo">

<div class="container mt-4">
  {% if count_lists > 1 %}
    {% include 'desctop/communities/photo/main_list/lists.html' %}
  {% endif %}
</div>

<span class="load_block">
<div class="media mt-3 uuid_saver" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
  <h5 class="mt-1">
    {{ list.name }} ({{ list.count_items }})

    {% if list|is_user_can_add_list:request.user.pk %}
      <span class="pointer badge badge-light-success c_copy_photo_list">Добавить список в коллекцию</span>
    {% elif request.user.pk in list.get_users_ids %}
      <span class="pointer badge badge-light-danger c_uncopy_photo_list">Удалить список из коллекции</span>
    {% endif %}
    <span class="pointer badge badge-light-warning c_close_photo_list">Закрыть список</span>
    <span class="pointer badge badge-light-primary copy_link">Копировать ссылку</span>
  </h5>
</div>

  <div class="container mt-4">
      <div class="row is_paginate is_block_paginate no-gutters" data-link="/gallery/community/photos/{{ community.pk }}/"></div>
  </div>
</span>
</div>
{% endblock %}
