{% extends "base_anon_mobile.html" %}
{% block title %}{{ community.name }} - {{ list.name }}{% endblock %}
{% block content %}

<div class="container main-container mt-3 pk_saver community_gallery_container" data-pk="{{ community.pk }}">
  <span class="load_block">
  <div class="media mt-3 uuid_saver" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
    <h5 class="mt-1">
      {{ list.name }} ({{ list.count_items }})
      <span class="pointer badge badge-light-primary copy_link">Копировать ссылку</span>
    </h5>
  </div>

  <div class="row is_block_paginate no-gutters" data-uuid="{{ list.uuid }}" data-link="/gallery/community/list_photos/{{ community.pk }}/{{ list.uuid }}/"></div>
  </span>
</div>

{% endblock %}
