{% extends "base_mobile.html" %}
{% block title %}{{ community.name }} - {{ list.name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/communities/{{ community.pk }}/photo_list/{{ list.uuid }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Фотографии сообщества {{ community.name }} - {{ list.name }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ community.get_b_avatar }}"/>
{% endblock %}
{% load get_key %}
{% block content %}

<div class="container main-container mt-3" data-pk="{{ list.pk }}" data-type="community_photo_list">
  <span class="load_block pk_saver" data-pk="{{ community.pk }}">
  <div class="media mt-3 uuid_saver" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
    <h5 class="mt-1">
      {{ list.name }} ({{ list.count_items }})

      {% if list|is_user_can_add_list:request.user.pk %}
        <span class="pointer badge badge-light-success c_copy_photo_list">Добавить список в коллекцию</span>
      {% elif request.user.pk in list.get_users_ids %}
        <span class="pointer badge badge-light-danger c_uncopy_photo_list">Удалить список из коллекции</span>
      {% endif %}
      <span class="pointer badge badge-light-warning c_close_photo_list">Закрыть список</span>
      <span class="pointer badge badge-light-primary copy_link">Копировать ссылку</span>
    </h5>
  </div>

  <div class="row is_paginate is_block_paginate no-gutters" data-uuid="{{ list.uuid }}" data-link="/gallery/community/list_photos/{{ community.pk }}/{{ list.uuid }}/"></div>
  </span>
</div>

{% endblock %}
