{% load liked_user %}

<span class="photo_stream_comments comments_block_container">
  {% for comment in object_list %}
    {% if comment.is_deleted %}
      <div class="comment border-bottom">
        <p style="text-decoration:underline;display: flex; padding-left:10px;margin: 0;">Комментарий удален</p>
        <span style="cursor:pointer;" class="show_replies content-color-primary">
            {% if comment.count_replies %}
            ---- {{ comment.count_replies_ru }} ----
            {% endif %}
        </span>
        <span class="stream_reply_comments">
            {% for reply in comment.get_replies %}
              {% include 'u_photo_comment/my_reply.html' %}
            {% endfor %}
        </span>
      </div>
    {% else %}
      {% include 'u_photo_comment/my_parent.html' %}
    {% endif %}
  {% endfor %}
</span>
<div>
  <form>
      {% csrf_token %}
      <input type="hidden" name="uuid" value="{{ parent.uuid }}">
      <input type="hidden" name="pk" value="{{ user.pk }}">

      <div class="row img_block" style="margin-top: 10px"></div>
      <div class="row no-gutters">

        {% include 'u_photo_comment/form_dropdown.html' %}
          <div class="col">
              <div class="input-group input-group-sm">
                <input type="text" name="text" class="form-control text-comment form-control-rounded">
              </div>
          </div>
          <div class="col-auto">
              <button class="btn btn-outline-primary btn-rounded btn-sm ml-2 u_photoComment" type="button">
                <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              </button>
          </div>
      </div>
  </form>
</div>
