
<form class="h-sm-auto final_process_form">
    <h1 class="font-weight-light mb-3 mt-4 user_name"></h1>
    <p>
      Вам нужно подтвердить с помощью телефона свой профиль, и в будущем использовать номер телефона
      в качестве логина к профилю соцсети трезвый.рус. <br>
      Ваш номер телефона станет известен только администрации соцсети.
    </p>
    <div style="display: flex;margin: 5px;" class="mt-2">
      <input type="number" id="phone" onkeyup="phone_check();" class="form-control border-0" placeholder="Телефон">
    </div>
    <button type="button" disabled="disabled" id="phone_send" class="btn btn-primary pink-gradient" style="margin: 5px;">Получить код</button>

    <div id='jsondata' style="margin-top:50px"></div>

    <div id='jsondata2' style="margin-top:50px"></div>
</form>
