{% extends "base_mobile.html" %}
{% block title %}Подтверждение профиля{% endblock %}
{% block content %}

<div class="container mt-3">
  <div class="card text-center">
    <h1 class="font-weight-light mb-3 mt-4 content-color-secondary">{{ request.user.get_full_name }}!</h1>
    <p>
      Для усиление информационной безопасности Вам нужно подтвердить с помощью телефона свой профиль, и в будущем использовать номер телефона
      в качестве логина к профилю соцсети трезвый.рус
    </p>
    <div style="display: flex;margin: 5px;" class="mt-2">
      <div class="input-group-prepend">
        <span class="input-group-text">{{ request.user.get_last_location.phone }}</span>
      </div>
      <input type="number" id="phone" onkeyup="phone_check();" class="form-control border-0" placeholder="Телефон">
    </div>
    <button type="button" disabled="disabled" id="phone_send" class="btn btn-primary pink-gradient" style="margin: 5px;">Получить код</button>
    <div id='jsondata' style="margin-top:50px"></div>

    <div id='jsondata2' style="margin-top:50px"></div>
</div>
</div>

     <script type="text/javascript">
       function on(elSelector, eventName, selector, fn) {
           var element = document.querySelector(elSelector);
           element.addEventListener(eventName, function(event) {
               var possibleTargets = element.querySelectorAll(selector);
               var target = event.target;
               for (var i = 0, l = possibleTargets.length; i < l; i++) {
                   var el = target;
                   var p = possibleTargets[i];
                   while (el && el !== element) {
                       if (el === p) {
                           return fn.call(p, event);
                       }
                       el = el.parentNode;
                   }
               }
           });
       };
     function phone_check() {
      if (document.getElementById('phone').value.length > 9)
        document.getElementById("phone_send").removeAttribute('disabled');
      else
        document.getElementById("phone_send").setAttribute("disabled", "true");
      }
      function code_check() {
       if (document.getElementById('code').value.length === 4)
         document.getElementById("code_send").removeAttribute('disabled');
       else
         document.getElementById("code_send").setAttribute("disabled", "true");
       }

       document.getElementById("phone_send").addEventListener("click", (e) => {
        phone = form.querySelector('#id_first_number').value + form.querySelector('#phone').value;
       var request = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
       request.open( 'GET', "/users/progs/phone_send/" + phone + "/", true );
       request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
       request.onreadystatechange = function () {
         if ( request.readyState == 4 && request.status == 200) {
           var div = document.getElementById('jsondata');
           div.innerHTML = request.responseText;
           document.getElementById("phone").setAttribute("disabled", "true");
           document.getElementById("phone_send").setAttribute("disabled", "true");
         }
       };
       request.send( null );
     });

     on('#ajax', 'click', '#code_send', function() {
         var phone = document.getElementById('phone').value;
         var code = document.getElementById('code').value;
         var request = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
         request.open('GET', "/users/progs/phone_verify/" + phone + "/" + code + "/", true);
         request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
         request.onreadystatechange = function() {
             if (request.readyState == 4 && request.status == 200) {
                 var div = document.getElementById('jsondata2');
                 div.innerHTML = request.responseText;
                 console.log(request.responseText);
                 if (request.responseText.indexOf("ok") != -1) {
                     window.location.href = "{% url 'user' pk=request.user.pk %}";
                 }
             }
         };
         request.send(null)
     });

     var gender = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
     gender.open('GET', "/users/progs/get_gender/", true);
     gender.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
     gender.onreadystatechange = function() {
         if (gender.readyState == 4 && gender.status == 200) {
             console.log("Пол сохранен!");
         }
     };
     gender.send(null)
     </script>

{% endblock %}
