<div class="card mb-3" data-pk="{{ album.creator.pk }}" data-uuid="{{ album.uuid }}">
                        <div class="card-header">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="content-color-primary mb-0">
                                      <a class="u_load_good_album pointer">
                                        {{ album.title }}
                                      </a>
                                    </h4>
                                </div>
                                <button class="primary-gradient mr-2">
                                  <svg fill="currentColor" class="svg_default" style="width: 17px;" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"></path></svg>
                                </button>
                                <button class="primary-gradient mr-2">
                                  <svg fill="currentColor" class="svg_default" style="width: 17px;" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
                                  <path d="M0 0h24v24H0z" fill="none"/></svg>
                                </button>
                            </div>
                        </div>
                        <div class="card-body pb-0">
                            <div class="align-items-center no-gutters">
                                <a href="{{ album.creator.get_link }}" class="ajax">
                                    <figure class="avatar-120 mx-auto mb-3">
                                      {% if album.creator.s_avatar %}
                                        <img src="{{ album.creator.s_avatar.url }}" alt="img">
                                        {% else %}
                                          <svg fill="currentColor" class="svg_default" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                        {% endif %}
                                    </figure>
                                </a>
                            </div>

                            <h5 class="card-title mb-2 header-color-primary text-center">
                              <a href="{{ user.get_link }}" class="ajax outline">
                                {{ album.creator.get_full_name }}
                              </a>
                            </h5>
                            <h6 class="card-subtitle header-color-secondary text-center">
                              {{ album.creator.count_goods_ru }}
                            </h6>
                        </div>
                    </div>
