{% extends "base_mobile.html" %}
{% block title %}Аудиозаписи сообщества {{ community.name }} - {{ list.name }}{% endblock %}
{% load get_key %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/communities/{{ community.pk }}/music_list/{{ list.uuid }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Аудиозаписи сообщества {{ community.name }} - {{ list.name }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ community.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="container main-container pk_saver mt-3" data-pk="{{ community.pk }}" data-type="community_music_list">
          <div class="card mb-2">
              <div class="card-body" style="padding: 10px;padding-bottom: 0;">
                <div style="display:flex">
                  {% if community.s_avatar %}
                    <img src="{{ community.s_avatar.url }}" style="width: 40px; height: 40px; border-radius:50px" alt="image">
                  {% else %}
                    <svg fill="currentColor" class="svg_default svg_default_40" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 6H3v2h12V6zm0 4H3v2h12v-2zM3 16h8v-2H3v2zM17 6v8.18c-.31-.11-.65-.18-1-.18-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3V8h3V6h-5z"/></svg>
                  {% endif %}
                  <div class="media-body" style="margin-left: 10px;margin-top: -5px;">
                    <h6 class="my-0 mt-1"><span class="playlist_name">{{ list.name }}</span>&nbsp; ({{ list.count_items }})</h6>
                    <p class="">{{ community.name }} - {{ list.name }}</p>
                  </div>
                </div>
              </div>
            </div>
            <span class="load_block">

            <div class="media mt-3 uuid_saver" data-uuid="{{ list.uuid }}" style="padding-left: 7px">
              <h5 class="mt-1">
                {{ list.name }} ({{ list.count_items }})

                {% if list|is_user_can_add_list:request.user.pk %}
                  <span class="pointer badge badge-light-success u_copy_playlist">Добавить список в коллекцию</span>
                {% elif request.user.pk in list.get_users_ids %}
                  <span class="pointer badge badge-light-danger u_uncopy_playlist">Удалить список из коллекции</span>
                {% endif %}
                <span class="pointer badge badge-light-warning u_playlist_claim">Пожаловаться</span>
              </h5>
            </div>
          <div class="card mb-2">
              <div class="card-body">
                {% if object_list %}
                    <ul data-pk="{{ list.pk }}" class="is_paginate">
                      {% for object in object_list %}
                        {% include 'mobile/communities/music/track.html' %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <div class="load centered m-1 next_page_list" data-link="{% url 'community_music_list' pk=community.pk uuid=list.uuid %}?page={{ page_obj.next_page_number }}">
                          <img src="/static/images/preloader.gif">
                      </div>
                      {% endif %}
                    </ul>

                {% else %}
                <div class="card centered">
                  <div class="card-body" style="margin-top: 10%;">
                  <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'><path fill='none' d='M0 0h24v24H0z'/><path d='M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z'/></svg>
                  </div>
                  <h6 style="margin: 20px;text-align: center;">В основном плейлисте пока нет музыки.</h6>
                </div>
                {% endif %}
              </div>
          </div>
      </span>
    </div>

<script>
  {% if user|is_user_list:list.pk %}
    document.querySelector("body").classList.add('list_' + {{ list.pk }});
  {% endif %}
</script>
{% endblock %}
