{% extends "base.html" %}
{% load humanize visitors thumbnail %}

{% block title %}{{ request.user.get_full_name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="dvizhenie.tv" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="{% if user.profile.avatar %}http://xn--b1afgj5al1e.xn--p1acf/{{ user.profile.avatar }}{% else %}/static/images/user.png{% endif %}"/>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-12 col-md-8">
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск гостей" aria-label="Recipient's username">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="media">
                    <div class="media-body"><h5 class="mt-1">Мои гости</h5></div>
                </div>
            </div>
            <div class="card-body px-0 py-0">
            
            </div>
          </div>{{ request.user.get_visited_for_user }}
          <div class="card" style="text-align: center;padding-bottom: 20px;">
              <div class="card-header">
                  <div class="media">
                      <div class="media-body"><h5 class="mt-1">Общая статистика</h5></div>
                  </div>
              </div>
              <div class="card-body px-0 py-0">
                Уникальных посетителей  {{ request.user.get_unical_visited_for_user }}<br>
                Всего посещений  {{ request.user.get_all_visited_for_user }}<br>
              </div>
            </div>
    </div>

    <div class="col-12 col-md-4">
        <br>

    </div>
</div>

<script>
</script>

{% endblock %}
