{% extends "base.html" %}
{% load humanize visitors thumbnail %}

{% block title %}{{ request.user.get_full_name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="dvizhenie.tv" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="{% if user.profile.avatar %}http://xn--b1afgj5al1e.xn--p1acf/{{ user.profile.avatar }}{% else %}/static/images/user.png{% endif %}"/>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-12 col-md-8">
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск гостей" aria-label="Recipient's username">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
        <div class="row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-header">
                <div class="media">
                    <div class="media-body"><h5 class="mt-1">Мои гости</h5></div>
                </div>
            </div>
            <div class="card-body px-0 py-0">
              <ul class="list-group" id="follows_container">
                    {% for object in request.user.get_visiter_users %}
                    <li class="list-group-item">
                        <div class="media">
                          <a href="{% url 'user' pk=object.pk %}" class="ajax">
                            <figure>
                              {% if object.get_avatar %}
                                <img src="{{ object.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius:50px;width:50px;" alt="image">
                              {% else %}
                                <svg fill="currentColor" class="svg_default svg_default_50" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                              {% endif %}
                            </figure>
                          </a>
                          <div class="media-body">
                            <a href="{% url 'user' pk=object.pk %}" class="ajax">
                                <h6 class="my-0 mt-1">{{ object.get_full_name }} ({{ request.user|count_views_user:object.pk }})</h6>
                            </a>
                            <a href="" class="small"> {{ object.get_last_location }} </a>
                          </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
          </div>
          </div>
          <div class="col-12 col-md-6">
          <div class="card">
              <div class="card-header">
                  <div class="media">
                      <div class="media-body"><h5 class="mt-1">я смотрел</h5></div>
                  </div>
              </div>

              <div class="card-body px-0 py-0">
                <ul class="list-group" id="follows_container">
                      {% for object in request.user.get_target_users %}
                      <li class="list-group-item">
                          <div class="media">
                            <a href="{% url 'user' pk=object.pk %}" class="ajax">
                              <figure>
                                {% if object.get_avatar %}
                                  <img src="{{ object.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius:50px;width:50px;" alt="image">
                                {% else %}
                                  <svg fill="currentColor" class="svg_default svg_default_50" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                {% endif %}
                              </figure>
                            </a>
                            <div class="media-body">
                                <a href="{% url 'user' pk=object.pk %}" class="ajax">
                                    <h6 class="my-0 mt-1">{{ object.get_full_name }} ({{ request.user|count_views_user:object.pk }})</h6>
                                </a>
                                <a href="" class="small"> {{ object.get_last_location }} </a>
                            </div>
                          </div>
                      </li>
                      {% endfor %}
                  </ul>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <div class="card mb-2">
          <div class="card-header">
              <div class="media">
                  <div class="media-body">
                      <h5 class="mt-1">Уникальных посетителей {{ request.user.all_user_unical_visits_count }} </h5>
                  </div>
              </div>
              <div class="media">
                  <div class="media-body">
                      <h5 class="mt-1">Всего посещений {{ request.user.all_user_visits_count }} </h5>
                  </div>
              </div>
          </div>
          <div class="card-header">
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-1">Мои уникальные просмотры {{ request.user.all_unical_target_count_user }} </h5>
                </div>
            </div>
            <div class="media">
              <div class="media-body">
                <h5 class="mt-1">Всего я посмотрел {{ request.user.all_target_user_count }} </h5>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<script>
</script>

{% endblock %}
