<div class="product-gallery">
      <div class="product-gallery-thumbnails">
        <ol class="thumb_list list-unstyled" style="margin-bottom:-1.2rem;display:flex;">
          {% if object.image %}
          <li><img src="{{ object.image.url }}" class="big_img image_fit_50" alt="img"></li>
          {% else %}
          <img src="/static/images/no_album_photo.png" class="big_img image_fit_50" alt="">
          {% endif %}
          {% for image in object.get_images %}
            <li><img src="{{ image.image.url }}" class="image_fit_50" alt="img"></li>
          {% endfor %}
        </ol>
      </div>

      <div id="big_img" style="padding: 0;">
        {% if object.image %}
        <img src="{{ object.image.url }}" class="big_img" alt="">
        {% else %}
        <img src="/static/images/no_album_photo.png" class="big_img" alt="">
        {% endif %}
      </div>
</div>
