{% extends "base_mobile.html" %}
{% block title %}Вопросы и ответы{% endblock %}
{% block content %}

<div class="container mt-3">
        <div class="card mb-2">
          <div class="card-header p-0">
              <div class="dropdown">
                  <button type="button" class="btn btn-secondary dropdown-toggle menu_drop" style="width:100%;">
                      Вопросы и ответы
                  </button>
                  <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 38px, 0px); width: 100%;">
                      {% for object in quest_categories %}
                        <a class="dropdown-item ajax" href="{% url 'quan_categories' cat_name=object.name_en %}">{{ object.name_ru }}</a>
                      {% endfor %}
                  </div>
              </div>
          </div>

          <div class="card-body px-0 py-0">
              <ul class="list-group list_block_paginate" id="quan_container">
                  {% for object in object_list %}
                  <div class="card pag {% if forloop.last %}last{% endif %}">
                      <a class="menu_drop" style="margin: 20px;cursor:pointer;margin-top: 0;">
                          {{ object.quest}}
                      </a>
                      <div class="collapse ckeditor_support">
                           <div class="card-body">{{ object.content|safe }}</div>
                      </div>
                   </div>
                  {% empty %}
                  <div class="card">
                    <div class="card-body">
                      Пока нет вопросов у матросов...
                    </div>
                  </div>
                  {% endfor %}
              </ul>
          </div>
        </div>
    </div>

{% endblock %}
