{% extends "base.html" %}
{% block title %}{{ community.name }} - {{ list.name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/communities/{{ community.pk }}/video_list/{{ list.uuid }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Видеозаписи сообщества {{ community.name }} - {{ list.name }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ community.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="main-container mt-3" data-pk="{{ list.pk }}" data-type="community_video_list">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск видео">
            <div class="input-group-append">
              <button class="btn border" type="button">Искать</button>
            </div>
          </div>
          <div class="card mb-2">
              <div class="card-body" style="padding: 10px;padding-bottom: 0;">
                <div style="display:flex">
                  <svg fill="currentColor" class="svg_default" style="width:50px;height:50px" viewBox="0 0 24 24"><path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                  <div class="media-body" style="margin-left: 10px;">
                    <h6 class="my-0 mt-1">{{ list.name }} ({{ list.count_items }})</h6>
                    <p class="">{{ community.name }} - {{ list.name }}</p>
                  </div>
                </div>
              </div>
            </div>
            <span class="load_block pk_saver" data-pk="{{ community.pk }}">
              <div class="media mt-3 uuid_saver" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
                <h5 class="mt-1">
                  <span class="second_list_name" data-name="{{ list.name }}">{{ list.name }}</span> ({{ list.count_items }})
                  <span class="pointer badge badge-light-success c_video_add">Добавить видеоролик</span>
                  {% if request.user.pk == list.creator.pk and not list.is_main %}
                    <span class="pointer badge badge-light-secondary c_video_list_edit">Изменить список</span>
                    <span class="pointer badge badge-light-danger c_video_list_remove">Удалить список</span>
                  {% endif %}
                </h5>
              </div>
          <div class="card mb-2">
              <div class="card-body">
                <div class="video_playlist" id="movies_container">
                  <div class="row is_paginate drag_container" owner-pk="{{ user.pk }}" data-list="/communities/{{ community.pk }}/video">
                    {% if object_list %}
                      {% for object in object_list %}
                        {% include 'desctop/communities/video/main_list/video.html' %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <div class="load centered m-1 next_page_list" data-link="{% url 'community_video_list' pk=community.pk uuid=list.uuid %}?page={{ page_obj.next_page_number }}">
                          <img src="/static/images/preloader.gif">
                      </div>
                      {% endif %}

                    {% else %}
                      {% include 'desctop/communities/video/main_list/no_videos.html' %}
                    {% endif %}

                  </div>
                </div>
              </div>
          </div>
      </span>
</div>


{% endblock %}
