<div class="col-md-10 col-lg-10 col-xl-8 mx-auto">
    <form>
      {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header border-bottom">
                <h5 class="content-color-primary mb-0">Написать {{ member.get_full_name_datv }}</h5>
                <div id="chat_members"></div>
                <span class="user_add_members pointer mt-3">Добавить участников</span>
                <div class="mt-3"></div>
            </div>

            <div class="card-body">
              {% include 'generic/repost/form.html' %}
            </div>
            <div class="card-footer">
                <button class="btn btn-secondary item_fullscreen_hide" style="position: relative; top: -10px; left: -10px;">Отмена</button>
                <button type="button" class="btn btn-success float-right" id="send_page_message_btn" data-pk="{{ member.pk }}">Поделиться</button>
            </div>
        </div>
    </form>
</div>
