<div class="media mt-3">
    <figure>
      {% if object.creator.user.get_avatar %}
        <img src="{{ object.creator.user.get_avatar }}" style="border-radius:40px;width:40px;" alt="image">
      {% else %}
        <svg fill="currentColor" class="svg_default svg_default_40" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      {% endif %}
    </figure>
    <div class="media-body">
      <h5 class="time-title mb-0">{{ object.creator.user.first_name }}
        <small class="float-right text-muted">{{ object.get_created }}</small>
      </h5>
      {% if object.post %}
        {% include 'message_repost/repost.html' %}
      {% endif %}
        {{ object.text|linebreaks }}
      {% endif %}
    </div>
</div>
