{% extends "base_anon_mobile.html" %}
{% block title %}Рады Вас видеть | трезвый.рус{% endblock %}
{% block content %}

<div class="wrapper h-100  h-sm-auto justify-content-center pink-gradient">
<div class="container h-100  h-sm-auto align-items-center ">
            <div class="align-items-center h-100  h-sm-auto">
                <div class="text-center">
                    <h2 class="font-weight-light mb-3 text-white mt-3"><span class="font-weight-normal">трезвый</span>.рус</h2>
                    <h5 class="font-weight-light mb-5 text-white text-center">
                      Нравственная сеть
                      <br>
                      для счастливых людей.
                    </h5>
                    <div class="card mb-2">
                        <div class="card-body p-0">
                          <form id="login_form" class="">
                                  <div class="card mb-2">
                                      <div class="card-body p-0">
                                          <input type="text" name="username" id="id_username" class="form-control text-center form-control-lg border-0" placeholder="Телефон">
                                          <hr class="my-0">
                                          <input type="password" name="password" id="id_password" class="form-control text-center form-control-lg border-0" placeholder="Пароль">
                                      </div>
                                  </div>
                          </form>
                        </div>
                    </div>
                    <div class="text-center">
                        <button id="logg" class=" btn btn-success success-gradient">Вход</button>
                        <a href="{% url 'signup' %}" class="btn btn-outline-light ajax">Регистрация</a>
                    </div>
                    <br>
                    <div class="text-center mb-4">
                        <a href="" class="text-white">Забыли пароль?</a>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
