{% extends "base_anon_mobile.html" %}
{% block title %}Регистрация | трезвый.рус{% endblock %}
{% block content %}
<div class="main-container wrapper justify-content-center" style="height: 85vh !important;padding-top:0">
    <div class="container">
        <div class="">
            <div class="">
                <h2 class="font-weight-light mb-3 text-center">Регистрация</h2>
                <form id="signup text-center">
                    <div class="card mb-3">
                        <div class="card-body p-0">
                            <div class="card">
                                <div class="card-body p-0">
                                    <input type="text" name="first_name" id="id_first_name" class="form-control text-center form-control-lg border-0" placeholder="Имя">
                                    <hr class="my-0">
                                    <input type="text" name="last_name" id="id_last_name" class="form-control text-center form-control-lg border-0" placeholder="Фамилия">
                                    <hr class="my-0">
                                    <input type="password" name="password1" id="password1" autocomplete="new-password" class="form-control text-center form-control-lg border-0" placeholder="Пароль">
                                    <hr class="my-0">
                                    <input type="password" name="password2" id="password2" autocomplete="new-password" class="form-control text-center form-control-lg border-0" placeholder="Повторите пароль">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include 'mobile/main/auth/birtday.html' %}
                </form>
                <div class="col mt-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="register_" checked onchange="document.getElementById('register_ajax').disabled = !this.checked;" class="custom-control-input">
                        <label class="custom-control-label" for="register_">
                            Я принимаю <a href="{% url 'terms' %}" class="ajax underline">Правила сайта</a>.
                        </label>
                    </div>
                </div>
                <div class="text-center">
                    <button desabled id="register_ajax" class="btn btn-success success-gradient">Регистрация</button>
                    <a href="/" class="btn border ajax">Вход</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
