{% extends "base.html" %}
{% block title %}Документы {{ community.name }} - {{ list.name }}{% endblock %}
{% block content %}

<div class="container main-container pk_saver" data-pk="{{ community.pk }}" data-uuid="{{ list.uuid }}">
    <div class="row">
        <div class="col-md-8 mt-3">
          {% if not list.is_deleted %}
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск документов">
            <div class="input-group-append">
              <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
          </div>
          <div class="card mb-2">
              <div class="card-body" style="padding: 10px;padding-bottom: 0;">
                <div style="display:flex">
                  {% if community.get_avatar %}
                    <img src="{{ community.get_avatar }}" style="width: 50px;height: 50px;border-radius:50px" alt="image">
                  {% else %}
                    <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 6H3v2h12V6zm0 4H3v2h12v-2zM3 16h8v-2H3v2zM17 6v8.18c-.31-.11-.65-.18-1-.18-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3V8h3V6h-5z"/></svg>
                  {% endif %}
                  <div class="media-body" style="margin-left: 10px;">
                    <h6 class="my-0 mt-1">{{ list.name }} ({{ list.count_docs }})</h6>
                    <p class="">
                      <a href="{% url 'community_docs' pk=community.pk %}" class="ajax" style="text-decoration:underline;">
                        {{ community.name }} - Документы
                      </a>
                    </p>
                  </div>
                  {% if list.is_not_empty %}
                    <span title="Поделиться" class="c_ucm_doc_list_repost btn_default pointer" style="margin-top: 14px;width:25px">
                      <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"/></svg>
                    </span>
                  {% endif %}
                </div>
              </div>
            </div>
          <div class="card mb-2">
              <div class="card-body">
                    <ul id="community_list_docs_container" data-pk="{{ list.pk }}" class="community_block_paginate" >
                      {% if object_list %}
                      {% for doc in object_list %}
                      <li class="list-group-item pag {% if forloop.last %}last{% endif %}" style="padding-bottom:10px">
                          <div class="media" style="align-items: unset;position: relative;">
                              <div class="media-body doc_media_body">
                                  <h6 class="pointer" style="width: 84%;overflow: hidden;"><a href="{{ doc.file.url }}" target="_blank" rel="nofollow">{{ doc.title }}</a></h6>
                                  <span class="small">{{ doc.file.size|filesizeformat }} | {{ doc.get_mime_type }}</span>
                              </div>
                          </div>
                      </li>
                      {% endfor %}
                      {% else %}
                      <div class="card centered">
                        <div class="card-body" style="margin-top: 10%;">
                        <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'><path d="M0 0h24v24H0z" fill="none"/><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/></svg>
                        </div>
                        <h6 style="margin: 20px;text-align: center;">В списке пока нет документов.</h6>
                      </div>
                      {% endif %}
                    </ul>
              </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          {% include 'c_docs/sidebar.html' %}
        </div>
    </div>
</div>
{% endblock %}
