{% extends "base.html" %}
{% block title %}{{ community.name }} :: Фотографии{% endblock %}
{% block content %}

<div class="container-fluid mt-3 pk_saver" data-pk="{{ community.pk }}">
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="mt-1">
              <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=community.pk %}">
                {{ community.name }}
              </a> - альбомы</h5> {% if not community.is_album_exists %}- альбомов нет{% endif %}
        </div>
    </div>
</div>

<div class="container mt-4">
  {% include 'gallery_community/albums.html' %}
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="mt-1">
              <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=community.pk %}">
                {{ community.name }}
              </a> - фотографии
            </h5>
            {{ community.count_photos }}
        </div>
        {% if community.is_photo_upload_nomember %}
        <div class="col-12 col-md-4">
          <form id="c_add_photos" method="post">
              {% csrf_token %}
                <input type="file" id="c_gallery_photo_add" name="file" style="display:none" multiple="multiple">
                <button id="c_add_multi_photos" class="btn btn-outline-success" style="margin-bottom:15px;width:100%" type="button">
                  Добавить фотографии
                </button>
          </form>
        </div>
        {% endif %}
    </div>
</div>

<div class="container mt-4 main-container">
      <div id="c_photo_load" data-link="/gallery/community/photos/{{ community.pk }}"></div>
  </div>

{% endblock %}
