<style>
.color_dark_back{
	background:black
}
.color_dark{
	color:dark
}
</style>

<div id="video_player"></div>

<ul id="video_playlists" style="display:none;">
		<li data-source="my_playlist" data-playlist-name="Основной плейлист" data-thumbnail-path="/static/images/demo_video/p-html.jpg">
			<p class="fwduvp-categories-title"><span class="fwduvp-header">Название: </span><span class="fwduvp-title">Основной плейлист</span></p>
			<p class="fwduvp-categories-type"><span class="fwduvp-header">Тип: </span>Видеокаталог</p>
			<p class="fwduvp-categories-description"><span class="fwduvp-header">Описание: </span>Это Ваш основной плейлист, куда попадают выбранные и закачанные видеороликипо умолчанию</p>
		</li>
		<li data-source="http://трезвый.рус/static/scripts/xml.xml" data-playlist-name="MY XML PLAYLIST 1" data-thumbnail-path="/static/images/demo_video/p-html.jpg">
			<p class="fwduvp-categories-title"><span class="fwduvp-header">Title: </span><span class="fwduvp-title">My XML playlist 1</span></p>
			<p class="fwduvp-categories-type"><span class="fwduvp-header">Type: </span>XML</p>
			<p class="fwduvp-categories-description"><span class="fwduvp-header">Description: </span>Created using a XML file, videos are played self or external hosted. or Youtube.</p>
		</li>
</ul>


<ul id="my_playlist" style="display:none;" class="">
{% for object in object_list %}
	<li data-thumb-source="{{ object.image.url }}"
			data-video-source="{{ object.uri }}"
			data-poster-source="{{ object.image.url }}"
			data-video-uuid="{{ object.uuid }}">
	<div data-video-short-description="">
			<div style="width:100%">
				<p class="fwduvp-thumbnail-title">{{ object.title }}</p>
				<p class="fwduvp-thumbnail-description">{% if object.description %}{{ object.description }}{% else %}Без описания{% endif %}</p>
			</div>
		</div>
		{% if forloop.first %}
		<ul data-ads="">
			<li data-source="https://www.youtube.com/watch?v=RuTCBLqNQvA"
					data-time-start="00:00:15"
					data-time-to-hold-ads=4
					data-thumbnail-source="https://img.youtube.com/vi/RuTCBLqNQvA/0.jpg"
					data-link="https://kinocensor.ru/"
					data-target="_blank">
			</li>
		</ul>
		{% endif %}
	</li>
{% endfor %}
</ul>
