{% load staticfiles humanize liked_user %}

{% if object %}
<div class="mb-4 infinite-item" style="position: relative;" item-id="{{ object.uuid }}">
  <span class="text-hide-xs">
    {% if object.get_previous_by_created %}
      <span class="prev_item">
        <img style="width: 50px;" src="{% static 'images/icons/right-24px.svg' %}" />
      </span>
    {% endif %}
    {% if object.get_next_by_created %}
      <span class="next_item">
        <img style="width: 50px;" src="{% static 'images/icons/left-24px.svg' %}" />
      </span>
    {% endif %}
  </span>
  <span class="good_fullscreen_hide">
    <img style="width:35px" src="{% static 'images/icons/close-24px.svg' %}" />
  </span>

  <div class="card mb-4">
              <div class="card-body py-0">
                  <div class="row">
                      <div class="col-12 col-md-4">
                          <div class="carosel swiper-location-carousel my-4">
                              <div data-pagination="{&quot;el&quot;: &quot;.swiper-pagination&quot;}" data-space-between="0" data-slides-per-view="1" class="swiper-container swiper-init swiper-product swiper-container-horizontal">
                                  <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span></div>
                                  <div class="swiper-wrapper" style="transform: translate3d(-560px, 0px, 0px); transition-duration: 0ms;">
                                      <div class="swiper-slide text-center" style="width: 280px;">
                                          <img src="img/tshirt.png" alt="" class="mw-100">
                                      </div>
                                      <div class="swiper-slide text-center swiper-slide-prev" style="width: 280px;">
                                          <img src="img/tshirt.png" alt="" class="mw-100">
                                      </div>
                                      <div class="swiper-slide text-center swiper-slide-active" style="width: 280px;">
                                          <img src="img/tshirt.png" alt="" class="mw-100">
                                      </div>
                                  </div>
                              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                          </div>
                          <div class="row bg-light-secondary text-center">
                              <div class="col py-3">
                                  <h5 class="content-color-primary mb-0">152</h5>
                                  <p class="content-color-secondary small mb-0">In Stoke</p>
                              </div>
                              <div class="col py-3">
                                  <h5 class="content-color-primary mb-0">162</h5>
                                  <p class="content-color-secondary small mb-0">Orders</p>
                              </div>
                              <div class="col py-3">
                                  <h5 class="content-color-primary mb-0">50</h5>
                                  <p class="content-color-secondary small mb-0">Sales</p>
                              </div>
                          </div>
                          <div class="row mt-3">
                              <div class="col">
                                  <a href="cart.html" class="btn btn-block btn-primary pink-gradient mb-3"><i class="material-icons">shopping_cart</i> Cart</a>
                              </div>
                              <div class="col">
                                  <button class="btn btn-block btn-outline-danger mb-3"><i class="material-icons">favorite</i> Wishlist</button>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 col-md-8 border-left pr-0">
                          <div class="card no-shadow h-100">
                              <div class="card-header">
                                  <div class="media">
                                      <div class="media-body">
                                          <h5 class="content-color-primary my-2">T-Shirt </h5>
                                          <h3 class="mb-2 header-color-primary">Jackwar T-Shirt</h3>
                                          <h6 class="card-subtitle header-color-secondary">Men, Top Wear</h6>
                                          <div class="content-color-secondary my-3">
                                              <span class="bg-success p-1 rounded text-white"><i class="material-icons icon-sm">star</i> 3.5</span> 10542 Ratings &amp; 1500 Reviews
                                          </div>
                                      </div>
                                      <button class="btn btn-sm btn-outline-primary">Edit</button>
                                  </div>
                              </div>
                              <div class="card-body py-0">
                                  <p class=""><i class="material-icons mr-2 text-success">event</i>No Cost EMI with SBI Bank Credit Cards <a href="">T&amp;C</a><br>
                                      <i class="material-icons mr-2 text-success">event</i>No Cost EMI on Bajajifina EMI Card on cart value above ₹455 <a href="">T&amp;C</a><br>
                                      <i class="material-icons mr-2 text-success">local_offer</i>Bank Offer 10% Instant Discount on Mastercardd for First Online Payment <a href="">T&amp;C</a><br>
                                      <i class="material-icons mr-2 text-success">local_offer</i>Bank OfferExtra 5% off* with Alisha Bank Credit Card <a href="">T&amp;C</a>
                                  </p>
                                  <p class="content-color-secondary">This is awesome product and, I am very happy with delivery &amp; product packaging. This is awesome product and, I am very happy with delivery &amp; product packaging</p>
                                  <div>
                                      <button type="button" class="btn btn-sm btn-outline-primary mr-1">S</button>
                                      <button type="button" class="btn btn-sm btn-outline-primary mr-1 active">M</button>
                                      <button type="button" class="btn btn-sm btn-outline-primary mr-1">L</button>
                                      <button type="button" class="btn btn-sm btn-outline-primary mr-1">XL</button>
                                      <div class="d-inline-block vm ml-2">
                                          <div class="input-group input-group-sm my-3 count-quantity ">
                                              <div class="input-group-prepend">
                                                  <button class="input-group-text px-1 rounded-0">
                                                      <i class="material-icons">remove</i>
                                                  </button>
                                              </div>
                                              <input type="text" class="form-control text-center border-right-0" placeholder="" value="1">
                                              <div class="input-group-prepend">
                                                  <button class="input-group-text px-1">
                                                      <i class="material-icons">add</i>
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <h1 class="text-success">$ 1900 <small class="text-danger font-weight-light "><s>$2900</s></small></h1>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

</div>

{% endif %}

<div class="">
  {% if object.get_previous_by_created %}
    <script>
    	$('.prev_item').on('click', function () {
    		 $('#good_loader').html('').load("{% url 'good_detail' pk=object.get_previous_by_created.pk %}");
    	});
    </script>

   {% endif %}
   {% if object.get_next_by_created %}
    <script>
      $('.next_item').on('click', function () {
    		 $('#good_loader').html('').load("{% url 'good_detail' pk=object.get_next_by_created.pk %}");
    	});
    </script>
    {% endif %}
</div>
<script>
  $('.good_fullscreen_hide').on('click', function () {
  	 $('.good_fullscreen').hide();
  	 $('#good_loader').empty();
  });
</script>
