{% extends "base.html" %}
{% load staticfiles liked_user %}
{% block title %}
{% if user == request.user %}
Мои товары
{% else %}
Товары пользователя "{{ user.get_full_name }}"
{% endif %}
{% endblock %}
{% block content %}

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск по товарам" aria-label="Recipient's username">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <button id="good_add" class="btn btn-outline-success" style="margin-bottom:15px;width:100%;" type="button">
            Создать товар
        </button>
      </div>
    </div>
</div>

<div class="container mt-4 main-container">
    <div id="goods_load"></div>
</div>

<div class="card mb-4 good_add_fullscreen" style="display:none">
    <span class="good_fullscreen_hide">
        <img style="width:35px" src="{% static 'images/icons/close-24px.svg' %}" />
    </span>
    <div id="good_add_loader" style="margin-top:30px">

    </div>
</div>

<div class="card mb-4 good_fullscreen" style="display:none">
    <div id="good_loader" style=""></div>
</div>

<script>
    $("#good_add").click(function() {
        $('#good_add_loader').html('').load("{% url 'good_add_user' pk=user.pk %}");
        $('.good_add_fullscreen').show();
    })
</script>
<script>
$('.infinite-container').on('click', '.good_fullscreen_hide', function() {
    $('.good_add_fullscreen').hide();
    $('#good_add_loader').empty();
});
</script>
<script>
    $(document).ready(function() {
        $('#goods_load').html('').load("/goods/list/" + {{ user.pk }});
    });
</script>

{% endblock %}
