{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
{% if user == request.user %}
Мои товары
{% else %}
Товары пользователя "{{ user.get_full_name }}"
{% endif %}
{% endblock %}
{% block content %}

<div class="container-fluid bg-light-opac">
            <div class="row">
                <div class="container my-3 main-container">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="content-color-primary page-title">Products</h2>
                            <p class="content-color-secondary page-sub-title">Creative, amazing, awesome and unique</p>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-rounded pink-gradient text-uppercase"><i class="material-icons">add</i> <span class="text-hide-xs">Create</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="container mt-4 main-container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="card mb-4 fullscreen">
                        <div class="card-header">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="content-color-primary mb-0">T-Shirt </h4>
                                </div>
                                <button class="btn btn-sm primary-gradient">Edit</button>
                            </div>
                        </div>
                        <div class="card-body pb-0">
                            <div class="row align-items-center no-gutters">
                                <div class="col">
                                    <div class="carosel swiper-location-carousel my-4">
                                        <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="0" data-slides-per-view="1" class="swiper-container swiper-init swiper-product">
                                            <div class="swiper-pagination"></div>
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide text-center">
                                                    <img src="{% static 'images/news_small4.jpg' %}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h5 class="card-title mb-1 header-color-primary text-center">Jackwar T-Shirt</h5>
                            <h6 class="card-subtitle mb-2 header-color-secondary text-center">Men, Top Wear</h6>
                            <br>
                            <div class="row bg-light-secondary text-center">
                                <div class="col py-3">
                                    <h5 class="content-color-primary mb-0">152</h5>
                                    <p class="content-color-secondary small mb-0">In Stoke</p>
                                </div>
                                <div class="col py-3">
                                    <h5 class="content-color-primary mb-0">162</h5>
                                    <p class="content-color-secondary small mb-0">Orders</p>
                                </div>
                                <div class="col py-3">
                                    <h5 class="content-color-primary mb-0">50</h5>
                                    <p class="content-color-secondary small mb-0">Sales</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

{% endblock %}
