{% extends "base.html" %}
{% block title %}{{ list.name }} - альбом {{ user.get_full_name_genitive }}{% endblock %}
{% block content %}

<div class="container-fluid mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ list.uuid }}">
  <div class="row mb-3">
      <div class="col-12 col-md-8">
        <h5 class="mt-1">{{ list.name }} - <a class="ajax underline" href="{% url 'user_gallery' pk=user.pk %}">галерея </a>
          {% include 'desctop/generic/user/user_gen.html' %}
        </h5>
        Фото: {{ list.count_items }}
      </div>
      <div class="col-12 col-md-4">
        {% if list.is_user_list %}
        <form id="add_photos">
            {% csrf_token %}
              <input type="file" id="u_gallery_list_photo_add" name="file" style="display:none" multiple="multiple">
              <button id="u_add_multi_photos" class="btn btn-outline-success" type="button">
                Добавить фотографии
              </button>
        </form>
        {% endif %}
      </div>
    </div>

  <div class="row is_block_paginate no-gutters" data-link="/gallery/user/list_photos/{{ user.pk }}/{{ list.uuid }}/"></div>

</div>

{% endblock %}
