
  <span style="padding: 5px;">
    {% include 'desctop/generic/user/creator.html' %} 
    {% if object.creator.is_women %}поделилась{% else %}поделился{% endif %} фотографией
  </span>

  {% if object.parent.community %}

    {% include 'desctop/main/c_posts/card_header.html' %}

    {% if object.get_photo_repost.preview %}
    <div class="photo">
      <div class="progressive replace image_fit u_WA_photo pointer" data-href="{{ object.get_photo_repost.file.url }}" photo-pk="{{ object.get_photo_repost.pk }}" data-pk="{{ object.community.pk }}">
        <img class="preview image_fit" width="20" height="15" loading="lazy" src="{{ object.get_photo_repost.preview.url }}" alt="img">
      </div>
    </div>
    {% endif %}
  {% else %}

    {% include 'desctop/main/u_posts/card_header.html' %}
    {% if object.get_photo_repost.preview %}
    <div class="photo">
      <div class="progressive replace image_fit u_WA_photo pointer" data-href="{{ object.get_photo_repost.file.url }}" photo-pk="{{ object.get_photo_repost.pk }}" data-pk="{{ object.get_photo_repost.creator.pk }}">
        <img class="preview image_fit" width="20" height="15" loading="lazy" src="{{ object.get_photo_repost.preview.url }}" alt="img">
      </div>
    </div>
    {% endif %}
{% endif %}
