<!-- прикрепленные элементы к ответам на комментарии к записям сообществ -->

<div class="row" data-pk="{{ reply.pk }}">
  {% for photo in reply.comment_photo.all %}
    {% include 'generic/items/c_photo.html' %}
  {% endfor %}

  {% for video in reply.comment_video.all %}
    {% include 'generic/items/c_video.html' %}
  {% endfor %}

  {% for good in reply.comment_good.all %}
    {% include 'generic/items/u_comment_good.html' %}
  {% endfor %}

  {% for article in comment.attached_comment.all %}
    {% include 'generic/items/c_article.html' %}
  {% endfor %}

  {% for music in reply.comment_music.all %}
    {% include 'generic/items/c_music.html' %}
  {% endfor %}

  {% for doc in reply.get_attach_docs %}
    {% include 'generic/items/c_doc.html' %}
  {% endfor %}
</div>
