<!-- прикрепленные элементы к записям сообществ, которыми поделились -->

{% include 'desctop/main/c_posts/card_header.html' %}

{% if object.parent.text %}
  <div class="fullscreen text_support pointer">
    <p class="">{{ object.parent.text|safe }}</p>
  </div>
{% endif %}

<div class="attach_container" data-pk="{{ object.pk }}">
{% for photo in object.get_parent_attach_photos %}
  {% include 'desctop/generic/items/c_photo.html' %}
{% endfor %}

{% for video in object.get_parent_attach_videos %}
  {% include 'desctop/generic/items/c_video.html' %}
{% endfor %}

{% for good in object.get_parent_attach_goods %}
  {% include 'desctop/generic/items/c_good.html' %}
{% endfor %}

{% for article in object.get_parent_attach_articles %}
  {% include 'desctop/generic/items/c_article.html' %}
{% endfor %}

{% for music in object.get_attach_tracks %}
  {% include 'desctop/generic/items/c_music.html' %}
{% endfor %}

{% for object in object.get_attach_docs %}
  {% include 'desctop/generic/items/c_doc.html' %}
{% endfor %}
</div>
