{% extends "base_anon.html" %}
{% load humanize %}

{% block title %}{{ user.get_full_name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="dvizhenie.tv" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="{% if user.profile.avatar %}http://xn--b1afgj5al1e.xn--p1acf/{{ user.profile.avatar }}{% else %}/static/images/user.png{% endif %}"/>
{% endblock %}
{% block content %}

<div class="row user_page">
    <div class="col-lg-4 col-md-5 order-1">

      <div class="card mb-4" style="">
          <div class="card-body">
              <div class="row align-items-center no-gutters">
                  <a class="col">
                      <figure class="mx-auto mb-3" id="avatar_reload">
                        {% if user.get_avatar %}
                          <img src="{{ user.get_avatar.file.url }}" class="avatar_detail" style="cursor:pointer" data-uuid="{{ user.uuid }}" data-pk="{{ user.get_avatar.id }}">
                        {% else %}
                          <svg fill="currentColor" class="svg_default" style="width:100%;height: auto;" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                        {% endif %}
                      </figure>
                  </a>
              </div>
          </div>
      </div>

        {% include 'profile/online_frends.html' %}

        {% include 'profile/frends.html' %}

        {% include 'profile/communities.html' %}

        {% include 'profile/gallery.html' %}

        {% include 'profile/video.html' %}

    </div>
    <div class="col-lg-8 col-md-7 col-sm-12 order-2 ">
        <div class="card mb-4" style="padding:10px">
            <h3 class="mb-0">{{ user.get_full_name }}</h3>
            {% if user.get_online %}
              <i class="text-success">Онлайн</i>
            {% else %}
              <i style="color:#888888">Был(а) {{ user.last_activity|naturaltime }}</i>
            {% endif %}
            <br><br>
        </div>

          {% include 'profile/profile_stat.html' %}

          <div id="lenta_load" data-link="/users/detail/list/{{ user.pk }}"></div>

        </div>
    </div>

<script>

  var page = 2;
  var loaded = false;
  onscroll = function(){

    try{
    var items = document.getElementById("lenta_container");

    if(items.getElementsByClassName('infinite-item').length === (page-1)*30){
    var height = document.documentElement.clientHeight-1;
    if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
      if (loaded){return};
      var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_3.open( 'GET', '/users/detail/list/{{ user.pk }}/?page=' + page++, true );
      link_3.send();
      link_3.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        var elem = document.createElement('span');
        elem.innerHTML = link_3.responseText;
        items_list = elem.querySelector(".stream");
        if(items_list.getElementsByClassName('infinite-item').length === 30){loaded = true;};
        items.append(items_list);
        }
      }
    }}
  }catch{return}
  }
</script>
{% endblock %}
