{% extends "base.html" %}
{% load humanize %}

{% block title %}{{ user.get_full_name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="dvizhenie.tv" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="{% if user.profile.avatar %}http://xn--b1afgj5al1e.xn--p1acf/{{ user.profile.avatar }}{% else %}/static/images/user.png}{% endif %}"/>
{% endblock %}
{% block content %}

<div class="mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ user.uuid }}">
<div class="row user_page">
    <div class="col-lg-4 col-md-5 order-1" style="margin-right: -7px;">

      <div class="card mb-3">
          <div class="card-body">
              <div class="row align-items-center no-gutters">
                  <a class="col">
                      <figure class="mx-auto mb-3" id="avatar_reload">
                        {% if user.get_b_avatar %}
                          <img src="{{ user.get_b_avatar }}" class="avatar_detail" style="cursor:pointer" photo-uuid="{{ user.get_avatar_uuid }}">
                        {% else %}
                          <svg fill="currentColor" class="svg_default" style="width:100%;height: auto;" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                        {% endif %}
                      </figure>
                  </a>
              </div>

              <span style="margin-bottom: 10px;" class="centered">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-secondary menu_drop">
                        У Вас в друзьях
                    </button>
                    <div class="dropdown-menu btn-secondary" style="margin-top:-50px;width:100%">
                        <span class="dropdown-item connect_delete">Убрать из друзей</span>
                        <span class="dropdown-item user_block">Заблокировать</span>
                        <span class="dropdown-item user_claim">Пожаловаться</span>
                    </div>
                </div>
              </span>

              <span class="centered">
                <span class="btn btn-sm btn-warning warning-gradient ml-2">Написать сообщение</span>
              </span>

          </div>
      </div>

        {% include 'profile/common_frends.html' %}

        {% include 'profile/online_frends.html' %}

        {% include 'profile/frends.html' %}

        {% include 'profile/communities.html' %}

        {% include 'profile/music.html' %}

        {% include 'profile/gallery.html' %}

        {% include 'profile/video.html' %}

    </div>
    <div class="col-lg-8 col-md-7 col-sm-12 order-2" style="margin-left: -7px;">
        <div class="card mb-3" style="padding:10px">
            <h3 class="mb-0">{{ user.get_full_name }}</h3>
            {% if user.get_online %}
              <i class="text-success">Онлайн</i>
            {% else %}
              <i style="color:#888888">Был(а) {{ user.last_activity|naturaltime }}</i>
            {% endif %}
            <br><br>
        </div>

          {% include 'profile/profile_stat.html' %}

          <div id="lenta_load" data-link="/users/detail/list/{{ user.pk }}"></div>

        </div>
    </div>
</div>
{% if user.is_have_warning_banner %}
Повешен баннер!
{% endif %}

<script>
  onscroll = function(){
    var box = document.querySelectorAll('.infinite-item');
    for (var i = 0; i < box.length; i++) {
      if(!box[i].classList.contains("showed")){
        inViewport = elementInViewport(box[i]);
        if(inViewport){
          box[i].classList.add("showed");
          console.log(i + " получил класс showed");
          pk = box[i].getAttribute('item-pk');
          fetch('/users/progs/item_view/' + pk + "/")
    }}}};
  {% if user.is_user_playlist %}
    document.querySelector("body").classList.add('user_' + {{ user.pk }});
  {% endif %}
</script>
{% endblock %}
