{% extends "base.html" %}
{% load get_key %}

{% block title %}{{ user.get_full_name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="http://трезвый.рус/users/{{ user.pk }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="{% if user.profile.avatar %}http://xn--b1afgj5al1e.xn--p1acf/{{ user.get_avatar }}{% else %}/static/images/user.png{% endif %}"/>
{% endblock %}
{% block content %}

{{ user.get_friend_and_friend_of_friend_ids }} {{ user.get_possible_friends_ids }}
{{ user.get_full_name_genitive }}
<div class="mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ user.uuid }}">
<div class="row user_page">
    <div class="col-lg-4 col-md-5 order-1">
      <div class="card mb-3">
          <div class="card-body">
              <div class="row align-items-center no-gutters">
                  <a class="col">
                      <figure class="mx-auto mb-3 avatar_figure">
                        {% if user.get_b_avatar %}
                          <img data-src="{{ user.get_b_avatar }}" class="lazyload u_avatar_detail pointer">
                        {% else %}
                          <svg fill="currentColor" class="svg_default" style="width:100%;height: auto;" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                        {% endif %}
                      </figure>
                  </a>
              </div>
              <form id="add_user_avatar" method="post">
                {% csrf_token %}
                <input type="file" id="user_avatar_upload" name="file" style="display:none">
                <span id="user_avatar_btn" style="cursor:pointer">Загрузить аватар</span>
              </form>
              <span style="margin-bottom: 10px;" class="centered">
                  <a class="btn btn-sm btn-secondary ajax" style="color:white !important;" href="{% url 'user_general_form' request.user.pk %}">Редактировать</a>
              </span>

          </div>
      </div>

        {% include 'profile/online_frends.html' %}

        {% if user.get_pop_connection %}
        <div class="card mb-3">
            <div class="card-header">
              <a href="{% url 'frends' pk=user.pk %}" class="ajax">
                <div class="media">
                    <div class="media-body">
                        <h6 class="content-color-primary mb-0">Друзья </h6>
                    </div>
                    {{ user.count_connections }}
                </div>
              </a>
            </div>

            {% for object in user.get_pop_connection %}

            <div class="card border-top border-bottom">
                <div class="card-body" style="padding:7px;">
                    <div class="media">
                      <a href="{% url 'user' pk=object.pk %}" class="ajax">
                        <figure style="width:30px;">
                          {% if object.get_avatar %}
                            <img src="{{ object.get_avatar }}" style="border-radius:30px;" alt="image">
                          {% else %}
                            <svg fill="currentColor" class="svg_default svg_default_30" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                          {% endif %}
                        </figure>
                      </a>
                      <div class="media-body">
                          <a href="{% url 'user' pk=object.pk %}" class="ajax">
                              <h6 class="my-0 mt-1">{{ object.get_full_name }}</h6>
                          </a>
                      </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% else %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="media centered">
                    <a href="{% url 'all_users' %}" class="ajax">
                        <div class="media-body">
                            <h4 class="content-color-primary mb-0">Найдите друзей </h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if communities %}

        {% load liked_user %}
        <div class="card mb-3">
            <div class="card-header">
              <a href="{% url 'communities' pk=user.pk %}" class="ajax">
                <div class="media">
                    <div class="media-body">
                        <h6 class="content-color-primary mb-0">Группы </h6>
                    </div>
                    {{ user.count_community }}
                </div>
              </a>
            </div>

            {% for object in communities %}
            <div class="card border-top border-bottom">
                <div class="card-body">
                    <div class="media">
                      <a href="{% url 'community_detail' pk=object.pk %}" class="ajax">
                        <figure style="width:50px;">
                            {% if object.get_avatar %}
                            <img src="{{ object.get_avatar }}" style="border-radius:50px;width:50px;" alt="image">
                            {% else %}
                            <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
                            {% endif %}
                        </figure>
                      </a>
                      <div class="media-body">
                          <a href="{% url 'community_detail' pk=object.pk %}" class="ajax">
                              <h6 class="my-0 mt-1">{{ object.name }}
                              </h6>
                          </a>
                          <p class="small">{{ object.count_members }} {{ object.count_members|rupluralize:"подписчик,подписчика,подписчиков" }}</p>
                      </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="media centered">
                    <a href="{% url 'all_communities' %}" class="ajax">
                        <div class="media-body">
                            <h4 class="content-color-primary mb-0">Вступайте в группы</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if user.get_last_music %}
        <div class="card mb-3">
            <div class="card-header">
              <a href="{% url 'user_music' pk=user.pk %}" class="ajax">
                <div class="media">
                    <div class="media-body">
                        <h6 class="content-color-primary mb-0">Аудиозаписи</h6>
                    </div>
                    {{ user.get_music_count }}
                </div>
              </a>
            </div>

            {% for object in user.get_last_music %}
            <div data-pk="{{ user.get_music_list_id }}" class="card border-top border-bottom">
                <div class="card-body" style="padding:7px;">
                    <div class="media" music-counter="{{ forloop.counter0 }}">
                        <figure style="cursor:pointer">
                          <a class="music_list_item">
                            {% if object.artwork_url %}
                              <img style="width:40px" class="lazyload" data-src="{{ object.artwork_url }}" />
                            {% else %}
                              <svg fill="currentColor" style="width:40px;heigth:40px" class='svg_default' viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"/></svg>
                            {% endif %}
                          </a>
                        </figure>
                        <div class="media-body" style="line-height: 10px;">
                            <p class="track_item music_list_item" style="cursor:pointer;font-size: 17px;"><a>{{ object.title }}</a></p>
                            {% if object.genre %}
                            <a class="small ajax" href="{% url 'genre_music' pk=object.genre.pk %}">{{ object.genre }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="media centered">
                    <a href="{% url 'all_music' %}" class="ajax">
                        <div class="media-body">
                            <h4 class="content-color-primary mb-0">Добавьте музыку</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if user.get_profile_photos %}
        <div class="card mb-3">
            <div class="card-header">
              <a href="{% url 'user_gallery' pk=user.pk %}" class="ajax">
                <div class="media">
                    <div class="media-body">
                        <h6 class="content-color-primary mb-0">Фото </h6>
                    </div>
                    {{ user.count_photos }}
                </div>
              </a>
            </div>
            <div class="card-body p-1">
                <div class="row no-gutters">
                  {% for object in user.get_profile_photos %}
                    <div style="flex: 0 0 33.33333%;max-width:33.33333%;padding:5px;">
                      <img class="lazyload image_fit_70" data-src="{{ object.file.url }}" alt="">
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="media centered">
                    <a href="{% url 'user_gallery' pk=user.pk %}" class="ajax">
                        <div class="media-body">
                            <h4 class="content-color-primary mb-0">Добавьте фото</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if user.get_last_video %}

        <div class="card mb-3">
            <div class="card-header">
              <a href="{% url 'user_video' pk=user.pk %}" class="ajax">
                <div class="media">
                    <div class="media-body">
                        <h6 class="content-color-primary mb-0">Видео</h6>
                    </div>
                    {{ user.get_video_count }}
                </div>
              </a>
            </div>
            <div class="card-body p-1">
                <div class="row no-gutters" album-uuid="{{ user.get_generic_video_list_uuid }}">
                  {% for object in user.get_last_video %}
                    <div style="position:relative">
                      <img class="lazyload image_fit_small" data-src="{{ object.image.url }}" alt="">
                      <div class="video_icon_play_v2 u_video_list_detail" video-counter="{{ forloop.counter0 }}"></div>
                      <p>{{ object.title }}</p>
                    </div>
                  {% endfor %}
                </div>

            </div>
        </div>
        {% else %}
        <div class="card mb-3">
            <div class="card-header">
                <div class="media centered">
                    <a href="{% url 'user_video_list' pk=user.pk uuid=user.get_generic_video_list_uuid %}" class="ajax">
                        <div class="media-body">
                            <h4 class="content-color-primary mb-0">Добавьте видео</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-8 col-md-7 order-2">
        <div class="card mb-3" style="padding:10px">
            <h3 class="mb-0">{{ user.get_full_name }}
              {% if user.is_identified %}
                <svg class="svg_info svg_default" fill="currentColor" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><g><rect fill="none" /></g><g><path d="M23,12l-2.44-2.79l0.34-3.69l-3.61-0.82L15.4,1.5L12,2.96L8.6,1.5L6.71,4.69L3.1,5.5L3.44,9.2L1,12l2.44,2.79l-0.34,3.7 l3.61,0.82L8.6,22.5l3.4-1.47l3.4,1.46l1.89-3.19l3.61-0.82l-0.34-3.69L23,12z M10.09,16.72l-3.8-3.81l1.48-1.48l2.32,2.33 l5.85-5.87l1.48,1.48L10.09,16.72z"/></g></svg>
              {% elif user.is_child_safety %}
                <svg class="svg_info svg_default" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4zm-2 16l-4-4 1.41-1.41L10 14.17l6.59-6.59L18 9l-8 8z"/></svg>
              {% elif user.is_child %}
                <svg class="svg_info svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 11.75c-.69 0-1.25.56-1.25 1.25s.56 1.25 1.25 1.25 1.25-.56 1.25-1.25-.56-1.25-1.25-1.25zm6 0c-.69 0-1.25.56-1.25 1.25s.56 1.25 1.25 1.25 1.25-.56 1.25-1.25-.56-1.25-1.25-1.25zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8 0-.29.02-.58.05-.86 2.36-1.05 4.23-2.98 5.21-5.37C11.07 8.33 14.05 10 17.42 10c.78 0 1.53-.09 2.25-.26.21.71.33 1.47.33 2.26 0 4.41-3.59 8-8 8z"/></svg>
              {% endif %}
            </h3>
            <p class="user_status content-color-primary"></p>
            <br><br>
        </div>

          {% include 'profile/profile_stat.html' %}

          {% include 'profile/new_post.html' %}

          <div id="lenta_load" class="profile_block_paginate" data-link="/users/detail/list/{{ user.pk }}/"></div>

        </div>
    </div>
</div>


<script>
{% if user|is_user_list:user.get_music_list_id %}
  document.querySelector("body").classList.add('list_' + {{ user.get_music_list_id }});
{% endif %}
</script>

{% endblock %}
