{% extends "base.html" %}
{% load staticfiles humanize %}

{% block title %}{{ user.get_full_name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="dvizhenie.tv" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="{% if user.profile.avatar %}http://xn--b1afgj5al1e.xn--p1acf/{{ user.profile.avatar }}{% else %}{% static 'images/user.png' %}{% endif %}"/>
{% endblock %}
{% block content %}
{{ ip }}
<div class="row user_page">
    <div class="col-lg-4 col-md-5 col-sm-12 order-1">

        {% include 'profile/card_profile.html' %}

        {% include 'profile/common_frends.html' %}

        {% include 'profile/online_frends.html' %}

        {% include 'profile/frends.html' %}

        {% include 'profile/communities.html' %}

        {% include 'profile/gallery.html' %}

    </div>
    <div class="col-lg-8 col-md-7 col-sm-12 order-2 ">
        <div class="card mb-4" style="padding:10px">
            <h3 class="mb-0">{{ user.get_full_name }}</h3>
            {% if user.get_online %}
              <i class="text-success">Онлайн</i>
            {% else %}
              <i style="color:#888888">Был(а) {{ user.last_activity|naturaltime }}</i>
            {% endif %}
            <br><br>
        </div>

          <div id="stat_load"></div>

          {% include 'profile/new_post.html' %}

          <div id="lenta_load"></div>

        </div>
    </div>

<script>
ready(() => {
  var link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
  link.open( 'GET', '/users/detail/list/' + '{{ user.pk }}', true );
  link.onreadystatechange = function () {
    if ( link.readyState == 4 ) {
        if ( link.status == 200 ) {
            var lenta_load = document.getElementById("lenta_load");
            lenta_load.innerHTML = link.responseText;
        }
    }
};
link.send( null );
});

var page = 2;
var loaded = false;
onscroll = function(){
  try{
  var items = document.getElementById("lenta_container");

  if(items.getElementsByClassName('infinite-item').length === (page-1)*30){
  var height = document.documentElement.clientHeight-1;
  if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
    if (loaded){return};
    var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link_3.open( 'GET', '/users/detail/list/{{ user.pk }/?page=' + page++, true );
    link_3.send();
    link_3.onreadystatechange = function () {
    if ( this.readyState == 4 && this.status == 200 ) {
      var elem = document.createElement('span');
      elem.innerHTML = link_3.responseText;
      items_list = elem.querySelector(".stream");
      if(items_list.getElementsByClassName('infinite-item').length < 30){loaded = true;};
      items.append(items_list);
      }
    }
  }}
}catch{return}
}

</script>

{% endblock %}
