{% extends "base.html" %}
{% load humanize thumbnail liked_user %}

{% block title %}{{ user.get_full_name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="dvizhenie.tv" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="{% if user.profile.avatar %}http://xn--b1afgj5al1e.xn--p1acf/{{ user.profile.avatar }}{% else %}/static/images/user.png{% endif %}"/>
{% endblock %}
{% block content %}
<script>

</script>
<div class="row user_page">
    <div class="col-lg-4 col-md-5 order-1">

      <div class="card mb-4">
          <div class="card-body">
              <div class="row align-items-center no-gutters">
                  <a class="col">
                      <figure class="mx-auto mb-3" id="avatar_reload">
                        {% if user.get_avatar %}
                          <img src="{{ user.get_avatar.file.url }}" class="avatar_detail" style="cursor:pointer" data-uuid="{{ user.uuid }}" data-id="{{ user.get_avatar.id }}">
                        {% else %}
                          <svg fill="currentColor" class="svg_default" style="width:100%;height: auto;"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                        {% endif %}
                      </figure>
                  </a>
              </div>

              <span style="display: flex;align-items: center;justify-content: center;margin-bottom: 10px;">
                  <a class="btn btn-sm btn-secondary ajax" style="color:white !important;" href="{% url 'user_general_form' request.user.pk %}" data-html="#ajax">Редактировать</a>
              </span>

          </div>
      </div>

        {% include 'profile/online_frends.html' %}

        {% if user.get_pop_connection %}
        <div class="card mb-4" style="">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h4 class="content-color-primary mb-0">Друзья </h4>
                    </div>
                    <a href="{% url 'frends' pk=user.pk %}" class="ajax" data-html="#ajax">
                        все
                    </a>
                </div>
            </div>

            {% for object in user.get_pop_connection %}

            <div class="card border-top border-bottom">
                <div class="card-body">
                    <div class="media">
                      <a href="{% url 'user' pk=object.pk %}" class="ajax" data-html="#ajax">
                        <figure style="width:50px;">
                          {% if object.get_avatar %}
                            <img src="{{ object.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius:50px;" alt="image">
                          {% else %}
                            <svg fill="currentColor" class="svg_default svg_default_50" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                          {% endif %}
                        </figure>
                      </a>
                      <div class="media-body">
                          <a href="{% url 'user' pk=object.pk %}" class="ajax" data-html="#ajax">
                              <h6 class="my-0 mt-1">{{ object.get_full_name }}</h6>
                          </a>
                          <p class="text-link">Написать сообщение</p>
                      </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        {% else %}
        <div class="card mb-4" style="">
            <div class="card-header">
                <div class="media" style="display: flex;align-items: center;justify-content: center;">
                    <a href="{% url 'all_users' %}" class="ajax" data-html="#ajax">
                        <div class="media-body">
                            <h4 class="content-color-primary mb-0">Найдите друзей </h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if user.get_pop_communities %}
        <div class="card mb-4" style="">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h4 class="content-color-primary mb-0">Группы </h4>
                    </div>
                    <a href="{% url 'communities' pk=user.pk %}" class="ajax" data-html="#ajax">
                        все
                    </a>
                </div>
            </div>

            {% for object in user.get_pop_communities %}
            <div class="card border-top border-bottom">
                <div class="card-body">
                    <div class="media">
                      <a href="{% url 'community_detail' pk=object.pk %}" class="ajax" data-html="#ajax">
                        <figure style="width:50px;">
                            {% if object.get_avatar %}
                            <img src="{{ object.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius:50px;width:50px;" alt="image">
                            {% else %}
                            <svg fill="currentColor" class="svg_default svg_default_50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
                            {% endif %}
                        </figure>
                      </a>
                      <div class="media-body">
                          <a href="{% url 'community_detail' pk=object.pk %}" class="ajax" data-html="#ajax">
                              <h6 class="my-0 mt-1">{{ object.name }}
                              </h6>
                          </a>
                          <p class="small">{{ object.count_members }} {{ object.count_members|rupluralize:"подписчик,подписчика,подписчиков" }}</p>
                      </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="card mb-4" style="">
            <div class="card-header">
                <div class="media" style="display: flex;align-items: center;justify-content: center;">
                    <a href="{% url 'all_communities' %}" class="ajax" data-html="#ajax">
                        <div class="media-body">
                            <h4 class="content-color-primary mb-0">Вступайте в группы</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if user.get_profile_photos %}
        <div class="card mb-4" style="">
            <div class="card-header">
              <a href="{% url 'user_gallery' pk=user.pk %}" class="ajax" data-html="#ajax">
                <div class="media">
                    <div class="media-body">
                        <h4 class="content-color-primary mb-0">Фото </h4>
                    </div>
                    все
                </div>
              </a>
            </div>
            <div class="card-body p-1">
                <div class="row no-gutters">
                  {% for object in user.get_profile_photos %}
                    <div style="flex: 0 0 33.33333%;max-width:33.33333%;padding:5px;">
                      <img style="width:100%;object-fit:cover;height:auto;" class="lazyload" data-src="{{ object.file.url }}" alt="">
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <div class="card mb-4" style="">
            <div class="card-header">
                <div class="media" style="display: flex;align-items: center;justify-content: center;">
                    <a href="{% url 'user_gallery' pk=user.pk %}" class="ajax" data-html="#ajax">
                        <div class="media-body">
                            <h4 class="content-color-primary mb-0">Добавляйте фото</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-lg-8 col-md-7 order-2 ">
        <div class="card mb-4" style="padding:10px">
            <h3 class="mb-0">{{ user.get_full_name }}</h3>
            {% if user.get_online %}
              <i class="text-success">Онлайн</i>
            {% else %}
              <i style="color:#888888">Был(а) {{ user.last_activity|naturaltime }}</i>
            {% endif %}
            <br><br>
        </div>

          {% include 'profile/profile_stat.html' %}

          {% include 'profile/new_post.html' %}

          <div id="lenta_load"></div>

        </div>
    </div>

<script>
ready(() => {
  var link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
  link.open( 'GET', '/users/detail/list/' + '{{ user.pk }}', true );
  link.onreadystatechange = function () {
    if ( link.readyState == 4 ) {
        if ( link.status == 200 ) {
            var lenta_load = document.getElementById("lenta_load");
            lenta_load.innerHTML = link.responseText;
        }
    }
};
link.send( null );

class Index {

  static initLink() {
      document.body.querySelectorAll('a')
              .forEach( link => link.addEventListener('click', Index.push_url) );
  }

  static push_url(event){
      event.preventDefault();
      let path = event.target.href; // забираем путь
          jQuery.ajax({
              url: "/users/all-users/",
              type: 'GET',

              success : function (data) {
                  window.history.pushState({route: this.url}, "EVILEG", path);
                  var ajax = $(data.responseText).filter('#ajax').html();
                  jQuery("#ajax").replaceWith(ajax); // Заменяем div со списком статей на новый
                  Index.initLink(); // Переинициализируем пагинатор
                  jQuery(window).scrollTop(0); // Скроллим страницу в начало
                  console.log("Успех", ajax);
              }
          });
  }
}
Index.initLink();

});
function elementInViewport(el){
    var bounds = el.getBoundingClientRect();
    return (
        (bounds.top + bounds.height > 0) && // Елемент ниже верхней границы
        (window.innerHeight - bounds.top > 0) && // Выше нижней
        (bounds.left + bounds.width > 0) && // Правее левой
        (window.innerWidth - bounds.left > 0)// Левее правой
    );
}

var page = 2;
var loaded = false;
onscroll = function(){
  var box = document.querySelectorAll('.infinite-item');
  for (var i = 0; i < box.length; i++) {
    if(!box[i].classList.contains("showed")){
      inViewport = elementInViewport(box[i]);
      if(inViewport){
        box[i].classList.add("showed");
        console.log(i + "получил класс showed");
        pk = box[i].getAttribute('item-pk');
        fetch('/users/progs/item_view/' + pk + "/")
  }}};

  try{

  var items = document.getElementById("lenta_container");
  if(items.getElementsByClassName('infinite-item').length === (page-1)*30){
  var height = document.documentElement.clientHeight-1;
  if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
    if (loaded){return};
    var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link_3.open( 'GET', '/users/detail/list/{{ user.pk }}/?page=' + page++, true );
    link_3.send();
    link_3.onreadystatechange = function () {
    if ( this.readyState == 4 && this.status == 200 ) {
      var elem = document.createElement('span');
      elem.innerHTML = link_3.responseText;
      items_list = elem.querySelector(".stream");
      if(items_list.getElementsByClassName('infinite-item').length < 30){loaded = false;};
      items.append(items_list);
      }
    }
  }}
}catch{return}
};

</script>

{% endblock %}
