{% load liked_user staticfiles %}

{% if likes %}
<div class="comment_like_pop" style="margin:15px">
    <span>Оценили: {{ likes.count }} {{ likes.count|rupluralize:"человек,человека,людей" }}</span>
    <br><br>
    <span style="display: flex;">
        {% for heart in likes %}
        <a href="{% url 'user' pk=heart.user.pk %}" class="ajax" style="padding-right:10px">
            <figure style="margin: 0;">
              {% if heart.user.get_avatar %}
                <img src="{{ heart.user.profile.get_avatar.file.url }}" style="border-radius: 50px;width:50px;" alt="image">
              {% else %}
                <img style="width:50px;border:#6C757D solid 1px;border-radius:50px;padding:5px;" src="{% static 'images/icons/person-24px.svg' %}" />
              {% endif %}
            </figure>
            {{ heart.user.first_name }}
        </a>
        {% endfor %}
    </span>
</div>
{% endif %}
