{% load liked_user staticfiles thumbnail %}

{% if likes %}
<div class="like_pop" style="margin:15px">
  <span>Оценили: {{ likes.count }} {{ likes.count|rupluralize:"человек,человека,людей" }}</span>
  <br><br>
  <span style="display: flex;">
    {% for heart in likes %}
    <a href="{% url 'user' pk=heart.user.pk %}" class="ajax" style="padding-right:10px">
      <figure style="margin: 0;">
        {% if heart.user.get_avatar %}
          <img src="{{ heart.user.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius: 50px;width:50px;" alt="image">
          {% else %}
          <img class="thumb" src="{% static 'images/icons/person-24px.svg' %}" />
          {% endif %}
      </figure>
      <span>{{ heart.user.first_name }}</span>
    </a>
    {% endfor %}
  </span>
</div>
{% endif %}
