
<div class="col-md-12">
    <form id="c_uсm_music_list_repost_form">
      {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header border-bottom">
                <h5 class="content-color-primary mb-0">Поделиться плейлистом сообщества "{{ community.name }}"</h5>
            </div>
            <div class="card-body">
              {% include 'generic/repost/full_community_choice.html' %}
              {% include 'generic/repost/form.html' %}
            </div>
            <div class="card-footer">
                <button class="btn btn-secondary votes_fullscreen_hide" style="position: relative; top: -10px; left: -10px;">Отмена</button>
                <button type="button" class="btn btn-success float-right" id="c_ucm_music_list_repost_btn" data-uuid="{{ object.uuid }}" data-pk="{{ community.pk }}">Поделиться</button>
            </div>
        </div>
    </form>
</div>
