
<form id="community_claim_form">
  {% csrf_token %}

<div class="row justify-content-center">
  <div class="card">
    <div class="card-body">
      <div class="row">
          <div style="flex: 0 0 30%;max-width:30%;padding:5px;">
            {% include 'mobile/generic/community/fugire.html' %}
          </div>
          <div style="flex: 0 0 70%;max-width:70%;padding:5px;">
            <h6 class="my-0 mt-1">{% include 'mobile/generic/community/community.html' %}</h6>
            <p style="padding-top:10px;">Вы собираетесь оставить жалобу на это сообщество.</p>
          </div>
      </div>
        <div class="form-group">
          <label>Выберите причину жалобы</label>
          <select class="form-control" name="type">
              <option value="P">Порнография</option>
              <option value="NC">Для взрослых</option>
              <option value="S">Рассылка спама</option>
              <option value="B">Оскорбительное поведение</option>
              <option value="U">Неэтичное поведение</option>
              <option value="F">Мошенничество</option>
              <option value="K">Клон моей страницы</option>
              <option value="OP">Моя старая страница</option>
              <option value="D">Наркотики</option>
              <option value="NM">Не нравственный контент</option>
              <option value="RH">Риторика ненависти</option>
          </select>
        </div>

        <div class="form-group">
          <textarea name="description" class="form-control bg-light-secondary border-0" rows="4" placeholder="Опишите причину жалобы"></textarea>
        </div>
    </div>
    <div class="card-footer">
      <button class="btn custom_color border create_fullscreen_hide" style="position: relative; top: -10px; left: -10px;">Отмена</button>
      <button type="button" class="btn btn-success float-right create_community_claim_btn">Пожаловаться</button>
    </div>
  </div>
</div>
</form>
<br><br><br>
