{% extends "base_anon_mobile.html" %}
{% load liked_user %}
{% block title %}{{ album.title }} - альбом {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}
{% block content %}

<div class="container mt-3">
  <div class="card-header p-0" style="margin-bottom:30px">
    <div class="dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle drop" style="width:100%;">
            Альбом {{ album.title }}
        </button>
        <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; width: 100%;">
            <a class="dropdown-item ajax" href="{% url 'user_gallery' pk=user.pk %}">Галерея {{ user.first_name|gent }} {{ user.last_name|gent }}</a>
        </div>
    </div>
  </div>

  <div class="media mt-3" style="display:flex;align-items: flex-start">
    <h5 class="mt-1" style="flex: 1;">Альбом {{ album.title }}</h5>
    <span>Фото: {{ album.count_photo }}</span>
  </div>

<div id="album_photo_load" data-link="/gallery/user/album_photos/{{ user.pk }}/{{ album.uuid }}/"></div>
</div>

<script>

    var page = 2;
    var loaded = false;
    onscroll = function(){
      try{
      var photos2 = document.getElementById("photos_container");
      if(photos2.querySelectorAll(".u_album_photo_detail").length === (page-1)*30){
      var height = document.documentElement.clientHeight-1;
      if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
        if (loaded){return};
        var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
        link_3.open( 'GET', '/gallery/user/album_photos/{{ user.pk }}/{{ album.uuid }}/?page=' + page++, true );
        link_3.send();
        link_3.onreadystatechange = function () {
        if ( this.readyState == 4 && this.status == 200 ) {
          var elem = document.createElement('span');
          elem.innerHTML = link_3.responseText;
          if(elem.getElementsByClassName('u_album_photo_detail').length < 30){loaded = true;};
          photos2.append(elem);
          }
        }
      }}
    }catch{return}
    }
</script>
{% endblock %}
