{% extends "base.html" %}
{% block title %}Мои документы - {{ list.name }} {% endblock %}
{% block content %}

<div class="container main-container pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ list.uuid }}">
    <div class="row">
        <div class="col-md-8 mt-3">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск документов">
            <div class="input-group-append">
              <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
          </div>
          <div class="card mb-2">
              <div class="card-body" style="padding: 10px;padding-bottom: 0;">
                <div style="display:flex">
                  {% if user.get_avatar %}
                    <img src="{{ user.get_avatar }}" style="width: 50px;height: 50px;border-radius:50px" alt="image">
                  {% else %}
                    <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 6H3v2h12V6zm0 4H3v2h12v-2zM3 16h8v-2H3v2zM17 6v8.18c-.31-.11-.65-.18-1-.18-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3V8h3V6h-5z"/></svg>
                  {% endif %}
                  <div class="media-body" style="margin-left: 10px;">
                    <h6 class="my-0 mt-1">{{ list.name }} ({{ list.count_docs }})</h6>
                    <p class="">
                      <a href="{% url 'user_docs' pk=list.creator.pk %}" class="ajax" style="text-decoration:underline;">
                        Мои документы
                      </a>
                    </p>
                  </div>
                  {% if list.is_not_empty %}
                    <span title="Поделиться" class="u_ucm_doc_list_repost btn_default pointer" style="margin-top: 14px;width:25px">
                      <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z"/></svg>
                    </span>
                  {% endif %}
                </div>
              </div>
            </div>
          <div class="card mb-2">
              <div class="card-body">
                    <ul id="user_list_docs_container" data-pk="{{ list.pk }}" class="profile_block_paginate">
                    {% if object_list %}
                      {% for doc in object_list %}
                      <li class="list-group-item pag {% if forloop.last %}last{% endif %}" style="padding-bottom:10px">
                          <div class="media" style="align-items: unset;position: relative;">
                              <div class="media-body doc_media_body">
                                  <h6 class="pointer" style="width: 84%;overflow: hidden;">
                                    <a href="{{ doc.file.url }}" target="_blank" rel="nofollow">{{ doc.title }}</a>
                                  </h6>
                                    <span class="small">{{ doc.file.size|filesizeformat }} | {{ doc.get_mime_type }}</span>
                                    <span class='span_btn' data-pk="{{ doc.pk }}">
                                      {% include 'user_docs/add_dropdown.html' %}
                                      <div class="dropdown" style="position: inherit;">
                                        <a class="btn_default drop pointer">
                                          <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
                                        </a>
                                          <div class="dropdown-menu dropdown-menu-right" style="top: 32px;">
                                              <span class="dropdown-item u_ucm_doc_repost">Поделиться</span>
                                              <span class="dropdown-item u_doc_edit">Изменить</span>
                                              <span class="dropdown-item u_doc_remove">Удалить</span>
                                          </div>
                                      </div>
                                    </span>
                              </div>
                          </div>
                      </li>
                      {% endfor %}

                      {% else %}
                      <div class="card centered doc_empty">
                        <div class="card-body" style="margin-top: 10%;">
                        <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'><path d="M0 0h24v24H0z" fill="none"/><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/></svg>
                        </div>
                        <h6 style="margin: 20px;text-align: center;">В списке пока нет документов.</h6>
                      </div>
                      {% endif %}
                    </ul>
              </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card mb-3 mt-3">
              <div class="card-body">
                <a href="{% url 'user' pk=user.pk %}" class="ajax">
                  <div class="media">
                      <figure style="width:50px;">
                        {% if user.get_avatar %}
                          <img src="{{ user.get_avatar }}" style="border-radius:50px" alt="image">
                        {% else %}
                          <svg fill="currentColor" class="svg_default svg_default_30" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                        {% endif %}
                      </figure>
                    <div class="media-body">
                        <h6 class="my-0 mt-1">{{ user.get_full_name }}</h6>
                        <p class="small">Документы</p>
                    </div>
                  </div>
                </a>
              </div>
          </div>
          <div class="card mb-3">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a class="pointer u_doc_create_window">Добавить Документ</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
          <div class="card mb-3">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a class="u_doc_list_create_window pointer">Создать новый список</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
          {% if user.user_docs_list_exists %}
          <div class="card">
            <div class="card-header">
              <div class="media">
                  <div class="media-body">
                    <h5 class="mt-1">
                      <p>Списки</p>
                    </h5>
                  </div>
              </div>
            </div>
            <div class="card-body">
              <div class="nav flex-column nav-pills faqnav">
                {% for object in user.is_doc_list_exists %}
                  <a class="ajax" href="{% url 'user_docs_list' pk=user.pk uuid=object.uuid %}">
                    {{ object.name }}
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
        </div>
    </div>
</div>
{% endblock %}
