{% load liked_user staticfiles %}

<script src="{% static 'scripts/jquery.js' %}" type="text/javascript"></script>

<div class="card-footer border-top py-2">

  <div class="row">
      <div class="col interaction" id="interaction">
            <span class="like {% if object.article.votes.likes.all|user_in:request.user %} text-success {% endif %}"
                  id="like"
                  data-id="{{ object.id }}"
                  data-action="art_like"
                  data-type="article"
                  title="Нравится">
              <img style="width:22px;margin-bottom:5px" src="{% static 'images/icons/thumb_up-24px.svg' %}" />
              <span class="like-count" data-count="like">{% if object.article.votes.likes.count != 0 %}{{ object.article.votes.likes.count }}{% endif %}</span>
            </span>

            <span class="like_window">
              {% if object.article.votes.likes.all %}
            <div class="like_pop" style="margin:15px">
              <span>Оценили: {{ object.article.votes.likes.count }} {{ object.article.votes.likes.count|rupluralize:"человек,человека,людей" }}</span>
              <br><br>
              <span style="display: flex;">
                {% for heart in object.article.votes.likes.all %}
                <a href="{% url 'user' pk=heart.user.pk %}" class="ajax" style="padding-right:10px">
                  <figure style="margin: 0;">
                    {% if heart.user.profile.avatar %}
                      <img src="{{ heart.user.profile.avatar.url }}" style="border-radius: 50px;width:50px;" alt="image">
                      {% else %}
                      <img src="{% static 'images/user.png' %}" alt="image" style="border-radius: 50px;width:50px;">
                      {% endif %}
                  </figure>
                  {{ heart.user.first_name }}
                </a>
                {% endfor %}
              </span>
            </div>
            {% endif %}
          </span>

          &nbsp;&nbsp;
          <span class="dislike {% if object.article.votes.dislikes.all|user_in:request.user %} text-danger {% endif %}"
                id="dislike"
                data-id="{{ object.id }}"
                data-action="art_dislike"
                data-type="article"
                title="Не нравится">
            <img style="width:22px;margin-bottom:5px" src="{% static 'images/icons/thumb_down-24px.svg' %}" />
            <span class="dislike-count" data-count="dislike">{% if object.article.votes.dislikes.count %}{{ object.article.votes.dislikes.count }}{% endif %}</span>
          </span>

          <span class="dislike_window">
            {% if object.article.votes.dislikes.all %}
          <div class="dislike_pop" style="margin:15px">
            <span>Не оценили: {{ object.article.votes.dislikes.count }} {{ object.article.votes.dislikes.count|rupluralize:"человек,человека,людей" }}</span>
            <br><br>
            <span style="display: flex;">
              {% for sheet in object.article.votes.dislikes.all %}
              <a href="{% url 'user' pk=sheet.user.pk %}" class="ajax" style="padding-right:10px">
                <figure style="margin: 0;">
                  {% if sheet.user.profile.avatar %}
                    <img src="{{ sheet.user.profile.avatar.url }}" style="border-radius: 50px;width:50px;" alt="image">
                    {% else %}
                    <img src="{% static 'images/user.png' %}" alt="image" style="border-radius: 50px;width:50px;">
                    {% endif %}

                  </figure>
                  {{ sheet.user.first_name }}
                </a>
                {% endfor %}
            </span>
          </div>
          {% endif %}

        </span>

          &nbsp;&nbsp;
          <span title="Комментарий" class="art_comment" style="font-size:15px;cursor:pointer">
            <img style="width:22px;margin-bottom:5px" src="{% static 'images/icons/chat-24px.svg' %}" />
            <span class="comment-count">
              {% if object.article.count_comments %}
                {{ object.article.count_comments }}
              {% endif %}
            </span>
          </span>
          &nbsp;&nbsp;
          <span title="Поделиться" class="repost">
            <img style="width:22px;margin-bottom:5px" src="{% static 'images/icons/share-24px.svg' %}" />
          </span>

      </div>
      <span class="col-auto" title="Просмотры" style="font-size:12px">
        <img style="width:18px;margin-bottom:5px" src="{% static 'images/icons/remove_red_eye-24px.svg' %}" />
        {{ object.views }}
      </span>
  </div>
  {% if request.user.is_authenticated %}
  <div class="load_comments" style="margin-top:25px"></div>
  {% endif %}
  </div>
