{% load staticfiles humanize liked_user %}
<div class="card mb-4 infinite-item" article-id="{{ object.article.uuid }}">
    <div class="card-header border-bottom">
        <div class="media">
            <figure>
              {% if object.creator.profile.avatar %}
                <img src="{{ object.creator.profile.avatar.url }}" style="border-radius: 50px;width:50px;" alt="image">
              {% else %}
                <img src="{% static 'images/user.png' %}" style="border-radius: 50px;width:50px;" alt="image">
              {% endif %}
            </figure>
            <div class="media-body">
                <h6 class="mb-0">{{ object.creator.first_name }} {{ object.creator.last_name }}</h6>
                <p class="mb-0">{{ object.created|naturaltime }}</p>
            </div>
            <div class="dropdown d-inline-block">

                <a style="cursor:pointer" class="icon-circle icon-30 dropdown-toggle caret-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons ">more_vertical</i>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                  {% if user == request.user and request.user.is_authenticated %}
                    <span data-action="remove" data-id="{{ object.pk }}" data-type="Пост" style="cursor:pointer" class="dropdown-item post_remove">Удалить запись</span>
                    <a href="#" id="article_update" class="dropdown-item">Редактировать</a>
                    <a href="#" id="article_up" class="dropdown-item">Закрепить</a>
                    <a href="#" id="article_check_comment" class="dropdown-item">Выключить комментарии</a>
                  {% else %}
                    <a href="#" id="article_bad" class="dropdown-item">Пожаловаться</a>
                  {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="card-body fullscreen" data-id="{{ object.pk }}" style="cursor:pointer">
         <div class="jumbotron mb-4 bg-dark text-center has-background-img position-relative box-shadow">
             <div class="row align-items-center no-gutters">
                <a class="col">
                    <figure class="">
                      {% if object.article.image %}
                        <img src="{{ object.article.image.url }}" alt="">
                      {% else %}
                        <img src="{% static 'images/no-image.jpg' %}" />
                      {% endif %}
                    </figure>
                </a>
            </div>
            <h5 class="card-title mb-2 content-color-primary text-center">{{ object.article.title }}</h5>
        </div>
    </div>

    {% include 'generic/article_info.html' %}
</div>
