{% load humanize staticfiles liked_user %}
<script defer src="{% static 'scripts/jquery.js' %}" type="text/javascript"></script>

<span class="stream_comments bg-light-secondary">
  <div></div>
    {% for comment in comments %}
    {% include 'generic/article_parent_comment.html' with comment=comment  %}
    {% endfor %}
</span>

<div class="border-top" style="margin-top:10px">
    <form action="" class="articleCommentForm" method="post">
        {% csrf_token %}
        <div class="row no-gutters">

            <input type="hidden" name="article" value="{{ article.pk }}">
            <div class="col">
                <div class="input-group input-group-sm">
                    <textarea id="id_text" name="text" class="form-control text-comment form-control-rounded"></textarea>
                </div>
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-primary btn-rounded btn-sm ml-2 articleComment" type="button">
                    <i class="material-icons">send</i>
                </button>
            </div>
        </div>
    </form>
</div>

<script src="/static/scripts/jquery.toast.min.js" type="text/javascript"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    var csrftoken = getCookie('csrftoken');
    var page_title = $(document).attr("title");
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $(".articleComment").click(function() {
        $.ajax({
            url: '/article/article-comment/',
            data: $(".articleCommentForm").serialize(),
            type: 'POST',
            cache: false,
            success: function(data) {
                $(".articleCommentForm #id_text").val("");
                $(".stream_comments").append(data);
            },
            error: function(data) {
                alert(data.responseText);
            },
        });
        return false;
    });
    $(".replyComment").click(function() {
        button = $(this);
        form = button.parent().parent().parent().parent();
        $.ajax({
            url: '/article/reply-comment/',
            data: form.serialize(),
            type: 'POST',
            cache: false,
            success: function(data) {
                $(".form-control-rounded").val("");
            },
            error: function(data) {
                alert(data.responseText);
            },
        });
        return false;
    });
  </script>
  <script>
    $(".replyParentComment").click(function() {
      button = $(this);
      form = button.parent().parent().parent().parent();
        $.ajax({
            url: '/article/reply-comment/',
            data: form.serialize(),
            type: 'POST',
            cache: false,
            success: function(data) {
                $(".form-control-rounded").val("");
            },
            error: function(data) {
                alert(data.responseText);
            },
        });
        return false;
    });
</script>
<script>
    function like2() {
        var like = $(this);
        var type = like.data('type');
        var pk = like.data('id');
        var action = like.data('action');
        var dislike = like.next().next();
        $.ajax({
            url: "/article/comment/" + pk + "/like/",
            type: 'POST',
            data: {
                'obj': pk
            },
            success: function(json) {
                like.find("[data-count='like']").text(json.like_count);
                dislike.find("[data-count='dislike']").text(json.dislike_count);
                like.addClass("text-success");
                dislike.removeClass("text-danger");
                $(like).siblings('.comment_like_window').html('').load("/article/comment_like_window/" + pk + "/");
                $(dislike).siblings('.comment_dislike_window').html('').load("/article/comment_dislike_window/" + pk + "/")
            }
        });
        return false;
    }
    function dislike2() {
        var dislike = $(this);
        var type = dislike.data('type');
        var pk = dislike.data('id');
        var action = dislike.data('action');
        var like = dislike.prev().prev();
        $.ajax({
            url: "/article/comment/" + pk + "/dislike/",
            type: 'POST',
            data: {
                'obj': pk
            },
            success: function(json) {
                dislike.find("[data-count='dislike']").text(json.dislike_count);
                like.find("[data-count='like']").text(json.like_count);
                dislike.addClass("text-danger");
                like.removeClass("text-success");
                $(like).siblings('.comment_like_window').html('').load("/article/comment_like_window/" + pk + "/");
                $(dislike).siblings('.comment_dislike_window').html('').load("/article/comment_dislike_window/" + pk + "/")
            }
        });
        return false;
    }
    // Подключение обработчиков
    $('[data-action="like2"]').click(like2);
    $('[data-action="dislike2"]').click(dislike2);
</script>
<script>
	$( ".reply_comment" ).click(function(){
    var reply_comment_form = $(this);
    var objectUser = reply_comment_form.prev().text().trim();
    var form = reply_comment_form.next().find(".text-comment");
    form.val(objectUser + ', ');
		reply_comment_form.next().show();
    form.focus();
	})
</script>
