{% load staticfiles humanize %}

<div class="card-header border-bottom">
    <div class="media">
        <figure>
          {% if object.creator.profile.avatar %}
            <img src="{{ object.creator.profile.avatar.url }}" style="border-radius: 50px;width:50px;" alt="image">
          {% else %}
            <img src="{% static 'images/user.png' %}" style="border-radius: 50px;width:50px;" alt="image">
          {% endif %}
        </figure>
        <div class="media-body">
            <h6 class="mb-0">{{ object.creator.get_full_name }} &nbsp;
              <span class="is_fixed" style="color: #888888;font-size: 13px;{% if not object.is_fixed %}display:none;{% endif %}">закреплено</span>
            </h6>
            <p class="mb-0">{{ object.created|naturaltime }}</p>
        </div>

        <a style="cursor:pointer" class="icon-circle icon-30 reactions">
            <img style="width:22px" src="{% static 'images/icons/react-24px.svg' %}" />
        </a>
        &nbsp;
        <span class="reaction_window">

        <div class="react_pop" style="margin:15px">
          {% if emojies_1 %}
          <span style="display: flex;flex-wrap: wrap;width: 150px;">
            {% for object in emojies_2 %}
            <span style="padding:6px;cursor:pointer" title="{{ object.keyword }}">
              <figure style="margin: 0;">
                {% if object.image %}
                  <img src="{{ object.image.url }}" style="border-radius: 50px;width:25px;" alt="emoji">
                  {% endif %}
              </figure>
            </span>
            {% endfor %}
            <br><br>

            {% for object in emojies_1 %}
            <span style="padding:6px;cursor:pointer" title="{{ object.keyword }}">
              <figure style="margin: 0;">
                {% if object.image %}
                  <img src="{{ object.image.url }}" style="border-radius: 50px;width:25px;" alt="emoji">
                  {% endif %}
              </figure>
            </span>
            {% endfor %}
          </span>
          {% endif %}
        </div>

      </span>
        <div class="dropdown d-inline-block">
            <a style="cursor:pointer" class="icon-circle icon-30 dropdown-toggle caret-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img style="width:22px" src="{% static 'images/icons/more_vert-24px.svg' %}" />
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              {% if user == request.user %}
                <span data-action="item_remove" data-id="{{ object.pk }}" style="cursor:pointer" class="dropdown-item">Удалить запись</span>
                <span data-action="item_update" style="cursor:pointer" class="dropdown-item">Редактировать</span>
                <span data-id="{{ object.pk }}">
                  {% if object.is_fixed %}
                  <span data-action="item_unfixed" style="cursor:pointer" class="dropdown-item">Открепить</span>
                  {% else %}
                  <span data-action="item_fixed" style="cursor:pointer" class="dropdown-item">Закрепить</span>
                  {% endif %}
                </span>
                <span data-action="item_check_comment" style="cursor:pointer" class="dropdown-item">Выключить комментарии</span>
              {% else %}
                <span data-actiond="item_bad" class="dropdown-item">Пожаловаться</span>
              {% endif %}
            </div>
        </div>
    </div>
</div>
