{% load staticfiles humanize liked_user %}

<div class="media pt-2" comment-id="{{ comment.id }}">
    <figure>
        {% if comment.commenter.profile.avatar %}
          <img src="{{ comment.commenter.profile.avatar.url }}" class="pull-left" style="border-radius:50%;width:30px;" alt="User Image" class="user-image">
        {% else %}
          <img src="{% static 'images/user.png' %}" class="pull-left" style="border-radius:50%;width:30px;" alt="No Profile Picture" />
        {% endif %}
    </figure>
    <div class="media-body">
        <h5 class="mt-0">{{ comment.commenter.get_full_name }}
            <small class="text-muted float-right">{{ comment.created|naturaltime }}</small>
        </h5>
        <p class="mb-2">{{ comment.text|safe }}</p>

        
    </div>
</div>
