{% load liked_user %}

<div class="card-footer border-top py-2">

  <div class="row" style="color: rgba(255, 255, 255, 0.65);">
      <div class="col">
          {% if request.user.is_authenticated %}
          <span class="">
            <span class="like content-color-secondary
                       {% if object.votes.likes.all|user_in:user %}
                       text-success
                       {% endif %}"
                style="font-size:15px;cursor:pointer"
                id="like"
                data-id="{{ object.id }}"
                data-action="like"
                data-type="posts">
              <i class="material-icons">thumb_up</i>
              <span data-count="like">{{ object.votes.likes.count }}</span>
            </span>
          {% else %}
            <span class="content-color-secondary"
                style="font-size:15px;cursor:pointer">
              <i class="material-icons">thumb_up</i>
              <span data-count="like">{{ object.votes.likes.count }}</span>
            </span>
            {% if object.votes.likes.all %}
            <div class="card mb-2 like_pop">
              Оценили: {% for heart in object.votes.likes.all %}{{ heart.user.get_full_name }} {% endfor %}
            </div>
            {% endif %}
          </span>
          {% endif %}

          &nbsp;&nbsp;
          {% if request.user.is_authenticated %}
          <span class="">
            <span class="dislike content-color-secondary
                        {% if object.votes.dislikes.all|user_in:user %}
                        text-danger
                        {% endif %}"
                style="font-size:15px;cursor:pointer"
                id="dislike"
                data-id="{{ object.id }}"
                data-action="dislike"
                data-type="posts">
              <i class="material-icons">thumb_down</i>&nbsp;
              <span data-count="dislike">{{ object.votes.dislikes.count }}</span>
            </span>
          {% else %}
            <span class="content-color-secondary"
                style="font-size:15px;cursor:pointer">
              <i class="material-icons">thumb_down</i>&nbsp;
              <span data-count="dislike">{{ object.votes.dislike.count }}</span>
            </span>
            {% if object.votes.dislikes.all %}
            <div class="card mb-2 dislike_pop">
              Оценили: {% for heart in object.votes.dislikes.all %}{{ heart.user.get_full_name }} {% endfor %}
            </div>
            {% endif %}
          </span>
          {% endif %}



          &nbsp;&nbsp;
          <span class="content-color-secondary" style="font-size:15px;cursor:pointer">
            <i class="material-icons">chat</i>&nbsp;0
          </span>
          &nbsp;&nbsp;
          <span class="content-color-secondary" style="font-size:15px;cursor:pointer">
            <i class="material-icons">share</i>&nbsp;0
          </span>

      </div>
      <span class="col-auto content-color-secondary" style="font-size:12px">
        <i class="material-icons">visibility</i>&nbsp;{{ object.views }}
      </span>
  </div>
</div>
