<div class="row" style="color: rgba(255, 255, 255, 0.65);">
    <div class="col">
        <span class="content-color-secondary" style="font-size:15px;cursor:pointer">
          <i class="material-icons">thumb_up</i>&nbsp;12
        </span>
        &nbsp;&nbsp;
        <span class="content-color-secondary" style="font-size:15px;cursor:pointer">
          <i class="material-icons">thumb_down</i>&nbsp;12
        </span>
        &nbsp;&nbsp;
        <span class="content-color-secondary" style="font-size:15px;cursor:pointer">
          <i class="material-icons">chat</i>&nbsp;0
        </span>
        &nbsp;&nbsp;
        <span class="content-color-secondary" style="font-size:15px;cursor:pointer">
          <i class="material-icons">share</i>&nbsp;0
        </span>

    </div>
    <span class="col-auto content-color-secondary" style="font-size:12px">
      <i class="material-icons">visibility</i>&nbsp;115
    </span>
</div>
