{% load humanize staticfiles %}
<script src="{% static 'scripts/jquery-3.2.1.min.js' %}" type="text/javascript"></script>

    {% for object in comments %}
    <div class="media pt-2" posts-id="{{ object.uuid }}">
        <figure>
            {% if object.commenter.profile.avatar %}
              <img src="{{ object.commenter.profile.avatar.url }}" class="pull-left" style="border-radius:30%;width:50px;" alt="User Image" class="user-image">
            {% else %}
              <img src="{% static 'images/user.png' %}" class="pull-left" style="border-radius:50%;width:30px;" alt="No Profile Picture" />
            {% endif %}
        </figure>
        <div class="media-body">
            <h5 class="mt-0">{{ object.commenter.get_full_name }}
                <small class="text-muted float-right">{{ object.created|naturaltime }}</small>
            </h5>
            <p class="mb-2">{{ object.text|safe }}</p>

            {% include 'generic/comment_info.html' %}
        </div>
    </div>
    {% endfor %}


    <div class="row no-gutters">
      <form action="" id="FORM-COMMENT" method="post">
        {% csrf_token %}
        <div class="col">
            <div class="input-group input-group-sm">
            {{ form_comment }}
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-primary btn-rounded btn-sm ml-2" type="submit">
              <span class="text-hide-xs">Отправить</span>
              <i class="material-icons">send</i>
            </button>
        </div>
      </form>
    </div>


<ul class="stream" id="threadContent"></ul>


<script src="/static/scripts/jquery.toast.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var frm = $('#FORM-COMMENT');
    frm.submit(function () {
      CKEDITOR.instances.id_text.updateElement();
        $.ajax({
            type: frm.attr('method'),
            url: "/posts/post-comment/",
            data: frm.serialize(),
            success: function (data) {
              $('#id_text').val("");
              $.toast({
                  heading: '{{ request.user.first_name }}',
                  text: 'Комментарий успешно создан!',
                  showHideTransition: 'fade',
                  icon: 'success'
              })
            },
            error: function(data) {
                $("#hack").html("Возникла непредвидинная ошибка!!");
            }
        });
        return false;
    });
</script>

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
