{% load humanize staticfiles %}
<script src="{% static 'scripts/jquery-3.2.1.min.js' %}" type="text/javascript"></script>

    {% for reply in comments %}
    <div class="media pt-2" posts-id="{{ reply.uuid }}">
        <figure>
            {% if reply.commenter.profile.avatar %}
              <img src="{{ reply.commenter.profile.avatar.url }}" class="pull-left" style="border-radius:30%;width:50px;" alt="User Image" class="user-image">
            {% else %}
              <img src="{% static 'images/user.png' %}" class="pull-left" style="border-radius:50%;width:30px;" alt="No Profile Picture" />
            {% endif %}
        </figure>
        <div class="media-body">
            <h5 class="mt-0">{{ reply.commenter.get_full_name }}
                <small class="text-muted float-right">{{ reply.created|naturaltime }}</small>
            </h5>
            <p class="mb-2">{{ reply.text|safe }}</p>

            {% include 'generic/comment_info.html' %}
        </div>
    </div>
    {% endfor %}
    <div class="card-footer border-top">
    <div class="row no-gutters">
      <form action="" id="replyPostForm" method="post">
        {% csrf_token %}
        <input type="hidden" name="parent" value="{{ parent.pk }}">
          <div class="col">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                  <button class="btn btn-link content-color-secondary" type="button"><i class="material-icons">face</i></button>
                  <button class="btn btn-link content-color-secondary text-hide-xs" type="button"><i class="material-icons">collections</i></button>
              </div>
              <textarea id="id_text" name="text" rows="2" class="form-control form-control-rounded" maxlength="280"></textarea>
            </div>
          </div>
          <div class="col-auto">
            <button class="btn btn-outline-primary btn-rounded btn-sm ml-2" id="replyPost" type="button">
              <i class="material-icons">send</i>
            </button>
        </div>
      </form>
    </div>
    </div>

    <div class="card-footer border-top">
                            <div class="row no-gutters">
                                <div class="col">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-link content-color-secondary" type="button"><i class="material-icons">face</i></button>
                                            <button class="btn btn-link content-color-secondary text-hide-xs" type="button"><i class="material-icons">collections</i></button>
                                            <button class="btn btn-link content-color-secondary" type="button"><i class="material-icons">camera_alt</i></button>
                                        </div>
                                        <input type="text" class="form-control form-control-rounded" placeholder="">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-outline-primary btn-rounded btn-sm ml-2" type="button"><span class="text-hide-xs">Comment</span> <i class="material-icons">send</i></button>
                                </div>
                            </div>
                        </div>

<div class="stream" id="threadContent"></div>


<script src="/static/scripts/jquery.toast.min.js" type="text/javascript"></script>
<script>
  $("#replyPost").click(function () {
      $.ajax({
          url: '/posts/post-comment/',
          data: $("#replyPostForm").serialize(),
          type: 'POST',
          cache: false,
          success: function (data) {
              $("#id_text").val("");
          },
          error: function(data){
              alert(data.responseText);
          },
      });
  });
</script>
