{% load humanize staticfiles %}

<div class="card-footer bg-light-secondary border-top">
    {% for reply in thread %}
    <div class="media pt-2" posts-id="{{ reply.uuid }}">
        <figure class="avatar avatar-30">
            {% if reply.user.profile.avatar %}
            <img src="{{ reply.user.profile.avatar.url }}" class="pull-left" style="border-radius: 50%;" alt="User Image" class="user-image">
            {% else %}
            <img src="{% static 'img/user.png' %}" alt="No Profile Picture" />
            {% endif %}
        </figure>
        <div class="media-body">
            <h5 class="mt-0">{{ reply.user.get_full_name }}
                <small class="text-muted float-right">{{ reply.comments.created|naturaltime }}</small>
            </h5>
            <p class="mb-2">{{ reply.text|safe }}</p>

            <button class="btn btn-link btn-sm text-secondary pl-0">
                <i class="material-icons text-danger">favorite</i> Like
                <span class="text-primary">1k</span></button>
            <button type="button" class="btn btn-link">Reply
            </button>
        </div>
        {% include 'generic/info.html' %}
    </div>
    {% endfor %}
</div>
<div class="card-footer border-top">
    <div class="row no-gutters">
        <div class="col">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <button class="btn btn-link content-color-secondary" type="button"><i class="material-icons">face</i></button>
                    <button class="btn btn-link content-color-secondary text-hide-xs" type="button"><i class="material-icons">collections</i></button>
                    <button class="btn btn-link content-color-secondary" type="button"><i class="material-icons">camera_alt</i></button>
                </div>
                <input type="text" class="form-control form-control-rounded" placeholder="">
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-primary btn-rounded btn-sm ml-2" type="button"><span class="text-hide-xs">Comment</span> <i class="material-icons">send</i></button>
        </div>
    </div>
</div>

<ul class="stream" id="threadContent"></ul>
