<div class="row" style="padding-bottom: 10px;">
  {% for object in reply.comment_photo.all %}
  <div class="col-md-6">
      <img data-uuid="{{ object.uuid }}" photo-pk="{{ reply.commenter.pk }}" class="comment_image image_fit_small lazyload" style="cursor:pointer" data-src="{{ object.file.url }}" alt="img">
  </div>
  {% endfor %}
  {% for object in reply.comment_video.all %}
  <div class="col-md-6">
      <img class="image_fit_small lazyload" data-src="{{ object.image.url }}" alt="video">
      <div class="video_icon_play_v2 u_video_list_detail" video-counter="{{ forloop.counter0 }}"></div>
  </div>
  {% endfor %}
  {% for object in reply.comment_good.all %}
  <div class="col-md-6 u_good_detail" good-pk="{{ object.pk }}" style="cursor:pointer;padding-right:5px;">
    <span class="badge badge-primary mb-2" style="position: absolute;right:5px;">товар</span>
    {% if object.image %}
      <img class="image_fit_small lazyload" style="width:100%" data-src="{{ object.image.url }}" alt="">
    {% else %}
      <svg class="image_fit_small svg_default" style="width:100%;height:auto" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
    {% endif %}
    <h5 class="card-title mb-1 header-color-primary text-center" style="white-space: nowrap;">{{ object.title }}</h5>
  </div>
  {% endfor %}
  {% for object in reply.comment_music.all %}
  <div class="col-md-12 mt-3">
    <div class="media" music-counter="{{ forloop.counter0 }}">
        <figure style="cursor:pointer">
          <a class="music_list_item">
            {% if object.artwork_url %}
              <img style="width:30px;heigth:auto" src="{{ object.artwork_url }}" />
            {% else %}
              <svg fill="currentColor" style="width:30px;heigth:30px" class='svg_default' viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"/></svg>
            {% endif %}
          </a>
        </figure>
        <div class="media-body">
            <h6 class="music_list_item" style="cursor:pointer;padding-top: 6px;"><a>{{ object.title }}</a></h6>
        </div>
    </div>
  </div>
  {% endfor %}
</div>
