

<script src="/static/scripts/cockie.js" type="text/javascript"></script>
<script>
	function react() {
			var react = $(this);
			var item = $('.infinite-item').attr("item-id");
			var pk = react.data('id');
			var action  = react.data('action');
			console.log(item);
			console.log(pk);
			console.log(action);
			payload = {
					'item': item,
					'csrf_token': csrftoken
				}
			$.ajax({
					url: "/main/react/" + pk + "/",
					type: 'POST',
					cache: false,
					data: payload,
					success: function(data) {
							react.find("[data-count='react']").text(data.react_count);
							$(react).addClass("text-success");
							$(react).siblings('.react_window').html('').load("/main/react_window/" + pk + "/");
					}
			});
			return false;
	}
	function un_react() {
			var un_react = $(this);
			var item = $('.infinite-item').attr("item-id");
			var pk = un_react.data('id');
			var action = un_react.data('action');
			payload = {
					'item': item,
					'csrf_token': csrftoken
				}
			$.ajax({
					url: "/main/un_react/" + pk + "/",
					type: 'POST',
					cache: false,
					data: payload,
					success: function(data) {
							un_react.find("[data-count='dislike']").text(data.react_count);
							$(un_react).addClass("text-danger");
							$(like).siblings('.react_window').html('').load("/main/react_window/" + pk + "/");
					}
			});
			return false;
	}
	// Подключение обработчиков
	$('[data-action="react"]').click(un_react);
	$('[data-action="un_react"]').click(react);
</script>

<script>
$(".comment").on("click", function () {
	var item = $(this).closest(".infinite-item").attr("item-id");
	var url = $(this).parents(".infinite-item");
	$.ajax({
			url: '{% url "get_comment" %}',
			data: {'item': item},
			cache: false,
			beforeSend: function () {
					url.find(".load_comments").html("<span style='display:flex;justify-content: center;'><img src='/static/images/loading.gif'></span>");
			},
			success: function (data) {
				url.find(".load_comments").html(data.comments);
			}
	});
	return false;
});
</script>

<script>
function remove() {
var remove = $(this);
var pk = remove.data('id');
$.ajax({
	url: "/users/delete/" + pk + "/",
	success: function (data) {
		$(remove).parents('.card').hide();
    $('.activefullscreen').hide();
		$.toast({
				heading: '{{ request.user.first_name }}',
				text: 'статья успешно удалена!',
				showHideTransition: 'fade',
				icon: 'error'
		})
	},
	error: function(data) {
	}
});
};
$('[data-action="remove"]').click(remove);
</script>

<script>
$('.stream').on('click', '.article_detail', function (e) {
	e.preventDefault();
	 var item = $(this);
	 var item_id = item.data("id");
	 $('#article_loader').html('').load("/article/detail/" + item_id)
	 $('.article_fullscreen').show();
});
</script>

<script>
function fixed() {
var fixed = $(this);
var pk = fixed.parent().data('id');
$.ajax({
	url: "/users/fixed/" + pk + "/",
	success: function (data) {
		fixed.parent().html("<span data-action='item_unfixed' style='cursor:pointer' class='dropdown-item'>Открепить</span>");
		$.toast({
				heading: '{{ request.user.first_name }}',
				text: 'Вы успешно закрепили элемент!',
				showHideTransition: 'fade',
				icon: 'info'
		})
	},
	error: function(data) {
		console.log("Что то пошло не так");
	}
});
};

function unfixed() {
var unfixed = $(this);
var pk = unfixed.parent().data('id');
$.ajax({
	url: "/users/unfixed/" + pk + "/",
	success: function (data) {
		unfixed.parent().html("<span data-action='item_fixed' style='cursor:pointer' class='dropdown-item'>Закрепить</span>");
		$.toast({
				heading: '{{ request.user.first_name }}',
				text: 'Вы успешно открепили элемент!',
				showHideTransition: 'fade',
				icon: 'info'
		})
	},
	error: function(data) {
		console.log("Что то пошло не так");
	}
});
};
$('[data-action="item_fixed"]').click(fixed);
$('[data-action="item_unfixed"]').click(unfixed);
</script>
