{% extends "base_anon_mobile.html" %}
{% block title %}Рады Вас видеть | трезвый.рус{% endblock %}
{% block content %}

<div class="container mt-3">
    <div class="h-md-100 h-sm-auto">
        <form id="login_form" class="align-items-center">
          <div class="col-12">
                <h2 class="font-weight-light mb-3 mt-4 content-color-secondary text-left">Вход</h2>
                <div class="card-body p-0">
                    <input type="text" name="username" id="id_username" class="form-control form-control-lg border-0" placeholder="Телефон">
                    <hr class="my-0">
                    <input type="password" name="password" id="id_password" class="form-control form-control-lg border-0" placeholder="Ваш пароль">
                    <hr class="my-0">
                </div>
                <div class="text-left mb-3 mt-3">
                  <a href="" class="ajax">Забыли пароль?</a>
                  <button type="button" id="logg" class=" btn btn-primary pink-gradient" style="float: right;margin-top: -5px;">Войти</button>
                </div>
          </div>
        </form>
        <br>

        <form id="signup" class="align-items-center">
          <div class="col-12">
                <h2 class="font-weight-light mb-3 content-color-secondary text-left">Регистрация</h2>
                <div class="card mb-2">
                    <div class="card-body p-0">
                        <input type="text" name="first_name" id="id_first_name" class="form-control form-control-lg border-0" placeholder="Имя">
                        <hr class="my-0">
                        <input type="text" name="last_name" id="id_last_name" class="form-control form-control-lg border-0" placeholder="Фамилия">
                        <hr class="my-0">
                        <input type="password" name="password1" id="password1" class="form-control form-control-lg border-0" placeholder="Пароль">
                        <hr class="my-0">
                        <input type="password" name="password2" id="password2" class="form-control form-control-lg border-0" placeholder="Повторите пароль">
                        <hr class="my-0">
                    </div>
                </div>
                <br>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="register_" checked onchange="document.getElementById('register_ajax').disabled = !this.checked;" class="custom-control-input">
                    <label class="custom-control-label" for="register_">
                        Я принимаю <br><a href="{% url 'terms' %}" style="text-decoration:underline;" class="ajax">Правила сайта</a>.
                    </label>
                    <button type="button" class="btn btn-primary pink-gradient" id="register_ajax" style="float: right;margin-top: -16px;">Создать аккаунт</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
