{% extends "base_mobile.html" %}
{% block title %}Друзья онлайн {{ user.get_full_name_genitive }}{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/friends/online/{{ user.pk }}/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Друзья онлайн {{ user.get_full_name_genitive }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ user.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="container main-container mt-3" data-type="user_online_friends" data-pk="{{ user.pk }}">
    <div class="card-header p-0">
      <div class="row no-gutters">
        <div style="flex: 0 0 20%;max-width:20%;padding:5px;">
            {% include 'mobile/generic/user/back.html' %}
        </div>
        <div style="flex: 0 0 80%;max-width:80%;padding:5px;">
            <button class="btn btn-sm border dropdown-toggle menu_drop" style="width: -webkit-fill-available;">
                Мои друзья онлайн ({{ user.get_online_connection_count }})
            </button>
            <div class="dropdown-menu" style="right: 15px;left: 15px; top: 60px;">
              <a class="dropdown-item ajax" href="{% url 'frends' pk=user.pk %}">Мои друзья</a>
              {% if user.count_followers %}
                <a class="dropdown-item ajax" href="{% url 'follows' pk=user.pk %}">Мои подписчики ({{ user.count_followers }})</a>
              {% endif %}
              {% if user.count_following %}
                <a class="dropdown-item ajax" href="{% url 'followings' pk=user.pk %}">Мои заявки ({{ user.count_following }})</a>
              {% endif %}
              {% if user.get_featured_friends_count %}
              <a class="dropdown-item ajax" href="{% url 'featured_users' %}">Возможные друзья ({{ user.get_featured_friends_count }})</a>
              {% endif %}
              <a class="dropdown-item ajax" href="{% url 'all_users' %}">Найти друзей</a>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card">
            <div class="card-body">
                <div class="input-group mb-3" style="display:flex">
                    <input type="text" class="form-control" placeholder="Поиск друзей">
                    <div class="input-group-append">
                        <button class="btn border" type="button">Искать</button>
                    </div>
                </div>
                <ul class="list-group is_paginate">
                    {% if object_list %}
                    {% for object in object_list %}
                    <li class="list-group-item border-top pag">
                        {% include 'mobile/generic/user/card_send_message.html' %}
                    </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <div class="load centered m-1 next_page_list" data-link="{% url 'online_frends' pk=user.pk %}?page={{ page_obj.next_page_number }}">
                        <img src="/static/images/preloader.gif">
                    </div>
                    {% endif %}

                    {% else %}
                    <div class="card centered">
                        <div class="card-body">
                            <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24">
                                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                                <path d="M0 0h24v24H0z" fill="none" /></svg>
                        </div>
                        <h6 style="margin: 20px;text-align: center;"> Друзей нет...</h6>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
