{% load get_key %}

<div class="container mt-3">

  <span class="load_block">
    <div class="media mt-3" class="uuid_saver" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
      <h5 class="mt-1">
        <p>
          <span class="second_list_name" data-name="{{ list.name }}">{{ list.name }}</span> ({{ list.count }}) - альбом
          <a class="underline ajax" href="{{ list.creator.get_link }}">{{ list.creator.get_full_name_genitive }}</a>
        </p>
        {% if list|is_user_can_add_list:request.user.pk %}
          <span class="pointer badge badge-light-success u_copy_photo_list">Добавить список в коллекцию</span>
        {% elif request.user.pk in list.get_users_ids %}
          <span class="pointer badge badge-light-danger u_uncopy_photo_list">Удалить список из коллекции</span>
        {% endif %}
        <span class="pointer badge badge-light-warning u_photo_list_claim">Пожаловаться</span>
        <span class="pointer badge badge-light-primary copy_link">Копировать ссылку</span>
      </h5>
    </div>
    <div class="container-fluid mt-3 pk_saver">
      {% if object_list %}
      <div class="row is_block_paginate no-gutters drag_container is_stat_list" data-pk="{{ list.pk }}" owner-pk="{{ list.community.pk }}" data-type="community_photo_list">

        {% for object in object_list %}
          <div class="col-md-6 p-1 pointer hide_shower col-lg-4 detail_photo pag" data-type="user_photo" photo-pk="{{ object.pk }}" data-pk="{{ object.pk }}">
            <p class="handle" style="display:none; color:white !important">
              <svg height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
            </p>
            <div class="progressive replace" data-href="{{ object.file.url }}">
              <img class="preview image_fit_200" src="{{ object.get_preview }}" alt="img">
            </div>
          </div>
        {% endfor %}
        {% if page_obj.has_next %}
          <div class="load centered m-1 next_page_list" data-link="{% url 'load_photo_list' pk=list.pk %}?page={{ page_obj.next_page_number }}">
              <img src="/static/images/preloader.gif">
          </div>
        {% endif %}

      </div>
      {% else %}
        {% include 'desctop/users/photos/main_list/no_photos.html' %}
      {% endif %}
    </div>
  </span>
</div>
