<div class="card mb-3" style="flex-basis: 100%;">
  <div class="card-body border-left" style="padding: 8px;padding-bottom: 0;">
    <div style="display:flex" data-pk="{{ list.community.pk }}" data-uuid="{{ list.uuid }}">
      <figure>
        <a class="ajax" href="{% url 'user_community' pk=list.community.pk uuid=list.uuid %}">
        {% if list.get_cover_photo %}
          <img style="width:60px;height:70px;object-fit: cover;" src="{{ list.get_cover_photo.file.url }}" />
        {% else %}
        <svg fill="currentColor" class="svg_default border" style="width:60x;height:70px;" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none"/><path d="M22 16V4c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2zm-11-4l2.03 2.71L16 11l4 5H8l3-4zM2 6v14c0 1.1.9 2 2 2h14v-2H4V6H2z"/>
        </svg>
        {% endif %}
        </a>
      </figure>
      <div class="media-body" style="margin-left:10px">
        <h6 class="my-0 mt-1">{{ list.name }}</h6>
        <p class="">
          Фотоальбом собщества
          <a class="ajax underline" href="{{ list.community.get_link }}">
            {{ list.community.name }}
          </a>
          Фотографий: {{ list.count_items }}
        </p>
      </div>

      <span class='c_photo_list_add btn_default pointer' title="Добавить" style="margin-top: 12px;margin-right: 5px;width:30px">
        <svg fill='currentColor' class='svg_default' viewBox='0 0 24 24'><path d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/><path d='M0 0h24v24H0z' fill='none'/></svg>
      </span>
      <span title="Поделиться" class="c_ucm_photo_list_repost btn_default pointer" style="margin-top: 14px;width:25px">
        <svg class="svg_info repost_style_btn" viewBox="0 0 24 24" fill="currentColor"><path d="m0 0h24v24h-24z" fill="none"/><path fill="currentColor" d="m12.1 7.87v-3.47a1.32 1.32 0 0 1 2.17-1l8.94 7.6a1.32 1.32 0 0 1 .15 1.86l-.15.15-8.94 7.6a1.32 1.32 0 0 1 -2.17-1v-3.45c-4.68.11-8 1.09-9.89 2.87a1.15 1.15 0 0 1 -1.9-1.11c1.53-6.36 5.51-9.76 11.79-10.05zm1.8-2.42v4.2h-.9c-5.3 0-8.72 2.25-10.39 6.86 2.45-1.45 5.92-2.16 10.39-2.16h.9v4.2l7.71-6.55z" /></svg>
      </span>
    </div>
  </div>
<div class="row border-left" style="margin-left: 0;margin-right: 0;">
  {% for photo in list.get_6_photos %}
  <div class="col-md-6 col-lg-4 mt-3">
    <div class="c_AL_photo progressive replace pointer mt-3" photo-pk="{{ photo.pk }}" data-uuid="{{ list.uuid }}" data-href="{{ photo.file.url }}">
      {% if photo.file %}
        <img class="preview image_fit_small" src="{% if photo.preview %}{{ photo.preview.url }}{% else %}/static/images/tiny.png{% endif %}" alt="img">
      {% else %}
        <svg class="svg_default image_fit_small" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-4.86 8.86l-3 3.87L9 13.14 6 17h12l-3.86-5.14z"/></svg>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
</div>
