<div class="card">
    <div class="card-body border-left" style="padding: 8px;padding-bottom: 0;">
      <div style="display:flex" data-pk="{{ list.community.pk }}" data-uuid="{{ list.uuid }}">
        <figure>
          <a class="ajax" href="{% url 'community_music_list' pk=list.community.pk uuid=list.uuid %}">
            {% if list.image %}
              <img src="{{ list.image }}" style="width:120px;height:120px;" alt="image">
            {% else %}
              <svg fill="currentColor" class="svg_default border" style="width:120px;height:120px;" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15 6H3v2h12V6zm0 4H3v2h12v-2zM3 16h8v-2H3v2zM17 6v8.18c-.31-.11-.65-.18-1-.18-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3V8h3V6h-5z"/></svg>
            {% endif %}
          </a>
        </figure>
        <div class="media-body" style="margin-left: 10px;">
          <h6 class="my-0 mt-1">{{ list.name }}</h6>
          <p class="">
            <a class="ajax underline" href="{{ list.community.get_link }}">
              {{ list.community.name }}
            </a>
            <br>
            Треков: {{ list.count_items }}
          </p>
        </div>
        {% if request.user.pk != list.creator.pk %}
          <span class='c_music_list_add btn_default pointer' title="Добавить" style="margin-top: 12px;margin-right: 5px;width:30px">
            <svg fill='currentColor' class='svg_default' viewBox='0 0 24 24'><path d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/><path d='M0 0h24v24H0z' fill='none'/></svg>
          </span>
        {% endif %}
          <span title="Поделиться" class="c_ucm_music_list_repost btn_default pointer" style="margin-top: 14px;width:25px">
            <svg class="svg_info repost_style_btn" viewBox="0 0 24 24" fill="currentColor"><path d="m0 0h24v24h-24z" fill="none"/><path fill="currentColor" d="m12.1 7.87v-3.47a1.32 1.32 0 0 1 2.17-1l8.94 7.6a1.32 1.32 0 0 1 .15 1.86l-.15.15-8.94 7.6a1.32 1.32 0 0 1 -2.17-1v-3.45c-4.68.11-8 1.09-9.89 2.87a1.15 1.15 0 0 1 -1.9-1.11c1.53-6.36 5.51-9.76 11.79-10.05zm1.8-2.42v4.2h-.9c-5.3 0-8.72 2.25-10.39 6.86 2.45-1.45 5.92-2.16 10.39-2.16h.9v4.2l7.71-6.55z" /></svg>
          </span>
      </div>
    </div>
  </div>
<div class="card">
    <div class="card-body border-left" style="padding-left: 7px;padding-right: 7px;">
          <ul data-pk="{{ list.pk }}" style="margin-bottom: 0">
            {% for music in list.get_30_items %}
              {% include 'desctop/generic/items/u_music.html' %}
            {% endfor %}
          </ul>
    </div>
</div>
