{% load user %}

<span data-type="{{ list.get_code }}">

<a class="create_repost pointer">
  <svg class="svg_info repost_style_btn" viewBox="0 0 24 24" fill="currentColor"><path d="m0 0h24v24h-24z" fill="none"></path><path fill="currentColor" d="m12.1 7.87v-3.47a1.32 1.32 0 0 1 2.17-1l8.94 7.6a1.32 1.32 0 0 1 .15 1.86l-.15.15-8.94 7.6a1.32 1.32 0 0 1 -2.17-1v-3.45c-4.68.11-8 1.09-9.89 2.87a1.15 1.15 0 0 1 -1.9-1.11c1.53-6.36 5.51-9.76 11.79-10.05zm1.8-2.42v4.2h-.9c-5.3 0-8.72 2.25-10.39 6.86 2.45-1.45 5.92-2.16 10.39-2.16h.9v4.2l7.71-6.55z"></path></svg>
</a>
{% if request.user|is_can_work_list:list %}
  <a class="add_list pointer">добавить список</a>
  <a class="edit_list pointer">изменить список</a>
  {% if list.is_have_edit %}
    <a class="delete_list pointer">удалить список</a>
  {% endif %}

{% elif request.user.is_moderator %}
  <a class="create_close pointer">Закрыть</a>

{% else %}
  <a class="create_claim pointer">Пожаловаться</a>
{% endif %}
</span>
