{% load user %}

<span data-type="{{ list.get_code }}" data-community-id="{{ list.community.pk }}">
  {% if request.user|is_can_work_list:list %}
  <a class="create_list pointer">
    Добавить
  </a>
  /
  <a class="edit_list pointer hide_delete">
    Изменить
  </a>
  {% if list.is_have_edit %}
  <a class="delete_list pointer">
    Удалить
  </a>
  {% endif %}
  список
  {% elif request.user.is_moderator %}
  <a class="create_close pointer">
    Закрыть список
  </a>

  {% else %}
  <a class="create_claim pointer">
    Пожаловаться на список
  </a>
  {% endif %}

  <a class="create_repost pointer hide_delete">
    | Репост / копия
  </a>
</span>