<style>
  .hide_image input { display: none; }
  #add_multi_comments_articles {
    border: 1px dashed green;
    padding: 5px;
    text-align: center;}
  #add_multi_comments_articles:hover {cursor: pointer}
  .btn-primary { display:none }
</style>


<h4 class="m-0 mb-3" style="position: absolute;top: 50px;">Прикрепление статей</h4>
  <div id="add_multi_comments_articles" class="border">
    <h4>создать и прикрепить</h4>
  </div>
<br><br>

{% if object_list %}
<div style="padding-bottom:10px;display: flex; flex-wrap: wrap;" id="articles_load_container" data-link="users/load/article_load">
{% for object in object_list %}
<div class="article_3 pag {% if forloop.last %}last{% endif %}">
     <div class="jumbotron mb-3 bg-dark text-center has-background-img position-relative box-shadow">
         <div class="row align-items-center no-gutters">
                <figure class="background-img article_load_one" style="cursor:pointer" item-uuid="{{ object.uuid }}">
                  {% if object.g_image %}
                    <img class="lazyload image_fit_200" data-src="{{ object.g_image.url }}" alt="">
                  {% else %}
                    <img class="lazyload" data-src="/static/images/no-image.jpg" />
                  {% endif %}
                </figure>
                <span class="item_attach_circle article_load_several"
                     tooltip="Выбрать несколько"
                     flow="up">
                    <svg fill="currentColor" viewBox="0 0 24 24">
                      <path d="M24 24H0V0h24v24z" fill="none"/><circle cx="12" cy="12" r="8"/>
                    </svg>
                </span>
                <div class="container article_info">
                  <i class="figure avatar120 mr-0 fa fa-gift rounded-circle bg-none text-white border-white "></i>
                  <br>
                  <h2 class="text-white article_title">{{ object.title}}</h2>
                  <p class="lead text-white">Автор {{ object.creator.get_full_name }}</p>
                  <hr class="my-3">
                  <a class="btn btn-primary">Читать</a>
                </div>
        </div>

    </div>
  </div>
  {% endfor %}
</div>

{% else %}
<div class="card mb-3 centered">
  <div class="card-body">
  <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M22 13h-8v-2h8v2zm0-6h-8v2h8V7zm-8 10h8v-2h-8v2zm-2-8v6c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2zm-1.5 6l-2.25-3-1.75 2.26-1.25-1.51L3.5 15h7z"/></svg>
  </div>
  <h6 style="margin-bottom: 20px;"> У Вас нет статей ...</h6>
</div>
{% endif %}
