<div class="music-load row">
  {% if object_list %}
{% for object in object_list %}
  <div class="col-md-8 mx-auto">
    <div class="media music_load_one mb-2" style="cursor:pointer" data-pk="{{ object.pk }}" music-counter="{{ forloop.counter0 }}">
        <figure style="cursor:pointer">
            {% if object.artwork_url %}
              <img style="width:50px;heigth:auto" class="lazyload" data-src="{{ object.artwork_url }}" />
            {% else %}
              <svg fill="currentColor" style="width:50px;heigth:50px" class='svg_default' viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"/></svg>
            {% endif %}
        </figure>
        <div class="media-body">
            <h6 style="cursor:pointer">{{ object.title }}</h6>
            {{ object.tag }}
        </div>
    </div>
    <span class="item_attach_circle music_load_several"
         tooltip="Выбрать несколько"
         flow="up">
        <svg fill="currentColor" viewBox="0 0 24 24">
          <path d="M24 24H0V0h24v24z" fill="none"/><circle cx="12" cy="12" r="8"/>
        </svg>
    </span>
  </div>
  {% endfor %}

</div>
{% else %}
  <div class="card mb-4 centered">
    <div class="card-body">
    <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"/></svg>
    </div>
    <h6 style="margin-bottom: 20px;"> У Вас нет музыки ...</h6>
  </div>
{% endif %}
