<style>
  .hide_image input { display: none; }
  #add_multi_comments_photos {
    border: 1px dashed green;
    padding: 5px;
    text-align: center;}
  #add_multi_comments_photos:hover {cursor: pointer}
</style>


<h4 class="m-0 mb-3" style="position: absolute;top: 50px;">Прикрепление фотографий</h4>
<form id="add_photos" method="post">
    {% csrf_token %}
      <input type="file" id="photo_add_attach" name="file" style="display:none" multiple="multiple">
      <div id="add_multi_comments_photos">
          <h4>загрузить и прикрепить (максимум 2 фото)</h4>
      </div>
</form>
<br><br>

<div class="photos-load row">
{% for object in object_list %}
  <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card rounded-0 border-0 mb-4">
          <img style="cursor:pointer"
               class="lazyload photo_load_detail image_fit"
               photo-uuid="{{ object.uuid }}"
               data-src="{{ object.file.url }}"
               alt="img">
      </div>
    <span class="photo_preview_delete"
          tooltip="Выбрать несколько"
          flow="up">
          <svg fill="currentColor" viewBox="0 0 24 24">
            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
    </span>
  </div>
  {% empty %}
    <div class="card mb-4 centered">
      <div class="card-body">
      <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M22 13h-8v-2h8v2zm0-6h-8v2h8V7zm-8 10h8v-2h-8v2zm-2-8v6c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2zm-1.5 6l-2.25-3-1.75 2.26-1.25-1.51L3.5 15h7z"/></svg>
      </div>
      <h6 style="margin-bottom: 20px;"> У Вас нет фотографий ...</h6>
    </div>
  {% endfor %}

</div>
