{% load humanize liked_user %}
<style>
  .user_video_create_attach {
    border: 1px dashed green;
    padding: 5px;
    text-align: center;}
  .user_video_create_attach:hover {cursor: pointer}
</style>


<h4 class="m-0 mb-3" style="position: absolute;top: 50px;">Прикрепление видеозаписей</h4>
<h4 class="user_video_create_attach mb-3 border-top border-bottom">Создать и прикрепить</h4>

{% if object_list %}
<div style="padding-bottom:10px;display: flex; flex-wrap: wrap;">
{% for object in object_list %}
<div class="col-md-4 pag {% if forloop.last %}last{% endif %}" data-pk="{{ object.pk }}">
  <div>
    {% if object.image %}
      <img class="lazyload image_fit_200 video_load_one"
           style="cursor:pointer"
           video-counter="{{ forloop.counter0 }}"
           data-pk="{{ object.pk }}"
           data-src="{{ object.image.url }}" alt="img">
    {% else %}
      <svg class="svg_default image_fit" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
    {% endif %}
  </div>
  <span class="item_attach_circle video_load_several"
       tooltip="Выбрать несколько"
       flow="up">
      <svg fill="currentColor" viewBox="0 0 24 24">
        <path d="M24 24H0V0h24v24z" fill="none"/><circle cx="12" cy="12" r="8"/>
      </svg>
  </span>
  <div class="card-body">
    <h5 class="text-truncate w-100">{{ object.title }}</h5>
    <span class="small">{{ object.created|naturaltime }} | {{ object.all_visits_count }}&nbsp;{{ object.all_visits_count|rupluralize:"просмотр,просмотра,просмотров" }}</span>
  </div>
</div>
{% endfor %}
</div>

{% else %}
<div class="card mb-3 centered">
  <div class="card-body">
  <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
  </div>
  <h6 style="margin-bottom: 20px;"> У Вас нет видеороликов ...</h6>
</div>
{% endif %}
