<style>
  #video_holder{
  width: 200px;
  min-width: 200px;
  border: 2px dashed #FF0000;
  color: rgba(0,0,0,0.8);
  padding: 10px;
  text-align: center;
  margin:10px;
  }
  #video_holder{
  cursor: pointer;
  margin:9px;
  }
  #video_holder img{
  width: 172px;
  height: auto;
  }
  .id_image input,
  .id_image{
      display: none;
  }
</style>
    <form action="" id="create_video_list_form">
      {% csrf_token %}
        <div class="card">
            <div class="card-header border-bottom">
                <h5 class="content-color-primary mb-0">Создание видео-ролика</h5>
            </div>
            <div class="card-body">

              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Название</label>
                    <input type="text" name="title" class="form-control" id="id_title">
                  </div>
                  <div class="form-group">
                    <label>Описание</label>
                    {{ form_post.description }}
                  </div>
                </div>

                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Категория</label>
                    {{ form_post.category }}
                  </div>
                  <div class="form-group">
                    <label>Тег</label>
                    {{ form_post.tag }}
                  </div>
                  {% if user.my_user_video_album_exists %}
                  <div class="form-group">
                    <label>Альбом</label>
                    {{ form_post.album }}
                  </div>
                  {% endif %}
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Обложка</label>
                    <div class="id_image">
                      <input type="file" name="image" accept="image/*" id="id_image">
                    </div>
                    <div id="video_holder">
                      <h4 style="font-weight:bold;font-size:70px;color:#CECECE">№ 1</h4>
                      <p>Обложка</p>

                      <i style="color:#CECECE">(обязательно)</i>

                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label>Ссылка на ролик</label>
                    <input type="text" name="uri" class="form-control" id="id_uri">
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="is_public" class="custom-control-input" checked id="id_is_public">
                      <label class="custom-control-label" for="id_is_public">Виден всем</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="is_child" class="custom-control-input" checked id="id_is_child">
                      <label class="custom-control-label" for="id_is_child">Доступен детям</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="comments_enabled" class="custom-control-input" checked id="id_comments_enabled">
                      <label class="custom-control-label" for="id_comments_enabled">Комментарии включены</label>
                    </div>
                  </div>
                </div>
            </div>

            <div class="card-footer">
              <button class="btn btn-secondary create_fullscreen_hide" style="float:none;">Отмена</button>
              <button type="button" class="btn btn-success float-right" id="create_video_in_list_btn" data-uuid="{{ user.uuid }}" data-pk="{{ album.pk }}">Создать</button>
            </div>
        </div>
    </form>
