<div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
    <form action="" id="video_list_create">
      {% csrf_token %}
        <div class="card">
            <div class="card-header border-bottom">
                <h5 class="content-color-primary mb-0">Создание списка видео</h5>
            </div>
            <div class="card-body">
                  <div class="form-group">
                    <label>Название</label>
                    <input type="text" name="title" class="form-control" id="id_title">
                  </div>
                  <div class="form-group">
                    <label>Порядковый номер</label>
                    <input type="number" min="0" name="order" class="form-control" id="id_order">
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="is_public" class="custom-control-input" checked id="id_is_public">
                      <label class="custom-control-label" for="id_is_public">Виден всем</label>
                    </div>
                  </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-secondary create_fullscreen_hide" style="position: relative; top: -10px; left: -10px;">Отмена</button>
                <button type="button" class="btn btn-success float-right" id="create_video_list_btn">Создать</button>
            </div>
        </div>
    </form>
</div>
