{% extends "base.html" %}
{% load staticfiles liked_user %}
{% block title %}Фотоальбом {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}
{% block content %}

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-12 col-md-6">
            <h5 class="mt-1">{{ album.title }} - <a class="ajax" href="{% url 'user_gallery' pk=user.pk %}">галерея </a>
              <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=user.pk %}">{{ user.first_name|gent }} {{ user.last_name|gent }}</a>
            </h5>
            Фото: {{ album.photo_set.count }}
        </div>
    </div>
</div>

<div class="container mt-4 main-container">
    <div id="album_photo_load" style="width: 100%;"></div>
  </div>

<script defer src="{% static 'scripts/auth/gallery.js' %}" type="text/javascript"></script>
<script>
  $(document).ready(function() {$('#album_photo_load').html('').load("/gallery/user/album_list/" + "{{ user.pk }}/" + "{{ album.uuid }}/");});
</script>
{% endblock %}
