{% extends "base.html" %}
{% block title %}{{ album.title }} - мой альбом{% endblock %}
{% block content %}

<link rel="stylesheet" href="/static/styles/dropzone.css" />

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-12 col-md-6">
            <h5 class="mt-1">{{ album.title }}</h5>
            Фото: {{ album.count_photo }}
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 col-md-6">
                    <a href="{% url 'user_gallery' pk=user.pk %}" class="btn btn-outline-success ajax" style="margin-bottom:15px;width:100%" type="button">
                        Моя галерея
                    </a>
                </div>
                {% if not album.album_is_generic %}
                <div class="col-12 col-md-6">
                    <button class="u_photos_add btn btn-outline-success" class="btn btn-outline-success" style="margin-bottom:15px;width:100%" type="button">
                        Добавить фотографии
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 main-container">
    <div id="photos_add_window" style="display:none">
        <form method="post" action="{% url 'photo_album_add_user' album.pk user.uuid %}" class="dropzone">
            {% csrf_token %}
        </form>
        <br><br>
    </div>

      <div class="photo_list row" id="album_cont" data-uuid="{{ user.uuid }}" data-uuid2="{{ album.uuid }}">
        {% if object_list %}
        {% for object in object_list %}
        <div class="col-sm-12 col-md-6 col-lg-4 u_album_photo_detail" style="cursor:pointer"  data-pk="{{ object.pk }}">
          <div class="card rounded-0 border-0 mb-4">
            <img style="width: 100%;object-fit: cover;height: 200px;" class="lazyload" data-src="{{ object.file.url }}" alt="">
          </div>
        </div>
        {% endfor %}
        {% else %}
          <div class="card mb-4" style="align-items:center;justify-content:center;width:100%;">
            <div class="card-body">
              <svg fill="currentColor" class="thumb_big svg_default" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M22 13h-8v-2h8v2zm0-6h-8v2h8V7zm-8 10h8v-2h-8v2zm-2-8v6c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2zm-1.5 6l-2.25-3-1.75 2.26-1.25-1.51L3.5 15h7z"/></svg>
            </div>
            <h6 style="margin-bottom: 20px;"> Пока фотографий нет...</h6>
          </div>
        {% endif %}
      </div>
</div>
<script>
  var page = 2;
  var loaded = false;
  var flex = document.createElement('div');
  onscroll = function(){
    //try{
    var photos2 = document.getElementById("album_cont");
    if(photos2.querySelectorAll(".u_album_photo_detail").length === (page-1)*3){
    var height = document.documentElement.clientHeight-1;
    if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
      if (loaded){return};
      var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_3.open( 'GET', '/gallery/user/album/' + '{{ user.pk }}/{{ album.uuid }}/?page=' + page++, true );
      link_3.send();
      link_3.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        var elem = document.createElement('span');
        elem.innerHTML = link_3.responseText;
        var photos_list = elem.querySelector(".photo_list");
        if(photos_list.getElementsByClassName('u_album_photo_detail').length < 3){loaded = true;};
        flex.innerHTML = photos_list.innerHTML;
        photos2.append(flex);
        }
      }
    }}
  //}catch{return}
  }
</script>
{% include 'photo_user/album/dropzone.html' %}
{% endblock %}
