{% load liked_user %}

{% if comment_dislike.dislikes.all %}
<div class="comment_dislike_pop" style="margin:15px">
    <span>Не оценили: {{ comment_dislike.dislikes.count }} {{ comment_dislike.dislikes.count|rupluralize:"человек,человека,людей" }}</span>
    <br><br>
    <span style="display: flex;">
        {% for sheet in comment_dislike.dislikes.all %}
        <a href="{% url 'user' pk=sheet.user.pk %}" class="ajax" style="padding-right:10px">
            <figure style="margin: 0;">
              {% if sheet.user.profile.avatar %}
                <img src="{{ sheet.user.profile.avatar.url }}" style="border-radius: 50px;width:50px;" alt="image">
              {% else %}
                <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              {% endif %}
            </figure>
            {{ sheet.user.first_name }}
        </a>
        {% endfor %}
    </span>
</div>
{% endif %}
