{% load liked_user %}

<div class="media reply">
  {% include 'desctop/generic/user/reply_figure.html' %}
    <div class="media-body" style="overflow: inherit;">
        {% include 'base_block/comment/reply_el.html' %}

        <div class="">
            <div class="row">
                <div class="col" data-pk="{{ reply.pk }}">
                  <span class="like like2 btn_default" title="Нравится">
                    <svg class="svg_s_info" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"/><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"/></svg>
                    <span class="likes_count">{{ reply.likes_count }}</span>
                  </span>
                    <span class="comment_like_window">
                        {% if reply.window_likes %}
                        <div class="comment_like_pop">
                            <span class="comment_likes pointer">Оценили: <span data-count="like">{{ reply.likes_count }}</span> {{ reply.likes_count|rupluralize:"человек,человека,людей" }}</span>
                            <span style="display: flex;margin-top: 10px;">
                                {% for voter in reply.window_likes %}
                                  {% include 'desctop/generic/user/voter.html' %}
                                {% endfor %}
                            </span>
                        </div>
                        {% endif %}
                    </span>
                    <span class="dislike dislike2 btn_default" title="Не нравится">
                      <svg viewBox="0 0 24 24" class="svg_s_info" fill="currentColor"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"/><path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm0 12l-4.34 4.34L12 14H3v-2l3-7h9v10zm4-12h4v12h-4z"/></svg>
                      <span class="dislikes_count">{{ reply.dislikes_count }}</span>
                    </span>

                      <span class="comment_dislike_window">
                          {% if reply.window_dislikes %}
                          <div class="comment_dislike_pop">
                              <span class="comment_dislikes pointer">Не оценили: <span data-count="dislike">{{ reply.dislikes_count }}</span> {{ reply.dislikes_count|rupluralize:"человек,человека,людей" }}</span>
                              <span style="display: flex;margin-top: 10px;">
                                  {% for voter in reply.window_dislikes %}
                                    {% include 'desctop/generic/user/voter.html' %}
                                  {% endfor %}
                              </span>
                          </div>
                          {% endif %}
                      </span>
                </div>
            </div>
        </div>
    </div>
</div>
