
<span class="stream_comments comments_block_container">
  {% for comment in object_list %}
    {% if comment.is_deleted %}
      <div class="comment border-bottom">
        <p class="underline" style="display: flex; padding-left:10px;margin: 0;">Комментарий удален</p>
        <span style="cursor:pointer;" class="show_replies content-color-primary">
            {% if comment.count_replies %}
            ---- {{ comment.count_replies_ru }} ----
            {% endif %}
        </span>
        <span class="stream_reply_comments">
            {% for reply in comment.get_replies %}
              _
            {% endfor %}
        </span>
      </div>
    {% else %}
      {% include 'base_block/desctop/items/parent.html' %}
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <a class="pointer load_next_list_comments mt-1" data-link="comment/{{ item.pk }}/?page={{ page_obj.next_page_number }}">Показать еще комментарии</a>
  {% endif %}
</span>

<div>
  <form>{{ previx }}
      {% csrf_token %}
      <input type="hidden" name="item" value="{{ previx }}{{ item.pk }}">
      {% include 'base_block/comment/comment_form.html' %}
  </form>
</div>
