{% load liked_user %}

<div class="media reply">
    {% include 'desctop/generic/user/reply_figure.html' %}
    <div class="media-body" style="overflow: inherit;">
        {% include 'base_block/comment/reply_el.html' %}

        <div class="">
            <div class="row">
                <div class="col" data-pk="{{ reply.pk }}">
                    <span class="like like2 {% if reply.likes|user_in:request.user %}btn_success{% else %}btn_default{% endif %}" title="Нравится">
                        <svg class="svg_s_info" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"></path></svg>
                        <span class="likes_count">{% if reply.likes.count %}{{ reply.likes.count }}{% endif %}</span>
                    </span>

                    <span class="comment_like_window">
                        {% if reply.window_likes %}
                        <div class="comment_like_pop">
                            <span class="comment_likes pointer">Оценили: <span data-count="like">{{ reply.likes.count }}</span> {{ reply.likes.count|rupluralize:"человек,человека,людей" }}</span>
                            <span style="display: flex;margin-top: 10px;">
                                {% for voter in reply.window_likes %}
                                  {% include 'desctop/generic/user/voter.html' %}
                                {% endfor %}
                            </span>
                        </div>
                        {% endif %}
                    </span>

                    <span class="dislike dislike2 {% if reply.dislikes|user_in:request.user %}btn_danger{% else %}btn_default{% endif %}" title="Не нравится">
                        <svg viewBox="0 0 24 24" class="svg_s_info" fill="currentColor"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"></path><path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm0 12l-4.34 4.34L12 14H3v-2l3-7h9v10zm4-12h4v12h-4z"></path></svg>
                        <span class="dislikes_count">{% if reply.dislikes.count %}{{ reply.dislikes.count }}{% endif %}</span>
                    </span>

                    <span class="comment_dislike_window">
                        {% if reply.window_dislikes %}
                        <div class="comment_dislike_pop">
                            <span class="comment_dislikes pointer">Не оценили: <span data-count="dislike">{{ reply.dislikes.count }}</span> {{ reply.dislikes.count|rupluralize:"человек,человека,людей" }}</span>
                            <span style="display: flex;margin-top: 10px;">
                                {% for voter in reply.window_dislikes %}
                                  {% include 'desctop/generic/user/voter.html' %}
                                {% endfor %}
                            </span>
                        </div>
                        {% endif %}
                    </span>

                    {% if request.user.pk == object.creator.pk %}
                    <span class="owner_comment_delete btn_default" style="margin-right:7px" flow="up" tooltip="Удалить">
                      <svg class="svg_s_info" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5z"/></svg>
                    </span>
                    {% elif request.user.pk == reply.commenter.pk %}
                    {% if not reply.sticker %}
                      <span class="comment_edit btn_default pointer" style="margin-right:7px" flow="up" tooltip="Редактировать">
                        <svg class="svg_s_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg>
                      </span>
                    {% endif %}
                      <span class="comment_delete btn_default pointer" style="margin-right:7px" flow="up" tooltip="Удалить">
                        <svg class="svg_s_info" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5z"/></svg>
                      </span>
                    {% elif request.user.is_post_manager %}
                      <span class="comment_close btn_default pointer" style="margin-right:7px" flow="up" tooltip="Закрыть">
                          <svg class="svg_s_info" fill="currentColor" viewBox="0 0 24 24">
                              <path d="M0 0h24v24H0z" fill="none" />
                              <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM4 12c0-4.42 3.58-8 8-8 1.85 0 3.55.63 4.9 1.69L5.69 16.9C4.63 15.55 4 13.85 4 12zm8 8c-1.85 0-3.55-.63-4.9-1.69L18.31 7.1C19.37 8.45 20 10.15 20 12c0 4.42-3.58 8-8 8z" /></svg>
                      </span>
                    {% else %}
                      <span class="comment_claim btn_default pointer" style="margin-right:7px" flow="up" tooltip="Пожаловаться">
                        <svg class="svg_s_info" viewBox="0 0 24 24" fill="currentColor"><path d="M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/></svg>
                      </span>
                    {% endif %}

                    <span class="commenter_first_name" style="display:none">{{ reply.commenter.first_name }}</span>
                    <span flow="up" tooltip="Ответить" class="content-color-secondary reply_comment" style="font-size:15px;cursor:pointer">
                      <svg class="svg_s_info" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/></svg>
                    </span>

                    <div style="display:none;margin-left:-50px;">
                      <form>
                          {% csrf_token %}
                          <input type="hidden" name="comment" value="{{ comment.pk }}">
                          {% include 'base_block/comment/reply_parent_form.html' %}
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
