
<div class="card mb-3 pag" data-uuid="{{ object.uuid }}" data-pk="{{ object.community.pk }}">
  <div class="card-header">
      <div class="media">
        {% include 'desctop/generic/community/object_figure.html' %}
          <div class="media-body">
              <h6 class="mb-0">
                {% include 'desctop/generic/community/object.html' %}
              </h6>
              <p class="mb-0">{{ object.get_created }}</p>
          </div>
          <div class="dropdown d-inline-block">
              <a class="icon-30 btn_default drop pointer">
                <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <span class="dropdown-item">Скопировать ссылку</span>
                  <span class="dropdown-item post_claim">Пожаловаться</span>
              </div>
          </div>
      </div>
  </div>

    <div class="fullscreen text_support pointer">
      {{ object.text|safe }}
    </div>

    <span class="post_attach_panel">
      {% include object.get_c_attach_items_desctop %}
    </span>

  {% include 'desctop/posts/post_community/info.html' %}

</div>
