{% extends "base_anon_mobile.html" %}
{% block title %}{{ community.name }}{% endblock %}
{% block content %}

{% include 'mobile/communities/detail_sections/cover.html' %}

<div class="container mt-3 pk_saver" data-pk="{{ community.pk }}">
  <div class="card mb-3" style="padding:10px">
    {% include 'mobile/communities/detail_sections/avatar_open.html' %}

    {% include 'mobile/communities/detail_sections/description.html' %}
  </div>

  {% if membersheeps %}
  <div class="card mb-3">
      <div class="card-body py-2">
          <div class="media">
              <div class="media-body">
                <a href="{% url 'community_members' pk=community.pk %}" class="ajax">
                  <h6 class="my-0 text-truncated">{{ community.count_members_ru }}</h6>
                </a>
                <a class="">
                  <p class="small">Перейти</p>
                </a>
              </div>
              {% for user in membersheeps %}
                {% include 'mobile/generic/user/figure.html' %}
              {% endfor %}
          </div>
      </div>
  </div>
  {% endif %}

  {% include 'mobile/communities/detail_sections/stat.html' %}

  {% include 'mobile/communities/lenta/anon_fixed_posts.html' %}

  {% include 'mobile/communities/detail_sections/post_lists.html' %}

  <div class="is_community_post_paginate mt-3"></div>

</div>
{% endblock %}
