{% extends "base_anon_mobile.html" %}
{% block title %}{{ community.name }}{% endblock %}
{% block content %}

{% include 'mobile/communities/detail_sections/cover.html' %}

<div class="container main-container mt-3 pk_saver community_container" data-pk="{{ community.pk }}">
  <div class="card mb-3" style="padding:10px">
    {% include 'mobile/communities/detail_sections/avatar_open.html' %}

    {% include 'mobile/communities/detail_sections/description.html' %}
  </div>

  {% if is_member_open %}
    {% include 'mobile/communities/detail_sections/membersheeps.html' %}
  {% endif %}

  {% include 'mobile/communities/detail_sections/stat.html' %}

  <div class="is_community_post_paginate mt-3 post_view_generator" list-pk="{{ post_list_pk }}"></div>

</div>
{% endblock %}
