{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="dvizhenie.tv" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://http://xn--b1afgj5al1e.xn--p1acf/{% static 'images/I.jpg' %}" />
{% endblock %}
{% block content %}

<div class="container-fluid bg-light-opac">
    <div class="row">
        <div class="container my-3 main-container">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="content-color-primary page-title">Social</h2>
                    <p class="content-color-secondary page-sub-title">Creative, amazing, awesome and unique</p>
                </div>
                <div class="col-auto">
                    <button class="btn btn-rounded pink-gradient text-uppercase" data-toggle="modal" data-target="#createOrder"><i class="material-icons">add</i> <span class="text-hide-xs">Profile Edit</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
