<div class="card mb-4">
          <div class="card-body">
              <div class="tab-content">
                  <div class="tab-pane fade active show">
                      <p class="mb-0 f-sm">
                        {% for list in lists %}
                          <h4>{{ list.name }}</h4>
                          {% for smile in list.get_smiles %}
                            <img class="pointer" style="width: auto;" src="{{ smile.image.url }}"  alt="{{ smile.name }}">
                          {% endfor %}
                        {% endfor %}
                      <p>
                  </div>
                  <div class="tab-pane fade">
                      <p class="mb-0 f-sm">tab 1></p>
                  </div>
                  <div class="tab-pane fade">
                      <p class="mb-0 f-sm">Tab 3</p>
                  </div>
              </div>
          </div>
          <div class="card-footer border-top tabs-footer">
              <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active show">
                        <svg viewBox="0 0 24 24" class="svg_default pointer svg_info px-1 rounded-0 message_dropdown" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"></path><circle cx="15.5" cy="9.5" r="1.5"></circle><circle cx="8.5" cy="9.5" r="1.5"></circle><path d="M12 16c-1.48 0-2.75-.81-3.45-2H6.88c.8 2.05 2.79 3.5 5.12 3.5s4.32-1.45 5.12-3.5h-1.67c-.7 1.19-1.97 2-3.45 2zm-.01-14C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path></svg>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link">
                          стикер
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link">
                          стикер
                      </a>
                  </li>
              </ul>
          </div>
      </div>
