
<div class="card mb-4">
  <div class="row">
    <div style="flex: 0 0 80%;max-width:80%;padding:5px;">
        <h5 class="btn btn-sm border u_track_add" style="width: -webkit-fill-available;">Добавить аудиозапись</h5>
    </div>
    <div style="flex: 0 0 20%;max-width:20%;padding:5px;">
    </div>
  </div>

  <div class="card-body">
    <div class="media mt-3" style="padding-left: 7px;">
        <h5 class="mt-1" style="flex: 1;">Плейлисты</h5>
    </div>
    <div class="row no-gutters mb-2" style="overflow-x: auto;">
        <div class="col-12">
            <ul style="width:max-content;list-style: none;" class="is_block_paginate">
                {% for object in get_lists %}
                <li class="list_item">
                    <div class="card file-manager-item folder cover_block border" data-uuid="{{ object.uuid }}">
                        <div class="card-img-top file-logo-wrapper">
                          <span>
                          <svg class="load_attach_playlist pointer list_toggle list_svg svg_default" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder">
                            <path d="M9 18V5l12-2v13"></path><circle cx="6" cy="18" r="3"></circle><circle cx="18" cy="16" r="3"></circle>
                          </svg>
                          </span>
                        </div>
                        <div class="card-body pt-0">
                            <div class="content-wrapper">
                                <p class="card-text file-name mb-0 list_name load_attach_playlist pointer list_toggle" style="text-align: left;" data-name="{{ object.name }}">{{ object.name }}</p>
                                <p class="card-text file-size mb-0 count">{{ object.count_items }}</p>
                            </div>
                            {% if object.is_not_empty %}
                            <small class="file-accessed pointer underline music_attach_list" data-pk="{{ object.pk }}">Прикрепить плейлист</small>
                            {% else %}
                              <p style="margin-bottom: 18px;"></p>
                            {% endif %}
                          </div>
                    </div>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <div class="load centered m-1 next_page_list" data-link="/users/load/u_music_load/?page={{ page_obj.next_page_number }}">
                    <img src="/static/images/preloader.gif">
                </div>
                {% endif %}
            </ul>
        </div>
    </div>

<span class="load_block">
{% if object_list %}
<div style="padding-bottom:10px;display: flex; flex-wrap: wrap;" class="is_load_paginate" data-link="/users/load/u_music_load/">
{% for object in object_list %}
<div class="list-group-item" style="width:80%">
  <div style="display:flex" music-pk="{{ object.pk }}" music-counter="{{ object.order }}">
      <figure>
        <a class="pointer music_list_item">
        {% if object.artwork_url %}
          <img style="width:30px;heigth:auto" src="{{ object.artwork_url.url }}" alt="img" />
        {% else %}
          <svg fill="currentColor" style="width:30px;heigth:30px" class='svg_default' viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"/></svg>
        {% endif %}
        </a>
      </figure>
      <div class="media-body" style="padding-top: 5px; padding-left: 5px;margin-right:40px">
          <h6 class="music_list_item pointer">
            <a style="white-space: nowrap;">{{ object.title }}</a>
          </h6>
      </div>
  </div>
  <span class="border item_attach_circle music_load_several"
       tooltip="Выбрать несколько"
       flow="up">
       <svg fill="currentColor" viewBox="0 0 24 24">
         <path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z"/>
       </svg>
  </span>
</div>
  {% endfor %}
  {% if page_obj.has_next %}
  <div class="load centered m-1 next_page_list" data-link="/users/load/u_music_load/?page={{ page_obj.next_page_number }}">
      <img src="/static/images/preloader.gif">
  </div>
  {% endif %}
</div>
{% else %}
<div class="card mb-3 centered">
  <h5 style="text-align: center;margin: 20px;"> Список аудиозаписей пустой.</h5>
</div>
{% endif %}
</span>
</div>
</div>
