
<div class="card mb-4">
  <div class="row">
    <div style="flex: 0 0 80%;max-width:80%;padding:5px;">
      <form class="btn btn-sm border" style="width: -webkit-fill-available;">
        {% csrf_token %}
        <input type="file" id="u_photo_comment_attach" name="file" style="display:none" multiple="multiple">
        <h5 class="mb-0 previous_click">загрузить (до 2)</h5>
      </form>
    </div>
    <div style="flex: 0 0 20%;max-width:20%;padding:5px;">
    </div>
  </div>

  <div class="card-body">
    <div style="padding-left: 7px;">
        <h5>Фотоальбомы</h5>
    </div>
    <div class="row no-gutters mb-2" style="overflow-x: auto;">
        <div class="col-12" style="margin-bottom: 10px;">
            <ul class="gallery_ul" style="width:max-content;list-style: none;">
              <li class="list_item">
              <div class="text-center bg-dark position-relative active_border" data-uuid="{{ list.uuid }}">
                <figure class="background-img">
                  <img src="{{ list.get_cover_photo }}">
                </figure>
                <div class="container p-3" style="margin-bottom: 1rem !important">
                  <h6 class="text-white">
                    <span class="nowrap list_toggle">{{ list.name }}</span>
                  </h6>
                  <span class="text-white count">{{ list.count_items_ru }}</span>

                  <hr style="margin-bottom: 3rem !important">
                  <span class="photo_attach_list pointer text-white underline nowrap" data-pk="{{ list.pk }}">
                    Прикрепить альбом
                  </span>
                </div>
              </div>
            </li>
                {% for object in get_lists %}
                <li class="list_item">
              <div class="text-center bg-dark position-relative border" data-uuid="{{ object.uuid }}">
                <figure class="background-img">
                  <img src="{{ object.get_cover_photo }}">
                </figure>
                <div class="container p-3">
                  <h6 class="text-white">
                    <span class="pointer nowrap list_toggle load_attach_photo_list">{{ object.name }}</span>
                  </h6>
                  <span class="text-white count">{{ object.count_items_ru }}</span>

                  <hr style="margin-bottom: 3rem !important">
                  <span class="photo_attach_list pointer text-white underline nowrap" data-pk="{{ object.pk }}">
                    Прикрепить альбом
                  </span>
                </div>
              </div>
            </li>
                {% endfor %}
            </ul>
        </div>
    </div>

<span class="load_block">
{% if object_list %}
<div style="margin-top: 20px;padding-bottom:10px;display: flex; flex-wrap: wrap;" class="is_block_paginate">
  {% for object in object_list %}
  <div class="pointer u_load_photo_detail">
    <div class="progressive replace" data-href="{{ object.file.url }}" photo-pk="{{ object.pk }}" data-pk="{{ request.user.pk }}">
        <img class="image_fit_200 photo_load_one preview pointer" src="{{ object.get_preview }}" alt="img">
    </div>
      <span class="item_attach_circle photo_load_several"
           tooltip="Выбрать несколько"
           flow="up">
           <svg fill="currentColor" viewBox="0 0 24 24">
             <path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z"/>
           </svg>
      </span>
  </div>
    {% endfor %}
    {% if page_obj.has_next %}
    <div class="load centered m-1 next_page_list" data-link="/users/load/u_img_comment_load/?page={{ page_obj.next_page_number }}">
        <img src="/static/images/preloader.gif">
    </div>
    {% endif %}
</div>
{% else %}
<div class="card mb-3 centered items_empty">
  <div class="card-body">
  <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-4.86 8.86l-3 3.87L9 13.14 6 17h12l-3.86-5.14z"/></svg>
  </div>
  <h6> Фотоальбом пока пустой...</h6>
</div>
{% endif %}
</span>
</div>
</div>
