<span class="load_block">
{% if object_list %}
<div style="padding-bottom:10px;display: flex; flex-wrap: wrap;" class="is_block_paginate">
{% for object in object_list %}
<div class="col-md-6 mb-3" data-pk="{{ object.pk }}">
  <div>
      <img class="image_fit_200 video_load_one pointer"
           video-counter="{{ object.order }}"
           video-pk="{{ object.pk }}"
           src="{{ object.get_image }}" alt="img">
  </div>
  <span class="item_attach_circle video_load_several"
       tooltip="Выбрать несколько"
       flow="up">
      <svg fill="currentColor" viewBox="0 0 24 24">
        <path d="M24 24H0V0h24v24z" fill="none"/><circle cx="12" cy="12" r="8"/>
      </svg>
  </span>
  <div class="card-body">
    <h5 class="text-truncate w-100">{{ object.title }}</h5>
    <span class="small">{{ object.get_created }} | {{ object.visits_count_ru }}</span>
  </div>
</div>
  {% endfor %}
  {% if page_obj.has_next %}
  <div class="load centered m-1 next_page_list" data-link="/users/load/u_video_list_load/{{ list.uuid }}/?page={{ page_obj.next_page_number }}">
      <img src="/static/images/preloader.gif">
  </div>
  {% endif %}

</div>
{% else %}
<div class="card mb-3 centered">
  <h5 style="text-align: center;margin: 20px;"> Список видеозаписей пустой.</h5>
</div>
{% endif %}
</span>
