
<style>
  .good_fullscreen_hide{cursor:pointer;float: right;margin-top: 12px;}
  #image-holder,#image-holder2,#image-holder3,#image-holder4,#image-holder5 {border: 2px dashed #FF0000;color: rgba(0, 0, 0, 0.8);padding: 10px;text-align: center;margin: 20px;cursor:pointer;width: 85%;min-width: 85%;}
  #image-holder img,#image-holder2 img,#image-holder3 img,#image-holder4 img,#image-holder5 img {width: 85%;height: auto;}
</style>

<br>
<h5 class="m-0">Добавление товара</h5>
<br><br>

<form action="" id="FORM-GOOD" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group row">
        <label>Название товара (обязательно)</label>
        <input type="text" required name="title" class="form-control" id="id_title">
        <label>Цена товара</label>
        <input type="number" required name="price" class="form-control" id="id_price">
    </div>
    <div class="form-group row">

        <label>Категория</label>
        <select class="form-control" id="category" data-live-search="true" tabindex="-1" aria-hidden="true">
          {% for object in categories %}
          <option value="">Выберите категорию</option>
          <option data-order="{{ object.order }}" value="{{ object.order }}">{{ object.name }}</option>
          {% endfor %}
        </select>
        <div id="subcat"></div>
        <label style="margin-top: 12px;">Описание товара</label>
        <textarea type="text" rows="4" name="description" class="form-control" id="id_description"></textarea>

        <br>
        <div class="hide_image">{{ form.image }}</div>
        <div id="image-holder">
            <h4 style="font-weight:bold;font-size:65px;color:#CECECE">фото</h4>
            <p>Нажмите, чтобы добавить</p>

            <i style="">(обязательно)</i>
        </div>
    </div>
    <div class="form-group row">
      <div style="flex: 0 0 25%;max-width:25%;padding:5px;">
        <div class="hide_image">{{ form.image2 }}</div>
        <div id="image-holder2">
            <h4 style="font-weight:bold;font-size:30px;color:#CECECE">фото 2</h4>
            <p>Нажмите, чтобы добавить</p>
        </div>
      </div>
      <div style="flex: 0 0 25%;max-width:25%;padding:5px;">
        <div class="hide_image">{{ form.image3 }}</div>
        <div id="image-holder3">
            <h4 style="font-weight:bold;font-size:30px;color:#CECECE">фото 3</h4>
            <p>Нажмите, чтобы добавить</p>
        </div>
      </div>
      <div style="flex: 0 0 25%;max-width:25%;padding:5px;">
        <div class="hide_image">{{ form.image4 }}</div>
        <div id="image-holder4">
            <h4 style="font-weight:bold;font-size:30px;color:#CECECE">фото 4</h4>
            <p>Нажмите, чтобы добавить</p>
        </div>
      </div>
      <div style="flex: 0 0 25%;max-width:25%;padding:5px;">
        <div class="hide_image">{{ form.image5 }}</div>
        <div id="image-holder5">
            <h4 style="font-weight:bold;font-size:30px;color:#CECECE">фото 5</h4>
            <p>Нажмите, чтобы добавить</p>
        </div>
      </div>
    </div>
    <br>

    <div class="form-group ">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" checked class="custom-control-input" name="comments_enabled" id="id_comments_enabled">
            <label class="custom-control-label" for="id_comments_enabled">Разрешить комментарии</label>
        </div>
    </div>

    <div class="card-footer">
        <button class="btn btn-secondary remove_form">Отмена</button>
        <button type="submit" id="article_post" class="btn btn-success float-right">Опубликовать</button>
    </div>
</form>
