
    <form id="post_list_form" data-list="pos{{ list.pk }}" community-pk="{{ list.community.pk }}" data-pk="{{ list.pk }}" class="is_stat_list" data-type="edit_community_post_list">
      {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header border-bottom">
                <h5 class="content-color-primary mb-0">Изменение списка записей</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Название</label>
                    <input type="text" value="{{ list.name}}" name="name" id="id_name" class="form-control">
                </div>
                <div class="form-group">
                  <label>Описание</label>
                  <input name="description" value="{{ list.description }}" class="form-control">
                </div>
                {% include 'base_block/perm/edit_community_list_comment_perm.html' %}
            </div>
            <div class="card-footer">
                <button class="btn btn-sm border this_mob_fullscreen_hide">Отмена</button>
                <button type="button" class="btn btn-sm btn-success float-right" id="c_edit_post_list_btn">Сохранить</button>
            </div>
        </div>
    </form>
