{% extends "base.html" %}
{% load staticfiles liked_user %}
{% block title %}Мои фотографии{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/dropzone.css' %}" />

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="mt-1">Мои альбомы</h5> {% if not user.is_album_exists %}- пока нет{% endif %}
        </div>
        <div class="col-12 col-md-4">
          <button id="albums_add" data-uuid="{{ user.uuid }}" class="btn btn-outline-success" style="margin-bottom:15px;width:100%" type="button">
            Добавить альбом
          </button>
        </div>
    </div>
</div>

<div class="container mt-4">
      <div id="albums_load"></div>
</div>

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="mt-1">Мои фотографии</h5>
            Фото: {{ user.count_photos }}
        </div>
        <div class="col-12 col-md-4">
          <button id="photos_add" class="btn btn-outline-success" style="margin-bottom:15px;width:100%" type="button">
            Добавить фотографии
          </button>
        </div>
    </div>
</div>

<div class="container mt-4 main-container">
    <div id="photos_add_window" style="display:none">
        <form id="add-photos" method="post" action="{% url 'photo_add_user' user.uuid %}" class="dropzone">
            {% csrf_token %}
        </form>
        <br><br>
    </div>
      <div id="photo_load" style="width: 100%;"></div>
  </div>

<script>
  $(document).ready(function() {
      $('#albums_load').html('').load("/gallery/user/albums/" + "{{ user.uuid }}");
      $('#photo_load').html('').load("/gallery/user/photos/" + "{{ user.uuid }}");
  });
</script>

{% include 'photo_user/gallery/dropzone.html' %}
{% endblock %}
