
<div class="row">
<div class="col-12 col-md-8">
<br><br><br>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Поиск сообщений" aria-label="Recipient's username">
  <div class="input-group-append">
    <button class="btn btn-outline-link" type="button">Искать</button>
  </div>
</div>

  Много нового сразу

  Здравствуйте, дорогие друзья!

Снова в течении месяца я не подавал никаких вестей о ходе реализации соцсети для счастливых людей. Это обусловил цейтнот времени, при котором максимальное время уходит на строительство сайта, а другие сферы жизни, в том числе и освещение этого процесса, недополучают внимания. Наверное, так нельзя, и я подумываю скидывать в группу побольше материалов. На этом покончу с прелюдией и перейду к сути: мне есть что вам рассказать, ибо за месяц проведена огромная творческая и техническая работа.

1. Эффективность времени в сети
Недавно у меня спросили: каким образом можно будет проверить качество проведенного в сети времени? Создал человек там профиль и решил заняться просветительской работой, продвигать свое творчество, и т.п. Основал сообщество, чтобы нести какие-то смыслы в общество. Как узнать эффективность его работы?

Я оценил практичность спросившего, он прав! Ключевой смысл любых действий — обратная связь, желательно и автоматическая. А значит, просмотры.

В результате я реализовал систему просмотров, которая работает аналогично контактовским, только с важными нюансами. В моей сети нельзя накрутить рейтинг, так как просмотры учитываются строго по профилям пользователей. Если 10 профилей посмотрят запись n-ное количество раз, отобразится 10 просмотров, и никак иначе. Засчитываться будут только те записи, видео, статьи, и т.д., которые попадут в поле дисплея Вашего устройства.

В связи с этим продуманы способы хранения таких данных, коих может оказаться множество. К примеру, триллионы.

Важно отметить: можно будет увидеть исключительно количество просмотров. Кто и что посмотрел персонально — будет не узнать. Более того, я продумываю технологию, которая позволит скрыть подробные детали не только от управляющего состава, но и от меня.

2. Статистика активности пользователей
Из просмотров логически происходит возможность и нужность организации статистики пользователя и сообщества. Подобные данные реализованы и в отношении записей, статей, видеороликов и т.д. (можно будет посмотреть города увидевших, ранжирование по полу и возрасту).

В контакте существуют странные понятия касательно тех, кому можно давать такие возможности, а кому нет. Я же дам эти инструменты всем пользователям, что более справедливо.

Градация временных рамок и качества сбора информации будет похожа на прочие большие соцсети: увидеть можно будет графики просмотров по охвату и географии, полу и возрасту, типу оборудования и активности. Также будут показаны уникальные и все просмотры по таким же принципам. Градация: по дням, неделям, месяцам, годам, выбранному периоду.

Такие данные, безусловно, понравятся людям (из всех моих опрошенных никто не огорчился, скорее, наоборот), но будут означать сбор дополнительных сведений о человеке. Страна, регион, город, тип оборудования будут асинхронно собираться и записываться. Ничего страшного здесь нет, так как другие сайты все это также собирают. Сайт, на котором Вы читаете эту статью, собирает и побольше, однако никого особенно не пугает.

Конечно, можно было и удовлетвориться теми городами, которые пользователь сам внесет в профиль, но тогда ценность и точность статистики эффективности Вашей деятельности будет смешная. К Вам заходили из Диснейленда и Города Солнца, ага.

Введение возраста нужно для ограничений содержимого от детей разного возраста, родительского контроля (об этом позднее) и т.п.

Таким образом, можно выводить списки пользователей по популярности, количеству подписчиков, активности. Со списками друзей и своих сообществ будет еще интереснее: они будут выводиться в зависимости от своей популярности именно у Вас.

3. Мобильный вид и «нет ботам»
Сайт научился автоматически определять вид Вашего оборудования, а значит, появилась возможность прямо в базе данных рассчитывать по алгоритмам (этих данных и Ваших полномочий) шаблон, который Вы увидите. Прелесть такого подхода в том, что теперь можно сделать облегченную мобильную версию сайта, которая будет быстрее и удобнее обычного резинового дизайна от Bootstrap. Минус в удваивании работы по дизайну, но если бы я боялся лишней работы, тогда вообще бы не лез в такое дело.

Теперь можно запросто рассчитывать множество разрешений и нюансов с внушающей восторг скоростью. Если Вы — модератор сообщества, то алгоритм даст шаблон страницы, на которой не будет ничего лишнего, чего не нужно именно в этой роли.

Теперь по поводу ботов. Сколько я не рыскал по сетям, но не сумел отыскать много полезных ботов. Они, конечно, есть, но в большинстве своем «заточены» под деструктивную деятельность, поэтому я использовал полученные знания о оборудовании гостей сети и решил не пускать тех, кто является ботом. Думаю, «воздух» будет «чище» без подобной автоматики. Если же меня убедят в их безусловной пользе, то обещаю задуматься.

4. Родительский контроль
Соцсеть должна защищать от негативной информации всех ее пользователей, а особое внимание в этом вопросе заслуживают дети. Необходимо разработать правильный подход к этой непростой задаче. Передумано множество мыслей на этот счет. Вот самая популярная мысль:

В соцсеть вводится понятие электронной семьи: родители, дети, и т.д. В отношении профилей и сообществ вводится дополнительная проверка деятельности, по желанию последних. Если информация оказывается полезной, воспитывающей правильные качества характера, нравственной, тогда сообщество или пользователь получают зеленую галочку. Пользователи, которые определены как «дети», могут видеть и подписываться только на такие страницы. Лучше проверять эти страницы раз в год, для подстраховки. «Родителю» же можно предоставить дополнительную информацию о поведении «ребенка» в соцсети. Можно даже разработать календарь, по которому профиль будет доступен «ребенку». Например, пользоваться можно раз в день, с 18 до 19 вечера.

Идея родительского контроля пока еще шлифуется в моем воображении. Если у Вас есть идеи, как получше организовать это, я с удовольствием выслушаю их. Разумеется, внедрение в будущем нейронных сетей, блокирующих деструктивный контент, существенно усилит эффект защиты, но я пока не владею этими технологиями, хотя это также в планах.

В соцсети будут допускаться ограничения по возрасту, что отнюдь не значит возможность поощрения пошлого или шокирующего содержания. Просто некоторые сообщества могут заниматься самыми маленькими, и возрастные рамки можно будет использовать для грамотного продвижения информации нужной аудитории. Если же будут обсуждаться взрослые темы, то выставление возрастных рамок отсеет страницу от детей более малых лет.

5. Строгая верификация пользователя
Вышеизложенное вполне логично предполагает усиление профиля пользователя. Задуманная ранее технология — подтверждение личной почты — недостаточно хорошо будет охранять соцсеть от возможной диверсии, а самих пользователей от соблазна иметь много профилей. Система родительского контроля и строгая модерация в любом случае предполагают самый последний способ подтверждения страницы пользователя. Речь идет о использовании личного номера телефона. Пришлось разбираться и в этом также, ибо в таком ответственном деле нельзя продешевить или оправдать недостаточную продуманность ленью или недостатком времени.

После некоторых хлопот был выбран самый умеренный по средствам метод подтверждения номера телефона — звонок с виртуальной АТС. Подтверждение по смс мне пока что недоступно в силу дороговизны, в будущем скорее всего также будет подключено.

И снова был переосмыслен и переделан принцип реализации прав пользователя. Теперь аноним (который вполне может существовать в сети в ознакомительных целях) при регистрации вводит Имя, Фамилию, Пароль, Подтверждение пароля. После этого от перенаправляется на страницу верификации профиля по телефону. В это время соцсеть уже знает, что Вы находитесь, к примеру, в России, и предлагает ввести номер с цифры после «7». Когда номер введен и нажата кнопка «Получить код», появляются дополнительные инструкции, Вам звонит номер. Последние 4 цифры этого номера и есть Ваш код подтверждения». Когда Вы вводите код, и он совпадает с проверочным (конечно, если номер не участвовал в регистрации ранее), Вы перенаправляетесь на Вашу страницу. Далее все по классике: пояснения, подсказки, и т.д. Выяснение Вашего местоположения уже начинает предлагать Вам друзей по месту жительства. Взаимодействия начинаются…

Теперь Ваш ребенок не так легко сможет видеть в сети информацию, не предназначенную ему. Полной изоляции так не достичь, но уже поинтереснее, согласитесь.

6. Режим анонима
Правила хорошего тона по отношению к гостям также усиливает сложность разработки. Любой гость должен иметь право посмотреть страницы сайта в урезанной версии для анонимов. Урезанной она считается из-за исключения из нее всего лишнего (это вообще мой девиз в разработке). Управляющие скрипты, скрытые страницы, закрытые и приватные сообщества — это буде недоступно. Пользование мультимедиа, сообщения, и т.д. конечно тоже. Пожаловаться и взаимодействовать со службой поддержки анонимы смогут.

Если аноним зарегистрируется и не подтвердит свой номер, он вообще будет везде видеть только страницу верификации номера. Выйдя с аккаунта, он снова станет анонимом.

7. Чистые скрипты
В прошлой статье я очень кратко описал свое намерение отказаться от плагинов js, которые замедляли работу программ сайтов. Количество скриптов не остановило меня, и работа по написанию чистого кода js продолжается параллельно и по сей день.

Эффект превосходит все ожидания. К примеру, я написал программу, подгружающую в отдельные блоки другие страницы на чистом языке. Раньше она работала через jquery и самописную ajax.js, взятую от плагина bjax.js. То есть Вы слушаете музыку в окне сверху, а по страницам перемещаетесь в основном блоке, и музыка не прерывается, так как этот блок не перезагружается. Чистый код позволил добиться скорости переключения страниц как в контакте. Я моргнуть не успеваю, с такой скоростью все работает. Конечно, это все мотивирует несказанно, и есть на что — такая система в упор не видит скрипты в подгружаемых окнах, поэтому работа добавляется по перепланировке программ.

8. Введение мультиязычности
Параллельно я перевожу основные надписи соцсети на 45 языков. Нашлись желающие пользоваться английским, украинским, китайским языками. А, поскольку я полумеры не приемлю в принципе, вводятся все популярные языки, в классическом представлении.

Можно было пойти еще дальше и дать возможность переводить записи и подобное на другие языки, как сейчас становится модно, но я решил оставить в покое такие изыски.

9. Около-социальные модули
Наталкивался я на группы знакомств, где создавалась атмосфера доброты и нравственности, не допускались фашистские замашки феминистов обоих полов. Даже можно хорошей энергией зарядиться, почитав пару анкет. Также я знаю, что многие сети внедряют партнерские службы знакомств, и в них заключена большая сила. А ведь есть много хороших людей, которые хотят найти достойную половинку для серьезных отношений.

Эти группы не особенно меня восприняли, да и не нужно, и так помогли. Ведь они своей деятельностью натолкнули на мысли.

Вот и думается создать похожие партнерские службы знакомств. Конечно, есть и другие сферы жизни, и много. Мастера на все руки, профессионалы в других областях, духовные лидеры… Пользователи соцсети смогут подключать такие службы и давать разрешение на работу со своими именем и фамилией, возрастом, и в таком духе. Эти приложения смогут взаимодействовать с пользователями, и таким образом усиливать социальную жизнь нового уровня, связывать и знакомить хороших людей, которым давно пора объединиться в один монолит.

Естественно, прорабатываются пути мягкой силы, направленной на укрепление нравственности. Чтобы действовало «охмурение наоборот». Зашел не совсем проснувшийся человек в такое общество, и затянуло его. Ведь жить счастливо гораздо веселее, чем страдать и предаваться другим нехорошим чувствам.

Собственно, на этом заканчиваю статью. Я постарался как можно лаконичнее и резоннее накидать кучу информации, которая произросла из месяца напряженной работы. Если у Вас есть какие-нибудь идеи, если Вы хотите поучаствовать в деле создания и работы нравственной сети — я всегда рад сотрудничать!

... дополнение напоследок
С особым рвением проверяется соцсеть ВК, так как я считаю ее организацию особенно приемлемой. Если бы к такой удобной и приятной обертке прилагалось пристойное содержимое, я бы занимался каким-нибудь другим делом. Но, увы, это не так.

Присматриваясь к деталям, я заметил, что изрядное количество мелочей и дополнений даже в таком продуманном сервисе недоработано или вообще имеет странный смысл. Это как показывать статистику профиля только тем, у кого больше 100 подписчиков, будто в других случаях Ваша деятельность в этой сети не имеет ценности.

Так вот, присмотрелся я к статистике ВК и крайне удивился. Оказывается, Вам показывают географию гостей страницы профиля не по реальным координатам пользователей, а по полю «Город», которое заполняется ими.

И ладно бы, если бы это было сделано из принципа собирать поменьше данных о нас. Рекламный модуль прекрасно знает мое местонахождение и показывает мне бизнес-посты по Р.Коми, где я и нахожусь. Тем не менее, в статистике географии люди увидят не мой реальный город, а тот, который я укажу сам.

И какой смысл тогда показывать детали географии гостей профиля или сообщества, если точных данных Вам не узнать? Прилагаю скрин городов России, с которых ко мне зашли вчера до обеда. Каюсь, я нарочно искал город «Кладбище», чтобы быть до конца справедливым в таком негативном отзыве.

Постараюсь выкладывать идеи, скрины, видео страниц соцсети трезвый.рус почаще.

Всем удачи и счастья!
</div>

<div class="col-12 col-md-4">
  <br><br><br>

</div>
</div>
