<div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
    <form id="soundcloud_set_form">
      {% csrf_token %}
        <div class="card">
            <div class="card-header border-bottom">
                <h5 class="content-color-primary mb-3">Добавление списка Soundcloud</h5>
                <p>Добавление плейлиста с Souncloud в этот список</p>
            </div>
            <div class="card-body">
                  <div class="form-group">
                    <label>Ссылка на плейлист Soundcloud</label>
                    <input type="text" name="permalink" id="id_permalink"class="form-control">
                  </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-secondary create_fullscreen_hide" style="position: relative; top: -10px; left: -10px;">Отмена</button>
                <button type="button" class="btn btn-success float-right" id="soundcloud_set_btn">Создать</button>
            </div>
        </div>
    </form>
</div>
