{% load staticfiles %}

<div class="container-fluid mt-4">
    <div class="carosel">
        <div data-space-between="0" data-slides-per-view="auto" class="swiper-container swiper-init swiper-story">
            <div class="swiper-wrapper">
                <div class="swiper-slide ">
                    <figure class="story-img"><img src="{% static 'images/news_small1.jpg' %}" alt=""></figure>
                    <div class="media">
                        <figure class="avatar avatar-30 mr-2">
                            <img src="{% static 'images/user1.png' %}" alt="Generic placeholder image">
                        </figure>
                        <div class="media-body ">
                            <p class="mb-0 text-hide-xs"><span class="content-color-primary">johnmcmohan</span>
                                <br><small>The large tigerroof</small></p>
                        </div>
                        <button class="btn btn-link btn-sm px-0">
                            <i class="material-icons text-danger icon-sm">favorite</i>
                            <br>
                            <small class="content-color-secondary">1.5k</small>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <figure class="story-img"><img src="{% static 'images/news_small2.jpg' %}" alt=""></figure>
                    <div class="media">
                        <figure class="avatar avatar-30 mr-2">
                            <img src="{% static 'images/user2.png' %}" alt="Generic placeholder image">
                        </figure>
                        <div class="media-body ">
                            <p class="mb-0 text-hide-xs"><span class="content-color-primary">alizeechotali</span>
                                <br><small>All the awesomenes</small></p>
                        </div>
                        <button class="btn btn-link btn-sm px-0">
                            <i class="material-icons text-danger icon-sm">favorite</i>
                            <br>
                            <small class="content-color-secondary">2.5k</small>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <figure class="story-img"><img src="{% static 'images/news_small3.jpg' %}" alt=""></figure>
                    <div class="media">
                        <figure class="avatar avatar-30 mr-2">
                            <img src="{% static 'images/user3.png' %}" alt="Generic placeholder image">
                        </figure>
                        <div class="media-body ">
                            <p class="mb-0 text-hide-xs"><span class="content-color-primary">chandufamous</span>
                                <br><small>Cityscape</small></p>
                        </div>
                        <button class="btn btn-link btn-sm px-0">
                            <i class="material-icons text-danger icon-sm">favorite</i>
                            <br>
                            <small class="content-color-secondary">1k</small>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <figure class="story-img"><img src="{% static 'images/news_small4.jpg' %}" alt=""></figure>
                    <div class="media">
                        <figure class="avatar avatar-30 mr-2">
                            <img src="{% static 'images/user1.png' %}" alt="Generic placeholder image">
                        </figure>
                        <div class="media-body ">
                            <p class="mb-0 text-hide-xs"><span class="content-color-primary">johnmcmohan</span>
                                <br><small>The large tigerroof</small></p>
                        </div>
                        <button class="btn btn-link btn-sm px-0">
                            <i class="material-icons text-danger icon-sm">favorite</i>
                            <br>
                            <small class="content-color-secondary">1.5k</small>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <figure class="story-img"><img src="{% static 'images/sunflowers-3640935_640.jpg' %}" alt=""></figure>
                    <div class="media">
                        <figure class="avatar avatar-30 mr-2">
                            <img src="{% static 'images/user2.png' %}" alt="Generic placeholder image">
                        </figure>
                        <div class="media-body ">
                            <p class="mb-0 text-hide-xs"><span class="content-color-primary">alizeechotali</span>
                                <br><small>All the awesomenes</small></p>
                        </div>
                        <button class="btn btn-link btn-sm px-0">
                            <i class="material-icons text-danger icon-sm">favorite</i>
                            <br>
                            <small class="content-color-secondary">2.5k</small>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <figure class="story-img"><img src="{% static 'images/news_small1.jpg' %}" alt=""></figure>
                    <div class="media">
                        <figure class="avatar avatar-30 mr-2">
                            <img src="{% static 'images/user3.png' %}" alt="Generic placeholder image">
                        </figure>
                        <div class="media-body ">
                            <p class="mb-0 text-hide-xs"><span class="content-color-primary">chandufamous</span>
                                <br><small>Cityscape</small></p>
                        </div>
                        <button class="btn btn-link btn-sm px-0">
                            <i class="material-icons text-danger icon-sm">favorite</i>
                            <br>
                            <small class="content-color-secondary">1k</small>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <figure class="story-img"><img src="{% static 'images/news_small2.jpg' %}" alt=""></figure>
                    <div class="media">
                        <figure class="avatar avatar-30 mr-2">
                            <img src="{% static 'images/user2.png' %}" alt="Generic placeholder image">
                        </figure>
                        <div class="media-body ">
                            <p class="mb-0 text-hide-xs"><span class="content-color-primary">alizeechotali</span>
                                <br><small>All the awesomenes</small></p>
                        </div>
                        <button class="btn btn-link btn-sm px-0">
                            <i class="material-icons text-danger icon-sm">favorite</i>
                            <br>
                            <small class="content-color-secondary">2.5k</small>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <figure class="story-img"><img src="{% static 'images/news_small3.jpg' %}" alt=""></figure>
                    <div class="media">
                        <figure class="avatar avatar-30 mr-2">
                            <img src="{% static 'images/user3.png' %}" alt="Generic placeholder image">
                        </figure>
                        <div class="media-body ">
                            <p class="mb-0 text-hide-xs"><span class="content-color-primary">chandufamous</span>
                                <br><small>Cityscape</small></p>
                        </div>
                        <button class="btn btn-link btn-sm px-0">
                            <i class="material-icons text-danger icon-sm">favorite</i>
                            <br>
                            <small class="content-color-secondary">1k</small>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <figure class="story-img"><img src="{% static 'images/news_small4.jpg' %}" alt=""></figure>
                    <div class="media">
                        <figure class="avatar avatar-30 mr-2">
                            <img src="{% static 'images/user1.png' %}" alt="Generic placeholder image">
                        </figure>
                        <div class="media-body ">
                            <p class="mb-0 text-hide-xs"><span class="content-color-primary">johnmcmohan</span>
                                <br><small>The large tigerroof</small></p>
                        </div>
                        <button class="btn btn-link btn-sm px-0">
                            <i class="material-icons text-danger icon-sm">favorite</i>
                            <br>
                            <small class="content-color-secondary">1.5k</small>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <figure class="story-img"><img src="{% static 'images/sunflowers-3640935_640.jpg' %}" alt=""></figure>
                    <div class="media">
                        <figure class="avatar avatar-30 mr-2">
                            <img src="{% static 'images/user2.png' %}" alt="Generic placeholder image">
                        </figure>
                        <div class="media-body ">
                            <p class="mb-0 text-hide-xs"><span class="content-color-primary">alizeechotali</span>
                                <br><small>All the awesomenes</small></p>
                        </div>
                        <button class="btn btn-link btn-sm px-0">
                            <i class="material-icons text-danger icon-sm">favorite</i>
                            <br>
                            <small class="content-color-secondary">2.5k</small>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <figure class="story-img"><img src="{% static 'images/news_small1.jpg' %}" alt=""></figure>
                    <div class="media">
                        <figure class="avatar avatar-30 mr-2">
                            <img src="{% static 'images/user3.png' %}" alt="Generic placeholder image">
                        </figure>
                        <div class="media-body ">
                            <p class="mb-0 text-hide-xs"><span class="content-color-primary">chandufamous</span>
                                <br><small>Cityscape</small></p>
                        </div>
                        <button class="btn btn-link btn-sm px-0">
                            <i class="material-icons text-danger icon-sm">favorite</i>
                            <br>
                            <small class="content-color-secondary">1k</small>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
