<div class="card mb-3 mt-3">
    <div class="card-body">
      {% include 'desctop/generic/user/card_go_user.html' %}
    </div>
</div>
{% if user.is_music_playlist_exists %}
<div class="card">
  <div class="card-body">
    <div class="nav flex-column nav-pills faqnav">
      <h6 style="margin-bottom:15px">Плейлисты</h6>
      {% for object in user.get_audio_playlists %}
        <a class="ajax" href="{% url 'user_music_list' pk=user.pk uuid=object.uuid %}">
          {{ object.name }}
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
