{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{% if user == request.user %}
Мои друзья
{% else %}
Друзья пользователя "{{ user.first_name }} {{ user.last_name }}"
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
<div class="col-12 col-md-8">
<br><br><br>
  <div class="card mb-2">
        <div class="card-header">
            <div class="media">
                <div class="icon-circle icon-30 bg-light-danger mr-3">
                    <i class="material-icons">person</i>
                </div>
                <div class="media-body">
                    <h5 class="mt-1">Друзья пользователя {{ user.get_full_name }}</h5>
                </div>
            </div>
        </div>
        <br><br>
        <div class="card-body px-0 py-0">
            <ul class="list-group border-top border-bottom list-group-flush">
              {% for object in frends %}
                <li class="list-group-item">
                    <div class="media">
                      <figure>
                        {% if object.target_connection.target_user.profile.avatar %}
                          <img src="{{ object.target_connection.target_user.profile.avatar.url }}" style="border-radius:50px;width:50px;" alt="image">
                        {% else %}
                          <img src="{% static 'images/user.png' %}" alt="image" style="border-radius:50px;width:50px;">
                        {% endif %}
                      </figure>
                        <div class="media-body">
                          <a href="{% url 'user' pk=object.target_connection.target_user.pk %}">
                            <h6 class="my-0 mt-1">{{ object.target_connection.target_user.get_full_name }}
                              <span class="status vm bg-success"></span>
                            </h6>
                          </a>
                          <a href="" class="small">Написать сообщение</a>
                        </div>
                    </div>
                </li>
              {% endfor %}

              {% for object in frends2 %}
                <li class="list-group-item">
                    <div class="media">
                      <figure>
                        {% if object.target_connection.user.profile.avatar %}
                          <img src="{{ object.target_connection.user.profile.avatar.url }}" style="border-radius:50px;width:50px;" alt="image">
                        {% else %}
                          <img src="{% static 'images/user.png' %}" alt="image" style="border-radius:50px;width:50px;">
                        {% endif %}
                      </figure>
                        <div class="media-body">
                          <a href="{% url 'user' pk=object.target_connection.user.pk %}">
                            <h6 class="my-0 mt-1">{{ object.target_connection.user.get_full_name }}
                              <span class="status vm bg-success"></span>
                            </h6>
                          </a>
                          <a href="" class="small">Написать сообщение</a>
                        </div>
                    </div>
                </li>
              {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="col-12 col-md-4">
  <div class="card mb-2">
        <div class="card-header">
            <div class="media">
                <div class="icon-circle icon-30 bg-light-danger mr-3">
                    <i class="material-icons">tag_faces</i>
                </div>
                <div class="media-body">
                    <h5 class="mt-1">Возможные друзья</h5>
                </div>
            </div>
        </div>
        <br><br>
  </div>

  <div class="card mb-2">
        <div class="card-header">
            <div class="media">
                <div class="icon-circle icon-30 bg-light-danger mr-3">
                    <i class="material-icons">search</i>
                </div>
                <div class="media-body">
                    <h5 class="mt-1">Поиск друзей</h5>
                </div>
            </div>
        </div>
        <br><br>
  </div>
</div>
</div>
{% endblock %}
