{% load staticfiles humanize thumbnail liked_user %}

<br>
{% if online_list %}
      <ul class="list-group online-container">
          {% for object in online_list %}
          <li class="list-group-item infinite-item">
              <div class="media">
                  <figure>
                      {% if object.get_avatar %}
                      <img src="{{ object.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius:50px;width:50px;" alt="image">
                      {% else %}
                      <img class="thumb" src="{% static 'images/icons/person-24px.svg' %}" />
                      {% endif %}
                  </figure>
                  <div class="media-body">
                      <a href="{% url 'user' pk=object.pk %}" class="ajax">
                          <h6 class="my-0 mt-1">{{ object.get_full_name }}</h6>
                      </a>
                      <a href="" class="small">Написать сообщение</a>
                  </div>
              </div>
          </li>
          {% endfor %}
          <div class="load col-12 col-md-12">
              {% if online_list.has_next %}
              <a style="display:flex;justify-content:center;" class="infinite-more-link" href="/frends/online/{{ user.pk }}/?page={{ online_list.next_page_number }}">
                  <img style="width: 30px;" src="{% static 'images/loading.gif' %}">
              </a>
              {% endif %}
          </div>
      </ul>

{% else %}
<div class="card mb-4" style="align-items: center;justify-content:center;">
  <div class="card-body">
  <svg fill="currentColor" class="thumb_big svg_default" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
  </div>
  <h6 style="margin-bottom: 20px;"> Друзей онлайн нет...</h6>
</div>
{% endif %}

<script>
  var online_infinite = new Waypoint.Infinite({
      element: $('.online-container')[0], onBeforePageLoad: function() { $('.load').show(); }, onAfterPageLoad: function($items) { $('.load').hide(); }
  });
</script>
