{% extends "base_mobile.html" %}
{% block content %}

<div class="container mt-3 main-container" data-type="user_notify_all">
  <div class="card-header p-0">
    <div class="row no-gutters">
      <div style="flex: 0 0 100%;max-width:100%;padding:5px;">
        <span class="btn btn-sm border" style="width: -webkit-fill-available;">Уведомления</span>
      </div>
    </div>
  </div>
  {% if user.is_staffed_user %}
  <span class="block_notify_container">
    {% include 'mobile/notify/notify_blocks.html' %}
  </span>
  {% elif object_list %}

            <span class="is_paginate user_all_notify_container">
              {% for object in object_list %}

                {% if object.is_unread %}

                  is_unread

                {% else %}

                  {{ object }}

                {% endif %}

              {% endfor %}
            </span>

    {% else %}
          <div class="card mb-3 items_empty centered">
            <div class="card-body">
            <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-2 1H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6z"/></svg>
            </div>
            <h6 style="margin: 20px;text-align: center;">
              Пока уведомлений нет.
            </h6>
          </div>
  {% endif %}

</div>

{% endblock %}
