{% load notifier %}

<div class="col-12 user_notify_block">
  <div class="card mb-3 border">
      <div class="card-body">
        <a class="notify_ajax" href="{% url 'user_notify' %}">
          <div class="media">
            <figure style="width:50px;">
              {% if request.user.s_avatar %}
                <img src="{{ request.user.s_avatar.url }}" style="border-radius:50px" alt="image">
              {% else %}
                <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"/></svg>
              {% endif %}
            </figure>
              <div class="media-body">
                  <p class="mb-0">Уведомления профиля</p>
                  <h4 class="mb-0">
                       Профиль <span class="user_notify_counter">{{ request.user.unread_profile_notify_count|safe }}</span>
                  </h4>
              </div>
          </div>
          </a>
      </div>
  </div>
</div>

{% for object in user.get_staffed_communities %}
<div class="col-12 community_notify_block" data-pk="{{ object.pk }}">
  <div class="card mb-3 border">
      <div class="card-body">
        <a class="notify_ajax" href="{% url 'community_notify' pk=object.pk %}">
          <div class="media">
            <figure style="width:50px;">
              {% if object.s_avatar %}
                <img src="{{ object.s_avatar.url }}" style="border-radius:50px" alt="image">
              {% else %}
                <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
              {% endif %}
            </figure>
              <div class="media-body">
                  <p class="mb-0">Уведомления сообщества</p>
                  <h4 class="mb-0">
                       {{ object.name }} <span class="community_notify_counter">{{ object|community_notify_count:user.pk|safe }}</span>
                  </h4>
              </div>
          </div>
          </a>
      </div>
  </div>
</div>
{% endfor %}
