{% extends "base_mobile.html" %}
{% block title %}Сообщения{% endblock %}
{% load message %}
{% block content %}
<div class="container chat_list_container main-container pk_saver mt-3" data-pk="{{ request.user.pk }}" data-type="page_chat_list">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск сообщений">
            <div class="input-group-append">
                <button class="btn border user_create_chat" data-pk="{{ user.pk }}" type="button">Создать</button>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-body px-0 py-0">
              {% if object_list %}

              <ul class="list-group is_paginate">
                {% for object in object_list %}
                  {% if not object.is_not_empty %}
                    {% include 'mobile/chat/message/empty_message.html' %}
                  {% else %}
                  <li class="list-group-item" data-pk="{{ object.pk }}">
                    <a class="chat_ajax" href="{% url 'chat_detail' pk=object.pk %}">
                      {{ object|get_preview_message:request.user.pk|safe }}
                    </a>
                  </li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <div class="load centered m-1 next_page_list" data-link="{% url 'chats_list' %}?page={{ page_obj.next_page_number }}">
                    <img src="/static/images/preloader.gif">
                </div>
                {% endif %}
              </ul>

              {% else %}
              <div class="card items_empty centered mb-3">
                <div class="card-body"></div>
                <h6 style="margin: 20px;text-align: center;">
                   Пока сообщений нет. Вы можете
                <br>
                <span class="user_create_chat pointer underline" data-pk="{{ user.pk }}">создать чат</span></h6>
              </div>
              {% endif %}
            </div>
        </div>
</div>
{% endblock %}
