{% extends "base_mobile.html" %}
{% block title %}Сообщения{% endblock %}
{% load messager %}
{% block content %}

<div class="container chat_list_container pk_saver" data-pk="{{ request.user.pk }}">
  <div class="row no-gutters">
    <div style="flex: 0 0 80%;max-width:80%;padding:5px;">
      <span class="btn btn-sm custom_color border" style="width: -webkit-fill-available;">
          Сообщения
      </span>
    </div>
    <div style="flex: 0 0 20%;max-width:20%;padding:5px;">
      <a class="btn btn-sm custom_color border pointer user_create_chat" style="width: -webkit-fill-available;" data-pk="{{ user.pk }}">
        <svg fill="currentColor" class="svg_default" style="width: 17px;" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
    </div>
  </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск сообщений">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-body px-0 py-0">
              {% if object_list %}

              <ul class="list-group is_paginate">
                {% for object in object_list %}
                  {% if not object.is_not_empty %}
                    {% include 'mobile/chat/message/empty_message.html' %}
                  {% else %}
                  <li class="list-group-item pag {% if forloop.last %}last{% endif %}" data-pk="{{ object.pk }}">
                    <a class="chat_ajax" href="{% url 'chat_detail' pk=object.pk %}">
                      {{ object|get_preview_message:request.user.pk|safe }}
                    </a>
                  </li>
                  {% endif %}
                {% endfor %}
              </ul>

              {% else %}
              <div class="card message_empty centered mb-3">
                <div class="card-body"></div>
                <h6 style="margin: 20px;text-align: center;">
                   Пока сообщений нет. Вы можете
                <br>
                <span class="user_create_chat pointer underline" data-pk="{{ user.pk }}">создать чат</span></h6>
              </div>
              {% endif %}
            </div>
        </div>
</div>
{% endblock %}
