{% extends "base_mobile.html" %}
{% block title %}Публичный чат{% endblock %}
{% load messager %}
{% block content %}

<div class="container mt-3 card no-shadow pk_saver chat_container" chat-pk="{{ chat.pk }}" data-pk="{{ request.user.pk }}">
    <div class="card-body bg-light-secondary chatview" id="chatcontent">
        <ul class="chatlist app is_chat_paginate">
          {% if object_list %}

          {% for object in object_list reversed %}
            {% include 'mobile/chat/message/message.html' %}
          {% endfor %}

          {% else %}
          <div class="message_empty mb-3">
            <div class="card-body"></div>
            <h6 style="margin: 20px;text-align: center;">
               Пока сообщений нет.
            </h6>
          </div>
          {% endif %}
        </ul>
    </div>
    <div class="card-footer border-top">
      {% include 'mobile/chat/chat/form.html' %}
    </div>
</div>
<span id="scrolled"></span>
{% endblock %}
