<div class="card mb-3 pag {% if forloop.last %}last{% endif %}" item-uuid="{{ object.uuid }}">

    {% include 'post_community/admin_card_header.html' %}

    {% if object.is_repost %}
    {% include 'post_community/repost.html' %}
    {% endif %}

    <div class="card-body c_fullscreen" style="cursor:pointer">
      {% if object.text %}
        <p class="">{{ object.text }}</p>
      {% endif %}
    </div>
    {% include 'generic/attach/c_post_attach.html' %}

    {% include 'post_community/info.html' %}
</div>
