<div class="card mb-3 pag {% if forloop.last %}last{% endif %}" data-uuid="{{ object.uuid }}">
    {% include 'post_community/admin_card_header.html' %}

    {% if object.text %}
      <div class="c_fullscreen pointer">
        <p class="">{{ object.text|linebreaks }}</p>
      </div>
    {% endif %}
    {% include 'generic/attach/c_post_attach.html' %}
    {% if object.parent %}
      {% include 'post_community/repost.html' %}
    {% endif %}

    {% include 'post_community/info.html' %}
</div>
