{% load humanize %}

<div class="card mb-3 pag {% if forloop.last %}last{% endif %}" data-uuid="{{ object.uuid }}">

  {% include 'post_community/anon_card_header.html' %}

    {% if object.is_repost %}
    {% include 'post_community/repost.html' %}
    {% endif %}

    <div class="c_fullscreen" style="cursor:pointer;padding-left: 15px;">
      {% if object.text %}
        <p class="">{{ object.text }}</p>
      {% endif %}
    </div>
    {% include 'generic/attach/c_post_attach.html' %}

    {% include 'post_community/info.html' %}
</div>
