{% load humanize %}
<span style="margin-left: 5%;border-left: 1px solid #DDDDDD;">
  <div class="card-header border-bottom" style="margin-top: -20px;">
    <div class="media" style="font-size: 0.8em;">
      {% if object.community %}
      <a href="{% url 'community_detail' pk=object.community.pk %}" class="ajax">
        <figure>
          {% if community.get_avatar %}
            <img src="{{ community.get_avatar }}" style="border-radius: 50px;width:40px;" alt="image">
          {% else %}
            <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
          {% endif %}
        </figure>
      </a>
      {% else %}
      <a href="{% url 'user' pk=object.parent.creator.pk %}" class="ajax">
        <figure>
          {% if object.parent.creator.get_avatar %}
            <img src="{{ object.parent.creator.get_avatar }}" style="border-radius: 50px;width:40px;" alt="image">
          {% else %}
            <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
          {% endif %}
        </figure>
      </a>
      {% endif %}
        <div class="media-body">
            <h6 class="mb-0">
              <a href="{% url 'user' pk=object.parent.creator.pk %}" class="ajax">
                {{ object.parent.creator.get_full_name }} &nbsp;
              </a>
              <span class="is_fixed" style="color: #888888;font-size: 13px;{% if not object.is_fixed %}display:none;{% endif %}">закреплено</span>
            </h6>
            <p class="mb-0">{{ object.parent.created|naturaltime }}</p>
        </div>
    </div>
  </div>
  <div class="card-body fullscreen" data-id="{{ object.pk }}" style="cursor:pointer" >
    {% if object.parent.text %}
      <p class="">{{ object.parent.text }}</p>
    {% endif %}
    {% include 'generic/attach/post_attach.html' %}
  </div>
</span>
