
    <form class="is_stat_list" data-pk="{{ list.pk }}" data-type="edit_user_photo_list">
      {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header border-bottom">
                <h5 class="content-color-primary mb-0">Изменение альбома {{ list.name }}</h5>
            </div>
            <div class="card-body">
                <div class="form-group ">
                  <label>Название</label>
                  <input data-error="Это поле обязательно" type="text" value="{{ list.name }}" name="name" class="form-control" id="id_name">
                </div>
                <div class="form-group ">
                  <label>Описание</label>
                  <input type="text" name="description" value="{{ list.description }}" class="form-control" id="id_description">
                </div>
                {% include 'base_block/perm/edit_user_list_comment_perm.html' %}
            </div>
            <div class="card-footer">
                <button class="btn btn-sm border item_fullscreen_hide">Отмена</button>
                <button id="u_edit_photo_list_btn" type="button" class="btn btn-sm btn-success float-right">Изменить</button>
            </div>
        </div>
    </form>
