{% extends "base.html" %}
{% block title %}{{ list.name }} - альбом {{ user.get_full_name_genitive }}{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/users/{{ user.pk }}/photo_list/{{ list.uuid }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Фотографии {{ user.get_full_name_genitive }} - {{ list.name }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ user.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="main-container mt-3 pk_saver" data-pk="{{ user.pk }}" data-type="user_photo_list">

<span class="load_block">
  <div class="card centered">
    <div class="card-body">
      <svg width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
    </div>
    <h6>
      Главный список изображений заблокирован за нарушение правил сайта. Если Вы не согласны с примененными санкциями,
      напишите нам в <a class="pointer underline send_support_message">Службу поддержки</a>.
    </h6>
  </div>
</span>
</div>
{% endblock %}
