{% extends "base.html" %}
{% block title %}{{ list.name }} - мой альбом{% endblock %}
{% block content %}

<div class="main-container mt-3 pk_saver user_gallery_container" data-pk="{{ user.pk }}" data-uuid="{{ list.uuid }}">
<span class="load_block">
<div class="media mt-3" style="padding-left: 7px;">
  <form id="add_photos" class="uuid_saver" data-uuid="{{ list.uuid }}">
    {% csrf_token %}
  <h5 class="mt-1">
    <span class="second_list_name" data-name="{{ list.name }}">{{ list.name }}</span> ({{ list.count_items }})
      <input type="file" id="u_gallery_list_photo_add" name="file" style="display:none" multiple="multiple">
      {% if list.is_main or list.is_have_edit %}
      <span class="pointer badge badge-light-success previous_click">Добавить фото</span>
      {% endif %}
      {% if request.user.pk == list.creator.pk and list.is_have_edit %}
      <span class="pointer badge badge-light-secondary u_photo_list_edit">Изменить список</span>
      <span class="pointer badge badge-light-danger u_photo_list_remove">Удалить список</span>
      {% endif %}
  </h5>
  </form>
</div>
<div class="container-fluid mt-3 pk_saver">
  <div class="row is_block_paginate no-gutters drag_container" data-uuid="{{ list.uuid }}" id="u_list_photos_container"  data-link="/gallery/user/list_photos/{{ user.pk }}/{{ list.uuid }}/"></div>
</div>
</span>
</div>
{% endblock %}
