<span class="load_block">
<div class="media mt-3" style="padding-left: 7px;">
  <form id="add_photos" data-uuid="{{ list.uuid }}">
    {% csrf_token %}
  <h5 class="mt-1">
    <span class="second_list_name" data-name="{{ list.name }}">{{ list.name }}</span> ({{ list.count_items }})
      <input type="file" id="u_photo_add" name="file" style="display:none" multiple="multiple">
      <span class="pointer badge badge-light-success previous_click">Добавить фото</span>
      {% if request.user.pk == list.creator.pk and not list.is_main %}
      <span class="pointer badge badge-light-secondary u_photo_list_edit">Изменить список</span>
      <span class="pointer badge badge-light-danger u_photo_list_remove">Удалить список</span>
      {% endif %}
  </h5>
  </form>
</div>
{% if object_list %}
{% for object in object_list %}
  <div class="pointer p-1 col-md-6 col-lg-4 u_{{ list.type }}_photo pag {% if forloop.last %}last{% endif %}" photo-pk="{{ object.pk }}">
    <div class="progressive replace" data-href="{{ object.file.url }}">
      {% if object.preview %}
        <img class="preview image_fit_200" src="{{ object.preview.url }}" alt="img">
      {% else %}
        <svg class="svg_default image_fit_200" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
      {% endif %}
    </div>
  </div>
  {% endfor %}

{% else %}
<div class="card mb-3 centered items_empty">
  <div class="card-body">
  <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
  </div>
  <h6 style="margin: 20px;text-align: center;"> Фотографий пока нет...</h6>
</div>
{% endif %}
</span>
