{% extends "base.html" %}
{% block title %}Мои друзья{% endblock %}
{% block content %}

<div class="row">
    <div class="col-12 col-md-8">
      <br>
      <div class="card-header p-0">
          <ul class="nav nav-tabs justify-content-center">
              <li class="nav-item">
                  <a class="nav-link active show">
                      Все <span class="text-hide-xs"> друзья</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link ajax" href="{% url 'online_frends' pk=user.pk %}">
                      Онлайн <span class="text-hide-xs"> друзья</span>
                  </a>
              </li>
          </ul>
      </div>
      <div class="card mb-2">
            <div class="col-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="tabhome123" role="tabpanel" aria-labelledby="tabhome123-tab">
                                  <div class="media-body">
                                      <h5 class="mt-1">Мои друзья
                                        <small class="content-color-secondary float-right mr-2 mt-1">Всего {{ user.count_connections }}</small>
                                      </h5>
                                  </div>
                                  <br>
                                  <div class="input-group mb-3">
                                      <input type="text" class="form-control" placeholder="Поиск по друзьям">
                                      <div class="input-group-append">
                                          <button class="btn btn-outline-link" type="button">Искать</button>
                                      </div>
                                  </div>

                                  <ul class="list-group" id="friends_container" data-link="/friends/{{ user.pk }}">
                                    {% if object_list %}
                                          {% for object in object_list %}
                                          <li class="list-group-item pag {% if forloop.last %}last{% endif %}">
                                                <div class="media">
                                                  <a href="{% url 'user' pk=object.pk %}" class="ajax">
                                                    <figure>
                                                      {% if object.get_avatar %}
                                                        <img src="{{ object.get_avatar }}" style="border-radius:50px;width:50px;" alt="image">
                                                      {% else %}
                                                        <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                                      {% endif %}
                                                    </figure>
                                                  </a>
                                                  <div class="media-body">
                                                      <a href="{% url 'user' pk=object.pk %}" class="ajax">
                                                          <h6 class="my-0 mt-1">{{ object.get_full_name }}</h6>
                                                      </a>
                                                      <a href="" class="small">Написать сообщение</a>
                                                  </div>
                                                </div>
                                            </li>
                                            {% endfor %}

                                    {% else %}
                                    <div class="card" style="align-items: center;justify-content:center;">
                                      <div class="card-body">
                                      <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                      </div>
                                      <h6 style="margin: 20px;text-align: center;"> Друзей нет...</h6>
                                    </div>
                                    {% endif %}
                                  </ul>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
      <br>
      <div class="card mb-2">
          <div class="card-header">
            <div class="media">
                <div class="media-body">
                  <h5 class="mt-1">
                    <a href="{% url 'all_users' %}" class="ajax">Найти друзей</a>
                  </h5>
                </div>
            </div>
          </div>
      </div>
      {% if request.user.is_no_view_followers %}
      <br>
      <div class="card mb-2">
          <div class="card-header">
            <div class="media">
                <div class="media-body">
                  <h5 class="mt-1">
                    <a href="{% url 'follows' pk=request.user.pk %}" class="ajax">Подписчики</a>
                  </h5>
                </div>
            </div>
          </div>
      </div>
      {% endif %}

      {% include 'featured_users.html' %}

    </div>
</div>

{% endblock %}
