{% extends "base.html" %}
{% block title %}{{ community.name }} - друзья в сообществе{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/communities/friends/{{ community.get_link }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ community.name }} - друзья в сообществе" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ community.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="row main-container" data-type="community_friends" data-pk="{{ community.pk }}">
    <div class="col-12 col-md-8">
        <br><br><br>
        <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="Поиск подписчиков">
            <div class="input-group-append">
                <button class="btn btn-sm border" type="button">Искать</button>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1">Друзья в сообществе
                            {% include 'desctop/generic/community/community.html' %}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 py-0">
                <ul class="list-group" id="community_friends_container">
                    {% for object in object_list %}
                    <li class="list-group-item">
                        {% include 'desctop/generic/user/card_send_message.html' %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">

    </div>
</div>

{% endblock %}
