{% extends "base.html" %}
{% block title %}{{ community.name }} - Вы модератор{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/{{ community.get_link }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ community.name }} - трезвый.рус" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ community.get_b_avatar }}"/>
{% endblock %}
{% load exists %}
{% block content %}

{% if community.cover %}
<div class="container-fluid">
    <div class="row align-items-center has-background-img" style="min-height: 150px">
        <figure class="background-img">
            <img src="{{ community.cover.url }}" alt="" class="" style="min-height:inherit;opacity: 1">
        </figure>
    </div>
</div>
{% endif %}

<div class="container main-container mt-3 pk_saver community_container" data-pk="{{ community.pk }}">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
            <div class="container main-container card" style="padding: 15px;">
              <h1 class="mb-0 mt-1" style="font-size: 22px;">{{ community.name }}
                {% if community.is_identified %}
                  <svg class="svg_info svg_default" fill="currentColor" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><g><rect fill="none" /></g><g><path d="M23,12l-2.44-2.79l0.34-3.69l-3.61-0.82L15.4,1.5L12,2.96L8.6,1.5L6.71,4.69L3.1,5.5L3.44,9.2L1,12l2.44,2.79l-0.34,3.7 l3.61,0.82L8.6,22.5l3.4-1.47l3.4,1.46l1.89-3.19l3.61-0.82l-0.34-3.69L23,12z M10.09,16.72l-3.8-3.81l1.48-1.48l2.32,2.33 l5.85-5.87l1.48,1.48L10.09,16.72z"/></g></svg>
                {% elif community.is_child_safety %}
                  <svg class="svg_info svg_default" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4zm-2 16l-4-4 1.41-1.41L10 14.17l6.59-6.59L18 9l-8 8z"/></svg>
                {% endif %}
              </h1>
                <span>{% if community.status %} {{ community.status }} {% else %} {{ community.category.name }} {% endif %}</span>
                <br><br>
                <ul class="list-group list-group-flush w-100">
                    <li class="list-group-item px-0">
                        <div class="media experience">
                            <div class="icon-circle icon-40 bg-light-secondary mr-3">
                                <svg class="svg_info svg_default" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm8 5H6v-2h8v2zm4-6H6V6h12v2z" />
                                    <path d="M0 0h24v24H0z" fill="none" /></svg>
                            </div>
                            <div class="media-body">
                                <h6 class="my-0 content-color-primary">Описание</h6>
                                <p>{% if community.description %}{{ community.description }}{% else %}Нет описания сообщества{% endif %}</p>
                            </div>
                        </div>
                    </li>
                  </ul>
            </div>

            {% include 'desctop/communities/detail_sections/stat.html' %}

            {% if community.is_good_open %}
              {% include 'desctop/communities/detail_sections/goods.html' %}
            {% endif %}

            <span class="draft_post_container">
            {% if request.user|is_community_draft_exists:community.pk %}
              {% include 'desctop/communities/detail_sections/user_draft_post.html' %}
            {% endif %}
            </span>

            <div class="is_community_post_paginate mt-3 post_view_generator" list-pk="{{ post_list_pk }}"></div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card">
                <figure style="padding-left:10px;padding-right:10px" class="avatar_figure">
                    {% if community.get_b_avatar %}
                    <img src="{{ community.get_b_avatar }}" class="detail_photo pointer" photo-pk="{{ community.get_avatar_pk }}" alt="image">
                    {% else %}
                    <svg fill="currentColor" class="svg_default" style="width:100%" viewBox="0 0 24 24">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z" /></svg>
                    {% endif %}
                </figure>
                <button type="button" class="btn btn-sm border" style="margin: 3px;margin-top:10px">
                    Вы подписаны
                </button>
            </div>
            <br>
            {% if common_friends %}
              {% include 'desctop/communities/detail_sections/frends_member.html' %}
            {% endif %}

            {% if is_members_open %}
              {% include 'desctop/communities/detail_sections/membersheeps.html' %}
            {% endif %}
            {% if is_photo_open %}
              {% include 'desctop/communities/detail_sections/photo.html' %}
            {% endif %}
            {% if is_music_open %}
              {% include 'desctop/communities/detail_sections/music.html' %}
            {% endif %}
            {% if is_video_open %}
              {% include 'desctop/communities/detail_sections/video.html' %}
            {% endif %}
            {% if is_doc_open %}
              {% include 'desctop/communities/detail_sections/docs.html' %}
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}
