<!-- прикрепленные элементы к записям пользователей, которыми поделились -->
<span style="padding: 5px;">
  {% if object.community %}
    Сообщество&nbsp;<a class="ajax underline" href="{% url 'community_detail' pk=object.community.pk %}">{{ object.community.name }}</a>&nbsp;поделилось записью
  {% else %}
  <a class="ajax underline" href="{% url 'user' pk=object.creator.pk %}">{{ object.creator }}</a>
    {% if object.creator.is_women %}поделилась{% else %}поделился{% endif %} записью
  {% endif %}
</span>

{% include 'u_posts/card_header.html' %}

{% if object.parent.text %}
  <div class="fullscreen pointer">
    <p class="">{{ object.parent.text|linebreaks }}</p>
  </div>
{% endif %}

<div class="attach_container" data-pk="{{ object.pk }}">
{% for photo in object.get_parent_attach_photos %}
  {% include 'generic/item/u_photo.html' %}
{% endfor %}

{% for video in object.get_parent_attach_videos %}
  {% include 'generic/item/u_video.html' %}
{% endfor %}

{% for good in object.get_parent_attach_goods %}
  {% include 'generic/item/u_good.html' %}
{% endfor %}

{% for article in object.get_parent_attach_articles %}
  {% include 'generic/item/u_zrticle.html' %}
{% endfor %}

{% for music in object.get_parent_attach_tracks %}
  {% include 'generic/items/u_music.html' %}
{% endfor %}
</div>
