<!-- прикрепленные элементы к записям пользователей, которыми поделились -->
<span style="padding: 5px;">
  {% if object.community %}
    Сообщество&nbsp;{% include 'mobile/generic/community/object.html' %}&nbsp;поделилось записью
  {% else %}
  {% include 'mobile/generic/user/creator.html' %}
    {% if object.creator.is_women %}поделилась{% else %}поделился{% endif %} записью
  {% endif %}
</span>

{% include 'mobile/main/u_posts/card_header.html' %}

{% if object.parent.text %}
  <div class="fullscreen pointer">
    <p class="">{{ object.parent.text|linebreaks }}</p>
  </div>
{% endif %}

<div class="attach_container" data-pk="{{ object.pk }}">
{% for photo in object.get_parent_attach_photos %}
  {% include 'mobile/generic/item/u_photo.html' %}
{% endfor %}

{% for video in object.get_parent_attach_videos %}
  {% include 'mobile/generic/item/u_video.html' %}
{% endfor %}

{% for good in object.get_parent_attach_goods %}
  {% include 'mobile/generic/item/u_good.html' %}
{% endfor %}

{% for article in object.get_parent_attach_articles %}
  {% include 'mobile/generic/item/u_zrticle.html' %}
{% endfor %}

{% for music in object.get_parent_attach_tracks %}
  {% include 'mobile/generic/items/u_music.html' %}
{% endfor %}
</div>
