{% extends "base.html" %}
{% block title %}Мои фотографии{% endblock %}
{% block content %}

<div class="container-fluid mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ album.uuid }}">
{% if albums_list %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="mt-1">Мои альбомы</h5>
        </div>
        <div class="col-12 col-md-4">
          <button class="u_album_add btn btn-outline-success" class="btn btn-outline-success" style="margin-bottom:15px;width:100%" type="button">
            Добавить альбом
          </button>
        </div>
    </div>
</div>
<div class="container mt-4">
  {% include 'desctop/users/user_gallery/my_albums.html' %}
</div>
{% else %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="mt-1">У Вас нет альбомов</h5>
        </div>
        <div class="col-12 col-md-4">
          <button class="u_album_add btn btn-outline-success" class="btn btn-outline-success" style="margin-bottom:15px;width:100%" type="button">
            Добавить альбом
          </button>
        </div>
    </div>
</div>
{% endif %}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="mt-1">Мои фотографии</h5>
            Фото: {{ album.count_photo }}
        </div>
        <div class="col-12 col-md-4">
          <form id="add_photos" method="post">
              {% csrf_token %}
                <input type="file" id="u_gallery_photo_add" name="file" style="display:none" multiple="multiple">
                <button id="u_add_multi_photos" class="btn btn-outline-success" style="margin-bottom:15px;width:100%" type="button">
                  Добавить фотографии
                </button>
          </form>
        </div> 
    </div>
</div>

<div class="container mt-4 main-container">
      <div id="photo_load" data-link="/gallery/user/photos/{{ user.pk }}/"></div>
  </div>
</div>
{% endblock %}
