{% load user %}

  <div data-pk="{{ object.pk }}" class="card mb-3 pb-1 border text-center position-relative box-shadow {% if object.is_no_edited %}no_edited{% endif %}" style="border-radius: .3rem;">
      <figure class="background-img">
          <img src="{{ object.get_image }}" alt="img">
      </figure>

      <div class="dropdown">
          <a class="btn_default drop pointer" style="position:absolute;right:5px;top:5px;">
              <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
              </svg>
          </a>
          <div class="dropdown-menu dropdown-menu-right" data-type="sur{{ object.pk }}" style="top:30px;right:-10px;">
            <span class="dropdown-item create_repost">Добавить</span>
            {% if not object.is_no_edited and object|is_user_voted:request.user.pk %}
              <span class="dropdown-item survey_unvote">Удалить голос</span>
            {% endif %}
            {% if object|is_user_can_edit_delete:request.user %}
              {% if object.is_can_edit %}
                <span class="dropdown-item survey_edit">Изменить</span>
              {% endif %}
              <span class="dropdown-item survey_remove">Удалить</span>
            {% elif request.user.is_moderator %}
              <span class="dropdown-item create_close">Закрыть</span>
            {% else %}
              <span class="dropdown-item create_claim">Пожаловаться</span>
            {% endif %}
            <span class="dropdown-item copy_link">Копировать ссылку</span>
          </div>
      </div>

      <form>
      <div class="container answers_container {% if not object.is_multiple %}no_multiple{% endif %}">
        <br>
        <h4 class="m-0">{{ object.title }}</h4>
        <p class="position-relative">
          <a href="{% url 'user' pk=object.creator.pk %}" class="underline ajax">
            {{ object.creator }}
          </a>
        </p>
        {% if object.time_end %}
          <p class="content-color-primary">До {{ object.time_end }}</p>
        {% endif %}
        <br>

        {% for answer in object.get_answers %}

          {% if object|is_user_voted:request.user.pk %}
          <div class="lite_color answer_style" data-pk="{{ answer.pk }}">
            <div class="progress2" style="width:{{ answer.get_procent }}%;"></div>
            <span class="progress_span_r">{{ answer.text }}
              <span class="count text-muted small">{{ answer.get_count }}</span>
            </span>
            <span class="progress_span_l" style="margin-left: auto;">

              <span class="vote_svg">
                {% if answer|is_user_voted:request.user.pk %}
                  <svg fill="currentColor" style="width:15px;height:15px;" class="svg_default" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"></path><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path></svg>
                {% endif %}
              </span>
              <span class="procent">{{ answer.get_procent }}%</span>
            </span>
          </div>

          {% else %}
          <div class="lite_color answer_style {% if not object.is_time_end %}pointer survey_vote{% endif %}" data-pk="{{ answer.pk }}">
            <div class="progress2" style="width:{{ answer.get_procent }}%;"></div>
            <span class="progress_span_r">{{ answer.text }}
              <span class="count text-muted">{{ answer.get_count }}</span>
            </span>
            <span class="progress_span_l" style="margin-left: auto;">
              <span class="vote_svg"></span>
              <span class="procent">{{ answer.get_procent }}%</span>
            </span>
          </div>

          {% endif %}
        {% endfor %}
        {% if object.is_have_votes %}
          {% if object.is_anonymous %}
            Это анонимный опрос.
          {% else %}
          <p class="survey_info pointer position-relative">Всего проголосовали: {{ object.vote }}</p>

          {{ object.get_6_users|safe }}
          {% endif %}
        {% else %}
          Пока никто не голосовал.
        {% endif %}
      </div>
      <div class="card-footer" style="position: relative;">
          <button type="button" class="btn hidden btn-sm float-left border votes_remove">Отмена</button>
          <button id="add_vote_survey_btn" type="button" class="btn hidden btn-sm btn-success float-right">Проголосовать</button>
      </div>
      </form>
  </div>
