<div class="card" style="flex: 0 0 100%;">
  <div class="mb-3 border text-center has-background-img position-relative box-shadow" style="padding: 2rem 1rem;border-radius: .3rem;">
      <figure class="background-img">
        {% if object.image %}
          <img src="{{ object.image.url }}" alt="user image">
        {% endif %}
      </figure>
      <div class="container" style="list-style-type:none">
        <i class="figure avatar120 mr-0 fa fa-gift rounded-circle bg-none border-bottom"></i>
        <br>
        <h4 class="">{{ object.title }}</h4>
        <a href="{% url 'user' pk=object.creator.pk %}" class="underline ajax mb-2">
          {{ object.creator }}
        </a>
        {% if object.time_end %}
          <p class="content-color-primary">До {{ object.time_end }}</p>
        {% endif %}
        <br>
        {% for answer in object.get_answers %}
        <div class="lite_color answer_style">
          <div class="progress2" style="width:{{ answer.get_procent }}%;"></div>
          <span class="progress_span_r">{{ answer.text }}</span>
          <span class="progress_span_l" style="margin-left: auto;">{{ answer.get_count }}</span>
        </div>
        {% endfor %}
        {% if object.is_have_votes %}
          {{ object.get_users }}
        {% else %}
          Пока никто не голосовал. Станьте первым!
        {% endif %}
      </div>
  </div>
</div>
