<div class="card mb-3 pag {% if forloop.last %}last{% endif %}" data-uuid="{{ object.uuid }}">
    {% include 'desctop/posts/post_community/card_header.html' %}


      <div class="c_fullscreen pointer">
        {{ object.text|linebreaks }}
      </div>

      <span class="post_attach_panel">
        {% include object.get_c_attach_items_desctop %}
      </span>

    {% if object.parent %}
    <span style="margin-left: 5%;" data-uuid="{{ object.parent.uuid }}">
      {% if object.parent.community %}
        {% include object.get_c_post_parent_items %}
      {% else %}
        {% include object.get_u_post_parent_items %}
      {% endif %}
    </span>
    {% endif %}

    {% include 'desctop/posts/post_community/info.html' %}
</div>
