{% load staticfiles humanize liked_user %}

<span class="text-hide-xs">
  {% if prev %}
    <span class="prev_item" style="">
      <img style="width: 50px;" src="{% static 'images/icons/right-24px.svg' %}" />
    </span>
  {% endif %}
  {% if next %}
    <span class="next_item" style="">
      <img style="width: 50px;" src="{% static 'images/icons/left-24px.svg' %}" />
    </span>
  {% endif %}
</span>


<div class="mb-4">
    {% include 'generic/gallery/photo.html' %}
</div>

  {% if prev %}
    <script>
    	$('.prev_item').on('click', function () {
        uuid = "{{ user.uuid }}";
        pk = "{{ prev.pk }}";
    		$('#photo_loader').html('').load("/gallery/load/photo/" + pk + "/" + uuid + "/");
    	});
    </script>
   {% endif %}

   {% if next %}
    <script>
      $('.next_item').on('click', function () {
        uuid = "{{ user.uuid }}";
        pk = "{{ next.pk }}";
    		$('#photo_loader').html('').load("/gallery/load/photo/" + pk + "/" + uuid + "/");
    	});
    </script>
    {% endif %}
