{% extends "base.html" %}
{% block title %}Вопросы - {{ category.name_ru }}{% endblock %}
{% block content %}

<div class="container mt-4 main-container text-center">
            <h1 class="mb-0">We are <span class="font-weight-light">Go</span>TRI Mobile</h1>
            <h3 class="font-weight-light mb-4">A responsive HTML template</h3>
            <h5 class="text-warning mb-4"><i class="material-icons mr-1">star</i><i class="material-icons mr-1">star</i><i class="material-icons mr-1">star</i><i class="material-icons mr-1">star</i><i class="material-icons mr-1">star</i></h5>
            <p class="content-color-secondary">We have built GoTRI with boot strap and JQuery with customized css according to many new component and template. Our goal is to provide best flexible product and usable product with great user experience. Our highly skilled and competitive strong team within our organization. Stay in touch with us to get more updates and releases. Our goal is to provide best flexible product and usable product with great user experience. Our highly skilled and competitive strong team within our organization. Stay in touch with us to get more updates and releases. Our goal is to provide best flexible product and usable product with great user experience. Our highly skilled and competitive strong team within our organization.<br>Stay in touch with us to get more updates and releases.</p>
        </div>

        <div class="container my-4 main-container">
                     <div class="row justify-content-center my-4">
                        <div class="col-12 text-center">
                            <p class="mt-4 text-uppercase small text-primary font-weight-bold">Our Goal</p>
                            <h2 class="font-weight-light mb-4">We believe and we achieve with our customer success</h2>
                            <p class="mb-4 text-secondary">#1 GoTRI We are highly growing &amp; best in the industry, Our team leads many project home country and from this world. We always think to create new environment for users in specific to mobile applications, web based application as well as desktop universal application.<br>We are unique and creative GoTRI team.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 my-4 col-md-6 col-lg-4 text-center">
                            <h3 class="icon-circle icon-80 bg-light-primary mb-4 mx-auto"><i class="material-icons">people_outline</i></h3>
                            <h5>Best Skills</h5>
                            <p class=" content-color-secondary">Our team leads many project home country and from this world. Our team leads many project home country and from this world.</p>
                        </div>
                        <div class="col-12 my-4 col-md-6 col-lg-4 text-center">
                            <h3 class="icon-circle icon-80 bg-light-primary mb-4 mx-auto"><i class="material-icons">local_activity</i></h3>
                            <h5>Top Talents</h5>
                            <p class=" content-color-secondary">We have certified developers and designers with professional skills on technology and softwares around the world.</p>
                        </div>
                        <div class="col-12 my-4 col-md-6 col-lg-4 text-center">
                            <h3 class="icon-circle icon-80 bg-light-primary mb-4 mx-auto"><i class="material-icons">business</i></h3>
                            <h5>Nice Environment</h5>
                            <p class=" content-color-secondary">We always provide better work culture and space with organic garden, caterin service and food availability at to the desk.</p>
                        </div>
                    </div>

                </div>


                <div class="container mt-4 main-container">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="card mb-4 box-shadow-large">
                                        <div class="card-body text-center">
                                            <h1 class="icon-circle icon-100 bg-light-primary mb-4"><i class="material-icons">help_outline</i></h1>
                                            <h4 class="content-color-primary">Sales</h4>
                                            <p class="content-color-secondary">We'l like to hear from you about how we can help and how we can work together.</p>
                                        </div>
                                        <div class="card-footer border-top">
                                            <a href="" class="btn btn-link btn-block text-uppercase"> Support <i class="material-icons">keyboard_arrow_right</i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="card mb-4 box-shadow-large">
                                        <div class="card-body text-center">
                                            <h1 class="icon-circle icon-100 bg-light-primary mb-4"><i class="material-icons">receipt</i></h1>
                                            <h4 class="content-color-primary">News &amp; Events</h4>
                                            <p class="content-color-secondary">We'l like to hear from you about how we can help and how we can work together.</p>
                                        </div>
                                        <div class="card-footer border-top">
                                            <a href="" class="btn btn-link btn-block text-uppercase"> Support <i class="material-icons">keyboard_arrow_right</i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="card mb-4 box-shadow-large">
                                        <div class="card-body text-center">
                                            <h1 class="icon-circle icon-100 bg-light-primary mb-4"><i class="material-icons">call</i></h1>
                                            <h4 class="content-color-primary">Help</h4>
                                            <p class="content-color-secondary">We'l like to hear from you about how we can help and how we can work together.</p>
                                        </div>
                                        <div class="card-footer border-top">
                                            <a href="" class="btn btn-link btn-block text-uppercase"> Support <i class="material-icons">keyboard_arrow_right</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-5">
                                <div class="col-12 col-md-6 text-md-right text-center p-4">
                                    <h5 class="content-color-primary">Techincal problem</h5>
                                    <p class="content-color-secondary">If you have anytype of techincal challenges and
                                        <br> would like to get help from us please drop an email
                                        <br> at <a href="mailto:info@maxartkiller.in">info@maxartkiller.in</a>.</p>
                                </div>
                                <div class="col-12 col-md-6 text-md-left text-center p-4 border-left">
                                    <h5 class="content-color-primary">General Support</h5>
                                    <p class="content-color-secondary">If you have anytype of challenges regarding products and
                                        <br> would like to get help from us please drop an email
                                        <br> at <a href="mailto:info@maxartkiller.in">info@maxartkiller.in</a>.</p>
                                </div>
                            </div>
                            <div class="text-center"><h1 class="icon-circle icon-100 bg-light-primary mb-4 mx-auto"><i class="material-icons">mail</i></h1></div>
                            <h2 class="font-weight-normal mb-4 text-center">Contact us</h2>
                            <div class="row no-gutters box-shadow mb-4 bg-white rounded">
                                <div class="col-12 col-md-6 col-lg-7 has-background-img min-height-300 ">
                                    <div class="background-img bg-dark rounded">
                                        <img src="img/banner2.png" alt="" class="opacity-100">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-5 p-4">
                                    <form class="text-center">
                                        <label class="sr-only">Your Name</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                            <i class="material-icons">person</i>
                                        </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Your name">
                                        </div>
                                        <br>
                                        <label class="sr-only">Inquiry for</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                            <i class="material-icons">help</i>
                                        </span>
                                            </div>
                                            <select class="form-control">
                                                <option>Template</option>
                                                <option>Customization</option>
                                                <option>Project</option>
                                                <option>Support</option>
                                            </select>
                                        </div>
                                        <br>
                                        <label class="sr-only">Email address</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                            <i class="material-icons">mail</i>
                                        </span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Email address">
                                        </div>
                                        <br>
                                        <label class="sr-only">Message</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                            <i class="material-icons">chat</i>
                                        </span>
                                            </div>
                                            <textarea rows="3" class="form-control" placeholder="Message"></textarea>
                                        </div>
                                        <br>
                                        <button class="btn btn-rounded pink-gradient text-uppercase px-3">Submit</button>
                                    </form>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="text-center"><h1 class="icon-circle icon-100 bg-light-danger mb-4 mx-auto">
                              <svg fill="currentColor" class="svg_default" viewBox="0 0 24 24">
                                <path d="M0 0h24v24H0z" fill="none"/><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
                              </svg>
                            </div>
                            <h2 class="font-weight-normal mb-4 text-center">Thank you!</h2>

                        </div>

{% endblock %}
