{% extends "base.html" %}
{% block title %}Новости | Товары{% endblock %}
{% block meta %}
<meta property="og:url" content="http://xn--b1afgj5al1e.xn--p1acf" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://xn--b1afgj5al1e.xn--p1acf/static/images/I.jpg" />
{% endblock %}
{% block content %}

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-8">
          <a href="{% url 'post_list' %}" class="mb-2 btn btn-sm btn-primary ajax">Записи</a>
          <a href="{% url 'photos_list' %}" class="mb-2 btn btn-sm btn-secondary ajax">Фото</a>
          <a href="{% url 'goods_list' %}" class="mb-2 btn btn-sm btn-success ajax">Товары</a>
          <a href="{% url 'videos_list' %}" class="mb-2 btn btn-sm btn-warning ajax">Видео</a>
          <a href="{% url 'audios_list' %}" class="mb-2 btn btn-sm btn-info ajax">Музыка</a>

          <div class="stream-update">
            <a href=""><span class="new-posts"></span> Загрузить новые записи</a>
          </div>

          {% if object_list %}
            <span class="news_block_paginate" id="news_good_list" data-link="/goods_list">
              {% for object in object_list %}
                {% if forloop.counter|divisibleby:"5" %}
                  <img class="col-12 lazyload pag {% if forloop.last %}last{% endif %}" data-src="/static/images/r.jpg" alt="img">
                  <br><br>
                {% endif %}
                {% if object.community %}
                <span style="padding: 5px;">
                  Новый товар в сообществе &nbsp;
                  <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=object.community.pk %}">
                    {{ object.community }}
                  </a>
                </span>
                <div class="col-md-3 border c_good_detail pag {% if forloop.last %}last{% endif %}" data-pk="{{ obect.community.pk }}" good-uuid="{{ object.uuid }}" style="padding-top:15px">
                            <div class="row align-items-center no-gutters pointer">
                                <div class="col">
                                        <div class="text-center">
                                          {% if object.image %}
                                            <img class="svg_default image_fit_200 lazyload" data-src="{{ object.image.url }}" alt="">
                                          {% else %}
                                            <svg class="svg_default" style="width:100%;height:auto" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                                          {% endif %}
                                        </div>
                                </div>
                            </div>
                            <h5 class="card-title mb-1 header-color-primary text-center">{{ object.title }}</h5>
                            <h6 class="card-subtitle mb-2 header-color-secondary text-center">{{ object.sub_category }}</h6>
                            <br>
                            <div class="row bg-light-secondary text-center">
                                <div class="col py-3">
                                    <h5 class="content-color-primary mb-0">{{ object.price }}</h5>
                                    <p class="content-color-secondary small mb-0">Цена</p>
                                </div>
                                <div class="col py-3">
                                    <h5 class="content-color-primary mb-0">{{ object.all_visits_count }}</h5>
                                    <p class="content-color-secondary small mb-0">{{ object.all_visits_count|rupluralize:"просмотр,просмотра,просмотров" }}</p>
                                </div>
                            </div>
                </div>
                {% else %}
                <span style="padding: 5px;">
                  Новый товар &nbsp;
                  <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=object.creator.pk %}">
                    {{ user.get_full_name_genitive }}
                  </a>
                </span>
                <div class="col-md-3 border u_good_detail pag {% if forloop.last %}last{% endif %}" data-pk="{{ obect.creator.pk }}" good-uuid="{{ object.uuid }}" style="padding-top:15px">
                            <div class="row align-items-center no-gutters pointer">
                                <div class="col">
                                        <div class="text-center">
                                          {% if object.image %}
                                            <img class="svg_default image_fit_200 lazyload" data-src="{{ object.image.url }}" alt="">
                                          {% else %}
                                            <svg class="svg_default" style="width:100%;height:auto" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                                          {% endif %}
                                        </div>
                                </div>
                            </div>
                            <h5 class="card-title mb-1 header-color-primary text-center">{{ object.title }}</h5>
                            <h6 class="card-subtitle mb-2 header-color-secondary text-center">{{ object.sub_category }}</h6>
                            <br>
                            <div class="row bg-light-secondary text-center">
                                <div class="col py-3">
                                    <h5 class="content-color-primary mb-0">{{ object.price }}</h5>
                                    <p class="content-color-secondary small mb-0">Цена</p>
                                </div>
                                <div class="col py-3">
                                    <h5 class="content-color-primary mb-0">{{ object.all_visits_count }}</h5>
                                    <p class="content-color-secondary small mb-0">{{ object.all_visits_count|rupluralize:"просмотр,просмотра,просмотров" }}</p>
                                </div>
                            </div>
                </div>
              {% endfor %}
            </span>
          {% else %}
          <div class="card mb-3 post_empty centered">
            <div class="card-body">
            <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M22 13h-8v-2h8v2zm0-6h-8v2h8V7zm-8 10h8v-2h-8v2zm-2-8v6c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2zm-1.5 6l-2.25-3-1.75 2.26-1.25-1.51L3.5 15h7z"/></svg>
            </div>
            <h6 style="margin: 20px;text-align: center;">
              Пока новостей нет.
              <a href="{% url 'all_users' %}" style="text-decoration:underline;" class="ajax">
                Найдите друзей
              </a>
              и
              <a href="{% url 'all_communities' %}" style="text-decoration:underline;" class="ajax">
              вступайте в сообщества
              </a>, и их записи будут отображаться здесь.</h6>
          </div>
          {% endif %}

        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="card">
            <div class="card-body">
              {% include 'news_list/left_menu.html' %}
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
