{% extends "base.html" %}
{% block title %}Новости | Фотографии{% endblock %}
{% load liked_user %}
{% block content %}

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-8">
          <a href="{% url 'post_list' %}" class="mb-2 btn btn-sm btn-primary ajax">Записи</a>
          <a href="{% url 'photos_list' %}" class="mb-2 btn btn-sm btn-secondary ajax">Фото</a>
          <a href="{% url 'goods_list' %}" class="mb-2 btn btn-sm btn-success ajax">Товары</a>
          <a href="{% url 'videos_list' %}" class="mb-2 btn btn-sm btn-warning ajax">Видео</a>
          <a href="{% url 'audios_list' %}" class="mb-2 btn btn-sm btn-info ajax">Музыка</a>

          <div class="stream-update">
            <a href=""><span class="new-posts"></span> Загрузить новые записи</a>
          </div>
          <br>
          {% if object_list %}
            <span class="stream news_block_paginate" id="news_photo_list" data-link="/photos">
              {% for object in object_list %}
                {% if forloop.counter|divisibleby:"5" %}
                <img class="col-12 lazyload pag {% if forloop.last %}last{% endif %}" data-src="/static/images/r.jpg" alt="img">
                <br><br>
                {% endif %}

            {% if object.is_avatar_album %}
            {% if object.community %}
              <span class="">
                Новый аватар сообщества
                <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=object.community.pk %}">
                  {{ object.community }}
                </a>
              </span>
              <div class="c_AV_photo pag {% if forloop.last %}last{% endif %}" photo-uuid="{{ object.get_first_photo.uuid }}" data-pk="{{ object.community.pk }}">
                  <div class="card rounded-0 border-0 mb-3 pointer">
                    {% if object.get_first_photo.file %}
                      <img class="lazyload image_fit" data-src="{{ object.get_first_photo.file.url }}" alt="img">
                    {% else %}
                      <svg class="svg_default image_fit" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                    {% endif %}
                  </div>
              </div>
            {% else %}
            <span>
              Новый аватар
              <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=object.creator.pk %}">
                {{ object.creator.first_name|gent }} {{ object.creator.last_name|gent }}
              </a>
            </span>
            <div class="u_AV_photo pag {% if forloop.last %}last{% endif %}" photo-uuid="{{ object.get_first_photo.uuid }}" data-pk="{{ object.creator.pk }}">
                <div class="card rounded-0 border-0 mb-3 pointer">
                  {% if object.get_first_photo.file %}
                    <img class="lazyload image_fit" data-src="{{ object.get_first_photo.file.url }}" alt="img">
                  {% else %}
                    <svg class="svg_default image_fit" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                  {% endif %}
                </div>
            </div>
            {% endif %}

            {% elif object.is_wall_album %}
            {% if object.community %}
              <span class="">
                Стена собщества
                <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=object.community.pk %}">
                  {{ object.community }}
                </a>
              </span>
              <div class="row pag {% if forloop.last %}last{% endif %}">
                {% for photo in object.get_6_photos %}
                  <div class="c_WA_photo col-md-6 col-lg-4" photo-uuid="{{ photo.uuid }}" data-pk="{{ object.community.pk }}">
                    <div class="card rounded-0 border-0 mb-3 pointer">
                      {% if photo.file %}
                        <img class="lazyload image_fit" data-src="{{ photo.file.url }}" alt="img">
                      {% else %}
                        <svg class="svg_default image_fit" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% else %}
            <span>
              Стена
              <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=object.creator.pk %}">
                {{ object.creator.first_name|gent }} {{ object.creator.last_name|gent }}
              </a>
            </span>
            <div class="row pag {% if forloop.last %}last{% endif %}">
              {% for photo in object.get_6_photos %}
                <div class="u_WA_photo col-md-6 col-lg-4" photo-uuid="{{ photo.uuid }}" data-pk="{{ object.creator.pk }}">
                  <div class="card rounded-0 border-0 mb-3 pointer">
                    {% if photo.file %}
                      <img class="lazyload image_fit" data-src="{{ photo.file.url }}" alt="img">
                    {% else %}
                      <svg class="svg_default image_fit" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
            {% endif %}

            {% elif object.is_user_album %}
            {% if object.community %}
              <span class="">
                Альбом {{ object.title }} сообщества
                <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=object.community.pk %}">
                  {{ object.community }}
                </a>
              </span>
              <div class="row pag {% if forloop.last %}last{% endif %}">
                {% for photo in object.get_6_photos %}
                  <div class="c_AL_photo col-md-6 col-lg-4" photo-uuid="{{ photo.uuid }}" data-pk="{{ object.community.pk }}">
                    <div class="card rounded-0 border-0 mb-3 pointer">
                      {% if photo.file %}
                        <img class="lazyload image_fit" data-src="{{ photo.file.url }}" alt="img">
                      {% else %}
                        <svg class="svg_default image_fit" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% else %}
            <span>
              Альбом
              <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=object.creator.pk %}">
              {{ object.creator.first_name|gent }} {{ object.creator.last_name|gent }}
              </a>
            </span>
            <div class="row pag {% if forloop.last %}last{% endif %}">
              {% for photo in object.get_6_photos %}
                <div class="u_AL_photo col-md-6 col-lg-4" photo-uuid="{{ photo.uuid }}" data-pk="{{ object.creator.pk }}">
                  <div class="card rounded-0 border-0 mb-3 pointer">
                    {% if photo.file %}
                      <img class="lazyload image_fit" data-src="{{ photo.file.url }}" alt="img">
                    {% else %}
                      <svg class="svg_default image_fit" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
            {% endif %}
            {% elif not object.is_album_exists %}
            {% if object.community %}
              <span class="">
                Фото в сообществе
                <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=object.community.pk %}">
                  {{ object.community }}
                </a>
              </span>
              <div class="row pag {% if forloop.last %}last{% endif %}">
                {% for photo in object.get_6_photos %}
                  <div class="c_MA_photo col-md-6 col-lg-4" photo-uuid="{{ photo.uuid }}" data-pk="{{ object.community.pk }}">
                    <div class="card rounded-0 border-0 mb-3 pointer">
                      {% if photo.file %}
                        <img class="lazyload image_fit" data-src="{{ photo.file.url }}" alt="img">
                      {% else %}
                        <svg class="svg_default image_fit" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% else %}
            <span>
              Фото
              <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=object.creator.pk %}">
                {{ object.creator.first_name|gent }} {{ object.creator.last_name|gent }}
              </a>
            </span>
            <div class="row pag {% if forloop.last %}last{% endif %}">
              {% for photo in object.get_6_photos %}
                <div class="u_AL_photo col-md-6 col-lg-4" photo-uuid="{{ photo.uuid }}" data-pk="{{ object.creator.pk }}">
                  <div class="card rounded-0 border-0 mb-3 pointer">
                    {% if photo.file %}
                      <img class="lazyload image_fit" data-src="{{ photo.file.url }}" alt="img">
                    {% else %}
                      <svg class="svg_default image_fit" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
            </span>
          {% else %}
          <div class="card mb-3 post_empty centered">
            <div class="card-body">
            <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M22 13h-8v-2h8v2zm0-6h-8v2h8V7zm-8 10h8v-2h-8v2zm-2-8v6c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2zm-1.5 6l-2.25-3-1.75 2.26-1.25-1.51L3.5 15h7z"/></svg>
            </div>
            <h6 style="margin: 20px;text-align: center;">
              Пока фотографий нет.
              <a href="{% url 'all_users' %}" style="text-decoration:underline;" class="ajax">
                Найдите друзей
              </a>
              и
              <a href="{% url 'all_communities' %}" style="text-decoration:underline;" class="ajax">
              вступайте в сообщества
              </a>, и их фотографии будут отображаться здесь.</h6>
          </div>
          {% endif %}

        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="card">
            <div class="card-body">
              {% include 'news_list/left_menu.html' %}
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
