<span style="display: flex;align-items: center;justify-content: center;margin-bottom: 10px;">
  <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          У Вас в друзьях
      </button>
      <div class="dropdown-menu btn-secondary" data-pk="{{ user.pk }}" x-placement="bottom-start">
          <a class="dropdown-item connect_delete" href="#">Убрать из друзей</a>
          <a class="dropdown-item user_block" href="#">Заблокировать</a>
          <a class="dropdown-item" href="#">Пожаловаться</a>
      </div>
  </div>
</span>
