
<span style="display: flex;align-items: center;justify-content: center;margin-bottom: 10px;">
  <a href="#" class="btn btn-sm btn-success success-gradient follow_create" data-pk="{{ user.pk }}">Добавить в друзья</a>
  <button style="margin-left:5px;" type="button" class="btn btn-sm btn-success success-gradient" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <svg style="width: 17px;height: 17px; "fill="#FFFFF8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
  </button>
  <div class="dropdown-menu" x-placement="bottom-start" data-pk="{{ user.pk }}">
    <a class="dropdown-item user_block" href="#">Заблокировать</a>
    <a class="dropdown-item" href="#">Пожаловаться</a>
  </div>
</span>
