<span style="margin-bottom: 10px;" class="centered">
  <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary menu_drop">
          Вы подписаны
      </button>
      <div class="dropdown-menu" style="margin-top:5px;width:100%">
          <span class="dropdown-item follow_delete">Отменить подписку</span>
          <span class="dropdown-item user_block">Заблокировать</span>
          <span class="dropdown-item user_claim">Пожаловаться</span>
      </div>
  </div>
</span>
