{% load user %}


<span style="margin-bottom: 10px;" class="centered">
  {% if request.user|is_you_block:user.pk %}
    <button class="btn btn-sm btn-success warning-gradient">Вы заблокированы</button>
  {% else %}
    <button class="btn btn-sm btn-success success-gradient follow_create">Добавить в друзья</button>
  {% endif %}

  <button style="margin-left:5px;" type="button" class="btn btn-sm btn-success success-gradient menu_drop">
    <svg style="width: 17px;height: 17px; "fill="#FFFFF8" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
  </button>
  <div class="dropdown-menu" style="margin-top:-50px;width:100%">
    <span class="dropdown-item user_block">Заблокировать</span>
    <span class="dropdown-item user_blocker" style="font-weight: bold;">Блокировать</span>
    <span class="dropdown-item user_suspend" style="font-weight: bold;">Остановка</span>
    {% if user.is_have_warning_banner %}
      <a href="/managers/penalty_list/user/{{ request.user.pk}}" class="dropdown-item ajax" style="font-weight: bold;">Применен баннер</a>
    {% else %}
      <span class="dropdown-item user_warning_banner" style="font-weight: bold;">Повесить баннер</span>
    {% endif %}
  </div>
</span>
