<div class="card mb-3" style="flex-basis: 100%;">
  <div class="card-body" style="padding: 8px;padding-bottom: 0;">
    <div style="display:flex">
      <figure>
        <a class="ajax" href="{% url 'user_album' pk=album.creator.pk uuid=album.uuid %}">
        {% if album.get_cover_photo %}
          <img class="lazyload" style="width:60px;height:70px;object-fit: cover;" data-src="{{ album.get_cover_photo.file.url }}" />
        {% else %}
        <svg fill="currentColor" class="svg_default border" style="width:60x;height:70px;" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none"/><path d="M22 16V4c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2zm-11-4l2.03 2.71L16 11l4 5H8l3-4zM2 6v14c0 1.1.9 2 2 2h14v-2H4V6H2z"/>
        </svg>
        {% endif %}
        </a>
      </figure>
      <div class="media-body" style="margin-left:10px">
        <h6 class="my-0 mt-1">{{ album.title }}</h6>
        <p class="">
          Фотоальбом
          <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=album.creator.pk %}">
            {{ album.creator.get_full_name_genitive }}
          </a>
          <br>
          Всего: {{ album.count_photo }}
        </p>
      </div>
      <span flow="up" tooltip="Открепить" class="photo_attach_album_remove btn_default pointer" style="margin-right: 14px;">
        <svg class="svg_default svg_default_30" fill="currentColor" viewBox="0 0 24 24">
          <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </span>
    </div>
  </div>
<div class="row" style="margin-left: 0;margin-right: 0;">
  {% for photo in album.get_6_photos %}
    <div class="u_AL_photo col-md-6 col-lg-4" photo-pk="{{ photo.pk }}" data-pk="{{ object.creator.pk }}">
      <div class="card rounded-0 border-0 mb-3 pointer">
        {% if photo.file %}
          <img class="lazyload image_fit_small" data-src="{{ photo.file.url }}" alt="img">
        {% else %}
          <svg class="svg_default image_fit_small" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
</div>
