{% load get_key %}

<span class="load_block">
  <div class="media mt-3 uuid_saver" data-pk="{{ list.pk }}" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
    <h5 class="mt-1">
      <p>
        <span class="second_list_name" data-name="{{ list.name }}">{{ list.name }}</span> ({{ list.count }}) - музыка
        <a class="underline ajax" href="{{ list.creator.get_link }}">{{ list.creator.get_full_name_genitive }}</a>
      </p>
      <span class="pointer badge badge-light-success u_track_add">Добавить аудиозапись</span>
      {% if request.user.pk == list.creator.pk and not list.is_main %}
        <span class="pointer badge badge-light-secondary u_playlist_edit">Изменить список</span>
        <span class="pointer badge badge-light-danger u_playlist_remove">Удалить список</span>
      {% endif %}
      <span class="pointer badge badge-light-info copy_link">Копировать ссылку</span>
    </h5>
  </div>
                {% if object_list %}
                    <ul class="is_load_paginate is_stat_list" data-pk="{{ list.pk }}" owner-pk="{{ list.creator.pk }}" data-type="user_music_list">
                      {% for object in object_list %}
                        {% include 'desctop/users/music/track.html' %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <div class="load centered m-1 next_page_list" data-link="{% url 'load_music_list' pk=list.pk %}?page={{ page_obj.next_page_number }}">
                          <img src="/static/images/preloader.gif">
                      </div>
                      {% endif %}
                    </ul>
                {% else %}
                  {% include 'desctop/users/music/main_list/no_tracks.html' %}
                {% endif %}
</span>
