{% extends "base.html" %}
{% block title %}{{ community.name }} :: Фотографии{% endblock %}
{% block content %}

<div class="container-fluid mt-3 pk_saver" data-pk="{{ community.pk }}" data-uuid="{{ list.uuid }}">
{% if photo_lists %}
  <div class="container-fluid mt-3">
      <div class="row">
          <div class="col-12 col-md-8">
            <h5 class="mt-1">
              {% include 'desctop/generic/community/community.html' %} - альбомы
            </h5>
          </div>
          <div class="col-12 col-md-4"></div>
      </div>
  </div>
  <div class="container mt-4">
    {% include 'desctop/communities/gallery/lists.html' %}
  </div>
{% else %}
  <div class="container-fluid mt-3">
      <div class="row">
          <div class="col-12 col-md-8">
              <h5 class="mt-1">
                {% include 'desctop/generic/community/community.html' %}
                - Альбомов нет</h5>
          </div>
          <div class="col-12 col-md-4"></div>
      </div>
  </div>
{% endif %}

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="mt-1">
              {% include 'desctop/generic/community/community.html' %} - фотографии
            </h5>
            Фото: {{ list.count_items }}
        </div>
        {% if community.is_photo_upload_member or community.is_photo_upload_nomember %}
        <div class="col-12 col-md-4">
          <form id="c_add_photos">
              {% csrf_token %}
                <input type="file" id="c_gallery_photo_add" name="file" style="display:none" multiple="multiple">
                <button class="btn btn-outline-success previous_lists" style="margin-bottom:15px;width:100%" type="button">
                  Добавить фотографии
                </button>
          </form>
        </div>
        {% endif %}
    </div>
</div>

<div class="container mt-4 main-container">
      <div class="row is_block_paginate no-gutters" data-link="/gallery/community/photos/{{ community.pk }}/"></div>
  </div>
</div>
{% endblock %}
