{% load humanize liked_user %}

<span class="stream_comments">
    {% for comment in object_list %}
    {% include 'c_post_comment/parent.html' %}
    {% endfor %}
</span>

<div>

  <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row img_block" style="margin:10px"></div>

      <div class="row no-gutters" style="margin-top: 20px;">

        {% include 'c_item_comment/form_dropdown.html' %}
          <div class="col">
            <input type="hidden" name="item" value="{{ parent.uuid }}">
            <input type="hidden" name="id" value="{{ community.pk }}">
              <div class="input-group input-group-sm">
                <input type="text" name="text" class="form-control text-comment form-control-rounded">
              </div>
          </div>
          <div class="col-auto">
              <button class="btn btn-outline-primary btn-rounded btn-sm ml-2 c_itemComment" type="button">
                <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              </button>
          </div>
      </div>
  </form>
</div>
