<h5 class="mt-0">
  <a href="{{ comment.commenter.get_link }}" class="ajax">
    <span class="commenter_first_name">{{ comment.commenter.first_name }}</span> {{ comment.commenter.last_name }}
  </a>
  <small class="text-muted float-right">{{ comment.get_created }}</small>
</h5>

{% if comment.sticker %}
<div class="comment_sticker mt-1 pointer show_cticker_info">
  <img src="{{ comment.sticker.image.url }}" style="width: 128px;">
</div>
{% else %}

<span class="comment_text">{{ comment.text|safe }}</span>

{% if comment.attach %}
  {% load comment %}
  {{ comment|get_attach:request.user|safe }}
{% endif %}
{% endif %}
