<h5 class="mt-0">
  <a href="{{ reply.commenter.get_link }}" class="ajax">
    <span class="commenter_first_name">{{ reply.commenter.first_name }}</span> {{ reply.commenter.last_name }}
  </a>
  <small class="text-muted float-right">{{ reply.get_created }}</small>
</h5>

{% if reply.sticker %}
<div class="comment_sticker mt-1 pointer show_cticker_info">
  <img src="{{ reply.sticker.image.url }}" style="width: 128px;">
</div>
{% else %}

<span class="comment_text text_support">{{ reply.get_format_text|safe }}</span>

{% if reply.attach %}
  {% load comment %}
  {{ reply|get_attach:request.user|safe }}
{% endif %}
{% endif %}
