<!-- прикрепленные элементы к комментариям к записям сообществ -->

<div class="row" data-pk="{{ comment.pk }}">
  {% for photo in comment.comment_photo.all %}
    {% include 'mobile/generic/items/c_photo.html' %}
  {% endfor %}

  {% for video in comment.comment_video.all %}
    {% include 'mobile/generic/items/c_video.html' %}
  {% endfor %}

  {% for good in comment.comment_good.all %}
    {% include 'mobile/generic/items/c_comment_good.html' %}
  {% endfor %}

  {% for article in comment.attached_comment.all %}
    {% include 'mobile/generic/items/c_article.html' %}
  {% endfor %}

  {% for music in comment.comment_music.all %}
    {% include 'mobile/generic/attach/c_music.html' %}
  {% endfor %}

  {% for doc in comment.get_attach_docs %}
    {% include 'mobile/generic/items/c_doc.html' %}
  {% endfor %}
</div>
