<!-- прикрепленные элементы к ответам на комментарии к фотографиям сообществ -->

<div class="row" data-pk="{{ reply.pk }}">
  {% for photo in reply.gallery_comment_photo.all %}
    {% include 'desctop/generic/items/c_photo.html' %}
  {% endfor %}

  {% for video in reply.gallery_comment_video.all %}
    {% include 'desctop/generic/items/c_video.html' %}
  {% endfor %}

  {% for music in reply.gallery_comment_music.all %}
    {% include 'desctop/generic/items/c_music.html' %}
  {% endfor %}

  {% for doc in reply.get_attach_docs %}
    {% include 'desctop/generic/items/c_doc.html' %}
  {% endfor %}
</div>
