{% extends "base.html" %}
{% block title %}{{ list.name }} - альбом {{ community.name }}{% endblock %}
{% load get_key %}
{% block content %}

<div class="main-container mt-3 pk_saver community_gallery_container" data-pk="{{ community.pk }}">
  <span class="load_block">
  <div class="media mt-3 uuid_saver" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
    <h5 class="mt-1">
      {{ list.name }} ({{ list.count_items }})

      {% if list|is_user_can_add_list:request.user.pk %}
        <span class="pointer badge badge-light-success c_copy_photo_list">Добавить список в коллекцию</span>
      {% elif request.user.pk in list.get_users_ids %}
        <span class="pointer badge badge-light-danger c_uncopy_photo_list">Удалить список из коллекции</span>
      {% endif %}
      <span class="pointer badge badge-light-warning c_photo_list_claim">Пожаловаться</span>
    </h5>
  </div>

  <div class="row is_block_paginate no-gutters" data-uuid="{{ list.uuid }}" id="c_list_photos_container" data-link="/gallery/community/list_photos/{{ community.pk }}/{{ list.uuid }}/"></div>
  </span>
</div>

{% endblock %}
