{% extends "base.html" %}
{% block title %}{{ list.name }} - мой альбом{% endblock %}
{% block content %}

<div class="main-container mt-3 pk_saver" data-pk="{{ community.pk }}" data-type="community_photo_list">
  <span class="load_block">
  <div class="media mt-3" style="padding-left: 7px;">
    <form id="add_photos" data-uuid="{{ list.uuid }}">
      {% csrf_token %}
    <h5 class="mt-1">
      <span class="second_list_name" data-name="{{ list.name }}">{{ list.name }}</span> ({{ list.count_items }})
        <input type="file" id="c_photo_add" name="file" style="display:none" multiple="multiple">
        <span class="pointer badge badge-light-success previous_click">Добавить фото</span>
        {% if community.pk == list.community.pk and not list.is_main %}
        <span class="pointer badge badge-light-secondary c_photo_list_edit">Изменить список</span>
        <span class="pointer badge badge-light-danger c_photo_list_remove">Удалить список</span>
        {% endif %}
    </h5>
    </form>
  </div>

  <div class="row is_block_paginate no-gutters">
    <div class="card mb-3 centered items_empty" style="width: 100%;">
      <div class="card-body">
      <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-4.86 8.86l-3 3.87L9 13.14 6 17h12l-3.86-5.14z"/></svg>
      </div>
      <h6 style="margin: 20px;text-align: center;"> Фотографий пока нет...</h6>
    </div>
  </div>
</span>
</div>

{% endblock %}
