{% extends "base_mobile.html" %}
{% block title %}{{ list.name }} - мой альбом{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/users/{{ user.pk }}/photo_list/{{ list.uuid }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Фотографии {{ user.get_full_name_genitive }} - {{ list.name }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ user.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="container mt-3 pk_saver" data-pk="{{ user.pk }}" data-type="user_photo_list">

  <div class="row no-gutters">
    <div style="flex: 0 0 20%;max-width:20%;padding:5px;">
        <a class="btn btn-sm border ajax" href="{% url 'user_gallery' pk=user.pk %}" style="width: -webkit-fill-available;">
          <svg fill="currentColor" class="svg_default" style="width: 19px;" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/></svg>
        </a>
    </div>
    <div style="flex: 0 0 80%;max-width:80%;padding:5px;">
      <form id="add_photos">
        {% csrf_token %}
        <input type="file" id="u_gallery_list_photo_add" name="file" style="display:none" multiple="multiple">
        <span class="btn btn-sm border previous_click" style="width: -webkit-fill-available;">Добавить фото</span>
      </form>
    </div>
  </div>

  <div class="media mt-3" style="display:flex;align-items: flex-start">
    <h5 class="mt-1" style="flex: 1;">{{ list.name }}</h5>
    <span>Фото: {{ list.count_items }}</span>
  </div>

  <div class="row is_block_paginate no-gutters" data-link="/gallery/user/list_photos/{{ user.pk }}/{{ list.uuid }}/"></div>

</div>

{% endblock %}
