{% extends "base_mobile.html" %}
{% block title %}{{ list.name }} - мой альбом{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/users/{{ user.pk }}/photo_list/{{ list.uuid }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Фотографии {{ user.get_full_name_genitive }} - {{ list.name }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ user.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="container main-container mt-3" data-pk="{{ list.pk }}" data-type="user_photo_list">

  <span class="load_block pk_saver" data-pk="{{ user.pk }}">
  <div class="media mt-3" style="padding-left: 7px;">
    <form class="uuid_saver" data-uuid="{{ list.uuid }}">
      {% csrf_token %}
    <h5 class="mt-1">
      <span class="second_list_name" data-name="{{ list.name }}">{{ list.name }}</span> ({{ list.count_items }})
        <input type="file" accept="image/*" class="add_photos_in_list" name="file" style="display:none" multiple="multiple">
        {% if list.is_main or list.is_have_edit %}
        <span class="pointer badge badge-light-success previous_click">Добавить фото</span>
        {% endif %}
        {% if request.user.pk == list.creator.pk and list.is_have_edit %}
        <span class="pointer badge badge-light-secondary u_photo_list_edit">Изменить список</span>
        <span class="pointer badge badge-light-danger u_photo_list_remove">Удалить список</span>
        {% endif %}
    </h5>
    </form>
  </div>

<div class="row is_paginate is_block_paginate drag_container is_stat_list" data-pk="{{ list.pk }}" data-type="{% if list.community %}community{% else %}user{% endif %}_photo_list" id="u_list_photos_container" data-link="/gallery/user/list_photos/{{ user.pk }}/{{ list.pk }}/"></div>
</span>
</div>

{% endblock %}
