{% load humanize staticfiles liked_user %}
<script defer src="{% static 'scripts/jquery.js' %}" type="text/javascript"></script>

<span class="stream_comments bg-light-secondary">
  <div></div>
    {% for comment in comments %}
    {% include 'generic/posts/parent_comment.html' with comment=comment  %}
    {% endfor %}
</span>

<div class="border-top" style="margin-top:10px">
    <form action="" method="post">
        {% csrf_token %}
        <div class="row no-gutters">

            <input type="hidden" name="parent" value="{{ parent.pk }}">
            <div class="col">
                <div class="input-group input-group-sm">
                    <textarea name="text" class="form-control comm text-comment form-control-rounded"></textarea>
                </div>
            </div>
            <div class="col-auto">
                <button class="btn btn-outline-primary btn-rounded btn-sm ml-2 itemComment" type="button">
                    <img style="width:22px" src="{% static 'images/icons/send-24px.svg' %}" />
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    var csrftoken = getCookie('csrftoken');
    var page_title = $(document).attr("title");
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $(".itemComment").click(function() {
      button1 = $(this);
      form1 = button1.parent().parent().parent();
        $.ajax({
            url: '{% url "post_comment" %}',
            data: form1.serialize(),
            type: 'POST',
            cache: false,
            success: function(data) {
                $(".form-control-rounded").val("");
                $(".stream_comments").append(data);
            },
            error: function(data) {
                alert(data.responseText);
            },
        });
        return false;
    });
    $(".replyComment").click(function() {
        button = $(this);
        form = button.parent().parent().parent().parent();
        $.ajax({
            url: '{% url "reply_comment" %}',
            data: form.serialize(),
            type: 'POST',
            cache: false,
            success: function(data) {
                $(".form-control-rounded").val("");
                $(".stream_reply_comments").append(data);
            },
            error: function(data) {
                alert(data.responseText);
            },
        });
        return false;
    });
  </script>
  <script>
    $(".replyParentComment").click(function() {
      button = $(this);
      form = button.parent().parent().parent().parent();
        $.ajax({
            url: '{% url "reply_comment" %}',
            data: form.serialize(),
            type: 'POST',
            cache: false,
            success: function(data) {
                $(".form-control-rounded").val("");
                $(".stream_reply_comments").append(data);
            },
            error: function(data) {
                alert(data.responseText);
            },
        });
        return false;
    });
</script>

<script>
	$( ".reply_comment" ).click(function(){
    var reply_comment_form = $(this);
    var objectUser = reply_comment_form.prev().text().trim();
    var form = reply_comment_form.next().find(".text-comment");
    form.val(objectUser + ', ');
		reply_comment_form.next().show();
    form.focus();
	})
</script>

<script>
  var textarea = document.querySelector('.comm');
textarea.addEventListener('keyup', function(){
  if(this.scrollTop > 0){
    this.style.height = this.scrollHeight + "px";
  }
});
</script>
