{% load staticfiles humanize %}

<div class="card-header border-bottom">
    <div class="media">
        <figure>
          {% if object.post.creator.profile.avatar %}
            <img src="{{ object.post.creator.profile.avatar.url }}" style="border-radius: 50px;width:50px;" alt="image">
          {% else %}
            <img src="{% static 'images/user.png' %}" style="border-radius: 50px;width:50px;" alt="image">
          {% endif %}
        </figure>
        <div class="media-body">
            <h6 class="mb-0">{{ object.post.creator.get_full_name }} &nbsp;
              <span class="is_fixed" style="color: #888888;font-size: 13px;{% if not object.is_fixed %}display:none;{% endif %}">закреплено</span>
            </h6>
            <p class="mb-0">{{ object.post.created|naturaltime }}</p>
        </div>
    </div>
</div>

<div class="card-body">
  {% if object.post.parent.text %}
    <p class="">{{ object.post.parent.text|linebreaks }}</p>
  {% endif %}
  {% if object.post.parent.image %}
    <p class="">{{ object.post.parent.image.url }}</p>
  {% endif %}
  {% if object.post.parent.doc %}
    <p class="">{{ object.post.parent.doc }}</p>
  {% endif %}
</div>
