
<div class="media mt-3" style="padding-left: 7px;">
    <h5 class="mt-1" style="flex: 1;">Плейлист
      <a class="underline ajax" href="{% url 'user' pk=user.pk %}">
        {{ user.get_full_name_genitive }}
      </a>
      ({{ count_lists }})
    </h5>
</div>
<div class="row no-gutters" style="overflow-x: auto;">
    <div class="col-12">
        <ul style="width:max-content;list-style: none;">
            {% for object in get_lists %}
            {% if object.community %}
            <li class="list_item" data-pk="{{ object.pk }}">
                <div class="card file-manager-item folder border community" data-pk="{{ object.community.pk }}" data-uuid="{{ object.uuid }}">
                    <div class="card-img-top file-logo-wrapper">
                      <div class="d-flex align-items-center justify-content-center w-100">
                        <svg class="list_toggle list_svg svg_default {% if forloop.first %}active{% else %}pointer load_profile_playlist{% endif %}" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-music"><path d="M9 18V5l12-2v13"></path><circle cx="6" cy="18" r="3"></circle><circle cx="18" cy="16" r="3"></circle></svg>
                      </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="content-wrapper">
                            <p class="card-text file-name mb-0 list_name {% if forloop.first %}active{% else %}pointer load_profile_playlist{% endif %} list_toggle" style="text-align: left;" data-name="{{ object.name }}">{{ object.name }}</p>
                            <p class="card-text file-size mb-0">{{ object.count_items }}</p>
                        </div>
                        <small class="file-accessed">
                          <a class="ajax underline" href="{% url 'community_detail' pk=object.community.pk %}">
                            {{ object.community.name }}
                          </a>
                        </small>
                    </div>
                </div>
            </li>
            {% else %}
            <li class="list_item" data-pk="{{ object.pk }}">
                <div class="card file-manager-item folder border" data-pk="{{ object.creator.pk }}" data-uuid="{{ object.uuid }}">
                    <div class="card-img-top file-logo-wrapper">
                      <div class="d-flex align-items-center justify-content-center w-100">
                        <svg class="list_toggle list_svg svg_default {% if forloop.first %}active{% else %}pointer load_profile_playlist{% endif %}" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-music"><path d="M9 18V5l12-2v13"></path><circle cx="6" cy="18" r="3"></circle><circle cx="18" cy="16" r="3"></circle></svg>
                      </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="content-wrapper">
                            <p class="card-text file-name mb-0 list_name {% if forloop.first %}active{% else %}pointer load_profile_playlist{% endif %} list_toggle" style="text-align: left;" data-name="{{ object.name }}">{{ object.name }}</p>
                            <p class="card-text file-size mb-0">{{ object.count_items }}</p>
                        </div>
                        <small class="file-accessed">
                          <a class="ajax underline" href="{% url 'user' pk=object.creator.pk %}">
                            {{ object.creator.get_full_name }}
                          </a>
                        </small>
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
