{% extends "base.html" %}
{% block title %}Моя музыка{% endblock %}
{% load get_key %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/users/{{ user.pk }}/music/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Музыка {{ user.get_full_name_genitive }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ user.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="main-container pk_saver mt-3" data-pk="{{ user.pk }}" data-type="user_music">
          <div class="input-group mb-3">
            <input type="text" class="form-control form-control-sm" placeholder="Поиск музыки">
            <div class="input-group-append">
              <button class="btn btn-sm border" type="button">Искать</button>
            </div>
          </div>

          {% include 'desctop/users/music/main_list/lists.html' %}

          <span class="load_block">
            <div class="media mt-3 uuid_saver" data-pk="{{ list.pk }}" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
              <h5 class="mt-1">
                <span class="second_list_name" data-name="{{ list.name }}">{{ list.name }}</span> ({{ list.count_items }})
                {% if request.user.pk == list.creator.pk %}
                  <span class="pointer badge badge-light-success u_track_add">Добавить аудиозапись</span>
                  <span class="pointer badge badge-light-secondary u_playlist_edit">Изменить список</span>
                {% endif %}
                <span class="pointer badge badge-light-success u_playlist_add">Создать список</span>
              </h5>
            </div>
          <div class="card mb-2">
              <div class="card-body">
                {% if object_list %}
                    <ul class="is_paginate drag_container is_stat_list" data-pk="{{ list.pk }}" data-type="{% if list.community %}community{% else %}user{% endif %}_music_list">
                      {% for object in object_list %}
                        {% include 'desctop/users/music/track.html' %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <div class="load centered m-1 next_page_list" data-link="{% url 'user_music' pk=user.pk %}?page={{ page_obj.next_page_number }}">
                          <img src="/static/images/preloader.gif">
                      </div>
                      {% endif %}
                    </ul>

                {% else %}
                  {% include 'desctop/users/music/main_list/no_tracks.html' %}
                {% endif %}
              </div>
          </div>
      </span>
</div>

<script>
  {% if user|is_user_list:list.pk %}
    document.querySelector("body").classList.add('list_' + {{ list.pk }});
  {% endif %}
</script>
{% endblock %}
