{% extends "base_anon.html" %}
{% block title %}Фотографии {{ user.get_full_name_genitive }}{% endblock %}
{% block content %}

<div class="container-fluid mt-3 pk_saver" data-pk="{{ user.pk }}" album-uuid="{{ user.get_main_album_uuid }}">
    <div class="row">
        <div class="col-12">
            <h5 class="mt-1">Альбомы
                <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=user.pk %}">
                  {{ user.get_full_name_genitive }}
                </a>
                {% if not user.is_album_exists %}- альбомов нет{% endif %}
            </h5>
        </div>
    </div>
</div>

<div class="container mt-4 main-container">
  {% include 'gallery_user/albums.html' %}
</div>

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-12">
            <h5 class="mt-1">Фотографии
                <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=user.pk %}">
                  {{ user.get_full_name_genitive }}
                </a>
            </h5>
            Фото: {{ user.count_photos }}
        </div>
    </div>
</div>

<div class="container mt-4 main-container">
      <div id="photo_load" data-link="/gallery/user/photos/{{ user.uuid }}/"></div>
</div>

{% endblock %}
