{% extends "base_anon.html" %}
{% load liked_user %}
{% block title %}Фотографии {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}
{% block content %}

<div class="container-fluid mt-3 pk_saver" data-uuid="{{ user.uuid }}">
    <div class="row">
        <div class="col-12">
            <h5 class="mt-1">Альбомы
                <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=user.pk %}">
                  {{ user.first_name|gent }} {{ user.last_name|gent }} {% if not user.is_album_exists %}- альбомов нет{% endif %}
                </a>
            </h5>
        </div>
    </div>
</div>

<div class="container mt-4 main-container">
  {% include 'gallery_user/albums.html' %}
</div>

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-12">
            <h5 class="mt-1">Фотографии
                <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=user.pk %}">
                  {{ user.first_name|gent }} {{ user.last_name|gent }}
                </a>
            </h5>
            Фото: {{ user.count_photos }}
        </div>
    </div>
</div>

<div class="container mt-4 main-container">
      <div id="photo_load" data-link="/gallery/user/photos/{{ user.uuid }}"></div>
</div>

<script>

  var page = 2;
  var loaded = false;
  onscroll = function(){
    try{
    var photos = document.getElementById("photos_container");
    if(photos.querySelectorAll(".u_photo_detail").length === (page-1)*30){
    var height = document.documentElement.clientHeight-1;
    if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
      if (loaded){return};
      var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_3.open( 'GET', '/gallery/user/photos/' + '{{ user.uuid }}/?page=' + page++, true );
      link_3.send();
      link_3.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        var elem = document.createElement('span');
        elem.innerHTML = link_3.responseText;
        if(elem.getElementsByClassName('u_photo_detail').length < 30){loaded = true;};
        photos.append(elem);
        }
      }
    }}
  }catch{return}
}
</script>
{% endblock %}
