
{% if albums_list %}
<div class="row" style="margin-left: 0;margin-right: 0;">
    {% for object in albums_list %}
    <div class="col-sm-12 col-md-6 col-lg-4 cover_block">

        <div class="card rounded-0 border-0 mb-3">
            <div class="card-header">
                <div class="media">
                    <div class="media-body" style="white-space:nowrap;overflow:hidden;">
                        <h6 class="mb-0">{{ object.title }}</h6>
                    </div>
                    {% if not object.album_is_generic %}
                    <div class="dropdown d-inline-block">
                        <a style="cursor:pointer;width:20px;display:inline-block">
                          <svg class="svg_default" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="" class="dropdown-item">Изменить</a>
                            <a href="" class="dropdown-item">Удалить</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
              <a href="{% url 'user_album' pk=user.pk uuid=object.uuid %}" class="ajax">
                  {% if object.get_cover_photo %}
                    <img class="image_fit_200" src="{{ object.get_cover_photo.file.url }}" />
                  {% else %}
                    <svg class="svg_default image_fit_200" style="width:100%;height:auto" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                  {% endif %}
                <p class="mb-0 content-color-secondary f-sm albom_description">{{ object.description }}</p>
              </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
