{% extends "base.html" %}
{% block title %}Мои фотографии{% endblock %}
{% block content %}

<div class="container-fluid mt-3 pk_saver" data-pk="{{ user.pk }}">
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="mt-1">Мои альбомы</h5> {% if not user.is_album_exists %}- альбомов нет{% endif %}
        </div>
        <div class="col-12 col-md-4">
          <button class="u_albums_add btn btn-outline-success" class="btn btn-outline-success" style="margin-bottom:15px;width:100%" type="button">
            Добавить альбом
          </button>
        </div>
    </div>
</div>

<div class="container mt-4">
  {% include 'gallery_user/albums.html' %}
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 col-md-8">
            <h5 class="mt-1">Мои фотографии</h5>
            Фото: {{ user.count_photos }}
        </div>
        <div class="col-12 col-md-4">
          <form id="add_photos" method="post">
              {% csrf_token %}
                <input type="file" id="u_gallery_photo_add" name="file" style="display:none" multiple="multiple">
                <button id="u_add_multi_photos" class="btn btn-outline-success" class="btn btn-outline-success" style="margin-bottom:15px;width:100%" type="button">
                  Добавить фотографии
                </button>
          </form>
        </div>
    </div>
</div>

<div class="container mt-4 main-container">
      <div id="photo_load" data-link="/gallery/user/photos/{{ user.uuid }}"></div>
  </div>

<script>

  var page = 2;
  var loaded = false;
  onscroll = function(){
    try{
    var photos = document.getElementById("photos_container");
    if(photos.querySelectorAll(".u_photo_detail").length === (page-1)*30){
    var height = document.documentElement.clientHeight-1;
    if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
      if (loaded){return};
      var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_3.open( 'GET', '/gallery/user/photos/' + '{{ user.uuid }}/?page=' + page++, true );
      link_3.send();
      link_3.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        var elem = document.createElement('span');
        elem.innerHTML = link_3.responseText;
        if(elem.getElementsByClassName('u_photo_detail').length < 30){loaded = true;};
        photos.append(elem);
        }
      }
    }}
  }catch{return}
}
</script>

{% endblock %}
