{% extends "base.html" %}
{% load thumbnail liked_user %}
{% block title %}Друзья {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-8">
      <br><br><br>
      <div class="card-header p-0">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link ajax" href="{% url 'frends' pk=user.pk %}" data-html="#ajax">
                    Все <span class="text-hide-xs"> друзья</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ajax" href="{% url 'online_frends' pk=user.pk %}" data-html="#ajax">
                    Онлайн <span class="text-hide-xs"> друзья</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active show ajax">
                    Общие <span class="text-hide-xs"> друзья</span>
                </a>
            </li>
        </ul>
      </div>
      <div class="card">
            <div class="col-12 col-md-12">
                <div class="col-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="tabhome123" role="tabpanel" aria-labelledby="tabhome123-tab">
                                  <div class="media-body">
                                      <h5 class="mt-1">Друзья
                                        <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=user.pk %}" data-html="#ajax">
                                          {{ user.first_name|gent }} {{ user.last_name|gent }}
                                        </a>
                                      </h5>
                                  </div>
                                  <br>
                                  <div class="input-group mb-3">
                                      <input type="text" class="form-control" placeholder="Поиск по друзьям" aria-label="Recipient's username">
                                      <div class="input-group-append">
                                          <button class="btn btn-outline-link" type="button">Искать</button>
                                      </div>
                                  </div>

                                  <span id="all_frends"></span>

                                </div>
                                <div class="tab-pane fade" id="tabhome223" role="tabpanel" aria-labelledby="tabhome223-tab">
                                  <div class="media-body">
                                      <h5 class="mt-1">Друзья онлайн
                                        <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=user.pk %}" data-html="#ajax">
                                          {{ user.first_name|gent }} {{ user.last_name|gent }}
                                        </a>
                                      </h5>
                                  </div>
                                  <br>
                                  <div class="input-group mb-3">
                                      <input type="text" class="form-control" placeholder="Поиск по друзьям онлайн" aria-label="Recipient's username">
                                      <div class="input-group-append">
                                          <button class="btn btn-outline-link" type="button">Искать</button>
                                      </div>
                                  </div>

                                  <span id="online_frends"></span>

                                </div>

                                <div class="tab-pane fade" id="tabhome323" role="tabpanel" aria-labelledby="tabhome323-tab">
                                  <div class="media-body">
                                      <h5 class="mt-1">Общие друзья</h5>
                                  </div>
                                  <br>
                                  <div class="input-group mb-3">
                                      <input type="text" class="form-control" placeholder="Поиск по общим друзьям" aria-label="Recipient's username">
                                      <div class="input-group-append">
                                          <button class="btn btn-outline-link" type="button">Искать</button>
                                      </div>
                                  </div>

                                  <span id="common_frends"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <br>
        {% include 'featured_users.html' %}
    </div>
</div>

<script>
  ready(() => {
    var link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link.open( 'GET', '/friends/all-list/' + '{{ user.uuid }}', true );
    link.onreadystatechange = function () {
      if ( link.readyState == 4 ) {
          if ( link.status == 200 ) {
              var all_frends = document.getElementById("all_frends");
              all_frends.innerHTML = link.responseText;
          }
      }
  };
  link.send( null );
  });

  document.querySelector(".online").addEventListener("click", (e) => {
      if (document.querySelector("#tabhome223-tab").classList.contains("online")) {
      var tab = document.getElementById("tabhome223-tab"); tab.classList.remove('online');
      var link_2 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_2.open( 'GET', '/friends/online/' + '{{ user.uuid }}', true );
      link_2.onreadystatechange = function () {
        if ( link_2.readyState == 4 ) {
            if ( link_2.status == 200 ) {
                var online_frends = document.getElementById("online_frends");
                online_frends.innerHTML = link_2.responseText;
            }
        }
      };
      link_2.send( null );
    }
    });

    document.querySelector(".common").addEventListener("click", (e) => {
        if (document.querySelector("#tabhome323-tab").classList.contains("common")) {
        var tab = document.getElementById("tabhome323-tab"); tab.classList.remove('common');
        var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
        link_3.open( 'GET', '/friends/common/' + '{{ user.uuid }}', true );
        link_3.onreadystatechange = function () {
          if ( link_3.readyState == 4 ) {
              if ( link_3.status == 200 ) {
                  var common_frends = document.getElementById("common_frends");
                  common_frends.innerHTML = link_3.responseText;
              }
          }
        };
        link_3.send( null );
      }
      });
</script>
{% endblock %}
