{% extends "base.html" %}
{% load thumbnail liked_user %}
{% block title %}Друзья {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-8">
      <br><br><br>
      <div class="card-header p-0">
        <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
                <a class="nav-link ajax" href="{% url 'frends' pk=user.pk %}" data-html="#ajax">
                    Все <span class="text-hide-xs"> друзья</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ajax" href="{% url 'online_frends' pk=user.pk %}" data-html="#ajax">
                    Онлайн <span class="text-hide-xs"> друзья</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active show ajax">
                    Общие <span class="text-hide-xs"> друзья</span>
                </a>
            </li>
        </ul>
      </div>
      <div class="card">
            <div class="col-12 col-md-12">
                <div class="col-12 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="tabhome123" role="tabpanel" aria-labelledby="tabhome123-tab">
                                  <div class="media-body">
                                      <h5 class="mt-1">Друзья
                                        <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=user.pk %}" data-html="#ajax">
                                          {{ user.first_name|gent }} {{ user.last_name|gent }}
                                        </a>
                                      </h5>
                                  </div>
                                  <br>
                                  <div class="input-group mb-3">
                                      <input type="text" class="form-control" placeholder="Поиск по друзьям" aria-label="Recipient's username">
                                      <div class="input-group-append">
                                          <button class="btn btn-outline-link" type="button">Искать</button>
                                      </div>
                                  </div>

                                  <span id="all_frends"></span>

                                </div>
                                <div class="tab-pane fade" id="tabhome223" role="tabpanel" aria-labelledby="tabhome223-tab">
                                  <div class="media-body">
                                      <h5 class="mt-1">Друзья онлайн
                                        <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=user.pk %}" data-html="#ajax">
                                          {{ user.first_name|gent }} {{ user.last_name|gent }}
                                        </a>
                                      </h5>
                                  </div>
                                  <br>
                                  <div class="input-group mb-3">
                                      <input type="text" class="form-control" placeholder="Поиск по друзьям онлайн" aria-label="Recipient's username">
                                      <div class="input-group-append">
                                          <button class="btn btn-outline-link" type="button">Искать</button>
                                      </div>
                                  </div>

                                  <span id="online_frends"></span>

                                </div>

                                <div class="tab-pane fade" id="tabhome323" role="tabpanel" aria-labelledby="tabhome323-tab">
                                  <div class="media-body">
                                      <h5 class="mt-1">Общие друзья</h5>
                                  </div>
                                  <br>
                                  <div class="input-group mb-3">
                                      <input type="text" class="form-control" placeholder="Поиск по общим друзьям" aria-label="Recipient's username">
                                      <div class="input-group-append">
                                          <button class="btn btn-outline-link" type="button">Искать</button>
                                      </div>
                                  </div>

                                  <span id="common_frends"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <br>
        {% include 'featured_users.html' %}
    </div>
</div>

<script>
  var page = 2;
  var loaded = false;
      onscroll = function(){
        try{
        var friends = document.getElementById("friends_container");
        if(friends.querySelectorAll('.list-group-item').length === (page-1)*30){
        var height = document.documentElement.clientHeight-1;
        if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
          if (loaded){return};
          var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
          link_3.open( 'GET', '/friends/common/'  + '{{ user.pk }}/?page=' + page++, true );
          link_3.send();
          link_3.onreadystatechange = function () {
          if ( this.readyState == 4 && this.status == 200 ) {
            var elem = document.createElement('span');
            elem.innerHTML = link_3.responseText;
            var friends_list = elem.querySelector(".list-group");
            if(friends_list.getElementsByClassName('list-group-item').length === 30){loaded = true;};
            friends.append(friends_list);
            }
          }
        }}
      }catch{return}
  }
</script>
{% endblock %}
