 <form class="is_stat_list" data-pk="{{ chat.pk }}" data-type="change_user_chat">
   {% csrf_token %}
    <div class="card">
      <div class="card-header border-bottom">
        <h5 class="content-color-primary mb-0">Редактирование чата</h5>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label>Название</label>
          <input type="text" name="name" class="form-control" id="id_name" value="{{ chat.name }}">
        </div>
        <div class="form-group">
          <label>Обложка</label>
          <div class="hide_image">
            <input type="file" name="image" accept="image/*" id="id_image">
          </div>
          <div id="video_holder" class="border pointer">
            {% if chat.image %}
              <img style="width: 100%;" src="{{ chat.image.url }}" />
            {% else %}
              <h6>Обложка</h6>
              <i>(не обязательно)</i>
            {% endif %}
          </div>
        </div>

      </div>
      <div class="card-footer">
        <button class="btn btn-sm border item_fullscreen_hide">Отмена</button>
        <button type="button" class="btn btn-sm btn-success float-right" id="u_chat_settings_btn">Сохранить</button>
      </div>
    </div>
</form>
