<div class="card mb-3 mt-3">
    <div class="card-body">
        {% include 'desctop/generic/community/card_meta.html' %}
    </div>
</div>
{% if community.is_good_album_exists %}
<div class="card">
  <div class="card-body">
    <div class="nav flex-column nav-pills faqnav">
      <h6 style="margin-bottom:15px">Списки</h6>
      {% for object in community.get_good_albums %}
        <a class="ajax" href="{% url 'community_goods_list' pk=community.pk uuid=object.uuid %}">
          {{ object.title }}
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
