{% load humanize liked_user %}

<span class="stream_comments">
    {% for comment in object_list %}
    {% include 'c_item_comment/moderator_parent.html' with comment=comment  %}
    {% endfor %}
</span>

<div {% if not comment_list %}style="margin-top:-30px"{% endif %}>

  <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row img_block" style="margin:10px"></div>
      <div class="row upload_block" style="margin:10px"></div>

      <div class="row no-gutters">

        <span class="dropdown">
        <a class="btn btn-link btn-sm text-secondary drop">
          <svg fill="currentColor" class="svg_info svg_default" style="margin-top:-4px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v10.5c0 .55-.45 1-1 1s-1-.45-1-1V6H10v9.5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5V5c0-2.21-1.79-4-4-4S7 2.79 7 5v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V6h-1.5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item upload_photo">Загрузить изображение</a>
            <a class="dropdown-item select_photo" data-uuid="{{ user.uuid }}">Выбрать изображение</a>
            <a class="dropdown-item">Выбрать запись</a>
            <a class="dropdown-item">Выбрать статью</a>
            <a class="dropdown-item">Выбрать товар</a>
        </div>
        </span>
          <div class="col">
            <input type="hidden" name="item" value="{{ parent.uuid }}">
            <input type="hidden" name="id" value="{{ community.pk }}">
              <div class="input-group input-group-sm">
                <input type="text" name="text" class="form-control text-comment form-control-rounded">
              </div>
          </div>
          <div class="col-auto">
              <button class="btn btn-outline-primary btn-rounded btn-sm ml-2 c_itemComment" type="button">
                <svg class="svg_info" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              </button>
          </div>
      </div>
  </form>
</div>

<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    var csrftoken = getCookie('csrftoken');
    var page_title = $(document).attr("title");
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
