
{% if request.user.get_6_featured_communities_ids %}
<div class="card mb-3">
    <div class="card-header">
      <a href="{% url 'featured_communities' %}" class="ajax">
        <div class="media">
            <div class="media-body">
                <h6 class="content-color-primary mb-0">Рекомендации</h6>
            </div>
            {{ request.user.get_featured_communities_count }}
        </div>
      </a>
    </div>

    {% for object in request.user.get_6_featured_communities %}

    <div class="card border-top"> 
        <div class="card-body">
            <div class="media">
              {% include 'desctop/generic/community/figure.html' %}
              <div class="media-body">
                  <h6 class="my-0 mt-1">{% include 'desctop/generic/community/community.html' %}</h6>
                  <p class="small">{{ community.count_members_ru }}</p>
              </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
