{% extends "base.html" %}
{% block title %}Приватность профиля{% endblock %}
{% block content %}

<div class="container mt-4 main-container pk_saver" data-pk="{{ user.pk }}">
    <div class="row">
        <div class="col-md-9 order-1">
            <form id="user_private_profile_form" class="contact-form">
                {% csrf_token %}
                <div class="card mb-3">
                    <div class="card-header border-bottom">
                        <h5 class="content-color-primary mb-0">Приватность профиля</h5>
                    </div>
                    <div class="card-body">
                      <div class="form-group">
                          <label>Кто видит сообщества</label>
                          {{ form.community }}
                      </div>
                      <div class="form-group">
                          <label>Кто видит друзей</label>
                          {{ form.friends }}
                      </div>
                      <div class="form-group">
                          <label>Кто пишет сообщения</label>
                          {{ form.message }}
                      </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="user_private_profile_btn" class="mb-2 btn btn-sm btn-success float-right">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-3 order-2 left_menu">
            {% include 'settings/menu.html' %}
        </div>

    </div>
</div>

{% endblock %}
