{% with playlist=object.get_playlist_repost %}

  <span style="padding: 5px;">
    <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=object.creator.pk %}">{{ object.creator }}</a>
    {% if object.creator.is_women %}поделилась{% else %}поделился{% endif %} плейлистом
  </span>

  {% if object.parent.community %}

    {% include 'generic/repost/c_music_list_repost.html' %}

  {% else %}

    {% include 'generic/repost/u_music_list_repost.html' %}

  {% endif %}

{% endwith %}
