<span style="padding: 5px;">
  <a style="text-decoration:underline;" class="ajax" href="{% url 'user' pk=object.creator.pk %}">{{ object.creator }}</a> 
  поделился фотографией
</span>
<div class="card mb-3 pag {% if forloop.last %}last{% endif %}" data-uuid="{{ object.parent.uuid }}" data-pk="{{ object.parent.creator.pk }}">
  {% include 'u_posts/card_header.html' %}

  {% if object.parent.text %}
    <div class="fullscreen pointer">
      <p class="">{{ object.parent.text }}</p>
    </div>
  {% endif %}

  {{ object.get_u_photo_repost|safe }}

  {% include 'u_posts/card_footer.html' %}
</div>
