{% load staticfiles humanize thumbnail %}

<div class="card-header">
    <div class="media">
      <a href="{% url 'community_detail' pk=object.community.pk %}" class="ajax">
        <figure>
          {% if object.community.get_avatar %}
            <img src="{{ object.community.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius: 50px;width:50px;" alt="image">
          {% else %}
            <img class="thumb" src="{% static 'images/icons/group-24px.svg' %}" />
          {% endif %}
        </figure>
      </a>
        <div class="media-body">
            <h6 class="mb-0">
              <a href="{% url 'community_detail' pk=object.community.pk %}" class="ajax">
                {{ object.community.name }} &nbsp;
              </a>
              <span class="is_fixed" style="color: #888888;font-size: 13px;{% if not object.is_fixed %}display:none;{% endif %}">закреплено</span>
            </h6>
            <p class="mb-0">{{ object.created|naturaltime }}</p>
        </div>

        <div class="dropdown d-inline-block">
            <a style="cursor:pointer" class="icon-circle icon-30 dropdown-toggle caret-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img style="width:22px" src="{% static 'images/icons/more_vert-24px.svg' %}" />
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              {% if request.user == object.creator or staff %}
                <span data-id="{{ object.pk }}" data-uuid="{{ object.creator.uuid }}" style="cursor:pointer" class="dropdown-item remove">Удалить запись</span>
                <span style="cursor:pointer" class="dropdown-item">Редактировать</span>
                <span data-id="{{ object.pk }}">
                  {% if object.is_fixed %}
                  <span style="cursor:pointer" class="dropdown-item unfixed">Открепить</span>
                  {% else %}
                  <span style="cursor:pointer" class="dropdown-item fixed">Закрепить</span>
                  {% endif %}
                </span>
                <span data-action="item_check_comment" style="cursor:pointer" class="dropdown-item">Выключить комментарии</span>
              {% else %}
                <span data-actiond="item_bad" class="dropdown-item">Пожаловаться</span>
              {% endif %}
            </div>
        </div>
    </div>
</div>
