{% load staticfiles humanize liked_user thumbnail %}

<div class="media" comment-id="{{ comment.id }}">
    <figure>
        {% if comment.commenter.get_avatar %}
          <img src="{{ comment.commenter.get_avatar.file|thumbnail_url:'small_avatar' }}" class="pull-left" style="border-radius:50%;width:30px;" alt="User Image" class="user-image">
        {% else %}
          <img src="{% static 'images/user.png' %}" class="pull-left" style="border-radius:50%;width:30px;" alt="No Profile Picture" />
        {% endif %}
    </figure>
    <div class="media-body">
        <h5 class="mt-0"><span class="commenter_first_name">{{ comment.commenter.first_name }}</span> {{ comment.commenter.last_name }}
            <small class="text-muted float-right">{{ comment.created|naturaltime }}</small>
        </h5>
        <p>{{ comment.text|safe }}</p>

        <div class="border-top py-2">
            <div class="row" style="color: rgba(255, 255, 255, 0.65);">
                <div class="col">
                  <span class="c_like2 {% if object.likes.all|user_in:request.user %}text-success {% endif %}"
                        data-id="{{ object.id }}"
                        data-uuid="{{ community.uuid }}"
                        style="cursor:pointer"
                        title="Нравится">
                        <svg {% if comment.likes|user_in:request_user %}class="svg_success"{% else %}class="svg_default"{% endif %} fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <path fill="none" d="M0 0h24v24H0V0z"/><path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/>
                        </svg>
                        <span {% if comment.likes|user_in:request_user %}style="color:#41cd52"{% endif %} data-count="like">{% if comment.likes.count %}{{ comment.likes.count }}{% endif %}</span>
                  </span>

                  <span class="comment_like_window">
                      {% if comment.likes %}
                      <div class="comment_like_pop" style="margin:15px">
                          <span>Оценили: {{ comment.likes.count }} {{ comment.likes.count|rupluralize:"человек,человека,людей" }}</span>
                          <br><br>
                          <span style="display: flex;">
                              {% for heart in comment.likes %}
                              <a href="{% url 'user' pk=heart.user.pk %}" class="ajax" style="padding-right:10px">
                                <figure style="margin: 0;" title="{{ heart.user.get_full_name }}">
                                  {% if heart.user.get_avatar %}
                                    <img src="{{ heart.user.get_avatar.file|thumbnail_url:'small_avatar' }}" style="border-radius: 50px;width:50px;" alt="image">
                                  {% else %}
                                    <img class="thumb_small" src="{% static 'images/icons/person-24px.svg' %}" />
                                  {% endif %}
                                </figure>
                              </a>
                              {% endfor %}
                          </span>
                      </div>
                      {% endif %}
                  </span>

                &nbsp;&nbsp;
                <span class="c_dislike2 {% if object.dislikes.all|user_in:request.user %} text-danger {% endif %}"
                      data-id="{{ object.id }}"
                      data-uuid="{{ community.uuid }}"
                      style="cursor:pointer"
                      title="Не нравится">
                      <svg {% if comment.dislikes|user_in:request_user %}class="svg_danger"{% else %}class="svg_default"{% endif %}  fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z"/></svg>
                      <span {% if comment.dislikes|user_in:request_user %}class="svg_danger"{% endif %} data-count="dislike">{% if comment.dislikes.count %}{{ comment.dislikes.count }}{% endif %}</span>
                </span>

                <span class="comment_dislike_window">
                  {% if comment.dislikes %}
                <div class="comment_dislike_pop" style="margin:15px">
                  <span>Не оценили: {{ comment.dislikes.count }} {{ comment.dislikes.count|rupluralize:"человек,человека,людей" }}</span>
                  <br><br>
                  <span style="display: flex;">
                    {% for sheet in comment.dislikes.all %}
                    <a href="{% url 'user' pk=sheet.user.pk %}" class="ajax" style="padding-right:10px">
                      <figure style="margin: 0;" title="{{ sheet.user.get_full_name }}">
                        {% if sheet.user.profile.avatar %}
                          <img src="{{ sheet.user.get_avatar.file|thumbnail_url:'small_avatar' }}" style="border-radius: 50px;width:50px;" alt="image">
                        {% else %}
                          <img class="thumb_small" src="{% static 'images/icons/person-24px.svg' %}" />
                        {% endif %}
                      </figure>
                    </a>
                    {% endfor %}
                  </span>
                </div>
                {% endif %}
                </span>
                    &nbsp;&nbsp;
                    <span class="commenter_first_name" style="display:none">{{ comment.commenter.first_name }}</span>
                    <span class="content-color-secondary reply_comment" style="font-size:15px;cursor:pointer">
                        ответить
                    </span>

                    <div class="border-top reply_comment_form" style="margin-top:10px;display:none">
                        <form action="" method="post" class="replyComment_form">
                            {% csrf_token %}
                            <div class="row no-gutters">
                                <div class="col">
                                    <div class="input-group input-group-sm">
                                        <textarea id="id_text" name="text" class="form-control text-comment form-control-rounded"></textarea>
                                        <button data-pk="{{ comment.commenter.uuid }}" data-uuid="{{ comment.pk }}" class="btn btn-outline-primary btn-rounded btn-sm ml-2 replyComment" type="button">
                                          <span style="width:22px" >
                                            <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                          </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                    <br><br>
                    {% if comment.count_replies %}
                    <span style="cursor:pointer" class="show_replies content-color-primary mb-0">
                      {{ comment.count_replies }} {{ comment.count_replies|rupluralize:"ответ,ответа,ответов" }}
                      <br><br>
                    </span>

                    <span class="stream_reply_comments">
                      {% for reply in comment.get_replies %}
                        {% include 'item_user/reply_comment.html' with reply=reply  %}
                      {% endfor %}
                    </span>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
