{% load staticfiles humanize liked_user thumbnail %}

<div class="media " reply-id="{{ reply.id }}">
    <figure>
        {% if reply.commenter.get_avatar %}
          <img src="{{ reply.commenter.get_avatar.file.url }}" class="pull-left" style="border-radius:50%;width:30px;" alt="User Image" class="user-image">
        {% else %}
          <img class="pull-left" style="width:50px;border:#6C757D solid 1px;border-radius:50px;padding:5px;" src="{% static 'images/icons/person-24px.svg' %}" />
        {% endif %}
    </figure>
    <div class="media-body">
        <h5 class="mt-0"><span class="commenter_first_name">{{ reply.commenter.first_name }}</span> {{ reply.commenter.last_name }}
            <small class="text-muted float-right">{{ reply.created|naturaltime }}</small>
        </h5>
        <p>{{ reply.text|safe }}</p>

        <div class="border-top py-2">
            <div class="row">
                <div class="col">
                  <span class="c_like2 {% if reply.likes.all|user_in:request.user %}text-success {% endif %}"
                        data-id="{{ reply.id }}"
                        data-uuid="{{ reply.commenter.uuid }}"
                        style="cursor:pointer"
                        title="Нравится">
                    <img style="width:22px" src="{% static 'images/icons/thumb_up-24px.svg' %}" />
                    <span class="" data-count="like">{{ reply.likes.count }}</span>
                  </span>
                    <span class="comment_like_window">
                        {% if reply.likes %}
                        <div class="comment_like_pop" style="margin:15px">
                            <span>Оценили: {{ reply.likes.count }} {{ reply.likes.count|rupluralize:"человек,человека,людей" }}</span>
                            <br><br>
                            <span style="display: flex;">
                                {% for heart in reply.likes %}
                                <a href="{% url 'user' pk=heart.user.pk %}" class="ajax" style="padding-right:10px">
                                  <figure style="margin: 0;">
                                      {% if heart.user.get_avatar %}
                                      <img src="{{ heart.user.get_avatar.file|thumbnail_url:'small_avatar' }}" style="border-radius: 50px;width:50px;" alt="image">
                                      {% else %}
                                      <img class="thumb_small" src="{% static 'images/icons/person-24px.svg' %}" />
                                      {% endif %}

                                  </figure>
                                    {{ heart.user.first_name }}
                                </a>
                                {% endfor %}
                            </span>
                        </div>
                        {% endif %}
                    </span>
                    &nbsp;
                    <span class="c_dislike2 {% if reply.dislikes.all|user_in:request.user %}text-success {% endif %}"
                          data-id="{{ reply.id }}"
                          data-uuid="{{ reply.commenter.uuid }}"
                          style="cursor:pointer"
                          title="Не нравится">
                      <img style="width:22px" src="{% static 'images/icons/thumb_down-24px.svg' %}" />
                      <span class="" data-count="dislike">{{ reply.dislikes.count }}</span>
                    </span>

                      <span class="comment_dislike_window">
                          {% if reply.dislike %}
                          <div class="comment_dislike_pop" style="margin:15px">
                              <span>Не оценили: {{ reply.dislikes.count }} {{ reply.dislikes.count|rupluralize:"человек,человека,людей" }}</span>
                              <br><br>
                              <span style="display: flex;">
                                  {% for sheet in reply.dislikes %}
                                  <a href="{% url 'user' pk=sheet.user.pk %}" class="ajax" style="padding-right:10px">
                                    <figure style="margin: 0;">
                                      {% if sheet.user.get_avatar %}
                                        <img src="{{ sheet.user.get_avatar.file|thumbnail_url:'small_avatar' }}" style="border-radius: 50px;width:50px;" alt="image">
                                      {% else %}
                                        <img class="thumb_small" src="{% static 'images/icons/person-24px.svg' %}" />
                                      {% endif %}

                                    </figure>
                                      {{ sheet.user.first_name }}
                                  </a>
                                  {% endfor %}
                              </span>
                          </div>
                          {% endif %}
                      </span>

                    &nbsp;&nbsp;
                    <span class="commenter_first_name" style="display:none">{{ reply.commenter.first_name }}</span>
                    <span class="content-color-secondary reply_comment" data-id="{{ reply.id }}" style="font-size:15px;cursor:pointer">
                        ответить
                    </span>

                    <div class="border-top reply_comment_form" style="margin-top:10px;display:none;margin-left:-50px;">
                        <form action="" method="post" class="replyParentComment_button">
                            {% csrf_token %}

                            <div class="row no-gutters">
                              <button class="btn btn-link content-color-secondary comment_photo" type="button">
                                <img style="margin-top: -10px;" src="{% static 'images/icons/attach_file-24px.svg' %}" />
                              </button>
                                <div class="col" style="left: -30px;">
                                    <div class="input-group input-group-sm" style="width: 105%;">
                                        <textarea id="id_text" name="text" class="form-control text-comment form-control-rounded"></textarea>
                                        <button data-pk="{{ user.uuid }}" data-uuid="{{ comment.pk }}" class="btn btn-outline-primary btn-rounded btn-sm ml-2 replyParentComment" type="button">
                                          <img style="width:22px" src="{% static 'images/icons/send-24px.svg' %}" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
