{% extends "base.html" %}
{% block title %}Охват по дням{% endblock %}
{% block content %}
<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>

<div class="container mt-4 main-container">
<div class="row">
    <div class="col-md-8 order-1">
        <div class="card">
          <div class="card-header">
              <div class="media">
                  <div class="media-body">
										<h5 class="mt-1">Охват по дням -
											<a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=community.pk %}">
													{{ community.name }}
											</a>
										</h5>
									</div>
                  <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle mb-2 drop">
                    День
                </button>
                <div class="dropdown-menu" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
									<a class="dropdown-item ajax" href="{% url 'community_cuberture_year' community.pk %}">Год</a>
                  <a class="dropdown-item ajax" href="{% url 'community_cuberture_month' community.pk %}">Месяц</a>
                  <a class="dropdown-item ajax" href="{% url 'community_cuberture_week' community.pk %}">Неделя</a>
                </div>
            </div>
              </div>
          </div>

          <div class="card-body px-0 py-0">
            		<canvas id="canvas"></canvas>
            <br><br>
          </div>
        </div>
    </div>

		<div class="col-md-4 order-2 left_menu">
        <a class="mb-2 box-shadow mr-2 btn btn-link drop" type="button">
            Настройки сообщества
        </a>
        <div class="collapse">
          <div class="card card-body" style="display: contents;">
            <ul>
              <li><a href="{% url 'community_general_form' pk=community.pk %}" class="ajax">Информации</a></li>
            </ul>
          </div>
        </div>

        <a class="mb-2 box-shadow mr-2 btn btn-link drop" style="margin-top: 20px;">
            Участники сообщества
        </a>
        <div class="collapse">
          <div class="card card-body" style="display: contents;">
            <ul>
              <li><a href="{% url 'community_member_manage' pk=community.pk %}" class="ajax">Подписчики</a></li>
              {% if community.is_closed %}
                <li style="margin-bottom:8px;"><a href="{% url 'community_follows' pk=community.pk %}" class="ajax" data-html="#ajax">Заявки на членство</a></li>
              {% endif %}
              <li><a href="{% url 'community_moders' pk=community.pk %}" class="ajax">Модераторы</a></li>
              <li><a href="{% url 'community_editors' pk=community.pk %}" class="ajax">Редакторы</a></li>
              <li><a href="{% url 'community_advertisers' pk=community.pk %}" class="ajax">Рекламодатели</a></li>
              <li><a href="{% url 'community_admins' pk=community.pk %}" class="ajax">Администраторы</a></li>
              <li><a href="{% url 'community_black_list' pk=community.pk %}" class="ajax">Черный список</a></li>
            </ul>
          </div>
        </div>

        <a class="mb-2 box-shadow mr-2 btn btn-link drop" style="margin-top: 20px;">
            Натройки приватности
        </a>
        <div class="collapse">
          <div class="card card-body" style="display: contents;">
            <ul>
              <li><a href="{% url 'community_private' community.pk %}" class="ajax">Записи</a></li>
              <li><a href="" class="ajax" data-html="#ajax">Фотографии</a></li>
              <li><a href="" class="ajax" data-html="#ajax">Товары</a></li>
              <li><a href="" class="ajax" data-html="#ajax">Музыка</a></li>
              <li><a href="" class="ajax" data-html="#ajax">Видео</a></li>
            </ul>
          </div>
        </div>
        <a class="mb-2 box-shadow mr-2 btn btn-link drop" style="margin-top: 20px;">
            Натройки уведомлений
        </a>
        <div class="collapse">
          <div class="card card-body" style="display: contents;">
            <ul>
              <li><a href="{% url 'community_notify' community.pk %}" class="ajax">Записи</a></li>
              <li><a href="" class="ajax">Фотографии</a></li>
              <li><a href="" class="ajax">Товары</a></li>
              <li><a href="" class="ajax">Музыка</a></li>
              <li><a href="" class="ajax">Видео</a></li>
            </ul>
          </div>
        </div>

        <a class="mb-2 box-shadow mr-2 btn btn-link drop" style="margin-top: 20px;">
            Статистика
        </a>
        <div class="collapse show">
          <div class="card card-body" style="display: contents;">
            <ul style="list-style-type:none">
              <li style="margin-bottom:8px;"><a href="{% url 'community_cuberture_day' community.pk %}" class="ajax">Обший охват</a></li>
              <li style="margin-bottom:8px;"><a href="{% url 'community_traffic_day' community.pk %}" class="ajax">Посещаемость</a></li>
            </ul>
          </div>
        </div>
    </div>
</div>
</div>

<script>
		var config = {
			type: 'line',
			data: {
				labels:[{% for object in days %} "{{ object }}", {% endfor %}],
				datasets: [{
					label: 'Общий охват',
					backgroundColor: 'rgb(255, 99, 132'),
					borderColor: 'rgb(255, 99, 132'),
          data: {{ views }}.reverse(),
					fill: false,
				}, {
					label: 'Рекламный охват',
					fill: false,
					backgroundColor: 'rgb(54, 162, 235)',
					borderColor: 'rgb(54, 162, 235)',
					data: [0,0],
				}]
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};
	</script>
{% endblock %}
