{% if request.user.get_6_featured_friends_ids %}
<div class="card mb-3">
    <div class="card-header">
      <a href="{% url 'featured_users' %}" class="ajax">
        <div class="media">
            <div class="media-body">
                <p class="content-color-primary mb-0">Возможные друзья</p>
            </div>
            {{ request.user.get_featured_friends_count }}
        </div>
      </a>
    </div>

    {% for user in request.user.get_6_featured_friends %}
      {% include 'desctop/generic/user/card.html' %}
    {% endfor %}
</div>
{% endif %}
