{% if request.user.get_featured_communities_count > 1 %}

<div class="card csslider infinity uc_slider mt-6 mb-3">
  <p>Сообщества для Вас</p>
  {% for object in request.user.get_6_featured_communities_ids %}
    <input type="radio" name="slides_2" {% if forloop.first %}checked="checked"{% endif %} id="com_{{ forloop.counter }}"/>
  {% endfor %}
  <ul>
    {% for object in request.user.get_6_featured_communities %}
    <li class="scrollable">
      {% include 'desctop/generic/community/card.html' %}
    </li>
    {% endfor %}
  </ul>
  <div class="slides_arrows arrows_2">
    {% for object in request.user.get_6_featured_communities_ids %}
      <label for="com_{{ forloop.counter }}"></label>
    {% endfor %}

    <label class="goto_first" for="com_1"></label>
    <label class="goto_last" for="com_{{ request.user.get_featured_communities_count }}"></label>
  </div>
</div>
{% endif %}
