<div style="flex: 0 0 50%; max-width:50%; padding:5px" data-type="user_good" data-pk="{{ object.pk }}">
        <div class="border good_detail pointer pag" good-pk="{{ object.pk }}">
            <div class="text-center">
              {% if object.image %}
                <img class="image_fit_160" src="{{ object.image.url }}" alt="">
              {% else %}
                <img class="image_fit_160" src="/static/images/no_img/list.jpg" />
              {% endif %}
            </div>
            <h5 class="card-title mb-1 header-color-primary text-center">{{ object.title }}</h5>
            <p class="content-color-primary mb-0 p-1">
              {% if object.price %}
                {{ object.price }} ₽
              {% else %}
                Без цены
              {% endif %} | <svg fill="currentColor" style="padding-bottom:2px;width:15px" class="svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>
                  {{ object.visits_count }}
            </p>
        </div>
</div>
