{% load humanize liked_user %}

<div class="media reply" style="margin-top:15px">
  <a href="{% url 'user' pk=reply.commenter.pk %}" class="ajax">
    <figure>
        {% if reply.commenter.get_avatar %}
          <img src="{{ reply.commenter.get_avatar }}" class="pull-left" style="border-radius:50%;width:30px;" alt="User Image" class="user-image">
        {% else %}
          <svg fill="currentColor" class="svg_default svg_default_30" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        {% endif %}
    </figure>
  </a>
    <div class="media-body" style="overflow: inherit;">
        <h5 class="mt-0">
          <a href="{% url 'user' pk=reply.commenter.pk %}" class="ajax">
            <span class="commenter_first_name">{{ reply.commenter.first_name }}</span> {{ reply.commenter.last_name }}
          </a>
          <small class="text-muted float-right">{{ reply.created|naturaltime }}</small>
        </h5>

        <p>{{ reply.text|safe }}</p>

        {% include 'generic/attach/u_reply_attach.html' %}

        <div class="">
            <div class="row">
                <div class="col" data-pk="{{ comment.pk }}">
                {% include 'u_post_comment/reply_info.html' %}

                    <div style="display:none;margin-left:-50px;">
                        <form action="" method="post" class="replyParentComment_button">
                            {% csrf_token %}
                            <input type="hidden" name="uuid" value="{{ user.uuid }}">
                            <input type="hidden" name="pk" value="{{ comment.pk }}">
                            <div class="row img_block"></div>

                            <div class="row no-gutters" style="margin-top: 15px;">
                              {% include 'u_post_comment/form_dropdown.html' %}
                                <div class="col">
                                    <div class="input-group input-group-sm" style="width: 105%;">

                                      <textarea name="text" class="form-control text-comment form-control-rounded"></textarea>
                                      <button class="btn btn-outline-primary btn-rounded btn-sm ml-2 u_replyParentItemComment" type="button">
                                          <svg class="svg_s_info" fill="currentColor" viewBox="0 0 24 24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                      </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
