
<span class="text-hide-xs">
  {% if prev %}
    <a class="prev_photo btn_default" href="{% url 'c_wall_photo' pk=object.community.pk uuid=prev.uuid %}">
      <svg class="svg_default" style="width:50px;height:50px;" fill="currentColor" viewBox="0 0 24 24"><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
    </a>
  {% endif %}
  {% if next %}
    <a class="next_photo btn_default" href="{% url 'c_wall_photo' pk=object.community.pk uuid=next.uuid %}">
      <svg class="svg_default" style="width:50px;height:50px;" fill="currentColor" viewBox="0 0 24 24"><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
    </a>
  {% endif %}
</span>

{% include 'c_photo/staff_foto.html' %}
