{% load staticfiles %}

<div class="chat-window">
    <div class="card">
        <div class="card-header pink-gradient p-2">
            <div class="media">
                <figure class="avatar avatar-20 mr-2">
                    <img src="{% static 'images/user1.png' %}" alt="Generic placeholder image">
                </figure>
                <div class="media-body">
                    <h6 class="text-white mb-0">John McMohan <span class="status vm bg-success"></span></h6>
                </div>
                <button class="btn btn-link p-0 chat-minmax vm">
                  <i class="material-icons minimizeicon">свернуть</i>
                  <i class="material-icons fullscreenicon">развернуть</i>
                </button>
                <button class="btn btn-link p-0 chat-close vm">
                  <i class="material-icons closeicon">закрыть</i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-group chatlist">
                <li class="list-group-item ">
                    <div class="media">
                        <figure class="avatar avatar-40 mr-2">
                            <img src="{% static 'images/user1.png' %}" alt="Generic placeholder image">
                        </figure>
                        <div class="media-body">
                            Сообщение Сообщение Сообщение Сообщение
                        </div>
                    </div>
                </li>
                <li class="list-group-item chat-you">
                    <div class="media">
                        <div class="media-body">
                            Сообщение Сообщение Сообщение Сообщение
                        </div>
                        <figure class="avatar avatar-40 ml-2">
                            <img src="{% static 'images/user2.png' %}" alt="Generic placeholder image">
                        </figure>
                    </div>
                </li>
                <li class="list-divider">20 December 2019</li>
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body">
                            Сообщение Сообщение Сообщение Сообщение
                        </div>
                    </div>
                </li>
                <li class="list-group-item chat-you">
                    <div class="media">
                        <div class="media-body">
                            Сообщение Сообщение Сообщение Сообщение
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-body">
                            Сообщение Сообщение Сообщение Сообщение
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <button class="input-group-text px-1 rounded-0">
                        <i class="material-icons">смайлы</i>
                    </button>
                </div>
                <input type="text" class="form-control" placeholder="Написать...">
                <div class="input-group-prepend">
                    <button class="input-group-text px-1">
                        <i class="material-icons">файл</i>
                    </button>
                </div>
                <div class="input-group-prepend">
                    <button class="input-group-text px-1">
                        <i class="material-icons">отправить</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
