{% load staticfiles %}

<div class="settings-sidebar close-settings-sidebar-backdrop">
            <button type="button" class="btn close-setting-sidebar pink-gradient"><i class="material-icons">keyboard_arrow_left</i></button>
            <ul class="nav nav-tabs row no-gutters pink-gradient" role="tablist">
                <li class="nav-item text-center col">
                    <a class="nav-link active" id="tabhome1settings-tab" data-toggle="tab" href="#tabhome1settings" role="tab" aria-controls="tabhome1settings" aria-selected="true">
                        <h5 class="content-color-primary mb-0"><i class="material-icons">chat</i></h5>
                        <p class="content-color-secondary mb-0 small">Чат</p>
                    </a>
                </li>
                <li class="nav-item text-center col">
                    <a class="nav-link" id="tabhome2settings-tab" data-toggle="tab" href="#tabhome2settings" role="tab" aria-controls="tabhome2settings" aria-selected="false">
                        <h5 class="content-color-primary mb-0"><i class="material-icons">settings</i></h5>
                        <p class="content-color-secondary mb-0 small">настройки</p>
                    </a>
                </li>
                <li class="nav-item text-center col">
                    <a class="nav-link" id="tabhome3settings-tab" data-toggle="tab" href="#tabhome3settings" role="tab" aria-controls="tabhome3settings" aria-selected="false">
                        <h5 class="content-color-primary mb-0"><i class="material-icons">update</i></h5>
                        <p class="content-color-secondary mb-0 small">обновления</p>
                    </a>
                </li>
            </ul>
            <div class="tab-content">

                {% include 'sidebar_right/chat.html' %}

                {% include 'sidebar_right/settings.html' %}

                {% include 'sidebar_right/sistem_info.html' %}

            </div>
        </div>
        <div class="settings-sidebar-backdrop pink-gradient"></div>

        {% include 'generic/chat_window.html' %}
