{% load staticfiles %}

<div class="tab-pane fade " id="tabhome3settings" role="tabpanel" aria-labelledby="tabhome3settings-tab">

  <div class="row mx-0 pt-2">
      <div class="col-12">
          <p class="sidebar-color-primary page-sub-title-small">
              <span class="icon-circle mr-2">
                  <i class="material-icons">settings</i>
              </span>Настройки дизайна</p>
          <p class="sidebar-color-secondary">Вы можете менять отображение сайта</p>
          <div class="row">
              <ul class="list-group border-top border-bottom list-group-flush w-100">
                  <li class="list-group-item">
                      <label class="d-inline-block mr-2">День - ночь</label>
                      <input type="checkbox" id="darktheme" class="switch switch-sm">
                      <label for="darktheme" class="bg-dark mb-2 border float-right"></label>
                  </li>
                  <li class="list-group-item">
                      <span class="vm">Уменьшить ширину</span>
                      <input type="checkbox" id="boxlayout" class="switch switch-sm">
                      <label for="boxlayout" class="pink-gradient float-right"></label>
                  </li>
                  <li class="list-group-item">
                      <span class="vm">Увеличить ширину</span>
                      <input type="checkbox" id="full-width2" class="switch switch-sm">
                      <label for="full-width2" class="pink-gradient float-right"></label>
                      <p class="sidebar-color-secondary mt-2 mb-0"><small>Овно будет в полную ширину</small></p>
                  </li>
                  <li class="list-group-item">
                      <span class="vm">Все наоборот</span>
                      <input type="checkbox" id="rtl" class="switch switch-sm">
                      <label for="rtl" class="pink-gradient float-right"></label>
                  </li>
                  <li class="list-group-item">
                      <span class="vm">Уменьшить Меню</span>
                      <input type="checkbox" id="iconsibarbar" class="switch switch-sm">
                      <label for="iconsibarbar" class="pink-gradient float-right"></label>
                  </li>
              </ul>
          </div>

          {% include 'sidebar_right/color.html' %}

          <div class="row">
              <ul class="list-group border-top border-bottom list-group-flush w-100">
                  <li class="list-group-item">
                      <span class="vm">Цветное Меню</span>
                      <input type="checkbox" id="sidebarfill" class="switch switch-sm" checked>
                      <label for="sidebarfill" class="pink-gradient float-right"></label>
                  </li>
                  <li class="list-group-item">
                      <span class="vm">Цветная шапка</span>
                      <input type="checkbox" id="headerfill" class="switch switch-sm">
                      <label for="headerfill" class="pink-gradient float-right"></label>
                  </li>
                  <li class="list-group-item">
                      <span class="vm">Всё цветное</span>
                      <input type="checkbox" id="fullcolorfill" class="switch switch-sm">
                      <label for="fullcolorfill" class="pink-gradient float-right"></label>
                  </li>
              </ul>
          </div>

          {% include 'sidebar_right/foto_fon.html' %}

          {% include 'sidebar_right/patterns_fon.html' %}

      </div>
  </div>
</div>
