{% load staticfiles %}

<script src="{% static 'scripts/jquery.jplayer.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/jplayer.playlist.min.js' %}" type="text/javascript"></script>
<script>
  var cssSelector = {jPlayer: "#jquery_jplayer_1",cssSelectorAncestor: ".main-header"};
  var playlist = {{ request.user.get_json_my_playlist }};
  var options = { swfPath: "/static/jquery.jplayer.swf", supplied: "oga, mp3", wmode: "window", smoothPlayBar: false, keyEnabled: true};
  var myPlaylist = new jPlayerPlaylist(cssSelector, playlist, options);
</script>
