{% load staticfiles %}

<script src="{% static 'scripts/jquery.jplayer.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/jplayer.playlist.min.js' %}" type="text/javascript"></script>
<script>
  var cssSelector = {jPlayer: "#jquery_jplayer_1",cssSelectorAncestor: ".main-header"};
  var playlist = {{ request_user.get_json_my_playlist }};
  var options = { swfPath: "/static/jquery.jplayer.swf", supplied: "oga, mp3", wmode: "window", smoothPlayBar: false, keyEnabled: true};
  var myPlaylist = new jPlayerPlaylist(cssSelector, playlist, options);

$(".tracks-container .track_item").click(function() {
  track = $(this); track_id = btn.data('counter');
	myPlaylist.setPlaylist({{ tag.get_json_playlist }});
  myPlaylist.play(track_id);
});

var tracks_infinite = new Waypoint.Infinite({element: $('.tracks-container')[0], onBeforePageLoad: function() { $('.tracks_load').show(); }, onAfterPageLoad: function($items) { $('.tracks_load').hide(); }});
</script>
