
<div class="col-md-12">
    <form id="c_uсm_repost_form">
      {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header border-bottom">
                <h5 class="content-color-primary mb-0">Поделиться записью сообщества "{{ object.community.name }}"</h5>
            </div>
            <div class="card-body">
              <div class="form-group">
                  <div class="custom-control custom-radio" style="margin-bottom:10px">
                      <input type="radio" name="radiogroup-1" checked="checked" class="custom-control-input pointer" id="repost_radio_wall">
                      <label class="custom-control-label" for="repost_radio_wall">На своей стене</label>
                  </div>
                  {% if request.user.get_staffed_communities %}
                  <div class="custom-control custom-radio" style="margin-bottom:10px">
                      <input type="radio" name="radiogroup-1" class="custom-control-input pointer" id="repost_radio_community">
                      <label class="custom-control-label" for="repost_radio_community">В сообществе</label>
                  </div>
                  <div id="show_user_staff_communities" style="height: 100%; display:none">
                    <select name="staff_communities" multiple="" id="id_staff_communities">
                      {% for community in request.user.get_staffed_communities %}
                        {% if community.pk != object.community.pk %}
                          <option value="{{ community.pk }}">{{ community.name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  {% else %}
                  <div class="custom-control custom-radio" style="margin-bottom:10px">
                      <input type="radio" disabled="disabled" name="radiogroup-1" class="custom-control-input pointer" id="repost_radio_community">
                      <label class="custom-control-label" for="repost_radio_community">В сообществе</label>
                  </div>
                  {% endif %}
                  <div class="custom-control custom-radio" style="margin-bottom:10px">
                      <input type="radio" name="radiogroup-1" class="custom-control-input" id="repost_radio_message">
                      <label class="custom-control-label" for="repost_radio_message">В сообщении</label>
                  </div>
                  <div id="show_user_message_members"></div>
              </div>

              {% include 'repost_window/form.html' %}
            </div>
            <div class="card-footer">
                <button class="btn btn-secondary votes_fullscreen_hide" style="position: relative; top: -10px; left: -10px;">Отмена</button>
                <button type="button" class="btn btn-success float-right" id="c_ucm_repost_btn" data-uuid="{{ object.uuid }}">Создать</button>
            </div>
        </div>
    </form>
</div>
