{% load staticfiles %}

<div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
    <form action="" id="form_album_add" method="post">
      {% csrf_token %}
        <div class="card mb-4">
            <div class="card-header border-bottom">
                <h5 class="content-color-primary mb-0">Добавление альбома</h5>
            </div>
            <div class="card-body">
                <br>
                <hr>
                <div class="row ">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group ">
                            <label>Название</label>
                            <input type="text" pattern="[a-zA-Z]+" name="title" class="form-control" id="id_title" required>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group ">
                            <label>Описание</label>
                            <input type="text" name="description" class="form-control" id="id_description">
                        </div>
                    </div>
                </div>
                <div class="row ">
                  <div class="col-lg-12 col-md-12">
                      Альбом виден всем
                      <input type="checkbox" checked name="is_public" id="id_is_public" class="switch switch-sm">
                      <label style="margin-right:12px;" for="id_is_public" class="bg-dark mb-2 border float-right"></label>
                  </div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group ">
                            <label>Порядковый номер</label>
                            <input type="text" value="0" name="order" class="form-control" id="id_order">
                        </div>
                    </div>
                </div>


            </div>
            <div class="card-footer">
                <button class="btn btn-secondary remove_form">Отмена</button>
                <button id="add_album" type="button" class="btn btn-success float-right">Создать</button>
            </div>
        </div>
    </form>

</div>

<script>
  $('#add_album').click(function() {
    var frm_album = $('#form_album_add');

        $.ajax({
            type: "post",
            url: "{% url 'album_add_user' uuid=user.uuid %}",

            data: frm_album.serialize(),
            success: function(data) {
              $('.add_fullscreen').hide();
              $('#photo_add_loader').empty();
              $('#ajax').html('').load("{% url 'album_ggg' uuid=user.uuid %}");

            },
            error: function(data) {
                $.toast({
                    heading: '{{ request.user.first_name }}',
                    text: 'Для создания альбома нужно заполнить название',
                    showHideTransition: 'fade',
                    icon: 'error'
                })
            }
        });
        return false;
    });
</script>

<script src="{% static 'scripts/validator.min.js' %}" type="text/javascript"></script>
<script>
  $(function(){
   $('form').validator();
  });
</script>
<script>
    $(".remove_form").click(function() {
        $('.add_fullscreen').hide();
        $('#photo_add_loader').empty();
    });
</script>
