{% load staticfiles %}

<link rel="stylesheet" href="{% static 'styles/dropzone.css' %}" />

<form id="add-photos" method="post" action="{% url 'photo_add_user' user.uuid %}" class="dropzone">
  {% csrf_token %}
  <div class="card mb-4">
                <div class="card-header">
                    <h5>Drop your files</h5>
                </div>
                <div class="card-body">
                    <div class="custom-dropzone text-center align-items-center dz-clickable">
                        <div class="dz-default dz-message" data-dz-message="">
                            <h3 class="mb-0"><i class="material-icons">cloud_download</i></h3>
                            <p>Drop here or click here to upload</p>
                        </div>
                    </div>
                </div>
            </div>
</form>

<script src="{% static 'scripts/dropzone.js' %}" type="text/javascript"></script>
