{% load staticfiles %}

{% if object_list %}

<div class="row">
  {% for object in object_list %}
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card rounded-0 border-0 mb-4">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h4 class="mb-0">{{ object.title }}</h4>
                    </div>
                    <div class="dropdown d-inline-block">
                      <a style="cursor:pointer" class="icon-circle icon-30 dropdown-toggle caret-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img style="width:22px" src="{% static 'images/icons/more_vert-24px.svg' %}" />
                      </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="" class="dropdown-item">Refresh</a>
                            <a href="" class="dropdown-item">Setting</a>
                            <a href="" class="dropdown-item">Close</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <p class="mb-0 content-color-secondary f-sm">{{ object.description }}</p>
            </div>
        </div>
    </div>
  {% endfor %}
</div>

{% else %}

{% endif %}
