{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
{% if user == request.user %}
Мои фотографии
{% else %}
Фотографии пользователя "{{ user.get_full_name }}"
{% endif %}
{% endblock %}
{% block content %}

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
      <div class="col-12 col-md-6">
        Мои фотографии
      </div>
      <div class="col-12 col-md-6">
        <div class="col-12 col-md-6">
        <button id="albums_add" class="btn btn-outline-success" style="margin-bottom:15px;width:100%;" type="button">
            Добавить альбом
        </button>
        </div>
        <div class="col-12 col-md-6">
        <button id="photos_add" class="btn btn-outline-success" style="margin-bottom:15px;width:100%;" type="button">
            Добавить фотографии
        </button>
        </div>
      </div>
    </div>
</div>
<div class="container mt-4 main-container">
    <div class="row goods_stream infinite-container">
      <div id="albums_load"></div>
      <br>
      <div id="photos_load"></div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#albums_load').html('').load("/gallery/albums/" + {{ user.uuid }});
        $('#photos_load').html('').load("/gallery/photos/" + {{ user.uuid }});
    });
</script>
{% endblock %}
