{% load staticfiles %}
<style>
  .albom_description {
    opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 25px;
  margin-bottom: 10px;
  display: flex;
  transition: 0.5s;
  }
  .albom_description:hover {
      z-index: 10;
      opacity: 1;
      visibility: visible;
      background: #D6DAE1;
      color: black;
  }
  .cover_block:hover .albom_description{
      z-index: 10;
      opacity: 1;
      visibility: visible;
      background: #D6DAE1;
      color: black;
  }
</style>
{% if object_list %}

  {% for object in object_list %}
  {% if object.photo %}
    <div class="col-sm-12 col-md-6 col-lg-4 cover_block">
        <div class="card rounded-0 border-0 mb-4">
            <div class="card-header">
                <div class="media">
                    <div class="media-body" style="white-space:nowrap;overflow:hidden;">
                        <h4 class="mb-0">{{ object.title }}</h4>
                    </div>
                    <div class="dropdown d-inline-block">
                      <a style="cursor:pointer" class="icon-circle icon-30 dropdown-toggle caret-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img style="width:22px" src="{% static 'images/icons/more_vert-24px.svg' %}" />
                      </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="" class="dropdown-item">Изменить</a>
                            <a href="" class="dropdown-item">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
              {% if object.cover_photo %}
                <img style="width:100%" src="{{ object.cover_photo.url }}" />
              {% else %}
                <img style="width:100%" src="{% static 'images/icons/photo-24px.svg' %}" />
              {% endif %}
                <p class="mb-0 content-color-secondary f-sm albom_description">{{ object.description }}</p>
            </div>
        </div>
    </div>
    {% endif %}  
  {% endfor %}

{% else %}

{% endif %}
