{% load staticfiles humanize liked_user %}

<span class="text-hide-xs">
  {% if prev %}
    <span class="prev_item" style="">
      <img style="width: 50px;" src="{% static 'images/icons/right-24px.svg' %}" />
    </span>
  {% endif %}
  {% if next %}
    <span class="next_item" style="">
      <img style="width: 50px;" src="{% static 'images/icons/left-24px.svg' %}" />
    </span>
  {% endif %}
</span>

{% if community.post %}
<div class="mb-4 infinite-item" item-id="{{ community.uuid }}">
  {% include 'item_community/post_detail.html' %}
</div>
{% endif %}

{% if community.article %}
<div class="mb-4 infinite-item" item-id="{{ community.uuid }}">
    {% include 'item_community/article.html' with article=article  %}
</div>
{% endif %}

  {% if prev %}
    <script>
    	$('.prev_item').on('click', function () {
    		 $('#item_loader').html('').load("{% url 'community_item' pk=prev.pk uuid=community.uuid %}");
    	});
    </script>

   {% endif %}
   {% if next %}

    <script>
      $('.next_item').on('click', function () {
    		 $('#item_loader').html('').load("{% url 'community_item' pk=next.pk uuid=community.uuid %}");
    	});
    </script>
    {% endif %}
