<div class="card no-shadow h-100">
    <div class="card-header">
        <div class="media">
            <div class="media-body">
                <h3 class="mb-2 header-color-primary">{{ object.title }}</h3>
                <h6 class="card-subtitle header-color-secondary">{{ object.sub_category }}</h6>
            </div>
        </div>
    </div>
    <div class="card-body py-0">
        <h1 class="text-success">{{ object.price }} руб.
            <small class="text-danger font-weight-light "><s>{{ object.price }} руб.</s></small>
        </h1>
        <br>
        <p class="">{{ object.description }}</p>
        <p class="content-color-secondary">Здесь может быть предупредительный текст</p>

    </div>
</div>
