{% load liked_user %}

{% if prev %}
  <a class="prev_item" href="{% url 'good_detail' pk=prev.pk %}">
    <svg fill="currentColor" viewBox="0 0 24 24"><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
  </a>
{% endif %}
{% if next %}
  <a class="next_item" href="{% url 'good_detail' pk=next.pk %}">
    <svg fill="currentColor" viewBox="0 0 24 24"><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
  </a>
{% endif %}

    <div class="card mb-3" good-pk="{{ object.pk }}" data-pk="{{ community.pk }}">
        <div class="card-body py-0 is_stat_list" data-pk="{{ object.pk }}" data-type="community_good">
            <div class="row">
                <div class="col-md-8">
                  {% include 'desctop/goods/good_base/gallery.html' %}
                </div>

                <div class="col-md-4 pr-0">
                  {% include 'desctop/goods/good_base/info.html' %}
                </div>
                <div class="border-top py-2">
                    <div class="row">
                      <div class="col interaction" data-type="goo{{ object.pk }}">
                        {% include 'desctop/generic/items/item_footer.html' %}
                        &nbsp;&nbsp;
                        <div class="dropdown d-inline-block">
                            <a style="cursor:pointer" class="btn_default drop">
                              еще
                            </a>
                            <div class="dropdown-menu" data-type="goo{{ object.pk }}">
                              {% if request.user.is_moderator %}
                                <span class="dropdown-item create_close">Закрыть</span>
                              {% else %}
                                <span class="dropdown-item create_claim">Пожаловаться</span>
                              {% endif %}
                            </div>
                        </div>
                      </div>
                    </div>

                    <div class="load_comments" style="margin-right: -15px; margin-left: -15px;margin-top:25px"></div>
                </div>
            </div>
        </div>
    </div>
