{% load get_key %}

<span style="margin-left: 5%;" data-uuid="{{ object.parent.uuid }}">
  {% if object.parent.community %}
    {% include 'c_posts/card_header.html' %}

  {% if object.text %}
    <div class="fullscreen pointer">
      <p class="">{{ object.text }}</p>
    </div>
  {% endif %}
  <div class="attach_container" data-pk="{{ object.pk }}">
    {% include object.get_c_post_parent %}
  </div>
{% else %}

  {% include 'u_posts/card_header.html' %}

{% if object.text %}
  <div class="fullscreen pointer">
    <p class="">{{ object.text }}</p>
  </div>
{% endif %}
<div class="attach_container" data-pk="{{ object.pk }}">
  {% include object.get_u_post_parent %}
</div>
{% endif %}
</span>
