{% load staticfiles humanize liked_user %}

<div class="media" comment-id="{{ comment.id }}">
    <figure>
        {% if comment.commenter.profile.avatar %}
          <img src="{{ comment.commenter.profile.avatar.url }}" class="pull-left" style="border-radius:50%;width:30px;" alt="User Image" class="user-image">
        {% else %}
          <img src="{% static 'images/user.png' %}" class="pull-left" style="border-radius:50%;width:30px;" alt="No Profile Picture" />
        {% endif %}
    </figure>
    <div class="media-body">
        <h5 class="mt-0"><span class="commenter_first_name">{{ comment.commenter.first_name }}</span> {{ comment.commenter.last_name }}
            <small class="text-muted float-right">{{ comment.created|naturaltime }}</small>
        </h5>
        <p>{{ comment.text|safe }}</p>

        <div class="border-top py-2">
            <div class="row" style="color: rgba(255, 255, 255, 0.65);">
                <div class="col">

                    <span class="comment_react_window">
                        {% if comment.votes.dislikes.all %}
                        <div class="comment_dislike_pop" style="margin:15px">
                            <span>Не оценили: {{ comment.votes.dislikes.count }} {{ comment.votes.dislikes.count|rupluralize:"человек,человека,людей" }}</span>
                            <br><br>
                            <span style="display: flex;">
                                {% for sheet in comment.votes.dislikes.all %}
                                <a href="{% url 'user' pk=sheet.user.pk %}" class="ajax" style="padding-right:10px">
                                    <figure style="margin: 0;">
                                        {% if sheet.user.profile.avatar %}
                                        <img src="{{ sheet.user.profile.avatar.url }}" style="border-radius: 50px;width:50px;" alt="image">
                                        {% else %}
                                        <img src="{% static 'images/user.png' %}" alt="image" style="border-radius: 50px;width:50px;">
                                        {% endif %}

                                    </figure>
                                    {{ sheet.user.first_name }}
                                </a>
                                {% endfor %}
                            </span>
                        </div>
                        {% endif %}
                    </span>

                    &nbsp;&nbsp;
                    <span class="commenter_first_name" style="display:none">{{ comment.commenter.first_name }}</span>
                    <span class="content-color-secondary reply_comment" style="font-size:15px;cursor:pointer">
                        ответить
                    </span>

                    <div class="border-top reply_comment_form" style="margin-top:10px;display:none">
                        <form action="" method="post" class="replyComment_form">
                            {% csrf_token %}
                            <div class="row no-gutters">
                                <input type="hidden" name="comment" value="{{ comment.id }}">
                                <input type="hidden" name="parent" value="{{ parent.id }}">
                                <div class="col">
                                    <div class="input-group input-group-sm">
                                        <textarea id="id_text" name="text" class="form-control text-comment form-control-rounded"></textarea>
                                        <button class="btn btn-outline-primary btn-rounded btn-sm ml-2 replyComment" type="button">
                                          <img style="width:25px" src="{% static 'images/icons/send-24px.svg' %}" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                    <br><br>
                    <span class="stream_reply_comments">
                      {% for reply in comment.get_replies %}
                        {% include 'generic/community/reply_comment.html' with reply=reply  %}
                      {% endfor %}
                    </span>

                </div>
            </div>
        </div>
    </div>
</div>
