{% load staticfiles humanize liked_user %}
<div class="card mb-4 infinite-item" item-id="{{ object.uuid }}">

    {% include 'generic/posts/card_header.html' %}

    {% if object.is_repost %}
    {% include 'generic/posts/repost_detail.html' %}
    {% endif %}

    <div class="card-body">
      {% if object.post.text %}
        <p class="">{{ object.post.text|linebreaks }}</p>
      {% endif %}
      {% if object.post.image %}
        <p class="">{{ object.post.image.url }}</p>
      {% endif %}
      {% if object.post.doc %}
        <p class="">{{ object.post.doc }}</p>
      {% endif %}
    </div>

    {% include 'generic/posts/info.html' %}
</div>
