{% load user %}

<div class="card-header">
    <div class="media">
      {% include 'mobile/generic/user/creator_figure.html' %}
        <div class="media-body">
            <h6 class="mb-0">
              {% include 'mobile/generic/user/creator.html' %}
            </h6>
            <p class="mb-0">{{ object.get_created }}</p>
        </div>
        <div class="dropdown">
            <a style="cursor:pointer" class="btn_default drop">
              <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
            </a>
            <div class="dropdown-menu dropdown-menu-right" data-type="vid{{ object.pk }}">
              {% if object|is_user_can_edit_delete:request.user %}
                <span class="dropdown-item video_edit">Изменить</span>
                <span class="dropdown-item video_remove">Удалить</span>
              {% elif request.user.is_moderator %}
                <span class="create_close">Закрыть</span>
              {% else %}
                <span class="create_claim">Пожаловаться</span>
              {% endif %}
              <span class="dropdown-item copy_link">Копировать ссылку</span>
            </div>
        </div>
    </div>
</div>
