{% load liked_user %}

<div class="card-footer border-top py-2">
    <div class="row">
      <div class="col interaction" data-type="vid{{ object.pk }}">
        {% include 'desctop/generic/items/item_footer.html' %}
        &nbsp;&nbsp;
        <div class="dropdown d-inline-block">
            <a style="cursor:pointer" class="btn_default drop">
              еще
            </a>
            <div class="dropdown-menu">
                <span class="dropdown-item video_user_remove">Удалить видео</span>
                <span class="dropdown-item">Редактировать</span>
                <span>
                  {% if object.comments_enabled %}
                    <span class="dropdown-item video_user_off_comment">Выключить комментарии</span>
                  {% else %}
                    <span class="dropdown-item video_user_on_comment">Включить комментарии</span>
                  {% endif %}
                </span>
                <span class="dropdown-item js-textareacopybtn">Скопировать ссылку</span>
                <span class="dropdown-item video_stat_f">Статистика записи</span>
            </div>
        </div>
      </div>
    </div>
</div>
