
<script>
  $('#category').change(function(){
    var val = $(this).val();
    console.log(val)
    if (val == ''){
      $('#subcat').empty();
    }
    if (val == '1'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat1' %}");
    }
    if (val == '2'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat2' %}");
    }
    if (val == '3'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat3' %}");
    }
    if (val == '4'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat4' %}");
    }
    if (val == '5'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat5' %}");
    }
    if (val == '6'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat6' %}");
    }
    if (val == '7'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat7' %}");
    }
    if (val == '8'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat8' %}");
    }
    if (val == '9'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat9' %}");
    }
    if (val == '10'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat10' %}");
    }
    if (val == '11'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat11' %}");
    }
    if (val == '12'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat12' %}");
    }
    if (val == '13'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat13' %}");
    }
    if (val == '14'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat14' %}");
    }
    if (val == '15'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat15' %}");
    }
    if (val == '16'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat16' %}");
    }
    if (val == '17'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat17' %}");
    }
    if (val == '18'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat18' %}");
    }
    if (val == '19'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat19' %}");
    }
    if (val == '20'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat20' %}");
    }
    if (val == '21'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat21' %}");
    }
    if (val == '22'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat22' %}");
    }
    if (val == '23'){
      $('#subcat').empty();
      $('#subcat').html('').load("{% url 'good_cat23' %}");
    }
  })
</script>
