
<span class="load_block">
  <h5 class="mt-1">
    <span class="second_list_name" data-name="{{ list.name }}">{{ list.name }}</span> ({{ list.count_items }})
    {% include 'mobile/generic/items/list_meta.html' %}
  </h5>
  <div class="card mb-2">
      <div class="card-body">
        <span class="list_pk" data-uuid="{{ list.pk }}">
          {% if is_user_can_see_post_list %}
          <span class="second_list_name" data-name="{{ list.name }}">{{ list.name }}: </span>
          {% include 'mobile/generic/items/list_meta.html' %}

           {% if is_user_can_create_posts %}
             {% include 'mobile/users/profile/new_post.html' %}
           {% elif is_user_can_create_offer_post %}
             {% include 'mobile/users/profile/new_offer_post.html' %}
           {% endif %}

           <span></span>
            <span class="post_stream drag_container is_paginate" data-type="pos">
              {% if not list.is_open %}
                {% load user %}
                {% include list|get_bad_item:request.user %}

              {% elif object_list %}
              {% for object in object_list %}
                {% include 'mobile/posts/post_community/post.html' %}
              {% endfor %}
              {% if page_obj.has_next %}
              <div class="load centered m-1 next_page_list" data-link="/posts/list/?list={{ list.pk }}&page={{ page_obj.next_page_number }}">
                  <img src="/static/images/preloader.gif">
              </div>
              {% endif %}
              {% endif %}

              {% if not object and not object_list %}
                {% include 'mobile/communities/lenta/no_items.html' %}
              {% endif %}
            </span>
            {% else %}
              {% include 'mobile/generic/centered/private_list.html' %}
            {% endif %}
        </span>
      </div>
  </div>
</span>
