{% extends "base_anon_mobile.html" %}
{% block title %}{{ list.name }} : Видеоролики {{ user.get_full_name_genitive }}{% endblock %}
{% load get_key %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/users/{{ user.pk }}/video_list/{{ list.uuid }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Видеоролики {{ user.get_full_name_genitive }} - {{ list.name }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ user.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="main-container container mt-3" data-pk="{{ list.pk }}" data-type="user_photo_list">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск видео">
            <div class="input-group-append">
              <button class="btn border" type="button">Искать</button>
            </div>
          </div>

          <div class="card mb-2">
              <div class="card-body" style="padding: 10px;padding-bottom: 0;">
                <div style="display:flex">
                  <svg fill="currentColor" class="svg_default" style="width:50px;height:50px" viewBox="0 0 24 24"><path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                  <div class="media-body" style="margin-left: 10px;">
                    <h6 class="my-0 mt-1">{{ list.name }} ({{ list.count_items }})</h6>
                    <p class="">{{ list.name }} : {{ user.first_name }}</p>
                  </div>
                </div>
              </div>
            </div>
            <span class="load_block">

            <div class="media mt-3 uuid_saver" data-pk="{{ list.pk }}" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
              <h5 class="mt-1">
                {{ list.name }} ({{ list.count_items }})

                {% if list|is_user_can_add_list:request.user.pk %}
                  <span class="pointer badge badge-light-success u_copy_video_list">Добавить список в коллекцию</span>
                {% elif request.user.pk in list.get_users_ids %}
                  <span class="pointer badge badge-light-danger u_uncopy_video_list">Удалить список из коллекции</span>
                {% endif %}
                <span class="pointer badge badge-light-warning u_close_video_list">Закрыть список</span>
              </h5>
            </div>

          <div class="card mb-2">
              <div class="card-body uuid_saver vk_saver">
                <div class="video_playlist" id="movies_container">
                  <div class="row movies_list_in_list is_paginate is_stat_list" data-pk="{{ list.pk }}" data-type="{% if list.community %}community{% else %}user{% endif %}_video_list" data-list="/users/{{ user.pk }}/video">
                    {% if object_list %}
                      {% for object in object_list %}
                        {% include 'mobile/users/video/main_list/video.html' %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <div class="load centered m-1 next_page_list" data-link="{% url 'user_video_list' pk=user.pk uuid=list.uuid %}?page={{ page_obj.next_page_number }}">
                          <img src="/static/images/preloader.gif">
                      </div>
                      {% endif %}

                    {% else %}
                      {% include 'mobile/users/video/main_list/no_videos.html' %}
                    {% endif %}
                  </div>
                </div>
              </div>
          </div>
      </span>
</div>


{% endblock %}
