<span class="text-hide-xs">
  {% if prev %}
    <a class="prev_item" href="{% url 'photo_detail' pk=prev.pk %}">
      <svg fill="currentColor" viewBox="0 0 24 24"><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
    </a>
  {% endif %}
  {% if next %}
    <a class="next_item" href="{% url 'photo_detail' pk=next.pk %}">
      <svg fill="currentColor" viewBox="0 0 24 24"><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
    </a>
  {% endif %}
</span>

<div class="mb-3 data_display is_stat_list" data-type="user_photo" data-pk="{{ object.pk }}" owner-pk="{{ user.pk }}">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-12 order-1">
      <div class="card rounded-0 border-0 mb-3">
        {% if object.file %}
          <img style="width: 100%;" src="{{ object.file.url }}" alt="">
        {% else %}
          <svg class="svg_default" style="width:100%;height:auto" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-4.86 8.86l-3 3.87L9 13.14 6 17h12l-3.86-5.14z"/></svg>
        {% endif %}
    </div>

  </div>
    <div class="col-lg-4 col-md-5 col-sm-12 order-2 ">
      <div class="card-header">
          <div class="media">
            {% include 'desctop/generic/user/creator_figure.html' %}
              <div class="media-body">
                  <h6 class="mb-0">
                    {% include 'desctop/generic/user/creator.html' %}
                  </h6>
                  <p class="mb-0">{{ object.get_created }}</p>
              </div>
          </div>
      </div>

      <span>
        {% if object.description %}
          {{ object.description }}
        {% endif %}
      </span>
      <br><br>
      {% load liked_user %}

      <div class="border-top py-2">
              <div class="col interaction" id="interaction">
                <span {% if not object.votes_on %}style="display:none"{% endif %} class="like btn_default" title="Нравится">
                  <svg class="svg_info" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"/><path d="M9 21h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.58 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2zM9 9l4.34-4.34L12 10h9v2l-3 7H9V9zM1 9h4v12H1z"/></svg>
                  <span class="likes_count">{{ object.likes_count }}</span>
                </span>

                <span class="like_window">
                  {% if object.window_likes %}
                <div class="like_pop" style="margin:15px">
                  <span class="u_all_photo_likes" style="cursor:pointer">Оценили: <span data-count="like">{{ object.likes_count }}</span> {{ object.likes_count|rupluralize:"человек,человека,людей" }}</span>
                  <br><br>
                  <span style="display: flex;">
                    {% for voter in object.window_likes %}
                      {% include 'desctop/generic/user/voter.html' %}
                    {% endfor %}
                  </span>
                </div>
                {% endif %}
              </span>

                <span {% if not object.votes_on %}style="display:none"{% endif %} class="dislike btn_default" title="Не нравится">
                  <svg viewBox="0 0 24 24" class="svg_info" fill="currentColor"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none"/><path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v2c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm0 12l-4.34 4.34L12 14H3v-2l3-7h9v10zm4-12h4v12h-4z"/></svg>
                  <span class="dislikes_count">{{ object.dislikes_count }}</span>
                </span>

                <span class="dislike_window">
                  {% if object.window_dislikes %}
                <div class="dislike_pop" style="margin:15px">
                  <span class="c_all_photo_dislikes" style="cursor:pointer">Не оценили: <span data-count="dislike">{{ object.dislikes_count }}</span> {{ object.dislikes_count|rupluralize:"человек,человека,людей" }}</span>
                  <br><br>
                  <span style="display: flex;" title="{{ sheet.user.get_full_name }}">
                    {% for voter in object.window_dislikes %}
                      {% include 'desctop/generic/user/voter.html' %}
                    {% endfor %}
                  </span>
                </div>
                {% endif %}
              </span>

                  <span title="Комментарий" class="comment load_photo_comments btn_default" {% if not object.comments_enabled %}style="display:none"{% endif %}>
                    <svg viewBox="0 0 24 24" class="svg_info" fill="currentColor"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H6l-2 2V4h16v12z"/></svg>
                      <span class="comment-count">{{ object.count_comments }}</span>
                  </span>
                  <span title="Поделиться" class="btn_default pointer">
                    <svg class="svg_info repost_style_btn" viewBox="0 0 24 24" fill="currentColor"><path d="m0 0h24v24h-24z" fill="none"/><path fill="currentColor" d="m12.1 7.87v-3.47a1.32 1.32 0 0 1 2.17-1l8.94 7.6a1.32 1.32 0 0 1 .15 1.86l-.15.15-8.94 7.6a1.32 1.32 0 0 1 -2.17-1v-3.45c-4.68.11-8 1.09-9.89 2.87a1.15 1.15 0 0 1 -1.9-1.11c1.53-6.36 5.51-9.76 11.79-10.05zm1.8-2.42v4.2h-.9c-5.3 0-8.72 2.25-10.39 6.86 2.45-1.45 5.92-2.16 10.39-2.16h.9v4.2l7.71-6.55z" /></svg>
                  </span>
              </div>

          <div class="load_comments" style="margin-right: -15px; margin-left: -15px;"></div>
      </div>
    </div>
  </div>
</div>
