{% extends "base.html" %}
{% load staticfiles humanize %}
{% block title %}Мои уведомления{% endblock %}


{% block content %}
<span class="notifications" style="padding:20px">
{% if notification_list %}
<a class="btn btn-dark pull-right" href="{% url 'mark_all_read' %}">Mark all as read</a>
{% for notification in notification_list %}
<div class="card mb-4 notification">
    <div class="card-header border-bottom">
        <div class="media">
            <figure>
              {% if notification.actor.profile.avatar %}
                <img src="{{ notification.actor.profile.avatar.url }}" alt="image" style="border-radius:50px;width:50px;">
              {% else %}
                <img src="{% static 'images/user.png' %}" alt="image">
              {% endif %}
            </figure>
            <div class="media-body">
                <h6 class="mb-0">
                  <a href="{% url 'user' pk=notification.actor.pk %}">
                    {{ notification.actor.first_name }} {{ notification.actor.last_name }}
                  </a>
                  <p class="mb-0">{{ notification.timestamp|naturaltime }}</p>
                </h6>
                <p class="mb-0">
                  {{ notification.get_verb_display }}
                  {% if notification.action_object.content_hard %}
                    {{ notification.action_object.content_hard|safe }}
                  {% endif %}
                  {% if notification.action_object.content_medium %}
                    {{ notification.action_object.content_medium|safe }}
                  {% endif %}
                  {% if notification.action_object.content_lite %}
                  {{ notification.action_object.content_lite|safe }}
                  {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

{% endfor %}
{% else %}
Пока ничего нет...
{% endif %}
</span>

{% endblock %}
