{% load staticfiles %}

<script defer src="{% static 'scripts/popper.min.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/bootstrap.min.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/jquery.cookie.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/cockie.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/websocketbridge.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/lazysizes.min.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/infinite.min.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/frend_follow.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/music.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/jquery.toast.min.js' %}" type="text/javascript"></script>

<script>
var cssSelector = {jPlayer: "#jquery_jplayer_1",cssSelectorAncestor: ".main-header"};

var playlist = {{ request.user.my_playlist }};

var options = { swfPath: "/static/jquery.jplayer.swf", supplied: "oga, mp3", wmode: "window", smoothPlayBar: false, keyEnabled: true};

var myPlaylist = new jPlayerPlaylist(cssSelector, playlist, options);

function my_playlist_play(track_id) {
  myPlaylist.play(track_id);
};

function load_playlist(playlist_block, callback) {
  playlist_block.html('').load("/users/load/playlist/" + '{{ request.user.uuid }}' + "/");
}

$('#ajax').on('click', '.tag_playlist .track_item', function() {

  track = $(this); track_id = track.data('counter'); playlist_block = $('body').find('.music-dropdown'); tag_pk = track.parent().parent().parent().data('pk')
  if (!playlist_block.hasClass('tag_' + tag_pk)){

  $.ajax({
    url: "/music/manage/temp_tag/" + tag_pk + "/",
    success: function(data) {
      load_playlist(playlist_block);
      playlist_block.removeClass().addClass('dropdown-menu music-dropdown tag_' + tag_pk);
      setTimeout(function(){ my_playlist_play(track_id)},2000);
    }
  });
  }else{
    my_playlist_play(track_id);
  };
});

$('#ajax').on('click', '.user_playlist .track_item', function() {
      track = $(this); track_id = track.data('counter'); playlist_block = $('body').find('.music-dropdown'); user_pk = {{ user.pk }};
    if (!playlist_block.hasClass('user_' + user_pk)){
    $.ajax({

      url: "/music/manage/my_list/" + user_pk + "/",
      success: function(data) {
        load_playlist(playlist_block);
        playlist_block.removeClass().addClass('dropdown-menu music-dropdown user_' + user_pk);
        setTimeout(function(){ my_playlist_play(track_id)},2000);
      }
    });
    }else{my_playlist_play(track_id);};
  });

</script>
