{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'styles/default.css' %}" />
    <link class="my_color_settings" rel="stylesheet" href="/static/styles/color/{{ request.user.color_settings.color }}.css" />
    
    <link rel="stylesheet" href="{% static 'styles/video.css' %}" media="none" onload="if(media!='all')media='all'" />
    <link rel="stylesheet" href="{% static 'styles/load.css' %}" media="none" onload="if(media!='all')media='all'" />

</head>
  <body class="fixed-header">
    <div class="wrapper" id="video_id_saver" data-video="first_player">
        {% include "base_block/navbar.html" %}
        <div class="row">
          <div class="col-md-1 col-lg-2 col-xl-2"></div>

 					{% include 'base_block/desctop_nav.html' %}

          <div class="col-md-8 col-lg-7 col-xl-6" id="ajax" style="padding-right:0px;padding-left:0px;">
            <span id="reload_block">
          	   {% block content %}
          	   {% endblock %}

               {% include "base_block/fullscreens.html" %}
            </span>
					 </div>
					<div class="col-md-0 col-lg-1 col-xl-2"></div>
        </div>
    {% include "base_scripts.html" %}
  </body>
</html>
