{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/analog.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'styles/default.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'styles/load.cs' %}" media="none" onload="if(media!='all')media='all'" />
    <style>
    .sidebar .nav .nav-item a{
      font-size:30px;
      border-bottom: 1px solid black;
      margin-top: 10px;
    }
    .sidebar .nav .nav-item svg{
      width:30px;
      height:30px;
    }
    </style>
    <script>
      function on(elSelector,eventName,selector,fn) {var element = document.querySelector(elSelector);element.addEventListener(eventName, function(event) {var possibleTargets = element.querySelectorAll(selector);var target = event.target;for (var i = 0, l = possibleTargets.length; i < l; i++) {var el = target;var p = possibleTargets[i];while(el && el !== element) {if (el === p) {return fn.call(p, event);}el = el.parentNode;}}});};
      var ready = (callback) => {
      if (document.readyState != "loading") callback();
      else document.addEventListener("DOMContentLoaded", callback);
      }
    </script>
</head>
  <body class="fixed-header">
    <div class="jambotron-fluid">
        <div id="ajax" style="padding-right:0px;padding-left:0px;">
          <span id="reload_block">
           {% block content %}
           {% endblock %}
          </span>
           {% include "base_block/fullscreens.html" %}
				</div>
    </div>

    <script defer src="{% static 'scripts/jquery.js' %}" type="text/javascript"></script>
    <script defer src="{% static 'scripts/lazysizes.min.js' %}" type="text/javascript"></script>
    <script defer src="{% static 'scripts/get.js' %}" type="text/javascript"></script>

    <script>

    on('body', 'click', '.drop', function() {
      var block = this.nextElementSibling;
      block.classList.toggle("show");
    });

    class Index {
      static initLink() {document.body.querySelectorAll('.ajax').forEach( lin => lin.addEventListener('click', Index.push_url) );}
      static push_url(event){
        event.preventDefault();
        var ajax_link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
        var url = this.getAttribute('href')
        ajax_link.open( 'GET', url, true );
          ajax_link.send();
          ajax_link.onreadystatechange = function () {
            if ( this.readyState == 4 && this.status == 200 ) {
              var rtr = document.getElementById('ajax');
              var elem_ = document.createElement('span');
              elem_.innerHTML = ajax_link.responseText;
              var ajax = elem_.querySelector("#reload_block");
              rtr.innerHTML = '';
              document.title = elem_.querySelector('title').innerHTML;
              rtr.append(ajax);
              Index.initLink();
              window.history.pushState({route: url}, "network", url);
              if(rtr.querySelector('#lenta_load')){
                var lenta_load = rtr.querySelector('#lenta_load');var link = lenta_load.getAttribute("data-link");
                list_load(rtr.querySelector("#lenta_load"), link);
              }else if(rtr.querySelector('#lenta_community')){
                var lenta_community = rtr.querySelector('#lenta_community');var link = lenta_community.getAttribute("data-link");
                list_load(rtr.querySelector("#lenta_community"), link);
              };
              load_chart()
            }
          }
      };
    }

    Index.initLink();

    rrr = document.getElementById('ajax');
    if(rrr.querySelector('#lenta_load')){
      var lenta_load = rrr.querySelector('#lenta_load');var link = lenta_load.getAttribute("data-link");
      list_load(rrr.querySelector("#lenta_load"), link);
    }else if(rrr.querySelector('#lenta_community')){
      var lenta_community = rrr.querySelector('#lenta_community');var link = lenta_community.getAttribute("data-link");
      list_load(rrr.querySelector("#lenta_community"), link);
    }
    </script>
  </body>
</html>
