{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'styles/default.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/video.css' %}" />
    <link rel="stylesheet" href="/static/styles/color/{{ request.user.color_settings.color }}.css" />
    <link rel="stylesheet" href="{% static 'styles/load.css' %}" media="none" onload="if(media!='all')media='all'" />
    <script>
    function on(elSelector,eventName,selector,fn) {var element = document.querySelector(elSelector);element.addEventListener(eventName, function(event) {var possibleTargets = element.querySelectorAll(selector);var target = event.target;for (var i = 0, l = possibleTargets.length; i < l; i++) {var el = target;var p = possibleTargets[i];while(el && el !== element) {if (el === p) {return fn.call(p, event);}el = el.parentNode;}}});};
    var ready = (callback) => {if (document.readyState != "loading") callback();else document.addEventListener("DOMContentLoaded", callback);}
    function elementInViewport(el){var bounds = el.getBoundingClientRect();return ((bounds.top + bounds.height > 0) && (window.innerHeight - bounds.top > 0));}
  </script>
</head>
  <body class="fixed-header">
    <div class="wrapper" id="video_id_saver" data-video="first_player">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {% include "base_block/navbar.html" %}
        </div>
        <div class="col-md-1"></div>

				<span class="main-container col-xs-12 col-md-12 text-hide-xs jambotron-fluid" style="display:flex !important;flex-wrap: wrap;padding-right:0px;padding-left:0px;">
          <div class="col-md-1"></div>
					<div class="">
 					    {% include 'base_block/desctop_nav.html' %}
 					</div>
            <div class="col-md-7" id="ajax" style="padding-right:0px;padding-left:0px;">
              <span id="reload_block">
          	   {% block content %}
          	   {% endblock %}

               {% include "base_block/fullscreens.html" %}
              </span>
					   </div>
					<div class="col-md-2"></div>
				</span>
    </div>
    {% include "base_scripts.html" %}
  </body>
</html>
