<body class="fixed-header sidebar-left-close">
  <div class="wrapper">

    <div class="col-md-1 desc-only">
      {% block other %}
      {% endblock %}
    </div>
    <div class="col-md-10 desc-only">
      {% include "base_block/navbar.html" %}
    </div>
    <div class="col-md-1 desc-only">
      {% block other2 %}
      {% endblock %}
    </div>

    {% if request.user.is_authenticated %}
    <span class="d-sm-none d-block">
        {% include "base_block/mobile_nav.html" %}
    </span>
    {% endif %}

            <span class="main-container col-xs-12 col-md-12 text-hide-xs" style="display:flex !important;flex-wrap: wrap;padding-right:0px;padding-left:0px;">

              <div class="col-md-1 col-xs-0 gadget-only">
                {% block other3 %}
                {% endblock %}
              </div>
              <div class="{% if request.user.is_anonymous %}col-md-2{% endif %} gadget-only">
                {% include 'base_block/desctop_nav.html' %}
              </div>

              <div class="jambotron-fluid">
                <div class="col-md-7" id="ajax" style="padding-right:0px;padding-left:0px;">
                   {% block content %}
                   {% endblock %}
                   {% include "base_scripts.html" %}
                </div>
              </div>
              <div class="col-md-2 gadget-only">
                {% block reklama %}
                {% endblock %}
              </div>

            </span>

</div>

{% include "base_block/footer.html" %}

</body>
