{% load staticfiles %}
<script defer src="{% static 'scripts/jquery.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/ajax.min.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/popper.min.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/bootstrap.min.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/cockie.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/websocketbridge.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/lazysizes.min.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/jquery.toast.min.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/get.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/post.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/jquery.jplayer.min.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/jplayer.playlist.min.js' %}" type="text/javascript"></script>

<script>
  var ready = (callback) => {
  if (document.readyState != "loading") callback();
  else document.addEventListener("DOMContentLoaded", callback);
  }
ready(() => {
    document.querySelector(".music-dropdown").addEventListener("click", (e) => {
      e.stopPropagation()
    });

document.querySelector("#left-menu").addEventListener("click", (e) => {document.body.classList.toggle('sidebar-left-close');});
document.querySelector(".backdrop").addEventListener("click", (e) => {document.body.classList.toggle('sidebar-left-close');});

function addStyleSheets (href) {$head = document.head,$link = document.createElement('link');$link.rel = 'stylesheet';$link.href = href;$head.appendChild($link);};addStyleSheets("/static/styles/color/" + "{% if request.user.color_settings.color %}{{ request.user.color_settings.color }}{% else %}white{% endif %}" + ".css");
  });

</script>
<script>
  $('body').on('click', '.playlist_pause .track_item', function() {track = $(this); li = track.parents('.infinite-item'); track_id = li.data('counter');my_playlist_play(track_id); li.removeClass("playlist_pause")});

  $('body').on('click', '.genre_playlist .track_item', function() {track = $(this);track_id = track.parents('.infinite-item').data('counter');playlist_block = $('body').find('.music-dropdown');genre_pk = track.parents('.ul_track_list').data('pk');if (!playlist_block.hasClass('genre_' + genre_pk)){$.ajax({url: "/music/manage/temp_genre/" + genre_pk + "/",success: function(data) {load_playlist(playlist_block);playlist_block.removeClass().addClass('dropdown-menu music-dropdown user_' + genre_pk);setTimeout(function(){ my_playlist_play(track_id)},2000);}});}else{my_playlist_play(track_id);};});
  $('body').on('click', '.user_playlist .track_item', function() {track = $(this);track_id = track.parents('.infinite-item').data('counter');playlist_block = $('body').find('.music-dropdown');user_pk = track.parents('.ul_track_list').data('pk');if (!playlist_block.hasClass('user_' + user_pk)){$.ajax({url: "/music/manage/my_list/" + user_pk + "/",success: function(data) {load_playlist(playlist_block);playlist_block.removeClass().addClass('dropdown-menu music-dropdown user_' + user_pk);setTimeout(function(){ my_playlist_play(track_id)},2000);}});}else{my_playlist_play(track_id);};});
</script>
