{% load staticfiles %}

<script src="{% static 'scripts/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/jquery.cookie.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/jquery.sparkline.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/swiper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/photoswipe.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/photoswipe-ui-default.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/photoswipesctipt.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/masonry.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/bootstrap-tour-standalone.min.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/utils.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/main.js' %}" type="text/javascript"></script>
<script src="{% static 'scripts/dashboard-social.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/cockie.js' %}" type="text/javascript"></script>
