{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'styles/default.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/load.css' %}" media="none" onload="if(media!='all')media='all'" />
    <link rel="stylesheet" href="{% static 'styles/player_skin/vkontakte.css' %}" media="none" onload="if(media!='all')media='all'" />
    <script>
      function on(elSelector,eventName,selector,fn) {var element = document.querySelector(elSelector);element.addEventListener(eventName, function(event) {var possibleTargets = element.querySelectorAll(selector);var target = event.target;for (var i = 0, l = possibleTargets.length; i < l; i++) {var el = target;var p = possibleTargets[i];while(el && el !== element) {if (el === p) {return fn.call(p, event);}el = el.parentNode;}}});};
      icon_1 = document.querySelector(".icon_v1");icon_2 = document.querySelector(".icon_v2");icon_3 = document.querySelector(".icon_v3");icon_4 = document.querySelector(".icon_v4");icon_5 = document.querySelector(".icon_v5");tip = document.querySelector(".selected-tip");function updateSelected(btnElement) {document.querySelectorAll(".icon").forEach(icon => { icon.classList.remove("icon--selected") });btnElement.classList.add('icon--selected');const tipWidth = tip.offsetWidth;const  buttonCenter = btnElement.offsetLeft + btnElement.offsetWidth / 4;const a = buttonCenter - (tipWidth / 3);tip.style.left = a + "px";}
    </script>
</head>
  <body class="fixed-header">
    <div class="wrapper jambotron-fluid">

        <div id="ajax" style="padding-right:0px;padding-left:0px;">
           {% block content %}
           {% endblock %}

           {% include "base_block/fullscreens.html" %}
				</div>
        {% if request.user.is_authenticated %}
         {% include "base_block/mobile_tab.html" %}
         {% include "base_block/mobile_nav.html" %}
        {% endif %}
    </div>
    {% include "base_block/modal_user_repost.html" %}
    {% include "base_block/modal_community_repost.html" %}

    {% include "base_scripts.html" %}
  </body>
</html>
