{% load staticfiles %}

<footer class="border-top" style="paddig-left:15px;padding-right:15px">
    <div class="row">
        <div class="col-12 col-sm-6">
          Социальная сеть для <b>счастливых</b> людей
          <span class="text-danger">❤</span>
        </div>
        <div class="col-12 col-sm-6 text-right">
          <a href="" class="content-color-secondary">Политика безопасности</a> |
          <a href="" class="content-color-secondary">Условия использования</a>
        </div>
    </div>
</footer>
