{% load staticfiles get_key %}
<script defer src="{% static 'scripts/jquery.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/cockie.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/websocketbridge.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/lazysizes.min.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/get.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/post.js' %}" type="text/javascript"></script>
<script defer src="/static/scripts/Chart.min.js" type="text/javascript"></script>
<script defer src="{% static 'scripts/chart_v1.js' %}" type="text/javascript"></script>

<script defer src="{% static 'scripts/plugin_for_player_1.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/music_player.js' %}" type="text/javascript"></script>
<script defer src="{% static 'scripts/players_dark.js' %}" type="text/javascript"></script>
<script>

on('body', 'click', '.drop', function() {
  var block = this.nextElementSibling;
  block.classList.toggle("show");
});
</script>

<ul id="audio_playlists" style="display:none;">
		<li data-source="playlist_" data-playlist-name="Мой плейлист" data-thumbnail-path="/static/images/news_small1.jpg">
			<p class="minimalWhiteCategoriesTitle"><span class="boldWhite">Название: </span>Мой плейлист</p>
			<p class="minimalWhiteCategoriesType"><span class="boldWhite">Здесь тип плейлиста</span></p>
			<p class="minimalWhiteCategoriesDescription">Здесь описание плейлиста</p>
		</li>
		<li data-source="playlist_new" data-playlist-name="Мой плейлист номер 2" data-thumbnail-path="/static/images/news_small1.jpg">
			<p class="minimalWhiteCategoriesTitle"><span class="boldWhite">Название: </span>Мой плейлист</p>
			<p class="minimalWhiteCategoriesType"><span class="boldWhite">Здесь тип плейлиста</span></p>
			<p class="minimalWhiteCategoriesDescription">Здесь описание плейлиста</p>
		</li>
</ul>


<ul id="playlist_" style="display:none;">
  {% for track in request.user.my_playlist_too %}
  <li data-path="{{ track.uri }}"
      data-thumbpath="{{ track.artwork_url }}"
			data-downloadable="yes"
			data-add="{% if not request.user|is_track_exists:track.id %}tru{% else %}false{% endif %}"
			data-track-id="{{ track.pk }}">
    <p><span style="font-weight:bold">{{ track.title }}</span></p>
  </li>
  {% endfor %}
</ul>
<ul id="playlist_new" style="display:none;">
		<li data-path="https://api.soundcloud.com/tracks/601535613" data-thumbpath="/static/images/news_small1.jpg">
	   <p><span style="font-weight:bold">Тесттттттт</span></p>
	 </li>
</ul>
