{% extends "base.html" %}
{% block title %}Администраторы - {{ community.name }}{% endblock %}
{% block content %}

<div class="container mt-4 main-container pk_saver" data-pk="{{ community.pk }}"> 
<div class="row">
    <div class="col-md-9 order-1">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск по администраторам">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1">Администраторы сообщества -
                            <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=community.pk %}">
                                {{ community.name }}
                            </a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="card-body px-0 py-0">
                <ul class="list-group" id="com_admins_container" data-link="/communities/manage/admins/{{ community.pk }}">
                    {% for object in object_list %}
                    <li class="list-group-item pag {% if forloop.last %}last{% endif %} li_{{object.pk }}" data-uuid="{{ object.uuid }}" data-pk="{{ community.pk }}">
                        <div class="media">
                          <a href="{% url 'user' pk=object.pk %}" class="ajax">
                            <figure>
                              {% if object.get_avatar %}
                                <img src="{{ object.get_avatar }}" style="border-radius:50px;width:50px;" alt="image">
                              {% else %}
                                <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                              {% endif %}
                            </figure>
                          </a>
                          <div class="media-body">
                              <a href="{% url 'user' pk=object.pk %}" class="ajax">
                                  <h6 class="my-0 mt-1">{{ object.get_full_name }}</h6>
                              </a>
                              <span class="staff_btn">
                                {% if object == community.creator %}
                                  Владелец
                                {% else %}
                                  Администратор<br>
                                  <span class="small">
                                    <span class="show_staff_window" style="cursor:pointer">Редактировать</span> | <span class="remove_admin" style="cursor:pointer">Разжаловать</span>
                                  </span>
                                {% endif %}
                                <br>
                              </span>
                          </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-3 order-2 left_menu">
        {% include 'manage/menu.html' %}
    </div>
</div>
</div>

<div class="card mb-3 manage_window_fullscreen" style="display:none">
  <span class="community_manage_fullscreen_hide">
    <svg class="svg_default svg_default_30" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
  </span>
  <div id="load_staff_window" style="margin-top:30px"></div>
</div>

{% endblock %}
