{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Смена категории - {{ community.name }}{% endblock %}
{% block content %}

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-lg-7 col-md-8 col-sm-12 order-1">
            <form action="" id="CAT-FORM" method="post" class="contact-form">
                {% csrf_token %}
                <div class="form-group row">
                  <div class="col-lg-12 col-md-12">
                    <label>Категория</label>
                    <select class="form-control" id="sub_category" data-live-search="true" tabindex="-1" aria-hidden="true">
                        {% for object in categories %}
                        <option value="">Выберите категорию</option>
                        <option data-order="{{ object.order }}" value="{{ object.order }}">{{ object.name }}</option>
                        {% endfor %}
                    </select>
                    <div id="subcat"></div>
                  </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="mb-2 btn btn-sm btn-success float-right">Сохранить</button>
                </div>
          </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
      var frm = $('#CAT-FORM');
      frm.submit(function() {
          $.ajax({
              type: frm.attr('method'),
              url: "{% url 'community_cat' pk=community.pk %}",
              data: new FormData($(frm)[0]),
              contentType: false,
              cache: false,
              processData: false,
              success: function(data) {
                  $('#ajax').html('').load("/communities/reload/" + {{ community.pk }} + "/");
                  $('title').text('{{ community.name }}');
              },
              error: function(data) {
                  console.log("Все не ОК")
              }
          });
          return false;
      });
  </script>
  <script>
      $('#sub_category').change(function() {
          var val = $(this).val();
          if (val == '') {
              $('#subcat').empty();
          } else {
              $('#subcat').html('').load("/communities/cat/" + val + "/");
          };
      })
  </script>
{% endblock %}
