
<div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
    <form action="" id="add_community_form">
      {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header border-bottom">
                <h5 class="content-color-primary mb-0">Создание сообщества</h5>
            </div>
            <div class="card-body">
                <br>
                <hr>
                <div class="row ">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group ">
                            <label>Название</label>
                            <input type="text" name="name" class="form-control" id="id_name">
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group ">
                            <label>Категория</label>
                            <select class="form-control" id="sub_category" data-live-search="true" tabindex="-1" aria-hidden="true">
                                {% for object in categories %}
                                <option value="">Выберите тематику</option>
                                <option data-order="{{ object.order }}" value="{{ object.order }}">{{ object.name }}</option>
                                {% endfor %}
                            </select>
                            <div id="subcat"></div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group ">
                            <label>Тип открытости</label>
                            <select class="form-control" id="id_type" name="type" data-live-search="true" tabindex="-1" aria-hidden="true">
                                <option value="P">Публичный</option>
                                <option value="C">Закрытый</option>
                                <option value="T">Частный</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <button class="btn btn-secondary create_fullscreen_hide" style="position: relative; top: -10px; left: -10px;">Отмена</button>
                <button type="button" class="btn btn-success float-right" id="add_community_btn">Создать</button>
            </div>
        </div>
    </form>
</div>
