{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Редакторы сообщества - {{ community.name }}{% endblock %}
{% block content %}

<div class="container mt-4 main-container">
<div class="row">
    <div class="col-md-9 order-1">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск по редакторам" aria-label="Recipient's username">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1">Редакторы сообщества -
                            <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=community.pk %}">
                                {{ community.name }}
                            </a>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="card-body px-0 py-0">
              {% if object_list %}
                <ul class="list-group" id="editors-container">
                    {% for object in object_list %}
                    <li class="list-group-item li_{{object.pk }}" data-uuid="{{ object.uuid }}" data-pk="{{ community.pk }}">
                        <div class="media">
                          <a href="{% url 'user' pk=object.pk %}" class="ajax" data-html="#ajax">
                            <figure>
                              {% if object.get_avatar %}
                                <img src="{{ object.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius:50px;width:50px;" alt="image">
                              {% else %}
                                <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                              {% endif %}
                            </figure>
                          </a>
                          <div class="media-body">
                              <a href="{% url 'user' pk=object.pk %}" class="ajax">
                                  <h6 class="my-0 mt-1">{{ object.get_full_name }}</h6>
                              </a>
                              <span class="staff_btn">
                                Редактор<br>
                                <span class="small">
                                  <span class="show_staff_window" style="cursor:pointer">Редактировать</span> | <span class="remove_editors" style="cursor:pointer">Разжаловать</span>
                                </span>
                                <br>
                              </span>
                          </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <div class="col-12">
                  <div class="card moder_empty" style="align-items: center;justify-content:center;">
                    <div class="card-body">
                      <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    </div>
                    <h6 style="margin: 20px;text-align: center;">Модераторов пока нет</h6>
                  </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-md-3 order-2 left_menu">
        <a class="mb-2 box-shadow mr-2 btn btn-link menu_drop" type="button">
            Общее
        </a>
        <div class="collapse">
          <div class="card card-body" style="display: contents;">
            <ul>
              <li><a href="{% url 'community_general_form' pk=community.pk %}" class="ajax">Информации</a></li>
            </ul>
          </div>
        </div>

        <a class="mb-2 box-shadow mr-2 btn btn-link menu_drop" style="margin-top: 20px;">
            Подписчики
        </a>
        <div class="collapse show">
          <div class="card card-body" style="display: contents;">
            <ul>
              <li><a href="{% url 'community_member_manage' pk=community.pk %}" class="ajax">Подписчики</a></li>
              {% if community.is_closed %}
                <li style="margin-bottom:8px;"><a href="{% url 'community_follows' pk=community.pk %}" class="ajax" data-html="#ajax">Заявки на членство</a></li>
              {% endif %}
              <li><a href="{% url 'community_moders' pk=community.pk %}" class="ajax">Модераторы</a></li>
              <li><a href="{% url 'community_editors' pk=community.pk %}" class="ajax">Редакторы</a></li>
              <li><a href="{% url 'community_advertisers' pk=community.pk %}" class="ajax">Рекламодатели</a></li>
              <li><a href="{% url 'community_admins' pk=community.pk %}" class="ajax">Администраторы</a></li>
              <li><a href="{% url 'community_black_list' pk=community.pk %}" class="ajax">Черный список</a></li>
            </ul>
          </div>
        </div>

        <a class="mb-2 box-shadow mr-2 btn btn-link menu_drop" style="margin-top: 20px;">
            Приватность
        </a>
        <div class="collapse">
          <div class="card card-body" style="display: contents;">
            <ul>
              <li><a href="{% url 'community_private' community.pk %}" class="ajax">Записи</a></li>
              <li><a href="" class="ajax" data-html="#ajax">Фотографии</a></li>
              <li><a href="" class="ajax" data-html="#ajax">Товары</a></li>
              <li><a href="" class="ajax" data-html="#ajax">Музыка</a></li>
              <li><a href="" class="ajax" data-html="#ajax">Видео</a></li>
            </ul>
          </div>
        </div>
        <a class="mb-2 box-shadow mr-2 btn btn-link menu_drop" style="margin-top: 20px;">
            Уведомления
        </a>
        <div class="collapse">
          <div class="card card-body" style="display: contents;">
            <ul>
              <li><a href="{% url 'community_notify' community.pk %}" class="ajax">Записи</a></li>
              <li><a href="" class="ajax">Фотографии</a></li>
              <li><a href="" class="ajax">Товары</a></li>
              <li><a href="" class="ajax">Музыка</a></li>
              <li><a href="" class="ajax">Видео</a></li>
            </ul>
          </div>
        </div>

        <a class="mb-2 box-shadow mr-2 btn btn-link menu_drop" style="margin-top: 20px;">
            Статистика
        </a>
        <div class="collapse">
          <div class="card card-body" style="display: contents;">
            <ul style="list-style-type:none">
              <li style="margin-bottom:8px;"><a href="{% url 'community_cuberture_day' community.pk %}" class="ajax">Обший охват</a></li>
              <li style="margin-bottom:8px;"><a href="{% url 'community_traffic_day' community.pk %}" class="ajax">Посещаемость</a></li>
            </ul>
          </div>
        </div>
    </div>
</div>
</div>

<div class="card mb-3 manage_window_fullscreen" style="display:none">
  <span class="community_manage_fullscreen_hide">
    <svg class="svg_default svg_default_30" fill="currentColor" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
  </span>
  <div id="load_staff_window" style="margin-top:30px"></div>
</div>

<script>
 ready(() => {
  var page = 2;
  var loaded = false;

  onscroll = function(){
  try{
    var editors = document.getElementById("editors-container");
    if(editors.getElementsByClassName('list-group-item').length === (page-1)*30){
    var height = document.documentElement.clientHeight-1;
    if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
      if (loaded){return};
      var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_3.open( 'GET', '/communities/manage/editors/' + '{{ community.pk }}/?page=' + page++, true );
      link_3.send();
      link_3.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        var elem = document.createElement('span');
        elem.innerHTML = link_3.responseText;
        var editors_list = elem.querySelector(".list-group");
        if(editors_list.getElementsByClassName('list-group-item').length < 30){loaded = true;};
        editors.append(editors_list);
        }
      }
    }}
  }catch{return}
}
});
</script>
{% endblock %}
