{% extends "base.html" %}
{% block title %}Информация - {{ community.name }} {% endblock %}
{% block content %}

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-md-9 order-1">
            <form action="" id="info_form" class="contact-form">
                {% csrf_token %}
                <div class="card mb-3">
                    <div class="card-header border-bottom">
                        <h5 class="content-color-primary mb-0">Изменение информации -
                            <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=community.pk %}">
                              {{ community.name }}
                            </a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-10 ">
                                <div class="form-group row">
                                    <div class="col-lg-12 col-md-12">
                                        <label>Название</label>
                                        {{ form.name }}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-12 col-md-12">
                                      <label>Описание</label>
                                      {{ form.description }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12 col-md-12">
                                        <label>Статус</label>
                                        {{ form.status }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="general_button" class="mb-2 btn btn-sm btn-success float-right">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-3 order-2 left_menu">
            {% include 'manage/menu.html' %}
        </div>

    </div>
</div>

<script type="text/javascript">
  document.querySelector("#general_button").addEventListener("click", (e) => {
   var form10 = document.getElementById('info_form');
   var formEntries = new FormData(form10);
   var options = {
     method: 'POST',
     body: formEntries,
   };
   fetch('{% url "community_general_form" pk=community.pk %}', options).then(data => {
     console.log("Все ОК")
   }).catch(error => {console.log("Все не ОК")})
})
</script>



{% endblock %}
