{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Управление сообществом - {{ community.name }}{% endblock %}
{% block content %}
<style>
  .id_image input{
    display: none;
  }
  #image-holder,
  #image-holder2{
      border: 2px dashed #FF0000;
      color: rgba(0, 0, 0, 0.8);
      padding: 10px;
      text-align: center;
      margin: 20px;
      cursor:pointer;
      width: 85%;
      min-width: 85%;
    }
    #image-holder img,
    #image-holder2 img{
      width: 85%;
      height: auto;
    }
</style>
<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-lg-7 col-md-8 col-sm-12 order-1">
            <form action="" id="GENERAL-FORM" method="post" class="contact-form">
                {% csrf_token %}
                <div class="card mb-4">
                    <div class="card-header border-bottom">
                        <h5 class="content-color-primary mb-0">Управление сообществом
                            <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=community.pk %}">
                              {{ community.name }}
                            </a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-10 ">
                                <div class="form-group row">
                                    <div class="col-lg-12 col-md-12">
                                        <label>Название</label>
                                        <input type="text" value="{{ community.name }}" name="name" id="id_name" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-lg-12 col-md-12">
                                    <label>Категория</label>
                                    <select class="form-control" id="sub_category" data-live-search="true" tabindex="-1" aria-hidden="true">
                                        {% for object in categories %}
                                        <option value="">Выберите категорию</option>
                                        <option data-order="{{ object.order }}" value="{{ object.order }}">{{ object.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div id="subcat"></div>
                                  </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12 col-md-12">
                                      <label>Описание</label>
                                      <textarea type="text" value="{{ form.description }}" name="description" id="id_description" class="form-control" placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12 col-md-12">
                                        <label>Правила</label>
                                        <textarea  type="text" value="{{ community.rules }}" name="rules" id="id_rules" class="form-control" placeholder=""></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12 col-md-12">
                                        <label>Статус</label>
                                        <input type="text" value="{{ community.status }}" name="status" id="id_status" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                  <div class="id_image">{{ form.avatar }}</div>
                                  <div id="image-holder">
                                      <h4 style="font-weight:bold;font-size:65px;color:#CECECE">Аватар</h4>
                                      <p>Нажмите, чтобы добавить</p>
                                      <i style="">(не обязательно)</i>
                                  </div>
                                </div>
                                <div class="form-group row">
                                  <div class="id_image">{{ form.cover }}</div>
                                  <div id="image-holder2">
                                      <h4 style="font-weight:bold;font-size:65px;color:#CECECE">Баннер</h4>
                                      <p>Нажмите, чтобы добавить</p>
                                      <i style="">(не обязательно)</i>
                                  </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="mb-2 btn btn-sm btn-success float-right">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12 order-2">
            <ul style="list-style-type:none">
                <li style="margin-bottom:8px;"><a href="{% url 'commnity_general_form' pk=community.pk %}" class="ajax">Управление сообществом</a></li>
                <li style="margin-bottom:8px;"><a href="" class="ajax">Уведомления</a></li>
                <li style="margin-bottom:8px;"><a href="" class="ajax">Приватность</a></li>
                {% if community.is_closed %}
                  <li style="margin-bottom:8px;"><a href="" class="ajax">Заявки на членство</a></li>
                {% endif %}
                <li style="margin-bottom:8px;"><a href="" class="ajax"></a>Администраторы</li>
                <li style="margin-bottom:8px;"><a href="" class="ajax"></a>Модераторы</li>
            </ul>
        </div>

    </div>
</div>

<script defer type="text/javascript">
    var frm = $('#GENERAL-FORM');
    frm.submit(function() {
        $.ajax({
            type: frm.attr('method'),
            url: "{% url 'commnity_general_form' pk=request.user.pk %}",
            data: new FormData($(frm)[0]),
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                $('#ajax').html('').load("/communities/reload/" + pk + "/");
                $('title').text('{{ community.name }}');
            },
            error: function(data) {
                console.log("Все не ОК")
            }
        });
        return false;
    });
</script>
<script>
    $('#sub_category').change(function() {
        var val = $(this).val();
        if (val == '') {
            $('#subcat').empty();
        } else {
            $('#subcat').html('').load("/communities/cat/" + val + "/");
        };
    })
</script>
<script>
    var imageLoader = document.getElementById("id_avatar");
    var entrou = false;
    $("#image-holder").on("click", function() {
        $("#id_avatar").click();
    });

    $("#id_avatar").on("change", function() {
        if (!entrou) {
            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf(".") + 1).toLowerCase();

            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof FileReader != "undefined") {
                    var image_holder = $("#image-holder");
                    image_holder.empty();

                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $img = $("<img />", {
                            id: "targetImageCrop",
                            src: e.target.result,
                            class: "thumb-image"
                        }).appendTo(image_holder);
                    };

                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                }
            } else {
                this.value = null;
            }
        }
        entrou = true;
        setTimeout(function() {
            entrou = false;
        }, 1000);
    });
</script>
<script>
    var imageLoader = document.getElementById("id_cover");
    var entrou = false;
    $("#image-holder2").on("click", function() {
        $("#id_cover").click();
    });

    $("#id_cover").on("change", function() {
        if (!entrou) {
            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf(".") + 1).toLowerCase();

            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof FileReader != "undefined") {
                    var image_holder = $("#image-holder2");
                    image_holder.empty();

                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $img = $("<img />", {
                            id: "targetImageCrop",
                            src: e.target.result,
                            class: "thumb-image"
                        }).appendTo(image_holder);
                    };

                    image_holder.show();
                    reader.readAsDataURL($(this)[0].files[0]);
                }
            } else {
                this.value = null;
            }
        }
        entrou = true;
        setTimeout(function() {
            entrou = false;
        }, 1000);
    });
</script>
{% endblock %}
