{% extends "base.html" %}
{% block title %}Информация - {{ community.name }} {% endblock %}
{% block content %}

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-md-9 order-1">
            <form action="" id="info_form" class="contact-form">
                {% csrf_token %}
                <div class="card mb-3">
                    <div class="card-header border-bottom">
                        <h5 class="content-color-primary mb-0">Изменение информации -
                            <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=community.pk %}">
                              {{ community.name }}
                            </a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-md-10 ">
                                <div class="form-group row">
                                    <div class="col-lg-12 col-md-12">
                                        <label>Название</label>
                                        {{ form.name }}
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-lg-12 col-md-12">
                                      <label>Описание</label>
                                      {{ form.description }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12 col-md-12">
                                        <label>Статус</label>
                                        {{ form.status }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="general_button" class="mb-2 btn btn-sm btn-success float-right">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-3 order-2 left_menu">
            <a class="mb-2 box-shadow mr-2 btn btn-link menu_drop" type="button">
                Общее
            </a>
            <div class="collapse show" id="communitySettings">
              <div class="card card-body" style="display: contents;">
                <ul>
                  <li><a href="{% url 'community_general_form' pk=community.pk %}" class="ajax">Информации</a></li>
                </ul>
              </div>
            </div>

            <a class="mb-2 box-shadow mr-2 btn btn-link menu_drop" style="margin-top: 20px;">
                Подписчики
            </a>
            <div class="collapse">
              <div class="card card-body" style="display: contents;">
                <ul>
                  <li><a href="{% url 'community_member_manage' pk=community.pk %}" class="ajax">Подписчики</a></li>
                  {% if community.is_closed %}
                    <li style="margin-bottom:8px;"><a href="{% url 'community_follows' pk=community.pk %}" class="ajax" data-html="#ajax">Заявки на членство</a></li>
                  {% endif %}
                  <li><a href="{% url 'community_moders' pk=community.pk %}" class="ajax">Модераторы</a></li>
                  <li><a href="{% url 'community_editors' pk=community.pk %}" class="ajax">Редакторы</a></li>
                  <li><a href="{% url 'community_advertisers' pk=community.pk %}" class="ajax">Рекламодатели</a></li>
                  <li><a href="{% url 'community_admins' pk=community.pk %}" class="ajax">Администраторы</a></li>
                  <li><a href="{% url 'community_black_list' pk=community.pk %}" class="ajax">Черный список</a></li>
                </ul>
              </div>
            </div>

            <a class="mb-2 box-shadow mr-2 btn btn-link menu_drop" style="margin-top: 20px;">
                Приватность
            </a>
            <div class="collapse">
              <div class="card card-body" style="display: contents;">
                <ul>
                  <li><a href="{% url 'community_private' community.pk %}" class="ajax">Записи</a></li>
                  <li><a href="" class="ajax" data-html="#ajax">Фотографии</a></li>
                  <li><a href="" class="ajax" data-html="#ajax">Товары</a></li>
                  <li><a href="" class="ajax" data-html="#ajax">Музыка</a></li>
                  <li><a href="" class="ajax" data-html="#ajax">Видео</a></li>
                </ul>
              </div>
            </div>
            <a class="mb-2 box-shadow mr-2 btn btn-link menu_drop" style="margin-top: 20px;">
                Уведомления
            </a>
            <div class="collapse">
              <div class="card card-body" style="display: contents;">
                <ul>
                  <li><a href="{% url 'community_notify' community.pk %}" class="ajax">Записи</a></li>
                  <li><a href="" class="ajax">Фотографии</a></li>
                  <li><a href="" class="ajax">Товары</a></li>
                  <li><a href="" class="ajax">Музыка</a></li>
                  <li><a href="" class="ajax">Видео</a></li>
                </ul>
              </div>
            </div>

            <a class="mb-2 box-shadow mr-2 btn btn-link menu_drop" style="margin-top: 20px;">
                Статистика
            </a>
            <div class="collapse">
              <div class="card card-body" style="display: contents;">
                <ul style="list-style-type:none">
                  <li style="margin-bottom:8px;"><a href="{% url 'community_cuberture_day' community.pk %}" class="ajax">Обший охват</a></li>
                  <li style="margin-bottom:8px;"><a href="{% url 'community_traffic_day' community.pk %}" class="ajax">Посещаемость</a></li>
                </ul>
              </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
  document.querySelector("#general_button").addEventListener("click", (e) => {
   var form10 = document.getElementById('info_form');
   var formEntries = new FormData(form10);
   var options = {
     method: 'POST',
     body: formEntries,
   };
   fetch('{% url "community_general_form" pk=community.pk %}', options).then(data => {
     console.log("Все ОК")
   }).catch(error => {console.log("Все не ОК")})
})
</script>



{% endblock %}
