<div class="col-lg-5 col-md-4 col-sm-12 order-2" style="margin-top: 65px;">
    <ul style="list-style-type:none">
      <li style="margin-bottom:8px;"><a href="{% url 'community_general_form' pk=community.pk %}" class="ajax" data-html="#ajax">Информации</a></li>
      <li style="margin-bottom:8px;"><a href="{% url 'community_notify' pk=community.pk %}" class="ajax" data-html="#ajax">Уведомления</a></li>
      <li style="margin-bottom:8px;"><a href="{% url 'community_private' pk=community.pk %}" class="ajax" data-html="#ajax">Приватность</a></li>
      {% if community.is_closed %}
        <li style="margin-bottom:8px;"><a href="{% url 'community_follows' pk=community.pk %}" class="ajax" data-html="#ajax">Заявки на членство</a></li>
      {% endif %}
      <li style="margin-bottom:8px;"><a href="{% url 'community_admins' pk=community.pk %}" class="ajax" data-html="#ajax">Администраторы</a></li>
      <li style="margin-bottom:8px;"><a href="{% url 'community_moders' pk=community.pk %}" class="ajax" data-html="#ajax">Модераторы</a></li>
      <li style="margin-bottom:8px;"><a href="{% url 'community_black_list' pk=community.pk %}" class="ajax" data-html="#ajax">Черный список</a></li>
    </ul>
</div>
<div class="sidebar">

            <ul class="nav flex-column in">
                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">shopping_cart</i> <span>eCommerce</span><i class="material-icons icon arrow">expand_more</i></a>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="product-blocks.html" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>Products</span></a>
                            <a href="product-details.html" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>Product Detail</span></a>
                            <a href="cart.html" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>Cart</span></a>
                            <a href="payment-info.html" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>Payment/Info</span></a>
                            <a href="invoice.html" class="nav-link pink-gradient-active"><i class="material-icons icon"></i> <span>Invoice</span></a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="javascript:void(0);" class="nav-link dropdwown-toggle"><i class="material-icons icon">business_center</i> <span>Controls</span><i class="material-icons icon arrow">expand_more</i></a>
                    <ul class="nav flex-column" style="display: none;">
                        <li class="nav-item">
                            <a href="card-blocks.html" class="nav-link  pink-gradient-active"><i class="material-icons icon"></i> <span>Card Blocks</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pink-gradient-active" href="tooltip.html"><i class="material-icons icon"></i> <span>Tooltip</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pink-gradient-active" href="modal.html"><i class="material-icons icon"></i> <span>Modal</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
