<div class="col-lg-5 col-md-4 col-sm-12 order-2">
    <button class="mb-2 box-shadow mr-2 btn btn-link text-light text-dark collapsed" style="display: block" type="button" data-toggle="collapse" data-target="#communitySettings" aria-expanded="false" aria-controls="collapseExample">
        Настройки <span class="text-hide-xs">сообщества</span>
    </button>
    <div class="collapse show" id="communitySettings">
      <div class="card card-body" style="display: contents;">
        <ul style="list-style-type:none">
          <li style="margin-bottom:8px;"><a href="{% url 'community_general_form' pk=community.pk %}" class="ajax" data-html="#ajax">Информации</a></li>
          <li style="margin-bottom:8px;"><a href="{% url 'community_notify' pk=community.pk %}" class="ajax" data-html="#ajax">Уведомления</a></li>
          <li style="margin-bottom:8px;"><a href="{% url 'community_private' pk=community.pk %}" class="ajax" data-html="#ajax">Приватность</a></li>
        </ul>
      </div>
    </div>
    <button class="mb-2 box-shadow mr-2 btn btn-link text-light text-dark collapsed" style="display: block;margin-top: 20px;" type="button" data-toggle="collapse" data-target="#communityMembership" aria-expanded="false" aria-controls="collapseExample">
        Участники <span class="text-hide-xs">сообщества</span>
    </button>
    <div class="collapse" id="communityMembership">
      <div class="card card-body" style="display: contents;">
        <ul style="list-style-type:none">
          {% if community.is_closed %}
            <li style="margin-bottom:8px;"><a href="{% url 'community_follows' pk=community.pk %}" class="ajax" data-html="#ajax">Заявки на членство</a></li>
          {% endif %}
          <li style="margin-bottom:8px;"><a href="{% url 'community_moders' pk=community.pk %}" class="ajax" data-html="#ajax">Модераторы</a></li>
          <li style="margin-bottom:8px;"><a href="{% url 'community_editors' pk=community.pk %}" class="ajax" data-html="#ajax">Редакторы</a></li>
          <li style="margin-bottom:8px;"><a href="{% url 'community_advertisers' pk=community.pk %}" class="ajax" data-html="#ajax">Рекламщики</a></li>
          <li style="margin-bottom:8px;"><a href="{% url 'community_admins' pk=community.pk %}" class="ajax" data-html="#ajax">Администраторы</a></li>
          <li style="margin-bottom:8px;"><a href="{% url 'community_black_list' pk=community.pk %}" class="ajax" data-html="#ajax">Черный список</a></li>
        </ul>
      </div>
    </div>
</div>
