<div class="col-lg-5 col-md-4 col-sm-12 order-2" style="margin-top: 65px;">
    <ul style="list-style-type:none">
      <li style="margin-bottom:8px;"><a href="{% url 'community_general_form' pk=community.pk %}" class="ajax">Информации</a></li>
      <li style="margin-bottom:8px;"><a href="{% url 'community_notify' pk=community.pk %}" class="ajax">Уведомления</a></li>
      <li style="margin-bottom:8px;"><a href="{% url 'community_private' pk=community.pk %}" class="ajax">Приватность</a></li>
      {% if community.is_closed %}
        <li style="margin-bottom:8px;"><a href="{% url 'community_follows' pk=community.pk %}" class="ajax">Заявки на членство</a></li>
      {% endif %}
      <li style="margin-bottom:8px;"><a href="{% url 'community_admins' pk=community.pk %}" class="ajax">Администраторы</a></li>
      <li style="margin-bottom:8px;"><a href="{% url 'community_moders' pk=community.pk %}" class="ajax">Модераторы</a></li>
      <li style="margin-bottom:8px;"><a href="{% url 'community_black_list' pk=community.pk %}" class="ajax">Черный список</a></li>
    </ul>
</div>
