{% extends "base.html" %}
{% block title %}Приватность - {{ community.name }}{% endblock %}
{% block content %}

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-md-9 order-1">
            <form id="private_form" action="" method="post" class="contact-form">
                {% csrf_token %}
                <div class="card mb-3">
                    <div class="card-header border-bottom">
                        <h5 class="content-color-primary mb-0">Настройки приватности -
                            <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=community.pk %}">
                              {{ community.name }}
                            </a>
                        </h5>
                    </div>
                    <div class="card-body">

                        <p class="content-color-primary page-sub-title-small mt-2">
                            Фото открыты всем
                            <input type="checkbox" {% if private_settings.photo_visible_all %} checked {% endif %} name="photo_visible_all" id="id_photo_visible_all" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_photo_visible_all" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Фото открыты друзьям
                            <input type="checkbox" {% if private_settings.photo_visible_member %} checked {% endif %} name="photo_visible_member" id="id_photo_visible_member" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_photo_visible_member" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Люди могут писать комментарии
                            <input type="checkbox" {% if private_settings.can_comments %} checked {% endif %} name="can_comments" id="id_can_comments" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_can_comments" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Люди могут оставлять записи
                            <input type="checkbox" {% if private_settings.can_add_post %} checked {% endif %} name="can_add_post" id="id_can_add_post" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_can_add_post" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Люди могут писать статьи
                            <input type="checkbox" {% if private_settings.can_add_article %} checked {% endif %} name="can_add_article" id="id_can_add_article" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_can_add_article" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Люди могут добавлять товары
                            <input type="checkbox" {% if private_settings.can_add_good %} checked {% endif %} name="can_add_good" id="id_can_add_good" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_can_add_good" class="bg_success mb-2 border float-right"></label>
                        </p>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="private_button" class="mb-2 btn btn-sm btn-success float-right">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-3 order-2 left_menu">
            <a class="mb-2 box-shadow mr-2 btn btn-link menu_drop" type="button">
                Общее
            </a>
            <div class="collapse">
              <div class="card card-body" style="display: contents;">
                <ul>
                  <li><a href="{% url 'community_general_form' pk=community.pk %}" class="ajax">Информации</a></li>
                </ul>
              </div>
            </div>

            <a class="mb-2 box-shadow mr-2 btn btn-link menu_drop" style="margin-top: 20px;">
                Подписчики
            </a>
            <div class="collapse">
              <div class="card card-body" style="display: contents;">
                <ul>
                  <li><a href="{% url 'community_member_manage' pk=community.pk %}" class="ajax">Подписчики</a></li>
                  {% if community.is_closed %}
                    <li style="margin-bottom:8px;"><a href="{% url 'community_follows' pk=community.pk %}" class="ajax" data-html="#ajax">Заявки на членство</a></li>
                  {% endif %}
                  <li><a href="{% url 'community_moders' pk=community.pk %}" class="ajax">Модераторы</a></li>
                  <li><a href="{% url 'community_editors' pk=community.pk %}" class="ajax">Редакторы</a></li>
                  <li><a href="{% url 'community_advertisers' pk=community.pk %}" class="ajax">Рекламодатели</a></li>
                  <li><a href="{% url 'community_admins' pk=community.pk %}" class="ajax">Администраторы</a></li>
                  <li><a href="{% url 'community_black_list' pk=community.pk %}" class="ajax">Черный список</a></li>
                </ul>
              </div>
            </div>

            <a class="mb-2 box-shadow mr-2 btn btn-link menu_drop" style="margin-top: 20px;">
                Приватность
            </a>
            <div class="collapse show">
              <div class="card card-body" style="display: contents;">
                <ul>
                  <li><a href="{% url 'community_private' community.pk %}" class="ajax">Записи</a></li>
                  <li><a href="" class="ajax" data-html="#ajax">Фотографии</a></li>
                  <li><a href="" class="ajax" data-html="#ajax">Товары</a></li>
                  <li><a href="" class="ajax" data-html="#ajax">Музыка</a></li>
                  <li><a href="" class="ajax" data-html="#ajax">Видео</a></li>
                </ul>
              </div>
            </div>
            <a class="mb-2 box-shadow mr-2 btn btn-link menu_drop" style="margin-top: 20px;">
                Уведомления
            </a>
            <div class="collapse">
              <div class="card card-body" style="display: contents;">
                <ul>
                  <li><a href="{% url 'community_notify' community.pk %}" class="ajax">Записи</a></li>
                  <li><a href="" class="ajax">Фотографии</a></li>
                  <li><a href="" class="ajax">Товары</a></li>
                  <li><a href="" class="ajax">Музыка</a></li>
                  <li><a href="" class="ajax">Видео</a></li>
                </ul>
              </div>
            </div>

            <a class="mb-2 box-shadow mr-2 btn btn-link drop" style="margin-top: 20px;">
                Статистика
            </a>
            <div class="collapse">
              <div class="card card-body" style="display: contents;">
                <ul style="list-style-type:none">
                  <li style="margin-bottom:8px;"><a href="{% url 'community_cuberture_day' community.pk %}" class="ajax">Обший охват</a></li>
                  <li style="margin-bottom:8px;"><a href="{% url 'community_traffic_day' community.pk %}" class="ajax">Посещаемость</a></li>
                </ul>
              </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
  document.querySelector("#private_button").addEventListener("click", (e) => {
   var form10 = document.getElementById('notify_form');
   var formEntries = new FormData(form10);
   var options = {
     method: 'POST',
     body: formEntries,
   };
   fetch('{% url "community_private" pk=community.pk %}', options).then(data => {
     console.log("Все ОК")
   }).catch(error => {console.log("Все не ОК")})
})
</script>
{% endblock %}
