{% extends "base.html" %}
{% block title %}Разделы - {{ community.name }}{% endblock %}
{% block content %}

<div class="container mt-4 main-container pk_saver" data-pk="{{ community.pk }}">
    <div class="row">
        <div class="col-md-9 order-1">
            <form id="community_sections_form" action="" method="post" class="contact-form">
                {% csrf_token %}
                <div class="card mb-3">
                    <div class="card-header border-bottom">
                        <h5 class="content-color-primary mb-0">Разделы -
                            <a style="text-decoration:underline;" class="ajax" href="{% url 'community_detail' pk=community.pk %}">
                              {{ community.name }}
                            </a>
                        </h5>
                    </div>
                    <div class="card-body">
                      <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                          Галерея открыта
                          <input type="checkbox" {% if sections.photo %} checked {% endif %} name="photo" id="id_photo" class="switch switch-sm">
                          <label style="margin-right:12px;bottom: 5px;" for="id_photo" class="bg_success mb-2 border float-right"></label>
                      </p>
                      <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                          Товары открыты
                          <input type="checkbox" {% if sections.good %} checked {% endif %} name="good" id="id_good" class="switch switch-sm">
                          <label style="margin-right:12px;bottom: 5px;" for="id_good" class="bg_success mb-2 border float-right"></label>
                      </p>
                      <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                          Видеоролики открыты
                          <input type="checkbox" {% if sections.video %} checked {% endif %} name="video" id="id_video" class="switch switch-sm">
                          <label style="margin-right:12px;bottom: 5px;" for="id_video" class="bg_success mb-2 border float-right"></label>
                      </p>
                      <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                          Аудиозаписи открыты
                          <input type="checkbox" {% if sections.music %} checked {% endif %} name="music" id="id_music" class="switch switch-sm">
                          <label style="margin-right:12px;bottom: 5px;" for="id_music" class="bg_success mb-2 border float-right"></label>
                      </p>
                      <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                          Ссылки открыты
                          <input type="checkbox" {% if sections.link %} checked {% endif %} name="link" id="id_link" class="switch switch-sm">
                          <label style="margin-right:12px;bottom: 5px;" for="id_link" class="bg_success mb-2 border float-right"></label>
                      </p>
                      <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                          Статьи открыты
                          <input type="checkbox" {% if sections.article %} checked {% endif %} name="article" id="id_article" class="switch switch-sm">
                          <label style="margin-right:12px;bottom: 5px;" for="id_article" class="bg_success mb-2 border float-right"></label>
                      </p>
                      <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                          Контакты открыты
                          <input type="checkbox" {% if sections.contacts %} checked {% endif %} name="contacts" id="id_contacts" class="switch switch-sm">
                          <label style="margin-right:12px;bottom: 5px;" for="id_contacts" class="bg_success mb-2 border float-right"></label>
                      </p>
                      <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                          Обсуждения открыты
                          <input type="checkbox" {% if sections.discussion %} checked {% endif %} name="discussion" id="id_discussion" class="switch switch-sm">
                          <label style="margin-right:12px;bottom: 5px;" for="id_discussion" class="bg_success mb-2 border float-right"></label>
                      </p>
                      <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                          Подписчики открыты
                          <input type="checkbox" {% if sections.members %} checked {% endif %} name="members" id="id_members" class="switch switch-sm">
                          <label style="margin-right:12px;bottom: 5px;" for="id_members" class="bg_success mb-2 border float-right"></label>
                      </p>

                    </div>
                    <div class="card-footer">
                        <button type="button" id="community_sections_btn" class="mb-2 btn btn-sm btn-success float-right">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3 order-2 left_menu">
            {% include 'manage/menu.html' %}
        </div>

    </div>
</div>

{% endblock %}
