
    <form>
      {% csrf_token %}
            <div class="card-header border-bottom">
              <h6 class="content-color-primary mb-0">
                <span style="font-weight:bold">Добавить:</span>
                &nbsp;
                <span id="toggle_case_item_repost" class="underline" data-flag="create_repost_btn">Репост</span>
                {% if can_copy_item %}
                  &nbsp;
                  <span id="toggle_case_item_copy" class="pointer" data-flag="create_copy_btn">Копия</span>
                {% endif %}
              </h6>
            </div>
            <div class="card-body">
              {% include 'desctop/generic/repost/user_choice.html' %}
              {% include 'desctop/generic/repost/form.html' %}
            </div>
            <div class="card-footer">
                <button class="btn border item_fullscreen_hide">Отмена</button>
                <button type="button" class="btn btn-success float-right" id="create_repost_btn" data-pk="{{ object.pk }}">Поделиться</button>
            </div>
    </form>
