{% load staticfiles %}
<form id="user_suspend_form" method="post">
  {% csrf_token %}

<div class="row justify-content-center">
  <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-2 col-md-4">
              <a href="{% url 'user' pk=user.pk %}" class="ajax">
                {% if user.get_avatar %}
                  <img style="width:100%;height:auto" src="{{ user.get_avatar }}" alt="">
                {% else %}
                  <svg fill="currentColor" class="svg_default" style="width:100%;height:auto" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                {% endif %}
              </a>
            </div>
            <div class="col-lg-10 col-md-8">
              <a href="{% url 'user' pk=user.pk %}" class="ajax">
                  <h6 class="my-0 mt-1">{{ user.get_full_name }}</h6>
              </a>
              <p style="padding-top:10px;">Вы собираетесь приостановить страницу этого пользователя.</p>
            </div>
        </div>
        <div class="form-group">
          <label>Выберите время санкции</label>
          <select class="form-control" name="number">
              <option value="1">Заморозить на 6 часов</option>
              <option value="2">Заморозить на 3 дня</option>
              <option value="3">Заморозить на 7 дней</option>
              <option value="4">Заморозить на 30 дней</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <textarea name="description" class="form-control bg-light-secondary border-0" rows="2" placeholder="Опишите причину заморозки аккаунта"></textarea>
        </div>
        <br>
    </div>
    <div class="card-footer">
        <button class="btn btn-success float-right create_user_suspend_btn">Применить</button>
    </div>
  </div>
</div>
</form>
