{% load staticfiles %}
<form id="user_claim_form" method="post">
  {% csrf_token %}

<div class="row justify-content-center">
  <div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-2 col-md-4">
              <a href="{% url 'user' pk=user.pk %}" class="ajax">
                {% if user.get_avatar %}
                  <img style="width:100%;height:auto" src="{{ user.get_avatar }}" alt="">
                {% else %}
                  <svg fill="currentColor" class="svg_default" style="width:100%;height:auto" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                {% endif %}
              </a>
            </div>
            <div class="col-lg-10 col-md-8">
              <a href="{% url 'user' pk=user.pk %}" class="ajax">
                  <h6 class="my-0 mt-1">{{ user.get_full_name }}</h6>
              </a>
              <p style="padding-top:10px;">Вы собираетесь пожаловаться на этого пользователя.</p>
            </div>
        </div>
        <div class="form-group">
          <label>Выберите причину жалобы</label>
          <select class="form-control" name="type">
              <option value="P">Порнография</option>
              <option value="NC">Для взрослых</option>
              <option value="S">Рассылка спама</option>
              <option value="B">Оскорбительное поведение</option>
              <option value="U">Неэтичное поведение</option>
              <option value="F">Мошенничество</option>
              <option value="K">Клон моей страницы</option>
              <option value="OP">Моя старая страница</option>
              <option value="D">Наркотики</option>
              <option value="NM">Не нравственный контент</option>
              <option value="RH">Риторика ненависти</option>
          </select>
        </div>
        <br>
        <div class="form-group">
          <textarea name="description" class="form-control bg-light-secondary border-0" rows="4" placeholder="Опишите причину заморозки аккаунта"></textarea>
        </div>
        <br>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-success float-right create_user_claim_btn">Применить заморозку</button>
    </div>
  </div>
</div>
</form>
