<div class="row overflow-x-auto no-gutters">
  <div class="col-12">
  <ul class="date-list first_post_list" style="width:max-content">
    {% for object in post_lists %}
        {% if object.community %}
        <li class="date pointer post_list_change community list u_list {% if forloop.first %}tab_active{% endif %}" list-pk="{{ object.pk }}" data-pk="{{ object.pk }}">
          <div class="media">
            <div class="media-body">
              <h6 class="mb-0 list_name">{{ object.name }} (<span class="handle">{{ object.count }}</span>) [id {{ object.get_order.list }}, pos {{ object.get_order.position }}]</h6>
            </div>
          </div>
        </li>
        {% else %}
          <li class="date pointer post_list_change list u_list {% if forloop.first %}tab_active{% endif %}" list-pk="{{ object.pk }}" data-pk="{{ object.pk }}">
            <div class="media">
              <div class="media-body">
                <h6 class="mb-0 list_name">{{ object.name }} (<span class="handle">{{ object.count }}</span>) [id {{ object.get_order.list }}, pos {{ object.get_order.position }}]</h6>
              </div>
            </div>
          </li>
        {% endif %}
    {% endfor %}
        <li class="date pointer u_add_post_list">
          <div class="media">
            <div class="media-body">
              <h6 class="mb-0">Создать список</h6>
            </div>
          </div>
        </li>
  </ul>
  </div>
</div>
