<span class="post_container">
{% if fix_list.count_fix_items > 1 %}
<div class="csslider infinity mt-5" id="slider1">
  <p style="left: 50%;position: absolute;top: -25px;transform: translate(-50%, -50%);">Особые записи</p>
  {% for object in fix_list.get_posts_ids %}
    <input type="radio" name="slides" {% if forloop.first %}checked="checked"{% endif %} id="s_{{ forloop.counter }}"/>
  {% endfor %}
  <ul>
    {% for object in fix_list.get_fix_items %}
    <li class="scrollable">
      {% include 'desctop/users/lenta/fix_post.html' %}
    </li>
    {% endfor %}
  </ul>
  <div class="arrows">
    {% for object in fix_list.get_posts_ids %}
      <label for="s_{{ forloop.counter }}"></label>
    {% endfor %}

    <label class="goto-first" for="s_1"></label>
    <label class="goto-last" for="s_{{ fix_list.count_fix_items }}"></label>
  </div>
</div>
{% elif fix_list.count_fix_items == 1 %}

{% for object in fix_list.get_fix_items %}
  {% include 'desctop/users/lenta/fix_post.html' %}
{% endfor %}

{% endif %}

<div class="row overflow-x-auto no-gutters">
  <div class="col-12">
  <ul class="date-list" style="width:max-content">
    {% for object in post_lists %}
      {% if object.is_main %}
      <li class="date tab_active list is_main_post_list" list-pk="{{ object.pk }}">
        <div class="media">
          <div class="media-body">
              <h6 class="mb-0">Записи ({{ object.count }})</h6>
          </div>
        </div>
      </li>
      {% else %}
        <li class="date pointer u_post_list_change list" list-pk="{{ object.pk }}">
          <div class="media">
            <div class="media-body">
              <h6 class="mb-0 list_name">{{ object.name }} ({{ object.count }})</h6>
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
        <li class="date pointer u_add_post_list">
          <div class="media">
            <div class="media-body">
              <h6 class="mb-0">Создать список</h6>
            </div>
          </div>
        </li>
  </ul>
  </div>
</div>

      <span class="list_pk" list-pk="{{ fix_list.pk }}">
        {% if list.is_list %}
        <span>
          <a class="u_edit_post_list pointer">изменить список</a>
            &nbsp;
          <a class="u_delete_post_list pointer">удалить список</a>
        </span>
        {% endif %}

        <span class="post_stream is_post_paginate">
          {% for object in object_list %}
            {% include 'desctop/posts/post_user/post.html' %}
          {% endfor %}
          {% if not object and not object_list %}
          <div class="card mb-3 items_empty centered">
            <div class="card-body">
            <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M22 13h-8v-2h8v2zm0-6h-8v2h8V7zm-8 10h8v-2h-8v2zm-2-8v6c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2zm-1.5 6l-2.25-3-1.75 2.26-1.25-1.51L3.5 15h7z"/></svg>
            </div>
            <h6 style="margin: 20px;">Пока записей нет...</h6>
          </div>
          {% endif %}
        </span>
    </span>
</span>
