<div class="row overflow-x-auto no-gutters pb-2">
  <div class="col-12">
  <ul class="date-list drag_list border-top" style="width:max-content">
    {% for object in post_lists %}
        {% if object.community %}
        <li class="date pointer pag _post_list post_list_change community list u_list {% if forloop.first %}active{% endif %}" list-pk="{{ object.pk }}" data-pk="{{ object.pk }}">
          <div class="media">
            <a href="{% url 'community_detail' pk=object.community.pk %}" class="ajax">
              <figure>{{ object.community.get_s_avatar|safe }}</figure>
            </a>
            <div class="media-body">
              <h6 class="my-0 mt-1"><span class="list_name">{{ object.name }}</span> (<span class="handle">{{ object.count }}</span>)</h6>
            </div>
          </div>
        </li>
        {% else %}
          <li class="date pointer pag _post_list post_list_change list u_list {% if forloop.first %}active{% endif %}" list-pk="{{ object.pk }}" data-pk="{{ object.pk }}">
            <div class="media">
              <a href="{% url 'user' pk=object.creator.pk %}" class="ajax">
                <figure>{{ object.creator.get_s_avatar|safe }}</figure>
              </a>
              <div class="media-body">
                <h6 class="my-0 mt-1"><span class="list_name">{{ object.name }}</span> (<span class="handle">{{ object.count }}</span>)</h6>
              </div>
            </div>
          </li>
        {% endif %}
    {% endfor %}
        <li class="date pointer u_add_post_list">
          <div class="media">
            <svg class="svg_default svg_default_30" fill="currentColor" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
          </div>
        </li>
  </ul>
  </div>
</div>
