{% extends "base_anon_mobile.html" %}
{% block title %}Музыка {{ user.get_full_name_genitive }}{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/users/{{ user.pk }}/music/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Музыка {{ user.get_full_name_genitive }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ user.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="container main-container pk_saver mt-3" data-pk="{{ user.pk }}" data-type="user_music">
  {% if count_lists > 1 %}
    {% include 'mobile/users/music/main_list/lists.html' %}
  {% endif %}
  <span class="load_block">

  <div class="media mt-3 uuid_saver" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
    <h5 class="mt-1">
      {{ list.name }} ({{ list.count_items }})
      <span class="pointer badge badge-light-primary copy_link">Копировать ссылку</span>
    </h5>
  </div>
          <div class="card mb-2">
              <div class="card-body">
                {% if object_list %}
                    <ul data-pk="{{ list.pk }}" class="is_paginate">
                      {% for object in object_list %}
                        {% include 'mobile/users/music/anon_track.html' %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <div class="load centered m-1 next_page_list" data-link="{% url 'user_music' pk=user.pk %}?page={{ page_obj.next_page_number }}">
                          <img src="/static/images/preloader.gif">
                      </div>
                      {% endif %}
                    </ul>

                {% else %}
                <div class="card centered">
                  <div class="card-body" style="margin-top: 10%;">
                  <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'><path fill='none' d='M0 0h24v24H0z'/><path d='M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z'/></svg>
                  </div>
                  <h6 style="margin: 20px;text-align: center;">В основном плейлисте пока нет музыки.</h6>
                </div>
                {% endif %}
              </div>
          </div>
      </span>
    </div>
{% endblock %}
