{% extends "base.html" %}

{% block title %}Настройки основных уведомлений{% endblock %}
{% block content %}

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-md-9">
            <form id="user_notifications_form" action="" method="post" class="contact-form">
                {% csrf_token %}
                <div class="card mb-3">
                    <div class="card-header border-bottom">
                        <h5 class="content-color-primary mb-0">Настройки уведомлений</h5>
                    </div>
                    <div class="card-body">
                        <p class="content-color-primary page-sub-title-small mt-2">
                            Заявки в друзья
                            <input type="checkbox" {% if notify_settings.connection_request %} checked {% endif %} name="connection_request" id="id_connection_request" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_connection_request" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                            Подтверждение заявки в друзья
                            <input type="checkbox" {% if notify_settings.connection_confirmed %} checked {% endif %} name="connection_confirmed" id="id_connection_confirmed" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_connection_confirmed" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                            Приглашения в сообщества
                            <input type="checkbox" {% if notify_settings.community_invite %} checked {% endif %} name="community_invite" id="id_community_invite" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_community_invite" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                            Комментарии к записям
                            <input type="checkbox" {% if notify_settings.comment %} checked {% endif %} name="comment" id="id_comment" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_comment" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                            Ответы на комментарии
                            <input type="checkbox" {% if notify_settings.comment_reply %} checked {% endif %} name="comment_reply" id="id_comment_reply" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_comment_reply" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                            Репосты записей
                            <input type="checkbox" {% if notify_settings.repost %} checked {% endif %} name="repost" id="id_repost" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_repost_notifications" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                            Упоминания в записях
                            <input type="checkbox" {% if notify_settings.user_mention %} checked {% endif %} name="user_mention" id="id_user_mention" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_user_mention" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                            Упоминания в комменариях
                            <input type="checkbox" {% if notify_settings.comment_user_mention %} checked {% endif %} name="comment_user_mention" id="id_comment_user_mention" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_comment_user_mention" class="bg_success mb-2 border float-right"></label>
                        </p>

                        <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                            Лайки на записи
                            <input type="checkbox" {% if notify_settings.like %} checked {% endif %} name="like" id="id_like" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_like" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                            Дизайки на записи
                            <input type="checkbox" {% if notify_settings.dislike %} checked {% endif %} name="dislike" id="id_dislike" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_dislike" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                            Лайки на комментарии
                            <input type="checkbox" {% if notify_settings.comment_like %} checked {% endif %} name="comment_like" id="id_comment_like" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_comment_like" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                            Дизайки на комментарии
                            <input type="checkbox" {% if notify_settings.comment_dislike %} checked {% endif %} name="comment_dislike" id="id_comment_dislike" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_comment_dislike" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                            Лайки на ответы
                            <input type="checkbox" {% if notify_settings.comment_reply_like %} checked {% endif %} name="comment_reply_like" id="id_comment_reply_like" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_comment_reply_like" class="bg_success mb-2 border float-right"></label>
                        </p>
                        <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                            Дизайки на ответы
                            <input type="checkbox" {% if notify_settings.comment_reply_dislike %} checked {% endif %} name="comment_reply_dislike" id="id_comment_reply_dislike" class="switch switch-sm">
                            <label style="margin-right:12px;bottom: 5px;" for="id_comment_reply_dislike" class="bg_success mb-2 border float-right"></label>
                        </p>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="user_notifications_btn mb-2 btn btn-sm btn-success float-right">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>

        {% include 'settings/menu.html' %}

    </div>
</div>
{% endblock %}
