{% extends "base.html" %}
{% load humanize visitors thumbnail %}
{% block title %}Общая статистика{% endblock %}
{% block content %}

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-md-8">
          <br>
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Поиск фигурантов" aria-label="Recipient's username">
              <div class="input-group-append">
                  <button class="btn btn-outline-link" type="button">Искать</button>
              </div>
          </div>
          <div class="row">
          <div class="col-12 col-md-6">
            <div class="card">
              <div class="card-header">
                  <div class="media">
                      <div class="media-body"><h5 class="mt-1">Мои гости ({{ request.user.all_user_unical_visits_count }} / {{ request.user.all_user_visits_count }})</h5></div>
                  </div>
              </div>
              <div class="card-body px-0 py-0">
                <ul class="list-group" id="follows_container">
                      {% for object in request.user.get_visiter_users %}
                      <li class="list-group-item">
                          <div class="media">
                            <a href="{% url 'user' pk=object.pk %}" class="ajax">
                              <figure>
                                {% if object.get_avatar %}
                                  <img src="{{ object.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius:50px;width:50px;" alt="image">
                                {% else %}
                                  <svg fill="currentColor" class="svg_default svg_default_50" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                {% endif %}
                              </figure>
                            </a>
                            <div class="media-body">
                                <a href="{% url 'user' pk=object.pk %}" class="ajax">
                                    <h6 class="my-0 mt-1">{{ object.get_full_name }} ({{ object|count_views_user:request.user.pk }})</h6>
                                </a>
                                <a href="" class="small">{{ object.get_last_location }}</a>
                            </div>
                          </div>
                      </li>
                      {% endfor %}
                  </ul>
              </div>
            </div>
            </div>
            <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="media">
                        <div class="media-body"><h5 class="mt-1">я смотрел ({{ request.user.all_unical_target_count_user }} / {{ request.user.all_target_user_count }})</h5></div>
                    </div>
                </div>

                <div class="card-body px-0 py-0">
                  <ul class="list-group" id="follows_container">
                        {% for object in request.user.get_target_users %}
                        <li class="list-group-item">
                            <div class="media">
                              <a href="{% url 'user' pk=object.pk %}" class="ajax">
                                <figure>
                                  {% if object.get_avatar %}
                                    <img src="{{ object.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius:50px;width:50px;" alt="image">
                                  {% else %}
                                    <svg fill="currentColor" class="svg_default svg_default_50" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                                  {% endif %}
                                </figure>
                              </a>
                              <div class="media-body">
                                  <a href="{% url 'user' pk=object.pk %}" class="ajax">
                                      <h6 class="my-0 mt-1">{{ object.get_full_name }} ({{ request.user|count_views_user:object.pk }})</h6>
                                  </a>
                                  <a href="" class="small"> {{ object.get_last_location }} </a>
                              </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 left_menu">
          <button class="mb-2 box-shadow mr-2 btn btn-link text-light text-dark collapsed" style="display: block" type="button" data-toggle="collapse" data-target="#userSettings" aria-expanded="false" aria-controls="collapseExample">
              Общее
          </button>
          <div class="collapse" id="userSettings">
            <div class="card card-body" style="display: contents;">
              <ul class="list-group">
                <li><a href="{% url 'user_general_form' request.user.pk %}" class="ajax" data-html="#ajax">Информации</a></li>
                <li><a href="{% url 'user_about_form' request.user.pk %}" class="ajax" data-html="#ajax">Обо мне</a></li>
                <li><a href="{% url 'user_design' request.user.id %}" class="ajax" data-html="#ajax">Внешний вид</a></li>
              </ul>
            </div>
          </div>

          <button class="mb-2 box-shadow mr-2 btn btn-link text-light text-dark collapsed" style="display: block;margin-top: 20px;" type="button" data-toggle="collapse" data-target="#userPrivate" aria-expanded="false" aria-controls="collapseExample">
              Приватность
          </button>
          <div class="collapse" id="userPrivate">
            <div class="card card-body" style="display: contents;">
              <ul class="list-group">
                <li><a href="{% url 'user_settings_private' request.user.pk %}" class="ajax" data-html="#ajax">Записи</a></li>
                <li><a href="" class="ajax" data-html="#ajax">Фотографии</a></li>
                <li><a href="" class="ajax" data-html="#ajax">Товары</a></li>
                <li><a href="" class="ajax" data-html="#ajax">Музыка</a></li>
                <li><a href="" class="ajax" data-html="#ajax">Видео</a></li>
              </ul>
            </div>
          </div>

          <button class="mb-2 box-shadow mr-2 btn btn-link text-light text-dark collapsed" style="display: block;margin-top: 20px;" type="button" data-toggle="collapse" data-target="#userNotify" aria-expanded="false" aria-controls="collapseExample">
              Уведомления
          </button>
          <div class="collapse" id="userNotify">
            <div class="card card-body" style="display: contents;">
              <ul class="list-group">
                <li><a href="{% url 'user_settings_notify' request.user.pk %}" class="ajax" data-html="#ajax">Записи</a></li>
                <li><a href="" class="ajax" data-html="#ajax">Фотографии</a></li>
                <li><a href="" class="ajax" data-html="#ajax">Товары</a></li>
                <li><a href="" class="ajax" data-html="#ajax">Музыка</a></li>
                <li><a href="" class="ajax" data-html="#ajax">Видео</a></li>
              </ul>
            </div>
          </div>

          <button class="mb-2 box-shadow mr-2 btn btn-link text-light text-dark collapsed" style="display: block;margin-top: 20px;" type="button" data-toggle="collapse" data-target="#userStat" aria-expanded="false" aria-controls="collapseExample">
              Статистика
          </button>
          <div class="collapse show" id="userStat">
            <div class="card card-body" style="display: contents;">
              <ul class="list-group">
                <li><a href="{% url 'user_stat_coverage' request.user.pk %}" class="ajax" data-html="#ajax">Общая</a></li>
              </ul>
            </div>
          </div>
        </div>

    </div>
</div>
{% endblock %}
