{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Изменение профиля - внешний вид{% endblock %}
{% block content %}
<div class="container mt-4 main-container">
  <div class="row">
        <div class="col-lg-7 col-md-8 col-sm-12 order-1">
          <div class="card mb-4">
                <div class="card-header border-bottom">
                    <h5 class="content-color-primary mb-0">Внешний вид</h5>
                </div>
                <div class="card-body">
                <p class="content-color-primary page-sub-title-small mt-2">
                  <span class="icon-circle mr-2">
                    <svg fill="currentColor" class="svg_default" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M6.76 4.84l-1.8-1.79-1.41 1.41 1.79 1.79 1.42-1.41zM4 10.5H1v2h3v-2zm9-9.95h-2V3.5h2V.55zm7.45 3.91l-1.41-1.41-1.79 1.79 1.41 1.41 1.79-1.79zm-3.21 13.7l1.79 1.8 1.41-1.41-1.8-1.79-1.4 1.4zM20 10.5v2h3v-2h-3zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm-1 16.95h2V19.5h-2v2.95zm-7.45-3.91l1.41 1.41 1.79-1.8-1.41-1.41-1.79 1.8z"/></svg>
                  </span>
                  Ночной режим
                    <input type="checkbox" id="darktheme" class="switch switch-sm">
                    <label style="margin-right:12px" for="darktheme" class="bg-dark mb-2 border float-right"></label>
                </p>

                <p class="content-color-primary page-sub-title-small mt-2">
                  <span class="icon-circle mr-2">
                    <svg fill="currentColor" class="svg_default" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 3c-4.97 0-9 4.03-9 9s4.03 9 9 9c.83 0 1.5-.67 1.5-1.5 0-.39-.15-.74-.39-1.01-.23-.26-.38-.61-.38-.99 0-.83.67-1.5 1.5-1.5H16c2.76 0 5-2.24 5-5 0-4.42-4.03-8-9-8zm-5.5 9c-.83 0-1.5-.67-1.5-1.5S5.67 9 6.5 9 8 9.67 8 10.5 7.33 12 6.5 12zm3-4C8.67 8 8 7.33 8 6.5S8.67 5 9.5 5s1.5.67 1.5 1.5S10.33 8 9.5 8zm5 0c-.83 0-1.5-.67-1.5-1.5S13.67 5 14.5 5s1.5.67 1.5 1.5S15.33 8 14.5 8zm3 4c-.83 0-1.5-.67-1.5-1.5S16.67 9 17.5 9s1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>

                  </span>
                  Цвет фона
                </p>
                <div class="row">
                <ul class="list-group list-group-flush w-100">
                    <li class="list-group-item">
                        <div class="theme-color">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage1" name="style-sheet-color-2" class="custom-control-input" checked="">
                                <label class="custom-control-label bg-white" for="customRadioonpage1" data-title="style"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage2" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label dark-blue" for="customRadioonpage2" data-title="dark-blue"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage3" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label dark-purple" for="customRadioonpage3" data-title="dark-purple"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage4" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label dark-maroon" for="customRadioonpage4" data-title="dark-maroon"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage5" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label dark-grey" for="customRadioonpage5" data-title="dark-grey"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage6" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label dark-pink" for="customRadioonpage6" data-title="dark-pink"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage7" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label dark-brown" for="customRadioonpage7" data-title="dark-brown"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage8" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label dark-green" for="customRadioonpage8" data-title="dark-green"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage1mat" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label red" for="customRadioonpage1mat" data-title="red"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage2mat" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label purple" for="customRadioonpage2mat" data-title="purple"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage4mat" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label blue" for="customRadioonpage4mat" data-title="blue"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage6mat" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label skyblue" for="customRadioonpage6mat" data-title="skyblue"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage5mat" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label teal" for="customRadioonpage5mat" data-title="teal"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage7mat" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label orange" for="customRadioonpage7mat" data-title="orange"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage3mat" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label brown" for="customRadioonpage3mat" data-title="brown"></label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadioonpage8mat" name="style-sheet-color-2" class="custom-control-input">
                                <label class="custom-control-label grey" for="customRadioonpage8mat" data-title="grey"></label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12 order-2">
          <ul style="list-style-type:none">
            <li style="margin-bottom:8px;"><a href="{% url 'user_general_form' user.pk %}" class="ajax" data-html="#ajax">Мои контакты</a></li>
            <li style="margin-bottom:8px;"><a href="{% url 'user_about_form' user.pk %}" class="ajax" data-html="#ajax">Обо мне</a></li>
            <li style="margin-bottom:8px;"><a href="{% url 'user_design' user.id %}" class="ajax" data-html="#ajax">Внешний вид</a></li>
          </ul>
        </div>

      </div>
  </div>

{% endblock %}
