{% load get_key %}

<div class="container mt-3" data-pk="{{ community.pk }}" data-uuid="{{ list.uuid }}">
  <div class="row no-gutters">
    <div class="col">
      <a class="btn btn-sm border this_mob_fullscreen_hide" style="width: -webkit-fill-available;">
        <svg fill="currentColor" class="svg_default" style="width: 17px;" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
    </div>
  </div>

  {% if not list.is_deleted %}
  <div class="card mb-2" style="flex-basis: 95%;">
      <div class="card-body" style="padding: 10px;padding-bottom: 0;">
        <div style="display:flex">
          <figure><svg fill="currentColor" class="svg_default border" style="width:60px;height:88px;" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"></path></svg></figure>
          <div class="media-body" style="margin-left: 10px;">
            <h6 class="my-0 mt-1"><a class="ajax" href="{% url 'community_video_list' pk=list.community.pk uuid=list.uuid %}">{{ list.name }}</a></h6>
            <p class="">Список видео - <a class="underline ajax" href="{{ list.community.get_link }}">{{ list.community.name }}</a></p>
            <p class="">Видеороликов: {{ list.get_video_count }}</p>
          </div>
        </div>
      </div>
    </div>
          <div class="card mb-2">
              <div class="card-body">
                {% if object_list %}
                    <ul class="is_load_paginate is_stat_list" data-type="community_video_list" data-pk="{{ list.pk }}">
                      {% for object in object_list %}
                        {% include 'mobile/communities/video/video.html' %}
                      {% endfor %}
                    </ul>

                {% else %}
                <div class="card items_empty centered">
                  <div class="card-body" style="margin-top: 10%;">
                  <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'>
                    <path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/>
                  </svg>
                  </div>
                  <h6 style="margin: 20px;text-align: center;">В списке пока нет видео. <a href="" class="ajax underline">Перейдите в видео каталог</a> и выбирайте из сотен тысяч роликов</h6>
                </div>
                {% endif %}
              </div>
          </div>

          {% else %}
          <div class="card centered" style="">
            <div class="card-body" style="margin-top: 10%;">
            <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'><path d="M0 0h24v24H0z" fill="none"/><path d="M4.27 3L3 4.27l9 9v.28c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4v-1.73L19.73 21 21 19.73 4.27 3zM14 7h4V3h-6v5.18l2 2z"/></svg>
            </div>
            <h6 style="margin: 20px;text-align: center;">Список удален. </h6>
          </div>
          {% endif %}
    </div>
