{% extends "base.html" %}
{% load staticfiles humanize %}
{% block title %}{{ community.name }} - Вы избранный подписчик!{% endblock %}
{% block content %}

{% if community.cover %}
<div class="container-fluid">
    <div class="row align-items-center has-background-img" style="min-height: 150px">
        <figure class="background-img">
            <img src="{{ community.cover.url }}" alt="" class="" style="min-height:inherit;opacity: 1">
        </figure>
    </div>
</div>
{% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="container main-container py-4">
            <div class="row align-items-center">
                <div class="col-12 col-xs-12 col-md-9">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="mb-2">{{ community.name }}</h3>
                            {% if community.status %}<p class="">{{ community.status }}</p>{% endif %}
                            <br><br>
                            Вы избранный подписчик
                            <ul class="list-group list-group-flush w-100">
                                <li class="list-group-item px-0">
                                    <div class="media experience">
                                        <div class="icon-circle icon-40 bg-light-secondary mr-3">
                                            <img style="width:22px;" src="{% static 'images/icons/chat-24px.svg' %}" />
                                        </div>
                                        <div class="media-body">
                                            <h6 class="my-0 content-color-primary">Описание</h6>
                                            <p>{% if community.description %}{{ community.description }}{% else %}Нет описания сообщества{% endif %}</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item px-0">
                                    <div class="media experience">
                                        <div class="icon-circle icon-40 bg-light-secondary mr-3">
                                            <img style="width:22px;" src="{% static 'images/icons/chat-24px.svg' %}" />
                                        </div>
                                        <div class="media-body">
                                            <h6 class="my-0 content-color-primary">Правила</h6>
                                            <p>{% if community.rules %}{{ community.rules }}{% else %}Нет правил сообщетсва{% endif %}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xs-12 col-md-3">
                    {% if community.get_avatar %}
                      <img src="{{ community.get_avatar.file.url }}" alt="" style="width:100%" class="rounded box-shadow-large">
                    {% else %}
                      <img src="{% static 'images/icons/group-24px.svg' %}" style="width:100%" alt="" class="rounded box-shadow-large">
                    {% endif %}
                    <br><br>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Вы подписаны
                        </button>
                        <div class="dropdown-menu" x-placement="bottom-start">
                            <span style="cursor:pointer" data-id="{{ community.pk }}" class="dropdown-item member_delete" href="">Отписаться</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 main-container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">

            {% include 'detail_sections/new_post.html' %}

            <div id="lenta_load"></div>

        </div>
        <div class="col-12 col-md-12 col-lg-4">

            {% include 'detail_sections/frends_member.html' %}

            {% include 'detail_sections/membersheeps.html' %}

        </div>

    </div>
</div>

<script>
    $(document).ready(function() {
        $('#lenta_load').html('').load("/communities/list/" + {{ community.pk }});
    });
</script>

<script defer src="{% static 'scripts/community.js' %}" type="text/javascript"></script>

{% endblock %}
