
{% if common_friends %}
<div class="card mb-3" style="">
    <div class="card-header">
        <div class="media">
          <a href="{% url 'community_friends' pk=community.pk %}" class="ajax">
            <div class="media-body">
                <h4 class="content-color-primary mb-0">Друзья в группе  </h4>
            </div>
          </a>
        </div>
    </div>

    {% for object in common_friends %}
    <div class="card border-top">
      <div class="card-body" style="padding:7px;">
        {% include 'mobile/generic/user/card_send_message.html' %}
      </div>
    </div>
    {% endfor %}
</div>
{% endif %}
