
{% if membersheeps %}
<div class="card mb-3">
    <div class="card-body py-2">
        <div class="media">
            <div class="media-body">
              <a href="{% url 'community_members' pk=community.pk %}" class="ajax">
                <h6 class="my-0 text-truncated">{{ community.count_members_ru }}</h6>
              </a>
              <a href="{% url 'community_friends' pk=community.pk %}" class="ajax">
                <p class="small">{{ community.common_friends_count }}</p>
              </a>
            </div>
            {% for object in membersheeps %}
              <figure style="width:50px;border-radius:50px;" class="avatar-50 staked">
                <a href="{% url 'user' pk=object.pk %}" class="ajax">
                  {% if object.get_avatar %}
                    <img src="{{ object.get_avatar }}" style="border-radius:50px;" alt="image">
                  {% else %}
                    <img src="/static/images/no_img/user.jpg" style="border-radius:50px;" alt="image">
                  {% endif %}
                </a>
              </figure>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
