{% load liked_user %}

<span class="photo_stream_comments comments_block_container">
  {% for comment in object_list %}
    {% if comment.is_deleted %}
      <div class="comment border-bottom">
        <p style="text-decoration:underline;display: flex; padding-left:10px;margin: 0;">Комментарий удален</p>
        <span style="cursor:pointer;" class="show_replies content-color-primary">
            {% if comment.count_replies %}
            ---- {{ comment.count_replies_ru }} ----
            {% endif %}
        </span>
        <span class="stream_reply_comments">
            {% for reply in comment.get_replies %}
              {% include 'c_photo_comment/anon_reply.html' %}
            {% endfor %}
        </span>
      </div>
    {% else %}
      {% include 'c_photo_comment/anon_parent.html' %}
    {% endif %}
  {% endfor %}
</span>
