<div class="card mb-3 pag border {% if forloop.last %}last{% endif %}">
  <div class="card-header" style="padding-bottom: 0;">
      <div class="media">
        {% include 'mobile/generic/user/creator_figure.html' %}
          <div class="media-body">
              <p class="mb-0">
                {% include 'mobile/generic/user/creator.html' %}
              </p>
              <p class="mb-0 small">{{ object.get_created }}</p>
          </div>
      </div>
  </div>
  {{ object.get_svg|safe }}
</div>
