<div class="nav flex-column nav-pills faqnav">
  <a href="/search/?s=all&q={{ q }}">Все</a>
  <a class="/search/?s=people&q={{ q }}" href="/main/featured/">Люди</a>
  <a class="/search/?s=news&q={{ q }}" href="/main/like/">Новости</a>
  <a class="/search/?s=communities&q={{ q }}" href="/main/dislike/">Сообщества</a>
  <a class="/search/?s=music&q={{ q }}" href="/main/comments/">Музыка</a>
  <a class="/search/?s=video&q={{ q }}" href="/main/comments/">Видео</a>
  <a class="/search/?s=goods&q={{ q }}" href="/main/comments/">Товары</a>
</div>
