{% if object_list %}
<div class="card">
  <div class="card-header">
    <div class="media border-bottom">
      <div class="media-body">
        <h6 class="content-color-primary mb-0">Люди </h6>
      </div>
      {{ users_count }}
    </div>
  </div>
</div>
  <div class="is_paginate" style="padding:7px;">
      {% for user in object_list %}
      <div class="media mb-2">
        <a href="{{ user.get_link }}" class="ajax">
          <figure style="width:50px;">
            {% if user.s_avatar %}
              <img src="{{ user.s_avatar.url }}" style="border-radius:50px;" alt="image">
            {% else %}
              <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"/></svg>
            {% endif %}
          </figure>
        </a>
        <div class="media-body">
          <h6 class="mb-0" style="padding-top: 2px;">
            <a href="{{ user.get_link }}" class="ajax">{{ user.get_full_name }}</a>
          </h6>
          {% if user.pk != request.user.pk %}
            <a class="small user_send_page_message pointer" data-pk="{{ user.pk }}">Написать сообщение</a>
          {% else %}
            <span class="small">Это Вы</span>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      {% if page_obj.has_next %}
      <div class="load centered m-1 next_page_list" data-link="/search/?s={{section}}&q={{q}}&page={{ page_obj.next_page_number }}">
          <img src="/static/images/preloader.gif">
      </div>
      {% endif %}
  </div>
  {% else %}
  <div class="card centered">
    <div class="card-body">
    <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"/></svg>
    </div>
    <h6 style="margin: 20px;text-align: center;"> Пользователей не найдено...</h6>
  </div>
  {% endif %}
