{% if object_list %}
<div class="card">
  <div class="card-header">
    <div class="media border-bottom">
      <div class="media-body">
        <h6 class="content-color-primary mb-0">Видеозаписи </h6>
      </div>
      {{ videos_count }}
    </div>
  </div>
</div>
  <div class="row is_paginate" style="padding:7px;">
        {% for object in object_list %}
          {% include 'desctop/users/video/main_list/video.html' %}
        {% endfor %}
        {% if page_obj.has_next %}
        <div class="load centered m-1 next_page_list" data-link="/search/?s={{section}}&q={{q}}&page={{ page_obj.next_page_number }}">
            <img src="/static/images/preloader.gif">
        </div>
        {% endif %}
  </div>
  {% else %}
  <div class="card centered">
    <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'>
      <path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/>
    </svg>
    <h6 style="margin: 20px;text-align: center;"> Новостей не найдено...</h6>
  </div>
  {% endif %}
