{% load staticfiles %}

<div class="card mb-4 fullscreen">
    <div class="card-header">
        <div class="media">
            <a class="btn btn-sm primary-gradient mr-2">Изменить</a>
            <a href="javascript:void(0);" class="icon-circle icon-30 content-color-secondary fullscreenbtn">
                <i class="material-icons ">crop_free</i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row align-items-center no-gutters">
            <a class="col">
              {% if user.profile.avatar %}
                <figure class="mx-auto mb-3">
                  <img src="{{ user.profile.avatar.url }}" alt="">
                </figure>
              {% else %}
                <figure class="mx-auto mb-3">
                  <img src="{% static 'images/user1.png' %}" alt="">
                </figure>
              {% endif %}
            </a>
        </div>
        <h5 class="card-title mb-2 header-color-primary text-center">{{ user.first_name }} {{ user.last_name }}</h5>
        <h6 class="card-subtitle mb-3 header-color-secondary text-center">г. {{ user.profile.sity }}</h6>
            <br>
            <br>
            <a class="btn btn-sm btn-success success-gradient">Добавить</a>
            <a class="btn btn-sm btn-warning warning-gradient ml-2">Написать сообщение</a>
        <br>
        <div class="row bg-light-secondary py-3">
            <div class="col text-center">
                <div class="media">
                    <div class="media-body">
                        <h4 class="content-color-primary mb-0">208</h4>
                        <p class="content-color-secondary mb-0">Подписчиков</p>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="media">
                    <div class="media-body">
                        <h4 class="content-color-primary mb-0">165</h4>
                        <p class="content-color-secondary mb-0">Друзей</p>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="media">
                    <div class="media-body">
                        <h4 class="content-color-primary mb-0">50</h4>
                        <p class="content-color-secondary mb-0">Постов</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
