{% load staticfiles %}
<style>
  .avatar_change {
    background: rgba(100, 100, 100, 0.5);
    position: fixed;
    display: none;
    z-index: 5000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  .avatar_change > div {
    max-width: 1000px;
    width: 70%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;
    background: #FFFFFF;
    padding: 30px;
    z-index: 5001;
    text-align: center;
    border: 2px solid #0AC4BC;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  }
  .hidden {
    display: none;
}
    .new_message {
      background: rgba(100, 100, 100, 0.5);
      position: fixed;
      display: none;
      z-index: 5000;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }
    .new_message > div {
      max-width: 500px;
      width: 70%;
      position: fixed;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      background: #FFFFFF;
      padding: 30px;
      z-index: 5001;
      text-align: center;
      border: 2px solid #0AC4BC;
      border-radius: 10px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
    }

.img-export {
    display: block;
}


</style>
<div class="card mb-4" style="">
    <div class="card-body">
        <div class="row align-items-center no-gutters">
            <a class="col">
              {% if user.profile.avatar %}
                <figure class="mx-auto mb-3">
                  <img src="{{ user.profile.avatar.url }}" alt="">
                </figure>
              {% else %}
                <figure class="mx-auto mb-3">
                  <img src="{% static 'images/user.png' %}" alt="">
                </figure>
              {% endif %}
            </a>
        </div>

        <span id="button_reload">
          {% include 'profile_button.html' %}
        </span>

        {% if user == request.user and request.user.is_authenticated %}

          <span style="display: flex;align-items: center;justify-content: center;">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Редактировать
                </button>
                <div class="dropdown-menu" x-placement="bottom-start">
                    <a class="dropdown-item" data-js="avatar_change" href="#">Аватар</a>
                    <a class="dropdown-item" class="ajax" href="{% url 'user_general_form' user.pk %}">Мои контакты</a>
                    <a class="dropdown-item" class="ajax" href="{% url 'user_about_form' user.pk %}">Обо мне</a>
                    <a class="dropdown-item" class="ajax" href="{% url 'user_design' user.pk %}">Внешний вид</a>
                </div>
            </div>
        </span>
        {% endif %}

    </div>
</div>
{% if user == request.user %}
<div class="avatar_change">
  <div>
	   <h2>
       {% if request.user.avatar %}
          Изменение аватара
       {% else %}
          Загрузите аватар
       {% endif %}
     </h2>
     <br>
    <form id="AVATAR-FORM" action="" method="post" enctype="multipart/form-data" class="contact-form">
      {% csrf_token %}
      <label class="img-upload-label">
        Загрузите фото:

      </label>
       <input type="file" name="avatar" id="id_avatar" class="js-fileinput img-upload" accept="image/jpeg,image/png,image/gif">
      <div style="width: 100%;height: 30em;max-height: 100%;">
          <canvas class="js-editorcanvas"></canvas>
          <canvas class="js-previewcanvas"></canvas>
          <button class="btn btn-sm btn-warning success-gradient ml-2 js-export img-export float-right" name="avatar_close">Выбрать</button>
      </div>
    </form>
</div>
</div>
{% endif %}

{% if user != request.user %}
<div class="new_message">
  <div>
	   <h2>
       Новое сообщение
     </h2>
     <br>
    <form id="MESSAGE-FORM" action="" method="post" enctype="multipart/form-data" class="contact-form">
      {% csrf_token %}

    </form>
</div>
</div>
{% endif %}

{% if request.user.is_authenticated %}
<script src="/static/scripts/cropper.min.js" type="text/javascript"></script>

<script>
  class Uploader {
    constructor(options) {
      if (!options.input) {
        throw '[Uploader] Missing input file element.';
      }
      this.fileInput = options.input;
      this.types = options.types || ['gif', 'jpg', 'jpeg', 'png'];
    }
    listen(resolve, reject) {
      this.fileInput.onchange = e => {
        e.preventDefault();
        if (!this.fileInput.files || this.fileInput.files.length !== 1) {
          reject('[Uploader:listen] Select only one file.');
        }
        let file = this.fileInput.files[0];
        let reader = new FileReader();
        // Make sure the file is of the correct type
        if (!this.validFileType(file.type)) {
          reject(`[Uploader:listen] Invalid file type: ${file.type}`);
        } else {
          reader.readAsDataURL(file);
          reader.onload = e => resolve(e.target.result);
        }
      };
    }
    /** @private */
    validFileType(filename) {
      let extension = filename.split('/').pop().toLowerCase();
      return this.types.includes(extension);
    }}
  function squareContains(square, coordinate) {
    return coordinate.x >= square.pos.x &&
    coordinate.x <= square.pos.x + square.size.x &&
    coordinate.y >= square.pos.y &&
    coordinate.y <= square.pos.y + square.size.y;
  }
  class Cropper {
    constructor(options) {
      if (!options.size) {throw 'Size field in options is required';}
      if (!options.canvas) {throw 'Could not find image canvas element.';}
      if (!options.preview) {throw 'Could not find preview canvas element.';}
      this.imageCanvas = options.canvas;
      this.previewCanvas = options.preview;
      this.c = this.imageCanvas.getContext("2d");
      this.limit = options.limit || 500; // default to 600px
      this.crop = {
        size: { x: options.size.width, y: options.size.height },
        pos: { x: 0, y: 0 },
        handleSize: 10 };
      this.previewCanvas.width = options.size.width;
      this.previewCanvas.height = options.size.height;
      this.boundDrag = this.drag.bind(this);
      this.boundClickStop = this.clickStop.bind(this);
      this.boundTouchtest = this.touchtest.bind(this);
    }
    setImageSource(source) {
      this.image = new Image();
      this.image.src = source;
      this.image.onload = e => {
        this.render();
        // Listen for events on the canvas when the image is ready
        this.imageCanvas.onmousedown = this.clickStart.bind(this);
        this.imageCanvas.ontouchmove = this.clickStart.bind(this);
      };
    }
    export(img) {
      img.setAttribute('src', this.previewCanvas.toDataURL());
    }
    /** @private */
    render() {
      this.c.clearRect(0, 0, this.imageCanvas.width, this.imageCanvas.height);
      this.displayImage();
      this.preview();
      this.drawCropWindow();
    }
    /** @private */
    clickStart(e) {
      const position = { x: e.offsetX, y: e.offsetY };
      this.lastEvent = {
        position: position,
        resizing: this.isResizing(position),
        moving: this.isMoving(position) };
      this.imageCanvas.addEventListener("touchmove", this.boundTouchtest);
      this.imageCanvas.addEventListener('mousemove', this.boundDrag);
      this.imageCanvas.addEventListener('mouseup', this.boundClickStop);
    }
    /** @private */
    clickStop(e) {
      this.imageCanvas.removeEventListener("mousemove", this.boundDrag);
      this.imageCanvas.removeEventListener("mouseup", this.boundClickStop);
    }
    isResizing(coord) {
      const size = this.crop.handleSize;
      const handle = {
        pos: {
          x: this.crop.pos.x + this.crop.size.x - size / 2,
          y: this.crop.pos.y + this.crop.size.y - size / 2 },
        size: { x: size, y: size } };
      return squareContains(handle, coord);
    }
    /** @private */
    isMoving(coord) {
      return squareContains(this.crop, coord);
    }
    touchtest(e) {
      const position = {
        x: e.targetTouches[0].pageX - e.target.getBoundingClientRect().left,
        y: e.targetTouches[0].pageY - e.target.getBoundingClientRect().top };
      const dx = position.x - this.lastEvent.position.x;
      const dy = position.y - this.lastEvent.position.y;
      if (this.lastEvent.resizing) {
        this.resize(dx, dy);
      } else if (this.lastEvent.moving) {
        this.move(dx, dy);
      }
      this.lastEvent.position = position;
      this.render();
    }
    /** @private */
    drag(e) {
      const position = {
        x: e.offsetX,
        y: e.offsetY };
      const dx = position.x - this.lastEvent.position.x;
      const dy = position.y - this.lastEvent.position.y;
      if (this.lastEvent.resizing) {
        this.resize(dx, dy);
      } else if (this.lastEvent.moving) {
        this.move(dx, dy);
      }
      this.lastEvent.position = position;
      this.render();
    }
    /** @private */
    resize(dx, dy) {
      let handle = {
        x: this.crop.pos.x + this.crop.size.x,
        y: this.crop.pos.y + this.crop.size.y };
      const amount = Math.abs(dx) > Math.abs(dy) ? dx : dy;
      if (this.inBounds(handle.x + amount, handle.y + amount)) {
        this.crop.size.x += amount;
        this.crop.size.y += amount;
      }
    }
    /** @private */
    move(dx, dy) {
      const tl = {
        x: this.crop.pos.x,
        y: this.crop.pos.y };
      const br = {
        x: this.crop.pos.x + this.crop.size.x,
        y: this.crop.pos.y + this.crop.size.y };
      if (this.inBounds(tl.x + dx, tl.y + dy) &&
      this.inBounds(br.x + dx, tl.y + dy) &&
      this.inBounds(br.x + dx, br.y + dy) &&
      this.inBounds(tl.x + dx, br.y + dy)) {
        this.crop.pos.x += dx;
        this.crop.pos.y += dy;
      }
    }
    /** @private */
    displayImage() {
      const ratio = this.limit / Math.max(this.image.width, this.image.height);
      this.image.width *= ratio;
      this.image.height *= ratio;
      this.imageCanvas.width = this.image.width;
      this.imageCanvas.height = this.image.height;
      this.c.drawImage(this.image, 0, 0, this.image.width, this.image.height);
    }
    /** @private */
    drawCropWindow() {
      const pos = this.crop.pos;
      const size = this.crop.size;
      const radius = this.crop.handleSize / 2;
      this.c.strokeStyle = 'blue';
      this.c.fillStyle = 'blue';
      this.c.strokeRect(pos.x, pos.y, size.x, size.y);
      const path = new Path2D();
      path.arc(pos.x + size.x, pos.y + size.y, radius, 0, Math.PI * 2, true);
      this.c.fill(path);
    }
    /** @private */
    preview() {
      const pos = this.crop.pos;
      const size = this.crop.size;
      const imageData = this.c.getImageData(pos.x, pos.y, size.x, size.y);
      if (!imageData) {
        return false;
      }
      const ctx = this.previewCanvas.getContext('2d');
      ctx.clearRect(0, 0, this.previewCanvas.width, this.previewCanvas.height);
      ctx.drawImage(this.imageCanvas,
      pos.x, pos.y,
      size.x, size.y,
      0, 0,
      this.previewCanvas.width, this.previewCanvas.height);
    }
    /** @private */
    inBounds(x, y) {
      return squareContains({
        pos: { x: 0, y: 0 },
        size: {
          x: this.imageCanvas.width,
          y: this.imageCanvas.height } },
      { x: x, y: y });
    }}
  function exceptionHandler(message) {
    console.log(message);
  }
  var dimensions = { width: 250, height: 250 };
  try {
    var uploader = new Uploader({
      input: document.querySelector('.js-fileinput'),
      types: ['gif', 'jpg', 'jpeg', 'png'] });
    var editor = new Cropper({
      size: dimensions,
      canvas: document.querySelector('.js-editorcanvas'),
      preview: document.querySelector('.js-previewcanvas') });
    if (uploader && editor) {
      uploader.listen(editor.setImageSource.bind(editor), error => {throw error;});
    }
    var img = document.createElement('img');
    $('#AVATAR-FORM').append(img);
    document.querySelector('.js-export').onclick = e => editor.export(img);
    var frm10 = $('#AVATAR-FORM');
    frm10.submit(function () {
        $.ajax({
            type: frm10.attr('method'),
            url: "{% url 'user_avatar_form' pk=request.user.pk %}",
            data: new FormData($('form')[0]),
            contentType: false,
            cache: false,
            processData:false,
            success: function (data) {
              console.log("Все ОК")
            },
            error: function(data) {
                console.log("Все не ОК")
            }
        });
        return false;
    });
  } catch (error) {
    exceptionHandler(error.message);
  }
  $('.left').on('click', function () {
    alert(editor.previewCanvas.width);
    editor.getContext("2d").move(10, 10);
  });
  $('.right').click(function (event) {
  });
  function myFunction(event) {
    var x = event.touches[0].clientX;
    var y = event.touches[0].clientY;
    document.getElementById("demo").innerHTML = x + ", " + y;
  }
</script>

{% endif %}
