{% load staticfiles %}

<div class="card mb-4 fullscreen">
    <div class="card-header">
        <div class="media">
            <div class="media-body">
                <h4 class="content-color-primary mb-0">Профиль </h4>
            </div>
            <button class="btn btn-sm primary-gradient mr-2">Изменить</button>
            <a href="javascript:void(0);" class="icon-circle icon-30 content-color-secondary fullscreenbtn">
                <i class="material-icons ">crop_free</i>
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="row align-items-center no-gutters">
            <div class="col-auto">
                <button class="btn btn-icon icon-circle icon-50 p-0">
                    <i class="material-icons">mail_outline</i>
                </button>
            </div>
            <a href="" class="col">
                <figure class="avatar avatar-120 mx-auto mb-3">
                    <img src="{% static 'images/user1.png' %}" alt="">
                </figure>
            </a>
            <div class="col-auto">
                <button class="btn btn-icon icon-circle icon-50 p-0">
                    <i class="material-icons">call</i>
                </button>
            </div>
        </div>
        <h5 class="card-title mb-2 header-color-primary text-center">Сергей Зубарев</h5>
        <h6 class="card-subtitle mb-3 header-color-secondary text-center">Микунь, Р.Коми</h6>
            <br>
            <br>
            <a class="btn btn-sm btn-success success-gradient">Добавить</a>
            <a class="btn btn-sm btn-warning warning-gradient ml-2">Подписаться</a>
        <br>
        <div class="row bg-light-secondary py-3">
            <div class="col text-center">
                <div class="media">
                    <div class="media-body">
                        <h4 class="content-color-primary mb-0">208</h4>
                        <p class="content-color-secondary mb-0">Подписчиков</p>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="media">
                    <div class="media-body">
                        <h4 class="content-color-primary mb-0">165</h4>
                        <p class="content-color-secondary mb-0">Друзей</p>
                    </div>
                </div>
            </div>
            <div class="col text-center">
                <div class="media">
                    <div class="media-body">
                        <h4 class="content-color-primary mb-0">50</h4>
                        <p class="content-color-secondary mb-0">Постов</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
