{% load staticfiles %}

<div class="media">
    <div class="media-body">
        <h4 class="content-color-primary mb-0">Группы </h4>
    </div>
    <a href="{% url 'communities' pk=user.pk %}" class="">
         все
    </a>
</div>
<br>

{% if communities %}
{% for object in communities %}
<div class="card mb-2">
    <div class="card-body">
        <div class="media">
            <figure style="width:50px;">
              {% if object.avatar %}
                <img src="{{ object.avatar.url }}" style="border-radius: 50px;" alt="image">
              {% else %}
                <img src="{% static 'images/user.png' %}" alt="image" style="border-radius: 50px;">
              {% endif %}
            </figure>
            <div class="media-body">
              <a href="{% url 'communities' pk=object.pk %}">
                <h6 class="my-0 mt-1">{{ object.name }}
                  <span class="status vm bg-success"></span>
                </h6>
              </a>
              {% if object.status %}
                <p class="small">{{ object.status }}</p>
              {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
