{% load staticfiles humanize %}
<div class="card mb-4" style="">
    <div class="card-header">
<div class="media">
    <div class="media-body">
        <h4 class="content-color-primary mb-0">Друзья </h4>
    </div>
    <a href="{% url 'frends' pk=user.pk %}" class="ajax">
         все
    </a>
</div>
</div>

{% for object in user.get_pop_connection %}

<div class="card mb-2">
    <div class="card-body">
        <div class="media">
          <figure style="width:50px;">
            {% if object.user.profile.avatar %}
              <img src="{{ object.user.profile.avatar.url }}" style="border-radius:50px;" alt="image">
            {% else %}
              <img src="{% static 'images/user.png' %}" alt="image" style="border-radius:50px;">
            {% endif %}
          </figure>
          <div class="media-body">
            <a href="{% url 'user' pk=object.user.pk %}" class="ajax">
              <h6 class="my-0 mt-1">{{ object.user.get_full_name }}</h6>
            </a>
            {% if object.user.get_online %}
              <p class="text-success">В сети</p>
            {% else %}
              <p class="small">Был(а) {{ object.user.last_activity|naturaltime }}</p>
            {% endif %}
          </div>
        </div>
    </div>
</div>
{% endfor %}
</div>

{% else %}
{% if user == request.user %}
<div class="card mb-4" style="">
    <div class="card-header">
<div class="media" style="display: flex;align-items: center;justify-content: center;">
  <a href="{% url 'all_users' %}" class="ajax">
    <div class="media-body">
        <h4 class="content-color-primary mb-0">Найдите друзей </h4>
    </div>
  </a>
</div>
</div>
</div>
{% endif %}
