{% load staticfiles %}

<div class="media">
    <div class="media-body">
        <h4 class="content-color-primary mb-0">Друзья </h4>
    </div>
    <a href="javascript:void(0);" class="">
        Показать всех
    </a>
</div>
<br>

{% for object in frends %}

<div class="card mb-2">
    <div class="card-body">
        <div class="media">
          {% if object.target_connection.target_user.profile.avatar %}
            <figure class="">
                <img src="{{ object.target_connection.target_user.profile.avatar.url }}" alt="image">
            </figure>
          {% else %}
            <figure class="avatar">
                <img src="{% static 'images/user.png' %}" alt="image">
            </figure>
          {% endif %}
            <div class="media-body">
              <a href="{% url 'user' pk=object.target_connection.target_user.pk %}">
                <h6 class="my-0 mt-1">{{ object.target_connection.target_user.first_name }} {{ object.target_connection.target_user.last_name }}
                  <span class="status vm bg-success"></span>
                </h6>
              </a>
              {% if object.target_connection.target_user.profile.sity %}
                <p class="small">{{ object.target_connection.target_user.profile.sity }}</p>
              {% else %}
                <p class="small">город не указан</p>
              {% endif %}
            </div>
            <button class="btn btn-link content-color-secondary"><i class="material-icons">chat</i></button>
        </div>
    </div>
</div>

{% endfor %}

{% for object in frends2 %}

<div class="card mb-2">
    <div class="card-body">
        <div class="media">
          {% if object.target_connection.user.profile.avatar %}
            <figure class="avatar avatar-50 mr-3">
                <img src="{{ object.target_connection.user.profile.avatar.url }}" alt="image">
            </figure>
          {% else %}
            <figure class="avatar avatar-50 mr-3">
                <img src="{% static 'images/user.png' %}" alt="image">
            </figure>
          {% endif %}
            <div class="media-body">
              <a href="{% url 'user' pk=object.target_connection.user.pk %}">
                <h6 class="my-0 mt-1">{{ object.target_connection.user.first_name }} {{ object.target_connection.user.last_name }}
                  <span class="status vm bg-success"></span>
                </h6>
              </a>
              {% if object.target_connection.target_user.profile.sity %}
                <p class="small">{{ object.target_connection.user.profile.sity }}</p>
              {% else %}
                <p class="small">город не указан</p>
              {% endif %}
            </div>
            <button class="btn btn-link content-color-secondary"><i class="material-icons">chat</i></button>
        </div>
    </div>
</div>

{% endfor %}
