{% load staticfiles %}

<div class="card mb-4">
    <div class="card-header">
        <div class="media">
            <div class="media-body">
                <h4 class="content-color-primary mb-0">Фото </h4>
            </div>
            <a href="javascript:void(0);" class="">
                смотреть все
            </a>
        </div>
    </div>
    <div class="card-body p-1">
        <div class="row no-gutters">
            <div class="col-12">

                <div class=" grid swipegallery" itemscope>
                    <figure class="grid-item mb-0" itemprop="associatedMedia" itemscope>
                        <a href="{% static 'images/news_small4.jpg' %}" class="swipebox" itemprop="contentUrl" data-size="300x300">
                            <img src="{% static 'images/news_small4.jpg' %}" alt="image" itemprop="thumbnail">
                        </a>
                    </figure>
                    <figure class="grid-item mb-0" itemprop="associatedMedia" itemscope>
                        <a href="{% static 'images/news_small1.jpg' %}" class="swipebox" itemprop="contentUrl" data-size="300x300">
                            <img src="{% static 'images/news_small1.jpg' %}" alt="image" itemprop="thumbnail">
                        </a>
                    </figure>
                    <figure class="grid-item mb-0" itemprop="associatedMedia" itemscope>
                        <a href="{% static 'images/news_small2.jpg' %}" class="swipebox" itemprop="contentUrl" data-size="300x300">
                            <img src="{% static 'images/news_small2.jpg' %}" alt="image" itemprop="thumbnail">
                        </a>
                    </figure>
                    <figure class="grid-item mb-0" itemprop="associatedMedia" itemscope>
                        <a href="{% static 'images/news_small3.jpg' %}" class="swipebox" itemprop="contentUrl" data-size="300x300">
                            <img src="{% static 'images/news_small3.jpg' %}" alt="image" itemprop="thumbnail">
                        </a>
                    </figure>
                    <figure class="grid-item mb-0" itemprop="associatedMedia" itemscope>
                        <a href="{% static 'images/news_small2.jpg' %}" class="swipebox" itemprop="contentUrl" data-size="300x300">
                            <img src="{% static 'images/news_small2.jpg' %}" alt="image" itemprop="thumbnail">
                        </a>
                    </figure>
                    <figure class="grid-item mb-0" itemprop="associatedMedia" itemscope>
                        <a href="{% static 'images/news_small3.jpg' %}" class="swipebox" itemprop="contentUrl" data-size="300x300">
                            <img src="{% static 'images/news_small3.jpg' %}" alt="image" itemprop="thumbnail">
                        </a>
                    </figure>
                </div>
            </div>
        </div>

    </div>
</div>
