{% load staticfiles %}
{% if albums %}

<div class="card mb-4" style="">
    <div class="card-header">
        <div class="media">
            <div class="media-body">
                <h4 class="content-color-primary mb-0">Фото </h4>
            </div>
            <a href="{% url 'gallery' pk=user.pk %}" class="">
                все
            </a>
        </div>
    </div>
    <div class="card-body p-1">
        <div class="row no-gutters">
            <div class="col-12">

                <div class=" grid swipegallery" itemscope>
                    <figure class="grid-item mb-0" itemprop="associatedMedia" itemscope>
                        <a href="{% static 'images/news_small4.jpg' %}" class="swipebox" itemprop="contentUrl" data-size="300x300">
                            <img src="{% static 'images/news_small4.jpg' %}" alt="image" itemprop="thumbnail">
                        </a>
                    </figure>
                    <figure class="grid-item mb-0" itemprop="associatedMedia" itemscope>
                        <a href="{% static 'images/news_small1.jpg' %}" class="swipebox" itemprop="contentUrl" data-size="300x300">
                            <img src="{% static 'images/news_small1.jpg' %}" alt="image" itemprop="thumbnail">
                        </a>
                    </figure>
                    <figure class="grid-item mb-0" itemprop="associatedMedia" itemscope>
                        <a href="{% static 'images/news_small2.jpg' %}" class="swipebox" itemprop="contentUrl" data-size="300x300">
                            <img src="{% static 'images/news_small2.jpg' %}" alt="image" itemprop="thumbnail">
                        </a>
                    </figure>
                    <figure class="grid-item mb-0" itemprop="associatedMedia" itemscope>
                        <a href="{% static 'images/news_small3.jpg' %}" class="swipebox" itemprop="contentUrl" data-size="300x300">
                            <img src="{% static 'images/news_small3.jpg' %}" alt="image" itemprop="thumbnail">
                        </a>
                    </figure>
                    <figure class="grid-item mb-0" itemprop="associatedMedia" itemscope>
                        <a href="{% static 'images/news_small2.jpg' %}" class="swipebox" itemprop="contentUrl" data-size="300x300">
                            <img src="{% static 'images/news_small2.jpg' %}" alt="image" itemprop="thumbnail">
                        </a>
                    </figure>
                    <figure class="grid-item mb-0" itemprop="associatedMedia" itemscope>
                        <a href="{% static 'images/news_small3.jpg' %}" class="swipebox" itemprop="contentUrl" data-size="300x300">
                            <img src="{% static 'images/news_small3.jpg' %}" alt="image" itemprop="thumbnail">
                        </a>
                    </figure>
                </div>
            </div>
        </div>

    </div>
</div>
{% else %}
{% if user == request.user %}
<div class="card mb-4" style="">
    <div class="card-header">
<div class="media" style="display: flex;align-items: center;justify-content: center;">
  <a href="{% url 'all_communities' %}" class="ajax">
    <div class="media-body">
        <h4 class="content-color-primary mb-0">Добавляйте фото</h4>
    </div>
  </a>
</div>
</div>
</div>
{% endif %}
{% endif %}
