{% load staticfiles humanize %}

{% if lenta %}

<div class="infinite-container">
  <div class="stream-update">
    <a href=""><span class="new-posts"></span> Загрузить новые записи</a>
  </div>

  <span class="stream">

    <div class="card mb-4 item_fullscreen" style="display:none">
      <div id="item_loader" style="margin-top:30px"></div>
    </div>

    {% if object.article %}
        {% include 'generic/article.html' with article=article %}
    {% endif %}

    {% if object.post %}
      {% include 'generic/post.html' with post=post  %}
    {% endif %}

    {% for object in lenta %}

      {% if object.article %}
          {% include 'generic/article.html' with article=article  %}
      {% endif %}

      {% if object.post %}
          {% include 'generic/post.html' with post=post  %}
      {% endif %}

    {% endfor %}

  </span>
</div>

<div class="load">
  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">
      <img src="{% static 'images/loading.gif' %}">
    </a>
  {% endif %}
</div>

{% else %}
<div class="card mb-4 fullscreen">
    <div class="card-header border-bottom">

    </div>
    <div class="card-body">
      <div class="media">
      <h6>  Пока ничего нет...</h6>
        <br><br>
      </div>
    </div>
</div>

{% endif %}
