{% load staticfiles humanize %}

{% if user == request.user %}
 <div class="card mb-4" style="border:1px solid rgba(0, 0, 0, 0.125);">
   <form action="" id="FORM-POST" method="post" enctype="multipart/form-data">
     {% csrf_token %}
     <div class="card-body p-0">
         <textarea name="text" id="id_text" class="id_text form-control bg-light-secondary border-0" rows="4" placeholder="Что у Вас нового?"></textarea>
     </div>
     <div class="card-footer border-top">
         <div class="row">
             <div class="col" style="display: flex;">
                 <a title="Статья"
                       class="btn btn-link btn-sm text-secondary"
                       id="article_add"
                       style="cursor:pointer">
                       <i class="material-icons">receipt</i>
                 </a>
                <div class="dropdown">
                 <a title="Изображение"
                       id="dropdown_image"
                       class="btn btn-link btn-sm text-secondary"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                       <i class="material-icons">camera_alt</i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-top" aria-labelledby="dropdown_image">
                    <a id="" style="cursor:pointer" class="dropdown-item">Загрузить изображение</a>
                    <a id="" style="cursor:pointer" class="dropdown-item">Мои изображения</a>
                    <a id="" style="cursor:pointer" class="dropdown-item">Использовать ссылку</a>
                  </div>
                </div>
               <div class="dropdown">
                 <a title="Еще"
                         class="btn btn-link btn-sm text-secondary"
                         id="dropdown_more"
                         data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false">
                         <i class="material-icons">attachment</i>
                 </a>
                 <div class="dropdown-menu dropdown-menu-top" aria-labelledby="dropdown_image">
                   <a id="" style="cursor:pointer" class="dropdown-item">Документ</a>
                   <a id="" style="cursor:pointer" class="dropdown-item">Товар</a>
                   <a id="" style="cursor:pointer" class="dropdown-item">Опрос</a>
                 </div>
               </div>
             </div>

             <div class="col-auto ">
                 <button type="submit" class="btn btn-rounded btn-sm pink-gradient text-uppercase pl-3">
                   <span class="text-hide-xs">Опубликовать</span>
                   <i class="material-icons">send</i>
                 </button>
             </div>
         </div>
     </div>
   </form>
 </div>
{% endif %}

{% if lenta %}

<div class="infinite-container">
  <div class="stream-update">
    <a href=""><span class="new-posts"></span> Загрузить новые записи</a>
  </div>

  <span class="stream">

    <div class="card mb-4 activefullscreen" style="display:none">
      <div id="item_loader" style="margin-top:30px"></div>
    </div>

    <div class="card mb-4 activefullscreen2" style="display:none">
      <div id="article_loader" style="margin-top:30px"></div>
    </div>

    {% if object.article %}
    <div class="card mb-4 infinite-item" article-id="{{ object.article.uuid }}">
        {% include 'generic/article.html' with article=article %}
    </div>
    {% endif %}
    {% if object.post %}
    <div class="card mb-4 infinite-item" post-id="{{ object.post.uuid }}" style="cursor:pointer">
      {% include 'generic/post.html' with post=post  %}
    </div>
    {% endif %}
    {% if object.good %}
      {% include 'generic/good.html' with good=good  %}
    {% endif %}


    {% for object in lenta %}
    {% if object.article %}
    <div class="card mb-4 infinite-item" article-id="{{ object.article.uuid }}">
        {% include 'generic/article.html' with article=article  %}
    </div>
    {% endif %}
    {% if object.post %}
    <div class="card mb-4 infinite-item" post-id="{{ object.post.uuid }}" style="cursor:pointer">
      {% include 'generic/post.html' with post=post  %}
    </div>
    {% endif %}
    {% if object.good %}
      {% include 'generic/good.html' with good=good  %}
    {% endif %}
    {% endfor %}

  </span>
</div>

<div class="load">
  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">
      <img src="{% static 'images/loading.gif' %}">
    </a>
  {% endif %}
</div>

{% else %}
<div class="card mb-4 fullscreen">
    <div class="card-header border-bottom">

    </div>
    <div class="card-body">
      <div class="media">
      <h6>  Пока ничего нет...</h6>
        <br><br>
      </div>
    </div>
</div>

{% endif %}
