{% load liked_user %}
{% if user.get_last_music %}
<div class="card mb-3 music_playlist" data-pk="{{ user.get_music_list_id }}">
    <div class="card-header">
      <a href="{% url 'user_music' pk=user.pk %}" class="ajax">
        <div class="media">
            <div class="media-body">
                <h4 class="content-color-primary mb-0">Аудиозаписи</h4>
            </div>
        </div>
      </a>
    </div>

    {% for object in user.get_last_music %}
    <div class="card border-top border-bottom">
        <div class="card-body">
            <div class="media" music-counter="{{ forloop.counter0 }}">
                <figure style="cursor:pointer">
                  <a class="music_list_item">
                    {% if object.artwork_url %}
                      <img style="width:50px;heigth:auto" src="{{ object.artwork_url }}" />
                    {% else %}
                      <svg fill="currentColor" style="width:50px;heigth:50px" class='svg_default' viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"/></svg>
                    {% endif %}
                  </a>
                </figure>
                <div class="media-body">
                    <h6 class="music_list_item" style="cursor:pointer"><a>{{ object.title }}</a></h6>
                    <a class="small ajax" href="{% url 'tag_all_music' pk=object.tag.pk %}">{{ object.tag }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}
