<div class="card border-top mb-3 mt-3">
    <div class="card-body">
      <a href="{% url 'user' pk=user.pk %}" class="ajax">
        <div class="media">
            <figure style="width:50px;">
              {% if user.get_avatar %}
                <img src="{{ user.get_avatar }}" style="border-radius:50px" alt="image">
              {% else %}
                <svg fill="currentColor" class="svg_default svg_default_30" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
              {% endif %}
            </figure>
          <div class="media-body">
              <h6 class="my-0 mt-1">{{ user.get_full_name }}</h6>
              <p class="small">Списки</p>
          </div>
        </div>
      </a>
    </div>
</div>
<div class="card mb-2 mt-3">
    <div class="card-header">
      <div class="media">
          <div class="media-body">
            <h5 class="mt-1">
              <a href="{% url 'all_users' %}" class="ajax">Найти друзей</a>
            </h5>
          </div>
      </div>
    </div>
</div>

{% if request.user.is_have_followers %}
<div class="card mb-2">
    <div class="card-header">
      <div class="media">
          <div class="media-body">
            <h5 class="mt-1">
              <a href="{% url 'follows' pk=request.user.pk %}" class="ajax">Подписчики</a>
            </h5>
          </div>
      </div>
    </div>
</div>
{% endif %}

{% if request.user.is_have_followings %}
<div class="card mb-2">
    <div class="card-header">
      <div class="media">
          <div class="media-body">
            <h5 class="mt-1">
              <a href="{% url 'followings' pk=request.user.pk %}" class="ajax">Мои заявки</a>
            </h5>
          </div>
      </div>
    </div>
</div>
{% endif %}

{% if request.user.is_have_blacklist %}
<div class="card mb-2">
    <div class="card-header">
      <div class="media">
          <div class="media-body">
            <h5 class="mt-1">
              <a href="{% url 'user_black_list' pk=request.user.pk %}" class="ajax">Черный список</a>
            </h5>
          </div>
      </div>
    </div>
</div>
{% endif %}
