{% load staticfiles %}

{% if user == request.user %}
<div class="card mb-4" style="border:1px solid rgba(0, 0, 0, 0.125);">
    <form action="" id="form_post" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body p-0">
            <textarea name="text" id="id_text" class="id_text form-control bg-light-secondary border-0" rows="2" placeholder="Что у Вас нового?"></textarea>
        </div>

        {% include 'item_user/form_footer.html' %}

    </form>
</div>

{% endif %}
