{% load staticfiles %}

{% if user == request.user %}
 <div class="card mb-4" style="border:1px solid rgba(0, 0, 0, 0.125);">
   <form action="" id="FORM-POST" method="post" enctype="multipart/form-data">
     {% csrf_token %}
     <div class="card-body p-0">
         <textarea name="text" id="id_text" class="id_text form-control bg-light-secondary border-0" rows="4" placeholder="Что у Вас нового?"></textarea>
     </div>
     <div class="card-footer border-top">
         <div class="row">
             <div class="col" style="display: flex;">
                 <a title="Статья"
                       class="btn btn-link btn-sm text-secondary"
                       id="article_add"
                       style="cursor:pointer">
                       <img style="width:22px;" src="{% static 'images/icons/post_add-24px.svg' %}" />
                 </a>
                <div class="dropdown">
                 <a title="Изображение"
                       id="dropdown_image"
                       class="btn btn-link btn-sm text-secondary"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                       <img style="width:22px;" src="{% static 'images/icons/camera_alt-24px.svg' %}" />
                  </a>
                  <div class="dropdown-menu dropdown-menu-top" aria-labelledby="dropdown_image">
                    <a id="images_upload" style="cursor:pointer" class="dropdown-item">Загрузить изображение</a>
                    <a id="gallery" style="cursor:pointer" class="dropdown-item">Мои изображения</a>
                    <a id="" style="cursor:pointer" class="dropdown-item">Использовать ссылку</a>
                  </div>
                </div>
               <div class="dropdown">
                 <a title="Еще"
                         class="btn btn-link btn-sm text-secondary"
                         id="dropdown_more"
                         data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false">
                         <img style="width:22px;" src="{% static 'images/icons/attach_file-24px.svg' %}" />
                 </a>
                 <div class="dropdown-menu dropdown-menu-top" aria-labelledby="dropdown_image">
                   <a id="doc" style="cursor:pointer" class="dropdown-item">Документ</a>
                   <a id="good" style="cursor:pointer" class="dropdown-item">Товар</a>
                   <a id="question" style="cursor:pointer" class="dropdown-item">Опрос</a>
                 </div>
               </div>
             </div>

             <div class="col-auto ">
               <img style="width:22px;color:white" src="{% static 'images/icons/settings_input_component-24px.svg' %}" />
                 <button type="submit" class="btn btn-rounded btn-sm text-uppercase pl-3">
                   <span class="text-hide-xs">Опубликовать</span>
                   <a>
                     <img style="width:25px;color:white" src="{% static 'images/icons/send-24px.svg' %}" />
                    </a>
                 </button>
             </div>
         </div>
         <div id="for_images_upload" style="display:none">images_upload</div>
         <div id="for_gallery" style="display:none">gallery</div>
         <div id="for_doc" style="display:none">doc</div>
         <div id="for_good" style="display:none">good</div>
         <div id="for_question" style="display:none">question</div>
     </div>
   </form>
 </div>
{% endif %}

<script>
$('#images_upload').on('click', function () {
	 $('#for_images_upload').show();
});

$('#gallery').on('click', function () {
	 $('#for_gallery').show();
});
$('#doc').on('click', function () {
	 $('#for_doc').show();
});
$('#good').on('click', function () {
	 $('#for_good').show();
});
$('#question').on('click', function () {
	 $('#for_question').show();
});
</script>
