{% load staticfiles %}

{% if user == request.user %}
 <div class="card mb-4" style="border:1px solid rgba(0, 0, 0, 0.125);">
   <form action="" id="FORM-POST" method="post" enctype="multipart/form-data">
     {% csrf_token %}
     <div class="card-body p-0">
         <textarea name="text" id="id_text" class="id_text form-control bg-light-secondary border-0" rows="2" placeholder="Что у Вас нового?"></textarea>
     </div>
     <div class="card-footer border-top">
         <div class="row">
             <div class="col" style="display: flex;">
                 <a title="Статья"
                       class="btn btn-link btn-sm text-secondary"
                       id="article_add">
                       <img style="width:22px;" src="{% static 'images/icons/post_add-24px.svg' %}" />
                 </a>
                <div class="dropdown">
                 <a title="Изображение"
                       id="dropdown_image"
                       class="btn btn-link btn-sm text-secondary"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                       <img style="width:22px;" src="{% static 'images/icons/camera_alt-24px.svg' %}" />
                  </a>
                  <div class="dropdown-menu dropdown-menu-top" aria-labelledby="dropdown_image">
                    <a id="images_upload" class="dropdown-item">Загрузить изображение</a>
                    <a id="gallery" class="dropdown-item">Мои изображения</a>
                    <a id="link" class="dropdown-item">Использовать ссылку</a>
                  </div>
                </div>
               <div class="dropdown">
                 <a title="Еще"
                         class="btn btn-link btn-sm text-secondary"
                         id="dropdown_more"
                         data-toggle="dropdown"
                         aria-haspopup="true"
                         aria-expanded="false">
                         <img style="width:22px;" src="{% static 'images/icons/attach_file-24px.svg' %}" />
                 </a>
                 <div class="dropdown-menu dropdown-menu-top" aria-labelledby="dropdown_more">
                   <a id="doc" class="dropdown-item">Документ</a>
                   <a id="good" class="dropdown-item">Товар</a>
                   <a id="question" class="dropdown-item">Опрос</a>
                 </div>
               </div>
             </div>

             <div class="col-auto ">
               <img style="width:22px" id="settings" src="{% static 'images/icons/settings_applications-24px.svg' %}" />

                 <button type="submit" class="btn btn-rounded btn-sm text-uppercase pl-3">
                   <span class="text-hide-xs">Опубликовать</span>
                   <a>
                     <img style="width:25px;color:white" src="{% static 'images/icons/send-24px.svg' %}" />
                    </a>
                 </button>
             </div>
         </div>
         <span class="add_board">
           <div id="for_images_upload" style="display:none;margin:10px">
             <div class="card mb-4">
               <input name="image" type="file" id="id_image" class="" rows="4">
             </div>
           </div>
           <div id="for_gallery" style="display:none;margin:10px">gallery</div>
           <div id="for_doc" style="display:none;margin:10px">doc</div>
           <div id="for_good" style="display:none;margin:10px">good</div>
           <div id="for_question" style="display:none;margin:10px">question</div>
           <div id="for_settings" style="display:none;margin:10px">

           <div class="custom-control custom-checkbox">
              <input type="checkbox" checked name="comments_enabled" id="id_comments_enabled" class="custom-control-input">
              <label class="custom-control-label" for="id_comments_enabled">
                 Комментарии включены
               </label>
           </div>
           <div class="custom-control custom-checkbox">
              <input type="checkbox" id="item_mute" class="custom-control-input">
              <label class="custom-control-label" for="item_mute">
                  Не отправлять уведомления
              </label>
           </div>
           <div class="form-group ">
             <label>статус</label>
             <select class="form-control" id="id_status" name="status" data-live-search="true" tabindex="-1" aria-hidden="true">
               <option value="P" checked>Опубликовано</option>
               <option value="D">Отложено</option>
             </select>
            </div>
            </div>
          </span>
         </div>
   </form>
 </div>

 <div class="card mb-4 article_fullscreen" style="display:none">
   <div id="article_loader" style="margin-top:30px"></div>
 </div>
{% endif %}

<script>
$('#images_upload').on('click', function () {
	 $('#for_images_upload').show();
});
$('#settings').on('click', function () {
	 $('#for_settings').show();
});

$('#gallery').on('click', function () {
	 $('#for_gallery').show();
});
$('#doc').on('click', function () {
	 $('#for_doc').show();
});
$('#good').on('click', function () {
	 $('#for_good').show();
});
$('#question').on('click', function () {
	 $('#for_question').show();
});
</script>
<script>
	$( "#article_add" ).click(function(){
		$('#article_loader').html('').load("/article/add/");
		$('.article_fullscreen').show();
	})
</script>

<script>
    var frm_post = $('#FORM-POST');
    frm_post.submit(function(e) {
        $.ajax({
            type: frm_post.attr('method'),
            url: "{% url 'post_add_user' %}",
            data: frm_post.serialize(),
            success: function (data) {
              $(".stream").prepend(data);
              $(".id_text").val("");
              $(".add_board #for_images_upload").hide();
              $(".add_board #for_gallery").hide();
              $(".add_board #for_doc").hide();
              $(".add_board #for_good").hide();
              $(".add_board #for_question").hide();
              $(".add_board #for_settings").hide();
              $.toast({
                  heading: '{{ request.user.first_name }}',
                  text: 'Запись успешно создана!',
                  showHideTransition: 'fade',
                  icon: 'success'
              })
            },
            error: function(data) {
              $.toast({
                  heading: '{{ request.user.first_name }}',
                  text: 'Для публикации записи нужно написать что-нибудь и/или вставить изображение(ия)',
                  showHideTransition: 'fade',
                  icon: 'error'
              })
            }

        });
        return false;
    });
</script>
