{% load humanize static %}


{% for reply in thread %}
  <li class="card" posts-id="{{ reply.uuid }}">
    <div class="card-body">
      <div class="profile-picture">
        {% if reply.user.profile.avatar %}
          <img src="{{ reply.user.profile.avatar }}" class="pull-left" style="border-radius: 50%;" alt="User Image" class="user-image">

          <img src="{% static 'img/user.png' %}" class="pull-left" height="60px" alt="No Profile Picture" />

      </div>
      <div class="post">
        {% if reply.user == request.user %}
          <a href="{% url 'delete_post' reply.pk %}">
            <i class="fa fa-times pull-right" aria-hidden="true" title="Нажмите чтобы удалить запись"></i>
          </a>
        {% endif %}
        <p>
          <strong>
            <a href="{% url 'user' pk=reply.user.pk %}">{{ reply.user.get_full_name }}</a>
          </strong>
        </p>
        <p>{{ reply }}</p>

      </div>
    </div>
    <div class="interaction" id="interaction">

      {% include 'generic/info.html' %}

    </div>
  </li>
{% endfor %}
