{% load staticfiles humanize %}

{% for object in user.posts.set_all %}
<div class="card mb-4">
    <div class="card-header border-bottom">
        <div class="media">
            <figure class="avatar avatar-40 mr-2">
                <img src="{% static 'images/user1.png' %}" alt="Generic placeholder image">
            </figure>
            <div class="media-body">
                <h6 class="mb-0">alizeechotali</h6>
                <p class="mb-0">7-11-2018 | Public</p>
            </div>
            <div class="dropdown d-inline-block">
                <a href="javascript:void(0)" class="icon-circle icon-30 dropdown-toggle caret-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons ">more_vertical</i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="" class="dropdown-item">Refresh</a>
                    <a href="" class="dropdown-item">Setting</a>
                    <a href="" class="dropdown-item">Close</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="mb-0 content-color-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
    <div class="card-footer border-top py-2">
        <div class="row">
            <div class="col">
                <button class="btn btn-link btn-sm text-secondary">
                  <i class="material-icons text-danger">favorite_border</i>
                  <span class="text-hide-xs">Like</span>
                  <span class="text-primary">1.2k</span>
                </button>
                <button class="btn btn-link btn-sm text-secondary">
                  <i class="material-icons">chat</i>
                  <span class="text-hide-xs">Comments</span>
                  <span class="text-primary">1.2k</span>
                </button>
                <button class="btn btn-link btn-sm text-secondary">
                  <i class="material-icons">share</i>
                  <span class="text-hide-xs">Share</span>
                  <span class="text-primary">500</span>
                </button>
            </div>
            <div class="col-auto ">
                <button class="btn btn-link btn-sm text-secondary">
                  <i class="material-icons">equalizer</i>
                  <span class="text-hide-xs">Analytics</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
