{% load staticfiles humanize %}



{% if posts %}
<div class="infinite-container">
  <div class="stream-update">
    <a href=""><span class="new-posts"></span> Загрузить новые посты</a>
  </div>
  <span class="stream">

    {% for object in posts %}
      {% include 'profile/post.html' with post=post  %}

    {% endfor %}

  </span>
</div>

<div class="load">
  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">
      <img src="{% static 'images/loading.gif' %}">
    </a>
  {% endif %}
</div>

{% else %}
<div class="card mb-4 fullscreen">
    <div class="card-header border-bottom">

    </div>
    <div class="card-body">
      <div class="media">
      <h6>  Пока ничего нет...</h6>
        <br><br>
      </div>
    </div>
</div>

{% endif %}

  <script src="{% static 'scripts/jquery.waypoints.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/infinite.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/posts.js' %}" type="text/javascript"></script>
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.load').show();
      },
      onAfterPageLoad: function ($items) {
        $('.load').hide();
      }
    });
  </script>
