{% load liked_user %}

<div class="row">
  {% if user.count_connections %}
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <a href="{% url 'frends' user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ user.count_connections }}</h4>
         <p class="content-color-secondary mb-0">{{ user.count_connections|rupluralize:"друг,друга,друзей" }}</p>
         </a>
       </div>
     </div>
   </div>
   {% endif %}
   {% if user.count_followers %}
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <a href="{% url 'follows' pk=user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ user.count_followers }}</h4>
         <p class="content-color-secondary mb-0">{{ user.count_followers|rupluralize:"подписчик,подписчика,подписчиков" }}</p>
         </a>
       </div>
     </div>
   </div>
   {% endif %}
   {% if user.count_community %}
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <a href="{% url 'communities' pk=user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ user.count_community }}</h4>
         <p class="content-color-secondary mb-0">{{ user.count_community|rupluralize:"сообщество,сообщества,сообществ" }}</p>
         </a>
       </div>
     </div>
   </div>
  {% endif %}
  {% if user.count_goods %}
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <a href="{% url 'user_goods' pk=user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ user.count_goods }}</h4>
         <p class="content-color-secondary mb-0">{{ user.count_goods|rupluralize:"товар,товара,товаров" }}</p>
         </a>
       </div>
     </div>
   </div>
   {% endif %}
   {% if user.count_photos %}
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <a href="{% url 'user_gallery' pk=user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ user.count_photos }}</h4>
         <p class="content-color-secondary mb-0">{{ user.count_photos|rupluralize:"фотография,фотографии,фотографий" }}</p>
         </a>
       </div>
     </div>
   </div>
   {% endif %}
 </div>
