

<div class="row py-3">
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <h4 class="content-color-primary mb-0"><a href="{% url 'frends' pk=user.pk %}">208</a></h4>
         <p class="content-color-secondary mb-0">Друзей</p>
       </div>
     </div>
   </div>
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <h4 class="content-color-primary mb-0"><a href="{% url 'follows' pk=user.pk %}">208</a></h4>
         <p class="content-color-secondary mb-0">Подписчиков</p>
       </div>
     </div>
   </div>
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <h4 class="content-color-primary mb-0"><a href="{% url 'communities' pk=user.pk %}">208</a></h4>
         <p class="content-color-secondary mb-0">Групп</p>
       </div>
     </div>
   </div>
   <div class="col text-center">
     <div class="media">
       <div class="media-body">
         <h4 class="content-color-primary mb-0"><a href="{% url 'gallery' pk=user.pk %}">208</a></h4>
         <p class="content-color-secondary mb-0">Фото</p>
       </div>
     </div>
   </div>
 </div>
