

<div class="row py-3">
   <div class="col text-center">
     <div class="media">
       {% if frends_count %}
       <div class="media-body">
         <a href="{% url 'frends' pk=user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ frends_count }}</h4>
         <p class="content-color-secondary mb-0">Друзья</p>
         </a>
       </div>
       {% else %}
       <div class="media-body">
         <h4 class="content-color-primary mb-0">Нет</h4>
         <p class="content-color-secondary mb-0">Друзей</p>
       </div>
       {% endif %}
     </div>
   </div>
   <div class="col text-center">
     <div class="media">
       {% if follows_count %}
       <div class="media-body">
         <a href="{% url 'follows' pk=user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ follows_count }}</h4>
         <p class="content-color-secondary mb-0">Подписчики</p>
         </a>
       </div>
       {% else %}
       <div class="media-body">
         <h4 class="content-color-primary mb-0">Нет</h4>
         <p class="content-color-secondary mb-0">Подписчиков</p>
       </div>
       {% endif %}
     </div>
   </div>
   <div class="col text-center">
     <div class="media">
       {% if communities_count %}
       <div class="media-body">
         <a href="{% url 'communities' pk=user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ communities_count }}</h4>
         <p class="content-color-secondary mb-0">Сообщества</p>
         </a>
       </div>
       {% else %}
       <div class="media-body">
         <h4 class="content-color-primary mb-0">Нет</h4>
         <p class="content-color-secondary mb-0">Сообществ</p>
       </div>
       {% endif %}
     </div>
   </div>
   <div class="col text-center">
     <div class="media">
       {% if images_count %}
       <div class="media-body">
         <a href="{% url 'gallery' pk=user.pk %}" class="ajax">
         <h4 class="content-color-primary mb-0">{{ images_count }}</h4>
         <p class="content-color-secondary mb-0">Фото</p>
         </a>
       </div>
       {% else %}
       <div class="media-body">
         <h4 class="content-color-primary mb-0">Нет</h4>
         <p class="content-color-secondary mb-0">Фото</p>
       </div>
       {% endif %}
     </div>
   </div>
 </div>
