{% if user.get_last_video %}

<div class="card mb-3" style="">
    <div class="card-header">
      <a href="{% url 'user_video' pk=user.pk %}" class="ajax">
        <div class="media">
            <div class="media-body">
                <h4 class="content-color-primary mb-0">Видео </h4>
            </div>
            все
        </div>
      </a>
    </div>
    <div class="card-body p-1">
        <div class="row no-gutters">
          {% for object in user.get_last_video %}
          <div style="position:relative">
            <img class="lazyload image_fit_200" data-src="{{ object.image.url }}" alt="">
            <div class="video_icon_play_v2 u_video_list_detail" video-counter="{{ forloop.counter0 }}"></div>
            <p>{{ object.title }}</p>
          </div>
          {% endfor %}
        </div>

    </div>
</div>
{% endif %}
