{% load message %}

<div>
<div class="row">
  <div class="col" style="padding:5px;">
    <a class="btn btn-sm border pointer this_mob_fullscreen_hide" style="width: -webkit-fill-available;">
      <svg fill="currentColor" class="svg_default" style="width: 19px;" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
    </a>
  </div>
</div>

<ul class="is_block_paginate">
{% for object in object_list %}
  <li class="list-group-item pag pointer go_transfer_messages" data-pk="{{ object.pk }}">
    {{ object|get_preview_message:request.user.pk|safe }}
  </li>
{% endfor %}
{% if page_obj.has_next %}
<div class="load centered m-1 next_page_list" data-link="/users/load/chats/?page={{ page_obj.next_page_number }}">
    <img src="/static/images/preloader.gif">
</div>
{% endif %}
</ul>
</div>
