<div class="row overflow-x-auto no-gutters">
  <div class="col-12">
  <ul class="date-list" style="width:max-content">
    {% for object in request.user.get_albums %}
        {% if object.is_not_empty %}
        <li class="date">
          <div class="cover_block" data-pk="{{ user.pk }}" data-uuid="{{ object.uuid }}" style="padding:5px;">
              <div class="card rounded-0 border-0 mb-3">
                  <div class="card-header">
                      <div class="media">
                          <div class="media-body" style="white-space:nowrap;overflow:hidden;">
                              <h6 class="mb-0">{{ object.title }}</h6>
                              <p class="pointer photo_attach_album" data-pk="{{ object.pk }}">Прикрепить альбом</p>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                    <a data-href="{% url 'u_photo_list_load' uuid=object.uuid %}" class="pointer create_ajax">
                        {% if object.get_cover_photo %}
                          <img style="object-fit: cover;height: 150px;width: 170px;" src="{{ object.get_cover_photo.file.url }}" />
                        {% else %}
                          <img style="object-fit: cover;height: 150px;width: 170px;" src="/static/images/no_img/album.jpg" />
                        {% endif %}
                      <p class="mb-0 f-sm albom_description" style="color:black !important">{{ object.description }}</p>
                    </a>
                  </div>
              </div>
          </div>
        </li>
        {% endif %}
    {% endfor %}
  </ul>
  </div>
</div>
