<div class="card mb-4">
  <div class="row">
    {% if list.is_not_empty %}
    <div class="col">
      <a class="btn btn-sm attach_doc_list custom_color border" data-pk="{{ list.pk }}" style="width: -webkit-fill-available;">+ список</a>
    </div>
    {% endif %}
    {% if request.user.is_doc_list_exists %}
    <div class="col">
        <button class="btn btn-sm custom_color border dropdown-toggle menu_drop" style="width: -webkit-fill-available;">
            Списки
        </button>
        <div class="dropdown-menu" style="top: 34px;">
          {% for object in request.user.get_docs_lists %}
            <a class="dropdown-item create_ajax pointer" data-href="/users/load/u_doc_list_load/{{ object.uuid }}/">
              {{ object.name }}
            </a>
          {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="col">
      <a class="btn btn-sm custom_color border create_fullscreen_hide_2" style="width: -webkit-fill-available;">
        <svg fill="currentColor" class="svg_default" style="width: 17px;" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
    </div>
  </div>
  <div class="card-body border-bottom">

{% if object_list %}

<span class="is_load_paginate" data-link="/users/load/u_doc_load/"> 
{% for object in object_list %}
<div class="list-group-item load_pag {% if forloop.last %}load_last{% endif %}">
  <div style="display:flex" data-pk="{{ object.pk }}">
      <figure>
        <svg fill="currentColor" style="width:30px;heigth:30px" class='svg_default' viewBox="0 0 24 24">
          <path d="M0 0h24v24H0z" fill="none"/><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/>
        </svg>
      </figure>
      <div class="media-body" style="padding-top: 5px; padding-left: 5px;margin-right:40px">
          <h6>
            <a href="{{ object.file.url }}" style="white-space: nowrap;" target="_blank" rel="nofollow">{{ object.title }}</a>
          </h6>
      </div>
  </div>
  <span class="item_attach_circle doc_load_several" style="margin-top: 5px;">
      <svg fill="currentColor" viewBox="0 0 24 24">
        <path d="M24 24H0V0h24v24z" fill="none"/><circle cx="12" cy="12" r="8"/>
      </svg>
  </span>
</div>
{% endfor %}
</span>

{% else %}
<div class="card mb-3 centered">
  <div class="card-body">
  <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/></svg>
  </div>
  <h6 style="text-align: center;margin: 20px;"> В основном списке нет документов.</h6>
</div>
{% endif %}

</div>

</div>
