{{ response_text }}

<div class="row block_verify" style="margin-top:50px">
  <div class="col-md-2"></div>
    <div class="col-md-4">
        <input type="number" id="code" onkeyup="code_check();" class="form-control border-0" placeholder="Последние 4 цифры">
        <hr class="my-0">
    </div>
    <div class="mb-4 col-md-4">
      <button type="button" disabled="disabled" id="code_send" class="btn btn-primary pink-gradient">Подтвердить</button>
    </div>
    <div class="col-md-2"></div>
</div>

<script>
  document.getElementById("code_send").addEventListener("click", (e) => {
  var phone = document.getElementById('phone').value;
  var code = document.getElementById('code').value;
  var request = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
  request.open( 'GET', "/users/progs/phone_verify/" + phone + "/" + code + "/", true );
  request.onreadystatechange = function () {
    if ( request.readyState == 4 && request.status == 200 ) {
      window.location = "{% url 'user' pk=request.user.pk %}";
    }
  };
  request.send( null );
});
</script>
