{% extends "base.html" %}
{% block title %}Администрирование|Главная{% endblock %}
{% block meta %}
<meta property="og:url" content="http://xn--b1afgj5al1e.xn--p1acf" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="http://xn--b1afgj5al1e.xn--p1acf/static/images/I.jpg" />
{% endblock %}
{% block content %}

<div class="container mt-4 main-container">
          <div class="container mt-4 main-container text-center card">
            <h1 class="mb-0">Вы админ</h1>
            <h5 class="text-warning mb-4">
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
            </h5>
            <p class="content-color-secondary">
              Вы администратор соцсети трезвый.рус. Это высокое звание в градации системы полномочий ресурса. Пожалуйста, помните, что
              быть таким управленцем - большая отвественность. <br>
              Нужно быть беспристрастным, грамотным, осознанным человеком, с развитым чувством справедливости и моральными качествами.
              <br><br>
              Вам доступно:
              1. Удалять, изменять, замораживать те сущности, которые Вам подвластно администрировать.
              2. Видеть закрытые аккаунты и скрытые участки профиля пользователя (если Вы имеете права доступа к управлению профилей пользователя),
              а также приватные и закрытые сообщества и их сркрытые участки (если Вы имеете права доступа к управлению сообществ).
              3. В случае прецедентов просматривать логи действий пользователей в отношении администрируемых сущностей.
              4. В случае прав доступа к управлению профилем пользователя, Вам доступно влиять на рекламные предложения профиля, сообщества -
              на рекламные предложения сообществ.
              <br><br>
              Выбирайте подвластные Вам отделы для администрирования справа на панели меню.
            </p>
        </div>
  </div>
  <div class="container mt-4 main-container">
    <div class="row">
      {% if request.user.is_administrator or request.user.is_superuser %}
      <div class="col-12 col-md-6">
        <div class="card mb-4 box-shadow-large">
          <div class="card-body text-center">
            <h1 class="icon-circle icon-100 mb-4">
              <svg fill="currentColor" class="svg_default" viewBox="0 0 24 24"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </h1>
            <h4 class="content-color-primary">Пользователи</h4>
            <p class="content-color-secondary">Администрирование профилей</p>
            <br>
          </div>
          <div class="card-footer border-top">
            <a href="" class="btn btn-link btn-block text-uppercase ajax"> Перейти
              <svg fill="currentColor" class="svg_default svg_info" viewBox="0 0 24 24"><path d="M10 17l5-5-5-5v10z"></path><path fill="none" d="M0 24V0h24v24H0z"></path></svg>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if request.user.is_community_administrator or request.user.is_superuser %}
      <div class="col-12 col-md-6">
        <div class="card mb-4 box-shadow-large">
          <div class="card-body text-center">
            <h1 class="icon-circle icon-100 mb-4">
              <svg fill="currentColor" class="svg_default" viewBox="0 0 24 24"><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm8 5H6v-2h8v2zm4-6H6V6h12v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </h1>
            <h4 class="content-color-primary">Сообщества</h4>
            <p class="content-color-secondary">Администрирование сообществ</p>
            <br>
          </div>
          <div class="card-footer border-top">
            <a href="" class="btn btn-link btn-block text-uppercase ajax"> Перейти
              <svg fill="currentColor" class="svg_default svg_info" viewBox="0 0 24 24"><path d="M10 17l5-5-5-5v10z"></path><path fill="none" d="M0 24V0h24v24H0z"></path></svg>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if request.user.is_post_administrator or request.user.is_superuser %}
      <div class="col-12 col-md-6">
        <div class="card mb-4 box-shadow-large">
          <div class="card-body text-center">
            <h1 class="icon-circle icon-100 mb-4">
              <svg fill="currentColor" class="svg_default" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M22 13h-8v-2h8v2zm0-6h-8v2h8V7zm-8 10h8v-2h-8v2zm-2-8v6c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2zm-1.5 6l-2.25-3-1.75 2.26-1.25-1.51L3.5 15h7z"/></svg>
            </h1>
            <h4 class="content-color-primary">Записи</h4>
            <p class="content-color-secondary">Администрирование записей</p>
            <br>
          </div>
          <div class="card-footer border-top">
            <a href="" class="btn btn-link btn-block text-uppercase ajax"> Перейти
              <svg fill="currentColor" class="svg_default svg_info" viewBox="0 0 24 24"><path d="M10 17l5-5-5-5v10z"></path><path fill="none" d="M0 24V0h24v24H0z"></path></svg>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if request.user.is_photo_administrator or request.user.is_superuser %}
      <div class="col-12 col-md-6">
        <div class="card mb-4 box-shadow-large">
          <div class="card-body text-center">
            <h1 class="icon-circle icon-100 mb-4">
              <svg fill="currentColor" class="svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
            </h1>
            <h4 class="content-color-primary">Изображения</h4>
            <p class="content-color-secondary">Администрирование изображений</p>
            <br>
          </div>
          <div class="card-footer border-top">
            <a href="" class="btn btn-link btn-block text-uppercase ajax"> Перейти
              <svg fill="currentColor" class="svg_default svg_info" viewBox="0 0 24 24"><path d="M10 17l5-5-5-5v10z"></path><path fill="none" d="M0 24V0h24v24H0z"></path></svg>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if request.user.is_audio_administrator or request.user.is_superuser %}
      <div class="col-12 col-md-6">
        <div class="card mb-4 box-shadow-large">
          <div class="card-body text-center">
            <h1 class="icon-circle icon-100 mb-4">
              <svg fill="currentColor" class="svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"/></svg>
            </h1>
            <h4 class="content-color-primary">Аудиозаписи</h4>
            <p class="content-color-secondary">Администрирование аудиозаписей</p>
            <br>
          </div>
          <div class="card-footer border-top">
            <a href="" class="btn btn-link btn-block text-uppercase ajax"> Перейти
              <svg fill="currentColor" class="svg_default svg_info" viewBox="0 0 24 24"><path d="M10 17l5-5-5-5v10z"></path><path fill="none" d="M0 24V0h24v24H0z"></path></svg>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if request.user.is_audio_administrator or request.user.is_superuser %}
      <div class="col-12 col-md-6">
        <div class="card mb-4 box-shadow-large">
          <div class="card-body text-center">
            <h1 class="icon-circle icon-100 mb-4">
              <svg fill="currentColor" class="svg_default" viewBox="0 0 24 24"><path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </h1>
            <h4 class="content-color-primary">Видеозаписи</h4>
            <p class="content-color-secondary">Администрирование видеозаписей</p>
            <br>
          </div>
          <div class="card-footer border-top">
            <a href="" class="btn btn-link btn-block text-uppercase ajax"> Перейти
              <svg fill="currentColor" class="svg_default svg_info" viewBox="0 0 24 24"><path d="M10 17l5-5-5-5v10z"></path><path fill="none" d="M0 24V0h24v24H0z"></path></svg>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
