{% extends "base.html" %}
{% block title %}Работа с рекламой|Главная{% endblock %}
{% block content %}

<div class="container mt-4 main-container">
          <div class="container mt-4 main-container card">
            <h1 class="mb-0 text-center">Вы модератор рекламы</h1>
            <h5 class="text-warning mb-4 text-center">
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
              <svg fill="currentColor" enable-background="new 0 0 24 24" class="svg_default svg_info" viewBox="0 0 24 24">
                <g><rect x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g>
              </svg>
            </h5>
            <p class="content-color-secondary">
              Вы модератор рекламы соцсети трезвый.рус. Это высокое звание в градации системы полномочий ресурса. Пожалуйста, помните, что
              быть таким управленцем - большая отвественность. <br>
              Нужно быть беспристрастным, грамотным, осознанным человеком, с развитым чувством справедливости и моральными качествами.<br>
              Нужно тщательно беречь аккаунт от других пользователей.
              <br><br>
              <span class="text-center" style="font-weight:bold">Вам доступно:</span><br>
              1. Видеть, изменять, удалять, замораживать рекламные посты пользователей или сообществ (в зависимости от Ваших прав доступа).<br>
            </p>
        </div>
  </div>
  <div class="container mt-4 main-container">
    <div class="row">
      {% if request.user.is_user_advertiser %}
      <div class="col-12 col-md-6">
        <div class="card mb-4 box-shadow-large">
          <div class="card-body text-center">
            <h1 class="icon-circle icon-100 mb-4">
              <svg fill="currentColor" class="svg_default" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </h1>
            <h4 class="content-color-primary">Пользователи</h4>
            <p class="content-color-secondary">Модерация рекламы профилей</p>
            <br>
          </div>
          <div class="card-footer border-top">
            <a href="" class="btn btn-link btn-block text-uppercase ajax"> Перейти
              <svg fill="currentColor" class="svg_default svg_info" viewBox="0 0 24 24"><path d="M10 17l5-5-5-5v10z"></path><path fill="none" d="M0 24V0h24v24H0z"></path></svg>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if request.user.is_community_advertiser %}
      <div class="col-12 col-md-6">
        <div class="card mb-4 box-shadow-large">
          <div class="card-body text-center">
            <h1 class="icon-circle icon-100 mb-4">
              <svg fill="currentColor" class="svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
            </h1>
            <h4 class="content-color-primary">Сообщества</h4>
            <p class="content-color-secondary">Модерация рекламы сообществ</p>
            <br>
          </div>
          <div class="card-footer border-top">
            <a href="" class="btn btn-link btn-block text-uppercase ajax"> Перейти
              <svg fill="currentColor" class="svg_default svg_info" viewBox="0 0 24 24"><path d="M10 17l5-5-5-5v10z"></path><path fill="none" d="M0 24V0h24v24H0z"></path></svg>
            </a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
