{% extends "base_mobile.html" %}
{% block title %}Фотографии сообщества {{ community.name }}"{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/communities/{{ community.pk }}/photos/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Фотографии сообщества {{ community.name }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ community.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="container main-container mt-3 pk_saver" data-pk="{{ community.pk }}" data-type="community_photo">
{% if is_user_can_see_photo_section %}
  {% include 'mobile/communities/photos/main_list/lists.html' %}

<span class="load_block">
  <div class="media mt-3" style="padding-left: 7px;">
    <form class="uuid_saver" data-uuid="{{ list.uuid }}" data-pk="{{ list.pk }}">
      {% csrf_token %}
    <h5 class="mt-1">
      {{ list.name }} ({{ list.count_items }})
      {% if community.pk == list.community.pk %}
        <input type="file" accept="image/*" class="add_photos_in_list" name="file" style="display:none" multiple="multiple">
        <a class="pointer previous_click" tooltip="Добавить фото" flow="up">
          <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </a>
      {% endif %}
      {% include 'desctop/generic/items/list_meta.html' %}
    </h5>
    </form>
  </div>

  <div class="container mt-4" id="photos_container">
    <div class="row is_block_paginate is_paginate drag_container is_stat_list" data-pk="{{ photo_list_pk }}" data-type="{% if list.community %}community{% else %}user{% endif %}_photo_list" id="c_list_photos_container" data-link="/gallery/community/list_photos/{{ community.pk }}/{{ photo_list_pk }}/"></div>
  </div>
</span>
{% else %}
  {% include 'desctop/generic/centered/private_page.html' %}
{% endif %}
</div>

{% endblock %}
