{% extends "base_anon_mobile.html" %}
{% block title %}Фотографии сообщества {{ community.name }}"{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/communities/{{ community.pk }}/photos/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Фотографии сообщества {{ community.name }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ community.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="container main-container mt-3 pk_saver" data-pk="{{ community.pk }}" data-type="community_photo">
{% if is_user_can_see_photo_section %}
  {% include 'mobile/communities/photos/main_list/lists.html' %}

<span class="load_block">
<div class="media mt-3 uuid_saver" data-pk="{{ list.pk }}" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
  <h5 class="mt-1">
    {{ list.name }} ({{ list.count_items }})
    <span class="pointer badge badge-light-primary copy_link">Копировать ссылку</span>
  </h5>
</div>

<div class="row is_paginate is_block_paginate is_stat_list" data-pk="{{ list.pk }}" data-type="{% if list.community %}community{% else %}user{% endif %}_photo_list" data-link="/gallery/community/photos/{{ community.pk }}/"></div>
</span>
{% else %}
  {% include 'desctop/generic/centered/private_page.html' %}
{% endif %}
</div>

{% endblock %}
