{% extends "base_mobile.html" %}
{% block title %}{{ community.name }} :: Фотографии{% endblock %}
{% load get_key %}
{% block content %}

<div class="container main-container mt-3 pk_saver community_gallery_container" data-pk="{{ community.pk }}" data-uuid="{{ list.uuid }}">
  <div class="card-header p-0">
    <div class="row no-gutters">
      <div style="flex: 0 0 100%;max-width:100%;padding:5px;">
        {% include 'mobile/generic/community/back.html' %}
      </div>
    </div>
  </div>
  {% if count_lists > 1 %}
    {% include 'mobile/communities/photo/main_list/lists.html' %}
  {% endif %}

<div class="media mt-3" style="padding-left: 7px;">
  <h5 class="mt-1" style="flex: 1;">Фото</h5>
  <span>{{ list.count_items }}</span>
</div>

<div class="row is_paginate is_block_paginate no-gutters" id="c_photos_container" data-link="/gallery/community/photos/{{ community.pk }}/"></div>

</div>

{% endblock %}
