<div class="">
    <form>
      {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header border-bottom">
                <h5 class="content-color-primary">Написать {{ member.get_full_name_datv }}</h5>
                <span class="user_add_members pointer mt-3">Добавить участников</span>
                <div class="row">
                  <div class="col-7" id="chat_members" data-pk="{{ member.pk }}"></div>
                  <div class="col-5" id="user_collector"></div>
                </div>
            </div>

            <div class="card-body">
              {% include 'mobile/generic/repost/form.html' %}
            </div>
            <div class="card-footer">
                <button class="btn custom_color border item_fullscreen_hide" style="position: relative; top: -10px; left: -10px;">Отмена</button>
                <button type="button" class="btn btn-success float-right" id="send_page_message_btn" data-pk="{{ member.pk }}">Отправить</button>
            </div>
        </div>
    </form>
</div>
