<li class="list-group-item" data-pk="{{ object.pk }}">
  <a class="ajax" href="{% url 'chat_detail' pk=object.pk %}">
  <div class="media">
    <figure>
      {% if object.creator.s_avatar %}
        <img src="{{ object.creator.s_avatar.url }}" style="border-radius:50px;width:50px;" alt="image">
      {% else %}
        <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      {% endif %}
    </figure>
    <div class="media-body">
      <h5 class="time-title mb-0">{{ object.creator.get_full_name }}
          <span class="status bg-success"></span>
      </h5>
      <p class="mb-0">Нет сообщений</p>
    </div>
  </div>
  </a>
</li>
