{% load message %}

{% if object.is_manager %}
<div class="media p-1 centered">
  {{ object.get_manager_text|safe }}
</div>

{% else %}
<div class="
    message toggle_message t_f pointer media p-1
    {% if request.user.pk == object.creator.pk %}
      {% if not object.is_copy_reed %}
        bg-light-secondary
      {% endif %}
      is_have_edited
    {% endif %}
    {% if object|is_favourite:request.user.pk %}
      favourite
    {% endif %}" data-uuid="{{ object.uuid }}" data-pk="{{ object.pk }}">
    <span>
      <input type="checkbox" class="toggle_message t_f message_checkbox">
    </span>
    <figure>
      <a href="{{ object.creator.get_link }}" class="ajax no_select">
        {{ object.creator.get_40_avatar|safe }}
      </a>
    </figure>
    <div class="media-body t_f">
      <h5 class="time-title mb-0">
        <a href="{{ object.creator.get_link }}" class="ajax creator_link"><span class="creator_name">{{ object.creator.get_full_name }}</span></a>
        <small class="float-right small text-muted t_f">{{ object.get_created }} {% if object.is_edited %}(ред.){% endif %}</small>
      </h5>

      {% if object.parent %}
        {{ object.get_parent_message|safe }}
      {% endif %}

      {% if object.voice %}
        <audio class="audio" src="{{ object.voice.url }}"></audio>
      {% elif object.sticker %}
      <div class="message_sticker mt-1 t_f">
        <img src="{{ object.sticker.image.url }}" style="width: 128px;" tooltip="{{ object.sticker.category.name }}" flow="up">
      </div>
      {% else %}

      <span class="text text_support t_f">{{ object.text|safe }}</span>

      {% if object.attach %}
        {{ object|get_attach:request.user|safe }}
      {% endif %}

      {% if object.repost %}
        <span style="margin-left: 5%;" data-uuid="{{ object.parent.uuid }}">
          {% if object.repost.community %}
            {% include object.get_c_repost_items_desctop %}
          {% else %}
            {% include object.get_u_repost_items_desctop %}
          {% endif %}
        </span>
      {% endif %}
      {% if object.is_have_transfer %}
        {% include 'mobile/chat/message/transfers.html' %}
      {% endif %}

      {% endif %}
    </div>
</div>
<span class="edit_form_box"></span>
{% endif %}
