{% extends "base_mobile.html" %}
{% load liked_user %}
{% block title %}Сообщества {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}
{% block content %}

<div class="container mt-3">
    <div class="card-header p-0">
      <div class="dropdown">
          <button type="button" class="btn btn-secondary" style="width:100%;">
            Сообщества {{ user.first_name|gent }} {{ user.last_name|gent }} ({{ user.count_community }})
          </button>
      </div>
    </div>
    <div class="card mb-2">
        <div class="card">
            <div class="card-body">
                <div class="input-group mb-3" style="display:flex">
                    <input type="text" class="form-control" placeholder="Поиск сообществ">
                    <div class="input-group-append">
                        <button class="btn btn-outline-link" type="button">Искать</button>
                    </div>
                </div>
                {% if object_list %}

                <ul class="list-group" id="communities_container" data-link="/users/{{ user.pk }}/communities">
                    {% for object in object_list %}
                    <li class="list-group-item pag {% if forloop.last %}last{% endif %}">
                        <div class="media">
                            <a href="{% url 'community_detail' pk=object.pk %}" class="ajax" data-html="#ajax">
                                <figure>
                                  {% if object.get_avatar %}
                                    <img src="{{ object.get_avatar }}" style="border-radius:50px;width:50px;" alt="image">
                                  {% else %}
                                    <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
                                  {% endif %}
                                </figure>
                            </a>
                            <div class="media-body">
                                <a href="{% url 'community_detail' pk=object.pk %}" class="ajax">
                                    <h6 class="my-0 mt-1">{{ object.name }}
                                    </h6>
                                </a>
                                <p class="small">{{ object.count_members }} {{ object.count_members|rupluralize:"подписчик,подписчика,подписчиков" }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

                {% else %}
                <div class="card post_empty" style="align-items: center;justify-content:center;">
                  <div class="card-body">
                  <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
                  </div>
                  <h6 style="margin: 20px;text-align: center;"> Пока сообществ нет...</h6>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
