{% extends "base_mobile.html" %}
{% block title %}{{ community.name }} - {{ list.name }}{% endblock %}
{% load get_key %}
{% block content %}

<div class="container main-container pk_saver mt-3" data-pk="{{ community.pk }}">
  {% if count_lists > 1 %}
    {% include 'mobile/communities/video/main_list/lists.html' %}
  {% endif %}
<span class="load_block">

<div class="media mt-3 uuid_saver" data-uuid="{{ list.uuid }}" style="padding-left: 7px">
  <h5 class="mt-1">
    {{ list.name }} ({{ list.count_items }})

    {% if list|is_user_can_add_list:request.user.pk %}
      <span class="pointer badge badge-light-success u_copy_video_list">Добавить список в коллекцию</span>
    {% elif request.user.pk in list.get_users_ids %}
      <span class="pointer badge badge-light-danger u_uncopy_video_list">Удалить список из коллекции</span>
    {% endif %}
    <span class="pointer badge badge-light-warning u_video_list_claim">Пожаловаться</span>
  </h5>
</div>
          <div class="card mb-2">
              <div class="card-body">
                <div class="video_playlist" id="movies_container">
                  <div class="row is_paginate" data-list="/communities/{{ community.pk }}/video">
                    {% if object_list %}
                      {% for object in object_list %}
                        {% include 'mobile/communities/video/main_list/video.html' %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <div class="load centered m-1 next_page_list" data-link="{% url 'community_video' pk=community.pk %}?page={{ page_obj.next_page_number }}">
                          <img src="/static/images/preloader.gif">
                      </div>
                      {% endif %}

                    {% else %}
                      <div class="card items_empty centered">
                        <div class="card-body" style="margin-top: 10%;">
                        <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'>
                          <path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                        </div>
                        <h6 style="margin: 20px;text-align: center;">В списке пока нет видео. <a href="" class="ajax underline">Перейдите в видео каталог</a> и выбирайте из сотен тысяч роликов</h6>
                      </div>
                    {% endif %}

                  </div>
                </div>
              </div>
          </div>
      </span>
</div>

{% endblock %}
