{% extends "base.html" %}
{% block title %}Правила пользования{% endblock %}
{% block content %}
<style>
.doc_sub_item{
  font-weight:bold;
  font-size: 18px;
}
.doc_sub2_item{
  font-weight:bold;
  font-size: 15px;
}
.doc_item{
  margin-bottom: 15px;
  margin-top: 15px;
}
.doc_p{
  padding-left:20px;
}
.doc_2p{
  padding-left:35px;
}
.doc_3p{
  padding-left:50px;
}
.doc_4p{
  padding-left:65px;
}
.doc_5p{
  padding-left:80px;
}
</style>

<div class="container mt-4 main-container text-center card">
    <h1 class="mb-0 doc_item">Правила пользования</h1>
    <p class="content-color-secondary">
      Добро пожаловать на Сайт трезвый.рус, интернет-ресурс, который решает проблему чистого содердания в интернет-пространстве.
      Сайт трезвый.рус – это социальная сеть, объединяющий людей на основании принципов нравственности и трезвости.
      Администрация Сайта предоставляет Вам доступ к использованию Сайта трезвый.рус и его функционала на условиях,
      являющихся предметом настоящих Правил пользования Сайтом трезвый.рус. В этой связи Вам необходимо внимательно ознакомиться с условиями настоящих
      Правил, которые рассматриваются Администрацией Сайта как публичная оферта в соответствии со ст. 437 Гражданского кодекса Российской Федерации.
    </p>
</div>
<div class="container mt-4 main-container">
  <h3 class="doc_item">1. Термины, используемые в настоящих Правилах</h3>
  <p class="doc_p"><span class="doc_sub_item">1.1. Сайт трезвый.рус (или Сайт)</span> - социальная сеть, размещенная на сайте в сети Интернет по адресу: трезвый.рус
  (включая все уровни указанного домена, как функционирующие на дату принятия Пользователем настоящих Правил, так и запускаемые и вводимые в эксплуатацию
  в течение всего срока его действия) и доступная Пользователю через сайт, мобильную версию сайта, приложения и иные ресурсы, представляющая собой
  результат интеллектуальной деятельности в форме программы для ЭВМ. Социальная сеть представлена в объективной форме совокупностью данных и команд,
  и порождаемых аудиовизуальных отображений (включая входящие в ее состав графические изображения и пользовательский интерфейс), (далее – данные и
  команды), предназначенных для функционирования ЭВМ и мобильных устройств в целях получения определенного результата в виде организации функционала
  социальной сети. Совокупность данных и команд состоит из активированных и неактивированных данных и команд.</p>
  <p class="doc_p"><span class="doc_sub_item">1.2. Неактивированные данные и команды</span> – данные, команды и порождаемые аудиовизуальные отображения, позволяющие увеличить количество
  виртуальных ценностей, используемых в рамках функциональных возможностей Сайта. Условия предоставления Администрацией Пользователю права на
  использование неактивированных данных и команд определены в лицензионном соглашении, действующая редакция которого располагается в свободном доступе
  в сети Интернет по адресу: http://трезвый.рус/about/licence, заключаемом Администрацией Сайта с Пользователем.</p>

  <h3 class="doc_item">2. Статус Правил пользования Сайтом трезвый.рус</h3>
  <p class="doc_p"><span class="doc_sub_item">2.1.</span> Настоящие Правила пользования Сайтом ВКонтакте (ранее и далее – Правила) разработаны
    Администрацией Сайта и определяют условия использования и развития Сайта, а также права и обязанности его Пользователей и Администрации. Правила
    распространяются также на отношения, связанные с правами и интересами третьих лиц, не являющимися Пользователями Сайта, но чьи права и интересы
    могут быть затронуты в результате действий Пользователей Сайта.</p>
  <p class="doc_p"><span class="doc_sub_item">2.2.</span> Настоящие Правила являются юридически обязательным соглашением между Пользователем и Администрацией Сайта, предметом которого
    является предоставление Администрацией Сайта Пользователю доступа к использованию Сайта и его функционала. Помимо настоящих Правил, к соглашению
    между Пользователем и Администрацией Сайта относятся все специальные документы, регулирующие предоставление доступа к использованию отдельного
    функционала Сайта (в том числе его неактивированных данных и команд), размещенного в соответствующих разделах Сайта в сети Интернет.</p>
  <p class="doc_p"><span class="doc_sub_item">2.3.</span> Пользователь обязан полностью ознакомиться с настоящими Правилами до момента регистрации на
    Сайте. Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем настоящих Правил в соответствии со ст. 438
    Гражданского кодекса Российской Федерации.</p>
  <p class="doc_p"><span class="doc_sub_item">2.4.</span> Настоящие Правила могут быть изменены и/или дополнены Администрацией Сайта в одностороннем
    порядке без какого-либо специального уведомления. Настоящие Правила являются открытым и общедоступным документом. Действующая редакция Правил
    располагается в сети Интернет по адресу: http://трезвый.рус/terms. Администрация Сайта рекомендует Пользователям регулярно проверять условия
    настоящих Правил на предмет их изменения и/или дополнения. Продолжение использования Сайта Пользователем после внесения изменений и/или дополнений
    в настоящие Правила означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.</p>

  <h3 class="doc_item">3. Статус Сайта трезвый.рус</h3>
  <p class="doc_p"><span class="doc_sub_item">3.1.</span> Права на Сайт в целом и на использование сетевого адреса (доменного имени) трезвый.рус
    принадлежат Администрации Сайта. Последняя предоставляет доступ к Сайту всем заинтересованным лицам в соответствии с настоящими Правилами и
    действующим законодательством Российской Федерации.</p>
  <p class="doc_p"><span class="doc_sub_item">3.2.</span> Настоящими Правилами установлены условия, в соответствии с которыми права на использование
    информации и результатов интеллектуальной деятельности (включая, но не ограничиваясь литературными, музыкальными, аудиовизуальными произведениями и
    фонограммами, произведениями графики и дизайна, фотографическими произведениями, программами для ЭВМ) в составе отдельных разделов Сайта, могут
    принадлежать Пользователям Сайта и иным лицам, самостоятельно создавшим и/или разместившим указанные объекты на Сайте без непосредственного участия
    Администрации Сайта.</p>

  <h3 class="doc_item">4. Администрация Сайта трезвый.рус</h3>
  <p class="doc_p"><span class="doc_sub_item">4.1.</span> Под Администрацией Сайта трезвый.рус (ранее и далее – Администрация Сайта или Администрация)
    в настоящих Правилах и иных специальных документах, размещенных на Сайте, понимается круг заинтересованных лиц под руководством ИП Зубарева
    Сергея Витальевича</p>
  <p class="doc_p"><span class="doc_sub_item">4.2.</span> Обращения, предложения и претензии физических и юридических лиц к Администрации Сайта в связи
    с настоящими Правилами и всеми вопросами по функционированию Сайта, нарушениями прав и интересов третьих лиц при его использовании, а также для
    запросов уполномоченных законодательством Российской Федерации лиц могут быть направлены на почту ochkarik1983@mail.ru.</p>
  <p class="doc_p"><span class="doc_sub_item">4.3.</span> В отношении функционирования и развития Сайта Администрация руководствуется законодательством
    Российской Федерации, настоящими Правилами и иными специальными документами, которые разработаны или могут быть разработаны и приняты Администрацией
    Сайта в целях регламентации предоставления Пользователям доступа к отдельному функционалу Сайта.</p>
  <p class="doc_p"><span class="doc_sub_item">4.4.</span> Никакие положения настоящих Правил не предоставляют Пользователю право на использование
    фирменного наименования, товарных знаков, доменных имен и иных отличительных знаков Администрации Сайта. Право на использование фирменного
    наименования, товарных знаков, доменных имен и иных отличительных знаков Администрации Сайта может быть предоставлено исключительно по письменному
    соглашению с Администрацией Сайта.</p>

  <h3 class="doc_item">5. Регистрация на Сайте трезвый.рус и статус Пользователя</h3>

  <p class="doc_p"><span class="doc_sub_item">5.1.</span> Регистрация Пользователя на Сайте является бесплатной, добровольной и производится по адресу в сети Интернет: трезвый.рус</p>
  <p class="doc_p"><span class="doc_sub_item">5.2.</span> Пользователем Сайта является физическое лицо, зарегистрированное на Сайте в соответствии с
    установленным настоящими Правилами порядком, достигшее возраста, допустимого в соответствии с законодательством Российской Федерации для акцепта
    настоящих Правил, и обладающее соответствующими полномочиями (ранее и далее – Пользователь).</p>
  <p class="doc_p"><span class="doc_sub_item">5.3.</span>При регистрации на Сайте Пользователь обязан предоставить Администрации Сайта необходимую
    достоверную и актуальную информацию для формирования персональной страницы Пользователя, включая уникальные для каждого Пользователя логин и пароль
    доступа к Сайту, а также фамилию и имя. Регистрационная форма Сайта может запрашивать у Пользователя дополнительную информацию.</p>
  <p class="doc_p"><span class="doc_sub_item">5.4.</span>Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие
    законодательству Российской Федерации предоставленной при регистрации информации и ее чистоту от претензий третьих лиц.</p>
  <p class="doc_p"><span class="doc_sub_item">5.5.</span> После предоставления информации, указанной в п. 5.3. настоящих Правил, Пользователю
    необходимо пройти ряд удостоверительных процедур, а именно, (а) подтвердить регистрацию путем распознания автоматизированного теста,
    предназначенного для различия компьютеров и людей («капчи»); (б) подтвердить регистрацию путем введения в соответствующую форму на Сайте кода,
    полученного Пользователем в виде sms-сообщения или звонка от Администрации Сайта на мобильный телефон Пользователя, номер которого предоставляется самим
    Пользователем. В случае верного последовательного выполнения всех регистрационных действий на Сайте создается персональная страница Пользователя,
    имеющая сетевой адрес вида http://трезвый.рус/id[номер]. Пользователь вправе присвоить персональной странице короткое (поддоменное) имя, заменяющее
    порядковый номер id при адресации в сети Интернет. В качестве поддоменного имени не могут быть выбраны слова и наименования, использование которых
    запрещено в соответствии с настоящими Правилами, действующим законодательством Российской Федерации и международными правовыми актами, в том числе,
    но не ограничиваясь, нецензурная лексика, наименования, зарегистрированные как товарные знаки (вне зависимости от класса МКТУ), фирменные
    наименования и коммерческие обозначения, если пользователю не принадлежат исключительные права на них. В случае обнаружения нарушения данных
    условий Администрация вправе запретить Пользователю использование присвоенного им поддоменного имени, в том числе, если применимо, передать право
    его использования надлежащему лицу (представителю правообладателя). Пользователь вправе зарегистрировать не более одной персональной страницы на
    Сайте.</p>
  <p class="doc_p"><span class="doc_sub_item">5.6.</span>При регистрации Пользователь соглашается с настоящими Правилами и принимает на себя указанные
    в них права и обязанности, связанные с использованием и функционированием Сайта. Пользователь соглашается на получение посредством сервисов
    Администрации Сайта и/или сервисов третьих лиц электронных сообщений, sms и иных видов рассылок информационного, в т.ч. рекламно-информационного,
    содержания, в том числе от партнеров Администрации Сайта. Право использования неактивированных данных и команд предоставляется Пользователю при
    выполнении дополнительно к указанному выше условий лицензионного соглашения (см. п. 1.2. настоящих Правил).</p>
  <p class="doc_p"><span class="doc_sub_item">5.7.</span>После успешной регистрации Пользователя на Сайте Администрация принимает на себя права и
    обязанности перед Пользователем, указанные в настоящих Правилах.</p>
  <p class="doc_p"><span class="doc_sub_item">5.8.</span> Обработка персональных данных Пользователя осуществляется в соответствии с законодательством
    Российской Федерации. Администрация Сайта обрабатывает персональные данные Пользователя в целях предоставления Пользователю доступа к использованию
    функционала Сайта, в том числе в целях получения Пользователем таргетированной рекламы; проверки, исследования и анализа таких данных, позволяющих
    поддерживать и улучшать функционал и разделы Сайта, а также разрабатывать новый функционал и разделы Сайта. Администрация Сайта принимает все
    необходимые меры для защиты персональных данных Пользователя от неправомерного доступа, изменения, раскрытия или уничтожения. Администрация
    предоставляет доступ к персональным данным Пользователя только тем работникам, подрядчикам и агентам Администрации, которым эта информация
    необходима для обеспечения функционирования Сайта и предоставления Пользователю доступа к его использованию. Администрация Сайта вправе
    использовать предоставленную Пользователем информацию, в том числе персональные данные, а также передавать ее третьим лицам, в целях обеспечения
    соблюдения требований действующего законодательства Российской Федерации, защиты прав и интересов Пользователей, Администрации Сайта, третьих лиц
    (в том числе в целях выявления, проверки/расследования и/или пресечения противоправных действий). Раскрытие предоставленной Пользователем
    информации может быть произведено лишь в соответствии с действующим законодательством Российской Федерации по требованию суда, правоохранительных
    органов, а равно в иных предусмотренных законодательством Российской Федерации случаях. Поскольку Администрация Сайта осуществляет обработку
    персональных данных Пользователя в целях исполнения настоящих Правил, в силу положений законодательства о персональных данных согласие Пользователя
    на обработку его персональных данных не требуется.</p>
  <p class="doc_p"><span class="doc_sub_item">5.9.</span> Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для
    доступа Пользователя на Сайт. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их
    сохранность, самостоятельно выбирая способ их хранения. Пользователь на используемом им аппаратно-программном обеспечении может разрешить
    хранение логина и пароля (с использованием файлов cookies) для последующей автоматической авторизации на Сайте.</p>
  <p class="doc_p"><span class="doc_sub_item">5.10.</span>Если Пользователем не доказано обратное, любые действия, совершенные с использованием его
    логина и пароля, считаются совершенными соответствующим Пользователем. В случае несанкционированного доступа к логину и паролю и/или персональной
    странице Пользователя, или распространения логина и пароля Пользователь обязан незамедлительно сообщить об этом Администрации Сайта в
    установленном порядке.</p>
  <p class="doc_p"><span class="doc_sub_item">5.11.</span>После регистрации Пользователь получает право самостоятельно в личных целях создавать,
    использовать и определять содержание собственной персональной страницы и условия доступа других Пользователей к ее содержанию, а также получает
    возможности доступа и размещения информации на персональных страницах других Пользователей (при условии получения соответствующих прав доступа от
    их обладателей), использования социальных виджетов трезвый.рус на сторонних сайтах без дополнительной авторизации. При использовании социальных
    виджетов Пользователем сторонним сайтам не предоставляются данные о логине и пароле Пользователя, а также его данные, защищенные настройками
    приватности.</p>
  <p class="doc_p"><span class="doc_sub_item">5.12.</span> Пользователь как обладатель информации, размещенной на собственной персональной странице,
    осознает, что за исключением случаев, установленных настоящими Правилами и действующим законодательством Российской Федерации, Администрация Сайта
    не принимает участие в формировании и использовании содержания и контроле доступа других пользователей к персональной странице Пользователя.
    Размещая информацию на персональной странице, в том числе свои персональные данные, Пользователь осознает и соглашается с тем, что указанная
    информация может быть доступна другим пользователям сети Интернет с учетом особенностей архитектуры и функционала Сайта.</p>

  <p class="doc_p"><span class="doc_sub_item">5.13. Создание и использование Сообществ</span></p>

  <p class="doc_2p"><span class="doc_sub2_item">5.13.1.</span>Пользователь вправе создавать группы для целей информирования
    других Пользователей о каких-либо событиях, мероприятиях, организациях, как коммерческих, так и некоммерческих (например, благотворительных),
    их создании и деятельности, иных интересующих Пользователей материалах (далее – Объекты обсуждения), и/или/либо возможного обсуждения их с
    другими Пользователями (в том числе путем создания фан-клубов, обмена мнениями, отзывами и так далее). В процессе информирования и обсуждения в
    Сообществах Объектов обсуждений Пользователи обязаны соблюдать действующее российское и международное законодательство, а также размещать только
    такую информацию, которая соответствует настоящим Правилам, а также признанным этическим нормам и принципам морали, в том числе относящимся к
    таковым по мнению Администрации Сайта.</p>
  <p class="doc_2p"><span class="doc_sub2_item">5.13.2.</span>При создании и администрировании Сообщества, в том
    числе при регистрации поддоменного имени, используемого для адресации на страницу Сообщества, Пользователь подтверждает, что действует на законных
    основаниях (например, по доверенности), обладает всеми необходимыми правами и не нарушает своими действиями законные права и интересы третьих лиц
    и действующее законодательство Российской Федерации, в том числе законодательство о конкуренции и правах на результаты интеллектуальной
    деятельности и средства индивидуализации. Пользователь самостоятельно несет ответственность за совершение любых торговых операций по передаче
    права администрирования Сообществом. Такие торговые операции должны в полной мере соответствовать действующему законодательству РФ и совершаются
    Пользователем на свой страх и риск.</p>
  <p class="doc_2p"><span class="doc_sub2_item">5.13.3.</span>В Сообществе, в том числе в описании, на главной
    фотографии Сообщества, в альбомах, в новостях, обсуждениях, опросах, аудиозаписях, видеозаписях, на стене, не допускается размещение Контента
    (в значении, предусмотренном п. 7.1.1. настоящих Правил) целиком или по частям без предварительного разрешения правообладателя, а также
    информации, предусмотренной п. 6.3.4. настоящих Правил. Пользователь, администрирующий Сообщество, обязан самостоятельно следить и пресекать не
    соответствующее Правилам размещение информации в Сообществе, и при необходимости блокировать пользователям, нарушающим настоящие Правила, доступ к
    Сообществу, используя функциональные возможности Сайта.</p>
  <p class="doc_2p"><span class="doc_sub2_item">5.13.4.</span>Размещение рекламы в Сообществах:</p>
  <p class="doc_3p"><span class="doc_sub3_item">5.13.4.1.</span>В Сообществе, в том числе в описании, на главной фотографии Сообщества, в альбомах, в
    материалах, обсуждениях, опросах, закрепленных записях на стене, на обложке, в сообщениях, в историях Сообщества, в виджетах сообществ, в кнопке
    действия и т.д., за исключением прямо установленных настоящим пунктом случаев и нативных интеграций, не допускается размещение сторонней
    коммерческой и политической рекламы. На стене Сообщества (за исключением закрепленных записей, в которых реклама не допускается) вне Рекламной
    сети ВКонтакте может быть размещено не более 5 (Пяти) сторонних рекламных объявлений в сутки, из них вне Маркет-платформы трезвый.рус может быть
    размещено не более 3 (Трех) сторонних рекламных объявлений. Сторонней рекламой признается любая информация, за исключением нативных интеграций,
    не имеющая прямого отношения к Сообществу, распространяемая в любой форме как от лица Сообщества, так и от лица других сообществ и Пользователей,
    и направленная на привлечение внимания Пользователей к объекту рекламирования, формирование или поддержание интереса к нему. Пользователю,
    администрирующему Сообщество, необходимо самостоятельно следить и пресекать не соответствующее Правилам размещение сторонней рекламы в Сообществе.
    Сообщество может быть размещено в системе поиска Сайта ВКонтакте при обязательном соблюдении требований, предусмотренных в настоящем пункте.
    Подключение к Рекламной сети ВКонтакте осуществляется через специальный интерфейс управления Сообществом с обязательным указанием количества
    сторонних объявлений, от реализации права на размещение которых на стене Сообщества предоставляется отказ. При размещении сторонней рекламы в
    Сообществе, подключенном к Рекламной сети трезвый.рус, обязательно указание на рекламный характер информации в рамках имеющейся специальной
    функциональности Сайта (опция «это реклама»). Правила показа рекламы в рамках Рекламной сети трезвый.рус регулируются специальными документами.</p>
  <p class="doc_3p"><span class="doc_sub2_item">5.13.4.2</span> В Сообществе разрешается размещение нативных интеграций, соответствующих настоящим
    Правилам. Интеграции, не соответствующие настоящим Правилам, признаются сторонней рекламой. Нативной интеграцией признается такая органическая
    имплементация объекта продвижения третьего лица (товара/услуги/работы, средства индивидуализации юридического лица и (или) товара/услуги/работы,
    изготовителя или продавца товара/услуги/работы, результатов интеллектуальной деятельности либо мероприятия третьего лица (в том числе спортивного
    соревнования, концерта, конкурса, фестиваля)) без очевидного акцента на него в информационный материал Сообщества, при которой информационный
    материал Сообщества соответствует общей тематике и стилю Сообщества и обладает самостоятельной смысловой ценностью.</p>
  <p class="doc_4p"><span class="doc_sub2_item">5.13.4.2.1.</span> При размещении нативных интеграций должны соблюдаться следующие требования:</p>
  <p class="doc_5p"><span class="doc_sub2_item">5.13.4.2.1.1.</span> Имплементация объекта продвижения на обложку, главную фотографию Сообщества и в
    закрепленные записи на стене Сообщества допускается при условии, что общий стиль Сообщества остается неизменным, а интеграция не носит
    доминирующего характера в таком информационном материале Сообщества.</p>
  <p class="doc_5p"><span class="doc_sub2_item">5.13.4.2.1.2.</span> Не допускаются нативные интеграции объектов продвижения, которые нарушают настоящие Правила</p>
  <p class="doc_5p"><span class="doc_sub2_item">5.13.4.2.1.2.</span> Не признаются нативными интеграциями имплементации мероприятий третьего лица в
    случае, если среди обязательных условий участия в них присутствуют указания осуществления следующих действий: подписаться на сообщество
    совершить покупку; поставить «Нравится»; поделиться записью.</p>
  <p class="doc_4p"><span class="doc_sub2_item">5.13.4.2.2.</span> Содержание нативных интеграций должно соответствовать следующим требованиям:</p>
  <p class="doc_5p"><span class="doc_sub2_item">5.13.4.2.2.1.</span> Нативные интеграции не должны носить очевидно рекламный характер, т.е. привлекать
    основное внимание в рамках информационного материала Сообщества</p>
  <p class="doc_5p"><span class="doc_sub2_item">5.13.4.2.2.2.</span> Информационный материал Сообщества с нативной интеграцией должен в полной мере
    соответствовать тематике Сообщества, обладать самостоятельной смысловой ценностью, гармонично вписываясь в стиль Сообщества</p>
  <p class="doc_5p"><span class="doc_sub2_item">5.13.4.2.2.3.</span> Нативные интеграции могут содержать гиперссылки на сторонние ресурсы для получения
    дополнительной информации, однако переход по таковым не должен быть обязательным условием получения основной информации</p>
  <p class="doc_5p"><span class="doc_sub2_item">5.13.4.2.2.4.</span> Нативной интеграцией в видео признается упоминание объекта продвижения
    (как устное в ходе повествования, так и визуальная демонстрация), обусловленное творческим характером видео и гармонично вписывающееся в сюжет.</p>
</div>

{% endblock %}
