{% extends "base.html" %}
{% block title %}Правила пользования{% endblock %}
{% block content %}
<style>
.doc_sub_item{
  font-weight:bold;
  font-size: 24px;
}
</style>

<div class="container mt-4 main-container text-center card">
    <h1 class="mb-0">Правила пользования</h1>
    <p class="content-color-secondary">
      Добро пожаловать на Сайт трезвый.рус, интернет-ресурс, который решает проблему чистого содердания в интернет-пространстве.
      Сайт трезвый.рус – это социальная сеть, объединяющий людей на основании принципов нравственности и трезвости.
      Администрация Сайта предоставляет Вам доступ к использованию Сайта трезвый.рус и его функционала на условиях,
      являющихся предметом настоящих Правил пользования Сайтом трезвый.рус. В этой связи Вам необходимо внимательно ознакомиться с условиями настоящих
      Правил, которые рассматриваются Администрацией Сайта как публичная оферта в соответствии со ст. 437 Гражданского кодекса Российской Федерации.
    </p>
</div>
<div class="container mt-4 main-container">
  <h3 class="doc_item">1. Термины, используемые в настоящих Правилах</h3>
  <p><span class="doc_sub_item">1.1. Сайт трезвый.рус (или Сайт)</span> - социальная сеть, размещенная на сайте в сети Интернет по адресу: трезвый.рус
  (включая все уровни указанного домена, как функционирующие на дату принятия Пользователем настоящих Правил, так и запускаемые и вводимые в эксплуатацию
  в течение всего срока его действия) и доступная Пользователю через сайт, мобильную версию сайта, приложения и иные ресурсы, представляющая собой
  результат интеллектуальной деятельности в форме программы для ЭВМ. Социальная сеть представлена в объективной форме совокупностью данных и команд,
  и порождаемых аудиовизуальных отображений (включая входящие в ее состав графические изображения и пользовательский интерфейс), (далее – данные и
  команды), предназначенных для функционирования ЭВМ и мобильных устройств в целях получения определенного результата в виде организации функционала
  социальной сети. Совокупность данных и команд состоит из активированных и неактивированных данных и команд.</p>
  <p><span class="doc_sub_item">1.2. Неактивированные данные и команды</span> – данные, команды и порождаемые аудиовизуальные отображения, позволяющие увеличить количество
  виртуальных ценностей, используемых в рамках функциональных возможностей Сайта. Условия предоставления Администрацией Пользователю права на
  использование неактивированных данных и команд определены в лицензионном соглашении, действующая редакция которого располагается в свободном доступе
  в сети Интернет по адресу: http://трезвый.рус/about/licence, заключаемом Администрацией Сайта с Пользователем.</p>
</div>

{% endblock %}
