{% extends "base.html" %}
{% block title %}Правила пользования{% endblock %}
{% block content %}
<style>
.doc_sub_item{
  font-weight:bold;
  font-size: 18px;
}
.doc_item{
  margin-bottom: 15px;
}
.doc_p{
  padding-left:20px;

}
</style>

<div class="container mt-4 main-container text-center card">
    <h1 class="mb-0 doc_item">Правила пользования</h1>
    <p class="content-color-secondary">
      Добро пожаловать на Сайт трезвый.рус, интернет-ресурс, который решает проблему чистого содердания в интернет-пространстве.
      Сайт трезвый.рус – это социальная сеть, объединяющий людей на основании принципов нравственности и трезвости.
      Администрация Сайта предоставляет Вам доступ к использованию Сайта трезвый.рус и его функционала на условиях,
      являющихся предметом настоящих Правил пользования Сайтом трезвый.рус. В этой связи Вам необходимо внимательно ознакомиться с условиями настоящих
      Правил, которые рассматриваются Администрацией Сайта как публичная оферта в соответствии со ст. 437 Гражданского кодекса Российской Федерации.
    </p>
</div>
<div class="container mt-4 main-container">
  <h3 class="doc_item">1. Термины, используемые в настоящих Правилах</h3>
  <p class="doc_p"><span class="doc_sub_item">1.1. Сайт трезвый.рус (или Сайт)</span> - социальная сеть, размещенная на сайте в сети Интернет по адресу: трезвый.рус
  (включая все уровни указанного домена, как функционирующие на дату принятия Пользователем настоящих Правил, так и запускаемые и вводимые в эксплуатацию
  в течение всего срока его действия) и доступная Пользователю через сайт, мобильную версию сайта, приложения и иные ресурсы, представляющая собой
  результат интеллектуальной деятельности в форме программы для ЭВМ. Социальная сеть представлена в объективной форме совокупностью данных и команд,
  и порождаемых аудиовизуальных отображений (включая входящие в ее состав графические изображения и пользовательский интерфейс), (далее – данные и
  команды), предназначенных для функционирования ЭВМ и мобильных устройств в целях получения определенного результата в виде организации функционала
  социальной сети. Совокупность данных и команд состоит из активированных и неактивированных данных и команд.</p>
  <p class="doc_p"><span class="doc_sub_item">1.2. Неактивированные данные и команды</span> – данные, команды и порождаемые аудиовизуальные отображения, позволяющие увеличить количество
  виртуальных ценностей, используемых в рамках функциональных возможностей Сайта. Условия предоставления Администрацией Пользователю права на
  использование неактивированных данных и команд определены в лицензионном соглашении, действующая редакция которого располагается в свободном доступе
  в сети Интернет по адресу: http://трезвый.рус/about/licence, заключаемом Администрацией Сайта с Пользователем.</p>

  <h3 class="doc_item">2. Статус Правил пользования Сайтом трезвый.рус</h3>
  <p class="doc_p"><span class="doc_sub_item">2.1.</span> Настоящие Правила пользования Сайтом ВКонтакте (ранее и далее – Правила) разработаны
    Администрацией Сайта и определяют условия использования и развития Сайта, а также права и обязанности его Пользователей и Администрации. Правила
    распространяются также на отношения, связанные с правами и интересами третьих лиц, не являющимися Пользователями Сайта, но чьи права и интересы
    могут быть затронуты в результате действий Пользователей Сайта.</p>
  <p class="doc_p"><span class="doc_sub_item">2.2.</span> Настоящие Правила являются юридически обязательным соглашением между Пользователем и Администрацией Сайта, предметом которого
    является предоставление Администрацией Сайта Пользователю доступа к использованию Сайта и его функционала. Помимо настоящих Правил, к соглашению
    между Пользователем и Администрацией Сайта относятся все специальные документы, регулирующие предоставление доступа к использованию отдельного
    функционала Сайта (в том числе его неактивированных данных и команд), размещенного в соответствующих разделах Сайта в сети Интернет.</p>
  <p class="doc_p"><span class="doc_sub_item">2.3.</span> Пользователь обязан полностью ознакомиться с настоящими Правилами до момента регистрации на
    Сайте. Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем настоящих Правил в соответствии со ст. 438
    Гражданского кодекса Российской Федерации.</p>
  <p class="doc_p"><span class="doc_sub_item">2.4.</span> Настоящие Правила могут быть изменены и/или дополнены Администрацией Сайта в одностороннем
    порядке без какого-либо специального уведомления. Настоящие Правила являются открытым и общедоступным документом. Действующая редакция Правил
    располагается в сети Интернет по адресу: http://трезвый.рус/terms. Администрация Сайта рекомендует Пользователям регулярно проверять условия
    настоящих Правил на предмет их изменения и/или дополнения. Продолжение использования Сайта Пользователем после внесения изменений и/или дополнений
    в настоящие Правила означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.</p>

</div>

{% endblock %}
