<li class="pag" style="padding-bottom:10px">
  <span class="span1 {{ object.list.uuid }}"></span>
    <div class="media" music-counter="{{ object.order }}" style="align-items: unset;position: relative;">
        <figure>
          <a class="pointer music_list_item">
            {{ object.get_image|safe }}
          </a>
        </figure>
        <div class="media-body" style="line-height: 0.4;">
            <h6 class="music_list_item pointer" style="width: 84%;overflow: hidden;"><a>{{ object.title }}</a></h6>
            {% if object.genre %}
            <a class="ajax" href="{% url 'genre_music' pk=object.genre.pk %}">{{ object.genre }}</a>
            {% endif %}
              <span class='span_btn' style="float:right;margin-top: -25px;display:flex" data-pk="{{ object.pk }}">
                {% include 'desctop/generic/music/add_drop.html' %}
                <div class="dropdown" style="position: inherit;">
                  <a class="btn_default drop pointer">
                    <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
                  </a>
                    <div class="dropdown-menu dropdown-menu-right" data-type="mus{{ object.pk }}" style="top: 25px;">
                        <span class="dropdown-item create_repost">Поделиться</span>
                        <span class="dropdown-item u_track_edit">Изменить</span>
                        <span class="dropdown-item copy_link">Копировать ссылку</span>
                        <span class="dropdown-item u_track_remove">Удалить</span>
                    </div>
                </div>
              </span>
        </div>
    </div>
</li>
