
<div class="media mt-3" style="display:flex;align-items: flex-start;padding-left: 7px;padding-right: 7px;">
  <h5 class="mt-1" style="flex: 1;">Альбомы</h5>
  <span>{{ user.count_albums }}</span>
</div>
<div class="row overflow-x-auto no-gutters">
  <div class="col-12">
  <ul class="date-list" style="width:max-content">
    {% for object in user.get_all_albums %}
        <li class="date">
          <div class="cover_block" data-pk="{{ user.pk }}" data-uuid="{{ object.uuid }}">
              <div class="card rounded-0 border-0">
                  <div class="card-header">
                      <div class="media">
                          <div class="media-body" style="white-space:nowrap;overflow:hidden;">
                              <h6 class="mb-0">{{ object.title }}</h6>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                    <a href="{% url 'user_album' pk=user.pk uuid=object.uuid %}" class="ajax">
                        {% if object.get_cover_photo %}
                          <img style="object-fit: cover;height: 150px;width: 170px;" src="{{ object.get_cover_photo.file.url }}" />
                        {% else %}
                          <img style="object-fit: cover;height: 150px;width: 170px;" src="/static/images/no_img/album.jpg" />
                        {% endif %}
                      <p class="mb-0 f-sm albom_description" style="color:black !important">{{ object.description }}</p>
                    </a>
                  </div>
              </div>
          </div>
        </li>
    {% endfor %}
  </ul>
  </div>
</div>
