

{% if albums_list %}
<div style="margin-left: 0;margin-right: 0;display: flex;flex-wrap: wrap;">
    {% for object in albums_list %}
        <div class="card rounded-0 border-0" style="flex: 0 0 50%;max-width:50%;padding:5px;">
            <div class="media">
                <div class="media-body" style="white-space:nowrap;overflow:hidden;">
                    <h6 class="mb-0">{{ object.title }}</h6>
                </div>
            </div>
            <div class="card-body">
              <a href="{% url 'user_album' pk=user.pk uuid=object.uuid %}" class="ajax">
                {% if object.pk == avatars_album.pk %}
                  {% if object.get_cover_photo_for_avatars %}
                    <img class="image_fit_160" src="{{ object.get_cover_photo_for_avatars.file.url }}" />
                  {% else %}
                    <img class="image_fit_160" src="/static/images/no_album_photo.png" />
                  {% endif %}
                {% else %}
                  {% if object.get_cover_photo %}
                    <img class="image_fit_160" src="{{ object.get_cover_photo.file.url }}" />
                  {% else %}
                    <img class="image_fit_160" src="/static/images/no_album_photo.png" />
                  {% endif %}
                {% endif %}
                <p class="mb-0 content-color-secondary f-sm albom_description">{{ object.description }}</p>
              </a>
            </div>
        </div>
    {% endfor %}
  </div>
{% endif %}
