{% extends "base_mobile.html" %}
{% block title %}Мои фотографии{% endblock %}
{% block content %}

<div class="container mt-3 pk_saver" data-pk="{{ user.pk }}" data-uuid="{{ album.uuid }}">
  <div class="card-header p-0">
    <div class="row no-gutters">
      <div style="flex: 0 0 50%;max-width:50%;padding:5px;">
        <span class="btn btn-sm btn-warning warning-gradient u_album_add" style="width: -webkit-fill-available;">Добавить альбом</span>
      </div>
      <div style="flex: 0 0 50%;max-width:50%;padding:5px;">
        <form id="add_photos" method="post">
          {% csrf_token %}
          <input type="file" id="u_gallery_photo_add" name="file" style="display:none" multiple="multiple">
          <span class="btn btn-sm btn-warning warning-gradient" id="u_add_multi_photos" style="width: -webkit-fill-available;">Добавить фото</span>
        </form>
      </div>
    </div>
  </div>
  <ul class="date-list" style="width: 1175.94px;">
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>SUN</small></p>
                                      <h6 class="content-color-primary mb-0">1</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Mon</small></p>
                                      <h6 class="content-color-primary mb-0">2</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Tue</small></p>
                                      <h6 class="content-color-primary mb-0">3</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Wed</small></p>
                                      <h6 class="content-color-primary mb-0">4</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Thu</small></p>
                                      <h6 class="content-color-primary mb-0">5</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Fri</small></p>
                                      <h6 class="content-color-primary mb-0">6</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Sat</small></p>
                                      <h6 class="content-color-primary mb-0">7</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>SUN</small></p>
                                      <h6 class="content-color-primary mb-0">8</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Mon</small></p>
                                      <h6 class="content-color-primary mb-0">9</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Tue</small></p>
                                      <h6 class="content-color-primary mb-0">10</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Wed</small></p>
                                      <h6 class="content-color-primary mb-0">11</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Thu</small></p>
                                      <h6 class="content-color-primary mb-0">12</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Fri</small></p>
                                      <h6 class="content-color-primary mb-0">13</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Sat</small></p>
                                      <h6 class="content-color-primary mb-0">14</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>SUN</small></p>
                                      <h6 class="content-color-primary mb-0">15</h6>
                                  </li>
                                  <li class="date pink-gradient active">
                                      <p class="content-color-secondary mb-0"><small>Mon</small></p>
                                      <h6 class="content-color-primary mb-0">16</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Tue</small></p>
                                      <h6 class="content-color-primary mb-0">17</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Wed</small></p>
                                      <h6 class="content-color-primary mb-0">18</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Thu</small></p>
                                      <h6 class="content-color-primary mb-0">19</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Fri</small></p>
                                      <h6 class="content-color-primary mb-0">20</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Sat</small></p>
                                      <h6 class="content-color-primary mb-0">21</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>SUN</small></p>
                                      <h6 class="content-color-primary mb-0">22</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>MON</small></p>
                                      <h6 class="content-color-primary mb-0">23</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Tue</small></p>
                                      <h6 class="content-color-primary mb-0">24</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Wed</small></p>
                                      <h6 class="content-color-primary mb-0">25</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Thu</small></p>
                                      <h6 class="content-color-primary mb-0">26</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Fri</small></p>
                                      <h6 class="content-color-primary mb-0">27</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Sat</small></p>
                                      <h6 class="content-color-primary mb-0">28</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Sun</small></p>
                                      <h6 class="content-color-primary mb-0">29</h6>
                                  </li>
                                  <li class="date">
                                      <p class="content-color-secondary mb-0"><small>Mon</small></p>
                                      <h6 class="content-color-primary mb-0">30</h6>
                                  </li>
                              </ul>
{% include 'mobile/users/user_gallery/my_albums.html' %}

<div class="media mt-3" style="display:flex;align-items: flex-start">
  <h5 class="mt-1" style="flex: 1;">Мои фото</h5>
  <span>Фото: {{ album.count_photo }}</span>
</div>

<div id="photo_load" data-link="/gallery/user/photos/{{ user.pk }}/"></div>

</div>

{% endblock %}
