{% extends "base_anon.html" %}
{% block title %}Фотографии {{ user.get_full_name_genitive }}{% endblock %}
{% block content %}

<div class="container-fluid mt-3 pk_saver" data-pk="{{ user.pk }}">

<div class="container mt-4">
  {% include 'desctop/users/photos/main_list/lists.html' %}
</div>

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
        <div class="col-12">
            <h5 class="mt-1">Фотографии
                {% include 'desctop/generic/user/user_gen.html' %}
            </h5>
            Фото: {{ list.count_items }}
        </div>
    </div>
</div>

<div class="container mt-4 main-container">
  <div class="row is_block_paginate no-gutters" data-link="/gallery/user/photos/{{ user.pk }}/"></div>
</div>
</div>
{% endblock %}
