{% extends "base_anon.html" %}
{% block title %}Фотографии {{ user.get_full_name_genitive }}{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/users/{{ user.pk }}/photos/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Фотографии {{ user.get_full_name_genitive }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ user.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="main-container mt-3 pk_saver" data-pk="{{ user.pk }}" data-type="user_photos">

<div class="container mt-4">
    {% include 'desctop/users/photos/main_list/lists.html' %}
</div>

<span class="load_block">
<div class="media mt-3 uuid_saver" data-pk="{{ list.pk }}" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
  <h5 class="mt-1">
    {{ list.name }} ({{ list.count_items }})
    <span class="pointer badge badge-light-primary copy_link">Копировать ссылку</span>
  </h5>
</div>

<div class="container mt-4 main-container">
  <div class="row is_block_paginate is_paginate is_stat_list" data-pk="{{ list.pk }}" data-type="{% if list.community %}community{% else %}user{% endif %}_photo_list" data-link="/gallery/user/photos/{{ user.pk }}/"></div>
</div>
</span>
</div>
{% endblock %}
