
<div class="media mt-3" style="padding-left: 7px;">
    <h5 class="mt-1" style="flex: 1;">Фотоальбомы
      <a class="underline ajax" href="{% url 'user' pk=user.pk %}">
        {{ user.get_full_name_genitive }}
      </a>
      ({{ count_lists }})
    </h5>
</div>
<div class="row no-gutters" style="overflow-x: auto;">
    <div class="col-12">
        <ul class="drag_list" style="width:max-content;list-style: none;">
            {% for object in get_lists %}
            {% if object.community %}
            <li class="list_item c_photo_list mr-2" data-pk="{{ object.pk }}">
                <div class="text-center bg-dark position-relative border community" data-uuid="{{ object.uuid }}" data-pk="{{ object.community.pk }}">
                    <figure class="background-img">
                        <img class="image_fit_200" src="{{ object.get_cover_photo }}">
                    </figure>
                    <div class="container p-3" style="white-space: nowrap;">
                        <h6 class="text-white pointer">
                            <span class="pointer nowrap list_name list_toggle load_profile_photo_list">{{ object.name }}</span>
                        </h6>
                        <span class="text-white count handle">{{ object.count_items_ru }}</span>

                        <hr style="margin-bottom: 3rem !important">
                        <a class="ajax underline" href="{{ object.community.get_link }}">
                          {{ object.community.name }}
                        </a>
                    </div>
                </div>
            </li>
            {% else %}
            <li class="list_item u_photo_list mr-2" data-pk="{{ object.pk }}">
                <div class="text-center bg-dark position-relative border" data-uuid="{{ object.uuid }}" data-pk="{{ object.creator.pk }}">
                    <figure class="background-img">
                        <img class="image_fit_200" src="{{ object.get_cover_photo }}">
                    </figure>
                    <div class="container p-3" style="white-space: nowrap;">
                        <h6 class="text-white pointer">
                            <span class="pointer list_name nowrap list_toggle load_profile_photo_list">{{ object.name }}</span>
                        </h6>
                        <span class="text-white count handle">{{ object.count_items_ru }}</span>

                        <hr style="margin-bottom: 3rem !important">
                        <a class="ajax underline" href="{{ object.creator.get_link }}">
                          {{ object.creator.get_full_name }}
                        </a>
                    </div>
                </div>
            </li>
            {% endif %}
            {% endfor %}
            <li class="list_item">
                <div class="card file-manager-item folder border u_photo_list_add pointer">
                    <div class="card-img-top file-logo-wrapper">
                        <div class="d-flex align-items-center justify-content-center w-100">
                            <svg class="svg_default" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="content-wrapper">
                            <p class="card-text file-name mb-0" style="padding-bottom: 6px;">Создать список</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
