{% extends "base.html" %}
{% block title %}Фотографии {{ user.get_full_name_genitive }}{% endblock %}
{% load get_key %}
{% block content %}

<div class="main-container mt-3 pk_saver user_gallery_container" data-pk="{{ user.pk }}">

<div class="mt-4">
  {% if count_lists > 1 %}
    {% include 'desctop/users/photos/main_list/lists.html' %}
  {% endif %}
</div>

<span class="load_block">
<div class="media mt-3 uuid_saver" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
  <h5 class="mt-1">
    {{ list.name }} ({{ list.count_items }})

    {% if list|is_user_can_add_list:request.user.pk %}
      <span class="pointer badge badge-light-success u_copy_photo_list">Добавить список в коллекцию</span>
    {% elif request.user.pk in list.get_users_ids %}
      <span class="pointer badge badge-light-danger u_uncopy_photo_list">Удалить список из коллекции</span>
    {% endif %}
    <span class="pointer badge badge-light-warning u_close_photo_list">Закрыть список</span>
    <span class="pointer badge badge-light-primary copy_link">Копировать ссылку</span>
  </h5>
</div>

  <div class="container mt-4">
      <div class="row is_block_paginate no-gutters" data-link="/gallery/user/photos/{{ user.pk }}/"></div>
  </div>
</span>
</div>
{% endblock %}
