{% extends "base_anon.html" %}
{% load liked_user get_key %}
{% block title %}Музыка {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}

{% block content %}

<div class="container mt-3 main-container">
    Музыку слушать и работать с треками могут только авторизованные пользователи. Пожалуйста, войдите в сеть и
    выбирайте из сотен тысяч песен
</div>


<script>

  {% if user.is_user_playlist %}
    playlist_block = document.querySelector('.music-dropdown');
    playlist_block.classList.remove('user_{{ user.pk }}');
  {% endif %}

  var page = 2;
  var loaded = false;
  onscroll = function(){
    try{
    var items = document.getElementById("tracks_container");

    if(items.getElementsByClassName('list-group-item').length === (page-1)*30){
    var height = document.documentElement.clientHeight-1;
    if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
      if (loaded){return};
      var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_3.open( 'GET', '/users/{{ user.pk }}/music/?page=' + page++, true );
      link_3.send();
      link_3.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        var elem = document.createElement('span');
        elem.innerHTML = link_3.responseText;
        if(elem.getElementsByClassName('list-group-item').length === 30){loaded = true;};
        items.append(elem);
        }
      }
    }}
  }catch{return}
  }
</script>
{% endblock %}
