{% extends "base.html" %}
{% load liked_user get_key %}
{% block title %}Музыка {{ user.first_name|gent }} {{ user.last_name|gent }}{% endblock %}

{% block content %}
<div class="container mt-3 main-container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
          <br>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск музыки">
            <div class="input-group-append">
              <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
          </div>

          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                  <div class="media-body">
                      <h5 class="mt-1">Музыка {{ user.first_name|gent }} {{ user.last_name|gent }}
                        <small class="content-color-secondary float-right mr-2 mt-1">Всего {{ user.get_music_count }}</small>
                      </h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                {% if object_list %}

                <div class="music_playlist" id="tracks_container" data-pk="{{ user.get_music_list_id }}">
                    <ul>
                      {% for object in object_list %}
                      <li class="list-group-item infinite-item id_{{ object.id }}">
                          <div class="media" music-counter="{{ forloop.counter0 }}">
                              <figure style="cursor:pointer">
                                <a class="music_list_item">
                                  {% if object.artwork_url %}
                                    <img style="width:50px;heigth:auto" src="{{ object.artwork_url }}" />
                                  {% else %}
                                    <svg fill="currentColor" style="width:50px;heigth:50px" class='svg_default' viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 5h-3v5.5c0 1.38-1.12 2.5-2.5 2.5S10 13.88 10 12.5s1.12-2.5 2.5-2.5c.57 0 1.08.19 1.5.51V5h4v2zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z"/></svg>
                                  {% endif %}
                                </a>
                              </figure>
                              <div class="media-body">
                                  <h6 class="music_list_item" style="cursor:pointer"><a>{{ object.title }}</a></h6>
                                  <a class="small ajax" href="{% url 'tag_all_music' pk=object.tag.pk %}">{{ object.tag }}</a>
                                    <span class='span_btn' style="float:right;" data-pk="{{ object.pk }}">
                                      <span style="cursor:pointer">
                                        {% if not request_user|is_track_exists:object.id %}
                                        <span class='track_add' title="Добавить">
                                          <svg fill='currentColor' style="width:25px;height:25px;" class='svg_default' viewBox='0 0 24 24'><path d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/><path d='M0 0h24v24H0z' fill='none'/></svg>
                                        </span>
                                        {% else %}
                                        <span class='track_remove' title="Удалить">
                                          <svg fill="currentColor" style="width:20px;height:20px;" class='svg_default' viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
                                        </span>
                                        {% endif %}
                                      </span>
                                      &nbsp;
                                      <span style="cursor:pointer" class='track_repost' title="Поделиться">
                                        <svg class='svg_default' style="width:20px;height:20px;" fill='currentColor' viewBox='0 0 24 24'><path d='M0 0h24v24H0z' fill='none'/><path d='M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z'/></svg>
                                      </span>
                                    </span>
                              </div>
                          </div>
                      </li>
                      {% endfor %}
                    </ul>
                </div>

                {% else %}
                <div class="card" style="align-items: center;justify-content:center;">
                  <div class="card-body" style="margin-top: 10%;">
                  <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'><path fill='none' d='M0 0h24v24H0z'/><path d='M12 3v10.55c-.59-.34-1.27-.55-2-.55-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4V7h4V3h-6z'/></svg>
                  </div>
                  <h6 style="margin: 20px;text-align: center;">У Вас пока нет музыки. <a href="{% url 'all_music' %}" style="text-decoration:underline;" class="ajax">Перейдите в каталог</a> музыкальных композиций и выбирайте из сотен тысяч треков</h6>
                </div>
                {% endif %}
              </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <br>
          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="{% url 'all_music' %}" class="ajax">Каталог музыки</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>

<script>

  var page = 2;
  var loaded = false;
  onscroll = function(){
    try{
    var items = document.getElementById("tracks_container");

    if(items.getElementsByClassName('list-group-item').length === (page-1)*30){
    var height = document.documentElement.clientHeight-1;
    if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
      if (loaded){return};
      var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_3.open( 'GET', '/users/{{ user.pk }}/music/?page=' + page++, true );
      link_3.send();
      link_3.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        var elem = document.createElement('span');
        elem.innerHTML = link_3.responseText;
        if(elem.getElementsByClassName('list-group-item').length === 30){loaded = true;};
        items.append(elem);
        }
      }
    }}
  }catch{return}
  }

  {% if user.is_user_playlist %}
    document.querySelector("body").classList.add('list_' + {{ user.get_music_list_id }});
  {% endif %}
</script>

{% endblock %}
