{% extends "base.html" %}
{% block title %}Моя музыка{% endblock %}

{% block content %}
<div class="container mt-3 main-container">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
          <br>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск музыки">
            <div class="input-group-append">
              <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
          </div>
          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                  <div class="media-body">
                      <h5 class="mt-1">Моя музыка
                        <small class="content-color-secondary float-right mr-2 mt-1">Всего {{ user.get_music.count }}</small>
                      </h5>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <span id="user_tracks_load" class="music_script_check"></span>
              </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <br>
          <div class="card mb-2">
              <div class="card-header">
                <div class="media">
                    <div class="media-body">
                      <h5 class="mt-1">
                        <a href="{% url 'all_music' %}" class="ajax">Каталог музыки</a>
                      </h5>
                    </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var link = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
    link.responseType = 'text';
    link.open( 'GET', '/users/detail/music_list/' + '{{ user.uuid }}', true );
    link.onreadystatechange = function () {
      if ( link.readyState == 4 ) {
          if ( link.status == 200 ) {
              var user_tracks_load = document.getElementById("user_tracks_load");
              user_tracks_load.innerHTML = link.responseText;
          }
      }
  };
  xhr.onload = function() {
    callback(link.response);
  }
  link.send( null );

  {% if user.is_user_playlist %}
    playlist_block = document.querySelector('.music-dropdown');
    playlist_block.classList.remove('user_{{ user.pk }}');
  {% endif %}

  var page = 2;
  var loaded = false;
  onscroll = function(){
    try{
    var items = document.getElementById("tracks_container");

    if(items.getElementsByClassName('list-group-item').length === (page-1)*30){
    var height = document.documentElement.clientHeight-1;
    if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
      if (loaded){return};
      var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_3.open( 'GET', '/users/detail/music_list/{{ user.uuid }}/?page=' + page++, true );
      link_3.send();
      link_3.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        var elem = document.createElement('span');
        elem.innerHTML = link_3.responseText;
        if(elem.getElementsByClassName('list-group-item').length === 30){loaded = true;};
        items.append(elem);
        }
      }
    }}
  }catch{return}
  }
</script>
{% endblock %}
