{% extends "base.html" %}
{% load staticfiles liked_user %}
{% block title %}
{% if user == request.user %}
Мои товары
{% else %}
Товары пользователя "{{ user.get_full_name }}"
{% endif %}
{% endblock %}
{% block content %}

<div class="container-fluid" style="margin-top:30px">
    <div class="row">
      <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск по товарам">
            <div class="input-group-append">
                <button class="btn btn-outline-link" type="button">Искать</button>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <button id="c_good_add" data-pk="{{ community.pk }}" class="btn btn-outline-success" style="margin-bottom:15px;width:100%;" type="button">
            Создать товар
        </button>
      </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#goods_load').html('').load("/goods/community/goods/" + {{ user.pk }});
    });
</script>

{% endblock %}
