{% extends "base_mobile.html" %}
{% load liked_user humanize thumbnail %}

{% block title %}{{ user.get_full_name }}{% endblock %}
{% block meta %}
<meta property="og:url" content="dvizhenie.tv" />
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:image" content="{% if user.profile.avatar %}http://xn--b1afgj5al1e.xn--p1acf/{{ user.profile.avatar }}{% else %}/static/images/user.png{% endif %}"/>
{% endblock %}
{% block content %}

<div class="container">
<div class="user_page">
      <div class="card mb-3">
          <span style="margin:25px;line-height: 1.3;">
            <h3 class="mb-0">{{ user.get_full_name }}</h3>
            {% if user.get_online %}
              <i class="text-success">Онлайн</i>
            {% else %}
              <i style="color:#888888">Был(а) {{ user.last_activity|naturaltime }}</i>
            {% endif %}
          </span>
          <div class="card-body">
              <div class="align-items-center no-gutters">
                  <a class="col">
                      <figure class="mx-auto mb-3" id="avatar_reload">
                        {% if user.get_avatar %}
                          <img src="{{ user.get_avatar.file.url }}" class="avatar_detail" style="cursor:pointer" data-uuid="{{ user.uuid }}" data-id="{{ user.get_avatar.id }}">
                        {% else %}
                          <svg fill="currentColor" class="svg_default" style="width:100%;height: auto;" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                        {% endif %}
                      </figure>
                  </a>
              </div>
          </div>
      </div>

      {% if user.get_pop_connection %}
      <div class="card mb-3">
        <a href="{% url 'frends' pk=user.pk %}" class="ajax">
          <div class="card-body py-2">
              <div class="media">
                  <div class="media-body">
                    <h6 class="my-0 text-truncated">{{ user.count_connections }} {{ user.count_connections|rupluralize:"друг,друга,друзей" }}</h6>
                    <p class="small">{{ user.get_online_connection_count }} онлайн</p>
                  </div>
                  {% for object in user.get_pop_connection %}
                    <figure style="width:50px;border-radius:50px;" class="avatar-50 staked">
                      {% if object.get_avatar %}
                      <img src="{{ object.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius:50px;" alt="image">
                      {% else %}
                      <img src="/static/images/user.jpg" style="border-radius:50px;" alt="image">
                      {% endif %}
                    </figure>
                  {% endfor %}
              </div>
          </div>
        </a>
        </div>
        {% endif %}
        {% if user.get_pop_followers %}
        <div class="card mb-3">
          <a href="{% url 'frends' pk=user.pk %}" class="ajax">
            <div class="card-body py-2">
                <div class="media">
                    <div class="media-body">
                      <h6 class="my-0 text-truncated">{{ user.count_followers }} {{ user.count_followers|rupluralize:"подписчик,подписчика,подписчиков" }}</h6>
                      <p class="small">{{ user.count_followers }} онлайн</p>
                    </div>
                    {% for object in user.get_pop_followers %}
                      <figure style="width:50px;border-radius:50px;" class="avatar-50 staked">
                        {% if object.get_avatar %}
                        <img src="{{ object.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius:50px;" alt="image">
                        {% else %}
                        <img src="/static/images/user.jpg" style="border-radius:50px;" alt="image">
                        {% endif %}
                      </figure>
                    {% endfor %}
                </div>
            </div>
          </a>
          </div>
          {% endif %}

          {% if user.get_pop_communities %}
          <div class="card mb-3">
            <a href="{% url 'communities' pk=user.pk %}" class="ajax">
              <div class="card-body py-2">
                  <div class="media">
                      <div class="media-body">
                        <h6 class="my-0 text-truncated">{{ user.count_community }} {{ user.count_community|rupluralize:"сообщество,сообщества,сообществ" }}</h6>
                        <p class="small">нет осоьых</p>
                      </div>
                      {% for object in user.get_pop_communities %}
                        <figure style="width:50px;border-radius:50px;" class="avatar-50 staked">
                          {% if object.get_avatar %}
                          <img src="{{ object.get_avatar.file|thumbnail_url:'avatar' }}" style="border-radius:50px;" alt="image">
                          {% else %}
                          <img src="/static/images/group.jpg" style="border-radius:50px;" alt="image">
                          {% endif %}
                        </figure>
                      {% endfor %}
                  </div>
              </div>
            </a>
              </div>
              {% endif %}

      {% include 'profile/music.html' %}

      {% include 'profile/gallery.html' %}

        <div id="stat_load"></div>

        <div id="lenta_load"></div>

</div>
</div>

<script>

  var page = 2;
  var loaded = false;
  onscroll = function(){
    var box = document.querySelectorAll('.infinite-item');
    for (var i = 0; i < box.length; i++) {
      if(!box[i].classList.contains("showed")){
        inViewport = elementInViewport(box[i]);
        if(inViewport){
          box[i].classList.add("showed");
          console.log(i + " получил класс showed");
          pk = box[i].getAttribute('item-pk');
          fetch('/users/progs/item_view/' + pk + "/")
    }}};

    try{
    var items = document.getElementById("lenta_container");

    if(items.getElementsByClassName('infinite-item').length === (page-1)*30){
    var height = document.documentElement.clientHeight-1;
    if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
      if (loaded){return};
      var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_3.open( 'GET', '/users/detail/list/{{ user.pk }}/?page=' + page++, true );
      link_3.send();
      link_3.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        var elem = document.createElement('span');
        elem.innerHTML = link_3.responseText;
        items_list = elem.querySelector(".stream");
        if(items_list.getElementsByClassName('infinite-item').length === 30){loaded = true;};
        items.append(items_list);
        }
      }
    }}
  }catch{return}
  }

  {% if user.is_user_playlist %}
    document.querySelector("body").classList.add('list_' + {{ user.get_music_list_id }});
  {% endif %}
</script>
{% endblock %}
