{% load humanize %}

<div class="card mb-3 pag {% if forloop.last %}last{% endif %}" data-uuid="{{ object.uuid }}" data-pk="{{ object.creator.pk }}">
  <div class="card-header">
      <div class="media">
        <a href="{% url 'community_detail' pk=object.community.pk %}" class="ajax">
          <figure>
            {% if community.get_avatar %}
              <img src="{{ community.get_avatar }}" style="border-radius: 50px;width:50px;" alt="image">
            {% else %}
              <svg fill="currentColor" class="svg_default svg_default_50" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/></svg>
            {% endif %}
          </figure>
        </a>
        
          <div class="media-body">
              <h6 class="mb-0">
                <a href="{% url 'community_detail' pk=object.community.pk %}" class="ajax">
                  {{ object.community.name }} &nbsp;
                </a>
              </h6>
              <p class="mb-0">{{ object.created|naturaltime }}</p>
          </div>
          <div class="dropdown d-inline-block">
              <a style="cursor:pointer" class="icon-30 btn_default drop">
                <svg class="svg_info" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <span class="dropdown-item js-textareacopybtn">Скопировать ссылку
                  <textarea style="opacity: 0;height:1px;width:1px" class="js-copytextarea">http://трезвый.рус{% url 'community_item_detail' uuid=object.uuid %}</textarea>
                </span>
                  <span class="dropdown-item post_claim">Пожаловаться</span>
              </div>
          </div>
      </div>
  </div>

  {% if object.parent %}
    {% include 'post_community/repost.html' %}
  {% endif %}
    <div class="c_fullscreen" style="cursor:pointer;padding-left: 15px;">
      {% if object.text %}
        <p class="">{{ object.text }}</p>
      {% endif %}
    </div>

    {% include 'generic/attach/c_post_attach.html' %}

    {% include 'post_community/info.html' %}


</div>
