{% extends "base_mobile.html" %}
{% block title %}Охват по неделям - {{ user.get_full_name }}{% endblock %}
{% load post_count %}
{% block content %}

<div class="main-container container mt-3">

  {% include 'mobile/users/settings/menu.html' %}

        <div class="card">
          <div class="card-header">
              <div class="media">
                  <div class="media-body">
										<h5 class="mt-1">Охват по неделям -
											{% include 'mobile/generic/user/user.html' %}
										</h5>
									</div>

                <button class="btn border dropdown-toggle mb-2 menu_drop">
                    Неделя
                </button>
                <div class="dropdown-menu" style="right: 15px;left: 15px; top: 60px;">
									<a class="dropdown-item ajax" href="{% url 'user_cuberture_year' %}">Год</a>
                  <a class="dropdown-item ajax" href="{% url 'user_cuberture_month' %}">Месяц</a>
                  <a class="dropdown-item ajax" href="{% url 'user_cuberture_day' %}">День</a>
                </div>

              </div>
          </div>

          <div class="card-body px-0 py-0">
            {% if views %}
            <div class="table-responsive">
						<canvas id="canvas"
										dates='{% for object in range %}{{ object }}{% if not forloop.last %},{% endif %}{% endfor %}'
										label_1="Общий охват"
										label_2="Рекламный охват"
										data_1="{% for view in views %}{{ view }}{% if not forloop.last %},{% endif %}{% endfor %}"
										data_2="0,1,2"
                    style="height: 20rem !important">
            </canvas>
            </div>
            {% else %}
            <div><h5 class="mt-4 mb-2" style="margin:10px">Статистических данных пока нет.</h5></div>
            {% endif %}

            {{ mf_ages|safe }}
          </div>
        </div>
    </div>
{% endblock %}
