{% load staticfiles humanize %}
<form id="photo_delete_form" method="post">
  {% csrf_token %}

  <div class="row justify-content-center">
    <div class="card">
      Удаление фотографии
      <div class="card-body">
        <div class="border">
          <div class="mb-3 data_display" user-pk="{{ object.creator.pk }}" data-uuid="{{ object.uuid }}">
            <div class="row">
              <div>
                <div class="card rounded-0 border-0 mb-3">
                  {% if object.file %}
                    <img style="width: 100%;" src="{{ object.file.url }}" alt="">
                  {% else %}
                    <svg class="svg_default" style="width:100%;height:auto" fill="currentColor" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></svg>
                  {% endif %}
                </div>
            </div>
            </div>
          </div>
        </div>
          <br>
          <div class="form-group">
            <textarea name="description" class="form-control bg-light-secondary border-0" rows="4" placeholder="Опишите причину удаления"></textarea>
          </div>
          <br>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-success float-right create_photo_delete_btn" data-uuid="{{ object.uuid }}">Удалить</button>
    </div>
  </div>
</div>
</form>
