{% load liked_user %}

{% if user.is_have_friends %}
<div class="card mb-3">
  <a href="{% url 'frends' pk=user.pk %}" class="ajax">
    <div class="card-body py-2">
        <div class="media">
            <div class="media-body">
              <h6 class="my-0 text-truncated">{{ user.profile.friends }} {{ user.profile.friends|rupluralize:"друг,друга,друзей" }}</h6>
              <p class="small">{{ user.get_online_friends_count }} онлайн</p>
            </div>
            {% for object in user.get_6_friends %}
              <figure style="width:50px;border-radius:50px;" class="avatar-50 staked">
                {% if object.s_avatar %}
                <img src="{{ object.s_avatar.url }}" style="border-radius:50px;" alt="image">
                {% else %}
                <img src="/static/images/no_img/user.jpg" style="border-radius:50px;" alt="image">
                {% endif %}
              </figure>
            {% endfor %}
        </div>
    </div>
  </a>
  </div>
  {% else %}
  <div class="card mb-3">
      <div class="card-header">
          <div class="media" style="display: flex;align-items: center;justify-content: center;">
              <a href="{% url 'all_users' %}" class="ajax">
                  <div class="media-body">
                      <h6 class="content-color-primary mb-0">Найдите друзей </h6>
                  </div>
              </a>
          </div>
      </div>
  </div>
  {% endif %}
