<div class="row overflow-x-auto no-gutters">
  <div class="col-12">
  <ul class="date-list" style="width:max-content">
    {% for object in user.get_my_all_post_lists %}
      {% if object.is_main_list %}
      <li class="date tab_active list is_main_post_list" list-pk="{{ object.pk }}">
        <div class="media">
          <div class="media-body">
              <h6 class="mb-0">Записи</h6>
          </div>
        </div>
      </li>
      {% else %}
        <li class="date pointer u_post_list_change list" list-pk="{{ object.pk }}">
          <div class="media">
            <div class="media-body">
              <h6 class="mb-0 list_name">{{ object.name }}</h6>
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
        <li class="date pointer u_add_post_list">
          <div class="media">
            <div class="media-body">
              <h6 class="mb-0">Создать список</h6>
            </div>
          </div>
        </li>
  </ul>
  </div>
</div>
