{% extends "base_mobile.html" %}
{% block title %}{{ community.name }} :: Фотографии{% endblock %}
{% block content %}

<div class="container mt-3 pk_saver" data-pk="{{ community.pk }}" data-uuid="{{ album.uuid }}">
  <div class="card-header p-0">
    <div class="row no-gutters">
      <div style="flex: 0 0 30%;max-width:30%;padding:5px;">
        <a class="btn btn-sm btn-warning warning-gradient ajax" href="{% url 'community_detail' pk=community.pk %}" style="width: -webkit-fill-available;">Назад</a>
      </div>
      <div style="flex: 0 0 35%;max-width:35%;padding:5px;">
        <span class="btn btn-sm btn-warning warning-gradient ml-2 c_album_add" style="width: -webkit-fill-available;">+ альбом</span>
      </div>
      <div style="flex: 0 0 35%;max-width:35%;padding:5px;">
        <form id="c_add_photos" method="post">
          {% csrf_token %}
          <input type="file" id="c_gallery_photo_add" name="file" style="display:none" multiple="multiple">
          <span class="btn btn-sm btn-warning warning-gradient ml-2" id="c_add_multi_photos" style="width: -webkit-fill-available;">+ фото</span>
        </form>
      </div>
    </div>
  </div>
{% include 'mobile/communities/gallery/admin_albums.html' %}

<div class="media mt-3" style="display:flex;align-items: flex-start;padding-left: 7px;padding-right: 7px;">
  <h5 class="mt-1" style="flex: 1;">Фото</h5>
  <span>{{ album.count_photo }}</span>
</div>

<div id="photo_load" data-link="/gallery/community/photos/{{ community.pk }}/"></div>

</div>

{% endblock %}
