{% extends "base_anon_mobile.html" %}
{% block title %}{{ community.name }} :: Фотографии{% endblock %}
{% block content %}

<div class="container mt-3 pk_saver" data-pk="{{ community.pk }}" data-uuid="{{ album.uuid }}">

{% include 'mobile/communities/gallery/albums.html' %}

<div class="media mt-3" style="display:flex;align-items: flex-start;padding-left: 7px;padding-right: 7px;">
  <h5 class="mt-1" style="flex: 1;">Фото</h5>
  <span>{{ album.count_photo }}</span>
</div>

<div id="photo_load" data-link="/gallery/community/photos/{{ community.pk }}/"></div>

</div>

{% endblock %}
