{% extends "base_mobile.html" %}
{% block title %}Подписчики {{ user.get_full_name_genitive }}{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/follows/{{ user.pk }}/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Подписчики {{ user.get_full_name_genitive }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf{{ user.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="container main-container mt-3" data-type="user_follows" data-pk="{{ user.pk }}">
    <div class="card-header p-0">
      <div class="row no-gutters">
        <div style="flex: 0 0 50%;max-width:50%;padding:5px;">
          {% include 'mobile/generic/user/back.html' %}
        </div>
        <div style="flex: 0 0 50%;max-width:50%;padding:5px;">
            <button class="btn btn-sm border dropdown-toggle menu_drop" style="width: -webkit-fill-available;">
                Подписчики {{ user.get_name_genitive }} ({{ user.count_followers }})
            </button>
            <div class="dropdown-menu" style="right: 15px;left: 15px; top: 60px;">
                <a class="dropdown-item ajax" href="{% url 'frends' pk=user.pk %}">Друзья {{ user.get_name_genitive }}</a>
              {% if user.get_online_connection_count %}
                <a class="dropdown-item ajax" href="{% url 'online_frends' pk=user.pk %}">Друзья онлайн {{ user.get_name_genitive }} ({{ user.get_online_connection_count }})</a>
              {% endif %}
              {% if common_users %}
                <a class="dropdown-item ajax" href="{% url 'all_common_users' pk=user.pk %}">Общие друзья</a>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
    <div class="card mb-2">
            <div class="card-body">
                <div class="input-group mb-3" style="display:flex">
                    <input type="text" class="form-control" placeholder="Поиск друзей">
                    <div class="input-group-append">
                        <button class="btn border" type="button">Искать</button>
                    </div>
                </div>
                <ul class="list-group is_paginate">
                    {% if object_list %}
                    {% for object in object_list %}
                    <li class="list-group-item border-top pag">
                        {% include 'mobile/generic/user/card_send_message.html' %}
                    </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <div class="load centered m-1 next_page_list" data-link="{% url 'follows' pk=user.pk %}?page={{ page_obj.next_page_number }}">
                        <img src="/static/images/preloader.gif">
                    </div>
                    {% endif %}

                    {% else %}
                    <div class="card centered">
                        <div class="card-body">
                            <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24">
                                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                                <path d="M0 0h24v24H0z" fill="none" /></svg>
                        </div>
                        <h6 style="margin: 20px;text-align: center;"> Подписчиков нет...</h6>
                    </div>
                    {% endif %}
                </ul>
            </div>
    </div>
</div>

{% endblock %}
