{% extends "base_mobile.html" %}
{% load liked_user %}
{% block title %}{{ community.name }} - Вы админ{% endblock %}
{% block content %}

{% if community.cover %}
<div class="container-fluid">
    <div class="align-items-center has-background-img" style="min-height: 150px">
        <figure class="background-img">
            <img src="{{ community.cover.url }}" alt="" class="" style="min-height:inherit;opacity: 1">
        </figure>
    </div>
</div>
{% endif %}

<div class="container mt-3">
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="mb-2">{{ community.name }}</h3>
                {% if community.status %}<p class="">{{ community.status }}</p>{% else %}<p class="">Добавьте статус сообщества</p>{% endif %}
                <br>

                {% if community.get_avatar %}
                  <img src="{{ community.get_avatar }}" alt="" style="width:100%" class="rounded box-shadow-large">
                {% else %}
                  <svg fill="currentColor" class="rounded box-shadow-large svg_default" style="width:100%;height: auto;" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"></path></svg>
                {% endif %}
                <br><br>
                <span style="display:flex;flex-wrap: wrap">
                  <span style="flex: 0 0 50%;max-width:50%;padding:5px;display: flex;justify-content: center;">
                    <a class="btn btn-sm btn-secondary ajax" href="{% url 'community_general_form' pk=community.pk %}">Управление</a>
                  </span>
                  <span style="flex: 0 0 50%;max-width:50%;padding:5px;display: flex;justify-content: center;">
                    <a class="btn btn-sm btn-secondary member_delete" style="cursor:pointer" data-id="{{ community.pk }}">Отписаться</a>
                  </span>
                </span>

                <ul class="list-group w-100 mt-3">
                    <li class="list-group-item">
                        <div class="media experience">
                            <div class="icon-circle icon-40 bg-light-secondary" style="margin-right:10px">
                              <svg class="svg_info svg_default" fill="currentColor" viewBox="0 0 24 24"><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm8 5H6v-2h8v2zm4-6H6V6h12v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                            </div>
                            <div class="media-body">
                              <h6 class="my-0 content-color-primary">Описание</h6>
                                <p>{% if community.description %}{{ community.description }}{% else %}Добавьте описание сообщества{% endif %}</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item px-0">
                        <div class="media experience">
                            <div class="icon-circle icon-40 bg-light-secondary" style="margin-right:10px">
                              <svg class="svg_info svg_default" fill="currentColor" viewBox="0 0 24 24"><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm8 5H6v-2h8v2zm4-6H6V6h12v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                            </div>
                            <div class="media-body">
                              <h6 class="my-0 content-color-primary">Правила</h6>
                                <p>{% if community.rules %}{{ community.rules }}{% else %}Добавьте правила сообщетсва{% endif %}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
          </div>
          <div class="card">
            <a href="{% url 'community_members' pk=community.pk %}" class="ajax">
              <div class="card-body py-2">
                  <div class="media">
                      <div class="media-body">
                        <h6 class="my-0 text-truncated">{{ community.count_members }} {{ community.count_members|rupluralize:"подписчик,подписчика,подписчиков" }}</h6>
                        <p class="small">0 друзей</p>
                      </div>
                      {% for object in membersheeps %}
                        <figure style="width:50px;border-radius:50px;" class="avatar-50 staked">
                          {% if object.get_avatar %}
                          <img src="{{ object.get_avatar }}" style="border-radius:50px;" alt="image">
                          {% else %}
                          <img src="/static/images/user.jpg" style="border-radius:50px;" alt="image">
                          {% endif %}
                        </figure>
                      {% endfor %}
                  </div>
              </div>
            </a>
          </div>

      {% include 'detail_sections/new_post.html' %}

      <div id="lenta_load"></div>

</div>

<script>

  var page = 2;
  var loaded = false;
  onscroll = function(){
    try{
    var items = document.getElementById("community_stream");

    if(items.getElementsByClassName('infinite-item').length === (page-1)*30){
    var height = document.documentElement.clientHeight-1;
    if(window.scrollY+1 >= document.documentElement.scrollHeight-height){
      if (loaded){return};
      var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
      link_3.open( 'GET', '/communities/list/' + '{{ community.pk }}/?page=' + page++, true );
      link_3.send();
      link_3.onreadystatechange = function () {
      if ( this.readyState == 4 && this.status == 200 ) {
        var elem = document.createElement('span');
        elem.innerHTML = link_3.responseText;
        if(elem.getElementsByClassName('infinite-item').length < 30){loaded = true;};
        items.append(elem);
        }
      }
    }}
  }catch{return}
  }

</script>
{% endblock %}
