{% extends "base_anon.html" %}
{% block title %}Видеоролики {{ user.get_full_name_genitive }}{% endblock %}
{% block meta %}
<meta property="og:url" content="https://xn--b1afgj5al1e.xn--p1acf/users/{{ user.pk }}/video/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Видеоролики {{ user.get_full_name_genitive }}" />
<meta property="og:image" content="https://xn--b1afgj5al1e.xn--p1acf/{{ user.get_b_avatar }}"/>
{% endblock %}
{% block content %}

<div class="mt-3 main-container pk_saver" data-pk="{{ user.pk }}">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Поиск видео">
            <div class="input-group-append">
              <button class="btn border" type="button">Искать</button>
            </div>
          </div>
          {% include 'desctop/users/video/main_list/lists.html' %}
          <span class="load_block">

          <div class="media mt-3 uuid_saver" data-uuid="{{ list.uuid }}" style="padding-left: 7px;">
            <h5 class="mt-1">
              {{ list.name }} ({{ list.count_items }})
              <span class="pointer badge badge-light-primary copy_link">Копировать ссылку</span>
            </h5>
          </div>
          <div class="card mb-2">
              <div class="card-body uuid_saver vk_saver">
                <div class="video_playlist" id="movies_container">
                  <div class="row movies_list_in_list is_paginate" data-list="/users/{{ user.pk }}/video">
                    {% if object_list %}
                      {% for object in object_list %}
                        {% include 'desctop/users/video/main_list/video.html' %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <div class="load centered m-1 next_page_list" data-link="{% url 'user_video' pk=user.pk %}?page={{ page_obj.next_page_number }}">
                          <img src="/static/images/preloader.gif">
                      </div>
                      {% endif %}

                      {% else %}
                      <div class="card items_empty centered">
                        <div class="card-body" style="margin-top: 10%;">
                        <svg class='svg_default thumb_big' fill='currentColor' viewBox='0 0 24 24'>
                          <path d="M18 3v2h-2V3H8v2H6V3H4v18h2v-2h2v2h8v-2h2v2h2V3h-2zM8 17H6v-2h2v2zm0-4H6v-2h2v2zm0-4H6V7h2v2zm10 8h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2V7h2v2z"/><path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                        </div>
                        <h6 style="margin: 20px;text-align: center;">В списке пока нет видео. <a href="" class="ajax underline">Перейдите в видео каталог</a> и выбирайте из сотен тысяч роликов</h6>
                      </div>
                      {% endif %}
                  </div>
                </div>
              </div>
          </div>
      </span>
</div>


{% endblock %}
