{% load staticfiles thumbnail %}
{% if all_tracks %}
<script type="text/javascript">
$(document).ready(function(){
 new jPlayerPlaylist({
   jPlayer: "#jquery_jplayer_1",
   cssSelectorAncestor: "#jp_container_1"
 }, [
   {
     title:"Cro Magnon Man",
     mp3:"http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3",
     oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
   },
   {
     title:"Your Face",
     mp3:"http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
     oga:"http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg"
   },
   {
     title:"Cyber Sonnet",
     mp3:"http://www.jplayer.org/audio/mp3/TSP-07-Cybersonnet.mp3",
     oga:"http://www.jplayer.org/audio/ogg/TSP-07-Cybersonnet.ogg"
   },
   {
     title:"Tempered Song",
     mp3:"http://www.jplayer.org/audio/mp3/Miaow-01-Tempered-song.mp3",
     oga:"http://www.jplayer.org/audio/ogg/Miaow-01-Tempered-song.ogg"
   },
   {
     title:"Hidden",
     mp3:"http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3",
     oga:"http://www.jplayer.org/audio/ogg/Miaow-02-Hidden.ogg"
   },
   {
     title:"Lentement",
     free:true,
     mp3:"http://www.jplayer.org/audio/mp3/Miaow-03-Lentement.mp3",
     oga:"http://www.jplayer.org/audio/ogg/Miaow-03-Lentement.ogg"
   },
   {
     title:"Lismore",
     mp3:"http://www.jplayer.org/audio/mp3/Miaow-04-Lismore.mp3",
     oga:"http://www.jplayer.org/audio/ogg/Miaow-04-Lismore.ogg"
   },
   {
     title:"The Separation",
     mp3:"http://www.jplayer.org/audio/mp3/Miaow-05-The-separation.mp3",
     oga:"http://www.jplayer.org/audio/ogg/Miaow-05-The-separation.ogg"
   },
   {
     title:"Beside Me",
     mp3:"http://www.jplayer.org/audio/mp3/Miaow-06-Beside-me.mp3",
     oga:"http://www.jplayer.org/audio/ogg/Miaow-06-Beside-me.ogg"
   },
   {
     title:"Bubble",
     free:true,
     mp3:"http://www.jplayer.org/audio/mp3/Miaow-07-Bubble.mp3",
     oga:"http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
   },
   {
     title:"Stirring of a Fool",
     mp3:"http://www.jplayer.org/audio/mp3/Miaow-08-Stirring-of-a-fool.mp3",
     oga:"http://www.jplayer.org/audio/ogg/Miaow-08-Stirring-of-a-fool.ogg"
   },
   {
     title:"Partir",
     free: true,
     mp3:"http://www.jplayer.org/audio/mp3/Miaow-09-Partir.mp3",
     oga:"http://www.jplayer.org/audio/ogg/Miaow-09-Partir.ogg"
   },
   {
     title:"Thin Ice",
     mp3:"http://www.jplayer.org/audio/mp3/Miaow-10-Thin-ice.mp3",
     oga:"http://www.jplayer.org/audio/ogg/Miaow-10-Thin-ice.ogg"
   }
 ], {
   swfPath: "{% static 'jquery.jplayer.swf' %}",
   supplied: "oga, mp3",
   wmode: "window",
   useStateClassSkin: true,
   autoBlur: false,
   smoothPlayBar: true,
   keyEnabled: true
 });
});
</script>

<div id="jquery_jplayer_1" class="jp-jplayer"></div>
        <div id="jp_container_1" class="jp-audio">

            <div class="jp-type-playlist">
                <div class="jp-gui jp-interface">
                    <ul class="jp-controls">
                        <li>
                            <label id="name-of-the-song-that-plays"></label>
                        </li>
                        <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                        <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                        <li><a href="javascript:;" class="jp-previous" tabindex="1">previous</a></li>
                        <li><a href="javascript:;" class="jp-next" tabindex="1">next</a></li>
                        <div class="clear"></div>
                    </ul>
                    <!-- Прогресс бар -->
                    <div class="jp-progress">
                        <div class="jp-seek-bar">
                            <div class="jp-play-bar"></div>
                        </div>
                    </div>
                    <!-- Регулятор громкости -->
                    <div class="jp-volume-bar">
                        <div class="jp-volume-bar-value"></div>
                    </div>
                    <!-- Остаток времени -->
                    <div class="jp-time-holder">
                        <div class="jp-current-time"></div>
                    </div>

                    <div class="clear"></div>

                    <!-- Кнопки повторения и перемешивания плейлиста -->
                    <ul class="jp-toggles">
                        <li>
                            <a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle">shuffle</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off">shuffle off</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <!-- Будущий плейлист -->
                <div class="jp-playlist">
                    <ul>
                      {% for object in all_tracks %}
                      <li class="list-group-item infinite-item">
                          <div class="media">
                              <figure>
                                {% if object.artwork_url %}
                                  <img style="width:30px;heigth:auto" src="{{ object.artwork_url }}" />
                                  {% else %}
                                    <img style="width:30px;heigth:30px" src="{% static 'images/icons/person-24px.svg' %}" />
                                  {% endif %}
                              </figure>
                              <div class="media-body">
                                  <a href="" class="ajax">
                                      <h6 class="my-0 mt-1">{{ object.title }}</h6>
                                  </a>
                                  <a href="" class="small">{{ object.genre }} - {{ object.duration }}</a>
                              </div>
                          </div>
                      </li>
                      {% endfor %}
                    </ul>
                </div>
            </div>
        </div>



<ul class="all-music-container list-group">
    {% for object in all_tracks %}
    <li class="list-group-item infinite-item">
        <div class="media">
            <figure>
              {% if object.artwork_url %}
                <img style="width:30px;heigth:auto" src="{{ object.artwork_url }}" />
                {% else %}
                  <img style="width:30px;heigth:30px" src="{% static 'images/icons/person-24px.svg' %}" />
                {% endif %}
            </figure>
            <div class="media-body">
                <a href="" class="ajax">
                    <h6 class="my-0 mt-1">{{ object.title }}</h6>
                </a>
                <a href="" class="small">{{ object.genre }} - {{ object.duration }}</a>
            </div>
        </div>
    </li>
    {% endfor %}
    <div class="music-load col-12 col-md-12">
        {% if all_tracks.has_next %}
        <a style="display:flex;justify-content:center;" class="infinite-more-link" href="{% url 'all_music_list' %}?page={{ all_tracks.next_page_number }}">
            <img style="width: 30px;" src="{% static 'images/loading.gif' %}">
        </a>
        {% endif %}

    </div>
</ul>
{% else %}
<div class="card mb-4" style="align-items: center;justify-content:center;">
  <div class="card-body">
  <svg fill="currentColor" class="thumb_big svg_default" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
  </div>
  <h6 style="margin-bottom: 20px;"> Композиций нет...</h6>
</div>
{% endif %}

<script>
  var all_music_infinite = new Waypoint.Infinite({element: $('.all-music-container')[0], onBeforePageLoad: function() { $('.music-load').show(); }, onAfterPageLoad: function($items) { $('.music-load').hide(); }});

  //<![CDATA[
$(document).ready(function(){

    var cssSelector = {
        jPlayer: "#jquery_jplayer_1",
        cssSelectorAncestor: "#jp_container_1"
    };

    var playlist = [
        {
            author:"TSP",
            title:"Cro Magnon Man",
            discription: "Текст песни / описание",
            mp3:"http://www.jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3",
            oga:"http://www.jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
        },
        {
            author:"TSP",
            title:"Your Face",
            discription: "Текст песни / описание",
            mp3:"http://www.jplayer.org/audio/mp3/TSP-05-Your_face.mp3",
            oga:"http://www.jplayer.org/audio/ogg/TSP-05-Your_face.ogg"
        },
        {
            author:"TSP",
            title:"Cyber Sonnet",
            discription: "Текст песни / описание",
            mp3:"http://www.jplayer.org/audio/mp3/TSP-07-Cybersonnet.mp3",
            oga:"http://www.jplayer.org/audio/ogg/TSP-07-Cybersonnet.ogg"
        },
        {
            author:"Miaow",
            title:"Tempered Song",
            discription: "Текст песни / описание",
            mp3:"http://www.jplayer.org/audio/mp3/Miaow-01-Tempered-song.mp3",
            oga:"http://www.jplayer.org/audio/ogg/Miaow-01-Tempered-song.ogg"
        },
        {
            author:"Miaow",
            title:"Hidden",
            discription: "Текст песни / описание",
            mp3:"http://www.jplayer.org/audio/mp3/Miaow-02-Hidden.mp3",
            oga:"http://www.jplayer.org/audio/ogg/Miaow-02-Hidden.ogg"
        },
        {
            author:"Miaow",
            title:"Lentement",
            free:true,
            discription: "Текст песни / описание",
            mp3:"http://www.jplayer.org/audio/mp3/Miaow-03-Lentement.mp3",
            oga:"http://www.jplayer.org/audio/ogg/Miaow-03-Lentement.ogg"
        },
        {
            author:"Miaow",
            title:"Lismore",
            discription: "Текст песни / описание",
            mp3:"http://www.jplayer.org/audio/mp3/Miaow-04-Lismore.mp3",
            oga:"http://www.jplayer.org/audio/ogg/Miaow-04-Lismore.ogg"
        },
        {
            author:"Miaow",
            title:"The Separation",
            discription: "Текст песни / описание",
            mp3:"http://www.jplayer.org/audio/mp3/Miaow-05-The-separation.mp3",
            oga:"http://www.jplayer.org/audio/ogg/Miaow-05-The-separation.ogg"
        },
        {
            author:"Miaow",
            title:"Beside Me",
            discription: "Текст песни / описание",
            mp3:"http://www.jplayer.org/audio/mp3/Miaow-06-Beside-me.mp3",
            oga:"http://www.jplayer.org/audio/ogg/Miaow-06-Beside-me.ogg"
        },
        {
            author:"Miaow",
            title:"Bubble",
            free:true,
            discription: "Текст песни / описание",
            mp3:"http://www.jplayer.org/audio/mp3/Miaow-07-Bubble.mp3",
            oga:"http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
        },
        {
            author:"Miaow",
            title:"Stirring of a Fool",
            discription: "Текст песни / описание",
            mp3:"http://www.jplayer.org/audio/mp3/Miaow-08-Stirring-of-a-fool.mp3",
            oga:"http://www.jplayer.org/audio/ogg/Miaow-08-Stirring-of-a-fool.ogg"
        },
        {
            author:"Miaow",
            title:"Partir",
            free: true,
            discription: "Текст песни / описание",
            mp3:"http://www.jplayer.org/audio/mp3/Miaow-09-Partir.mp3",
            oga:"http://www.jplayer.org/audio/ogg/Miaow-09-Partir.ogg"
        },
        {
            author:"Miaow",
            title:"Thin Ice",
            discription: "Текст песни / описание",
            mp3:"http://www.jplayer.org/audio/mp3/Miaow-10-Thin-ice.mp3",
            oga:"http://www.jplayer.org/audio/ogg/Miaow-10-Thin-ice.ogg"
        }
    ];

    var options = {
        swfPath: "js",
        supplied: "oga, mp3",
        wmode: "window",
        smoothPlayBar: false,
        keyEnabled: true
    };

    new jPlayerPlaylist(cssSelector, playlist, options);
});
//]]>
</script>
