{% load staticfiles thumbnail %}
{% if all_tracks %}

<div id="jquery_jplayer_{{ player.id }}" class="jp-jplayer"></div>
<div id="player_container_{{ player.id }}" class="cmsplayer">

  <ul id="player_controls_{{ player.id }}" class="controls">
    <li id="player_play_{{ player.id }}" class="play">play</li>
    <li id="player_pause_{{ player.id }}" class="pause">pause</li>
    <li id="player_stop_{{ player.id }}" class="stop">stop</li>
    <li id="player_volume_min_{{ player.id }}" class="volume-min">min volume</li>
    <li id="player_volume_max_{{ player.id }}" class="volume-max">max volume</li>
    <li id="ctrl_prev_{{ player.id }}" class="prev">previous</li>
    <li id="ctrl_next_{{ player.id }}" class="next">next</li>
  </ul>

  <div id="play_time_{{ player.id }}" class="playtime"></div>
  <div id="total_time_{{ player.id }}" class="totaltime"></div>

  <div id="player_progress_{{ player.id }}" class="progress">
    <div id="player_progress_load_bar_{{ player.id }}" class="loadbar">
      <div id="player_progress_play_bar_{{ player.id }}" class="playbar"></div>
    </div>
  </div>

  <div id="player_volume_bar_{{ player.id }}" class="volumebar">
    <div id="player_volume_bar_value_{{ player.id }}" class="volumebarvalue"></div>
  </div>
</div>
<div id="playlist_list_{{ player.id }}" class="cmsplaylist">
  <ul>
  {% for object in player.playlist %}
    {% include "music/track.html" %}
  {% endfor %}
  </ul>
</div>

{% else %}
<div class="card mb-4" style="align-items: center;justify-content:center;">
  <div class="card-body">
  <svg fill="currentColor" class="thumb_big svg_default" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
  </div>
  <h6 style="margin-bottom: 20px;"> Композиций нет...</h6>
</div>
{% endif %}

<script src="{% static 'scripts/cmsplayer.js' %}" type="text/javascript"></script>

<script>
  var all_music_infinite = new Waypoint.Infinite({element: $('.all-music-container')[0], onBeforePageLoad: function() { $('.music-load').show(); }, onAfterPageLoad: function($items) { $('.music-load').hide(); }});

  $(document).ready(function(){
      var player = $('#jquery_jplayer_{{ player.id }}');
    player.cmsPlayer(
      {
          playlist: {{ player.get_json_playlist }},
          autoplay: {{ player.get_json_autoplay }},
          playerid: "{{ player.id }}",
          autonext: true,
        cssPrefix: 'jqjp_{{ player.id }}',
        swfPath: 'http://' + window.location.host + {{ player.get_base_path }},
        customCssIds: true
      }
    );
  });
</script>
