{% extends "base.html" %}
{% load staticfiles thumbnail %}
{% block title %}Поиск треков по алфавиту{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-8">
        <br><br><br>
        <div class="card mb-2">
            <div class="card-header">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-1">Поиск треков по алфавиту</h5>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="card-body px-0 py-0">
              {% for object in simbols %}
                {{ object.name }}
              {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <br><br><br>

    </div>
</div>

{% endblock %}
