{% load staticfiles thumbnail %}

{% if object_list %}
  <div class="stream-update">
    <a href=""><span class="new-posts"></span> Загрузить новые записи</a>
  </div>
  <br>
  <span class="stream" id="stream">

    {% for object in object_list %}

      {% if object.community %}

        {% if object.article %}
          {% include 'item_community/article.html' with article=article  %}
        {% endif %}

        {% if object.post %}
          {% include 'item_community/post.html' with post=post  %}
        {% endif %}

      {% else %}
        {% if object.article %}
          {% include 'item_user/article.html' with article=article  %}
        {% endif %}

        {% if object.post %}
          {% include 'item_user/post.html' with post=post  %}
        {% endif %}
      {% endif %}

    {% endfor %}
  </span>

{% else %}
<div class="card mb-4 post_empty" style="align-items: center;justify-content:center;">
  <div class="card-body">
  <svg fill="currentColor" class="thumb_big svg_default" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M22 13h-8v-2h8v2zm0-6h-8v2h8V7zm-8 10h8v-2h-8v2zm-2-8v6c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2zm-1.5 6l-2.25-3-1.75 2.26-1.25-1.51L3.5 15h7z"/></svg>
  </div>
  <h6 style="margin-bottom: 20px;"> Пока записей нет...</h6>
</div>
{% endif %}

<a style="display:flex;justify-content:center;">
  <img src="{% static 'images/loading.gif' %}">
</a>

{% if page_obj.has_next %}
  <script>
    var loaded = false;
    var stream = document.getElementById("stream");

      onscroll = function(){
        if(!loaded && window.scrollY+1 >= document.documentElement.scrollHeight-document.documentElement.clientHeight){
          console.log("конец прокрутки");

            var link_3 = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject( 'Microsoft.XMLHTTP' );
            link_3.open( 'GET', '{% url "news_list" %}?page={{ page_obj.next_page_number }}', true );
            link_3.onreadystatechange = function () {
            if ( link_3.readyState == 4 ) {
              var elem = document.createElement('span');
              var stream_load = document.querySelector(".stream");
              elem.innerHTML = link_3.responseText;
              var load_stream = elem.querySelector(".stream");
              var html = load_stream.innerHTML
              stream_load.append(html);
            }
          };
          link_3.send( null );
          loaded = true;
        }
    }
  </script>
{% endif %}
