
{% if object_list %}

  <span class="stream" id="stream">

    {% for object in object_list %}

      {% if object.community %}

        {% if object.article %}
          {% if object.is_repost %} Сообщество {{ object.community.name }} поделилось статьей {% endif %}
          {% if object.community in request.user.get_staffed_communities %}
            {% include 'item_community/moderator_article.html' with article=article %}
          {% else %}
            {% include 'item_community/article.html' with article=article %}
          {% endif %}
        {% endif %}
        {% if object.post %}
          {% if object.is_repost %} Сообщество {{ object.community.name }} поделилось записью {% endif %}
          {% if object.community in request.user.get_staffed_communities %}
            {% include 'item_community/moderator_post.html' with post=post %}
          {% else %}
            {% include 'item_community/post.html' with post=post %}
          {% endif %}
        {% endif %}

      {% else %}

        {% if object.article %}
          {% if object.is_repost %} {{ object.creator }} поделился статьей {% endif %}
          {% if object.creator == request.user %}
            {% include 'item_user/my_article.html' with article=article %}
          {% else %}
            {% include 'item_user/article.html' with article=article %}
          {% endif %}
        {% endif %}
        {% if object.post %}
          {% if object.is_repost %} {{ object.creator }} поделился записью {% endif %}
          {% if object.creator == request.user %}
            {% include 'item_user/my_post.html' with post=post %}
          {% else %}
            {% include 'item_user/post.html' with post=post %}
          {% endif %}
        {% endif %}

      {% endif %}

    {% endfor %}
  </span>

{% else %}
<div class="card mb-4 post_empty centered">
  <div class="card-body">
  <svg fill="currentColor" class="thumb_big svg_default" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M22 13h-8v-2h8v2zm0-6h-8v2h8V7zm-8 10h8v-2h-8v2zm-2-8v6c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V9c0-1.1.9-2 2-2h6c1.1 0 2 .9 2 2zm-1.5 6l-2.25-3-1.75 2.26-1.25-1.51L3.5 15h7z"/></svg>
  </div>
  <h6 style="margin: 20px;text-align: center;"> Пока новостей нет. Найдите друзей и вступайте в сообщества, и их записи будут отображаться здесь.</h6>
</div>
{% endif %}
