{% extends "base.html" %}
{% block title %}Уведомления аудиозаписей - {{ community.name }}{% endblock %}
{% block content %}

<div class="mt-4 main-container pk_saver" data-pk="{{ community.pk }}" data-type="community_manage_notify_music">
    <div class="row">
        <div class="col-md-8 order-1">
            <form id="community_notify_music_form" class="contact-form">
                {% csrf_token %}
                <div class="card mb-3">
                    <div class="card-header border-bottom">
                        <h5 class="content-color-primary mb-0">Уведомления аудиозаписей -
                          {% include 'desctop/generic/community/community.html' %}
                        </h5>
                    </div>
                    <div class="card-body">
                      <p class="content-color-primary page-sub-title-small mt-2" style="line-height: 18px;">
                          Репосты аудиозаписей
                          <input type="checkbox" {% if notify_music.repost %} checked {% endif %} name="repost" id="id_repost" class="switch switch-sm">
                          <label style="margin-right:12px;bottom: 5px;" for="id_repost" class="bg_success mb-2 border float-right"></label>
                      </p>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="community_notify_music_btn" class="mb-2 btn btn-sm btn-success float-right">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 order-2 left_menu">
            {% include 'desctop/communities/manage/menu.html' %}
        </div>
    </div>
</div>

{% endblock %}
