<form class="mt-4" style="min-height:400px">
  {% csrf_token %}
    <input type="hidden" name="_type" value="{{ type }}">
    <input type="hidden" name="_subtype" value="{{ subtype }}">
    <div class="card-header">
      <h4>Создание жалобы</h4>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label>Выберите причину жалобы</label>
        <select class="form-control" name="type">
            <option value="P">Порнография</option>
            <option value="NC">Для взрослых</option>
            <option value="B">Оскорбительное содержание</option>
            <option value="F">Мошенничество</option>
            <option value="D">Наркотики</option>
            <option value="AS">Продажа оружия</option>
            <option value="V">Насилие</option>
            <option value="PE">Призыв к травле</option>
            <option value="SU">Призыв к суициду</option>
            <option value="PA">Жестокое обращение c животными</option>
            <option value="MI">Введение в заблуждение</option>
            <option value="EX">Экстремизм</option>
            <option value="RH">Риторика ненависти</option>
        </select>
      </div>
      <div style="display:inline-block" contenteditable="true" placeholder="Добавить комментарий" class="form-control smile_supported"></div>
    </div>
    <div class="card-footer">
        <button class="btn border item_fullscreen_hide">Отмена</button>
        <button type="button" class="btn custom_color border float-right" id="create_claim_btn">Пожаловаться</button>
    </div>
</form>
