
<div class="card" style="display: block;" data-id="{{ object.uuid }}">

  {% include 'post_community/admin_card_header.html' %}

    <div class="card-body">
        <h2 class="">{{ object.title }}</h2>
        <br><br>
        <figure class="">
            {% if object.g_image %}
            <img src="{{ object.g_image.url }}" alt="img">
            {% else %}
            <img src="/static/images/no-image.jpg" alt="img" />
            {% endif %}
        </figure>
        <div class="container">
            <br><br>
            {{ object.content|safe }}
        </div>
    </div>

</div>
