
<div class="card" style="display: block;" item-id="{{ object.uuid }}">

  {% include 'item_community/card_header.html' %}

    <div class="card-body">
        <h2 class="">{{ object.article.title }}</h2>
        <br><br>
        <figure class="">
            {% if object.article.g_image %}
            <img src="{{ object.article.g_image.url }}" alt="img">
            {% else %}
            <img src="/static/images/no-image.jpg" alt="img" />
            {% endif %}
        </figure>
        <div class="container">
            <br><br>
            {{ object.article.content|safe }}

        </div>
    </div>

    {% include 'item_community/info.html' %}
</div>
